<div *ngIf="timerValue"
    wlc-timer
    class="{{$class}}__timer"
    [value]="timerValue"
    (timerEnds)="timerEnds()">
</div>

<ng-container *ngIf="!timerValue">
    <button
        *ngIf="cancelable; else noCancel"
        wlc-button
        [attr.type]="'button'"
        themeMod="secondary"
        text="Cancel"
        [type]="pending ? 'pending' : 'default'"
        [wlcElement]="'button_cancel'"
        (click)="cancel()">
    </button>
</ng-container>

<ng-template #noCancel>
    <div class="no-cancel">
        -
    </div>
</ng-template>
