<div class="{{$class}}__wrapper" *ngIf="slides.length">
    <ng-container *ngIf="ready && slides.length">
        <div class="{{$class}}__slider"
            wlc-slider
            [slides]="slides"
            [inlineParams]="$params.sliderParams">
        </div>
    </ng-container>
</div>

<div *ngIf="slides.length && !$params.hideNavigation" slot-container-end >
    <div *ngIf="$params.theme == 'default-banner'" class="container swiper-button-container" >
        <button wlc-icon
                class="wlc-swiper-button-prev"
                iconPath="/wlc/icons/arrow.svg">
        </button>
        <button wlc-icon
                class="wlc-swiper-button-next"
                iconPath="/wlc/icons/arrow.svg">
        </button>
    </div>
</div>
