.wlc-icon:host {
    display: inline-block;
    line-height: 0;

    * {
        display: inline-block;
        line-height: 0;
    }


    svg {
        fill: inherit;
    }
}

.wlc-icon-spin {
    animation: loadingCircle 1s linear infinite;
}

@keyframes loadingCircle {

    100% {
        transform: rotate(360deg);
    }
}
