@if (ready$ | async) {

    @if (questProgressParams) {
        <div class="{{$class}}__content">
            <div wlc-quest-progress
                class="{{$class}}__progress"
                [inlineParams]="questProgressParams">
            </div>

            @if (tasksFromActiveQuest$ | async; as tasks) {
                <div class="{{$class}}__list"
                    [@tableAppearance]="tasks">
                    @for (task of tasks; track task.id) {
                        <div wlc-quests-task-item
                            [task]="task">
                        </div>
                    }
                </div>
            }
        </div>
    } @else {
        <div wlc-wrapper [inlineParams]="emptyConfig"></div>
    }

} @else {
    <div wlc-loader></div>
}
