@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

@import '../utils/vars';

.app-promotions-state {

    .wlc-sections__content--theme-default {

        .wlc-title.wlc-title--promotions[wlc-title],
        .wlc-title.wlc-title--profile[wlc-title] {
            margin: ef.get-value($promotionsThemeDefault, 'listMargin');
            text-align: ef.get-value($promotionsThemeDefault, 'titleAlign');

            div.wlc-title__main {
                font-size: ef.get-value($promotionsThemeDefault, 'titleFontSize');
            }
        }

        .wlc-bonuses-list {
            @include em.get-mq-map('margin', $promotionsThemeDefault, 'listMargin');
        }

        .wlc-btn--theme-mod-promotions {
            margin: ef.get-value($promotionsThemeDefault, 'btnMargin');
        }
    }
}

.app-tournaments-state {

    .wlc-sections__tournaments--theme-default {

        .wlc-title.wlc-title--tournaments[wlc-title] {
            @include em.get-mq-map('margin', $promotionsThemeDefault, 'listMargin');
            text-align: ef.get-value($promotionsThemeDefault, 'titleAlign');

            div.wlc-title__main {
                font-size: ef.get-value($promotionsThemeDefault, 'titleFontSize');
            }
        }
    }
}
