<ng-container *ngIf="inited && !dumpy; else preloader">
    <ng-container [ngSwitch]="$params.type">
        <ng-container [ngTemplateOutlet]="typeVertical" *ngSwitchCase="'vertical'"></ng-container>
        <ng-container [ngTemplateOutlet]="typeModal" *ngSwitchCase="'modal'"></ng-container>
        <ng-container [ngTemplateOutlet]="typePromoWidget" *ngSwitchCase="'promo-widget'"></ng-container>
        <ng-container [ngTemplateOutlet]="typeDefault" *ngSwitchDefault></ng-container>
    </ng-container>
</ng-container>

<ng-template #typePromoWidget>
    <div *ngIf="!initFailed" class="{{$class}}__content">
        <div class="{{$class}}__img">
            <img [src]="game.getImage(640)" loading="lazy">
        </div>
        <div *ngIf="promoWidgetTitle" class="{{$class}}__title">
            {{promoWidgetTitle | translate}}
        </div>
        <div class="{{$class}}__buttons">
            <button wlc-button
                    wlcElement="button_game-play"
                    [icon]="'wlc-game-play'"
                    [text]="'Play'"
                    (click)="startGame(false, false, $event)"
                    class="wlc-btn wlc-btn--play"
            ></button>
            <button
                    *ngIf="game.hasDemo"
                    wlc-button
                    wlcElement="button_game-demo"
                    [text]="'Demo'"
                    (click)="startGame(true, false, $event)"
                    class="wlc-btn wlc-btn--demo wlc-btn--theme-mod-secondary"
            ></button>
        </div>
    </div>
    <div *ngIf="initFailed" class="{{$class}}__error">
        {{'Game load error' | translate}}
    </div>
</ng-template>

<ng-template #typeModal>
    <picture class="{{$class}}__img"
            data-wlc-element="block_game-thumb-img">
        <img [src]="game.image" loading="lazy">
    </picture>
    <div *ngIf="isAuth"
         wlc-icon
         class="{{$class}}__icon"
         iconName="favourite"
         [wlcElement]="'button_favourite'"
         [ngClass]="{'active': game.isFavourite}"
         (click)="toggleFavourites(game)">
    </div>
</ng-template>

<ng-template #typeVertical>
    <div class="{{$class}}-media"
         (click)="startGame(false, true, $event)"
    >
        <ng-container *ngIf="!hasVideo; else videoTemplate">
            <picture class="{{$class}}-media__bg"
                     data-wlc-element="block_game-thumb-media">

                <ng-container *ngFor="let image of $any(getVerticalContent('background', ['avif', 'webp']))">
                    <source [srcset]="image.src" [type]="image.type">
                </ng-container>

                <img wlc-fallback [src]="getVerticalContent('background', 'jpg')" loading="lazy">
            </picture>

            <picture class="{{$class}}-media__fg"
                     data-wlc-element="block_game-thumb-media">

                <ng-container *ngFor="let image of $any(getVerticalContent('foreground', ['avif', 'webp']))">
                    <source [srcset]="image.src" [type]="image.type">
                </ng-container>

                <img wlc-fallback [src]="getVerticalContent('foreground', 'png')" loading="lazy">
            </picture>

            <picture class="{{$class}}-media__logo"
                     data-wlc-element="block_game-thumb-media">

                <ng-container *ngFor="let image of $any(getVerticalContent('logo', ['avif', 'webp']))">
                    <source [srcset]="image.src" [type]="image.type">
                </ng-container>

                <img wlc-fallback [src]="getVerticalContent('logo', 'png')" loading="lazy">
            </picture>
        </ng-container>

        <ng-template #videoTemplate>
            <video autoplay playsinline muted loop class="{{$class}}-media__video" #video>

                <ng-container *ngFor="let video of $any(getVerticalContent('video', ['av1.mp4', 'hevc.mp4', 'h264.mp4']))">
                    <source [src]="video.src" [type]="video.type">
                </ng-container>
            </video>
        </ng-template>
    </div>
    <div class="{{$class}}__control">
        <div class="{{$class}}__buttons" [ngClass]="{'no-demo': !game.hasDemo}">
            <button wlc-button
                    class="wlc-btn wlc-btn--play"
                    wlcElement="button_game-play"
                    [icon]="'wlc-game-play'"
                    [text]="'Play'"
                    [theme]="gameThumbSettings.theme"
                    [themeMod]="gameThumbSettings.themeMode"
                    (click)="startGame(false, false, $event)"
            ></button>
            <button *ngIf="game.hasDemo"
                    wlc-button
                    class="wlc-btn wlc-btn--demo"
                    wlcElement="button_game-demo"
                    [text]="'Demo'"
                    [theme]="gameThumbSettings.demoTheme"
                    [themeMod]="gameThumbSettings.demoThemeMode"
                    (click)="startGame(true, false, $event)"
            ></button>
        </div>
    </div>
</ng-template>

<ng-template #typeDefault>
    <picture class="{{$class}}__img"
                data-wlc-element="block_game-thumb-img"
                (click)="startGame(false, true, $event)">
        <img [src]="game.image" loading="lazy">
    </picture>
    <div class="{{$class}}__desc">
        <div class="{{$class}}__title">
            <span *ngIf="isAuth"
                    wlc-icon
                    class="{{$class}}__icon"
                    [wlcElement]="'button_favourite'"
                    iconName="favourite"
                    [ngClass]="{'active': game.isFavourite}"
                    (click)="toggleFavourites(game)">
            </span>
            <span class="{{$class}}__name" data-wlc-element="block_game-thumb-name">{{game.name.en | truncate: 25}}</span>
            <span *ngIf="$params?.common?.useMerchantName" class="{{$class}}__merchant" data-wlc-element="block_game-thumb-alias">
                {{game.merchantAlias}}
            </span>
        </div>
        <div class="{{$class}}__buttons" [ngClass]="{'no-demo': !game.hasDemo}">
            <button wlc-button
                    class="wlc-btn wlc-btn--play"
                    wlcElement="button_game-play"
                    [icon]="'wlc-game-play'"
                    [text]="'Play'"
                    [theme]="gameThumbSettings.theme"
                    [themeMod]="gameThumbSettings.themeMode"
                    (click)="startGame(false, false, $event)"
            ></button>
            <button
                    *ngIf="game.hasDemo"
                    wlc-button
                    class="wlc-btn wlc-btn--demo"
                    wlcElement="button_game-demo"
                    [text]="'Demo'"
                    [theme]="gameThumbSettings.theme"
                    [themeMod]="gameThumbSettings.demoThemeMode"
                    (click)="startGame(true, false, $event)"
            ></button>
        </div>
    </div>
</ng-template>

<ng-template #preloader>
    <!-- TODO: do special preloader -->
    <div class="{{$class}}__loader">
        <div wlc-loader></div>
    </div>
</ng-template>
