<div class="wlc-game-thumb">
    <picture class="wlc-game-thumb__img">
        <img [src]="game.image" loading="lazy" alt="">
    </picture>
    <div class="wlc-game-thumb__desc">
        <div class="wlc-game-thumb__head">
            <span class="wlc-game-thumb__icon"
                  wlc-icon
                  iconName="favourite"
                  *ngIf="isAuth"
                  [ngClass]="{'active': game.isFavourite}"
                  (click)="toggleFavourites(game)">
            </span>
            <span class="wlc-game-thumb__name">{{game.name.en}}</span>
        </div>
        <div class="wlc-game-thumb__buttons">
            <button wlc-button
                    [text]="'Play'"
                    [theme]="gameThumbSettings?.buttons?.theme"
                    [themeMod]="gameThumbSettings?.buttons?.themeMode"
                    (click)="startGame(game, false, $event)"
            ></button>
            <button
                wlc-button
                [text]="'Demo'"
                [theme]="gameThumbSettings?.buttons?.theme"
                [themeMod]="gameThumbSettings?.buttons?.demoThemeMode"
                (click)="startGame(game, true, $event)"
            ></button>
        </div>
    </div>
</div>
