::ng-deep .wlc-payment-list--theme-crypto-list,
.wlc-payment-list--theme-crypto-list:host {

    .wlc-payment-list {

        &__ul {
            @include bm.get-mq-map('gap', $themeCryptoList, 'listGridGap');
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: var(--wlc-crypto-list-columns, #{ef.get-value($themeCryptoList, 'listGridTemplateColumns')});
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        &__item {
            position: relative;

            &.disabled {
                order: 1000;
            }
        }

        &__button {
            display: grid;
            grid-template-areas: ef.get-value($themeCryptoList, 'itemGridTemplateAreas');
            grid-template-columns: ef.get-value($themeCryptoList, 'itemGridTemplateColumn');
            gap: ef.get-value($themeCryptoList, 'itemGridGap');
            align-items: center;
            width: 100%;
            height: 100%;
            padding: ef.get-value($themeCryptoList, 'itemPadding');
            color: ef.get-value($themeCryptoList, 'itemSvgColor');
            text-align: left;
            border: ef.get-value($themeCryptoList, 'itemBorder');
            background: ef.get-value($themeCryptoList, 'itemBg');
            border-radius: ef.get-value($themeCryptoList, 'itemBorderRadius');
            cursor: pointer;
            transition: ef.get-value($themeCryptoList, 'itemTransition');

            &:focus {
                outline: none;
            }

            &.active {
                border-color: ef.get-value($themeCryptoList, 'itemBorderColorActive');
                color: ef.get-value($themeCryptoList, 'itemSvgColorActive');
                box-shadow: ef.get-value($themeCryptoList, 'itemBoxShadowActive');
            }

            &.disabled {
                cursor: not-allowed;
                opacity: ef.get-value($themeCryptoList, 'itemOpacityDisabled');
                pointer-events: none;
            }

            &.show-limit {
                grid-template-areas: ef.get-value($themeCryptoList, 'itemGridTemplateAreasLimit');
            }

            .wlc-sa-amount-limit {
                grid-area: limit;

                ::ng-deep {

                    .wlc-amount-limit {
                        @include text.get-text-style(
                            ef.get-value($themeCryptoList, 'itemLimitTextStyle'),
                            ef.get-value($themeCryptoList, 'itemLimitTextColor'),
                        );
                        margin: 0;
                        line-height: 1;
                    }
                }
            }

            @include bm.hover() {
                color: ef.get-value($themeCryptoList, 'itemSvgColorHover');
                box-shadow: ef.get-value($themeCryptoList, 'itemBoxShadowHover');
            }
        }

        &__icon {
            --wlc-icon-width: #{ef.get-value($themeCryptoList, 'itemIconWidth')};
            --wlc-icon-height: #{ef.get-value($themeCryptoList, 'itemIconHeight')};
            display: block;
            grid-area: icon;
            width: var(--wlc-icon-width);
            height: var(--wlc-icon-height);
        }

        &__name {
            @include text.get-text-style(
                ef.get-value($themeCryptoList, 'itemNameTextStyle'),
                ef.get-value($themeCryptoList, 'itemNameTextColor')
            );
            grid-area: name;
        }

        &__ticker {
            @include text.get-text-style(
                ef.get-value($themeCryptoList, 'itemTickerTextStyle'),
                ef.get-value($themeCryptoList, 'itemTickerTextColor')
            );
            grid-area: ticker;
        }

        &__btn-modal {
            display: flex;
            align-items: stretch;
            justify-content: ef.get-value($themeCryptoList, 'btnJustifyContent');
            width: ef.get-value($themeCryptoList, 'btnWidth');
            max-width: var(--wlc-dep-btn-modal-maxwidth, #{ef.get-value($themeCryptoList, 'btnMaxWidth')});
            height: ef.get-value($themeCryptoList, 'btnHeight');
            margin: ef.get-value($themeCryptoList, 'btnMargin');
            padding: ef.get-value($themeCryptoList, 'btnPadding');
            border: ef.get-value($themeCryptoList, 'btnBorder');
            border-radius: ef.get-value($themeCryptoList, 'btnBorderRadius');
            background: ef.get-value($themeCryptoList, 'btnBg');
        }

        &__btn-modal-wrap {
            display: flex;
            flex: 1 1 100%;
            align-items: center;
            justify-content: center;
            padding: ef.get-value($themeCryptoList, 'btnWrapPadding');
        }

        &__btn-modal-arrow {
            --wlc-icon-width: #{ef.get-value($themeCryptoList, 'btnArrowWidth')};
            --wlc-icon-height: #{ef.get-value($themeCryptoList, 'btnArrowHeight')};

            width: var(--wlc-icon-width);
            margin: ef.get-value($themeCryptoList, 'btnArrowMargin');
            color: ef.get-value($themeCryptoList, 'btnArrowColor');

            .wlc-icon-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__btn-modal-text {
            @include text.get-text-style(
                ef.get-value($themeCryptoList, 'btnModalTextStyle'),
                ef.get-value($themeCryptoList, 'btnColor')
            );
            display: block;
            line-height: 1.2;
        }

        &__btn-modal-image {
            --wlc-icon-width: #{ef.get-value($themeCryptoList, 'btnImageWidth')};
            --wlc-icon-height: #{ef.get-value($themeCryptoList, 'btnImageHeight')};

            position: relative;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            box-sizing: content-box;
            width: var(--wlc-icon-width);
            height: auto;
            padding: ef.get-value($themeCryptoList, 'btnImagePadding');
            color: ef.get-value($themeCryptoList, 'btnImageSvgColor');
            background: ef.get-value($themeCryptoList, 'btnImageBg');
            border-right: ef.get-value($themeCryptoList, 'btnImageBorderRight');
        }

        &__method {
            @include text.get-text-style(
                ef.get-value($themeCryptoList, 'methodTextStyle'),
                ef.get-value($themeCryptoList, 'methodTextColor')
            );
            padding: ef.get-value($themeCryptoList, 'methodPadding');
            text-align: ef.get-value($themeCryptoList, 'methodAlignment');
        }

        &__tooltip[class] {
            position: absolute;
            top: ef.get-value($themeCryptoList, 'tooltipTop');
            right: ef.get-value($themeCryptoList, 'tooltipRight');
            bottom: ef.get-value($themeCryptoList, 'tooltipBottom');
            left: ef.get-value($themeCryptoList, 'tooltipLeft');
        }
    }

    .payments-description {
        @include text.get-text-style(
            ef.get-value($themeDefault, 'descriptionFont'),
            ef.get-value($themeDefault, 'descriptionColor')
        );
        @include bm.get-mq-map('text-align', $themeDefault, 'descriptionTextAlign');

        padding: ef.get-value($themeDefault, 'descriptionPadding');
        white-space: ef.get-value($themeDefault, 'descriptionWhiteSpace');

        &--desktop {
            @include bm.get-mq-map('display', $themeDefault, 'descriptionDesktopDisplay');
        }

        .wlc-cash--theme-steps & {
            text-align: ef.get-value($themeDefault, 'descrAlignModSteps');
        }

        @include mq.min(1200) {
            @include text.get-text-style(ef.get-value($themeDefault, 'descriptionFont', 1200), null);
        }
    }

    &.wlc-payment-list--theme-mod-wolf {
        @include bm.get-mq-map('--wlc-crypto-list-columns', $themeModWolf, 'cryptoListGridTemplateColumns');

        .wlc-payment-list {

            &__ul {
                @include bm.get-mq-map('gap', $themeModWolf, 'listGridGap');
            }

            &__button {
                @include buttonBase($themeModWolf);

                gap: ef.get-value($themeModWolf, 'itemGridGap');
                padding: ef.get-value($themeModWolf, 'itemPadding');

                &.active,
                &.active:hover {
                    @include buttonSelected($themeModWolf);
                }

                @include bm.hover() {
                    @include buttonHovered($themeModWolf);
                }
            }

            &__btn-modal {
                background: ef.get-value($themeModWolf, 'btnBg');
                border-radius: ef.get-value($themeModWolf, 'btnBorderRadius');
            }

            &__name {
                @include text.get-text-style(
                    ef.get-value($themeModWolf, 'itemNameTextStyle'),
                    ef.get-value($themeModWolf, 'itemNameTextColor')
                );
                @include bm.lineClamp(2);
            }

            &__ticker {
                @include text.get-text-style(
                    ef.get-value($themeModWolf, 'itemTickerTextStyle'),
                    ef.get-value($themeModWolf, 'itemTickerTextColor')
                );
            }

            &__method {
                @include text.get-text-style(
                    ef.get-value($themeModWolf, 'methodTextStyle'),
                    ef.get-value($themeModWolf, 'methodTextColor')
                );
            }
        }

        .payments-description {
            @include text.get-text-style(
                ef.get-value($themeModWolf, 'descriptionFont'),
                ef.get-value($themeDefault, 'descriptionColor')
            );
        }
    }
}
