:host {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.note {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #c5c;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 200px;
    padding: 5px;
    z-index: 10;
}

.info-icon {

    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;

    &:hover {

        + span {
            display: block;
        }
    }
}

