.wlc-sections__profile-content {

    &.wlc-sections__profile-content--theme-default {

        > .container {
            @include bm.get-mq-map('padding', $profileSettings, 'profilePadding');
            @include bm.get-mq-map('background', $profileSettings, 'profileBg');
            @include bm.get-mq-map('border-radius', $profileSettings, 'profileBorderRadius');
        }

        .wlc-title.wlc-title--profile[wlc-title] {

            .wlc-title__main {
                @include text.get-text-style(ThirdTitleBold, ef.get-value($profileSettings, 'titleColor'));
            }
        }

        .profile-history-filter {
            display: ef.get-value($profileSettings, 'historyFilterDisplay');
            align-items: ef.get-value($profileSettings, 'historyFilterAlign');
            justify-content: ef.get-value($profileSettings, 'historyFilterJustify');
        }
    }
}

.wlc-sections__profile-content--theme-default,
.wlc-sections__profile-menu--theme-default {

    > .container {
        @include bm.get-mq-map('max-width', $profileSettings, 'profileWidth');
    }
}
