<ng-template #items>
    <ng-container *ngIf="ready; else preloader">
        <ng-container *ngIf="useColumnsLayout else rawItems">
            <div class="wlc-columns-layout {{smartSectionConfig?.innerClasses}}">
                <div
                    *ngFor="let component of components; index as i"
                    class="{{getColumnClasses(i)}}">
                    <ng-container
                        [ngComponentOutlet]="$any(component.componentClass)"
                        [ngComponentOutletInjector]="getInjector(component)">
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-container *ngIf="section?.container">
    <div class="container">
        <ng-container [ngTemplateOutlet]="items"></ng-container>
    </div>
</ng-container>

<ng-container *ngIf="!section?.container" [ngTemplateOutlet]="items"></ng-container>

<ng-template #preloader>
    <div wlc-loader [inlineParams]="{themeMod:'not-ready'}"></div>
</ng-template>

<ng-template #rawItems>
    <ng-container
            *ngFor="let component of components;"
            [ngComponentOutlet]="$any(component.componentClass)"
            [ngComponentOutletInjector]="getInjector(component)">
        </ng-container>
</ng-template>
