<ng-template #items>
    <ng-container *ngIf="ready; else preloader">
        <ng-container
            *ngFor="let component of components;"
            [ngComponentOutlet]="$any(component.componentClass)"
            [ngComponentOutletInjector]="getInjector(component)">
        </ng-container>
    </ng-container>
</ng-template>

<ng-container *ngIf="section?.container">
    <div class="container">
        <ng-container [ngTemplateOutlet]="items"></ng-container>
    </div>
</ng-container>

<ng-container *ngIf="!section?.container" [ngTemplateOutlet]="items"></ng-container>

<ng-template #preloader>
    <div wlc-loader [inlineParams]="{themeMod:'not-ready'}"></div>
</ng-template>
