$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gap': ef.size(4),
    'loginTemplateAreas': 'login sign',
    'loginTemplateAreasMobile': 'sign' 'login',
), $customThemeDefault);

$customThemeWolf: () !default;
$themeWolf: map-merge((
    'gap': ef.size(4),
    'loginTemplateAreas': 'sign login',
    'loginTemplateAreasMobile': 'sign' 'login',
), $customThemeWolf);
