<div class="wlc-search">
    <div class="wlc-search__header">

        <div class="wlc-search__col wlc-search__col--search"
            wlc-search-field
            [inlineParams]="{searchFrom: 'modal'}"
        ></div>

        <div class="wlc-search__col wlc-search__col--merchants">
            <button class="wlc-search__btn wlc-search__btn--merchants"
                type="button"
                [class.active]="openPanel === 'merchants'"
                (click)="togglePanel('merchants')"
                [ngSwitch]="!!filters.merchants.length">
                <div class="icon" wlc-icon [iconName]="'filter'"></div>

                <span class="title-wrap" *ngSwitchCase="true">
                    <span class="title">{{'Providers' | translate}}</span>
                    <span class="counter">{{filters.merchants.length}}</span>
                </span>

                <span class="title" *ngSwitchDefault>{{'All providers' | translate}}</span>
            </button>
        </div>

        <div class="wlc-search__col wlc-search__col--categories">
            <button class="wlc-search__btn wlc-search__btn--merchants"
                type="button"
                [class.active]="openPanel === 'categories'"
                (click)="togglePanel('categories')"
                [ngSwitch]="!!filters.categories.length">
                <div class="icon" wlc-icon [iconName]="'filter'"></div>
                <span class="title-wrap" *ngSwitchCase="true">
                    <span class="title">{{'Categories' | translate}}</span>
                    <span class="counter">{{filters.categories.length}}</span>
                </span>
                <span class="title" *ngSwitchDefault>{{'All categories' | translate}}</span>
            </button>
        </div>

        <div class="wlc-search__col wlc-search__col--panel">
            <ul class="wlc-search__list" @openClose
                *ngIf="openPanel === 'merchants'">
                <li class="wlc-search__list-item">
                    <button class="wlc-search__list-btn"
                        (click)="chooseMerchant()"
                        [class.active]="!filters.merchants.length">
                        {{'Show all providers' | translate}}
                        <span class="wlc-search__list-icon"></span>
                    </button>
                </li>
                <li class="wlc-search__list-item"
                    *ngFor="let merchant of merchants">
                    <button class="wlc-search__list-btn"
                        [class.active]="isActive('merchants', merchant.ID)"
                        (click)="chooseMerchant(merchant)">
                        {{merchant.Name}}
                        <span class="wlc-search__list-icon"></span>
                    </button>
                </li>
            </ul>

            <ul class="wlc-search__list" @openClose
                *ngIf="openPanel === 'categories'">
                <li class="wlc-search__list-item">
                    <button class="wlc-search__list-btn"
                        (click)="chooseCategory()"
                        [class.active]="!filters.categories.length">
                        {{'Show all categories' | translate}}
                        <span class="wlc-search__list-icon"></span>
                    </button>
                </li>
                <li class="wlc-search__list-item"
                    *ngFor="let category of categories">
                    <button class="wlc-search__list-btn"
                        [class.active]="isActive('categories', category.ID)"
                        (click)="chooseCategory(category)">
                        {{category.Name[currentLanguage] || category.Name['en'] || category.Name}}
                        <span class="wlc-search__list-icon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="wlc-search__content">
        <div class="wlc-search__games"
            wlc-games-grid
            [inlineParams]="gamesGridParams"
        ></div>
    </div>
</div>
