<div class="{{$class}}__title">
    {{'Search for games' | translate}}
</div>

<div class="{{$class}}__panel">

    <div class="{{$class}}__col {{$class}}__col--search"
         wlc-search-field
         (searchQueryEmit)="setSearchQuery($event)"
         [inlineParams]="{searchFrom: gamesGridParams.searchFilterName, focus: true}"
    ></div>

    <div class="{{$class}}__col {{$class}}__col--merchants">
        <button class="{{$class}}__btn"
                data-wlc-element="block_filter-merchants"
                [class.active]="openPanel === 'merchants'"
                (click)="togglePanel('merchants')"
        >
            <span class="icon" wlc-icon [iconName]="'filter-merchants'"></span>

            <span class="title-wrap" *ngIf="!!filters.merchants.length; else allProvider">
                    <span class="title">{{'Providers' | translate}}</span>
                    <span class="counter">{{filters.merchants.length}}</span>
                </span>

            <ng-template #allProvider>
                <span class="title">{{'All providers' | translate}}</span>
            </ng-template>
        </button>

    </div>

    <div class="{{$class}}__col {{$class}}__col--categories">
        <button class="{{$class}}__btn"
                data-wlc-element="block_filter-categories"
                [class.active]="openPanel === 'categories'"
                (click)="togglePanel('categories')"
        >
            <span class="icon" wlc-icon [iconName]="'filter-categories'"></span>

            <span class="title-wrap" *ngIf="!!filters.categories.length; else allCategories">
                    <span class="title">{{'Categories' | translate}}</span>
                    <span class="counter">{{filters.categories.length}}</span>
                </span>

            <ng-template #allCategories>
                <span class="title">{{'All categories' | translate}}</span>
            </ng-template>
        </button>
    </div>

    <ng-container [ngSwitch]="openPanel">
        <ng-template *ngSwitchCase="'merchants'" [ngTemplateOutlet]="merchantsList"></ng-template>
        <ng-template *ngSwitchCase="'categories'" [ngTemplateOutlet]="categoriesList"></ng-template>
    </ng-container>
</div>

<div class="{{$class}}__content">

    <div class="{{$class}}__result"
         *ngIf="searchQuery?.length">
        {{'Search query:' | translate}} {{searchQuery}}
    </div>

    <div class="${{$class}}__games"
         wlc-games-grid
         [inlineParams]="gamesGridParams"
    ></div>
</div>


<ng-template #merchantsList>
    <ul class="{{$class}}__list" @openClose>
        <li class="{{$class}}__list-item">
            <button class="{{$class}}__list-btn"
                    (click)="chooseMerchant()"
                    [class.active]="!filters.merchants.length">
                <span class="{{$class}}__list-text">{{'All providers' | translate}}</span>
                <span class="{{$class}}__list-icon" wlc-icon iconName="tick">
                </span>
            </button>
        </li>

        <li class="{{$class}}__list-item"
            *ngFor="let merchant of merchants"
            [attr.data-wlc-element]="'button_filter-' + merchant.name.toLowerCase() + '_' + merchant.id">
            <button class="{{$class}}__list-btn"
                    [class.active]="isActive('merchants', merchant.id)"
                    (click)="chooseMerchant(merchant)">
                <span class="{{$class}}__list-text">{{merchant.name | translate}}</span>
                <span class="{{$class}}__list-icon" wlc-icon iconName="tick">
                </span>
            </button>
        </li>
    </ul>
</ng-template>

<ng-template #categoriesList>
    <ul class="{{$class}}__list" @openClose>
        <li class="{{$class}}__list-item">
            <button class="{{$class}}__list-btn"
                    (click)="chooseCategory()"
                    [class.active]="!filters.categories.length">
                <span class="{{$class}}__list-text">{{'All categories' | translate}}</span>
                <span class="{{$class}}__list-icon" wlc-icon iconName="tick">
                </span>
            </button>
        </li>

        <li class="{{$class}}__list-item"
            *ngFor="let category of categories"
            [attr.data-wlc-element]="'button_filter-' + category.name + '_' + category.id">
            <button class="{{$class}}__list-btn"
                    [class.active]="isActive('categories', category.slug)"
                    (click)="chooseCategory(category)">
                    <span class="{{$class}}__list-text">
                        {{category.title[currentLanguage] || category.title['en'] | translate}}
                    </span>
                <span class="{{$class}}__list-icon" wlc-icon iconName="tick">
                </span>
            </button>
        </li>
    </ul>
</ng-template>
