@import './utils/vars';

@import './themes/default';

$baseClass: 'wlc-burger-panel';

:host {

    &.#{$baseClass} {
        visibility: hidden;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        width: map-get($themeDefault, 'panelWidth');
        max-width: map-get($themeDefault, 'panelWidth');
        background-color: map-get($themeDefault, 'panelBackground');
        color: map-get($themeDefault, 'panelTextColor');
        font-size: map-get($themeDefault, 'panelTextSize');
        transition: map-get($themeDefault, 'transition');
        outline-style: none;
    }

    &.#{$baseClass}--type-left {
        left: 0;
        transform: translateX(-100%);
    }

    &.#{$baseClass}--type-right {
        right: 0;
        transform: translateX(100%);
    }

    &.#{$baseClass}--open {
        visibility: visible;
        transform: none;
    }
}

.#{$baseClass} {

    &__header {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: map-get($themeDefault, 'panelHeaderBackground');
        padding: map-get($themeDefault, 'panelHeaderPadding');
        border-bottom: map-get($themeDefault, 'panelHeaderBorderBottom');
        font: {
            size: map-get($themeDefault, 'panelHeaderFontSize');
            weight: map-get($themeDefault, 'panelHeaderFontWeight');
        }
        color: map-get($themeDefault, 'panelHeaderColor');
    }

    &__title {
        flex: 1 1 auto;
    }

    &__close {
        padding: 0;
        flex: 0 0 auto;
        appearance: none;
        background: transparent;
        border: none;
        opacity: 0.5;
        color: map-get($themeDefault, 'closeIconColor');
        transition: map-get($themeDefault, 'transition');

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__content {
        position: relative;
        flex: 1 1 auto;
        min-height: 1px;
        background: map-get($themeDefault, 'panelContentBackground');
    }

    &__inner {
        padding: map-get($themeDefault, 'panelContentPadding');
    }
}

