@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@import './utils/vars';
@import './utils/mixins';

@import './themes/default';
@import './themes/left';
@import './themes/option3';
@import './themes/mobile';

.wlc-burger-panel:host {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    color: map-get($themeDefault, 'panelTextColor');
    font-size: map-get($themeDefault, 'panelTextSize');
    outline-style: none;
    visibility: hidden;
    transition: map-get($themeDefault, 'transition');

    ::ng-deep {

        .wlc-burger-panel__header {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            padding: map-get($themeDefault, 'panelHeaderPadding');
            color: map-get($themeDefault, 'panelHeaderColor');
            background: map-get($themeDefault, 'panelHeaderBackground');
            font: {
                size: map-get($themeDefault, 'panelHeaderFontSize');
                weight: map-get($themeDefault, 'panelHeaderFontWeight');
            }

            &.no-menu {
                grid-template-columns: 1fr 1fr;
            }
        }

        .wlc-burger-panel__title {
            flex: 0 0 auto;
        }

        .wlc-burger-panel__close {
            flex: 0 0 auto;
            margin: 0 0 0 auto;
            padding: 0;
            color: ef.get-value($themeDefault, 'closeIconColor');
            background: transparent;
            opacity: 0.4;
            transition: ef.get-value($themeDefault, 'transition');
            appearance: none;
            border: none;

            &:focus {
                outline: none;
            }

            @include bm.hover {
                opacity: 0.8;
            }
        }

        .wlc-burger-panel__content {
            position: relative;
            flex: 1 1 auto;
            height: 100%;
            min-height: 1px;
            background: ef.get-value($themeDefault, 'panelContentBackground');
            overflow: hidden;
        }
    }
}
