<ng-template #default>
    <div class="{{$class}}__wrapper">
        <div class="{{$class}}__block {{$class}}__block--left">
            <ng-container [ngTemplateOutlet]="gamePicture"></ng-container>
        </div>

        <div class="{{$class}}__block {{$class}}__block--right">
            <ng-container [ngTemplateOutlet]="userInfo"></ng-container>

            <ng-container [ngTemplateOutlet]="winAmount"></ng-container>

            <button class="{{$class}}__game"
                    type="button"
                    [attr.title]="[gameName]"
                    (click)="startGame($event)">
                <span class="{{$class}}__game-name" [attr.data-wlc-element]="'name_game_item-' + $params.winnerType + '-wins'">{{gameName}}</span>
                <span *ngIf="!$params.hideGameIcon"
                      wlc-icon
                      class="{{$class}}__game-arrow"
                      [wlcElement]="'button_game_play_item-'+ $params.winnerType + '-wins'"
                      iconPath="/wlc/decors/winner-arrow.svg">
                </span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #one>
    <div class="{{$class}}__wrapper"
        (click)="startGame($event)"
        [attr.title]="[gameName]">
        <div class="{{$class}}__block {{$class}}__block--left">
            <ng-container [ngTemplateOutlet]="gamePicture"></ng-container>
        </div>

        <div class="{{$class}}__block {{$class}}__block--right">
            <ng-container [ngTemplateOutlet]="userInfo"></ng-container>

            <div class="{{$class}}__game">{{gameName}}</div>

            <ng-container [ngTemplateOutlet]="winAmount"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #gamePicture>
    <div class="{{$class}}__picture">
        <img class="{{$class}}__image"
             wlc-fallback
             loading="lazy"
             [src]="gameImage"
             [attr.alt]="[gameName]"
             [attr.data-wlc-element]="'img_item-' + $params.winnerType + '-wins'">
    </div>
</ng-template>

<ng-template #winAmount>
    <div class="{{$class}}__amount" [attr.data-wlc-element]="'amount_item-' + $params.winnerType + '-wins'">
        <span wlc-currency
              [value]="amount"
              [currency]="currency">
        </span>
    </div>
</ng-template>

<ng-template #userInfo>
    <div class="{{$class}}__user">
        <img *ngIf="countryIso2 && !$params.hideCountry"
             wlc-fallback
             loading="lazy"
             class="{{$class}}__country"
             [attr.alt]="[countryIso3]"
             [src]="countryUrl">
        <div class="{{$class}}__name" [attr.data-wlc-element]="'name_user_item-' + $params.winnerType + '-wins'">{{name}}</div>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="one" *ngSwitchCase="'1'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
