@import './vars';

@mixin verticalBtn {

    @if ($thumbBtnPosition == vertical) {

        flex-direction: column;

        button {

            &:first-child {
                margin-right: unset;
                margin-bottom: 10px;
            }
        }
    }
}

@mixin alternateLogo($theme) {

    @if (ef.get-value($theme, 'placeholderBgImgAlt')) {

        @include bm.colorThemeAlt() {
            background-image: ef.get-value($theme, 'placeholderBgImgAlt');
        }
    }
}
