@import './vars';

@mixin btnsLayout($layout) {
    @include bm.get-mq-map('display', $btnsLayout, 'btnsDisplay');
    gap: ef.get-value($btnsLayout, 'btnsGap');
    justify-content: ef.get-value($btnsLayout, 'btnsJustifyContent');

    @if ($layout == horizontal) {
        grid-template-columns: ef.get-value($btnsLayout, 'btnsGridColumnsHor');

        .wlc-btn {
            min-width: auto;
        }

        &.no-demo {
            grid-template-columns: ef.get-value($btnsLayout, 'btnsNoDemoGridColumnsHor');
        }
    }

    @if ($layout == vertical) {
        grid-template-rows: ef.get-value($btnsLayout, 'btnsGridRowsVert');
        grid-template-columns: ef.get-value($btnsLayout, 'btnsGridColumnsVert');

        ::ng-deep {

            .wlc-btn {

                &--demo {

                    .wlc-btn__text {
                        color: ef.get-value($btnsLayout, 'btnDemoColor');
                    }
                }
            }
        }

        &.no-demo {
            grid-template-rows: ef.get-value($btnsLayout, 'btnsNoDemoGridRowsVert');
        }
    }

    @if ($layout == circle) {
        grid-template-rows: ef.get-value($btnsLayout, 'btnsGridRowsCirc');
        grid-template-columns: ef.get-value($btnsLayout, 'btnsGridColumnsCirc');
        align-items: ef.get-value($btnsLayout, 'btnsAlignItemsCirc');
        justify-items: ef.get-value($btnsLayout, 'btnsJustifyItemsCirc');

        &.no-demo {
            grid-template-rows: ef.get-value($btnsLayout, 'btnsNoDemoGridRowsCircle');
            align-items: ef.get-value($btnsLayout, 'btnsNoDemoAlignItemsCirc');
        }

        .wlc-btn {
            min-width: auto;
        }
    }
}

@mixin thumbsBottom($opt) {

    @media (pointer: fine) {
        background-position: ef.get-value($themeDefaultBottom, 'thumbBgPosition');

        .wlc-game-thumb {

            &__img {
                position: relative;

                @supports (aspect-ratio: 1/1) {
                    aspect-ratio: #{ef.get-value($themeDefault, 'thumbAspectRatio')};
                    height: unset;
                }

                @supports not (aspect-ratio: 1/1) {
                    @include bm.aspect-ratio-padding(ef.get-value($themeDefault, 'thumbAspectRatio'));
                    height: 0;
                }

                border-radius: ef.get-value($themeDefaultBottom, 'imgBorderRadius');
            }

            &__desc {
                @include bm.get-mq-map('display', $themeDefaultBottom, 'descDisplay');
                position: initial;
                background: ef.get-value($themeDefaultBottom, 'descBg');
                overflow: hidden;
                opacity: 1;
                border-radius: 0 0 ef.get-value($themeDefault, 'thumbBorderRadius') ef.get-value($themeDefault, 'thumbBorderRadius');

                &:before {
                    top: -(ef.get-value($themeDefaultBottom, 'descHeight'));
                    opacity: ef.get-value($themeDefaultBottom, 'descBeforeOpacity');
                }
            }

            &__icon {
                @include bm.transition;
                opacity: ef.get-value($themeDefaultBottom, 'iconOpacity');
            }
        }

        &:hover {

            .wlc-game-thumb {

                &__icon {
                    opacity: ef.get-value($themeDefaultBottom, 'iconOpacityHover');
                }

                &__desc {

                    &:before {
                        opacity: ef.get-value($themeDefaultBottom, 'descBeforeOpacityHover');
                    }
                }
            }
        }

        @include mq.min(1024) {

            @supports (aspect-ratio: 1/1) {
                aspect-ratio: unset;
            }

            @supports not (aspect-ratio: 1/1) {
                height: unset;
                padding-top: 0;
            }
        }

        @if ($opt == buttons) {

            .wlc-game-thumb {

                &__desc {
                    height: ef.get-value($bottomButtons, 'descHeight');
                }

                &__title {
                    @include bm.transition;
                    @include bm.absoluteCentering();
                    width: ef.get-value($bottomButtons, 'titleWidth');
                    transform: ef.get-value($bottomButtons, 'titleTransform');
                    opacity: ef.get-value($bottomButtons, 'titleOpacity');
                }
            }
        }

        @if ($opt == all) {

            .wlc-game-thumb {

                &__img {

                    &:before {
                        @include bm.transition;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: ef.get-value($bottomAll, 'imgBeforeBg');
                        opacity: ef.get-value($bottomAll, 'imgBeforeOpacity');
                    }
                }

                &__desc {
                    position: ef.get-value($bottomAll, 'descPosition');
                    grid-template-rows: ef.get-value($bottomAll, 'descGridRows');
                    grid-template-columns: ef.get-value($bottomAll, 'descGridColumns');
                    gap: ef.get-value($bottomAll, 'descGap');
                    height: ef.get-value($bottomAll, 'descHeight');

                    &:before {
                        display: none;
                    }
                }

                &__title {
                    align-items: ef.get-value($bottomAll, 'titleAlignItems');
                }

                &__icon {
                    right: ef.get-value($themeDefault, 'favouritePosition');
                    left: unset;
                    background-color: ef.get-value($bottomAll, 'favouriteBg');
                    box-shadow: ef.get-value($bottomAll, 'favouriteBoxShadow');

                    &.active {
                        color: ef.get-value($bottomAll, 'favouriteActiveColor');
                        background-color: ef.get-value($bottomAll, 'favouriteBg');
                    }
                }
            }
        }

        @if ($opt == title) {

            .wlc-game-thumb {

                &__desc {
                    height: ef.get-value($bottomTitle, 'descHeight');
                }

                &__buttons {
                    @include btnsLayout(vertical);
                    @include bm.transition;
                    @include bm.absoluteCentering();

                    transform: ef.get-value($bottomTitle, 'btnsTranslate');
                    opacity: ef.get-value($bottomTitle, 'btnsOpacity');

                    &.no-demo {
                        transform: ef.get-value($bottomTitle, 'btnsNoDemoTranslate');
                    }
                }
            }
        }
    }
}

@mixin alternateLogo($theme) {

    @if (ef.get-value($theme, 'placeholderBgImgAlt')) {

        @include bm.colorThemeAlt() {
            background-image: ef.get-value($theme, 'placeholderBgImgAlt');
        }
    }
}

@mixin circleButton {

    .wlc-game-thumb {

        &__buttons {
            @include btnsLayout(circle);
            @include bm.transition;
            opacity: ef.get-value($themeDefaultModCircle, 'btnsAndIconOpacity');
        }

        &__icon {
            @include bm.transition;
            opacity: ef.get-value($themeDefaultModCircle, 'btnsAndIconOpacity');
        }
    }

    .wlc-btn {

        &--play {
            display: ef.get-value($themeDefaultModCircle, 'btnPlayDisplay');
            align-items: ef.get-value($themeDefaultModCircle, 'btnPlayAlignItems');
            justify-content: ef.get-value($themeDefaultModCircle, 'btnPlayJustifyContent');
            width: ef.get-value($themeDefaultModCircle, 'btnPlaySize');
            height: ef.get-value($themeDefaultModCircle, 'btnPlaySize');
            margin: ef.get-value($themeDefaultModCircle, 'btnPlayMargin');

            text-indent: ef.get-value($themeDefaultModCircle, 'btnPlayTextIndent');
            border: ef.get-value($themeDefaultModCircle, 'btnPlayBorder');
            border-radius: ef.get-value($themeDefaultModCircle, 'btnPlayRadius');
            transform: ef.get-value($themeDefaultModCircle, 'btnPlayTransform');

            &:before {
                content: '';
                position: absolute;
                left: ef.get-value($themeDefaultModCircle, 'btnPlayIconLeft');
                width: ef.get-value($themeDefaultModCircle, 'btnPlayIconWidth');
                height: ef.get-value($themeDefaultModCircle, 'btnPlayIconHeight');

                background: ef.get-value($themeDefaultModCircle, 'btnPlayIconBg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 100%;
            }

            ::ng-deep {

                .wlc-icon {
                    display: flex;
                }
            }
        }

        &--demo {
            color: ef.get-value($themeDefaultModCircle, 'btnDemoColor');
            background: ef.get-value($themeDefaultModCircle, 'btnDemoBg');
            border: ef.get-value($themeDefaultModCircle, 'btnDemoBorder');

            @include bm.hover {
                text-decoration: ef.get-value($themeDefaultModCircle, 'btnDemoHoverDecoration');
                box-shadow: ef.get-value($themeDefaultModCircle, 'btnDemoHoverBoxShadow');
            }
        }
    }

    @include bm.hover {

        .wlc-game-thumb {

            &__desc:before,
            &__buttons,
            &__icon {
                opacity: ef.get-value($themeDefaultModCircle, 'btnsAndIconOpacityHover');
            }

            &__title {
                opacity: ef.get-value($themeDefaultModCircle, 'titleOpacityHover');
            }
        }
    }
}
