@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'placeholderBg': darken(ef.get('mainColors', 'bg'), 1.5),
    'placeholderBgImg': url('/static/images/logo.svg'),
    'placeholderBgImgSize': 80%,
    'thumbBorderRadius': ef.get('radius', 'biger'),
    'thumbPadding': ef.get('size', 'small'),
    'thumbHoverBg': transparentize(ef.get('mainColors', 'bg'), 0.2),
    'thumbNameColor': ef.get('mainColors', 'baseMain'),
    'thumbNamePadding': ef.get('size', 'small') 0 0,
    'thumbNamePosition': center,
    'btnJustifyContent': space-between,
    'btnAlignItems': flex-end,
    'btnMarginItems': 0,
    'btnGap': ef.get('size', 'small'),
    'thumbBtnPosition': horizontal,
    'favoritePosition': left,
    'favoriteBg': ef.get('mainColors', 'baseOpacity'),
    'favoriteHoverBg': ef.get('fieldColors', 'inputBg'),
    'favoriteActiveBg': ef.get('fieldColors', 'inputBg'),
    'favoriteSize': 24px,
    'favoriteBackBg': ef.get('mainColors', 'baseOpacity'),
    'favoriteBackBgActive': ef.get('mainColors', 'main'),
    'favoriteBackSize': ef.get('size', 'main'),
    'favoriteBackRadius': ef.get('radius', 'biger'),
    'favoriteBoxShadow': none,
), $customThemeDefault);

$customThemeDefaultCircle: () !default;
$themeDefaultModCircle: map-merge((
    'btnSize': 86px,
    'btnBorder': 4px solid #fff,
    'btnDemoColor': #fff,
), $customThemeDefaultCircle);

