@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'placeholderBg': darken(ef.get('mainColors', 'bg'), 1.5),
    'placeholderBgImg': url('/static/images/logo.svg'),
    'placeholderBgImgSize': 80%,
    'thumbBorderRadius': ef.get('radius', 'biger'),
    'thumbPadding': ef.get('size', 'small'),
    'thumbHoverBg': transparentize(ef.get('mainColors', 'bg'), 0.2),
    'thumbNameColor': ef.get('mainColors', 'baseMain'),
    'thumbNamePadding': ef.get('size', 'small') 0 0,
    'thumbNamePosition': center,
    'btnJustifyContent': space-between,
    'btnAlignItems': flex-end,
    'btnMarginItems': 0,
    'btnGap': ef.get('size', 'small'),
    'thumbBtnPosition': horizontal,
    'favoritePosition': left,
    'favoriteBg': ef.get('mainColors', 'baseOpacity'),
    'favoriteHoverBg': darken(ef.get('mainColors', 'baseOpacity'), 20),
    'favoriteActiveBg': ef.get('fieldColors', 'inputBg'),
    'favoriteSize': 24px,
    'favoriteBackBg': ef.get('mainColors', 'baseOpacity'),
    'favoriteBackBgActive': ef.get('mainColors', 'main'),
    'favoriteBackSize': ef.get('size', 'main'),
    'favoriteBackRadius': ef.get('radius', 'biger'),
    'favoriteBoxShadow': none,
), $customThemeDefault);

$customThemeDefaultCircle: () !default;
$themeDefaultModCircle: map-merge((
    'btnSize': 86px,
    'btnBorder': 4px solid #fff,
    'btnDemoColor': #fff,
), $customThemeDefaultCircle);

$customThemeVertical: () !default;
$themeVertical: map-merge((
    'borderRadius': ef.get('size', 'small'),
    'buttonsGap': ef.get('size', 'smally'),
    'logoTopGap': ef.get('size', 'main'),
    'logoWidth': 100%,
    'descPadding': 0 0 35px 0,
    'descJustifyConten': center,
    'descAlignItems': flex-end,
    'fgTransformOrigin': bottom center,
    'fgWidth': 100%,
    'fgHeight': auto,
    'bgAspectRatio': 10/16,
    'bgWidth': 100%,
    'fallbackBackgroundColor': #181818,
    'controlsBg': linear-gradient(0deg, darken(#ff8a00, 20%) 0%, rgba(255, 138, 0, 0) 100%),
    'controlsTransform': translateY(10%),
    'videoObjectFit': cover,
    'videoObjectPosition': center,
    'placeholderBgImg': url('/static/images/logo.svg'),
    'placeholderBgPosition': center,
), $customThemeVertical);
