@use 'engine-scss/functions' as ef;
$baseClass: 'wlc-float-panels';

:host {

    &.#{$baseClass} {
        position: fixed;
        top: 0;
        left: 0;
        z-index: ef.get-value($themeDefault, zindex);
        width: 100%;
        height: 100%;
        visibility: hidden;

        &.#{$baseClass}--open {
            visibility: visible;

            .#{$baseClass}__backdrop {
                background: ef.get-value($themeDefault, backdropBackground);
            }
        }
    }
}

.#{$baseClass} {

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: ef.get-value($themeDefault, transition);
    }
}
