$baseClass: 'wlc-float-panels';

@mixin backdrop($zindex: ef.get-value($themeDefault, zindex)) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex;
    width: 100%;
    height: 100%;
    will-change: transform;

    [class*='wlc-body--osver-15'] & {
        height: 100vh;
    }
}

:host {
    &.#{$baseClass} {
        @include backdrop();
        visibility: hidden;

        .#{$baseClass}__backdrop {
            @include backdrop(ef.get-value($themeDefault, zindex - 1));
            background: var(--fp-backdrop-background);
            visibility: var(--fp-backdrop-visibility, hidden);
            transition: ef.get-value($themeDefault, transition);
        }

        &--open {
            --fp-backdrop-visibility: visible;
            --fp-backdrop-background: #{ef.get-value($themeDefault, backdropBackground)};

            .wlc-body--os-ios & {
                top: ef.get-value($themeDefault, topIos);
                transform: ef.get-value($themeDefault, transformIos);
            }
        }
    }
}
