<div *ngIf="$params.image || $params.fallbackImage"
     class="{{$class}}__image"
     [ngClass]="{'custom-image': $params.image}">
    <img class="{{$class}}__icon {{$class}}__icon--{{$params.level}}"
         loading="lazy"
         [src]="$params.image || $params.fallbackImage">
</div>
<div class="{{$class}}__title">
     {{levelTitle}}
     <ng-container *ngIf="!levelTitle">{{$params.level}} {{'Level' | translate}}</ng-container>
</div>
<div class="{{$class}}__description"
     [innerHTML]="$params.description"></div>
<div class="{{$class}}__points">
     <span>{{$params.points}}</span>
     <span wlc-currency
           class="value"
           currency="LP"
           [showIconOnly]="true"></span>
</div>
