@use 'engine-styles/functions' as ef;

// Header

// Footer
$footerPadding: ef.get('size', 'smaller') !default;
$footerBackground: ef.get('color', 'background') !default;
$footerAccentBackground: ef.get('color', 'backgroundSecondary') !default;
$footerGap: ef.get('size', 'main') !default;
$footerGapMobile: ef.get('size', 'smaller') !default;
$footerPadding: ef.get('size', 'main') !default;
$footerRadius: ef.get('radius', 'main') !default;
$footerPaymentsPadding: ef.get('size', 'smaller') !default;
