$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gap': ef.get('size', 'small'),
    'templateColumns': minmax(0, 1fr),
), $customThemeDefault);

$customThemeVertical: () !default;
$themeVertical: map-merge((
    'gap': ef.get('size', 'small'),
    'templateColumns': repeat(3, 1fr),
), $customThemeVertical);
