@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-sections__categories--theme-1 {

    > .container {
        @include bm.get-mq-map('padding', $gamesCategoriesDefault, 'sectionPadding');
        @include bm.get-mq-map('border-radius', $gamesCategoriesDefault, 'sectionRadius');
        @include bm.get-mq-map('background', $gamesCategoriesDefault, 'sectionBg');
    }

    .games-categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
    }

    .wlc-btn-search.wlc-btn,
    .wlc-btn-merch.wlc-btn {
        width: 100%;
        flex-shrink: 0;
        justify-content: space-between;
        margin-left: auto;

        @include bm.get-mq-map('background', $gamesCategoriesDefault, 'buttonSearchBg');
        @include bm.get-mq-map('padding', $gamesCategoriesDefault, 'buttonSearchPadding');
        @include bm.get-mq-map('border-radius', $gamesCategoriesDefault, 'buttonSearchRadius');
        @include text.get-text-style('PlaceholderText', map-get($gamesCategoriesDefault, 'buttonSearchColor'));

        @include mq.min(768) {
            width: auto;
        }

        > span {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            white-space: nowrap;
        }

        &:hover {
            @include bm.get-mq-map('background', $gamesCategoriesDefault, 'buttonSearchBgHover');
        }

        svg {
            fill: map-get($gamesCategoriesDefault, 'buttonSearchIconFill');
        }

        .wlc-icon {
            margin-left: map-get($gamesCategoriesDefault, 'buttonSearchIconMargin');
        }
    }

    .wlc-btn-merch[wlc-button] {
        margin-left: map-get($gamesCategoriesDefault, 'buttonMerchMargin');

        path {
            stroke: map-get($gamesCategoriesDefault, 'buttonSearchIconFill');
        }
    }

    .wlc-category-menu {

        @include mq.min(1024) {
            margin-right: auto;
        }
    }
}
