@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/functions' as ef;

.wlc-sections__categories--theme-2 {

    .games-categories {
        @include bm.get-mq-map('grid-template-areas', $withIcons, 'gridAreas');
        @include bm.get-mq-map('grid-template-columns', $withIcons, 'gridColumns');
        @include bm.get-mq-map('grid-template-rows', $withIcons, 'gridRows');
        @include bm.get-mq-map('gap', $withIcons, 'sectionGap');
        display: grid;
        align-items: ef.get-value($withIcons, 'gridAlignItems');
    }

    .wlc-category-menu {
        grid-area: category-menu;
        overflow: hidden;
    }

    .wlc-btn {

        &.wlc-btn-search,
        &.wlc-btn-merch {
            @include bm.get-mq-map('border-radius', $withIcons, 'buttonBorderRadius');
            @include bm.get-mq-map('padding', $withIcons, 'buttonPadding');
            width: 100%;

            .wlc-btn-search__text,
            .wlc-btn-merch__text {
                @include lib.get-text-style('PlaceholderText', ef.get-value($withIcons, 'buttonColor'));
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &.wlc-btn-search {
            grid-area: btn-search;
            align-self: ef.get-value($withIcons, 'searchAlignSelf');
            margin: ef.get-value($withIcons, 'searchButtonMargin');
            background: ef.get-value($withIcons, 'searchButtonBg');

            svg {
                fill: map-get($withIcons, 'searchButtonIconFill');
            }

            @include bm.hover {
                background: ef.get-value($withIcons, 'searchButtonBgHover');
            }
        }

        &.wlc-btn-merch {
            grid-area: btn-merch;
            align-self: ef.get-value($withIcons, 'merchAlignSelf');
            margin: ef.get-value($withIcons, 'merchButtonMargin');
            background: ef.get-value($withIcons, 'merchButtonBg');

            svg {
                color: map-get($withIcons, 'merchButtonIconFill');
                fill: map-get($withIcons, 'merchButtonIconFill');
            }

            @include bm.hover {
                background: ef.get-value($withIcons, 'merchButtonBgHover');
            }
        }
    }
}
