<div
    *ngIf="isReady && tournament; else: noData"
    class="{{$class}}__content"
    [ngClass]="{'selected': tournament.selected, 'coming-soon': !tournament.isTournamentStarts}">
    <div
        class="{{$class}}__header-info"
        [ngStyle]="{'backgroundImage': 'url(' + tournament.imageDescription + ')'}">
        <div class="{{$class}}__header-info-wrap">
            <a class="{{$class}}__header-info--back-link"
               (click)="goTo('app.profile.loyalty-tournaments.main')">
                <span wlc-icon iconPath="/wlc/icons/arrow.svg"></span>
                {{$params.common?.backLinkText  | translate}}
            </a>
            <span class="{{$class}}__header-info--status"
                  [ngClass]="tournament.selected ? 'status-active' : 'status-avaliable'">
            {{tournament.tag | translate}}
        </span>
        </div>
        <div class="{{$class}}__header-info-inner">
            <h3 class="{{$class}}__header-info--title">{{tournament.name}}</h3>

            <p *ngIf="tournament.description"
               class="{{$class}}__header-info--description"
               [innerHtml]="tournament.descriptionClean">
            </p>

            <div wlc-tournament-smart-info
                 (timerEnds)="updateTournaments()"
                 class="{{$class}}__header-info--timer"
                 [tournament]="tournament">
            </div>

            <div *ngIf="tournament.isTournamentStarts" class="{{$class}}__header-info--buttons">
                <button *ngIf="!isTournamentSelected"
                        wlc-button
                        class="{{$class}}__header-info--button"
                        [attr.type]="'button'"
                        [text]="$params.common?.btnSubscribeText"
                        (click)="joinTournament()"></button>

                <button *ngIf="isTournamentSelected && tournament.selected"
                        wlc-button
                        class="{{$class}}__header-info--button"
                        [attr.type]="'button'"
                        themeMod="secondary"
                        [text]="$params.common?.btnUnsubscribeText"
                        (click)="leaveTournament()">
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="menuParams"
         wlc-wrapper
         class="{{$class}}__anchors"
         [inlineParams]="menuConfig">
    </div>

    <div class="{{$class}}__prizes-block">
        <div *ngIf="tournament.selected" class="{{$class}}__leaderboard">

            <h4 class="{{$class}}__leaderboard--title">
                {{$params.common?.leaderboardSectionTitle | translate}}
            </h4>

            <div wlc-tournament-leaderboard
                 class="{{$class}}__board"
                 [tournament]="tournament"
                 [limit]="8"
                 [showAllBtn]="true"
                 [useListHead]="true"
                 [themeMod]="'tournament-detail'">
            </div>
        </div>

        <div class="{{$class}}__prizepool">
            <h4 class="{{$class}}__prizepool--title">
                {{$params.common?.prizepoolSectionTitle | translate}}
            </h4>
            <div wlc-currency
                 class="{{$class}}__prizepool--amount"
                 [value]="tournament.totalFounds"
                 digitsInfo="1-0-0"
                 [currency]="tournament.targetDefaultCurrency">
            </div>
        </div>

        <div *ngIf="usePodium" class="{{$class}}__podium">
             <div wlc-tournament-prizes
                [inlineParams]="{theme: 'podium'}"
                [tournament]="$params.common.tournament">
            </div>
        </div>

        <div *ngIf="tablePrizeboard" class="{{$class}}__prizeboard">
            <div *ngIf="tablePrizeboard.rows.length; else empty" wlc-table [inlineParams]="tablePrizeboard"></div>

            <ng-template #empty>
                <div wlc-wrapper [inlineParams]="$params.emptyConfig"></div>
            </ng-template>
        </div>
    </div>
    <div class="{{$class}}__games">
        <h4 class="{{$class}}__games--title">
            {{$params.common?.gamesSectionTitle | translate}}
        </h4>
        <div wlc-wrapper
             class="{{$class}}__games-list"
             [inlineParams]="gamesGridConfig">
        </div>
    </div>

    <div *ngIf="tournament.terms || tournament.description" class="{{$class}}__rules">
        <h4 class="{{$class}}__rules--title">
            {{$params.common?.rulesSectionTitle | translate}}
        </h4>

        <div
            class="{{$class}}__rules--descr"
            [innerHTML]="tournament.descriptionSafeHTML | safeHtml">
        </div>

        <div
            class="{{$class}}__rules--terms"
            [innerHTML]="tournament.termsSafeHTML | safeHtml">
        </div>
    </div>

    <div *ngIf="tournamentProcessing" class="{{$class}}__loader">
        <span class="{{$class}}__loader-elem"></span>
    </div>
</div>

<ng-template #noData>
    <div *ngIf="isReady" class="{{$class}}__nocontent">{{$params.common?.noTournamentText | translate}}</div>
    <div *ngIf="!isReady" class="{{$class}}__nocontent">
        <div wlc-loader></div>
    </div>
</ng-template>
