<div class="{{$class}}__content" *ngIf="isReady && tournament; else: noData" [ngClass]="{'selected': tournament.selected, 'coming-soon': !tournament.isTournamentStarts}">

    <div class="{{$class}}__header-info" [ngStyle]="{'backgroundImage': 'url(' + tournament.imageDescription + ')'}">
        <a uiSref="app.profile.loyalty-bonuses.main" class="{{$class}}__header-info--back-link">
            <span wlc-icon iconName="arrow"></span>
            {{$params.common?.backLinkText  | translate}}}
        </a>
        <span class="{{$class}}__header-info--status"
            [ngClass]="tournament.selected ? 'status-active' : 'status-avaliable'">
            {{tournament.tag | translate}}
        </span>

        <h3 class="{{$class}}__header-info--title">{{tournament.name}}</h3>

        <p class="{{$class}}__header-info--description">{{tournament.description}}</p>

        <div class="{{$class}}__header-info--timer" wlc-tournament-smart-info [tournament]="tournament"></div>

        <div class="{{$class}}__header-info--buttons" *ngIf="tournament.isTournamentStarts">
            <button type="button" wlc-button [text]="$params.common?.btnSubscribeText"
            class="{{$class}}__header-info--button" (click)="joinTournament()" *ngIf="!isTournamentSelected"></button>
            
            <button type="button" wlc-button themeMod="secondary" [text]="$params.common?.btnUnsubscribeText"
            class="{{$class}}__header-info--button" (click)="leaveTournament()"
            *ngIf="isTournamentSelected && tournament.selected"></button>
        </div>
    </div>

    <div class="{{$class}}__anchors" *ngIf="menuParams" wlc-menu [inlineParams]="menuParams"></div>

    <div class="{{$class}}__prizes-block">
        <div class="{{$class}}__leaderboard" *ngIf="tournament.selected">

            <h4 class="{{$class}}__leaderboard--title">
                {{$params.common?.leaderboardSectionTitle | translate}}
            </h4>

            <div wlc-tournament-leaderboard class="{{$class}}__board" [tournament]="tournament" [limit]="8"
                [showAllBtn]="true" [useListHead]="true" [themeMod]="'tournament-detail'"></div>
        </div>

        <div class="{{$class}}__prizepool">
            <h4 class="{{$class}}__prizepool--title">
                {{$params.common?.prizepoolSectionTitle | translate}}
            </h4>
            <div class="{{$class}}__prizepool--amount" wlc-currency [value]="tournament.totalFounds" digitsInfo="1-0-0"
                [currency]="'EUR'"></div>
        </div>
        <div class="{{$class}}__prizeboard" *ngIf="tablePrizeboard">
            <div wlc-table [inlineParams]="tablePrizeboard"></div>
        </div>
    </div>
    <div class="{{$class}}__games">
        <h4 class="{{$class}}__games--title">
            {{$params.common?.gamesSectionTitle | translate}}
        </h4>
        <div class="{{$class}}__games-list"
             wlc-wrapper
             [inlineParams]="gamesGridConfig">
        </div>
    </div>

    <div class="{{$class}}__rules" *ngIf="tournament.terms">
        <h4 class="{{$class}}__rules--title">
            {{$params.common?.rulesSectionTitle | translate}}
        </h4>

        <div class="{{$class}}__rules--terms"
             wlc-dynamic-html
             [html]="tournament.terms">
        </div>
    </div>

    <div *ngIf="tournamentProcessing" class="{{$class}}__loader"></div>
</div>

<ng-template #noData>
    <div class="{{$class}}__nocontent" *ngIf="isReady">{{$params.common?.noTournamentText | translate}}</div>
    <div class="{{$class}}__nocontent" *ngIf="!isReady">
        <div wlc-loader></div>
    </div>
</ng-template>
