<div class="{{$class}}__wrapper">
    <div class="{{$class}}__image">
        <img [src]="$params.imagePath" loading="lazy">
    </div>
    <div class="{{$class}}__content">
        <h2 class="{{$class}}__title">{{'Loyalty Program' | translate}}</h2>
        <div wlc-post
             class="{{$class}}__description"
             slug="loyalty-description"
             [useTitle]="false">
        </div>
        <div wlc-loyalty-levels class="{{$class}}__levels-table"></div>
        <div wlc-post
             class="{{$class}}__text"
             slug="loyalty-info"
             [useTitle]="false">
        </div>
    </div>
</div>
