
@if (showDecor) {
    <div class="{{$class}}__decor">
        <span wlc-icon [iconPath]="decorUrl"></span>
    </div>
}
<div class="{{$class}}__content">
    @if (isReady$ | async) {
        <div [ngSwitch]="type" class="{{$class}}__details {{$class}}__details--prices">
            <ng-container *ngSwitchCase="'tournament'" [ngTemplateOutlet]="tournamentInfoTpl"></ng-container>
            <ng-container *ngSwitchCase="'bonus'" [ngTemplateOutlet]="bonusInfoTpl"></ng-container>
            <ng-container *ngSwitchCase="'store'" [ngTemplateOutlet]="storeItemInfoTpl"></ng-container>
        </div>
        <div class="{{$class}}__details {{$class}}__details--wallets">
            <p>{{'Select a wallet' | translate}}:</p>
            <div wlc-wallets [inlineParams]="walletsParams"></div>

            @if (isTournament) {
                <p>{{'Let\'s play?' | translate}}</p>
            }
        </div>

        <div class="{{$class}}__alerts">
            @if (!isBalanceEnough) {
                <div wlc-alert [inlineParams]="balanceAlertParams"></div>
            }
        </div>
    } @else {
        <div wlc-loader></div>
    }
</div>
<div class="{{$class}}__buttons">
    @if (isBalanceEnough) {
        <button wlc-button
            [inlineParams]="subscribeBtnParams"
            data-wlc-element="wlc_loyalty_confirm-subscribe"
            (click)="subscribeHandler()">
        </button>
    } @else {
        <button wlc-button
            [inlineParams]="depositBtnParams"
            data-wlc-element="wlc_loyalty_confirm-deposit">
        </button>
    }

    <button wlc-button
        themeMod="secondary"
        text="Cancel"
        data-wlc-element="wlc_loyalty_confirm-cancel"
        (click)="closeModal()">
    </button>
</div>

<ng-template #tournamentInfoTpl>
    <p>{{'Entry fee:' | translate}}</p>
    <ng-container *ngTemplateOutlet="amountRowTpl; context: {$implicit: debitAmount}"></ng-container>
</ng-template>

<ng-template #bonusInfoTpl>
    <p>{{'Are you sure?' | translate}}</p>

    @if (showSubscribeWarning) {
        <p>
            {{'The current active bonus prohibits the activation of other bonuses. '
            + 'Activation of this bonus will not happen. Are you sure you want to subscribe?' | translate}}
        </p>
    }

    @if (hasCreditAmount) {
        <p>{{'After the bonus is wagered, you will be credited:' | translate}}</p>
        <ng-container *ngTemplateOutlet="amountRowTpl; context: {$implicit: creditAmount}"></ng-container>
    }
</ng-template>

<ng-template #storeItemInfoTpl>
    <p>{{'Are you sure?' | translate}}</p>
    <p>{{'Your balance will be debited:' | translate}}</p>
    <ng-container *ngTemplateOutlet="amountRowTpl; context: {$implicit: debitAmount}"></ng-container>

    @if (hasCreditAmount) {
        <p>{{'Your real balance will be replenished with:' | translate}}</p>
        <ng-container *ngTemplateOutlet="amountRowTpl; context: {$implicit: creditAmount}"></ng-container>
    }
</ng-template>

<ng-template #amountRowTpl let-amount>
    <p class="{{$class}}__amount">
        @for (amountItem of amount; track $index;) {
            <span class="{{$class}}__amount-item">
                @if ($index > 0) {
                    <span class="{{$class}}__amount-divider">+</span>
                }

                <span wlc-currency
                    [digitsInfo]="getDigitsInfo(amountItem)"
                    [value]="amountItem.value"
                    [currency]="getAmountCurrency(amountItem)"
                    [showValueOnly]="showValueOnly(amountItem)">
                </span>

                @if (showCurrencyIcon(amountItem)) {
                    <span
                        wlc-icon
                        class="currency"
                        iconPath="{{getCurrencyIconUrl(amountItem.currency)}}">
                    </span>
                }
            </span>
        }
    </p>
</ng-template>
