<ng-template [ngIf]="$params.showAsBtn" [ngIfElse]="default">
    <button wlc-button
        class="{{$class}}__btn"
        theme='cleared'
        themeMod='secondary'
        customMod='user'
        [animation]="$params.animation"
        [iconPath]="$params.iconPath">
    </button>
</ng-template>

<ng-template #default>
    <span wlc-icon
        class="{{$class}}__user"
        [iconPath]="$params.iconPath"
        wlcElement="wlc-icon-user">
    </span>
    <span *ngIf="showArrow"
        wlc-icon
        class="{{$class}}__arrow"
        iconPath="/wlc/icons/arrow.svg"
        wlcElement="icon_arrow">
    </span>
</ng-template>
