.wlc-winner--theme-1:host {

    .wlc-winner {

        &__wrapper {
            max-width: ef.get-value($theme1, 'maxWidth');
            margin: ef.get-value($theme1, 'wrapperMargin');
            padding: ef.get-value($theme1, 'wrapperPadding');
            cursor: pointer;

            &:after {
                content: '';

                position: absolute;
                right: 0;
                bottom: -(ef.get-value($theme1, 'wrapperPseudoBorderHeight') * 0.5);
                left: 0;

                width: ef.get-value($theme1, 'wrapperPseudoBorderWidth');
                height: ef.get-value($theme1, 'wrapperPseudoBorderHeight');
                margin: 0 auto;

                background: ef.get-value($theme1, 'wrapperPseudoBorderBg');
            }

            @include em.hover {

                .wlc-winner__game {
                    color: ef.get-value($theme1, 'gameHoverColor');
                    border-bottom: ef.get-value($theme1, 'gameBorderBottomActive');
                }
            }
        }

        &__block {

            &--right {
                grid-template-areas: ef.get-value($theme1, 'rightGridAreas');
                grid-template-columns: ef.get-value($theme1, 'rightGridColumns');
                gap: ef.get-value($theme1, 'rightGap');
            }
        }

        &__picture {
            width: ef.get-value($theme1, 'iconWidth');
        }

        &__game {
            @include em.transition();

            display: inline-block;
            justify-self: start;
            max-width: 100%;
            color: ef.get-value($theme1, 'gameColor');
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            border-bottom: ef.get-value($theme1, 'gameBorderBottomInactive');
        }

        &__amount {
            color: ef.get-value($theme1, 'amountColor');
            text-align: ef.get-value($theme1, 'amountTextAlign');
        }
    }
}
