.wlc-winner--theme-default:host {

    .wlc-winner {

        &__wrapper {
            position: relative;
            display: flex;
            line-height: ef.get-value($themeDefault, 'lineHeight');
            align-items: center;
            padding-left: ef.get-value($themeDefault, 'borderLinePadding');

            &:before {
                content: '';
                position: absolute;
                width: ef.get-value($themeDefault, 'borderLineWidth');
                height: 90%;
                top: 10%;
                left: 0;
                border-radius: ef.get-value($themeDefault, 'borderLineRadius');
                background-color: ef.get-value($themeDefault, 'borderLineColor');
            }
        }

        &__block {

            &--left {
                flex: 0 0 auto;
            }

            &--right {
                flex: 1 1 auto;
                min-width: 0;
                display: grid;
                grid-template-columns: ef.get-value($themeDefault, 'rightGridTemplateColumns');
                grid-template-areas: ef.get-value($themeDefault, 'rightGridTemplateAreas');
                column-gap: ef.get-value($themeDefault, 'rightColumbGap');
                row-gap: ef.get-value($themeDefault, 'rightRowGap');
                @include em.get-mq-map('margin-left', $themeDefault, 'rightMarginLeft');
            }
        }

        &__picture {
            width: ef.get-value($themeDefault, 'imageSize');
        }

        &__image {
            width: ef.get-value($themeDefault, 'imageSize');
            height: ef.get-value($themeDefault, 'imageSize');
            max-width: ef.get-value($themeDefault, 'imageSize');
            max-height: ef.get-value($themeDefault, 'imageSize');
            border-radius: ef.get-value($themeDefault, 'imageBorderRadius');
            object-fit: cover;
            object-position: center;
            border: ef.get-value($themeDefault, 'imageBorder');
            box-shadow: ef.get-value($themeDefault, 'imageShadow');
        }

        &__user {
            grid-area: user;
            display: flex;
            min-width: 1px;
            align-items: center;
            @include text.get-text-style('PlaceholderText', ef.get-value($themeDefault, 'userColor'));
            text-transform: ef.get-value($themeDefault, 'userTextTransform');
        }

        &__name {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: visible;
            white-space: nowrap;
        }

        &__country {
            flex: 0 0 auto;
            object-fit: cover;
            object-position: center;
            width: ef.get-value($themeDefault, 'countryWidth');
            height: ef.get-value($themeDefault, 'countryHeight');
            margin-right: ef.get-value($themeDefault, 'countryMarginRight');
            border: ef.get-value($themeDefault, 'countryBorder');
            box-shadow: ef.get-value($themeDefault, 'countryShadow');
        }

        &__game {
            @include text.get-text-style(ef.get-value($themeDefault, 'gameTextStyle'), ef.get-value($themeDefault, 'gameColor'));

            display: grid;
            grid-area: game;
            grid-gap: ef.get-value($themeDefault, 'gameArrowMarginLeft');
            grid-template-columns: ef.get-value($themeDefault, 'gameColumns');
            align-items: ef.get-value($themeDefault, 'gameAlignItems');
            justify-items: ef.get-value($themeDefault, 'gameJustifyItems');
            padding: ef.get-value($themeDefault, 'gamePadding');

            text-align: ef.get-value($themeDefault, 'gameTextAlign');
            text-decoration: none;

            background: transparent;
            border: none;

            &:focus {
                outline: none;
            }

            &-name {
                @include em.transition(border-color);
                @include gameNameOverflow();

                border-bottom: 1px solid ef.get-value($themeDefault, 'gameBorderColor');
            }

            &-arrow {
                @include em.transition(color);

                width: ef.get-value($themeDefault, 'gameArrowWidth');
                min-width: 0;

                color: ef.get-value($themeDefault, 'gameArrowColor');
                border-bottom: 1px solid ef.get-value($themeDefault, 'gameBorderColor');
            }

            @include em.hover() {
                color: ef.get-value($themeDefault, 'gameHoverColor');

                .wlc-winner__game-name {
                    border-bottom-color: ef.get-value($themeDefault, 'gameHoverBorderColor');
                }

                .wlc-winner__game-arrow {
                    color: ef.get-value($themeDefault, 'gameHoverArrowColor');
                }
            }
        }

        &__amount {
            grid-area: amount;
            @include text.get-text-style('ThirdTitleBold', ef.get-value($themeDefault, 'amountColor'));
            white-space: nowrap;
            text-align: right;
        }
    }
}
