.wlc-winner--theme-default:host {

    .wlc-winner {

        &__wrapper {
            @include em.get-mq-map('gap', $themeDefault, 'gap');

            padding-left: ef.get-value($themeDefault, 'borderLinePadding');

            &:before {
                content: '';

                position: absolute;
                top: 10%;
                left: 0;
                width: ef.get-value($themeDefault, 'borderLineWidth');
                height: 90%;
                background-color: ef.get-value($themeDefault, 'borderLineColor');

                border-radius: ef.get-value($themeDefault, 'borderLineRadius');
            }
        }

        &__block {

            &--right {
                row-gap: ef.get-value($themeDefault, 'rightRowGap');
            }
        }
    }
}
