@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@import './../utils/mixins';

.wlc-winner--theme-vertical:host {

    .wlc-winner {

        &__wrapper {
            position: relative;
            display: flex;
            line-height: ef.get-value($themeVertical, 'lineHeight');
        }

        &__block {

            &--left {
                flex: 0 0 auto;
            }

            &--right {
                flex: 1 1 auto;
                min-width: 0;
                display: grid;
                grid-template-columns: ef.get-value($themeVertical, 'rightGridTemplateColumns');
                grid-template-areas: ef.get-value($themeVertical, 'rightGridTemplateAreas');
                column-gap: ef.get-value($themeVertical, 'rightColumbGap');
                row-gap: ef.get-value($themeVertical, 'rightRowGap');
                margin-left: ef.get-value($themeVertical, 'leftMarginLevtVertival');
                background-color: ef.get-value($themeVertical, 'leftBackground');
                border-radius: ef.get-value($themeVertical, 'rightBorderRadius');
                padding: ef.get-value($themeVertical, 'leftPadding');
            }
        }

        &__image {
            width: ef.get-value($themeVertical, 'imageSize');
            height: ef.get-value($themeVertical, 'imageSize');
            max-width: ef.get-value($themeVertical, 'imageSize');
            max-height: ef.get-value($themeVertical, 'imageSize');
            border-radius: ef.get-value($themeVertical, 'imageBorderRadius');
            object-fit: cover;
            object-position: center;
            border: ef.get-value($themeVertical, 'imageBorder');
            box-shadow: ef.get-value($themeVertical, 'imageShadow');
        }

        &__user {
            grid-area: user;
            display: flex;
            min-width: 1px;
            align-items: center;
            @include text.get-text-style('PlaceholderText', ef.get-value($themeDefault, 'userColor'));
            text-transform: ef.get-value($themeVertical, 'userTextTransform');
        }

        &__name {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: visible;
            white-space: nowrap;
        }

        &__country {
            flex: 0 0 auto;
            object-fit: cover;
            object-position: center;
            width: ef.get-value($themeVertical, 'countryWidth');
            height: ef.get-value($themeVertical, 'countryHeight');
            margin-right: ef.get-value($themeVertical, 'countryMarginRight');
            border: ef.get-value($themeVertical, 'countryBorder');
            box-shadow: ef.get-value($themeVertical, 'countryShadow');
        }

        &__game {
            padding: 0;
            background: transparent;
            border: none;

            grid-area: game;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include text.get-text-style('ThridTitleBold', ef.get-value($themeDefault, 'gameColor'));
            text-decoration: none;

            &:hover {
                color: ef.get-value($themeVertical, 'gameHoverColor');

                .wlc-winner__game-name {
                    border-bottom-color: ef.get-value($themeVertical, 'gameHoverBorderColor');
                }

                .wlc-winner__game-arrow {
                    color: ef.get-value($themeVertical, 'gameHoverArrowColor');
                }
            }

            &:focus {
                outline: none;
            }
        }

        &__game-name {
            flex: 0 1 auto;
            min-width: 0;
            border-bottom: 1px solid ef.get-value($themeVertical, 'gameBorderColor');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: ef.get-value($themeVertical, 'transition');
        }

        &__game-arrow {
            flex: 0 1 auto;
            min-width: 0;
            border-bottom: 1px solid ef.get-value($themeVertical, 'gameBorderColor');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: ef.get-value($themeVertical, 'gameArrowColor');
            margin-left: ef.get-value($themeVertical, 'gameArrowMarginLeft');
            transition: ef.get-value($themeVertical, 'transition');
        }

        &__amount {
            grid-area: amount;
            @include text.get-text-style('ThridTitleBold', ef.get-value($themeDefault, 'amountColor'));
            white-space: nowrap;
            text-align: right;
        }
    }
}
