.wlc-winner--theme-vertical:host {

    .wlc-winner {

        &__wrapper {
            height: ef.get-value($themeVertical, 'imageSize');
        }

        &__block {

            &--right {
                padding: ef.get-value($themeVertical, 'rightPadding');
                background: ef.get-value($themeVertical, 'rightBackground');
                border-radius: ef.get-value($themeVertical, 'rightBorderRadius');
            }
        }

        &__game {

            &-arrow {
                color: ef.get-value($themeVertical, 'gameArrowColor');
            }

            @include em.hover() {

                .wlc-winner__game-arrow {
                    color: ef.get-value($themeVertical, 'gameHoverArrowColor');
                }
            }
        }
    }
}
