.wlc-loyalty-program--theme-default:host {

    .wlc-loyalty-program__wrapper {
        @include bm.get-mq-map('margin', $themeDefault, 'wrapperMargin');

        display: ef.get-value($themeDefault, 'wrapperDisplay');
        flex-direction: ef.get-value($themeDefault, 'wrapperDirection');
        align-items: ef.get-value($themeDefault, 'wrapperAlignItems');
    }

    .wlc-loyalty-program {

        &__title {
            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFont'), ef.get-value($themeDefault, 'titleFontColor'));
        }

        &__container {
            @include bm.get-mq-map('padding', $themeDefault, 'containerPadding');
            @include bm.get-mq-map('background', $themeDefault, 'containerBackground');

            position: ef.get-value($themeDefault, 'containerPosition');

            width: ef.get-value($themeDefault, 'containerWidth');

            overflow: ef.get-value($themeDefault, 'containerOverflow');
        }

        &__container-decor {
            @include bm.get-mq-map('display', $themeDefault, 'containerDecorDisplay');

            position: ef.get-value($themeDefault, 'containerDecorPosition');
            top: ef.get-value($themeDefault, 'containerDecorTop');
            left: ef.get-value($themeDefault, 'containerDecorLeft');
            z-index: ef.get-value($themeDefault, 'containerDecorZindex');

            width: ef.get-value($themeDefault, 'containerDecorWidth');
            height: ef.get-value($themeDefault, 'containerDecorHeight');

            transform: ef.get-value($themeDefault, 'containerDecorTranslate');
        }

        &__decor-left {
            position: ef.get-value($themeDefault, 'decorLeftPosition');
            bottom: ef.get-value($themeDefault, 'decorLeftBottom');
            left: ef.get-value($themeDefault, 'decorLeftLeft');
            z-index: ef.get-value($themeDefault, 'decorLeftZindex');

            width: ef.get-value($themeDefault, 'decorLeftWidth');
            height: ef.get-value($themeDefault, 'decorLeftHeight');

            background-repeat: ef.get-value($themeDefault, 'decorLeftBgRepeat');
            background-position: ef.get-value($themeDefault, 'decorLeftBgPosition');
        }

        &__decor-right {
            position: ef.get-value($themeDefault, 'decorRightPosition');
            top: ef.get-value($themeDefault, 'decorRightTop');
            right: ef.get-value($themeDefault, 'decorRightRight');
            z-index: ef.get-value($themeDefault, 'decorRightZindex');

            width: ef.get-value($themeDefault, 'decorRightWidth');
            height: ef.get-value($themeDefault, 'decorRightHeight');

            background-repeat: ef.get-value($themeDefault, 'decorRightBgRepeat');
            background-position: ef.get-value($themeDefault, 'decorRightBgPosition');
        }

        &__slider {

            ::ng-deep {

                .swiper-slide {
                    width: ef.get-value($themeDefault, 'slideWidth');
                }
            }
        }

        &__items-wrapper {
            @include bm.get-mq-map('grid-template-columns', $themeDefault, 'itemsWrapperTemplateColumns');
            @include bm.get-mq-map('gap', $themeDefault, 'itemsWrapperGap');

            @include bm.get-mq-map('width', $themeDefault, 'itemsWrapperWidth');
            @include bm.get-mq-map('margin', $themeDefault, 'itemsWrapperMargin');

            position: ef.get-value($themeDefault, 'itemsWrapperPosition');
            z-index: ef.get-value($themeDefault, 'itemsWrapperZindex');

            display: ef.get-value($themeDefault, 'itemsWrapperDisplay');
        }

        &__btn-wrapper {
            @include bm.get-mq-map('margin', $themeDefault, 'btnWrappMargin');

            position: ef.get-value($themeDefault, 'btnWrappPosition');
            z-index: ef.get-value($themeDefault, 'btnWrappZindex');

            display: ef.get-value($themeDefault, 'btnWrappDisplay');
            justify-content: ef.get-value($themeDefault, 'btnWrappJustify');
        }

        &-nodata {
            text-align: ef.get-value($themeDefault, 'nodataTextAlign');
        }
    }
}
