$customThemeDefaultPagination: () !default;
// Pagination
$themeDefaultPagination: map-merge((
    'swiperPagiZindex': 10,
    'swiperPagiBottom': 10px,
    'swiperPagiVerticalAside': 10px,
    'swiperPagiBulletWidth': 8px,
    'swiperPagiBulletHeight': 8px,
    'swiperPagiBulletColor': var(--mc-baseOpacity),
    'swiperPagiBulletColorActive': var(--mc-baseMain),
    'swiperPagiBulletWidthActive': 8px,
    'swiperPagiBulletHeightActive': 8px,
    'swiperPagiBulletBorderRadius': 50%,
    'swiperPagiBulletTransition': all ef.get('time', 'main'),
    'swiperPagiBulletDynamicSize': 12px,
    'swiperPagiBulletMarginHorizontal': 0 4px,
    'swiperPagiBulletMarginVertical': 6px 0,
    'swiperPagiProgressbarBg': var(--mc-buttonColor),
    'swiperPagiProgressbarBorderRadius': 4px,
    'swiperPagiProgressbarBgFill': var(--mc-baseOpacity),
    'swiperPagiProgressbarHeight': 4px,
    'swiperPagiContainerDisplay': flex,
    'swiperPagiContainerAlign': flex-end,
    'swiperPagiContainerAbsoluteLeft': 50%,
    'swiperPagiContainerPadding': 60px,
    'swiperPagiTranslateX': translateX(-50%),
    'swiperWithEarsPagiTranslateX': translateX(-50%),
    'paddingPagiContainer': ef.size(8),
    'swiperDisplayDesktop': (
        375: none,
        768: block,
    ),
    'swiperDisplayMobile': (
        375: block,
        768: none,
    ),
), $customThemeDefaultPagination);

$customThemeDefaultBanner: () !default;
$themeDefaultBanner: map-merge((
    'bottomGap': (
        375: ef.size(4),
    ),
    'buttonShadow': none,
    'buttonShadowHover': none,
    'buttonBorder': none,
    'buttonBorderHover': none,
    'iconFill': ef.get('mainColors', 'baseMain'),
    'iconFillDisabled': ef.get('mainColors', 'baseMain'),
    'iconFillHover': ef.get('mainColors', 'baseMain'),
    'buttonBorderRadius': ef.size(2),
    'buttonSize': ef.size(8),
    'containerPadding': 0 ef.size(8),
    'containerBorderRadius': ef.size(2),
    'containerMaxWidth': (
        375: calc(100% - 30px),
        1366: 80%,
    ),
    'swiperNaviDisplayDesktop': (
        375: none,
        768: flex,
    ),
    'swiperNaviDisplayMobile': (
        375: flex,
        768: none,
    ),
    // Gradient button
    'gradientOverlayBg': #000,
    'gradientOverlayOpacity': 0.4,
    'gradientOverlayMixBlend': overlay,
), $customThemeDefaultBanner);

$customThemeShowAll: () !default;
// Navigation
$themeShowAll: map-merge((
    'allDirection': column,
    'allAlign': center,
    'allJustify': center,
    'allBg': var(--mc-bg700),
    'allBorderRadius': ef.get('radius', 'less'),

    'allIconAlign': center,
    'allIconJustify': center,
    'allIconBorderRadius': 50%,
    'allIconSize': 30px,
    'allIconBg': var(--mc-baseOpacity),

    'allText': 'PrimaryTextBold',
    'allTextColor': var(--mc-baseOpacity),
    'allMargin': ef.size(1) 0 0,
), $customThemeShowAll);
