
<ng-container [ngSwitch]="$params.themeMod">
    <ng-container *ngSwitchCase="'short-line'" [ngTemplateOutlet]="short"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #default>
    <div class="{{$class}}__values">
        <span *ngFor="let prize of prizes;"
            class="{{$class}}__val {{$class}}--{{prize.currency.toLowerCase()}}">
            <span *ngIf="prize.value; else noValue"
                wlc-currency
                [digitsInfo]="isTornamentHistory ? null : getDigitsInfo(prize.currency)"
                [value]="prize.value"
                [currency]="prize.currency">
            </span>
        </span>
    </div>
</ng-template>

<ng-template #short>
    <div class="{{$class}}__values">
        <span *ngFor="let prize of mainCurrency;"
            class="{{$class}}__val {{$class}}--{{prize.currency.toLowerCase()}}">
            <span *ngIf="prize.value; else noValue"
                wlc-currency
                [digitsInfo]="getDigitsInfo(prize.currency)"
                [value]="prize.value"
                [currency]="prize.currency">
            </span>
        </span>
        <span *ngIf="restCurrency.length"
            class="{{$class}}__rest-icon">
            <span *ngIf="mainCurrency.length && restCurrency.length"> + </span>
            <span wlc-icon
                class="{{$class}}__icon"
                containerClass="currency-tooltip"
                container="body"
                [tooltip]="tooltipContent"
                [iconPath]="$params.shortLineIcon">
            </span>
        </span>
    </div>
</ng-template>

<ng-template #noValue>-</ng-template>

<ng-template #tooltipContent>
    <span *ngFor="let prize of restCurrency">
        <span *ngIf="prize.value; else noValue"
            wlc-currency
            [value]="prize.value"
            [currency]="prize.currency">
        </span>
    </span>
</ng-template>
