.wlc-loyalty-table--theme-default:host {

    .wlc-table {

        &.wlc-table--mobile::ng-deep {

            .wlc-table__cell {

                &.wlc-table__cell--first {
                    grid-template-columns: ef.get-value($themeDefault, 'firstCellTemplateColumns');

                    .wlc-table__cell-label {
                        display: none;
                    }
                }

                &.wlc-table__cell--name:not(.wlc-table__cell--first) {
                    display: none;
                }
            }
        }
    }
}
