.wlc-accordion--theme-default:host {
    display: grid;
    grid-gap: ef.get-value($themeDefault, 'itemsGapSize');
    grid-template-columns: 1fr;

    .wlc-accordion {

        &__header-title {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'headerTextStyle', 320),
                ef.get-value($themeDefault, 'headerFontColor'),
            );
            display: flex;
            align-items: center;
            justify-content: center;
            padding: ef.get-value($themeDefault, 'headerPadding');

            @include mq.min(768) {
                @include text.get-text-style(ef.get-value($themeDefault, 'headerTextStyle', 768), null);
            }
        }

        &__item {
            background: ef.get-value($themeDefault, 'itemBackground');
            transition: all ef.get-value($themeDefault, 'time');
            overflow: hidden;
            border-radius: ef.get-value($themeDefault, 'itemBorderRadius');

            &.expanded {
                background: ef.get-value($themeDefault, 'itemBackgroundActive');

                .wlc-accordion__title-text {
                    color: ef.get-value($themeDefault, 'titleIconColorActive');
                }

                .wlc-accordion__title-icon ::ng-deep svg path {
                    fill: ef.get-value($themeDefault, 'titleIconColorActive');
                }

                .wlc-accordion__title-icon {
                    transform: ef.get-value($themeDefault, 'titleIconTransform');
                }
            }

            @include bm.hover {
                background: ef.get-value($themeDefault, 'itemBackgroundActive');

                .wlc-accordion__title-text {
                    color: ef.get-value($themeDefault, 'titleIconColorActive');
                }

                .wlc-accordion__title-icon ::ng-deep svg path {
                    fill: ef.get-value($themeDefault, 'titleIconColorActive');
                }
            }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: ef.get-value($themeDefault, 'titleMinHeight');
            padding: ef.get-value($themeDefault, 'paddingSize');
            cursor: pointer;

            &-text {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'titleTextStyle', 320),
                    ef.get-value($themeDefault, 'titleColor'),
                );
                flex-grow: 1;
                padding-right: ef.get-value($themeDefault, 'paddingSize');
                transition: all ef.get-value($themeDefault, 'time');

                @include mq.min(768) {
                    @include text.get-text-style(ef.get-value($themeDefault, 'titleTextStyle', 768), null);
                }
            }

            &-icon {
                flex-grow: 0;
                transition: all ef.get-value($themeDefault, 'time');

                ::ng-deep {

                    .wlc-icon-content {
                        @include bm.get-mq-map('width', $themeDefault, 'titleIconSize');
                        @include bm.get-mq-map('height', $themeDefault, 'titleIconSize');
                        display: flex;
                    }

                    svg {
                        width: 100%;
                        height: auto;

                        path {
                            transition: all ef.get-value($themeDefault, 'time');
                            fill: ef.get-value($themeDefault, 'titleIconColor');
                        }
                    }
                }
            }
        }

        &__content {
            padding: {
                right: ef.get-value($themeDefault, 'paddingSize');
                left: ef.get-value($themeDefault, 'paddingSize');
            };

            &-wrp {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'contentTextStyle', 320),
                    ef.get-value($themeDefault, 'contentFontColor'),
                );
                border-top: ef.get-value($themeDefault, 'contentTopBorder');
                padding: {
                    top: ef.get-value($themeDefault, 'paddingSize');
                    bottom: ef.get-value($themeDefault, 'paddingSize');
                };

                @include mq.min(768) {
                    @include text.get-text-style(ef.get-value($themeDefault, 'contentTextStyle', 768), null);
                }
            }
        }
    }
}
