.wlc-scrollbar--theme-default:host {

    &[class] {
        @include bm.scrollbar($themeDefault);

        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
    }
}
