.tooltip {
    --bs-tooltip-bg-color: #{ef.get-value($tooltipConfig, 'bg')};
    --bs-tooltip-color: #{ef.get-value($tooltipConfig, 'color')};

    @include text.get-text-style(
        ef.get-value($tooltipConfig, 'textStyleCompact'),
        var(--bs-tooltip-color),
    );
    position: absolute;
    z-index: 1080;
    display: block;
    max-width: ef.get-value($tooltipConfig, 'maxWidth');
    margin: 0;
    word-wrap: break-word;
    opacity: 0;

    &.currency-tooltip {
        @include text.get-text-style(
            ef.get-value($tooltipConfig, 'currencyTextStyle'),
            ef.get-value($tooltipConfig, 'currencyColor'),
        );
        max-width: none;

        & .tooltip-inner {
            border-radius: ef.get-value($tooltipConfig, 'currencyBorderRadius');

            & > span {

                &:not(:first-child) {

                    &:before {
                        content: '+';
                        display: inline-block;
                        margin: 0 ef.size(1);
                    }
                }
            }
        }
    }

    &.wlc-tooltip__bs-tooltip--error,
    &.tooltip-error {
        --bs-tooltip-bg-color: #{ef.get-value($tooltipConfig, 'bgError')};
        --bs-tooltip-color: #{ef.get-value($tooltipConfig, 'color')};
    }

    &.show {
        opacity: ef.get-value($tooltipConfig, 'opacity');
    }

    .tooltip-arrow {
        position: absolute;
        display: block;
        width: ef.get-value($tooltipConfig, 'arrowWidth');
        height: ef.get-value($tooltipConfig, 'arrowHeight');

        &:before {
            content: '';
            position: absolute;
            border-color: transparent;
            border-style: solid;
        }
    }

    &.wlc-tooltip--compact {

        .tooltip-inner {
            @include text.get-text-style(
                ef.get-value($tooltipConfig, 'textStyleCompact'),
                null,
            );
        }
    }
}

.bs-tooltip-top {
    padding: ef.get-value($tooltipConfig, 'arrowHeight') 0;

    .tooltip-arrow {
        bottom: 0;

        &:before {
            top: -1px;
            border-width:
                (
                    ef.get-value($tooltipConfig, 'arrowHeight')
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    0
                );
            border-top-color: var(--bs-tooltip-bg-color);
        }
    }
}

.bs-tooltip-end {
    padding: 0 ef.get-value($tooltipConfig, 'arrowHeight');

    .tooltip-arrow {
        left: 0;
        width: ef.get-value($tooltipConfig, 'arrowHeight');
        height: ef.get-value($tooltipConfig, 'arrowWidth');

        &:before {
            right: -1px;
            border-width:
                (
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    ef.get-value($tooltipConfig, 'arrowHeight')
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    0
                );
            border-right-color: var(--bs-tooltip-bg-color);
        }
    }
}

.bs-tooltip-bottom {
    padding: ef.get-value($tooltipConfig, 'arrowHeight') 0;

    .tooltip-arrow {
        top: 0;

        &:before {
            bottom: -1px;
            border-width:
                (
                    0
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    ef.get-value($tooltipConfig, 'arrowHeight')
                );
            border-bottom-color: var(--bs-tooltip-bg-color);
        }
    }
}

.bs-tooltip-start {
    padding: 0 ef.get-value($tooltipConfig, 'arrowHeight');

    .tooltip-arrow {
        right: 0;
        width: ef.get-value($tooltipConfig, 'arrowHeight');
        height: ef.get-value($tooltipConfig, 'arrowWidth');

        &:before {
            left: -1px;
            border-width:
                (
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    0
                    (#{ef.get-value($tooltipConfig, 'arrowWidth') * 0.5})
                    ef.get-value($tooltipConfig, 'arrowHeight')
                );
            border-left-color: var(--bs-tooltip-bg-color);
        }
    }
}

.bs-tooltip-auto {

    &[data-popper-placement^='top'] {
        @extend .bs-tooltip-top;
    }

    &[data-popper-placement^='right'] {
        @extend .bs-tooltip-end;
    }

    &[data-popper-placement^='bottom'] {
        @extend .bs-tooltip-bottom;
    }

    &[data-popper-placement^='left'] {
        @extend .bs-tooltip-start;
    }
}
// Wrapper for the tooltip content

.tooltip-inner {
    padding: ef.get-value($tooltipConfig, 'padding');
    text-align: center;
    border-radius: ef.get-value($tooltipConfig, 'borderRadius');
    background-color: var(--bs-tooltip-bg-color);
    box-shadow: ef.get-value($tooltipConfig, 'boxShadow');
}
