<ng-template #join>
    <div class="{{$class}}__container">
        <div class="{{$class}}__text">
            {{'You have' | translate}}: <span wlc-currency [value]="$params.common.userBalance"></span>
        </div>
        <div class="{{$class}}__text">
            {{'Entry fee' | translate}}: <span wlc-currency [value]="$params.common.feeAmount"></span>
        </div>
        <div class="{{$class}}__text">
            {{$params.common.text | translate}}
        </div>
    </div>
</ng-template>

<ng-template #leave>
    <div class="{{$class}}__text">
        {{$params.common.text | translate}}
    </div>
</ng-template>


<ng-container [ngSwitch]="$params.common.actionType">
    <ng-container [ngTemplateOutlet]="leave" *ngSwitchCase="'leave'"></ng-container>
    <ng-container [ngTemplateOutlet]="join" *ngSwitchDefault></ng-container>
</ng-container>
