
.wlc-game-catalog__menu-list {
    display: flex;

    @include max900 {
        position: relative;
        align-items: end;
    }
}

.wlc-game-catalog__menu-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .wlc-icon-filter-close {
        display: none;
    }

    &.active {

        .wlc-icon-filter-close {
            display: block;
        }
    }

    &.active,
    &:hover {
        color: getBaseColor('highlightThird');

        svg {
            fill: getBaseColor('highlightThird');
        }
    }

    &.filter-active {
        color: getBaseColor('highlightSecond');

        svg {
            fill: getBaseColor('highlightSecond');
        }

        .wlc-icon-filter-close {
            display: block;
        }
    }

    &.filter {
        color: getBaseColor('highlightThird');
    }

    .wlc-search-form {
        display: none;
        position: relative;

        &__close {
            display: none;
            position: absolute;
            right: 5px;
            top: 50%;
            cursor: pointer;
            transform: translate(0, -50%);
            width: 20px;
            height: 20px;

            svg {
                width: 100%;
                height: 100%;

                * {
                    stroke: getBaseColor('white');
                }
            }
        }

        @include max900 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
        }
    }

    &.search-active {
        color: getBaseColor('highlightSecond');

        svg {
            fill: getBaseColor('highlightSecond');
        }

        .wlc-search-form {
            display: block;

            &__close {
                display: block;
            }
        }

        .wlc-search-label {

            span {
                display: none;

                @include max900 {
                    display: block;
                }

                @include max640 {
                    display: none;
                }
            }
        }

        @include max900 {
            padding-bottom: 40px;
        }
    }

    svg {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        fill: getBaseColor('primary');
    }

    .wlc-search-label {
        display: flex;
        align-items: center;

        @include max900 {
            flex-direction: column;
        }

        @include max640 {

            span {
                display: none;
            }
        }
    }

    @include max900 {
        flex-direction: column;
    }

    @include max640 {

        span {
            display: none;
        }
    }
}

.wlc-game-catalog__menu-item-filter {

    .wlc-icon-filter-close {

        svg {
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 1rem;
        }

        @include max900 {
            margin-bottom: 10px;

            svg {
                margin-left: 0;
            }
        }
    }

    .wlc-filter-inner {
        display: flex;
        align-items: center;
        justify-content: center;

        @include max900 {
            flex-direction: column;
        }
    }

    &.filter-active {
        @include max900 {
            flex-direction: column-reverse;

            .wlc-filter-inner {

                svg {
                    display: none;
                }
            }
        }
    }
}

.wlc-game-catalog__menu-filter {
    display: none;

    &.active {
        display: block;
    }

    .wlc-games-filter-title,
    .wlc-filter-text {
        display: none;
    }

    .wlc-static-filter-list {
        @include max640 {
            flex-direction: column;
        }
    }

    .wlc-static-filter-list__item {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
