.wlc-form-login {
    font-size: initial;
}

.wlc-form-login__row {
    display: flex;

    @if (getMapValue($wlcLoginForm, 'style') == 'vertical') {
        flex-direction: column;
    } @else {
        margin-left: -10px;
        flex-direction: row;
        align-items: flex-start;
    }
}

.wlc-form-login__col {
    flex-grow: 1;

    @if (getMapValue($wlcLoginForm, 'style') == 'vertical') {
        margin-bottom: 10px;
    } @else {
        padding-left: 10px;
    }
}

.wlc-form-login__label {
    display: block;
    color: getMapValue($wlcLoginForm, 'labelNameColor');
    font-size: getMapValue($wlcLoginForm, 'labelNameFontSize');
    font-weight: getMapValue($wlcLoginForm, 'labelNameFontWeight');
    text-align: left;
}

.wlc-form-login__restore {
    margin-top: 5px;
    font-size: getMapValue($wlcLoginForm, 'restoreFontSize');
    font-weight: getMapValue($wlcLoginForm, 'restoreFontWeight');
    text-align: getMapValue($wlcLoginForm, 'restoreAlign');

    a {
        color: getMapValue($wlcLoginForm, 'restoreColor');

        &:hover {
            color: getMapValue($wlcLoginForm, 'restoreColorHover');
        }
    }
}
