.wlc-pages-list {
    padding: getMapValue($wlcPagesCategory, 'padding');
    background: getMapValue($wlcPagesCategory, 'background');
}

.wlc-pages-list__title {
    margin-bottom: getMapValue($wlcPagesCategory, 'titleMargin');
    color: getMapValue($wlcPagesCategory, 'titleColor');
    font-size: getMapValue($wlcPagesCategory, 'titleSize');
    font-weight: getMapValue($wlcPagesCategory, 'titleWeight');
}

.wlc-pages-list-item {
    padding: getMapValue($wlcPagesCategory, 'itemPadding');
    color: getMapValue($wlcPagesCategory, 'itemColor');
    font-size: getMapValue($wlcPagesCategory, 'itemSize');
    font-weight: getMapValue($wlcPagesCategory, 'itemWeight');

    &.active {

        a {
            color: getMapValue($wlcPagesCategory, 'itemHoverColor');
        }
    }

    a {

        &:hover {
            color: getMapValue($wlcPagesCategory, 'itemHoverColor');
            text-decoration: getMapValue($wlcPagesCategory, 'itemHoverDecoration');
        }
    }
}
