.wlc-pages-container {
    padding: getMapValue($wlcPagesContent, 'padding');
}

.wlc-pages-item {
    padding: getMapValue($wlcPagesContent, 'itemPadding');
    display: flex;
    border-bottom: getMapValue($wlcPagesContent, 'itemBorder');

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    @include max640 {
        flex-direction: column;
    }
}

.wlc-pages-item__image {
    flex-basis: getMapValue($wlcPagesContent, 'imageWidth');
    background-position: center;
    background-size: cover;

    @include max640 {
        flex-basis: auto;
        padding-bottom: 1.5rem;
    }
}

.wlc-pages-item__content {
    flex-basis: getMapValue($wlcPagesContent, 'itemContentWidth');

    &:not(.wlc-pages-item__no-image) {
        padding-left: 1.5rem;

        @include max640 {
            padding-left: 0;
        }
    }

    @include max640 {
        flex-basis: auto;
    }

    .wlc-pages-item-title {
        padding-bottom: getMapValue($wlcPagesContent, 'itemTitlePadding');
        color: getMapValue($wlcPagesContent, 'itemTitleColor');
        font-size: getMapValue($wlcPagesContent, 'itemTitleSize');
        font-weight: getMapValue($wlcPagesContent, 'itemTitleWeight');
    }

    .wlc-pages-item-date {
        padding-bottom: getMapValue($wlcPagesContent, 'itemDatePadding');
        color: getMapValue($wlcPagesContent, 'itemDateColor');
        font-size: getMapValue($wlcPagesContent, 'itemDateSize');
        font-weight: getMapValue($wlcPagesContent, 'itemDateWeight');
    }

    .wlc-pages-item-description {
        padding-bottom: getMapValue($wlcPagesContent, 'itemDescrPadding');
        color: getMapValue($wlcPagesContent, 'itemDescrColor');
        font-size: getMapValue($wlcPagesContent, 'itemDescrSize');
        font-weight: getMapValue($wlcPagesContent, 'itemDescrWeight');
        line-height: getMapValue($wlcPagesContent, 'itemDescrLineHeight');
        overflow-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }
}

.wlc-pages-container__item {

    h1 {
        margin-bottom: 1.5rem;
    }

    img {

        &.alignleft {
            margin: 0 1.5rem 1.5rem 0;
        }

        &.alignright {
            margin: 0 0 1.5rem 1.5rem;
        }
    }
}

.wlc-pages-container__bottom {
    margin-top: 1.5rem;
}

.wlc-pages-container__btn_back {
    display: inline-block;
    color: getMapValue($wlcPagesContent, 'viewItemLinkColor');
    font-size: getMapValue($wlcPagesContent, 'viewItemLinkSize');
    font-weight: getMapValue($wlcPagesContent, 'viewItemLinkWeight');

    &:hover {
        text-decoration: underline;
    }
}
