.wlc-profile-menu-horizontal {
    width: 100%;
    margin-bottom: 40px;

    .wlc-icon {
        display: none;
    }

    @include max900 {
        display: none;
    }
}

.wlc-profile-menu-horizontal__row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: getMapValue($wlcProfile, 'tabsTextAlign');
}

.wlc-profile-menu-horizontal__tabs {
    margin-bottom: 15px;
}

.wlc-profile-menu-horizontal__tab {
    padding: 0 15px 15px;
    flex-grow: 1;

    span {
        padding: getMapValue($wlcProfile, 'tabsTextPadding');
        display: block;
        color: getMapValue($wlcProfile, 'tabsTextColor');
        font-size: getMapValue($wlcProfile, 'tabsTextSize');
        text-align: center;
        cursor: pointer;
    }
}

.wlc-profile-menu-horizontal__tab_active {

    span {
        font-weight: getMapValue($wlcProfile, 'tabsTextActiveFontWeight');
        background: getMapValue($wlcProfile, 'tabsTextActiveColor');
    }
}

.wlc-profile-menu-horizontal__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: getMapValue($wlcProfile, 'tabLinkAlign');
    border-top: getMapValue($wlcProfile, 'tabsLinkBorder');
    border-bottom: getMapValue($wlcProfile, 'tabsLinkBorder');
    padding: 15px 0;
}

.wlc-profile-menu-horizontal__menu-item {
    color: getMapValue($wlcProfile, 'tabLinkColor');
    font-size: getMapValue($wlcProfile, 'tabLinkSize');
    padding: getMapValue($wlcProfile, 'tabLinkPadding');
}
