.wlc-store {
    @include baseItemsBlock(0 -15px);
}

.wlc-store-navbar {

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__item {
        padding: 10px;

        &.active {
            text-decoration: underline;
        }
    }
}

.wlc-store-item {
    @include baseItem(0 0 40px, 0 20px);
    @include itemInBlock(0 0 33.3333%);
}

.wlc-store-item__loyalty {
    color: getMapValue($wlcMobileMenu, 'titleColor');
    font-weight: bold;
    font-size: getFontSize('medium');
}

.wlc-store-item__name {
    font-weight: bold;
    color: getMapValue($wlcFooter, 'paymentsColor');
    font-size: getFontSize('large');
}

.wlc-store-item-image {
    @include itemImage;
}

.wlc-store-item-image_inner {
    @include itemImageInner;
    cursor: auto;
}

.wlc-store-item-description {
    @include itemDescription(12px);
}

.wlc-store-item-description__name {
    @include itemDescriptionName(700, 60px);
}

.wlc-store-item-description-btns {
    @include itemDescriptionBtns;
}

.wlc-store-box {
    padding-top: getMapValue($wlcProfile, 'contentPadding') - 15px;
    padding-right: getMapValue($wlcProfile, 'contentPadding') - 30px;
    padding-left: getMapValue($wlcProfile, 'contentPadding') - 30px;
    padding-bottom: getMapValue($wlcProfile, 'contentPadding') - 15px;
    background: getMapValue($wlcProfile, 'contentBackground');
    border: getMapValue($wlcProfile, 'contentBorder');
    border-top: getMapValue($wlcProfile, 'contentBorderTop');
    border-right: getMapValue($wlcProfile, 'contentBorderRight');
    border-bottom: getMapValue($wlcProfile, 'contentBorderBottom');
    border-left: getMapValue($wlcProfile, 'contentBorderLeft');
    border-radius: getMapValue($wlcProfile, 'contentBorderRadius');
    box-shadow: getMapValue($wlcProfile, 'contentBoxShadow');
    display: flex;
    flex-wrap: wrap;
    @include max720 {
        padding-top: getMapValue($wlcProfile, 'contentPadding') - 25px;
        padding-right: getMapValue($wlcProfile, 'contentPadding') - 40px;
        padding-left: getMapValue($wlcProfile, 'contentPadding') - 40px;
        padding-bottom: getMapValue($wlcProfile, 'contentPadding') - 25px;
    }
}

.wlc-store-thumb {
    background: getMapValue($wlcGameThumb, 'background');
    overflow: hidden;
    box-shadow: getMapValue($wlcGameThumb, 'shadow');

    .wlc-wrp > & {
        margin: 0 getMapValue($wlcGameThumb, 'spaceBetween');
    }

    &__footer {
        padding: 15px 0;
        display: flex;

        .wlc-store-thumb__leftcol {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

.wlc-store-image {
    border-radius: getElementStyle('borderRadius');
    border: none;

    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    }

    .wlc-image-placeholder {
        width: 100%;
        padding-bottom: 58%;
        //padding-bottom: 100% / getMapValue($wlcStore, 'imageAR');
    }
}

.wlc-btn-store-item {
    background-color: getMapValue($wlcMobileMenu, 'titleColor');
    color: getMapValue($wlcProfile, 'contentBackground');
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 0;
    height: 3rem;

    &:hover {
        background-color: getMapValue($wlcFooter, 'paymentsColor');
    }
}

.wlc-header-store {
    display: flex;

    h1 {
        flex-grow: 1;
    }

    &__balance {
        font-size: getFontSize('xlarge');
        color: getMapValue($wlcMobileMenu, 'titleColor');
        font-weight: bold;
    }
}

.wlc-profile-store-delimeter {
    height: getMapValue($wlcProfileEdit, 'delimeterHeight');
    width: getMapValue($wlcProfileEdit, 'delimeterWidth');
    margin: 0 0 36px;
    background: getMapValue($wlcFooter, 'paymentsColor');
}
