.wlc-user-info {

    &__table {
        display: table;
        font-size: 1.5rem;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;
        padding: 3px 0;

        &_email {
            max-width: 200px;
        }

        &:first-child {
            padding-right: 5px;
        }

        & .wlc-btn {
            font-size: inherit !important;
        }
    }

    &__deposit {
        margin-left: 10px;
    }

    .wlc-user-info__row_all-balances {
        font-size: getFontSize('small');
    }

    .wlc-all-balances-block {
        width: 100%;
    }

    .wlc-all-balances-block__label {
        margin-right: 15px;
    }

    .wlc-all-balances-block_data {
        margin-right: 15px;
        white-space: nowrap;
    }

    .wlc-all-balances-block__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
