.wlc-user-stat__block-mini {
    color: getMapValue($wlcUserStatBlock, 'textColor');
    font-size: getMapValue($wlcUserStatBlock, 'fontSize');

    .wlc-user-stat-username {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        position: relative;

        svg {
            fill: none;
            stroke: getMapValue($wlcUserStatBlock, 'textColor');
            stroke-width: 1.5px;
            max-height: getMapValue($wlcUserStatBlock, 'fontSize');
        }
    }

    .wlc-user-stat-username__link {
        white-space: nowrap;
        margin-right: 15px;
        border-bottom: 1px dashed transparentize(getMapValue($wlcUserStatBlock, 'textColor'), 0.4);

        span {
            display: inline-block;
            max-width: getMapValue($wlcUserStatBlock, 'nameBlockMaxWeight');
            white-space: nowrap;

            @include max1200 {
                max-width: 180px;
            }
        }

        &:hover {

            & + .wlc-user-stat__loyalty {
                display: block;
            }
        }
    }

    .wlc-user-stat__loyalty {
        display: none;
        position: absolute;
        background-color: getMapValue($wlcUserStatBlock, 'highlightColor');
        left: 0;
        right: 0;
        margin-top: 0.5rem;
        top: getMapValue($wlcUserStatBlock, 'fontSize');
        z-index: 10;
        color: getMapValue($wlcUserStatBlock, 'hoverTextColor');
        padding: 1rem;
        border-radius: getMapValue($wlcUserStatBlock, 'hoverBorderRadius');
    }

    .wlc-icon-logout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wlc-user-stat-balance {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: getMapValue($wlcUserStatBlock, 'fontSize');
        white-space: nowrap;
        position: relative;

        > span {

            @include max1200 {
                display: none;
            }
        }

        .wlc-btn {
            font-size: getMapValue($wlcUserStatBlock, 'fontSize');
        }

        > * {
            display: block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .wlc-user-stat-id {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: getMapValue($wlcUserStatBlock, 'fontSize');
        white-space: nowrap;

        > * {
            display: block;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .wlc-all-balances-wrapper {
        margin-left: -10px;
    }
}
