<ng-container *ngIf="ready; else loading">
    <div class="{{$class}}__header">
        <ng-container [ngSwitch]="$params.themeMod">
            <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="headerThemeModWolf"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="headerDefault"></ng-container>
        </ng-container>
    </div>

    <div class="{{$class}}__games"
        *ngFor="let grid of gamesGridList"
        wlc-games-grid
        [inlineParams]="grid"></div>
</ng-container>

<ng-template #loading>
    <div class="{{$class}}__loader" wlc-loader></div>
</ng-template>

<ng-template #headerDefault>
    <div class="{{$class}}__logo"
        wlc-wrapper
        [attr.data-wlc-element]="icon.wlcElement"
        [inlineParams]="icon">
    </div>

    <p class="{{$class}}__subtitle">{{'Provider' | translate}}</p>
    <h1 class="{{$class}}__title">{{provider.alias | translate}}</h1>
</ng-template>

<ng-template #headerThemeModWolf>
    <h1 class="{{$class}}__title">{{provider.alias | translate}}</h1>

    <div class="{{$class}}__logo"
        wlc-wrapper
        [attr.data-wlc-element]="icon.wlcElement"
        [inlineParams]="icon">
    </div>

    <div class="{{$class}}__subtitle">
        {{'All' | translate}}: {{getGamesCount()}}
    </div>
</ng-template>
