[submodule "src/system/languages"]
	path = src/system/languages
	url = git@vcsxa.egamings.com:wlc/wlc-engine-translate.git
[submodule "src/shared-lib"]
	path = src/shared-lib
	url = git@vcsxa.egamings.com:wlc/wlc-shared-lib.git
