<div *ngIf="inited" class="{{$class}}__content">
    <div wlc-menu [inlineParams]="$params.menuParams"></div>
    <div class="{{$class}}__controls" *ngIf="useSwiperNavigation">
        <button class="{{$class}}__control {{$class}}__control--prev">
            <span wlc-icon iconPath="/wlc/icons/arrow.svg"></span>
        </button>
        <button class="{{$class}}__control {{$class}}__control--next">
            <span wlc-icon iconPath="/wlc/icons/arrow.svg"></span>
        </button>
    </div>
</div>

