<div class="{{$class}}">
    <div wlc-menu [inlineParams]="menuParams"></div>
</div>


<!--<ng-template #sref let-item="item">-->
    <!--<div class="{{$class}}__item {{$class}}__item&#45;&#45;sref">-->
        <!--<span class="{{$class}}__icon" *ngIf="item.icon" wlc-icon [iconName]="item.icon">-->
        <!--</span>-->
        <!--<a class="{{$class}}__link"-->
           <!--uiSref="{{item.params?.state?.name}}"-->
           <!--[uiParams]="item.params?.state?.params"-->
           <!--[uiOptions]="item.params?.state?.options">-->
            <!--{{item.name | translate}}-->
        <!--</a>-->
    <!--</div>-->
<!--</ng-template>-->

<!--<ng-container *ngFor="let item of items" [ngSwitch]="item.type">-->

    <!--<ng-container *ngSwitchCase="'sref'" [ngTemplateOutlet]="sref" [ngTemplateOutletContext]="{item: item}">-->
    <!--</ng-container>-->

<!--</ng-container>-->

