@use 'engine-styles/functions' as ef;

$color: ef.get('color', 'text') !default;
$bgColor: ef.get('color', 'backgroundSecondary') !default;

$clearButtonSize: 12px !default;
$clearButtonColor: ef.get('color', 'text') !default;
$searchIconSize: 18px !default;
$searchIconColor: ef.get('color', 'main') !default;
$searchIconRight: 16px !default;
$spaceBetweenIcons: 14px !default;

$borderRadius: 4px !default;
$border: 2px solid ef.get('color', 'secondary') !default;
$borderColorActive: ef.get('color', 'main') !default;
$inputVerticalPadding: 8px !default;
$inputLeftPadding: 20px !default;
$inputFontSize: ef.get('font', 'size') !default;
$transition: ef.get('time', 'main') linear !default;
