@import './vars';

$rightPadding: $searchIconSize + $searchIconRight + $spaceBetweenIcons + $clearButtonSize;

.wlc-search-field {
    position: relative;
    display: block;
    color: $color;
    line-height: 1;
    font-size: $inputFontSize;

    &__input {
        appearance: textfield;
        background: $bgColor;
        border-radius: $borderRadius;
        border: $border;
        width: 100%;
        padding: $inputVerticalPadding $rightPadding $inputVerticalPadding $inputLeftPadding;
        transition: $transition;
        color: $color;
        font-size: inherit;

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown),
        &:focus {

            & ~ span {
                color: transparent;
            }
        }

        &:not(:placeholder-shown) {

            & ~ button {
                visibility: visible;
            }
        }

        &:focus {
            outline: none;
            border-color: $borderColorActive;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        color: inherit;
        font-size: inherit;
    }

    &__clear {
        position: absolute;
        right: $rightPadding;
        top: 50%;
        height: auto;
        transform: translateY(-50%);
        visibility: hidden;
        appearance: none;
        border: none;
        background: transparent;
        color: $color;
        padding: 4px;
        font-size: 0;
        opacity: 0.5;
        transition: opacity $transition;

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }

        ::ng-deep {

            svg {
                width: $clearButtonSize;
                height: $clearButtonSize;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: $searchIconSize + $searchIconRight;
        transform: translateY(-50%);
        color: $searchIconColor;
        pointer-events: none;

        ::ng-deep {

            svg {
                width: $searchIconSize;
                height: $searchIconSize;
            }
        }
    }
}

