@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;

.wlc-exchange:host {
    @include bm.get-mq-map('padding', $themeDefault, 'outerPadding');
    @include bm.get-mq-map('min-height', $themeDefault, 'minHeight');
    display: grid;

    width: 100%;

    background: ef.get-value($themeDefault, 'bg');
    box-shadow: ef.get-value($themeDefault, 'boxShadow');
    border-radius: ef.get-value($themeDefault, 'contentRadius');

    overflow: hidden;
    grid: {
        template-columns: 1fr;
        gap: ef.get-value($themeDefault, 'contentGap');
    };

    .wlc-exchange {
        display: ef.get-value($themeDefault, 'exchangeDisplay');
        align-items: ef.get-value($themeDefault, 'exchangeAlignItems');
        justify-content: ef.get-value($themeDefault, 'exchangeJustifyContent');

        &-points {
            position: ef.get-value($themeDefault, 'pointsPosition');
            display: ef.get-value($themeDefault, 'pointsDisplay');
            flex-wrap: ef.get-value($themeDefault, 'pointsFlexWrap');
            align-items: ef.get-value($themeDefault, 'pointsAlignItems');
            justify-content: ef.get-value($themeDefault, 'pointsJustifyContent');
            width: 100%;

            &__value {
                @include bm.get-mq-map('position', $themeDefault, 'exchangeValuePosition');
                @include lib.get-text-style('QoteTextBold');

                display: ef.get-value($themeDefault, 'exchangeValueDisplay');
                align-items: ef.get-value($themeDefault, 'exchangeValueAligntItems');
                margin: ef.get-value($themeDefault, 'pointsValueMargin');

                padding: ef.get-value($themeDefault, 'pointsValuePadding');

                color: ef.get-value($themeDefault, 'pointsValueColor');

                line-height: 1;
            }

            &__currency {
                @include lib.get-text-style('PlaceholderText');
                color: ef.get-value($themeDefault, 'pointsCurrencyColor');
                line-height: 1;

                ::ng-deep {

                    .wlc-icon {
                        position: relative;
                        top: ef.get-value($themeDefault, 'pointsCurrencyIconPosTop');

                        svg {
                            width: ef.get-value($themeDefault, 'pointsCurrencySvgSize');
                            height: ef.get-value($themeDefault, 'pointsCurrencySvgSize');
                        }
                    }
                }
            }

            &__desc {
                @include lib.get-text-style('PlaceholderText');
                width: 100%;
                margin: ef.get-value($themeDefault, 'pointsDescMargin');
                text-align: ef.get-value($themeDefault, 'descTextAlign');
            }
        }

        &-icon {

            &__description-currency {
                position: ef.get-value($themeDefault, 'iconExpLpDescriptionPosition');
                top: ef.get-value($themeDefault, 'iconExpLpDescriptionTop');
                right: ef.get-value($themeDefault, 'iconExpLpDescriptionRigth');
                transform: ef.get-value($themeDefault, 'iconExpLpDescriptionTransform');

                &.wlc-tooltip {

                    ::ng-deep {

                        .wlc-icon svg {
                            @include bm.get-mq-map('width', $themeDefault, 'svgWidth');
                            @include bm.get-mq-map('height', $themeDefault, 'svgHeight');
                        }
                    }
                }
            }
        }

        &__content {
            @include bm.get-mq-map('padding', $themeDefault, 'contentPadding');
            position: relative;

            display: ef.get-value($themeDefault, 'contentDisplay');
            flex-direction: ef.get-value($themeDefault, 'contentDirection');
            align-items: ef.get-value($themeDefault, 'contentAlign');
            justify-content: ef.get-value($themeDefault, 'contentJustify');

            width: 100%;

            &:before {
                @include bm.get-mq-map('left', $themeDefault, 'separatorPosLeft');
                @include bm.get-mq-map('top', $themeDefault, 'separatorPosTop');
                @include bm.get-mq-map('width', $themeDefault, 'separatorWidth');
                @include bm.get-mq-map('height', $themeDefault, 'separatorHeight');

                @include bm.get-mq-map('transform', $themeDefault, 'separatorTransform');
                @include bm.get-mq-map('background', $themeDefault, 'separatorBg');
                content: '';

                position: absolute;

                display: block;
                max-width: ef.get-value($themeDefault, 'separatorMaxWidth');
            }
        }

        &__info {
            @include bm.get-mq-map('padding', $themeDefault, 'contentInfoPadding');
            align-self: ef.get-value($themeDefault, 'contentInfoAlignSelf');
        }
    }

    .wlc-btn {
        @include bm.get-mq-map('margin', $themeDefault, 'exchangeBtnMargin');
    }

    ::ng-deep {

        .wlc-user-stats {

            &-balance[class] {
                padding: ef.get-value($themeDefault, 'userStatsPadding');
                background: ef.get-value($themeDefault, 'userStatsBg');
            }
        }
    }

    @include mq.min(640) {
        grid: {
            template-columns: 1fr 1fr;
            auto-flow: column;
            gap: ef.get-value($themeDefault, 'contentGap', 640);
        };
    }
}
