@import './utils/vars';

.wlc-bonuses-list {

    &__list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@import './themes/default';
