@use './vars' as v;

@mixin button-base {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: v.$gap;
    align-items: center;

    min-width: v.$minWidth;
    height: v.$heightDefault;
    background: v.$background;

    color: v.$fontColor;
    font-size: v.$fontSize;

    padding: v.$padding;

    //border:
    border: v.$borderDefault;

    .wlc-btn__text {
        grid-column: 2;
    }
}

@mixin button-transparency {
    background-color: transparent;
    border: v.$borderSecondary;

    &:hover {
        background: transparentize(v.$backgroundHover, 0.7);
    }
}
