@use 'engine-styles/functions' as ef;

// Size
$minWidth: 100px;
$heightSmall: 35px;
$heightDefault: 40px;
$heightLarge: 50px;

// Font
$fontSize: ef.get('font', 'main');
$fontColor: ef.get('color', 'text');

// Transform
$textTransform: uppercase;

// Background
$background: ef.get('color', 'main');
$backgroundHover:  darken(ef.get('color', 'main'), 10%);
$backgroundResolve: ef.get('color', 'success');
$backgroundResolveHover:  darken(ef.get('color', 'success'), 10%);
$backgroundReject: ef.get('color', 'error');
$backgroundRejectHover:  darken(ef.get('color', 'error'), 10%);
$backgroundDisabled: ef.get('color', 'disabled');
$backgroundDisabledHover:  darken(ef.get('color', 'disabled'), 10%);

// Shadow
$shadow: 0 10px 10px ef.get('color', 'secondary');

// Radius
$radius: 50px;

//Border
$borderDefault: 2px solid transparent;
$borderSecondary: 2px solid ef.get('color', 'main');

//Padding
$padding: ef.get('size', 'smallest') ef.get('size', 'smaller');
$gap: ef.get('size', 'small');

// Animation
$time: ef.get('time', 'main');
