@use '../utils/vars' as v;
@use '../utils/mixins' as m;
@use 'engine-styles/functions' as ef;

.wlc-btn--theme-rounding {

    &:host {
        @include m.button-base;

        border-radius: v.$radius;

        &:hover {
            box-shadow: v.$shadow;
        }

        &.wlc-btn--theme-mod-secondary {
            @include m.button-transparency;

            &:hover {
                box-shadow: unset;
                background: v.$backgroundHover;
            }
        }
    }
}
