@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@import '../utils/vars';

.wlc-play-for-real--theme-default:host {
    max-width: ef.get-value($themeDefault, 'formMaxWidth');
    margin: ef.get-value($themeDefault, 'formMargin');
    padding: ef.get-value($themeDefault, 'formPadding');

    &::ng-deep {

        .wlc-text-block {

            &__title {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSizeMobile'));
                margin: ef.get-value($themeDefault, 'titleMarginMobile');

                @include mq.min(560) {
                    @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize'));
                    margin: ef.get-value($themeDefault, 'titleMargin');
                }
            }
        }

        .wlc-game-thumb {

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: radial-gradient(transparent, #000000 105%);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }
        }

        .wlc-restore-link {

            .wlc-btn {
                display: block;
                margin: ef.get-value($themeDefault, 'restoreLinkMargin');
            }

            &__content {
                margin: ef.get-value($themeDefault, 'restoreLinkMargin');
            }
        }

        .wlc-input {
            margin: ef.get-value($themeDefault, 'fieldMargin');
        }

        .wlc-btn {
            margin: ef.get-value($themeDefault, 'btnMargin');

            &:last-child {
                margin-bottom: 0;
            }
        }

        .wlc-text-block--theme-mod-game-title {
            margin: ef.get-value($themeDefault, 'gameTitleMargin');

            .wlc-text-block__subtitle {
                @include text.get-text-style('ThirdTitleBold');
            }
        }

        .wlc-link-block {
            padding: ef.get-value($themeDefault, 'linkBlockMargin');

            &__text {

                .wlc-btn {
                    margin: ef.get-value($themeDefault, 'linkBlockBtnMargin');
                }
            }
        }
    }
}
