@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-play-for-real--theme-default:host {
    max-width: ef.get-value($themeDefault, 'formMaxWidth');
    margin: ef.get-value($themeDefault, 'formMargin');

    &::ng-deep {

        .wlc-input {
            margin: ef.get-value($themeDefault, 'fieldMargin');
        }

        .wlc-btn {
            margin: ef.get-value($themeDefault, 'btnMargin');
        }
    }
}
