.wlc-play-for-real--theme-default:host {
    @include bm.get-mq-map('max-width', $themeDefault, 'formMaxWidth');
    margin: ef.get-value($themeDefault, 'formMargin');
    padding: ef.get-value($themeDefault, 'formPadding');

    &::ng-deep {

        .wlc-text-block {

            &__title {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSizeMobile'));
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize'));
                margin: ef.get-value($themeDefault, 'titleMargin');
            }
        }

        .wlc-restore-link {

            .wlc-btn {
                margin: ef.get-value($themeDefault, 'restoreLinkMargin');
            }

            &__content {
                margin: ef.get-value($themeDefault, 'restoreLinkMargin');
            }
        }

        .wlc-captcha {
            margin: ef.get-value($themeDefault, 'captchaMargin');
        }

        .wlc-input {
            margin: ef.get-value($themeDefault, 'fieldMargin');

            &--captcha {
                margin: ef.get-value($themeDefault, 'captchaInputMargin');
            }
        }

        .wlc-btn {
            margin: ef.get-value($themeDefault, 'btnMargin');
        }

        .wlc-text-block--theme-mod-game-title {
            margin: ef.get-value($themeDefault, 'gameTitleMargin');

            .wlc-text-block__subtitle {
                @include text.get-text-style(ef.get-value($themeDefault, 'textBlockSubtitleFont'), ef.get-value($themeDefault, 'textBlockSubtitleFontColor'));
            }
        }

        .wlc-link-block {
            padding: ef.get-value($themeDefault, 'linkBlockMargin');

            &__text {

                .wlc-btn {
                    margin: ef.get-value($themeDefault, 'linkBlockBtnMargin');
                }
            }
        }
    }

    &.is-auth {

        &::ng-deep {

            .wlc-text-block--theme-default {

                .wlc-text-block {

                    &__head {
                        @include bm.get-mq-map('margin', $themeDefault, 'textBlockHeadMargin');
                    }

                    &__subtitle {
                        @include text.get-text-style(ef.get-value($themeDefault, 'textBlockSubtitleFont'), ef.get-value($themeDefault, 'textBlockSubtitleFontColor'));
                    }
                }
            }

            .wlc-btn {

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}
