<div *ngIf="ready; else preloader" class="{{$class}}">
    <div *ngIf="showFilter" class="{{$class}}__filter">
        <div wlc-datepicker [inlineParams]="startDateInput"></div>
        <div wlc-datepicker [inlineParams]="endDateInput"></div>
        <div wlc-select [inlineParams]="filterSelect"></div>
    </div>
    <div wlc-history-range [inlineParams]="$params.historyRangeParams"></div>
    <ng-container *ngIf="readyMessages; else preloader" [ngTemplateOutlet]="messages"></ng-container>
</div>

<ng-template #messages>
    <div *ngIf="internalMails$.value.length; else empty"
    wlc-table
    (changePage)="changePage($event)"
    [inlineParams]='tableData'></div>
</ng-template>

<ng-template #empty>
    <div wlc-wrapper
         class="{{$class}}__empty"
         [inlineParams]="$params.emptyConfig">
    </div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
