<div *ngIf="ready; else preloader" class="{{$class}}">
    <div *ngIf="showFilter" class="{{$class}}__filter">
        <div wlc-datepicker [inlineParams]="startDateInput"></div>
        <div wlc-datepicker [inlineParams]="endDateInput"></div>
    </div>

    <div *ngIf="internalMailsCount; else empty" wlc-table [inlineParams]='tableData'></div>
</div>

<ng-template #empty>
    <div wlc-wrapper
         class="{{$class}}__empty"
         [inlineParams]="$params.emptyConfig">
    </div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
