#################################
## Configuration for languages ##
#################################

# ===========================================================

[language-server]
emmet-ls = { command = "emmet-ls", args = [ "--stdio" ]}

[[language]]
name = "rust"

[[grammar]]
name = "rust"
source = { git = "https://github.com/tree-sitter/tree-sitter-rust", rev = "0431a2c60828731f27491ee9fdefe25e250ce9c9" }

[language-server.angular]
command = "ngserver"
args = [
  "--stdio",
  "--tsProbeLocations",
  "$(npm -g root)",
  "--ngProbeLocations",
  "$(npm -g root)",
]

[[language]]
name = "angular"
scope = "source.angular"
roots = ["angular.json"]
file-types = ["ts", "html"]

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.vscode-css-language-server]
command = "vscode-css-language-server"
args = ["--stdio"]

[language-server.biome]
command = "npx"
args = ["@biomejs/biome", "lsp-proxy", "--config-path", "/home/antonkazakov/.config/biome/biome.jsonc"]
display-messages = false

[language-server.eslint.config]
format = true
nodePath = ""
onIgnoredFiles = "off"
packageManager = "npm"
quiet = false
rulesCustomizations = []
run = "onType"
useESLintClass = false
validate = "on"
codeAction = { disableRuleComment = { enable = true, location = "separateLine" }, showDocumentation = { enable = true } }
codeActionsOnSave = { mode = "all" }
experimental = {}
problems = { shortenToSingleLine = false }
workingDirectory = { mode = "auto" }

# [language-server.prettier]
# command = "npx"
# args = [
#   "prettier",
#   "--write",
#   "--parser",
#   "typescript",
#   "--config",
#   "~/.config/prettier/prettier.config.js"
# ]

[[language]]
name = "typescript"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
roots = ["tsconfig.json"]
auto-format = false
language-servers = [
  { name = "vscode-css-language-server"},
  { name = "typescript-language-server", except-features = ["format"]},
  "angular",
  "eslint",
]

[language.debugger]
name = "ts-debugger"
transport = "tcp"         # или "stdio"
command = "js-debug"
args = ["--node-debugger"]


[[language.debugger.templates]]
name = "Launch JS (js-debug)"
request = "launch"
completion = [
  { name = "entrypoint", completion = "filename", default = "index.js" }
]
args = { mode = "debug", program = "{0}", args = ["-r", "192.168.40.180", "-p", "8080", "-d", "60"] }

[[language]]
name = "html"
# formatter = { command = 'prettier', args = [
#   "--write",
#   "--parser",
#   "html",
#   "--config",
#   "/home/anton/.prettier/.prettierrc"
# ] }

## Biome:
# ==>
# formatter = { command = 'npx', args = [
#   "@biomejs/biome",
#   "format",
#   "--write",
#   "--config-path",
#   "~/.config/biome/biome.jsonc",
#   "--stdin-file-path"
# ] }
formatter = { command = 'prettier-run-html' }
auto-format = false
indent = { tab-width = 4, unit = "    " }
language-servers = [
  "vscode-html-language-server",
  "angular",
  "emmet-ls",
]

[[language]]
name = "scss"
auto-format = false
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "json"
auto-format = true
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "php"
language-servers = [ "intelephense" ]
auto-format = true

[language-server.intelephense]
command = "intelephense"
args = ["--stdio"]

[language-server.intelephense.config.intelephense]
stubs = [
    "apache", "bcmath", "bz2", "calendar", "com_dotnet", "Core", "ctype", "curl", "date",
    "dba", "dom", "enchant", "exif", "fileinfo", "filter", "fpm", "ftp", "gd", "hash",
    "iconv", "imap", "interbase", "intl", "json", "ldap", "libxml", "mbstring", "mcrypt",
    "mysql", "mysqli", "oci8", "odbc", "openssl", "pcntl", "pcre", "PDO", "pdo_ibm",
    "pdo_mysql", "pdo_pgsql", "pdo_sqlite", "pgsql", "Phar", "posix", "pspell", "readline",
    "recode", "Reflection", "regex", "session", "shmop", "SimpleXML", "snmp", "soap",
    "sockets", "sodium", "SPL", "sqlite3", "standard", "superglobals", "sysvmsg", "sysvsem",
    "sysvshm", "tidy", "tokenizer", "wddx", "xml", "xmlreader", "xmlrpc", "xmlwriter",
    "Zend OPcache", "zip", "zlib", "wordpress"
]
files.exclude = [
    "**/.git/**",
    "**/.svn/**",
    "**/.hg/**",
    "**/CVS/**",
    "**/.DS_Store/**",
    "**/node_modules/**",
    "**/bower_components/**",
    "**/vendor/**/{Test,test,Tests,tests}/**"
]


