@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;

.wlc-add-profile-info--theme-default:host {
    position: relative;

    ::ng-deep {

        .wlc-text-block {
            margin: ef.get-value($themeDefault, 'titleMargin');
        }

        .wlc-phone-field--theme-default {
            grid-gap: ef.get-value($themeDefault, 'formFieldsGap');
        }
    }

    .wlc-add-profile-info {

        &__form {
            @include em.get-mq-map('padding', $themeDefault, 'formPadding');

            ::ng-deep {

                .wlc-form {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    max-width: ef.get-value($themeDefault, 'formMaxWidth');

                    & > .wlc-input,
                    & > .wlc-select,
                    & > .wlc-phone-field {
                        margin-bottom: ef.get-value($themeDefault, 'formFieldMarginBottom');
                    }
                }

                .wlc-btn.wlc-btn--submit {
                    margin: 25px auto 0;
                }

                .wlc-input.wlc-input--password {
                    padding-top: ef.get-value($themeDefault, 'formFieldsGap');
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        display: ef.get-value($themeDefault, 'dividerDisplay');
                        background: ef.get-value($themeDefault, 'dividerBg');
                        width: ef.get-value($themeDefault, 'dividerWidth');
                        height: ef.get-value($themeDefault, 'dividerHeight');
                        top: ef.get-value($themeDefault, 'dividerPosTop');
                        left: ef.get-value($themeDefault, 'dividerPosLeft');
                        transform: ef.get-value($themeDefault, 'dividerTransform');
                    }
                }

                .wlc-phone-field {
                    padding: ef.get-value($themeDefault, 'phoneFieldPadding');

                    // TODO: удалить это, когда можно будет пробрасывать параметры для селекта, входящего в состав phoneField (при .wlc-select--theme-vertical эти стили будут не нужны)
                    .wlc-select--theme-default {
                        grid-gap: ef.get-value($themeDefault, 'phoneSelectGap');

                        .wlc-select {

                            &__label {
                                @include text.get-text-style('SignText', ef.get-value($themeDefault, 'phoneLabelColor'));
                                margin: ef.get-value($themeDefault, 'phoneLabelMargin');
                                line-height: ef.get-value($themeDefault, 'phoneLabelLineHeight');
                            }
                        }
                    }
                }
            }
        }
    }
}

.wlc-add-profile-info--theme-mod-overflow:host {

    .wlc-add-profile-info {

        &__form {

            ::ng-deep {

                .wlc-form {
                    display: grid;
                    align-items: end;
                    grid-column-gap: ef.get-value($themeModOverflow, 'formColumnGap');
                    grid-row-gap: ef.get-value($themeModOverflow, 'formRowGap');
                    @include em.get-mq-map('grid-template-columns', $themeModOverflow, 'formColumns');

                    & > .wlc-input,
                    & > .wlc-select,
                    & > .wlc-phone-field {
                        margin: ef.get-value($themeModOverflow, 'fieldsMargn');
                    }

                    .wlc-input.wlc-input--password {
                        padding-top: ef.get-value($themeModOverflow, 'formRowGap');
                    }
                }

                .form-control__errors {

                    @include mq.min(560) {
                        min-width: ef.get-value($themeModOverflow, 'errorNotifyWidth');
                    }
                }

                .wlc-phone-field,
                .wlc-birth-field,
                .wlc-input.wlc-input--phone,
                .wlc-input.wlc-input--password {
                    @include em.get-mq-map('grid-column', $themeModOverflow, 'wideControlsGridColumns');

                    .form-control__errors {

                        @include mq.min(560) {
                            min-width: ef.get-value($themeModOverflow, 'wideErrorNotifyWidth');
                        }
                    }
                }

                .wlc-btn.wlc-btn--submit {
                    @include em.get-mq-map('grid-column', $themeModOverflow, 'wideControlsGridColumns');
                    margin: ef.get-value($themeModOverflow, 'submitBtnMargin');
                }
            }
        }
    }
}
