<div class="{{$class}}-filter">
    <div wlc-datepicker [inlineParams]='startDateInput'></div>
    <div wlc-datepicker #datepickerEndComponent [inlineParams]='endDateInput' ></div>

    <div *ngIf="$params.filterType==='select'; else buttons"
         wlc-select
         [inlineParams]='filterSelect'></div>
</div>

<div *ngIf="ready; else preloader" class="{{$class}}">
    <div wlc-table [inlineParams]='tableData'></div>
</div>

<ng-template #buttons>
    <div class="{{$class}}-filter__buttons">
        <label class="wlc-label">{{filterSelect.labelText | translate}}</label>
        <button wlc-button
                [class.active]="filterSelect.control.value === 'all'"
                wlcElement="button_all"
                themeMod="secondary"
                text="All"
                (click)="setFilter('all')"
        ></button>
        <button wlc-button
                [class.active]="filterSelect.control.value === 'deposit'"
                wlcElement="button_deposit"
                themeMod="secondary"
                text="Deposit"
                (click)="setFilter('deposit')"
        ></button>
        <button wlc-button
                [class.active]="filterSelect.control.value === 'withdraw'"
                wlcElement="button_withdraw"
                themeMod="secondary"
                text="Withdraw"
                (click)="setFilter('withdraw')"
        ></button>
    </div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
