<ng-container *ngIf="ready; else preloader">
    <div *ngIf="showFilter" class="{{$class}}__filter">
        <div wlc-datepicker [inlineParams]="startDateInput"></div>
        <div wlc-datepicker [inlineParams]="endDateInput"></div>
    
        <div *ngIf="$params.filterType === 'select'; else buttons"
             wlc-select
             [inlineParams]="selectConfig"></div>
    </div>
    
    <div class="{{$class}}__table">
        <div wlc-table [inlineParams]="tableData"></div>
    </div>
</ng-container>

<ng-template #buttons>
    <div wlc-radio-buttons
        class="{{$class}}__buttons"
        [inlineParams]="radioBtnConfig"></div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
