<ng-container *ngIf="error; else error" [ngSwitch]="type">
    <ng-container *ngSwitchCase="'pay_to_address'">
        <div class="{{$class}}__text">
            <div *ngIf="inputParamsXaddress" class="{{$class}}__clipboard-x">
                <div wlc-input [inlineParams]="inputParamsXaddress"></div>
                <div class="{{$class}}__text-row">
                    {{'If your wallet doesn\'t support X-addresses, you can make a deposit via casino wallet.' | translate}}
                </div>
            </div>
            <div class="{{$class}}__clipboard">
                <div wlc-input [inlineParams]="inputParams"></div>
                <div *ngIf="inputParamsXaddress" class="{{$class}}__text-row">
                    {{'With the Destination Tag set to ' | translate}}{{message.tag}}
                </div>
            </div>

            <div *ngIf="!inputParamsXaddress" class="{{$class}}__text-row">
                {{'This is your private depositing address.' | translate}}
            </div>
            <div class="{{$class}}__text-row">
                {{'Please note, that minimum deposit amount for this method is' | translate}}
                <span wlc-currency [value]="system.depositMin"></span>,
                {{'maximum one is' | translate}}
                <span wlc-currency [value]="system.depositMax"></span>.
            </div>
            <div class="{{$class}}__text-row">
                {{'To make a deposit you need to replenish a wallet for a specified amount.' | translate}}
            </div>
            <div class="{{$class}}__warning" *ngIf="!this.$params.themeMod?.includes('modal')">
                <span class="stress">{{'Attention!' | translate}}</span> {{'Payments through contracts are not supported.' | translate}}
            </div>
        </div>

        <div class="{{$class}}__qr">
            <div class="{{$class}}__qr-text">{{'QR code' | translate}}</div>
            <div class="{{$class}}__qr-wrapper">
                <img class="{{$class}}__qr-image"
                    [alt]="system.name"
                    [src]="imgUrl">
            </div>
        </div>

        <div class="{{$class}}__warning" *ngIf="this.$params.themeMod?.includes('modal')">
            <span class="stress">{{'Attention!' | translate}}</span> {{'Payments through contracts are not supported.' | translate}}
        </div>
    </ng-container>
    <div *ngSwitchCase="'pay_to_bank'" class="{{$class}}__text">
        {{details | translate}}
    </div>
</ng-container>

<ng-template #error>
    <div class="{{$class}}__error">
        {{'Error receiving payment system.' | translate}}
    </div>
</ng-template>
