@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;

@import './utils/vars';
@import './utils/mixins';
@import './utils/animations';

.wlc-btn {

    &:host {
        box-sizing: border-box;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
        transition: all ef.get-value($themeDefault, 'time');
        appearance: none;
        border: none;
        overflow: hidden;

        &:disabled {
            background: ef.get-value($themeDefault, 'disabledBg');
            box-shadow: ef.get-value($themeDefault, 'disabledShadow');
            cursor: ef.get-value($themeDefault, 'disabledCursor');
            border: ef.get-value($themeDefault, 'disabledBorder');

            .wlc-btn__text {
                color: ef.get-value($themeDefault, 'disabledColorHover');
            }

            @include bm.hover {
                background: ef.get-value($themeDefault, 'disabledBgHover');
                box-shadow: ef.get-value($themeDefault, 'disabledShadowHover');
                border: ef.get-value($themeDefault, 'disabledBorderHover');

                .wlc-btn__text {
                    color: ef.get-value($themeDefault, 'disabledSecondaryColor');
                }
            }
        }

        .wlc-btn {

            &__pending {
                display: none;
            }
        }

        &.wlc-btn--pending {
            position: relative;
            pointer-events: none;

            .wlc-btn {

                &__text {
                    opacity: 0;
                }

                &__pending {
                    @include bm.absoluteCentering();
                    display: block;

                    ::ng-deep {

                        svg {
                            animation: ef.get-value($themeDefault, 'pendingAnimation');
                        }
                    }
                }
            }

            &.wlc-btn--theme-skew {

                .wlc-btn__pending {
                    transform: ef.get-value($themeDefault, 'pendingSkewTransform');
                }
            }
        }

        &.wlc-btn--animate {

            &-pulse {
                animation: ef.get-value($themeDefault, 'mainAnimation');
            }
        }

        &.wlc-btn--theme-mod-secondary {

            &:disabled {
                background: ef.get-value($themeDefault, 'disableSecondarydBg');
                box-shadow: ef.get-value($themeDefault, 'disabledSecondaryShadow');
                border: ef.get-value($themeDefault, 'disabledSecondaryBorder');

                .wlc-btn__text {
                    color: ef.get-value($themeDefault, 'disabledSecondaryColor');
                }

                @include bm.hover {
                    background: ef.get-value($themeDefault, 'disabledSecondaryBgHover');
                    box-shadow: ef.get-value($themeDefault, 'disabledSecondaryShadowHover');
                    border: ef.get-value($themeDefault, 'disabledSecondaryBorderHover');

                    .wlc-btn__text {
                        color: ef.get-value($themeDefault, 'disabledSecondaryColorHover');
                    }
                }
            }

            &.wlc-btn--animate {

                &-pulse {
                    animation: ef.get-value($themeDefault, 'secondaryAnimation');
                }
            }
        }
    }
}

@import './themes/default';
@import './themes/rounding';
@import './themes/circled';
@import './themes/skew';
@import './themes/borderless';
@import './themes/resolve';
@import './themes/icon';
