@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

@import './utils/vars';
@import './utils/mixins';
@import './utils/animations';

.wlc-btn {

    &:host {
        box-sizing: border-box;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
        transition: all ef.get-value($themeDefault, 'time');
        appearance: none;
        border: none;
        overflow: hidden;

        &:disabled {
            box-shadow: ef.get-value($themeDefault, 'disabledShadow');
            cursor: ef.get-value($themeDefault, 'disabledCursor');
            border: ef.get-value($themeDefault, 'disabledBorder');

            .wlc-btn__text {
                color: ef.get-value($themeDefault, 'disabledColorHover');
            }

            @include bm.hover {
                background: ef.get-value($themeDefault, 'disabledBgHover');
                box-shadow: ef.get-value($themeDefault, 'disabledShadowHover');
                border: ef.get-value($themeDefault, 'disabledBorderHover');

                .wlc-btn__text {
                    color: ef.get-value($themeDefault, 'disabledSecondaryColor');
                }
            }
        }

        .wlc-btn {

            &__pending {
                display: none;
            }
        }

        &.wlc-btn--pending {
            position: relative;
            pointer-events: none;

            .wlc-btn {

                &__text {
                    opacity: 0;
                }

                &__pending {
                    @include bm.absoluteCentering();
                    display: block;

                    ::ng-deep {

                        svg {
                            animation: ef.get-value($themeDefault, 'pendingAnimation');
                        }
                    }
                }
            }

            &.wlc-btn--theme-skew {

                .wlc-btn__pending {
                    transform: ef.get-value($themeDefault, 'pendingSkewTransform');
                }
            }
        }

        &.wlc-btn--animate {

            &-pulse {
                animation: ef.get-value($themeDefault, 'mainAnimation');
            }

            &-glare {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: ef.size(-1);
                    bottom: ef.size(-1);
                    display: block;
                    width: ef.get-value($themeDefault, 'glareWidth');
                    border-color: ef.get-value($themeDefault, 'glareColor');
                    border-width: ef.get-value($themeDefault, 'glareBorderWidth');
                    border-style: solid;
                    transform: skewX(-45deg);

                    animation-name: buttonGlare;
                    animation-duration: ef.get-value($themeDefault, 'glareSpeed');
                    animation-timing-function: ef.get-value($themeDefault, 'glareTimingFunc');
                    animation-iteration-count: infinite;
                }

                @supports (overflow: clip) {
                    overflow: clip;
                    overflow-clip-margin: border-box;
                }
            }
        }

        &.wlc-btn--theme-mod-secondary {

            &:disabled {
                background: ef.get-value($themeDefault, 'disableSecondarydBg');
                box-shadow: ef.get-value($themeDefault, 'disabledSecondaryShadow');
                border: ef.get-value($themeDefault, 'disabledSecondaryBorder');

                .wlc-btn__text {
                    color: ef.get-value($themeDefault, 'disabledSecondaryColor');
                }

                @include bm.hover {
                    background: ef.get-value($themeDefault, 'disabledSecondaryBgHover');
                    box-shadow: ef.get-value($themeDefault, 'disabledSecondaryShadowHover');
                    border: ef.get-value($themeDefault, 'disabledSecondaryBorderHover');

                    .wlc-btn__text {
                        color: ef.get-value($themeDefault, 'disabledSecondaryColorHover');
                    }
                }
            }

            &.wlc-btn--animate {

                &-pulse {
                    animation: ef.get-value($themeDefault, 'secondaryAnimation');
                }
            }
        }

        &.wlc-btn--only-icon {
            --wlc-icon-width: #{ef.get-value($themeDefault, 'onlyIconSize')};
            --wlc-icon-height: #{ef.get-value($themeDefault, 'onlyIconSize')};

            @include bm.get-mq-map('min-width', $themeDefault, 'heightDefault');

            padding: 0;

            .wlc-btn__text {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@import './themes/default';
@import './themes/rounding';
@import './themes/circled';
@import './themes/skew';
@import './themes/borderless';
@import './themes/resolve';
@import './themes/icon';
@import './themes/theme-wolf-link';
@import './themes/wolf-rounded';
@import './themes/textonly';
