@use 'engine-scss/functions' as ef;
@import './utils/vars';

.wlc-btn {

    &:host {
        box-sizing: border-box;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
        transition: all ef.get-value($themeDefault, 'time');
        appearance: none;
        border: none;
        overflow: hidden;
    }
}

@import './themes/default';
@import './themes/rounding';
@import './themes/circled';
@import './themes/skew';
@import './themes/borderless';
@import './themes/resolve';
