$customLoyaltyThemeDefault: () !default;
$loyaltyThemeDefault: map-merge((
    'loyaltyProgressWidth': (
        375: 100%,
        640: 300px,
    ),
), $customLoyaltyThemeDefault);

$customLoyaltyThemeV1: () !default;
$loyaltyThemeV1: map-merge((
    'loyaltyProgressWidth': (
        375: 100%,
        640: 300px,
    ),
), $customLoyaltyThemeV1);

$customLoyaltyThemeWolf: () !default;
$loyaltyThemeWolf: map-merge((
    'loyaltyProgressWidth': (
        375: 100%,
        640: 350px,
    ),
), $customLoyaltyThemeWolf);
