@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

.wlc-game-thumb--theme-default:host {
    @include alternateLogo($themeDefault);

    @include bm.get-mq-map('cursor', $themeDefault, 'thumbCursor');
    position: relative;
    overflow: hidden;
    border-radius: ef.get-value($themeDefault, 'thumbBorderRadius');
    background: {
        position: center;
        color: ef.get-value($themeDefault, 'placeholderBgColor');
        image: ef.get-value($themeDefault, 'placeholderBgImg');
        size: ef.get-value($themeDefault, 'placeholderBgImgSize');
        repeat: no-repeat;
    }

    @supports (aspect-ratio: 1/1) {
        aspect-ratio: #{ef.get-value($themeDefault, 'thumbAspectRatio')};
    }

    @supports not (aspect-ratio: 1/1) {
        @include bm.aspect-ratio-padding(ef.get-value($themeDefault, 'thumbAspectRatio'));
        height: 0;
    }

    .wlc-body--browser-safari & {
        -webkit-mask-image: -webkit-radial-gradient(white, black); /* stylelint-disable-line */
    }

    .wlc-game-thumb {

        &__img,
        &__desc,
        &__desc:before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }

        &__img {
            border-radius: inherit;

            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center;
            }
        }

        &__desc {
            @include bm.get-mq-map('display', $themeDefault, 'descDisplay');
            @include bm.transition(opacity);
            grid-template-rows: ef.get-value($themeDefault, 'descGridRows');
            padding: ef.get-value($themeDefault, 'descPadding');

            opacity: 0;

            &:before {
                @include bm.transition(all, 0.25s);

                content: '';
                z-index: ef.get-value($themeDefault, 'descBeforeZIndex');

                background: ef.get-value($themeDefault, 'descBeforeBg');
                transform: ef.get-value($themeDefault, 'descBeforeTransform');
                pointer-events: none;
            }

            @include bm.hover(false) {
                display: none;
            }
        }

        &__title {
            position: relative;
            z-index: ef.get-value($themeDefault, 'titleZIndex');

            display: ef.get-value($themeDefault, 'titleDisplay');
            flex-direction: ef.get-value($themeDefault, 'titleFlexDirection');
            align-items: ef.get-value($themeDefault, 'titleAlignItems');
            justify-content: ef.get-value($themeDefault, 'titleJustifyContent');

            text-align: ef.get-value($themeDefault, 'titleTextAlign');
        }

        &__name {
            @include text.get-text-style(ef.get-value($themeDefault, 'nameTextStyle'), ef.get-value($themeDefault, 'nameColor'));
            z-index: ef.get-value($themeDefault, 'nameZIndex');

            display: ef.get-value($themeDefault, 'nameDisplay');

            @include mq.min(1630) {
                @include text.get-text-style(ef.get-value($themeDefault, 'nameTextStyle', 1630), ef.get-value($themeDefault, 'nameColor'));
            }
        }

        &__merchant {
            @include text.get-text-style(ef.get-value($themeDefault, 'merchantTextStyle'), ef.get-value($themeDefault, 'merchantColor'));

            @include mq.min(1630) {
                @include text.get-text-style(ef.get-value($themeDefault, 'merchantTextStyle', 1630), ef.get-value($themeDefault, 'merchantColor'));
            }
        }

        &__merchants {

            &-block {
                @include bm.get-mq-map('width', $themeDefault, 'merchantsBlockW');
                @include bm.get-mq-map('height', $themeDefault, 'merchantsBlockH');
                position: absolute;
                top: ef.get-value($themeDefault, 'merchantsPostion');
                right: ef.get-value($themeDefault, 'merchantsPostion');
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: ef.get-value($themeDefault, 'merchantsPadding');
                background: ef.get-value($themeDefault, 'merchantsBg');
                border-radius: ef.get-value($themeDefault, 'merchantsRadius');
                pointer-events: none;
            }

            &-icon {
                @include bm.get-mq-map('max-width', $themeDefault, 'merchantsIconW');
                @include bm.get-mq-map('max-height', $themeDefault, 'merchantsIconH');
            }
        }

        &__buttons {
            @include btnsLayout(horizontal);
            z-index: ef.get-value($themeDefault, 'btnsZIndex');

            ::ng-deep {

                .wlc-icon {
                    display: none;
                }
            }
        }

        &__ppl {
            @include bm.transition(all);
            position: absolute;
            bottom: ef.get-value($themeDefault, 'pplPosition');
            z-index: 1;
            width: ef.get-value($themeDefault, 'pplWidth');
            background: ef.get-value($themeDefault, 'pplBg');

            &-limits {
                @include bm.transition(all);
                @include text.get-text-style(ef.get-value($themeDefault, 'pplLimitsText'));

                position: absolute;
                top: ef.get-value($themeDefault, 'pplLimitsPosition');
                left: ef.get-value($themeDefault, 'pplLimitsPosition');
                z-index: 10;
                padding: ef.get-value($themeDefault, 'pplLimitsPadding');
                background: ef.get-value($themeDefault, 'pplBg');
                border-radius: ef.get-value($themeDefault, 'pplLimitsRadius');
            }

            &-info {
                @include text.get-text-style(ef.get-value($themeDefault, 'pplTextStyle', 375));
                display: flex;
                align-items: ef.get-value($themeDefault, 'pplInfoAlign');
                justify-content: ef.get-value($themeDefault, 'pplInfoJustify');
                min-height: ef.get-value($themeDefault, 'pplInfoHeight');
                padding: ef.get-value($themeDefault, 'pplInfoPadding');

                &--no-available-place {
                    justify-content: flex-end;
                }

                &-item {
                    @include bm.get-mq-map('min-width', $themeDefault, 'pplItemMin');
                    display: flex;
                    align-items: ef.get-value($themeDefault, 'pplItemAlign');

                    .wlc-icon {
                        margin: ef.get-value($themeDefault, 'pplItemMargin');
                        line-height: 0;

                        ::ng-deep {

                            svg {
                                @include bm.get-mq-map('width', $themeDefault, 'pplIconWidth');

                                path {
                                    fill: ef.get-value($themeDefault, 'pplIconColor');
                                }
                            }
                        }
                    }
                }

                &-text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                @include mq.min(900) {
                    @include text.get-text-style(ef.get-value($themeDefault, 'pplTextStyle', 900));
                }
            }

            &-results {
                display: flex;

                &-item {
                    @include text.get-text-style(ef.get-value($themeDefault, 'pplResultTextStyle'));
                    display: flex;
                    align-items: ef.get-value($themeDefault, 'pplResultsAlign');
                    justify-content: ef.get-value($themeDefault, 'pplResultsJustify');
                    width: ef.get-value($themeDefault, 'pplResultsSize');
                    height: ef.get-value($themeDefault, 'pplResultsSize');
                    border: ef.get-value($themeDefault, 'pplResultBorder');

                    &:first-child {
                        width: ef.get-value($themeDefault, 'pplResultsFirstSize');
                        height: ef.get-value($themeDefault, 'pplResultsFirstSize');
                        margin: ef.get-value($themeDefault, 'pplResultsFirstMargin');
                    }

                    &--red {
                        background-color: ef.get-value($themeDefault, 'pplItemRed');
                    }

                    &--green {
                        background-color: ef.get-value($themeDefault, 'pplItemGreen');
                    }

                    &--blue {
                        background-color: ef.get-value($themeDefault, 'pplItemBlue');
                    }
                }
            }
        }
    }

    &.wlc-game-thumb--theme-mod-vertical {

        .wlc-game-thumb {

            &__buttons {
                @include btnsLayout(vertical);
            }

            &__title {
                justify-self: center;
                max-width: calc(100% - #{ef.get-value($themeDefault, 'favouriteBackSize')} * 2 * 1.2);
            }
        }
    }

    &.wlc-game-thumb--theme-mod-circle {
        @include circleButton;

        .wlc-game-thumb {

            &__desc {
                background: ef.get-value($themeDefaultModCircle, 'descBg');

                &:before {
                    opacity: ef.get-value($themeDefaultModCircle, 'btnsAndIconOpacity');
                }

                @include mq.min(1024) {
                    opacity: 1;
                }
            }

            &__title {
                @include bm.transition;
                position: absolute;
                bottom: ef.get-value($themeDefaultModCircle, 'titlePosition');
                left: ef.get-value($themeDefaultModCircle, 'titlePosition');

                align-items: ef.get-value($themeDefaultModCircle, 'titleAlignItems');
                opacity: ef.get-value($themeDefaultModCircle, 'titleOpacity');
            }
        }

        .wlc-btn {

            &--play {
                transform: none;

                ::ng-deep {

                    .wlc-btn__text {
                        transform: none;
                    }
                }
            }
        }
    }

    &.wlc-game-thumb--theme-mod-bottom-buttons {
        @include thumbsBottom(buttons);
    }

    &.wlc-game-thumb--theme-mod-bottom-all {
        @include thumbsBottom(all);
    }

    &.wlc-game-thumb--theme-mod-bottom-title {
        @include thumbsBottom(title);
    }

    &.wlc-game-thumb--type-modal {

        .wlc-game-thumb__icon {
            top: ef.get-value($themeDefault, 'favouritePosition');
            left: ef.get-value($themeDefault, 'favouritePosition');
            opacity: 1;
        }
    }
}
