.wlc-game-thumb--theme-vertical:host {
    position: relative;
    overflow: hidden;
    border-radius: ef.get-value($themeVertical, 'borderRadius');

    .wlc-body--browser-safari & {
        -webkit-mask-image: -webkit-radial-gradient(white, black); /* stylelint-disable-line */
    }

    .wlc-game-thumb {

        &__icon {
            @include bm.transition();
            opacity: ef.get-value($themeVertical, 'iconOpacity');
        }

        &__control {
            @include bm.transition();
            position: ef.get-value($themeVertical, 'controlPosition');
            top: ef.get-value($themeVertical, 'controlTop');
            left: ef.get-value($themeVertical, 'controlLeft');
            display: ef.get-value($themeVertical, 'descDisplay');
            align-items: ef.get-value($themeVertical, 'descAlignItems');
            justify-content: ef.get-value($themeVertical, 'descJustifyConten');
            width: ef.get-value($themeVertical, 'controlSize');
            height: ef.get-value($themeVertical, 'controlSize');
            padding: ef.get-value($themeVertical, 'descPadding');
            background: ef.get-value($themeVertical, 'controlsBg');
            transform: ef.get-value($themeVertical, 'controlTransform');
            opacity: ef.get-value($themeVertical, 'controlOpacity');
            pointer-events: ef.get-value($themeVertical, 'pointerEvents');

            .wlc-game-thumb__buttons {
                @include btnsLayout(vertical);
                display: ef.get-value($btnsLayout, 'btnsDisplay', 1024);
            }
        }
    }

    .wlc-game-thumb-media {

        @supports not (aspect-ratio: 1/1) {

            &:before {
                @include bm.aspect-ratio-padding(ef.get-value($themeVertical, 'bgAspectRatio'));
                content: '';
                display: ef.get-value($themeVertical, 'mediaBeforeDisplay');
                width: ef.get-value($themeVertical, 'mediaBeforeWidth');
                height: ef.get-value($themeVertical, 'mediaBeforeHeight');
            }
        }

        &__bg,
        &__video {
            @include alternateLogo($themeVertical);
            display: ef.get-value($themeVertical, 'bgDisplay');
            width: ef.get-value($themeVertical, 'bgWidth');

            background: {
                position: ef.get-value($themeVertical, 'placeholderBgPosition');
                color: ef.get-value($themeVertical, 'placeholderBgColor');
                image: ef.get-value($themeVertical, 'placeholderBgImg');
                repeat: no-repeat;
                size: ef.get-value($themeVertical, 'placeholderBgImgSize');
            }

            @supports (aspect-ratio: 1/1) {
                aspect-ratio: #{ef.get-value($themeVertical, 'bgAspectRatio')};
            }

            @supports not (aspect-ratio: 1/1) {
                position: ef.get-value($themeVertical, 'notARPosition');
                top: ef.get-value($themeVertical, 'notARTop');
                left: ef.get-value($themeVertical, 'notARLeft');
                width: ef.get-value($themeVertical, 'notARSize');
                height: ef.get-value($themeVertical, 'notARSize');
            }
        }

        &__video {
            @include bm.transition(transform);
            object-fit: ef.get-value($themeVertical, 'videoObjectFit');
            object-position: ef.get-value($themeVertical, 'videoObjectPosition');
        }

        &__bg {
            @include bm.transition(transform);
            transform: ef.get-value($themeVertical, 'transformBg');

            img {
                position: ef.get-value($themeVertical, 'bgImgPosition');
                top: ef.get-value($themeVertical, 'bgImgTop');
                left: ef.get-value($themeVertical, 'bgImgLeft');
                width: ef.get-value($themeVertical, 'bgImgSize');
                height: ef.get-value($themeVertical, 'bgImgSize');
                object-fit: ef.get-value($themeVertical, 'bgImgSize');
                object-position: ef.get-value($themeVertical, 'bgImgObjectPos');
            }
        }

        &__fg {
            @include bm.transition(transform);
            position: ef.get-value($themeVertical, 'fgPosition');
            bottom: ef.get-value($themeVertical, 'fgBottom');
            left: ef.get-value($themeVertical, 'fgLeft');
            width: ef.get-value($themeVertical, 'fgWidth');
            height: ef.get-value($themeVertical, 'fgHeight');
            transform-origin: ef.get-value($themeVertical, 'fgTransformOrigin');
            pointer-events: ef.get-value($themeVertical, 'pointerEvents');

            img {
                width: ef.get-value($themeVertical, 'fgImgWidth');
            }
        }

        &__logo {
            @include bm.transition(transform);
            position: ef.get-value($themeVertical, 'logoPosition');
            top: ef.get-value($themeVertical, 'logoTopGap');
            left: ef.get-value($themeVertical, 'logoLeftGap');
            width: ef.get-value($themeVertical, 'logoWidth');
            pointer-events: ef.get-value($themeVertical, 'pointerEvents');

            img {
                width: ef.get-value($themeVertical, 'logoImgWidth');
            }
        }
    }

    &.wlc-game-thumb--theme-mod-transform {
        perspective: ef.get-value($themeVertical, 'perspective');
        overflow: visible;

        .wlc-game-thumb {

            &__transform {
                @include bm.transition(
                    ef.get-value($themeVertical, 'transformProp'),
                    ef.get-value($themeVertical, 'transformDuration'),
                    ef.get-value($themeVertical, 'transformTimFun'),
                );
                overflow: ef.get-value($themeVertical, 'transformOverflow');
                border-radius: ef.get-value($themeVertical, 'borderRadius');

                /*fix video flickering during transformation*/
                transform: rotateX(0.1deg) rotateY(0.1deg) translateZ(0);

                .wlc-game-thumb-media {

                    img {
                        @include bm.transition(
                            ef.get-value($themeVertical, 'transformProp'),
                            ef.get-value($themeVertical, 'transformDuration'),
                            ef.get-value($themeVertical, 'transformTimFun'),
                        );
                    }

                    &__fg {
                        transform-origin: ef.get-value($themeVertical, 'fg3DTransformOrigin');
                    }
                }

                .wlc-game-thumb__buttons {
                    will-change: ef.get-value($themeVertical, 'btnWillChange');
                }
            }

            &__icon {
                transition-timing-function: ef.get-value($themeVertical, 'iconTransTimFun');
                transition-duration: ef.get-value($themeVertical, 'iconTransDuration');
                transition-property: ef.get-value($themeVertical, 'iconTransProperty');
            }

            &__control {
                transition-timing-function: ef.get-value($themeVertical, 'controlTransTimFun');
                transition-duration: ef.get-value($themeVertical, 'controlTransDuration');
                transition-property: ef.get-value($themeVertical, 'controlTransProperty');

                .wlc-game-thumb__buttons {
                    @include bm.transition(
                        ef.get-value($themeVertical, 'transformProp'),
                        ef.get-value($themeVertical, 'transformDuration'),
                        ef.get-value($themeVertical, 'transformTimFun'),
                    );
                }
            }
        }
    }

    &:not(.wlc-game-thumb--theme-mod-transform) {

        @include bm.hover {

            .wlc-game-thumb-media {
                pointer-events: ef.get-value($themeVertical, 'pointerEvents');

                &__bg {
                    transform: ef.get-value($themeVertical, 'transformHoverBg');
                }

                &__logo {
                    transform: ef.get-value($themeVertical, 'transformHoverLogo');
                }

                &__fg {
                    transform: ef.get-value($themeVertical, 'transformHoverFg');
                }

                &__video {
                    transform: ef.get-value($themeVertical, 'transformHoverVideo');
                }
            }
        }
    }

    &.wlc-game-thumb--theme-mod-circle {
        @include circleButton;

        .wlc-game-thumb {

            &__control {

                .wlc-game-thumb__buttons {
                    align-items: start;

                    &.no-demo {
                        grid-template-rows: ef.get-value($btnsLayout, 'btnsGridRowsVert');
                    }
                }
            }
        }
    }

    @include bm.hover {

        .wlc-game-thumb {

            &__icon {
                opacity: ef.get-value($themeVertical, 'hoverIconOpacity');
            }

            &__control {
                transform: ef.get-value($themeVertical, 'hoverControlTransform');
                opacity: ef.get-value($themeVertical, 'hoverControlOpacity');
                pointer-events: ef.get-value($themeVertical, 'hoverControlPE');
            }
        }
    }
}
