@use 'engine-styles/functions' as ef;

$width: fit-content;
$textTransform: uppercase !default;
$gap: ef.get('gap', 'big') !default;
$textColor: ef.get('color', 'linkAccent') !default;
$textDecoration: none !default;
$fontWeight: 700 !default;
$fontSize: 100% !default;
