@use './vars' as v;

.wlc-main-menu {

    &:host {

        &--v1 {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            grid-gap: v.$gap;
            text-transform: v.$textTransform;
            width: v.$width;
        }
    }

    &__link {
        text-decoration: v.$textDecoration;
        color: v.$textColor;
        font-weight: v.$fontWeight;
        font-size: v.$fontSize;
    }
}
