$customThemeButton: () !default;
$themeButton: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeButton);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'formMaxWidth': 290px,
    'formWidth': 100%,
    'formMargin': 0 auto,
    'formMinHeight': (
        320: 400px,
        1630: 470px,
    ),
    'textMargin': ef.size(8) 0 0 0,
    'textAlign': center,
    'textStyle': 'PrimaryText',
    'textColor': inherit,

    'timerMargin': ef.size(4) 0 0 0,
    'timerAlign': center,
    'timerJustify': center,

    'timerTextMargin': 0 0 ef.size(1) 0,
    'timerTextColor':var(--mc-baseOpacity),

    'labelsMargin': 0 0 0 ef.size(2),
    'labelsFontSize': ef.get('font', 'SignText'),

    'fieldMargin': 0 0 ef.size(4),
    'lastFieldMargin': 0,
    'fieldsGridGap': ef.size(4),
    'inputBackground': var(--fc-inputBg),
    'inputColor': var(--fc-textColor),
    'inputOpacity': 1,

    'btnMargin': (
        320: ef.size(8) auto ef.size(2),
    ),

    'descrTextStyle': 'PrimaryText',
    'descrColor': inherit,

    'dividerWidth': 100%,
    'dividerHeight': 2px,
    'dividerBg': var(--mc-baseOpacity),
    'dividerMargin': ef.size(4) 0,
), $customThemeDefault);

$customModInline: () !default;
$modInline: map-merge((
    'gap': ef.size(4),

    'formWidth': 100%,
    'formMaxWidth': 100%,
    'formFieldGap': ef.size(3),
    'contentMaxWidth': 315px,

    'btnMargin': (
        375: ef.size(8) auto 0,
        640: ef.size(8) 0 0,
    ),
    'phoneFieldPadding': 0,

    'verTextMargin': 0,
    'verTextAlign': (
        375: center,
        640: left,
    ),
    'timerAlignItems': (
        375: center,
        640: start,
    ),
    'phoneFieldColumns': 110px auto,

    //modal
    'modalJustifyItems': center,
    'modalSmsBtnMargin': ef.size(8) auto 0,
    'modalSmsContentMargin': 0 auto,
    'modalSmsTimerAlign': center,
    'modalSmsTextAlign': center,
), $customModInline);
