$customThemeDefault: () !default;
$themeDefault: map-merge((
    'position': (
        375: unset,
        480: relative,
    ),
    'margin': (
        1200: 0 ef.size(4),
    ),
    'depositBtnPadding': (
        375: 0,
        1200: ef.size(1) ef.size(4),
    ),
    'depositIconSize': ef.size(6),
    'depositBtnMargin': 2px 2px 0,
    'depositBtnFill': var(--mc-buttonColor),

    'arrowIconSize': ef.size(2),

    'dropdownMaxWidth': (
        375: 100%,
        560: 420px,
    ),
    'dropdownPadding': (
        375: ef.size(1) ef.size(2),
        1200: ef.size(2) ef.size(3),
    ),
    // base text style
    'dropdownFontStyle': (
        375: 'CaptionTextBold',
        1200:'ButtonText',
    ),
    'dropdownBorderRadius': ef.get('buttonSettings', 'borderRadiusDefault'),
    'dropdownBorderRadiusRounding': ef.get('radius', 'large'),
    'dropdownArrowMargin': 0 0 0 ef.size(1),
    'dropdownArrowFill': var(--fc-arrowColor),
    'dropdownArrowFillOpened': var(--mc-baseMain),
    'dropdownArrowFillHover': var(--mc-baseMain),
    'dropdownTextColor': inherit,

    // theme mod base
    'dropdownGap': ef.size(1),

    'financeDropdownGap': ef.size(3),
    'financeDropdownCurrencyGap': ef.size(3),
    'financeDropdownBg': var(--mc-bg),
    'financeIconSize': ef.size(6),
    'financeDropdownPadding': ef.size(3),
    'financeDropdownTemplateAreas': '\'search\' \'list\'',
    'financeDropdownTemplateColumns': auto,
    'financeSearchPaddings': 0 ef.size(4) 0 0,

    // finance text style
    'dropdownNameFontStyle': 'ThirdTitleBold',
    'dropdownBg': var(--mc-bg500),

    'contentTop': (
        375: calc(100%),
        480: calc(100% + #{ef.size(2)}),
    ),
    'contentRight': (
        375: 0,
        480: ef.size(-4),
    ),
    'financeContentRight': 0,
    'financeContentTop': calc(100% + 10px),

    'contentWidth': (
        375: 100%,
        480: 420px,
    ),
    'contentBoxShadow': ef.get('shadow', 'lg'),
    'contentPadding': ef.size(4) 0 ef.size(4) ef.size(4),
    'contentBg': var(--mc-bgModal),
    'contenBorderRadius': ef.get('radius', 'biger'),
    'contentZIndex': 10,
    'contentHeight': 476px,
    'contentTemplateAreas': 'search filter' 'list list' 'hr hr' 'settings settings',
    'hideSettingsContentTemplateAreas': '\'search filter\' \'list list\'',
    'contentTemplateColumns': auto 40px,
    'contentGap': ef.size(4),

    'listWidth': 100%,
    'listPadding': 0 ef.size(4) 0 0,
    'listMaxHeight': 315px,
    'scrollbarTrackBg': var(--mc-bg700),
    'scrollbarThumbBg': var(--mc-bg100),

    'hrMargin': 0,
    'hrWidth': calc(100% - ef.size(4)),
    'hrHeight': 1px,
    'hrBackground': var(--mc-bg300),
    'notFoundFontStyle': 'ThirdTitle',

    'searchWidth': calc(100% - #{ef.size(1)}),
    'searchPaddings': 0,

    // currency in list
    'iconSize': ef.size(3),
    'currencyFontStyle': 'PrimaryTextBold',
    'currencyHeight': ef.size(7),
    'currencyBorderRadius': ef.get('radius', 'biger'),
    'currencyMargin': 0 0 ef.size(1),
    'currencyPadding': 0 ef.size(2),
    'currencyBgHover': var(--mc-bg700),
    'selectCurrencyBorder': 2px solid var(--mc-main),
    'selectCurrencyBoxShadow': 0 4px 4px rgba(0, 0, 0, 0.25),
    'currencyNameGap': ef.size(1),
    'iconMargin': 0 0 2px,
    // currency in list

    'settingsTextFontStyle': 'PrimaryTextBold',
    'settingsTextColor': inherit,
    'settingsColor': var(--mc-main),
    'settingsGap': ef.size(2),
    'settingsIconSize': 20px,
    'notFoundPaddings': 0 ef.size(4) 0 0,

    'filterMargin': 0 ef.size(4) 0 0,
    'filterColor':  var(--mc-main),
), $customThemeDefault);

$customThemeWolf: () !default;
$themeWolf: map-merge((
    'fontColor': var(--mc-buttonText),
    'dropdownHeight': 40px,
    'dropdownPadding': 10px 0 10px 10px,
    'dropdownArrowMargin': ef.size(2),
    'dropdownGap': 0,
    'containerBg': var(--fc-inputBg),
    'fontStyle': 'CaptionTextBold',
    'currencyPadding': 0 ef.size(1) 0 0,
    'currencyBorderRadius': ef.size(2),
    'currencyHeight': 35px,
    'selectCurrencyInListBg': linear-gradient(180deg, #00b6ef00 0%, #00b6ef66 100%),

    'notFoundFontStyle': 'PrimaryText',
    'notFoundFontColor': var(--mc-baseSecond),

    'filterColor': var(--mc-baseThird),

    'scrollbarTrackBg': var(--mc-baseSecond),
    'scrollbarThumbBg': var(--mc-bg100),

    'currencyIconSize': 15px,
    'arrowIconWidth': 12px,
    'containerHeight': 40px,

    'financeBtnWidth': 40px,
    'financeBtnPadding': ef.size(2),
    'financeDropdownBg': var(--mc-bg500),
    'financeContainerHeight': fit-content,

    'settingsGap': ef.size(3),
), $customThemeWolf);
