@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@import '../utils/vars';

.wlc-cash--theme-default:host {
    display: grid;
    grid-template-columns: $gridTemplateColumns;
    gap: $gridGap;
    color: $commonColor;

    .wlc-cash {

        &__title {
            display: none;

            @include mq.min($breakpoint) {
                display: block;
                @include text.get-text-style(ThridTitleBold);
                color: $titleColor;
            }
        }

        &__divider {
            display: none;

            @include mq.min($breakpoint) {
                display: block;
                margin: $dividerMargin;
                background: $dividerBg;
                height: $dividerHeight;
                width: $dividerWidth;
            }
        }

        &__step {

            &--1 {
                background: $step1Bg;
                padding: $step1Padding;
                border-radius: $step1BorderRadius;
                margin: $step1Margin;

                @include mq.min($breakpoint) {
                    padding: $step1PaddingBr;
                    background: $step1BgBr;
                    border-radius: $step1BorderRadiusBr;
                    margin-bottom: $step1MarginBr;
                }
            }
        }

        &__subtitle {
            @include text.get-text-style(ThirdTitle);
            margin: $subtitleMargin;
            color: $subtitleColor;
            text-align: $subtitleAlignment;

            @include mq.min($breakpoint) {
                text-align: $subtitleAlignmentBr;
                font-weight: $subtitleFontWeightBr;
            }
        }

        &__subtitle-step {
            color: $subtitleStepColor;
            margin: $subtitleStepMargin;

            @include mq.min($breakpoint) {
                display: none;
            }
        }

        &__subtitle-name {

            span {
                display: none;

                @include mq.min($breakpoint) {
                    display: inline-block;
                }
            }
        }

        &__fields-error {
            color: $errorsColor;
            margin: $errorsMargin;
        }

        &__fields-message {
            margin: $errorsMessageMargin;
        }

        &__fields-ul {
            margin: $errorsUlMargin;
            padding: $errorsUlPadding;
        }

        &__fields-li {
            list-style-type: $errorsLiType;

            &:before {
                content: $errorsLiBeforeContent;
                display: $errorsLiBeforeDisplay;
                margin: $errorsLiBeforeMargin;
            }
        }

        &__additional-form,
        &__amount-form {
            width: $formWidth;
            max-width: $formMaxWidth;

            ::ng-deep {

                .wlc-select,
                .wlc-input,
                .wlc-checkbox,
                .wlc-btn {
                    margin-bottom: $formInputMarginBottom;
                }
            }
        }

        &__amount-form {

            ::ng-deep {

                .wlc-btn {
                    margin: $formAmountButtonMargin;

                    @include mq.min($breakpoint) {
                        margin: $formAmountButtonMarginBr;
                    }
                }
            }
        }
    }
}
