.wlc-cash--theme-default:host {
    display: grid;
    grid-template-columns: ef.get-value($themeDefault, 'gridTemplateColumns');
    gap: ef.get-value($themeDefault, 'gridGap');
    color: ef.get-value($themeDefault, 'commonColor');

    .wlc-cash {

        &__title {
            display: none;

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleColor'));
                display: block;
            }
        }

        &__divider {
            @include bm.get-mq-map('display', $themeDefault, 'dividerDisplay');

            width: ef.get-value($themeDefault, 'dividerWidth');
            height: ef.get-value($themeDefault, 'dividerHeight');
            background: ef.get-value($themeDefault, 'dividerBg');
            border-radius: ef.get-value($themeDefault, 'dividerRadius');
        }

        &__step {

            &--1 {
                @include bm.get-mq-map('background', $themeDefault, 'step1Bg');
                @include bm.get-mq-map('padding', $themeDefault, 'step1Padding');
                @include bm.get-mq-map('border-radius', $themeDefault, 'step1BorderRadius');
                @include bm.get-mq-map('margin', $themeDefault, 'step1Margin');
            }
        }

        &__subtitle {
            @include bm.get-mq-map('text-align', $themeDefault, 'subtitleAlignment');
            @include text.get-text-style(
                ef.get-value($themeDefault, 'subtitleFontStyle'),
                ef.get-value($themeDefault, 'subtitleColor')
            );
            margin: ef.get-value($themeDefault, 'subtitleMargin');
        }

        &__subtitle-name {

            span {
                display: none;

                @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                    display: inline-block;
                }
            }
        }

        &__alert {
            @include bm.get-mq-map('margin', $themeDefault, 'alertMargin');
        }
    }

    &.wlc-cash--theme-mod-wolf {
        gap: ef.get-value($themeModWolf, 'gridGap');

        .wlc-cash {

            &__subtitle {
                @include text.get-text-style(
                    ef.get-value($themeModWolf, 'subtitleFontStyle'),
                    ef.get-value($themeModWolf, 'subtitleColor')
                );
                @include bm.get-mq-map('margin', $themeModWolf, 'subtitleMargin');
            }

            &__divider {
                @include bm.get-mq-map('margin', $themeModWolf, 'dividerMargin');

                background: ef.get-value($themeModWolf, 'dividerBg');
            }
        }

        ::ng-deep {

            .wlc-input {

                .wlc-input {

                    &__label {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf, 'titleFontStyle'),
                            ef.get-value($themeModWolf, 'titleColor')
                        );
                    }

                    &__input {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf, 'placeholderFontStyle'),
                            ef.get-value($themeModWolf, 'inputTextColor')
                        );
                        border-radius: ef.get-value($themeModWolf, 'inputBorderRadius');
                    }

                    &__input::placeholder {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf,'placeholderFontStyle'),
                            ef.get-value($themeModWolf, 'placeholderFontColor')
                        );
                    }
                }
            }

            .wlc-select {

                .wlc-select {

                    &__field {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf,'placeholderFontStyle'),
                            ef.get-value($themeModWolf, 'placeholderFontColor')
                        );
                        border-radius: ef.get-value($themeModWolf, 'inputBorderRadius');
                    }


                    &__label {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf,'titleFontStyle'),
                            ef.get-value($themeModWolf, 'titleColor')
                        );
                    }


                    &__dropdown-item {
                        @include text.get-text-style(
                            ef.get-value($themeModWolf,'placeholderFontStyle'),
                            ef.get-value($themeModWolf, 'inputTextColor')
                        );
                    }
                }
            }

            .wlc-btn:not(.wlc-btn--theme-icon) {
                margin-top: ef.get-value($themeModWolf, 'btnMarginTop');
            }

            .wlc-deposit-bonuses {

                .wlc-deposit-bonuses__btn {
                    background: ef.get-value($themeModWolf, 'bonusButtonBg');
                    border-radius: ef.get-value($themeModWolf, 'buttonBorderRadius');

                    .wlc-bonus-item__wrapper {
                        background: ef.get-value($themeModWolf, 'bonusItemInBonusButtonBg');
                    }
                }
            }

            .wlc-alert {

                .wlc-alert__main {
                    border-radius: ef.get-value($themeModWolf, 'alertMainRadius');

                    &.with-text {
                        border-radius: ef.get-value($themeModWolf, 'alertMainRadiusWithText');
                    }
                }

                .wlc-alert__text {
                    border-radius: ef.get-value($themeModWolf, 'alertTextRadius');
                    background: ef.get-value($themeModWolf, 'alertMainBgWithText');
                }
            }
        }
    }

    ::ng-deep {

        .wlc-payment-list--theme-default {
            @include bm.get-mq-map('--wlc-alert-max-width', $themeDefault, 'paySysAlertWidth');
        }
    }
}

.wlc-cash:host {

    .wlc-cash {

        &__alert-verification {
            @include bm.get-mq-map('--wlc-alert-margin', $themeDefault, 'verificationAlertMargin');

            &-title {
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'verificationAlertDirection');
                align-items: ef.get-value($themeDefault, 'verificationAlertAlignItems');
            }
        }

        &__promocode {
            @include bm.get-mq-map('--wlc-dep-promocode-align', $themeDefault, 'promoCodeAlign');
            @include bm.get-mq-map('--wlc-dep-promocode-results-dir', $themeDefault, 'promoCodeResultsDir');
            @include bm.get-mq-map('--wlc-dep-promocode-bonus-align', $themeDefault, 'promoCodeBonusAlign');
            margin: ef.get-value($themeDefault, 'promoCodeMargin');
        }
    }
}
