@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/text' as text;

@import '../utils/vars';

.wlc-cash--theme-default:host {
    display: grid;
    grid-template-columns: ef.get-value($themeDefault, 'gridTemplateColumns');
    gap: ef.get-value($themeDefault, 'gridGap');
    color: ef.get-value($themeDefault, 'commonColor');

    .wlc-cash {

        &__title {
            display: none;

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                display: block;
                @include text.get-text-style(ThirdTitleBold, map-get($themeDefault, 'titleColor'));
            }
        }

        &__divider {
            display: none;

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                display: block;
                margin: ef.get-value($themeDefault, 'dividerMargin');
                background: ef.get-value($themeDefault, 'dividerBg');
                height: ef.get-value($themeDefault, 'dividerHeight');
                width: ef.get-value($themeDefault, 'dividerWidth');
                border-radius: ef.get-value($themeDefault, 'dividerRadius');
            }
        }

        &__step {

            &--1 {
                @include em.get-mq-map('background', $themeDefault, 'step1Bg');
                @include em.get-mq-map('padding', $themeDefault, 'step1Padding');
                @include em.get-mq-map('border-radius', $themeDefault, 'step1BorderRadius');
                @include em.get-mq-map('margin', $themeDefault, 'step1Margin');
            }
        }

        &__subtitle {
            font-size: ef.get-value($themeDefault, 'subtitleFontSize');
            margin: ef.get-value($themeDefault, 'subtitleMargin');
            @include em.get-mq-map('font-weight', $themeDefault, 'subtitleFontWeight');
            @include em.get-mq-map('text-align', $themeDefault, 'subtitleAlignment');
            @include text.get-text-style('ThirdTitle', map-get($themeDefault, 'subtitleColor'));
        }

        &__subtitle-step {
            color: ef.get-value($themeDefault, 'subtitleStepColor');
            margin: ef.get-value($themeDefault, 'subtitleStepMargin');

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                display: none;
            }
        }

        &__subtitle-name {

            span {
                display: none;

                @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                    display: inline-block;
                }
            }
        }

        &__fields-error {
            margin: ef.get-value($themeDefault, 'errorsMargin');
            @include text.get-text-style(ThirdTitle, ef.get-value($themeDefault, 'errorsColor'));
        }

        &__fields-message {
            margin: ef.get-value($themeDefault, 'errorsMessageMargin');
        }

        &__fields-ul {
            margin: ef.get-value($themeDefault, 'errorsUlMargin');
            padding: ef.get-value($themeDefault, 'errorsUlPadding');
        }

        &__fields-li {
            list-style-type: ef.get-value($themeDefault, 'errorsLiType');

            &:before {
                content: ef.get-value($themeDefault, 'errorsLiBeforeContent');
                display: ef.get-value($themeDefault, 'errorsLiBeforeDisplay');
                margin: ef.get-value($themeDefault, 'errorsLiBeforeMargin');
            }
        }

        &__field-wrap {
            margin-bottom: ef.get-value($themeDefault, 'formInputMarginBottom');
            width: 100%;

            @include mq.min(480) {
                max-width: ef.get-value($themeDefault, 'formInputMaxWidth');
            }
        }

        &__field-subtitle {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            margin-left: 5px;
            margin-top: 6px;
        }

        &__additional-form {
            display: grid;
            grid-template-columns: ef.get-value($themeDefault, 'formAdditionalGridTemplateColumns');
            column-gap: ef.get-value($themeDefault, 'formAdditionalColumnGap');
        }
    }
}
