.wlc-cash--theme-second:host {
    @include bm.get-mq-map('--wlc-dep-btn-modal-maxwidth', $themeSecond, 'btnModalMaxWidth');

    .wlc-cash {

        &__grid {
            @include bm.get-mq-map('--wlc-cash-gap', $themeSecond, 'gap');
            @include bm.get-mq-map('grid-template-columns', $themeSecond, 'gridColumns');

            display: grid;
            gap: var(--wlc-cash-gap);
            align-items: start;

            &-left,
            &-right {
                position: relative;
                display: grid;
                gap: ef.get-value($themeSecond, 'innerGap');

                &:before {
                    @include bm.get-mq-map('display', $themeSecond, 'globalDividerDisplay');

                    content: '';
                    position: absolute;
                    left: var(--wlc-divider-pos);
                    width: ef.get-value($themeSecond, 'dividerSize');
                    height: 100%;
                    background: ef.get-value($themeSecond, 'dividerBg');
                }
            }

            &-left {
                --wlc-divider-pos: calc(100% + var(--wlc-cash-gap) / 2);
            }

            &-right {
                --wlc-divider-pos: calc(var(--wlc-cash-gap) / -2);
                --wlc-alert-max-width: 100%;
            }
        }

        &__step {

            &-title {
                @include bm.get-mq-map('text-align', $themeSecond, 'contentTextAlign');
                @include text.get-text-style(
                    ef.get-value($themeSecond, 'stepTitleTextStyle'),
                    ef.get-value($themeSecond, 'stepTitleColor')
                );

                margin: ef.get-value($themeSecond, 'stepTitleMargin');
            }

            &--wallet {
                --cash-divider-display: none;
            }

            &--paysystems {
                --wlc-alert-max-width: 100%;
                @include bm.get-mq-map('--cash-divider-display', $themeSecond, 'dividerDisplayPs');
            }

            &--paymentinfo {
                --wlc-alert-margin: #{ef.get-value($themeSecond, 'paymentInfoAlertMargin')};
            }

            &--bonuses {
                --cash-divider-order: 100;

                display: flex;
                flex-direction: column;
                min-width: 0;
            }
        }

        &__divider {
            display: var(--cash-divider-display, block);
            order: var(--cash-divider-order, initial);
            width: 100%;
            height: ef.get-value($themeSecond, 'dividerSize');
            margin: ef.get-value($themeSecond, 'dividerMargin');
            background: ef.get-value($themeSecond, 'dividerBg');

            &--cryptoblock {
                margin: ef.get-value($themeSecond, 'dividerMarginCrypto');
            }
        }

        &__alert-title,
        &__alert {
            @include bm.get-mq-map('margin', $themeDefault, 'alertMargin');
        }
    }

    ::ng-deep {

        .wlc-payment-list--theme-default {
            --wlc-payment-list-gap: #{ef.get-value($themeSecond, 'paymentListGap')};
            @include bm.get-mq-map('--wlc-payment-list-columns', $themeSecond, 'paymentListColumns');
        }

        .wlc-payment-list--theme-crypto-list {

            .wlc-payment-list__btn-modal[class] {
                @include bm.get-mq-map('margin', $themeSecond, 'contentMargin');
            }

            .wlc-payment-list__method[class],
            .payments-description[class] {
                @include bm.get-mq-map('text-align', $themeSecond, 'contentTextAlign');
            }
        }

        .wlc-deposit-bonuses--theme-default {

            .wlc-deposit-bonuses {

                &__btn[class] {
                    @include bm.get-mq-map('margin', $themeSecond, 'contentMargin');
                }

                &__short-bonus[class] {
                    @include bm.get-mq-map('text-align', $themeSecond, 'contentTextAlign');
                }
            }
        }

        .wlc-payment-message--theme-default {
            grid-template-columns: ef.get-value($themeSecond, 'paymentMsgGridColumns');

            .wlc-payment-message__qr[class] {
                min-height: ef.get-value($themeSecond, 'paymentMsgQrMinHeight');
            }

            .wlc-payment-message__text {
                order: ef.get-value($themeSecond, 'paymentMsgTextOrder');
            }
        }

        .wlc-wallets--finances {
            max-width: 100%;
            margin: 0;
        }

        .wlc-payment-form--theme-default {

            .wlc-amount-wrapper[class] {
                grid-template-areas: unset;

                > * {
                    grid-area: unset;
                }

                .wlc-clear-amount-button__control {
                    margin: ef.get-value($themeSecond, 'amountClearMargin');
                }
            }
        }
    }
}
