<ng-container *ngIf="ready; else preloader">
    <ng-container *ngIf="gamesList.length; else error">
        <ng-container *ngIf="isMobile && !$params.isModal; else default" [ngTemplateOutlet]="mobile"></ng-container>
    </ng-container>
</ng-container>

<ng-template #default>
        <div class="{{$class}}__heading">
            <p class="{{$class}}__title">{{$params.title | translate}}</p>
            <p class="{{$class}}__subtitle">{{$params.subtitle | translate}}</p>
        </div>

        <div wlc-wrapper
             [inlineParams]="sliderConfig"
             [ngClass]="isActive ? $class + '__slider--active' : ''"
        ></div>

        <button wlc-button
            [disabled]="isActive"
            [text]="$params.buttonText"
            (click)="startScrollingSwiper()">
        </button>
</ng-template>

<ng-template #mobile>
    <div class="{{$class}}__mobile" (click)="showModal()">
        <div class="{{$class}}__heading">
            <p class="{{$class}}__title">{{$params.titleMobile | translate}}</p>
            <p class="{{$class}}__subtitle">{{$params.subtitle | translate}}</p>
        </div>

        <div class="{{$class}}__preview-block">
            <div class="{{$class}}__icon-wrap">
                <img class="{{$class}}__icon"
                    loading="lazy"
                    [src]="$params.iconUrl">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #preloader>
    <div class="{{$class}}__loader">
        <div wlc-loader></div>
    </div>
</ng-template>

<ng-template #error>
    <div class="{{$class}}__heading">
        <p class="{{$class}}__title">{{$params.title | translate}}</p>
        <p class="{{$class}}__subtitle">{{$params.subtitle | translate}}</p>
    </div>
    <span class="{{$class}}__error">{{'No games available' | translate}}</span>
</ng-template>
