<div class="{{$class}}"
     [style]="{backgroundImage: 'url(' + backgroundImgUrl + ')'}">
    <div class="{{$class}}__tag">{{'Tournaments' | translate}}</div>
    <div class="{{$class}}__status"
         [class.active]="tournament.isSelected">
         {{tournament.tag | translate}}
    </div>
    <div class="{{$class}}__more-icon" >
        <div wlc-icon
             class="icon-btn"
             iconPath="/wlc/icons/info.svg"
             wlcElement="button_terms"
             (click)="readMore()">
        </div>
    </div>
    <div class="{{$class}}__body">
        <h2 class="{{$class}}__body-title"
            [title]="tournament.name"
        >
            {{tournament.name}}
        </h2>
        <div class="{{$class}}__timer-block"
             wlc-tournament-smart-info
             (timerEnds)="updateTournaments()"
             [tournament]="tournament">
        </div>

        <div class="{{$class}}__description"
             [title]="tournament.descriptionClean">
            <p [innerHtml]="tournament.descriptionSafeHTML | safeValue:'html'"></p>
        </div>

        <div class="buttons-wrap">
            <button
                *ngIf="showJoin"
                wlc-button
                text="Join"
                (click)="joinToTournament()">
            </button>
            <button
                wlc-button
                themeMod="secondary"
                customMod="theme-mod-read"
                [text]="'Read more'"
                (click)="readMore()">
            </button>
        </div>
        <div *ngIf="!isAlternative"
             class="{{$class}}__body-decor"
             [style]="{backgroundImage: 'url(' + tournament.imageOther + ')'}"
        ></div>
    </div>
</div>
<div *ngIf="pending" class="{{$class}}__loader"></div>
