<div class="{{$class}}"
     [style]="{backgroundImage: 'url(' + $params.tournament.image + ')'}">
    <div class="{{$class}}__tag">{{'Tournaments' | translate}}</div>
    <div class="{{$class}}__more-icon" >
        <div wlc-icon
             class="icon-btn"
             iconPath="/wlc/icons/info.svg"
             wlcElement="button_terms"
             (click)="readMore()">
        </div>
    </div>
    <div class="{{$class}}__body">
        <div class="{{$class}}__body-title"
            [title]="$params.tournament.name">
            {{$params.tournament.name}}
        </div>
        <div class="{{$class}}__timer-block"
             wlc-tournament-smart-info
             [tournament]="$params.tournament">
        </div>

        <div class="{{$class}}__description"
             [title]="$params.tournament.descriptionClean"
             [innerHtml]="$params.tournament.descriptionClean"
        ></div>

        <div class="{{$class}}__buttons">
            <button
                *ngIf="!isProcessed && !isTournamentSelected && $params.tournament.isTournamentStarts"
                wlc-button
                text="Join now"
                (click)="joinToTournament()">
            </button>
            <button
                wlc-button
                themeMod="secondary"
                customMod="theme-mod-read"
                [text]="'Read more'"
                (click)="readMore()">
            </button>
        </div>
        <div class="{{$class}}__body-decor"
             [style]="{backgroundImage: 'url(' + $params.tournament.imageOther + ')'}"
        ></div>
    </div>
</div>
<div *ngIf="pending" class="{{$class}}__loader"></div>
