<form class="wlc-form" [formGroup]="passwordRestoreForm" (ngSubmit)="submitHandler()">
    <div class="wlc-form__head">
        <h2 class="wlc-form__title">Password restore</h2>
        <h3 class="wlc-form__subtitle">Please enter e-mail that was used to create an account at www.namecasino.com. A
            password reset link will be sent to your e-mail address shortly.</h3>
    </div>
    <div class="wlc-form__body">
        <div class="row form--row">
            <div class="col">
                <div class="wlc-form__group">
                    <label for="restore-email" class="wlc-label">Email <sup>*</sup></label>
                    <input
                        id="restore-email"
                        type="text"
                        name="email"
                        placeholder="E-mail"
                        formControlName="email"
                        class="wlc-input"/>
                    <div
                        *ngIf="checkField('email')"
                        class="error-messages">
                        <p
                            *ngIf="passwordRestoreForm.get('email').errors.required"
                            class="error">Обязательное поле</p>
                        <p
                            *ngIf="passwordRestoreForm.get('email').errors.email"
                            class="error">Введите корректный email</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap justify-content-center">
            <button
                wlc-button
                type="submit"[text]="'Restore'"
                [disabled]="passwordRestoreForm.invalid"
            ></button>
        </div>
    </div>
</form>
