<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="wolf" *ngSwitchCase="'wolf'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>

<ng-template #default>
    <div *ngIf="ready; else preloader" class="{{$class}}__wrapper">
        <div class="{{$class}}__title">{{$params.title | translate}}</div>
        <div class="{{$class}}__container">
            <div class="{{$class}}__container-decor">
                <div class="{{$class}}__decor-left"
                     [ngStyle]="{backgroundImage: 'url(' + $params.decorLeftPath + ')'}"></div>
                <div class="{{$class}}__decor-right"
                     [ngStyle]="{backgroundImage: 'url(' + $params.decorRightPath + ')'}"></div>
            </div>
            <ng-container *ngIf="levels.length; else noData">
                <ng-container *ngIf="isMobile then loyaltyLevelsSlider else desktopLoyaltyLevels"></ng-container>
                <div class="{{$class}}__btn-wrapper">
                    <button wlc-button
                            [inlineParams]="$params.btnParams"
                            (click)="readMore()"></button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #wolf>
    <div *ngIf="ready; else preloader" class="{{$class}}__wrapper">
        <div class="{{$class}}__header">
            <div class="{{$class}}__title">{{$params.title | translate}}</div>
            <div class="{{$class}}__btn-wrapper">
                <button wlc-button
                        [inlineParams]="$params.btnParams"
                        (click)="readMore()">
                </button>
                <div slot-container-start>
                    <div wlc-slider-navigation
                         class="{{$class}}__navigation-btns">
                    </div>
                </div>
            </div>
        </div>

        <div class="{{$class}}__container">
            <ng-container [ngTemplateOutlet]="levels.length ? loyaltyLevelsSlider : noData"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <div class="{{$class}}-nodata">{{$params.emptyStateText | translate}}</div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>

<ng-template #desktopLoyaltyLevels>
    <div class="container">
        <div class="{{$class}}__items-wrapper">
            <div wlc-loyalty-level
                *ngFor="let level of levels; index as $index;"
                [inlineParams]="getLoyaltyLevelParams(level, $index)"></div>
        </div>
    </div>
</ng-template>

<ng-template #loyaltyLevelsSlider>
    <div class="container">
        <div wlc-slider
             class="{{$class}}__slider"
             [slides]="slides"
             [inlineParams]="$params.sliderParams">
        </div>
    </div>
</ng-template>
