@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

@import '../utils/vars';

.wlc-verification--theme-default:host {

    .wlc-verification__content {

        .wlc-verification {

            &__tile {
                display: grid;
                gap: ef.get-value($themeDefault, 'gapItem');
                @include em.get-mq-map('grid-template-columns', $themeDefault, 'gridColums');
            }

            &__drag {
                display: flex;
                flex-direction: column;

                & > div {
                    margin-top: ef.get-value($themeDefault, 'dragOffset');

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                @include mq.min(1024) {
                    display: grid;
                    gap: ef.get-value($themeDefault, 'dragOffset');
                    @include em.get-mq-map('grid-template-areas', $themeDefault, 'gridAreas');
                    grid-template-columns: 1fr minmax(320px, 1fr);
                    column-gap: ef.get-value($themeDefault, 'docsOffsetDesctop');

                    & > div {
                        margin-top: 0;
                    }
                }
            }

            &__doc-select {
                display: flex;
                flex-direction: column;
                grid-area: select;

                ::ng-deep .wlc-select__field {
                    color: ef.get-value($themeDefault, 'selectTextColor');
                }

                ::ng-deep .wlc-select__dropdown {
                    overflow: hidden auto;
                }
            }

            &__dropzone {
                min-height: 200px;
                grid-area: dropzone;
                align-self: start;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: ef.get-value($themeDefault, 'borderRadius');
                background-color: ef.get-value($themeDefault, 'dropzoneBg');
                padding: ef.get-value($themeDefault, 'paddingItem');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                position: relative;
                border: ef.get-value($themeDefault, 'borderDropdown');
                width: 100%;

                &:hover {
                    border-color: ef.get-value($themeDefault, 'borderColorDrag');
                }

                .wlc-btn-upload {
                    margin-bottom: ef.get-value($themeDefault, 'offset');

                    &.selected {
                        @include mq.min(1024) {
                            display: grid;
                        }
                    }

                    @include mq.min(1024) {
                        display: none;
                    }
                }

                &.dragovered {
                    border-color: ef.get-value($themeDefault, 'borderColorDrag');
                }

                .wlc-verification__text {

                    span {
                        display: none;

                        @include mq.min(1024) {
                            display: inline;
                        }
                    }
                }
            }

            &__dropzone-clear {
                position: absolute;
                top: 10px;
                right: 10px;

                ::ng-deep .wlc-icon-content {

                    svg {

                        line {
                            stroke: ef.get-value($themeDefault, 'clearDropzoneColor');
                        }
                    }
                }

                &:hover {

                    ::ng-deep .wlc-icon-content {

                        svg {

                            line {
                                stroke: ef.get-value($themeDefault, 'clearDropzoneColorHoover');
                            }
                        }
                    }
                }
            }

            &__text {
                @include text.get-text-style(ef.get-value($themeDefault, 'subTitleFont'), ef.get-value($themeDefault, 'color'));
                align-self: center;
            }

            &__upload-docs {
                border-top: 1px solid ef.get-value($themeDefault, 'borderTopUploadDocs');
                padding-top: ef.get-value($themeDefault, 'offset');
                grid-area: docs-list;

                @include mq.min(1024) {
                    border-top: none;
                    padding-left: ef.get-value($themeDefault, 'docsOffsetDesctop');
                    border-left: ef.get-value($themeDefault, 'borderDocList');
                }
            }

            &__title {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));
                text-align: center;

                @include mq.min(1024) {
                    text-align: left;
                }
            }

            &-requirements {
                grid-area: req-list;
                list-style-type: none;
                padding-left: 0;

                &__item {
                    position: relative;
                    padding-left: ef.get-value($themeDefault, 'offset');
                    @include text.get-text-style(ef.get-value($themeDefault, 'textFont'), ef.get-value($themeDefault, 'dropZoneBg'));

                    &:before {
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 0;
                        //transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background: ef.get-value($themeDefault, 'reqListStyleColor');
                    }
                }
            }

            &-docs {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                margin-top: ef.get-value($themeDefault, 'gapDocList');

                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: ef.get-value($themeDefault, 'borderDocList');
                    padding-bottom: ef.get-value($themeDefault, 'gapDocList');
                    margin-bottom: ef.get-value($themeDefault, 'gapDocList');

                    &:last-child {
                        border-bottom: none;
                    }

                    &.awaiting-validation {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusAwaiting');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusAwaiting');
                        }
                    }

                    &.validated {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                rect,
                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusValidated');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusValidated');
                        }
                    }

                    &.failed-validation {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                rect,
                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusFailed');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusFailed');
                        }
                    }
                }

                &__doc-icon {
                    width: ef.get-value($themeDefault, 'bigIconDocsDemensitons');
                    height: ef.get-value($themeDefault, 'bigIconDocsDemensitons');
                    background: ef.get-value($themeDefault, 'docIconBg');
                    border-radius: ef.get-value($themeDefault, 'docIconRadius');
                    padding: ef.get-value($themeDefault, 'docIconOffset');

                    ::ng-deep .wlc-icon-content {

                        svg {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &__doc-info-wrp {
                    margin: 0 ef.get-value($themeDefault, 'gapDocList');
                    min-width: 0;
                    flex: 1 1 0%;
                }

                &__doc-status {
                    @include text.get-text-style(ef.get-value($themeDefault, 'titleFont'), ef.get-value($themeDefault, 'color'));
                    grid-area: doc-status;
                    width: 100%;
                }

                &__doc-title {
                    @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));
                    grid-area: doc-title;
                    display: flex;
                    flex-direction: row;
                    justify-items: flex-start;
                    align-items: center;
                    position: relative;
                    padding-right: 25px;
                    justify-self: stretch;
                    white-space: nowrap;
                    //word-break: break-word;
                    // overflow: hidden;
                    text-overflow: ellipsis;
                    z-index: 5;

                    a {
                        text-decoration: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                        @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:hover {

                        .wlc-verification-docs__remove {
                            display: block;
                        }
                    }
                }

                &__check-wrp {
                    display: flex;
                    flex-direction: row;
                }

                &__check-icon {
                    margin-right: ef.get-value($themeDefault, 'docOffset');
                }

                &__info {
                    margin-right: ef.get-value($themeDefault, 'docOffset');
                    cursor: pointer;

                    &.info-icon {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                path {
                                    fill: ef.get-value($themeDefault, 'infoIconBg');
                                }
                            }
                        }
                    }
                }

                &__remove {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: -50%;
                    // transform: translateY(-50%);

                    @include mq.min(1024) {
                        display: none;
                    }

                    ::ng-deep .wlc-icon-content {

                        svg {
                            width: ef.get-value($themeDefault, 'removeIconDocsDemensitons');
                            height: ef.get-value($themeDefault, 'removeIconDocsDemensitons');
                        }
                    }

                    &:hover {

                        &::ng-deep .wlc-icon-content {

                            svg {

                                line {
                                    stroke: ef.get-value($themeDefault, 'removeIconDocsHoverColor');
                                }
                            }
                        }
                    }
                }

                &__preload {
                    position: absolute;
                    right: 0;
                    top: -25%;
                    width: ef.get-value($themeDefault, 'preloaderDementions');
                    height: ef.get-value($themeDefault, 'preloaderDementions');
                    border: ef.get-value($themeDefault, 'preloaderBg');
                    border-top: ef.get-value($themeDefault, 'preloaderColor');
                    border-radius: 100%;
                    animation: spin 1s infinite linear;
                }

                @keyframes spin {

                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                &__info,
                &__check-icon {
                    font-size: 0;

                    ::ng-deep .wlc-icon-content {

                        svg {
                            width: ef.get-value($themeDefault, 'smallIconDocsDemensitons');
                            height: ef.get-value($themeDefault, 'smallIconDocsDemensitons');
                        }
                    }
                }
            }
        }
    }
}

::ng-deep body {

    .wlc-verification__tooltip {

        .tooltip-inner {
            border-radius: ef.get-value($themeDefault, 'borderRadius');
            background: ef.get-value($themeDefault, 'tooltipBg');
            padding: ef.get-value($themeDefault, 'tooltipOffset');
        }

        &.top {
            margin-right: ef.get-value($themeDefault, 'tooltipOffset');

            .tooltip-arrow {

                &:before {
                    border-top-color: ef.get-value($themeDefault, 'tooltipBg');
                }
            }
        }

        &.bottom {
            margin-right: ef.get-value($themeDefault, 'tooltipOffset');

            .tooltip-arrow {

                &:before {
                    border-bottom-color: ef.get-value($themeDefault, 'tooltipBg');
                }
            }
        }
    }
}
