@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

.wlc-verification--theme-default:host {

    .wlc-verification__content {

        .wlc-verification {

            &__tile {
                display: grid;
                gap: ef.get-value($themeDefault, 'gapItem');
                @include em.get-mq-map('grid-template-columns', $themeDefault, 'gridColums');
            }

            &__drag {
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'dragDirection');

                & > div {
                    margin: ef.get-value($themeDefault, 'dragInnerMargin');

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                @include mq.min(1024) {
                    display: grid;
                    gap: ef.get-value($themeDefault, 'dragGap');
                    @include em.get-mq-map('grid-template-areas', $themeDefault, 'gridAreas');
                    grid-template-columns: ef.get-value($themeDefault, 'dragGridTemplateColumns');
                    column-gap: ef.get-value($themeDefault, 'docsOffsetDesctop');

                    & > div {
                        margin-top: 0;
                    }
                }
            }

            &__doc-select {
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'docSelectDirection');
                grid-area: select;

                ::ng-deep {

                    .wlc-select__field {
                        color: ef.get-value($themeDefault, 'selectTextColor');
                    }

                    .wlc-select__dropdown {
                        overflow: hidden auto;
                    }
                }
            }

            &__dropzone {
                position: relative;

                display: flex;
                flex-direction: ef.get-value($themeDefault, 'dropzoneDirection');
                align-items: ef.get-value($themeDefault, 'dropzoneAlignItems');
                align-self: ef.get-value($themeDefault, 'dropzoneAlignSelf');
                justify-content: ef.get-value($themeDefault, 'dropzoneJustifyContent');
                grid-area: dropzone;

                width: ef.get-value($themeDefault, 'dropzoneWidth');
                min-height: ef.get-value($themeDefault, 'dropzoneMinHeight');

                padding: ef.get-value($themeDefault, 'paddingItem');

                border: ef.get-value($themeDefault, 'borderDropdown');
                border-radius: ef.get-value($themeDefault, 'borderRadius');
                background-color: ef.get-value($themeDefault, 'dropzoneBg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                cursor: pointer;

                @media (hover) {

                    &:hover {
                        border-color: ef.get-value($themeDefault, 'borderColorDrag');
                    }
                }

                .wlc-btn-upload {
                    margin-bottom: ef.get-value($themeDefault, 'offset');

                    &.selected {
                        @include mq.min(1024) {
                            display: grid;
                        }
                    }

                    @include mq.min(1024) {
                        display: none;
                    }
                }

                &.dragovered {
                    border-color: ef.get-value($themeDefault, 'borderColorDrag');
                }

                .wlc-verification__text {

                    span {
                        display: inline-block;
                    }

                    .wlc-verification__text-inner {
                        display: none;

                        @include mq.min(1024) {
                            display: inline-block;
                        }
                    }
                }
            }

            &__dropzone-clear {
                position: absolute;
                top: ef.get-value($themeDefault, 'clearPosition');
                right: ef.get-value($themeDefault, 'clearPosition');

                ::ng-deep .wlc-icon-content {

                    svg {

                        line {
                            stroke: ef.get-value($themeDefault, 'clearDropzoneColor');
                        }
                    }
                }

                &:hover {

                    ::ng-deep .wlc-icon-content {

                        svg {

                            line {
                                stroke: ef.get-value($themeDefault, 'clearDropzoneColorHoover');
                            }
                        }
                    }
                }
            }

            &__text {
                align-self: ef.get-value($themeDefault, 'verificationTextAlignSelf');
                text-align: ef.get-value($themeDefault, 'verificationTextAlign');

                @include text.get-text-style(ef.get-value($themeDefault, 'subTitleFont'), ef.get-value($themeDefault, 'color'));
            }

            &__upload-docs {
                grid-area: docs-list;

                padding-top: ef.get-value($themeDefault, 'offset');

                border-top: 1px solid ef.get-value($themeDefault, 'borderTopUploadDocs');

                @include mq.min(1024) {
                    padding-left: ef.get-value($themeDefault, 'docsOffsetDesctop');

                    border-left: ef.get-value($themeDefault, 'borderDocList');
                    border-top: none;
                }
            }

            &__title {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));
                text-align: ef.get-value($themeDefault, 'verificationTitleAlign');

                @include mq.min(1024) {
                    text-align: left;
                }
            }

            &-requirements {
                grid-area: req-list;

                padding-left: 0;

                list-style-type: none;

                &__item {
                    position: relative;

                    padding-left: ef.get-value($themeDefault, 'offset');

                    @include text.get-text-style(ef.get-value($themeDefault, 'textFont'), ef.get-value($themeDefault, 'dropZoneBg'));

                    &:before {
                        content: '';
                        position: absolute;
                        top: ef.get-value($themeDefault, 'requirementsBeforeTop');
                        left: ef.get-value($themeDefault, 'requirementsBeforeLeft');

                        width: ef.get-value($themeDefault, 'requirementsBeforeSize');
                        height: ef.get-value($themeDefault, 'requirementsBeforeSize');

                        background: ef.get-value($themeDefault, 'reqListStyleColor');
                        border-radius: ef.get-value($themeDefault, 'requirementsBeforeRadius');
                    }
                }
            }

            &-docs {
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'docsDirection');

                margin: ef.get-value($themeDefault, 'docsMargin');
                padding: ef.get-value($themeDefault, 'docsPadding');

                list-style-type: none;

                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    margin-bottom: ef.get-value($themeDefault, 'gapDocList');
                    padding-bottom: ef.get-value($themeDefault, 'gapDocList');

                    border-bottom: ef.get-value($themeDefault, 'borderDocList');

                    &:last-child {
                        border-bottom: none;
                    }

                    &.awaiting-validation {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusAwaiting');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusAwaiting');
                        }
                    }

                    &.validated {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                rect,
                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusValidated');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusValidated');
                        }
                    }

                    &.failed-validation {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                rect,
                                path {
                                    fill: ef.get-value($themeDefault, 'docsStatusFailed');
                                }
                            }
                        }

                        .wlc-verification-docs__doc-status {
                            color: ef.get-value($themeDefault, 'docsStatusFailed');
                        }
                    }
                }

                &__doc-icon {
                    width: ef.get-value($themeDefault, 'bigIconDocsDemensitons');
                    height: ef.get-value($themeDefault, 'bigIconDocsDemensitons');

                    padding: ef.get-value($themeDefault, 'docIconOffset');

                    background: ef.get-value($themeDefault, 'docIconBg');
                    border-radius: ef.get-value($themeDefault, 'docIconRadius');

                    ::ng-deep .wlc-icon-content {

                        svg {
                            display: block;

                            width: ef.get-value($themeDefault, 'docIconSvgSize');
                            height: ef.get-value($themeDefault, 'docIconSvgSize');
                        }
                    }
                }

                &__doc-info-wrp {
                    flex: ef.get-value($themeDefault, 'docInfoFlex');

                    min-width: ef.get-value($themeDefault, 'docInfoMinWidth');

                    margin: ef.get-value($themeDefault, 'docInfoMargin');
                }

                &__doc-status {
                    grid-area: doc-status;

                    width: ef.get-value($themeDefault, 'docStatusWidth');

                    @include text.get-text-style(ef.get-value($themeDefault, 'titleFont'), ef.get-value($themeDefault, 'color'));
                }

                &__doc-title {
                    position: relative;
                    z-index: ef.get-value($themeDefault, 'docTitleZIndex');

                    display: flex;
                    flex-direction: ef.get-value($themeDefault, 'docTitleDirection');
                    justify-items: ef.get-value($themeDefault, 'docTitleJustifyItems');
                    justify-self: ef.get-value($themeDefault, 'docTitleJustifySelf');
                    align-items: ef.get-value($themeDefault, 'docTitleAlignItems');
                    grid-area: doc-title;

                    max-width: ef.get-value($themeDefault, 'docTitleMaxWidth');

                    @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));

                    a {
                        display: inline-block;

                        max-width: ef.get-value($themeDefault, 'docTitleLinkMaxWidth');

                        padding: ef.get-value($themeDefault, 'docTitlePadding');

                        @include text.get-text-style(ef.get-value($themeDefault, 'titleFontUploadDocs'), ef.get-value($themeDefault, 'color'));
                        text-overflow: ellipsis;
                        text-decoration: ef.get-value($themeDefault, 'docTitleLinkDecoration');

                        overflow: hidden;

                        @media (hover) {

                            &:hover {
                                text-decoration: ef.get-value($themeDefault, 'docTitleLinkDecorationHover');
                            }
                        }
                    }

                    &:hover {

                        .wlc-verification-docs__remove {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &__check-wrp {
                    display: flex;
                    flex-direction: ef.get-value($themeDefault, 'checkWrpDirection');
                }

                &__check-icon {
                    margin-right: ef.get-value($themeDefault, 'docOffset');
                }

                &__info {
                    margin-right: ef.get-value($themeDefault, 'docOffset');

                    cursor: pointer;

                    &.info-icon {

                        ::ng-deep .wlc-icon-content {

                            svg {

                                path {
                                    fill: ef.get-value($themeDefault, 'infoIconBg');
                                }
                            }
                        }
                    }
                }

                &__remove {
                    opacity: 1;
                    visibility: visible;

                    margin: ef.get-value($themeDefault, 'docRemoveMargin');

                    cursor: pointer;

                    @include em.transition(opacity);

                    @include mq.min(1024) {
                        opacity: 0;
                        visibility: hidden;
                    }

                    ::ng-deep .wlc-icon-content {

                        svg {
                            width: ef.get-value($themeDefault, 'removeIconDocsDemensitons');
                            height: ef.get-value($themeDefault, 'removeIconDocsDemensitons');

                            line {
                                @include em.transition(stroke);
                            }
                        }
                    }

                    &:hover {

                        &::ng-deep .wlc-icon-content {

                            svg {

                                line {
                                    stroke: ef.get-value($themeDefault, 'removeIconDocsHoverColor');
                                }
                            }
                        }
                    }
                }

                &__preload {
                    width: ef.get-value($themeDefault, 'preloaderDementions');
                    height: ef.get-value($themeDefault, 'preloaderDementions');

                    margin: ef.get-value($themeDefault, 'docProloadMargin');

                    border: ef.get-value($themeDefault, 'preloaderBg');
                    border-top: ef.get-value($themeDefault, 'preloaderColor');
                    border-radius: ef.get-value($themeDefault, 'preloadRadius');

                    animation: spin 1s infinite linear;
                }

                @keyframes spin {

                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                &__info,
                &__check-icon {
                    font-size: 0;

                    ::ng-deep .wlc-icon-content {

                        svg {
                            width: ef.get-value($themeDefault, 'smallIconDocsDemensitons');
                            height: ef.get-value($themeDefault, 'smallIconDocsDemensitons');
                        }
                    }
                }
            }
        }
    }
}

::ng-deep body {

    .wlc-verification__tooltip {

        .tooltip-inner {
            padding: ef.get-value($themeDefault, 'tooltipOffset');

            border-radius: ef.get-value($themeDefault, 'borderRadius');
            background: ef.get-value($themeDefault, 'tooltipBg');
        }

        &.top {
            margin-right: ef.get-value($themeDefault, 'tooltipOffset');

            .tooltip-arrow {

                &:before {
                    border-top-color: ef.get-value($themeDefault, 'tooltipBg');
                }
            }
        }

        &.bottom {
            margin-right: ef.get-value($themeDefault, 'tooltipOffset');

            .tooltip-arrow {

                &:before {
                    border-bottom-color: ef.get-value($themeDefault, 'tooltipBg');
                }
            }
        }
    }
}
