.wlc-profile-no-content:host {
    @include text.get-text-style(ef.get-value($themeDefault, 'textStyle'), ef.get-value($themeDefault, 'textColor'));
    display: ef.get-value($themeDefault, 'display');
    flex-direction: ef.get-value($themeDefault, 'direction');
    align-items: ef.get-value($themeDefault, 'alignItems');
    margin: ef.get-value($themeDefault, 'margin');

    .wlc-profile-no-content {

        &__img {
            @include bm.get-mq-map('display', $themeDefault, 'imgDisplayProfileDef');
            align-self: ef.get-value($themeDefault, 'imgAlignSelf');
            color: ef.get-value($themeDefault, 'imgColor');

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('display', $themeDefault, 'imgDisplayProfileFirst');
            }

            ::ng-deep {

                svg {
                    width: ef.get-value($themeDefault, 'imgWidth');
                    max-width: ef.get-value($themeDefault, 'imgMaxWidth');
                    height: ef.get-value($themeDefault, 'imgHeight');
                    max-height: ef.get-value($themeDefault, 'imgMaxHeight');

                    path {
                        fill: currentColor;
                    }
                }
            }
        }
    }
}
