<div class="{{$class}}__content">
    <div class="{{$class}}-points" data-wlc-element="exchange-points">
        <div class="{{$class}}-points__value">{{(points | number: '.0-2') || 'Unknown' | translate}}
            <span wlc-currency
                  class="{{$class}}-points__currency"
                  currency="LP"
                  [showIconOnly]="true"></span>
            <span wlc-tooltip
                  class="{{$class}}-icon__description-currency"
                  [inlineParams]="{modal: 'descriptionCasinosCurrency'}"></span>
        </div>

        <div class="{{$class}}-points__desc">{{'Available for exchange' | translate}}</div>
    </div>
    <button wlc-button
            sref="app.profile.loyalty-store.main"
            text="Exchange to cash"
            themeMod="secondary"
            [wlcElement]="'button_exchange-to-cash'"></button>
</div>
<div wlc-user-stats
     class="{{$class}}__info"
     [useDepositBtn]="false"
></div>
