<div class="{{$class}}__content">
    <div class="{{$class}}-points" data-wlc-element="exchange-points">
        <div class="{{$class}}-points__value">
            <span *ngIf="points; else unknown"
                  wlc-currency
                  currency="LP"
                  [value]="points"></span>

            <ng-template #unknown>{{'Unknown' | translate}}</ng-template>
            
            <span wlc-tooltip
                  class="{{$class}}-icon__description-currency"
                  [inlineParams]="{modal: 'descriptionCasinosCurrency'}"></span>
        </div>

        <div class="{{$class}}-points__desc">{{'Available for exchange' | translate}}</div>
    </div>
    <button wlc-button
            sref="app.profile.loyalty-store.main"
            text="Exchange to cash"
            themeMod="secondary"
            [wlcElement]="'button_exchange-to-cash'"></button>
</div>
<div wlc-user-stats
     class="{{$class}}__info"
     [useDepositBtn]="false"
></div>
