@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/vars';

.wlc-limitations--theme-default:host {

    .wlc-limitations-list {
        margin-top: ef.get-value($themeDefault, 'marginTop');
    }

    ::ng-deep {

        .wlc-form {
            @include em.get-mq-map('grid-template-columns', $themeDefault, 'formTemplateColumns');
            display: grid;
            align-items: ef.get-value($themeDefault, 'formAlignItems');
            justify-content: ef.get-value($themeDefault, 'formJustifyContent');
            column-gap: ef.get-value($themeDefault, 'formColumnGap');
            row-gap: ef.get-value($themeDefault, 'formRowGap');
        }

        .wlc-table--theme-default[class] {

            .wlc-table__cell--type {
                @include em.get-mq-map('padding', $themeDefault, 'actionPaddingCell');
            }
        }

        .wlc-btn {
            @include em.get-mq-map('margin', $themeDefault, 'btnMargin');
            width: ef.get-value($themeDefault, 'btnWidth');
            height: ef.get-value($themeDefault, 'btnHeight');
        }
    }
}
