@import '../utils/vars';

.wlc-restore-password-form--theme-default:host {
    max-width: map-get($themeDefault, formMaxWidth);
    margin: map-get($themeDefault, formMargin);

    &::ng-deep {

        .wlc-input {
            margin: map-get($themeDefault, fieldMargin);
        }

        .wlc-form {

            > .wlc-btn {
                margin: map-get($themeDefault, btnMargin);
            }
        }
    }
}
