.wlc-tooltip--theme-default {

    &:host {
        @include bm.get-mq-map('width', $themeDefault, 'iconWidth');
        @include bm.get-mq-map('height', $themeDefault, 'iconHeight');
        display: flex;
        align-items: center;
        justify-content: center;

        .wlc-tooltip__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;

            &.wlc-icon {

                ::ng-deep {

                    .wlc-icon-content {
                        display: flex;
                        align-items: center;
                        color: ef.get-value($themeDefault, 'iconFill');

                        @include bm.hover {
                            color: ef.get-value($themeDefault, 'iconColorOnHover');
                        }
                    }

                    svg {
                        @include bm.get-mq-map('width', $themeDefault, 'iconWidth');
                        @include bm.get-mq-map('height', $themeDefault, 'iconHeight');
                        @include bm.transition(fill);
                        fill: currentColor;
                    }
                }
            }
        }

        &.wlc-tooltip--theme-mod-resolve {

            .wlc-tooltip__icon {
                @include bm.get-mq-map('width', $modResolve, 'iconWidth');
                @include bm.get-mq-map('height', $modResolve, 'iconHeight');

                &.wlc-icon {
                    color: ef.get-value($modResolve, 'iconFill');

                    ::ng-deep {

                        svg {
                            @include bm.get-mq-map('width', $modResolve, 'iconWidth');
                            @include bm.get-mq-map('height', $modResolve, 'iconHeight');
                            @include bm.transition(fill);
                        }
                    }

                    @include bm.hover {
                        color: ef.get-value($modResolve, 'iconColorOnHover');
                    }
                }
            }
        }

        &.wlc-tooltip--theme-mod-error {
            width: ef.get-value($modError, 'iconWidth');
            height: ef.get-value($modError, 'iconHeight');

            .wlc-tooltip__icon {
                width: ef.get-value($modError, 'iconWidth');
                height: ef.get-value($modError, 'iconHeight');
                color: ef.get-value($modError, 'iconFill');

                ::ng-deep {

                    svg {
                        width: ef.get-value($modError, 'iconWidth');
                        height: ef.get-value($modError, 'iconHeight');
                    }
                }

                @include bm.hover {
                    color: ef.get-value($modError, 'iconColorOnHover');
                }
            }
        }
    }
}

::ng-deep {

    .wlc-tooltip__bs-tooltip-theme-default {
        --bs-tooltip-bg: #{ef.get-value($themeDefault, 'contentBg')};
        --bs-tooltip-color: #{ef.get-value($themeDefault, 'contentColor')};

        &.show {
            opacity: 1;
        }

        &.top {

            .tooltip-arrow {

                &:before {
                    border-top-color: var(--bs-tooltip-bg);
                }
            }
        }

        &.bottom {

            .tooltip-arrow {

                &:before {
                    border-bottom-color: var(--bs-tooltip-bg);
                }
            }
        }

        .tooltip-inner {
            background-color: ef.get-value($themeDefault, 'contentBg');
        }

        &.wlc-tooltip__bs-tooltip-theme-mod-error {
            --bs-tooltip-bg: #{ef.get-value($themeDefault, 'contentBgError')};
            --bs-tooltip-color: #{ef.get-value($themeDefault, 'contentColorError')};

            &.bottom {

                .tooltip-arrow {

                    &:before {
                        border-bottom-color: var(--bs-tooltip-bg);
                    }
                }
            }

            .tooltip-inner {
                color: var(--mc-black);
                background-color: var(--bs-tooltip-bg);
            }
        }
    }
}
