@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-tooltip--theme-default {

    &:host {
        @include em.get-mq-map('width', $themeDefault, 'iconSize');
        @include em.get-mq-map('height', $themeDefault, 'iconSize');
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .wlc-tooltip__icon {
            @include em.get-mq-map('width', $themeDefault, 'iconSize');
            @include em.get-mq-map('height', $themeDefault, 'iconSize');
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;

            &.wlc-icon {

                ::ng-deep {

                    .wlc-icon-content {
                        display: flex;
                        align-items: center;
                    }

                    svg {
                        @include em.get-mq-map('width', $themeDefault, 'iconSize');
                        @include em.get-mq-map('height', $themeDefault, 'iconSize');

                        @include em.hover {

                            path {
                                fill: ef.get-value($themeDefault, 'iconColorOnHover');
                            }
                        }
                    }

                    path {
                        @include em.transition(fill);
                        fill: ef.get-value($themeDefault, 'iconFill');
                    }
                }
            }
        }
    }
}

::ng-deep body {

    .wlc-tooltip__bs-tooltip {

        &.show {
            opacity: 1;
        }

        &.top {

            .tooltip-arrow {

                &:before {
                    border-top-color: ef.get-value($themeDefault, 'contentBg');
                }
            }
        }

        &.bottom {

            .tooltip-arrow {

                &:before {
                    border-bottom-color: ef.get-value($themeDefault, 'contentBg');
                }
            }
        }

        .tooltip-inner {
            @include text.get-text-style(ef.get-value($themeDefault, 'textStyle'), ef.get-value($themeDefault, 'contentColor'));
            padding: ef.get-value($themeDefault, 'contentPadding');
            background-color: ef.get-value($themeDefault, 'contentBg');
            border-radius: ef.get-value($themeDefault, 'contentBorderRadius');
            box-shadow: ef.get-value($themeDefault, 'contentBoxShadow');
        }
    }
}
