<ng-container *ngIf="loaded; else loading">
    <ng-container *ngIf="icon">
        <ng-container *ngIf="isNegative && icon.minusBeforeCurrency">
            -
        </ng-container>
        <ng-container *ngIf="icon.placement === 'left'">
            <ng-container *ngIf="icon.prefix">
                {{icon.prefix}}
            </ng-container>
            <span class="wlc-currency__icon">{{icon.iconChar}}</span>
        </ng-container>
        <ng-container *ngIf="isNegative && !icon.minusBeforeCurrency">
            -
        </ng-container>
    </ng-container>

    {{displayValue}}

    <ng-container *ngIf="icon?.placement === 'right'">
        <ng-container *ngIf="icon.prefix">
            {{icon.prefix}}
        </ng-container>
        <span class="wlc-currency__icon">{{icon.iconChar}}</span>
    </ng-container>
</ng-container>

<ng-template #loading>
    ...
</ng-template>
