<ng-container *ngIf="loaded; else loading">
    <ng-container *ngIf="icon">
        <ng-container *ngIf="isNegative && icon.minusBeforeCurrency">-</ng-container>
        <ng-container *ngIf="icon.placement === 'left'">
            <ng-container *ngTemplateOutlet="iconTpl;"></ng-container>
        </ng-container>
        <ng-container *ngIf="isNegative && !icon.minusBeforeCurrency">-</ng-container>
    </ng-container>

    <ng-container *ngIf="!isError; else error">{{displayValue?.trim()}}</ng-container>

    <ng-container *ngIf="icon?.placement === 'right'">
        <ng-container *ngTemplateOutlet="iconTpl;"></ng-container>
    </ng-container>
</ng-container>

<ng-template #loading>
    ...
</ng-template>

<ng-template #error>
    {{$params.textError | translate}}
</ng-template>

<ng-template #iconTpl>
    <span class="{{$class}}__sign {{$class}}__sign--{{icon.placement}}"
        [tooltip]="cuurencyDescription | translate"
        container="body">
        <ng-container *ngIf="icon?.prefix">{{icon.prefix}}</ng-container>
        <span *ngIf="icon.iconChar" class="wlc-currency__icon">{{icon.iconChar}}</span>
        <span *ngIf="showSvg"
            wlc-icon
            class="wlc-currency__svg"
            [iconUrl]="icon.svg">
        </span>
        <span *ngIf="showName" class="wlc-currency__name">{{icon.name}}</span>
    </span>
</ng-template>
