<ng-container *ngIf="ready; else preloader">
    <ng-container [ngTemplateOutlet]="asModal && systems.length > 1 ? button : list"></ng-container>
    <ng-container *ngIf="showTable" [ngTemplateOutlet]="table"></ng-container>
</ng-container>

<ng-template #button>
    <button type="button"
            class="{{$class}}__btn-modal"
            [class.selected]="!!currentSystem"
            [class.use-icon]="$params.noSelectedButton?.use && !currentSystem"
            [attr.title]="$params.buttonText | translate"
            [attr.aria-label]="$params.buttonText | translate"
            (click)="openModal()">
        <ng-container [ngTemplateOutlet]="btnModalImage"></ng-container>
        <ng-container [ngTemplateOutlet]="btnModalWrap"></ng-container>
    </button>
    <div *ngIf="paymentDescription" class="payments-description">{{paymentDescription}}</div>
    <div *ngIf="currentSystem && $params.showSelectedInButton"
        class="{{$class}}__method">
        <span class="{{$class}}__method-text {{$class}}__method-text--title">
            {{$params.chosenMethodText | translate}}
        </span>
        <span class="{{$class}}__method-text {{$class}}__method-text--name">
            {{activeName}}
        </span>
        <span *ngIf="currentSystem.cryptoTicker && currentSystem.cryptoInvoices"
            class="{{$class}}__method-text {{$class}}__method-text--ticker">
            ({{currentSystem.cryptoTicker}})
        </span>
    </div>
</ng-template>

<ng-template #btnModalWrap>
    <span class="{{$class}}__btn-modal-wrap">
        <ng-container *ngIf="!$params.noSelectedButton?.use || currentSystem">
            <span wlc-icon
                class="{{$class}}__btn-modal-arrow"
                [iconPath]="$params.arrowIcon">
            </span>
        </ng-container>
        <span *ngIf="$params.noSelectedButton?.use && !currentSystem"
            class="{{$class}}__btn-modal-text">
            {{$params.noSelectedButton.title| translate}}
        </span>
        <span class="{{$class}}__btn-modal-text">
            {{($params.noSelectedButton?.use ? $params.noSelectedButton.subtitle : $params.buttonText) | translate}}
        </span>
    </span>
</ng-template>

<ng-template #btnModalImage>
    <ng-container *ngIf="currentSystem && $params.showSelectedInButton"
        [ngSwitch]="this.$params.theme">
        <span *ngSwitchCase="'crypto-list'"
            wlc-icon
            class="{{$class}}__btn-modal-image"
            [fallback]="'gstatic/wlc/icons/currencies/def.svg'"
            [showSvgAsImg]="true"
            [iconUrl]="'wlc/icons/currencies/' + currentSystem.cryptoTicker + '.svg' | lowercase">
        </span>
        <span *ngSwitchDefault
            wlc-icon-list-item
            class="{{$class}}__btn-modal-image"
            [icon]="activeIcon"
            [inlineParams]="{class: $class + '-item'}">
        </span>
    </ng-container>
    <span *ngIf="!currentSystem && $params.noSelectedButton?.use"
        wlc-icon
        class="{{$class}}__btn-modal-image"
        [iconPath]="$params.noSelectedButton.icon">
    </span>
</ng-template>

<ng-template #table>
    <table class="{{$class}}__sys-table">
        <tr class="{{$class}}__sys-tr {{$class}}__sys-tr--speed">
            <th class="{{$class}}__sys-th">{{'Speed' | translate}}</th>
            <!-- No data about speed :( -->
            <td class="{{$class}}__sys-td">{{currentSystem ? 'Instant' : '---' | translate}}</td>
        </tr>
        <tr class="{{$class}}__sys-tr {{$class}}__sys-tr--limit"
            [ngSwitch]="$params.paymentType">
            <th class="{{$class}}__sys-th">{{'Limit' | translate}}</th>
            <td *ngSwitchCase="'deposit'"
                class="{{$class}}__sys-td"
                [ngSwitch]="!!currentSystem">
                <span *ngSwitchDefault>---</span>
                <span *ngSwitchCase="true">{{currentSystem.depositMin}} - {{currentSystem.depositMax}}</span>
            </td>
            <td *ngSwitchCase="'withdraw'"
                class="{{$class}}__sys-td"
                [ngSwitch]="!!currentSystem">
                <span *ngSwitchDefault>---</span>
                <span *ngSwitchCase="true">{{currentSystem.withdrawMin}} - {{currentSystem.withdrawMax}}</span>
            </td>
        </tr>
        <tr class="{{$class}}__sys-tr {{$class}}__sys-tr--provider">
            <th class="{{$class}}__sys-th">{{'Provider' | translate}}</th>
            <td class="{{$class}}__sys-td">{{currentSystem ? currentSystem.name : '---'}}</td>
        </tr>
    </table>
</ng-template>

<ng-template #list>
    <div class="{{$class}}__list" [ngClass]="classList">
        <ng-container *ngIf="useTags" [ngTemplateOutlet]="categories"></ng-container>

        <ul class="{{$class}}__ul"
            [@appearance]="ready && systems.length"
            [ngSwitch]="$params.theme">
            <ng-container *ngSwitchCase="'crypto-list'" [ngTemplateOutlet]="cryptoList"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="defaultList"></ng-container>
        </ul>
        <div [@toggle]="paymentDescription ? 'opened' : 'closed'"
            class="payments-description payments-description--desktop">
            {{paymentDescription}}
        </div>
    </div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>

<ng-template #cryptoList>
    <li *ngFor="let system of systems$ | async; index as $index; trackBy:systemTrackBy"
        class="{{$class}}__item {{$class}}__item--{{system.alias}}"
        [class.disabled]="system.disabledBy">
        <button class="{{$class}}__button"
            [class.active]="system.id === currentSystem?.id"
            [class.disabled]="system.disabledBy"
            [attr.data-wlc-element]="'block_payment-item-name'"
            (click)="selectPayment(system)"
            type="button">
            <span class="{{$class}}__icon"
                wlc-icon
                [showSvgAsImg]="true"
                [iconUrl]="'wlc/icons/currencies/' + system.cryptoTicker + '.svg' | lowercase"
                [fallback]="'gstatic/wlc/icons/currencies/def.svg'"
            ></span>
            <span class="{{$class}}__name">{{system.name}}</span>
            <span *ngIf="system.cryptoTicker" class="{{$class}}__ticker">{{system.cryptoTicker}}</span>
        </button>
        <div *ngIf="system.disabledBy"
            wlc-tooltip
            class="{{$class}}__tooltip"
            [inlineParams]="getErrTooltipParams(system)"
        ></div>
    </li>
</ng-template>

<ng-template #defaultList>
    <li *ngFor="let system of systems$ | async; index as $index"
        class="{{$class}}__item"
        [class.disabled]="system.disabledBy"
        [attr.data-wlc-element]="'block_payment-item-' + system.id">
        <button wlc-icon-list-item
                class="{{$class}}__button"
                [class.active]="system.id === currentSystem?.id"
                [class.disabled]="system.disabledBy"
                type="button"
                [attr.aria-label]="system.name"
                [attr.data-wlc-element]="'block_payment-item-name'"
                [attr.title]="system.name"
                [inlineParams]='{icon: itemsMap.get(system.id), class: $class + "-item"}'
                [logImageErrorChild]="logImageError"
                (click)='selectPayment(system)'>
        </button>
        <div *ngIf="system.disabledBy"
            wlc-tooltip
            class="{{$class}}__tooltip"
            [inlineParams]="getErrTooltipParams(system)"
        ></div>
    </li>
</ng-template>

<ng-template #categories>
    <ng-container [ngSwitch]="catMenuType">
        <ng-container *ngSwitchCase="'desktop'"
            [ngTemplateOutlet]="catsMenu">
        </ng-container>
        <ng-container *ngSwitchCase="'dropdown'"
            [ngTemplateOutlet]="catsDropdown">
        </ng-container>

    </ng-container>

</ng-template>

<ng-template #catsMenu>
    <div *ngIf="tagsMenuConfig"
        class="{{$class}}__categories {{$class}}__categories--{{catMenuTypeMain}}"
        wlc-wrapper
        [inlineParams]="tagsMenuConfig">
    </div>
</ng-template>

<ng-template #catsDropdown>
    <div class="{{$class}}__categories {{$class}}__categories--drop">
        <button class="{{$class}}__tag-main"
            [class.opened]="showTagsDropDown"
            (click)="toggleTags()">
            <span wlc-icon
                class="icon"
                iconPath="/wlc/icons/filter-merchants.svg">
            </span>
            <span class="{{$class}}__tag-main--text">
                {{activeTagName | translate}}
            </span>
        </button>

        <div [@toggle]="showTagsDropDown ? 'opened' : 'closed'"
            class="{{$class}}__tag-list">
            <button *ngFor="let tag of tags"
                class="{{$class}}__tag-btn {{tag[0]}}"
                [class.active]="tag[0] === tagsControl.value"
                (click)="setActiveTag(tag[0])">
                {{tag[1] | translate}}
            </button>
        </div>
    </div>
</ng-template>
