<ng-template #promo>
    <div wlc-tournament-promo
         [tournament]="$params.common.tournament"
         [actionParams]="{modal: {}, selector: '.wlc-tournament-detail__prizepool'}"
         [type]="$params.common.type"
         [parentInstance]="instance"></div>
</ng-template>

<ng-template #banner>
    <div wlc-tournament-banner
         [actionParams]="{modal: {}, selector: '.wlc-tournament-detail__prizepool'}"
         [parentInstance]="instance"></div>
</ng-template>

<ng-template #available>
    <div wlc-tournament-promo
         [actionParams]="actionParams"
         [customMod]="$params.common?.customMod"
         [parentInstance]="instance"></div>
</ng-template>

<ng-template #active>
    <div wlc-tournament-detail
         [tournament]="$params.common.tournament"
         [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #detail>
    <div wlc-tournament-detail
         [tournament]="$params.common.tournament"
         [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #dashboard>
    <div class="{{$class}}__container" [class.selected]="isTournamentSelected">
        <div class="{{$class}}__more-icon">
            <div wlc-icon
                 class="icon-btn"
                 wlcElement="button_terms"
                 iconPath="/wlc/icons/info.svg"
                 (click)="readMore({selector: ''})">
            </div>
        </div>
        <div class="{{$class}}__img-container" *ngIf="!isTournamentSelected">
            <img [src]="getDashboardImage()"
                 class="{{$class}}__image"
                 loading="lazy"
                 alt="tournament image">
            <h3 class="{{$class}}__title">
                <span>{{tournament.name}}</span>
            </h3>
        </div>
        <div wlc-timer
             class="{{$class}}__timer"
             [value]="tournament.isTournamentStarts
                ? tournament.endsLuxon
                : tournament.startsLuxon"
             [text]="tournament.isTournamentStarts
                    ? 'Time remaining'
                    : 'Coming soon'">
        </div>
        <div *ngIf="!isTournamentSelected && tournament.description?.length"
             class="{{$class}}__description"
             [innerHtml]="tournament.description"
             [wlc-clamp]="$params.common.descriptionClamp"
        ></div>
        <div *ngIf="!isTournamentSelected && tournament.isTournamentStarts" class="{{$class}}__btns">
            <button
                wlc-button
                [text]="'Join now'"
                [wlcElement]="'button_tournament_join'"
                (click)="join()">
            </button>
        </div>
        <div *ngIf="isTournamentSelected"
             wlc-tournament-leaderboard
             class="{{$class}}__board"
             [tournament]="tournament"
             [limit]="8"
             [showAllBtn]="true"></div>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params?.type">
    <ng-container [ngTemplateOutlet]="active" *ngSwitchCase="'active'"></ng-container>
    <ng-container [ngTemplateOutlet]="available" *ngSwitchCase="'available'"></ng-container>
    <ng-container [ngTemplateOutlet]="detail" *ngSwitchCase="'detail'"></ng-container>
    <ng-container [ngTemplateOutlet]="banner" *ngSwitchCase="'banner'"></ng-container>
    <ng-container [ngTemplateOutlet]="dashboard" *ngSwitchCase="'dashboard'"></ng-container>
    <ng-container [ngTemplateOutlet]="promo" *ngSwitchDefault></ng-container>
</ng-container>
