<ng-template #promo>
    <div wlc-tournament-promo
         [tournament]="$params.common.tournament"
         [type]="$params.common.type"></div>
</ng-template>
<ng-template #dashboard>
    <div class="{{$class}}__container">
        <div class="{{$class}}__more-icon">
            <div
                class="icon-btn"
                wlc-icon
                iconName="info"
                (click)="openDescription()"
                [wlcElement]="'button_terms'">
            </div>
        </div>
        <h3 class="{{$class}}__title">{{tournament.name}}</h3>
        <div wlc-timer
             class="{{$class}}__timer"
             [value]="tournament.endsLuxon"
             text="Time remaining"></div>
        <div wlc-tournament-leaderboard
             class="{{$class}}__board"
             [tournament]="tournament"
             [limit]="8"
             [showAllBtn]="true"></div>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params?.type">
    <ng-container [ngTemplateOutlet]="dashboard" *ngSwitchCase="'dashboard'"></ng-container>
    <ng-container [ngTemplateOutlet]="promo" *ngSwitchDefault></ng-container>
</ng-container>
