<ng-template #promo>
    <div wlc-tournament-promo
        [theme]="$params.theme"
        [actionParams]="{modal: {}, selector: '.wlc-tournament-detail__prizepool'}"
        [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #banner>
    <div wlc-tournament-banner
        [theme]="$params.theme"
        [actionParams]="{modal: {}, selector: '.wlc-tournament-detail__prizepool'}"
        [parentInstance]="instance"
        [isAlternative]="$params.isAlternative">
    </div>
</ng-template>

<ng-template #available>
    <div wlc-tournament-promo
        [theme]="isAlternative ? 'alternative' : $params.theme"
        [actionParams]="actionParams"
        [customMod]="$params.common?.customMod"
        [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #active>
    <div wlc-tournament-detail
        [theme]="$params.theme"
        [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #detail>
    <div wlc-tournament-detail
        [theme]="$params.theme"
        [parentInstance]="instance">
    </div>
</ng-template>

<ng-template #infoBtn>
    <div class="{{$class}}__more-icon">
        <div wlc-icon
            class="icon-btn"
            wlcElement="button_terms"
            iconPath="/wlc/icons/info.svg"
            (click)="readMore({selector: ''})">
        </div>
    </div>
</ng-template>

<ng-template #dashboard>
    <div class="{{$class}}__container" [class.selected]="tournament.isSelected">
        <ng-container *ngIf="tournament.isSelected" [ngTemplateOutlet]="infoBtn"></ng-container>
        <div *ngIf="!tournament.isSelected" class="{{$class}}__img-container">
            <ng-container [ngTemplateOutlet]="infoBtn"></ng-container>
            <img class="{{$class}}__image"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImageDashboard"
                [src]="tournament.imageDashboard">
            <h3 class="{{$class}}__title">
                <span>{{tournament.name}}</span>
            </h3>
        </div>
        <div wlc-timer
            class="{{$class}}__timer"
            [theme]="$params.theme"
            [value]="tournament.stateDateTournament"
            [text]="tournament.timerText"
            [serverDateUTC]="tournament.serverTime"
            (timerEnds)="updateTournaments()">
        </div>
        <div *ngIf="!tournament.isSelected && tournament.description?.length" class="{{$class}}__description-block">
            <p class="{{$class}}__description"
                [innerHtml]="tournament.descriptionClean"
            ></p>
        </div>
        <div *ngIf="!tournament.isSelected && tournament.isTournamentStarts" class="{{$class}}__btns">
            <ng-container *ngIf="showJoin">
                <button *ngIf="!tournament.onlyForLevels; else lockBtn"
                    wlc-button
                    text="Join"
                    [wlcElement]="'button_tournament_join'"
                    (click)="join()">
                </button>
            </ng-container>
        </div>
        <ng-container *ngIf="tournament.isSelected">
            <div wlc-tournament-leaderboard
                class="{{$class}}__board"
                [theme]="$params.theme"
                [themeMod]="'compact'"
                [tournament]="tournament"
                [limit]="8"
                [useListHead]="false"
                [showAllBtn]="true">
            </div>
            <button *ngIf="$params.theme === 'wolf'"
                wlc-button
                themeMod="secondary"
                text="Read more"
                (click)="readMore({selector: ''})">
            </button>
        </ng-container>
        <div *ngIf="tournament.freeRounds"
            wlc-tournament-free-spins
            [inlineParams]="freeSpinsParams">
        </div>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params?.type">
    <ng-container *ngSwitchCase="'active'" [ngTemplateOutlet]="active"></ng-container>
    <ng-container *ngSwitchCase="'available'" [ngTemplateOutlet]="available"></ng-container>
    <ng-container *ngSwitchCase="'detail'" [ngTemplateOutlet]="detail"></ng-container>
    <ng-container *ngSwitchCase="'banner'" [ngTemplateOutlet]="banner"></ng-container>
    <ng-container *ngSwitchCase="'dashboard'" [ngTemplateOutlet]="dashboard"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="promo"></ng-container>
</ng-container>

<ng-template #lockBtn>
    <div class="{{$class}}__lock-btn">
        <span wlc-icon
            class="lock-btn__icon"
            iconPath="/wlc/icons/lock-icon.svg"></span>
        <span class="lock-btn__text">{{lockBtnText | translate}}</span>
    </div>
</ng-template>
