<div *ngIf="wins?.length && isReady; else: noData" class="{{$class}}__container">
    <div *ngIf="$params.common?.useListHead" class="{{$class}}__item {{$class}}__item--head">
        <div class="{{$class}}__cell item-place">{{'Place' | translate}}</div>
        <div class="{{$class}}__cell item-user">
            <span class="user-login">{{'Player' | translate}}</span>
        </div>
        <div class="{{$class}}__cell item-points">{{'Points' | translate}}</div>
        <div *ngIf="paramInclude('themeMod', 'history')" class="{{$class}}__cell item-win">
            <span class="win-text">{{'Win' | translate}}</span>
            <span>(&euro;)</span>
        </div>
    </div>

    <div class="{{$class}}__list">
        <div *ngFor="let win of winsTop; index as $index"
             class="{{$class}}__item {{$class}}__item--top {{$class}}__item--top-{{$index + 1}}"
             [class.user]="userId === win.IDUser"
             [class.first]="!$index"
             [class.single]="winsTop.length === 1"
             [class.last]="$index === (winsTop.length - 1)">
            <div class="{{$class}}__cell item-place">
                <span class="{{$class}}__cell-place">{{win.IDUserPlace}}</span>
                <span *ngIf="paramInclude('themeMod', 'tournament-detail')"
                      wlc-icon
                      iconPath="/wlc/icons/cup.svg"></span>
            </div>
            <div class="{{$class}}__cell item-user">
                <span *ngIf="paramExclude('themeMod', ['tournament-detail', 'history'])"
                      wlc-icon
                      iconPath="/wlc/icons/cup.svg"></span>
                <span *ngIf="win.IDUser !== userId; else: userThee" class="user-login">{{getPlayerName(win)}}</span>
            </div>
            <div class="{{$class}}__cell item-points">{{win.points | number: '.0-2'}}</div>
            <div *ngIf="paramInclude('themeMod', 'history')" class="{{$class}}__cell item-win">{{win.WinEUR || '-'}}</div>
        </div>
        <div *ngIf="winsRest.length && paramInclude('themeMod', 'tournament-detail')" class="delimetr"></div>
        <div *ngFor="let win of winsRest" class="{{$class}}__item" [class.user]="userId === win.IDUser">
            <div class="{{$class}}__cell item-place">{{win.IDUserPlace}}</div>
            <div class="{{$class}}__cell item-user">
                <span *ngIf="win.IDUser !== userId; else: userThee" class="user-login">{{getPlayerName(win)}}</span>
            </div>
            <div class="{{$class}}__cell item-points">{{win.points | number: '.0-2'}}</div>
            <div *ngIf="paramInclude('themeMod', 'history')" class="{{$class}}__cell item-win">{{win.WinEUR || '-'}}</div>
        </div>
    </div>

    <button *ngIf="needShowBtn"
            wlc-button
            class="{{$class}}__btn"
            text="See all prizes"
            icon="arrow"
            theme="cleared"
            [attr.type]="'button'"
            [wlcElement]="'button_show_all_wins'"
            (click)="showAllWins()">
    </button>
</div>
<ng-template #noData>
    <div *ngIf="isReady" class="{{$class}}__nocontent">{{'No tournament wins available' | translate}}</div>
    <div *ngIf="!isReady" class="{{$class}}__nocontent">
        <div wlc-loader></div>
    </div>
</ng-template>

<ng-template #userThee>
    <span class="user-login">{{'You' | translate}}</span>
</ng-template>
