@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

.wlc-post-menu--theme-contacts:host {

    .wlc-post-menu__item {

        .wlc-post-menu__link {
            @include bm.transition;
            @include text.get-text-style('ThirdTitleBold', ef.get-value($menuThemeContacts, 'textColor'));
            display: block;
            padding: ef.get-value($menuThemeContacts, 'padding');
            letter-spacing: ef.get-value($menuThemeContacts, 'letterSpacing');
            text-transform: ef.get-value($menuThemeContacts, 'textTransform');
            text-decoration: ef.get-value($menuThemeContacts, 'textDecoration');
            border-bottom: ef.get-value($menuThemeContacts, 'border');

            &.active {
                color: ef.get-value($menuThemeContacts, 'activeColor');
                background: ef.get-value($menuThemeContacts, 'activeBg');

                @include bm.hover {
                    color: ef.get-value($menuThemeContacts, 'hoverColor');
                    background: ef.get-value($menuThemeContacts, 'hoverBg');
                }
            }

            @include bm.hover {
                color: ef.get-value($menuThemeContacts, 'hoverColor');
                background: ef.get-value($menuThemeContacts, 'hoverBg');
            }
        }

        &:last-child {

            .wlc-post-menu__link {
                border-bottom: 0;
            }
        }
    }
}
