@use '../utils/vars' as v;
@use 'engine-scss/mixins/text' as text;

.wlc-post-menu--theme-default:host {

    .wlc-post-menu {

        &__title {
            font-weight: v.$titleWeight;
            color: v.$titleColor;
            padding: v.$titlePadding;
        }

        &__items {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: v.$linksGap;
        }

        &__link {
            color: v.$linkColor;
            @include text.get-text-style(ButtonText);
            text-decoration: v.$linkDecoration;
        }
    }
}
