@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@import '../utils/vars';

.wlc-post-menu--theme-default:host {

    .wlc-post-menu {

        &__title {
            padding: map-get($themeDefault, 'titlePadding');
            @include text.get-text-style('ThirdTitleBold', map-get($themeDefault, 'titleColor'));
        }

        &__items {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: map-get($themeDefault, 'linksGap');
        }

        &__link {
            @include text.get-text-style('PrimaryText', map-get($themeDefault, 'linkColor'));

            @include mq.min(900) {
                @include text.get-text-style('ButtonText', map-get($themeDefault, 'linkColor'));
            }
            text-decoration: map-get($themeDefault, 'linkDecoration');

            @media (hover: hover) {

                &:hover {
                    color: map-get($themeDefault, 'linkColorHover');
                    @include bm.transition(color);
                }
            }

            &.active {
                color: map-get($themeDefault, 'linkColorHover');
            }
        }
    }
}
