<div class="wlc-signup-bonus__container">
    <div class="wlc-signup-bonus__main">
        <div class="wlc-signup-bonus__head">
            <h2 class="wlc-signup-bonus__title">Register</h2>
            <h3 class="wlc-signup-bonus__subtitle">Choose your Welcome Bonus</h3>
        </div>
        <div class="wlc-signup-bonus__body">
            <div class="wlc-bonus-grid">
                <dev
                    *ngFor="let bonus of bonuses"
                    [class]="'wlc-bonus-grid__item--' + bonus.type"
                    [ngClass]="{'chosen': bonus.chosen}"

                    class="wlc-bonus-grid__item"
                    (click)="choseBonus(bonus)"
                >
                    <div
                        wlc-bonus
                        [bonus]="bonus"
                    ></div>
                    <span class="wlc-bonus-grid__tick"
                          wlc-icon
                          [iconName]="'tick'"></span>
                </dev>
            </div>
            <div class="button-wrap justify-content-center">
                <button
                    wlc-button
                    type="button"
                    [text]="'Next'"
                ></button>
            </div>
        </div>
        <div class="wlc-signup-bonus__footer">
            <div wlc-have-account></div>
        </div>
    </div>


    <div
        [class]="setAsideClass()"
        class="wlc-signup-bonus__aside">
        <div class="wlc-signup-bonus__head">
            <span
                wlc-close
                (close)="onClose($event)"
            ></span>
            <h2 class="wlc-signup-bonus__subtitle">Welcome Bonus</h2>
        </div>
        <div class="wlc-signup-bonus__body">
            <div
                *ngIf="chosenBonus"
                class="wlc-signup-bonus__image-wrap">
                <div class="wlc-signup-bonus__image">
                    <div
                        wlc-bonus
                        [bonus]="chosenBonus"
                        [size]="'big'"
                    ></div>
                </div>
                <span
                    class="wlc-signup-bonus__info">i</span>
            </div>
            <div
                *ngIf="chosenBonus; else withoutBonus"
                class="wlc-signup-bonus__unit">
                <p class="wlc-signup-bonus__description">{{chosenBonus.description}}</p>
                <p class="wlc-signup-bonus__text">{{chosenBonus.text}}</p>

            </div>
            <ng-template #withoutBonus>
                <p class="wlc-signup-bonus__without">
                    <a href="#">Proceed without</a>
                </p>
            </ng-template>
        </div>
    </div>
</div>
