$customThemeDefault: () !default;
$themeDefault: map-merge((
    'spaceBetweenButtons': 10px,

    // title
    'titleTextStyle': 'SignText',
    'titleWidth': 100%,
    'titleMargin': 0,
    'titleMinHeight': ef.size(4),
    'titleColor': var(--fc-labelColor),
    'titlePadding': 0 0 0 10px,

    'elemsColumns': minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr),
    'verticalElemsColumns': minmax(0, 1fr),
    'elemsGap': 10px,
    'verticalElemsGap': ef.size(4),

    //radio buttons
    'radioSize': 25px,
    'radioPointSize': 11px,
    'radioGridGap': 8px,
    'radioBackground': var(--fc-inputBg),
    'radioBackgroundChecked': var(--fc-inputBg),
    'radioBackgroundError': var(--fc-errorBackground),
    'radioBorder': 2px solid var(--fc-borderColor),
    'radioBorderDisabled': var(--fc-borderColor),
    'radioBorderColorHover': var(--mc-buttonColor),
    'radioBorderColorChecked': var(--mc-buttonColor),
    'radioBorderColorError': var(--fc-errorBorder),
    'verticalRadioBorderColorChecked': var(--mc-main),
    'radioPointColor': var(--mc-buttonColor),
    'verticalRadioPointColor': var(--mc-main),
    'radioBorderRadius': 50%,
    'radioPointBorderRadius': 50%,
    'radioTextFont': 'PrimaryText',
    'radioTextFontColor': var(--mc-baseMain),
    'verticalInputMargin': ef.size(-2) 0 0,
), $customThemeDefault);

$customThemeButton: () !default;
$themeButton: map-merge((
    'spaceBetweenButtons': 10px,
    'elemsColumns': minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr),
    'elemsGap': 10px,
    'buttonPadding': 5px,
    'buttonActiveColor': ef.get('buttonSettings', 'fontColor'),

    'buttonBorderActive': ef.get('buttonSettings', 'borderSecondaryActive'),
    'buttonBorderActiveHover': ef.get('buttonSettings', 'borderSecondaryActiveHover'),
    'buttonBorderSecondary': ef.get('buttonSettings', 'borderSecondary'),

    'buttonTransform': ef.get('buttonSettings', 'transformSkew'),
    'buttonTransformText': ef.get('buttonSettings', 'transformSkewText'),

    'buttonBackgroundActive': ef.get('buttonSettings', 'backgroundSecondaryActive'),
    'buttonBackgroundActiveHover': ef.get('buttonSettings', 'backgroundSecondaryActiveHover'),
    'buttonBackgroundSecondary': ef.get('buttonSettings', 'backgroundSecondary'),
    'buttonBackgroundSecondaryHover': ef.get('buttonSettings', 'backgroundSecondaryHover'),

    'buttonGroupBorder': none,
    'buttonGroupBorderHover': none,
    'buttonGroupTextBorder': 2px solid transparent,
    'buttonGroupTransition': none,
), $customThemeButton);
