<div class="{{$class}}-time">
    <div wlc-timer
        [value]="playTime"
        [text]="'Session duration' | translate"
        [countUp]="true"
        [noDays]="true">
    </div>
</div>

<div wlc-table [inlineParams]="tableConfig"></div>

<div class="{{$class}}-footer">
    <div wlc-checkbox [inlineParams]="checkBoxParams"></div>

    <div *ngIf="showClose; else logoutTemplate">
        <button wlc-button
            text="Close"
            (click)="close()"
            themeMod="secondary">
        </button>
    </div>
</div>

<ng-template #logoutTemplate>
    <button wlc-button
        text="Logout"
        (click)="logout()"
        themeMod="secondary">
    </button>
</ng-template>
