<div class="{{$class}}-title">{{'Stay in control of your gambling' | translate}}</div>
<div class="{{$class}}-time">
    <div wlc-timer
        [value]="playTime"
        [text]="'Session duration' | translate"
        [countUp]="true"
        [noDays]="true">
    </div>
</div>

<div wlc-table [inlineParams]="tableConfig"></div>

<div wlc-checkbox [inlineParams]="checkBoxParams"></div>

<div class="{{$class}}-footer">
    <button wlc-button
        text="Continue playing"
        themeMod="secondary"
        [disabled]="disabledButtons"
        (click)="close()">
        [text]="'Log out' | translate"
        (click)="logout()"
        themeMod="secondary">
    </button>
    <span class="{{$class}}-footer-text">{{ 'or' | translate}}</span>
    <button wlc-button
        text="Log out"
        themeMod="secondary"
        [disabled]="disabledButtons"
        (click)="logout()">
    </button>
</div>
