<div class="{{$class}}-title">{{'A kind reminder' | translate}}</div>
<div class="{{$class}}-time">
    <div wlc-timer
        [value]="playTime"
        [text]="'Play time' | translate"
        [countUp]="true"
        [noDays]="true"
        [themeMod]="'play-time'">
    </div>
</div>

<div class="{{$class}}-result">
    <div class="{{$class}}-result-head">
        <div class="{{$class}}-result-item">{{'Winning' | translate}}</div>
        <div class="{{$class}}-result-item">{{'Loss' | translate}}</div>
        <div class="{{$class}}-result-item">{{'Deposit' | translate}}</div>
    </div>
    <div class="{{$class}}-result-value">
        <div class="{{$class}}-result-item">
            <span wlc-currency [value]="$params.Wins"></span>
        </div>
        <div class="{{$class}}-result-item">
            <span wlc-currency [value]="$params.Losses"></span>
        </div>
        <div class="{{$class}}-result-item">
            <span wlc-currency [value]="$params.Deposits"></span>
        </div>
    </div>
</div>

<div class="{{$class}}-footer">
    <div wlc-checkbox [inlineParams]="checkBoxParams"></div>

    <div *ngIf="showClose; else logoutTemplate">
        <button wlc-button
            text="Close"
            (click)="close()"
            themeMod="secondary">
        </button>
    </div>
</div>

<ng-template #logoutTemplate>
    <button wlc-button
        text="Logout"
        (click)="logout()"
        themeMod="secondary">
    </button>
</ng-template>
