<div class="{{$class}}__content" [ngSwitch]="type">

    <ng-template [ngSwitchCase]="'mobile'">
        <div class="{{$class}}-balance {{$class}}-balance--mobile" data-wlc-element="block_info">
            <div class="{{$class}}-balance__item {{$class}}-balance__real" data-wlc-element="user-stat-balance_total">
                <span class="value">
                    <span wlc-currency [value]="+shownUserStats.balance?.value + +shownUserStats.bonusBalance?.value"></span>
                </span>
            </div>
        </div>
        <button
            wlc-button
            theme="cleared"
            customMod="deposit"
            iconPath="/wlc/icons/deposit-icon.svg"
            sref="app.profile.cash.deposit"
            wlcElement="button-deposit"
        ></button>
    </ng-template>

    <ng-template [ngSwitchCase]="'short'">
        <div class="{{$class}}-balance {{$class}}-balance--short" data-wlc-element="block_info">
            <div class="{{$class}}-balance__item {{$class}}-balance__real" data-wlc-element="user-stat-balance_real">
                <span class="name">{{'Real balance' | translate}}</span>
                <span class="value">
                    <span wlc-currency [value]="shownUserStats.balance?.value"></span>
                </span>
            </div>

            <div class="{{$class}}-balance__item {{$class}}-balance__bonus" data-wlc-element="user-stat-balance_bonus">
                <span class="name">{{'Bonus balance' | translate}}</span>
                <span class="value">
                    <span wlc-currency [value]="shownUserStats.bonusBalance?.value">
                    </span>
                </span>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="'store'">
        <div class="{{$class}}-balance {{$class}}-balance--store"
             data-wlc-element="block_info"
             (click)="descriptionCasinosCurrency()">
            <div class="{{$class}}-balance__item {{$class}}-balance__item--points" [attr.data-wlc-element]="shownUserStats.points?.wlcElement">
                <span wlc-currency
                      class="value"
                      currency="LP"
                      [value]="shownUserStats.points?.value"
                ></span>
            </div>
            <div class="{{$class}}-balance__item {{$class}}-balance__item--exppoints" [attr.data-wlc-element]="shownUserStats.expPoints?.wlcElement">
                <span wlc-currency
                      class="value"
                      currency="EXP"
                      [value]="shownUserStats.expPoints?.value"
                ></span>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="'default'">

        <div class="{{$class}}-balance">
            <div *ngFor="let item of $params.fields"
                  class="{{$class}}-balance__item {{$class}}-balance__item--{{item}}"
                  [attr.data-wlc-element]="shownUserStats[item]?.wlcElement"
            >
                <ng-container [ngSwitch]="shownUserStats[item]?.modification">

                    <span class="name">{{shownUserStats[item]?.name | translate}}</span>
                    <span class="value" *ngSwitchDefault>
                        {{(shownUserStats[item]?.value | number: '.0-2') || 'Loading' | translate}}
                    </span>
                    <span *ngSwitchCase="'string'" class="value">
                        {{shownUserStats[item]?.value?.toString() || 'Loading' | translate}}
                    </span>
                    <span *ngSwitchCase="'amount'" class="value">
                        <span wlc-currency [value]="shownUserStats[item]?.value"></span>
                    </span>
                    <span *ngSwitchCase="'customCurrency'" class="value">
                        <span wlc-currency
                              [currency]="shownUserStats[item].currency"
                              [value]="shownUserStats[item]?.value"
                              [hideSvgName]="true"
                        ></span>
                    </span>
                </ng-container>
            </div>
        </div>

        <button
            *ngIf="useDepositBtn"
            wlc-button
            class="wlc-btn-deposit"
            text="Deposit"
            (click)="depositAction()"
            wlcElement="button-deposit"
        ></button>
    </ng-template>
</div>
