<div class="{{$class}}__content" [ngSwitch]="type">

    <ng-template [ngSwitchCase]="'short'">
        <div class="{{$class}}-balance {{$class}}-balance--short" data-wlc-element="block_user-stat-balance">
            <div class="{{$class}}-balance__item {{$class}}-balance__real">
                <span class="name">{{'Real balance' | translate}}</span>
                <span class="value" *ngIf="this.shownUserStats">
                    <span wlc-currency [value]="this.shownUserStats?.balance?.value"></span>
                </span>
            </div>

            <div class="{{$class}}-balance__item {{$class}}-balance__bonus">
                <span class="name">{{'Bonus balance' | translate}}</span>
                <span class="value" *ngIf="this.shownUserStats">
                    <span wlc-currency [value]="this.shownUserStats?.bonusBalance?.value">
                    </span>
                </span>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="'default'">
        <div class="{{$class}}-email">
            <div
                class="{{$class}}-email__icon"
                wlc-icon
                iconName="user-icon"
            ></div>

            <div class="{{$class}}-email__value" *ngIf="!this.shownUserStats?.firstName">
                {{this.shownUserStats?.email?.value | truncate: 20}}
            </div>

            <div class="{{$class}}-email__value"
                 *ngIf="this.shownUserStats?.firstName || this.shownUserStats?.lastName">
                {{this.shownUserStats.firstName.value + ' ' + this.shownUserStats.lastName.value | truncate: 20}}
            </div>

            <button
                wlc-button
                class="{{$class}}-email__logout wlc-btn-logout"
                theme="icon"
                icon="logout"
                (click)="logout()"
            ></button>
        </div>

        <div class="{{$class}}-balance" *ngIf="this.shownUserStats">
            <div class="{{$class}}-balance__item {{$class}}-balance__item--{{item}}"
                 *ngFor="let item of $params.fields">
                <ng-container [ngSwitch]="this.shownUserStats[item]?.modification">

                    <span class="name">{{this.shownUserStats[item]?.name | translate}}</span>
                    <span class="value" *ngSwitchDefault>{{this.shownUserStats[item]?.value | number: '.0-2'}}</span>
                    <span class="value" *ngSwitchCase="'amount'">
                        <span wlc-currency [value]="this.shownUserStats[item]?.value"></span>
                    </span>
                </ng-container>
            </div>
        </div>

        <button
            wlc-button
            class="wlc-btn-deposit"
            text="Deposit"
            (click)="depositAction()"
        ></button>
    </ng-template>
</div>
