<ng-container [ngSwitch]="$params.theme">
    <ng-container *ngSwitchCase="'swiper'" [ngTemplateOutlet]="swiper"></ng-container>
    <ng-container *ngSwitchCase="'preview'" [ngTemplateOutlet]="preview"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #preview>
    <div class="{{$class}}__content"
         [@cardLoading]="isLoadingAnimation"
         [hidden]="hideEmptyComponent">

        <div *ngIf="showDefaultHeader" class="{{$class}}__header">
            <div *ngIf="$params.urlPreviewCategoryBg"
                 class="{{$class}}__bg"
                 [style.background-image]="'url(' + $params.urlPreviewCategoryBg + ')'">
            </div>
            <div *ngIf="$params.showTitle"
                wlc-title
                class="{{$class}}__title"
                [mainText]="title">
            </div>

            <ng-container *ngIf="$params.showAllLink?.use && isDesktop">
                <ng-container [ngTemplateOutlet]="showAllBtn"></ng-container>
                <ng-container [ngTemplateOutlet]="showAllLink"></ng-container>
            </ng-container>
        </div>

        <ng-container *ngIf="$params.usePlaceholders || isReady; else: preloader">
            <div *ngIf="games.length || ($params.usePlaceholders && !isReady); else: noGames"
                 #gameList
                 class="{{$class}}__list"
                 (resized)="onResize($event)">

                <ng-container *ngIf="games.length && isReady; else: placeholders">
                    <div *ngFor="let game of games | slice: 0:gamesCount; trackBy: trackGames"
                         #gameItem
                         class="{{$class}}__item">
                        <div wlc-game-thumb
                             [@appearance]="$params.usePlaceholders ? '' : 'useAnim'"
                             [game]="game"
                             [inlineParams]="$params.thumbParams">
                        </div>
                    </div>

                    <div *ngIf="moreBtnCardView && gamesCount < games?.length"
                         class="{{$class}}__item {{$class}}__item--load-more">
                        <div wlc-progress-bar
                             class="{{$class}}__card-progressbar"
                             [inlineParams]="$params.progressBar"
                             [maxValue]="games?.length"
                             [currentValue]="gamesCount">
                        </div>
                        <div class="{{$class}}__card-more">
                            <button *ngIf="loadMoreDisplayCondition"
                                    wlc-button
                                    [inlineParams]="$params.btnLoadMore"
                                    (click)="loadMore()">
                            </button>
                            <ng-container *ngIf="$params.showAllLink?.use && isDesktop; then showAllBtn"></ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="$params.moreBtn.lazy && lazyLoading" [ngTemplateOutlet]="preloader"></ng-container>
            <ng-container *ngIf="moreBlockDisplayCondition" [ngTemplateOutlet]="more"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #default>
    <div class="{{$class}}__content"
         [@cardLoading]="isLoadingAnimation"
         [hidden]="hideEmptyComponent">

        <div *ngIf="showDefaultHeader" class="{{$class}}__header">

            <span *ngIf="$params.titleIcon?.name"
                  wlc-icon
                  class="{{$class}}__title-icon"
                  [iconPath]="$params.titleIcon?.name"
                  [fallback]="$params.titleIcon.fallback">
            </span>
            <div *ngIf="$params.showTitle"
                 wlc-title
                 class="{{$class}}__title"
                 [mainText]="title">
            </div>

            <ng-container *ngIf="$params.showAllLink?.use && isDesktop; then showAllLink"></ng-container>
        </div>

        <ng-container *ngIf="isReadyOrUsePlaceholder; else: preloader">
            <div *ngIf="hasGames; else: noGames"
                 #gameList
                 class="{{$class}}__list"
                 (resized)="onResize($event)">

                <ng-container *ngIf="$params.themeMod === 'header-inline'; then headerInline"></ng-container>

                <div *ngIf="$params.bannerSettings"
                     [@appearance]
                     #gameBanner
                     class="{{$class}}__banner wlc-games-banner">
                    <div wlc-wrapper
                         [inlineParams]="bannerSliderConfig"></div>
                </div>

                <ng-container *ngIf="games.length && isReady; else: placeholders">
                    <div *ngFor="let game of games | slice: 0:gamesCount; trackBy: trackGames"
                         #gameItem
                         class="{{$class}}__item">
                        <div wlc-game-thumb
                             [@appearance]="$params.usePlaceholders ? '' : 'useAnim'"
                             [game]="game"
                             [inlineParams]="$params.thumbParams">
                        </div>
                    </div>

                    <div *ngIf="moreBtnCardView && gamesCount < games?.length"
                         class="{{$class}}__item {{$class}}__item--load-more">
                        <div wlc-progress-bar
                             class="{{$class}}__card-progressbar"
                             [inlineParams]="$params.progressBar"
                             [maxValue]="games?.length"
                             [currentValue]="gamesCount">
                        </div>
                        <div class="{{$class}}__card-more">
                            <button *ngIf="loadMoreDisplayCondition"
                                    wlc-button
                                    [inlineParams]="$params.btnLoadMore"
                                    (click)="loadMore()">
                            </button>
                            <ng-container *ngIf="$params.showAllLink?.use && isDesktop; then showAllBtn"></ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>

            <ng-container *ngIf="$params.moreBtn.lazy && lazyLoading; then preloader"></ng-container>

            <ng-container *ngIf="moreBlockDisplayCondition; then more"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #swiper>
    <div class="{{$class}}__content" [hidden]="hideEmptyComponent">
        <span *ngIf="$params.titleIcon?.name"
              wlc-icon
              class="{{$class}}__title-icon"
              [iconPath]="$params.titleIcon?.name"
              [fallback]="$params.titleIcon.fallback">
        </span>
        <div *ngIf="$params.title"
             wlc-title
             class="{{$class}}__title"
             [mainText]="title"></div>

        <ng-container *ngIf="$params.showAllLink?.use && $params.showAllLink?.position === 'top'">
            <ng-container
                *ngIf="this.$params.showAllLink.showAsBtn;
                then showAllBtn;
                else showAllLink">
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isReadyOrUsePlaceholder else: preloader">
            <ng-container *ngIf="hasGames; else: noGames">
                <ng-container *ngIf="showGameSlides; else sliderPlaceholders">
                    <div wlc-wrapper
                         class="{{$class}}__games-slider"
                         [inlineParams]="gamesSliderConfig"
                         (resized)="onResize($event)">
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <!-- The button block should be located after the swiper block to hide the button block
            if the number of games is less than or equal to the number of slots in the grid  -->
        <div *ngIf="$params.showAsSwiper?.useNavigation"
             class="{{$class}}__swiper-buttons-container"
             slot-container-end>
            <div class="{{$class}}__swiper-buttons">
                <button wlc-icon
                        class="wlc-swiper-button-prev"
                        iconPath="/wlc/icons/arrow.svg"
                        [class]="'wlc-swiper-button-prev-' + navigationId"></button>
                <button wlc-icon
                        class="wlc-swiper-button-next"
                        iconPath="/wlc/icons/arrow.svg"
                        [class]="'wlc-swiper-button-next-' + navigationId"></button>
            </div>
        </div>
    </div>

    <div *ngIf="games.length && $params.showAllLink?.use && $params.showAllLink?.position === 'bottom'"
         class="{{$class}}__more">
        <ng-template [ngTemplateOutlet]="showAllBtn"></ng-template>
    </div>
</ng-template>

<ng-template #headerInline>
    <div *ngIf="isDesktop"
         class="{{$class}}__header">

        <span *ngIf="$params.titleIcon?.name"
              wlc-icon
              [iconPath]="$params.titleIcon.name">
        </span>

        <div *ngIf="$params.showTitle"
             wlc-title
             class="{{$class}}__title"
             [mainText]="title">
        </div>

        <ng-container *ngIf="$params.showAllLink?.use && isDesktop; then showAllLink"></ng-container>
    </div>

    <a *ngIf="!isDesktop && $params.showAllLink?.use"
       class="{{$class}}__header"
       uiSref="{{$params.showAllLink.sref || $params.showAllLink.link}}"
       [uiParams]="$params.showAllLink.params || {}">

    <span *ngIf="$params.titleIcon?.name"
          wlc-icon
          [iconPath]="$params.titleIcon.name"></span>
        <span *ngIf="$params.showTitle"
              wlc-title
              class="{{$class}}__title"
              [mainText]="title"></span>
    </a>
</ng-template>

<ng-template #more>
    <div *ngIf="$params.showProgressBar"
         wlc-progress-bar
         class="{{$class}}__progressbar"
         [maxValue]="games.length"
         [currentValue]="gamesCount">
    </div>

    <div *ngIf="(!hideShowMoreBtn && !$params.showAllLink?.use) || ($params.showAllLink?.use && !isDesktop)"
         class="{{$class}}__more">

        <button *ngIf="!hideShowMoreBtn && !$params.showAllLink?.use"
                wlc-button
                [wlcElement]="'button_load-more-games'"
                [text]="'Load more games'"
                (click)="loadMore()">
        </button>

        <ng-container *ngIf="$params.showAllLink?.use && !isDesktop; then showAllBtn"></ng-container>
    </div>
</ng-template>

<ng-template #noGames>
    <div class="{{$class}}__nocontent" [@appearance]="'useAnim'">{{this.noContentText | translate}}</div>
</ng-template>

<ng-template #placeholders>
    <div *ngFor="let item of placeHolders"
         #gameItem
         class="{{$class}}__item">
        <div wlc-game-thumb
             [@appearance]="'useAnim'"
             [dumpy]="true"
             [inlineParams]="$params.thumbParams">
        </div>
    </div>
</ng-template>

<ng-template #sliderPlaceholders>
    <div wlc-wrapper
         class="{{$class}}__games-slider"
         [inlineParams]="gamePlaceholdersSliderConfig"
         (resized)="onResize($event)">
    </div>
</ng-template>

<ng-template #showAllBtn>
    <button wlc-button
            class="{{$class}}__show-all-btn"
            [text]="$params.showAllLink.text"
            [uiSref]="$params.showAllLink.sref || $params.showAllLink.link"
            [uiParams]="$params.showAllLink.params || {}">
    </button>
</ng-template>

<ng-template #showAllLink>
    <a class="{{$class}}__link"
       [uiSref]="$params.showAllLink.sref || $params.showAllLink.link"
       [uiParams]="$params.showAllLink?.params || {}">
        <span>{{$params.showAllLink?.text | translate}}</span>
        <ng-container *ngIf="$params.showAllLink.useCounter && games.length">
            <span class="counter">({{games.length}})</span>
        </ng-container>
        <span wlc-icon iconPath="/wlc/icons/arrow.svg"></span>
    </a>
</ng-template>

<ng-template #preloader>
    <div wlc-loader class="{{$class}}__preloader"></div>
</ng-template>
