
<ng-container
    *ngIf="ready || error; else preloader"
    [ngSwitch]="validationLevel">

    <ng-container *ngSwitchCase="'not-secure'">
        <div class="{{$class}}__status {{$class}}__status-not-secure"
            data-wlc-element="shufti-pro-kycaml-not-secure">
            <div wlc-icon
                class="icon-btn"
                iconPath="/wlc/icons/status/not-secure.svg"
                wlcElement="not-secure-icon">
            </div>

            {{'Verification is not passed yet.' | translate}}
        </div>
    </ng-container>

    <div *ngSwitchCase="'secure'"
        class="{{$class}}__status {{$class}}__status-secure"
        data-wlc-element="shufti-pro-kycaml-secure">

        <div wlc-icon
            class="icon-btn"
            iconPath="/wlc/icons/status/secure.svg"
            wlcElement="not-secure-icon">
        </div>

        {{'Verification is passed successfully.' | translate}}
    </div>

    <div *ngIf="error"
        class="{{$class}}__error" data-wlc-element="shufti-pro-kycaml-error">

        <div wlc-icon
            class="icon-btn"
            iconPath="/wlc/icons/stop.svg"
            wlcElement="error-icon">
        </div>

        <span>{{'Sorry the service didn\'t load.' | translate}}</span>
        <span>{{'Try again.' | translate}}</span>
    </div>
</ng-container>

<ng-container *ngIf="ready">
    <ng-container [ngSwitch]="data.service">
        <ng-container *ngSwitchCase="'SumSub'">
            <div class="{{$class}}__iframe-container" #sumsubwebsdk></div>
        </ng-container>

        <ng-container *ngSwitchCaseDefault>
            <iframe *ngIf="url"
                class="{{$class}}__iframe"
                allow="camera"
                data-wlc-element="shufti-pro-kycaml-iframe"
                [src]="url">
            </iframe>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
