<ng-container *ngIf="ready || error; else preloader">

    <ng-container [ngSwitch]="$params.theme">
        <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="themeWolf"></ng-container>
        <ng-container *ngSwitchDefault [ngTemplateOutlet]="themeDefault"></ng-container>
    </ng-container>

    <div *ngIf="error"
        class="{{$class}}__error" data-wlc-element="shufti-pro-kycaml-error">

        <div wlc-icon
            class="icon-btn"
            iconPath="/wlc/icons/stop.svg"
            wlcElement="error-icon">
        </div>

        <span>{{'Sorry, the service did not load' | translate}}</span>
        <span>{{'Try again.' | translate}}</span>
    </div>
</ng-container>

<ng-container *ngIf="verify$ | async">
    <ng-container [ngSwitch]="data?.service">
        <ng-container *ngSwitchCase="'SumSub'">
            <div class="{{$class}}__iframe-container" #sumsubwebsdk></div>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <iframe *ngIf="url"
                class="{{$class}}__iframe"
                allow="camera"
                data-wlc-element="shufti-pro-kycaml-iframe"
                [src]="url">
            </iframe>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #themeDefault>
    <div class="{{$class}}__status {{$class}}__status--verify">

        <ng-container *ngIf="secure; else unsecureIcon">
            <div wlc-icon
                class="icon-btn secure"
                iconPath="/wlc/icons/status/secure.svg">
            </div>
        </ng-container>
        <span>
            {{statusText | translate}}
        </span>
        <ng-container *ngIf="showBtn" [ngTemplateOutlet]="button"></ng-container>
    </div>
</ng-template>

<ng-template #themeWolf>
    <div wlc-alert
        class="{{$class}}__status"
        [level]="statusLevel"
        [title]="statusText | translate"
        [inlineParams]="alertParams">
    </div>

    <ng-container *ngIf="showBtn" [ngTemplateOutlet]="button"></ng-container>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>

<ng-template #unsecureIcon>
    <div wlc-icon
        class="icon-btn not-secure"
        iconPath="/wlc/icons/status/not-secure.svg">
    </div>
</ng-template>

<ng-template #button>
    <button wlc-button
        text="{{'Start verification' | translate}}"
        typeAttr="button"
        (click)="requestSession()">
    </button>
</ng-template>
