@mixin mod($theme, $mod) {
    @include em.themeMod('wlc-language-selector', $theme, $mod) {
        @content;
    }
}

@mixin gameNameOverflow() {
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
