// if vertical, be careful with sizes
$customWinnerBase: () !default;
$winnerBase: map-merge((
    'lineHeight': 1.3,

    'wrapperGap': ef.size(4),
    'wrapperTemplateCols': auto 1fr,
    'wrapperTemplateAreas': 'picture details',
    'wrapperAlignItems': center,

    'imageSize': 60px,
    'imageBorderRadius': ef.get('radius', 'biger'),
    'imageBorder': none,
    'imageShadow': 0 4px 5px rgba(ef.get('mainColors', 'baseContrast'), 0.7),
    'imagePseudoPaddingTop': 100%,

    'rightGridTemplateColumns': auto 1fr,
    'rightGridTemplateAreas': 'user amount' 'game game',
    'rightColumnGap': ef.size(2),

    'userTextStyle': 'PlaceholderText',
    'userColor': var(--mc-baseMain),
    'userTextTransform': none,

    'countryWidth': 17px,
    'countryHeight': 11px,
    'countryMarginRight': ef.size(2),
    'countryBorder': none,
    'countryShadow': none,

    'gameTextStyle': 'ThirdTitleBold',
    'gameColor': var(--mc-baseMain),
    'gameAlignItems': center,
    'gameJustifyContent': space-between,
    'gamePadding': 0,
    'gameTextAlign': left,
    'gameBorder': 1px solid transparent,
    'gameArrowWidth': 16px,
    'gameArrowColor': var(--mc-main),
    'gameArrowMargin': 0 0 0 ef.size(2),
    'gameHoverColor': currentColor,
    'gameHoverBorderColor': currentColor,
    'gameHoverArrowColor': var(--mc-main-l20),

    'amountTextStyle': 'ThirdTitleBold',
    'amountColor': var(--mc-baseMain),
    'amountTextAlign': right,
), $customWinnerBase);

// ~~ theme DEFAULT
$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gap': (
        375: ef.size(3),
        1024: ef.size(5),
    ),

    //border line
    'borderLineWidth': 3px,
    'borderLineRadius': 3px,
    'borderLineColor': var(--mc-baseOpacity),
    'borderLinePadding': ef.size(4),

    'rightRowGap': ef.size(1),
), $customThemeDefault);

// ~~ theme VERTICAL
$customThemeVertical: () !default;
$themeVertical: map-merge((
    'imageSize': var(--wlc-winner-slider-slide-height, 60px),
    'wrapperGap': ef.size(2),

    // winner right block
    'rightBackground': var(--mc-bg),
    'rightBorderRadius': ef.get('radius', 'biger'),
    'rightPadding': ef.size(1) ef.size(2),

    // game
    'gameArrowColor': var(--mc-secondary),
    'gameHoverArrowColor': var(--mc-secondary-l20),
), $customThemeVertical);

// ~~ theme TRANSPARENT
$customThemeTransparent: () !default;
$themeTransparent: map-merge((
    'imageSize': var(--wlc-winner-slider-slide-height, 100px),
    'wrapperGap': ef.size(2),

    // winner right block
    'rightBackground': var(--mc-bg700),
    'rightBorderRadius': ef.get('radius', 'biger'),
    'rightPadding': ef.size(1) ef.size(2),

    // game
    'gameArrowColor': var(--mc-secondary),
    'gameHoverArrowColor': var(--mc-secondary-l20),
), $customThemeVertical);

$customTheme1: () !default;
$theme1: map-merge((
    'maxWidth': 260px,

    'wrapperMargin': 0 auto,
    'wrapperPadding': 0 0 var(--wlc-winner-slider-slide-inner-gap, #{ef.size(3)}) 0,
    'wrapperPseudoBorderBg': var(--mc-baseOpacity),
    'wrapperPseudoBorderWidth': 100%,
    'wrapperPseudoBorderHeight': 2px,
    'wrapperPseudoBorderHideLast': true,

    'iconWidth': 70px,

    'gameJustifySelf': start,
    'gameColor': var(--mc-baseMain),
    'gameHoverColor': var(--mc-baseMain),
    'gameBorderBottomInactive': 1px solid transparent,
    'gameBorderBottomActive': 1px solid var(--mc-baseMain),

    'rightGap': 0,
    'rightGridAreas': 'user' 'game' 'amount',
    'rightGridColumns': 1fr,

    'amountTextAlign': left,
    'amountColor': var(--mc-main),
), $customTheme1);
