layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
        //pane size=2 borderless=true {
        //    plugin location="zellij:status-bar"
        //}
    }
    tab name="wlc" cwd="~/Projects/wlc" {
        pane
    }
    tab name="engine" cwd="~/Projects/src/wlc-engine" {
        pane command="hx" cwd="~/Projects/src/wlc-engine"
    }
    tab name="develop" cwd="~/Projects/src/wlc_develop" {
        pane
    }
}
