<pagination [hidden]="hiddenPagination"
            [totalItems]="totalItems"
            [(ngModel)]="currentPage"
            [customNextTemplate]="firstTemplate"
            [customPreviousTemplate]="lastTemplate"
            [itemsPerPage]="itemPerPage"
            [maxSize]="3"
            (pageChanged)="pageChanged($event)"></pagination>

<ng-template #lastTemplate>
    <button wlc-button
            theme="cleared"
            iconPath="/wlc/icons/arrow.svg">
    </button>
</ng-template>

<ng-template #firstTemplate>
    <button wlc-button
            theme="cleared"
            iconPath="/wlc/icons/arrow.svg">
    </button>
</ng-template>
