<ng-container>
    <div class="{{$class}}__doc-type-wrp">
        <div class="{{$class}}__icons-wrp">
            <div wlc-icon
                 class="{{$class}}__icon"
                 [iconPath]="currentDocGroup.iconName"
                 [fallback]="currentDocGroup.defaultIcon"
            ></div>
            <div wlc-icon class="{{$class}}__icon-check" [iconUrl]="currentDocGroup.statusIconName"></div>
        </div>
        <div class="{{$class}}__title">{{currentDocGroup.name}}</div>
        <div class="{{$class}}__required">{{'Required' | translate}}</div>
        <div *ngIf="currentDocGroup.description" class="{{$class}}__description">{{currentDocGroup.description}}</div>
    </div>
    <ul class="{{$class}}-docs-list" *ngIf="currentDocGroup.docs.length">
        <li *ngFor="let doc of currentDocGroup.docs" class="{{$class}}-docs-list__item {{doc.className}}">
            <p class="{{$class}}-docs-list__text">
                <a class="{{$class}}-docs-list__link" [href]="doc.downloadLink" target="_blank">{{doc.fileName}}</a>
                <span *ngIf="doc.canDelete && !doc.pending"
                      wlc-icon
                      class="{{$class}}-docs-list__remove"
                      iconPath="/wlc/icons/close.svg"
                      (click)="deleteDoc(doc)"
                ></span>
                <span *ngIf="doc.pending" class="{{$class}}-docs-list__preload"></span>
            </p>
            <div class="{{$class}}__check-wrp">
                <span wlc-icon class="{{$class}}-docs-list__icon" [iconPath]="doc.iconName"></span>
                <span *ngIf="doc.statusDescription"
                      wlc-icon
                      class="{{$class}}-docs-list__info info-icon"
                      containerClass="{{$class}}__tooltip"
                      placement="bottom"
                      iconPath="/wlc/icons/info.svg"
                      container="body"
                      [tooltip]="doc.statusDescription"
                ></span>
            </div>
        </li>
    </ul>
    <div wlc-dnd
         class="{{$class}}__dropzone"
         [class.loading]="currentDocGroup.loadingStatus === 'loading'"
         [dnd-data-label]="currentDocGroup.id"
         (click)="inputFile.click(); $event.stopPropagation()"
    >
        <input #inputFile
               type="file"
               hidden
               [accept]="acceptFormat"
               [disabled]="currentDocGroup.pending"
               (change)="uploadFile($any($event.target).files, currentDocGroup.id)">
        <p [ngSwitch]="currentDocGroup.loadingStatus" class="{{$class}}__text">
            <ng-template [ngSwitchCase]="'loading'">
                {{'File is loading...' | translate}}
            </ng-template>
            <ng-template [ngSwitchCase]="'deleting'">
                {{'File is deleting...' | translate}}
            </ng-template>
            <ng-template ngSwitchDefault>
                {{'Drop file here or' | translate}}
                <span>{{'browse' | translate}}</span>
                {{acceptFormat}}.
                {{'Max size' | translate}}
                {{verificationParams.maxSize}} MB
            </ng-template>
        </p>
    </div>
    <div class="{{$class}}__upload">
        <button wlc-button
                class="wlc-btn-upload"
                [disabled]="currentDocGroup.pending"
                text="{{currentDocGroup.buttonText | translate}}"
                (click)="inputFile.click(); $event.stopPropagation()"
        ></button>
        <p class="{{$class}}__text">
            {{'browse' | translate | titlecase}}
            {{acceptFormat}}.
            {{'Max size' | translate}} {{verificationParams.maxSize}} MB
        </p>
    </div>
</ng-container>
