@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;

.wlc-bonuses-history--theme-default {

    &:host {

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-bonuses-history-filter {
            @include bm.get-mq-map('display', $themeDefault, 'filterDisplay');

            grid-auto-columns: max-content;
            grid-auto-flow: column;
            gap: ef.get-value($themeDefault, 'filterGap');
            align-items: flex-end;
            margin: ef.get-value($themeDefault, 'filterMargin');

            .wlc-select[wlc-select] {
                min-width: ef.get-value($themeDefault, 'filterMinWidth');
            }

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('display', $themeDefault, 'filterDisplayV1');
            }
        }

        .wlc-table--theme-default.wlc-table::ng-deep {

            .wlc-table__cell--first {
                grid-template-columns: ef.get-value($themeDefault, 'firstCellColumns');
                align-items: center;

                .wlc-table__cell-label {
                    display: none;
                }

                .wlc-history-name {
                    @include bm.get-mq-map('padding', $themeDefault, 'historyNamePadding');
                    display: grid;
                    grid-auto-flow: column;
                    gap: ef.get-value($themeDefault, 'historyNameGap');
                    align-items: center;
                    justify-content: space-between;
                    text-align: left;
                }
            }
        }
    }

    @include mq.min(1024) {
        margin: ef.get-value($themeDefault, 'sectionMargin');
    }
}
