<ng-template #default>
    <label for="{{$params.name}}"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}</label>
    <div class="{{$class}}__input">
        <input type="{{$params.common.type}}"
               id="{{$params.name}}"
               placeholder="{{$params.common.placeholder | translate}}"
               [formControl]="control"
        >
        <div class="{{$class}}-status"
             wlc-form-control
             [className]="$class"
             [control]="control"
             [fieldName]="$params.name.toLowerCase()"
        ></div>
    </div>
</ng-template>

<ng-template #placeholderShown>
    <input type="{{$params.common.type}}"
           id="{{$params.name}}"
           placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
           [formControl]="control"
           class="{{$class}}__input"
    >
    <label for="{{$params.name}}"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}</label>
    <div class="{{$class}}-status"
         wlc-form-control
         [className]="$class"
         [control]="control"
         [fieldName]="$params.name.toLowerCase()"
    ></div>
</ng-template>


<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="placeholderShown" *ngSwitchCase="'placeholder-shown'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
