<ng-template #default>
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <div class="{{$class}}__input">
        <input type="{{$params.common?.type}}"
               id="{{$params.name}}"
               [wlc-input-mask]="$params.maskOptions"
               [attr.data-wlc-element]='fieldWlcElement'
               placeholder="{{$params.exampleValue || $params.common?.placeholder | translate}}"
               [formControl]="control"
               (input)="onInput($event)"
        >
        <ng-container
            *ngIf="$params.common?.usePasswordVisibilityBtn"
            [ngTemplateOutlet]="password">
        </ng-container>
        <ng-container
            *ngIf="$params.clipboard"
            [ngTemplateOutlet]="clipboard">
        </ng-container>
        <ng-container
            *ngIf="$params.showCurrency"
            [ngTemplateOutlet]="currency">
        </ng-container>
        <ng-container [ngTemplateOutlet]="status"></ng-container>
    </div>
</ng-template>

<ng-template #placeholderShown>
    <input type="{{$params.common?.type}}"
           id="{{$params.name}}"
           [wlc-input-mask]="$params.maskOptions"
           placeholder="{{$params.exampleValue || $params.common?.placeholder | translate}}"
           [formControl]="control"
           [attr.data-wlc-element]='fieldWlcElement'
           class="{{$class}}__input"
           (input)="onInput($event)"
    >
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <ng-container [ngTemplateOutlet]="status"></ng-container>
</ng-template>

<ng-template #vertical>
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <div
        class="{{$class}}__container"
    >
        <input
            type="{{$params.common?.type}}"
            id="{{$params.name}}"
            [value]="$params.value"
            [wlc-input-mask]="$params.maskOptions"
            [readOnly]="$params.common?.readonly"
            placeholder="{{$params.exampleValue || $params.common?.placeholder | translate}}"
            [formControl]="control"
            [attr.data-wlc-element]='fieldWlcElement'
            class="{{$class}}__input"
            [ngClass]="setInputModifiers"
            (input)="onInput($event)"
        >
        <ng-container
            *ngIf="$params.common?.usePasswordVisibilityBtn"
            [ngTemplateOutlet]="password">
        </ng-container>
        <ng-container
            *ngIf="$params.clipboard"
            [ngTemplateOutlet]="clipboard">
        </ng-container>
        <ng-container
            *ngIf="$params.showCurrency"
            [ngTemplateOutlet]="currency">
        </ng-container>
        <ng-container [ngTemplateOutlet]="status"></ng-container>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="placeholderShown" *ngSwitchCase="'placeholder-shown'"></ng-container>
    <ng-container [ngTemplateOutlet]="vertical" *ngSwitchCase="'vertical'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>

<ng-template #label>
    <label *ngIf="$params.common?.useLabel && $params.common.placeholder"
           for="{{$params.name}}"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}
        <ng-container *ngIf="isFieldRequired()">*</ng-container>
    </label>
    <div *ngIf="$params.common?.tooltipText || $params.common?.tooltipModal"
         wlc-tooltip
         [inlineParams]="{inlineText: $params.common?.tooltipText, modal: $params.common?.tooltipModal, modalParams: $params.common?.tooltipModalParams}"
    ></div>
</ng-template>

<ng-template #status>
    <div *ngIf="$params.name && $params.validators?.length"
         class="{{$class}}-status"
         wlc-form-control
         [className]="$class"
         [control]="control"
         [fieldName]="$params.name.toLowerCase()"
         [validators]="$params.validators"
    ></div>
</ng-template>

<ng-template #clipboard>
    <button
        class="field-icon field-icon--copy"
        wlc-icon [iconName]="'copy'"
        [wlc-copy-to-clipboard]="control.value"
        (copied)="onClipboardCopied($event)"
    ></button>
</ng-template>

<ng-template #password>
    <span
        class="field-icon field-icon--eye"
        data-password-visibility
        wlc-icon [iconName]="'eye'"
        (mousedown)="toggleType('text')"
        (mouseup)="toggleType('password')"
        (touchstart)="toggleType('text')"
        (touchend)="toggleType('password')"
    ></span>
</ng-template>

<ng-template #currency>
    <span
        class="field-icon field-icon--currency"
        wlc-currency
        [showIconOnly]="true"
        indicatorFormat="narrowSymbol"
    ></span>
</ng-template>
