<ng-template #default>
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <div class="{{$class}}__input">
        <input type="{{$params.common.type}}"
               id="{{$params.name}}"
               [attr.data-wlc-element]='fieldWlcElement'
               placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
               [formControl]="control"
        >
        <ng-container [ngTemplateOutlet]="status"></ng-container>
    </div>
</ng-template>

<ng-template #placeholderShown>
    <input type="{{$params.common.type}}"
           id="{{$params.name}}"
           placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
           [formControl]="control"
           [attr.data-wlc-element]='fieldWlcElement'
           class="{{$class}}__input"
    >
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <ng-container [ngTemplateOutlet]="status"></ng-container>
</ng-template>

<ng-template #vertical>
    <ng-container [ngTemplateOutlet]="label"></ng-container>
    <div
        class="{{$class}}__container"
    >
        <input
            type="{{$params.common.type}}"
            id="{{$params.name}}"
            placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
            [formControl]="control"
            [attr.data-wlc-element]='fieldWlcElement'
            class="{{$class}}__input"
            [ngClass]="setInputModifiers"
        >
        <span
            *ngIf="$params.common.usePasswordVisibilityBtn"
            class="field-icon field-icon--eye"
            data-password-visibility
            wlc-icon [iconName]="'eye'"
            (mousedown)="toggleType('text')"
            (mouseup)="toggleType('password')"
            (touchstart)="toggleType('text')"
            (touchend)="toggleType('password')"
        ></span>
        <ng-container [ngTemplateOutlet]="status"></ng-container>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="placeholderShown" *ngSwitchCase="'placeholder-shown'"></ng-container>
    <ng-container [ngTemplateOutlet]="vertical" *ngSwitchCase="'vertical'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>

<ng-template #label>
    <label *ngIf="$params.common.useLable"
           for="{{$params.name}}"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}</label>
</ng-template>

<ng-template #status>
    <div class="{{$class}}-status"
         wlc-form-control
         *ngIf="$params.name"
         [className]="$class"
         [control]="control"
         [fieldName]="$params.name.toLowerCase()"
    ></div>
</ng-template>


