$customThemeDefault: () !default;
$themeDefault: map-merge((
    // common
    'display': block,
    'textStyle': 'ThirdTitle',
    'textColor': null,
    'textAlign': center,

    // info
    'infoMargin': 0 0 ef.size(2) 0,

    // balance
    'balanceTextStyle': 'ThirdTitleBold',
    'balanceTextColor': null,
    'balanceMargin': 0 0 ef.size(4) 0,

    // amount
    'amountMargin': 0 ef.size(1) 0 0,

    // updateButton
    'updateBtnWidth': 24px,
    'updateBtnHeight': 24px,
    'updateBtnRadius': 50%,
    'updateBtnColor': var(--mc-baseOpacity),
    'updateBtnColorHover': var(--mc-baseMain),
    'updateBtnBg': var(--mc-bg-o6),
    'updateBtnBgHover': null,
    'updateBtnAnimation': spin 2.5s linear infinite,

    // buttons
    'buttonsDisplay': grid,
    'buttonsGap': ef.size(4),
    'buttonsJustifyContent': center,
    'buttonsColumns': 1fr,

    // mini buttons
    'miniButtonsColor': var(--mc-main),
), $customThemeDefault);

$customThemeFullscreenGameFrame: () !default;
$themeFullscreenGameFrame: map-merge((
    map-merge($themeDefault, (
        'display': flex,
        'infoMargin': 0 ef.size(2) 0 0,
        'balanceMargin': 0 ef.size(2) 0 0,
        'buttonsDisplay': grid,
        'buttonsGap': ef.size(2),
        'buttonsColumns': 1fr 1fr,
    ))
), $customThemeFullscreenGameFrame);

