<div
    *ngIf="$params.textBlockTitle || $params.textBlockSubtitle || $params.dynamicText"
    class="wlc-text-block__head">
    <h2
        *ngIf="$params.textBlockTitle"
        class="wlc-text-block__title">
        {{$params.textBlockTitle | translate}}
    </h2>
    <h3
        *ngIf="checkType($params.textBlockSubtitle) && $params.textBlockSubtitle; else textBlockSubtitle"
        class="wlc-text-block__subtitle">
        {{$params.textBlockSubtitle | translate}}
    </h3>
    <h3
        *ngIf="$params.dynamicText"
        class="wlc-text-block__dynamic">
        {{$params.dynamicText.text | translate}} {{getDynamicText() | translate}}
    </h3>
</div>
<p
    *ngIf="$params.textBlockText"
    class="wlc-text-block__text">
    {{$params.textBlockText | translate}}
</p>

<ng-template #textBlockSubtitle>
    <h3 class="wlc-text-block__subtitle">
        <ng-container *ngFor="let text of $params.textBlockSubtitle">
            {{text | translate}}
        </ng-container>
    </h3>
</ng-template>
