@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'contentMargin': 0 auto 40px auto,
    'contentPaddings': ef.get('size', 'big'),
    'mobileContentBg': var(--mc-baseContrast),
    'mobileZIndex': 1020,
    'headerPaddings': ef.get('size', 'main'),
    'headerBg': transparent,
    'headerColor': var(--mc-baseMain),
    'headerMargin': 0,
    'btnLeftMargin': 0 auto 0 30px,
    'titleWidth': 50%,
    'iconsColor': var(--mc-bg700),
    'iconsColorHover': var(--mc-baseMain),
    'iconsColorActive': var(--mc-main),
    'iconsGap': ef.get('size', 'smaller'),
    'iconsStroke': 3px,
    'iconsWidth': 26px,
    'iconsHeight': 26px,
    'iconsOpacity': 0.8,
), $customThemeDefault);

$customThemeFullscreenGameFrame: () !default;
$themeFullscreenGameFrame: map-merge((
    'margin': 0 0 30px 0,
    'contentMinHeight': 300px,
), $customThemeFullscreenGameFrame);
