.wlc-random-game--theme-default:host {
    background: ef.get-value($themeDefault, 'background');
    border-radius: ef.get-value($themeDefault, 'borderRadius');

    .wlc-random-game__wrapper {
        @include bm.get-mq-map('grid-template-rows', $themeDefault, 'gridRows');
        @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumns');
        @include bm.get-mq-map('padding', $themeDefault, 'padding');
        display: grid;
        gap: ef.get-value($themeDefault, 'gap');
        align-items: ef.get-value($themeDefault, 'alignItems');
        justify-items: ef.get-value($themeDefault, 'justifyItems');
        height: ef.get-value($themeDefault, 'height');

        .wlc-btn {
            @include bm.get-mq-map('padding', $themeDefault, 'btnPadding');
            white-space: nowrap;
        }
    }

    .wlc-random-game__title {
        @include text.get-text-style('ThirdTitle', ef.get-value($themeDefault, 'titleColor'));
        font-weight: ef.get-value($themeDefault, 'titleFontWeight');
        text-transform: ef.get-value($themeDefault, 'titleTextTransform');
    }

    ::ng-deep {

        .wlc-random-game__icon {

            svg {
                margin: ef.get-value($themeDefault, 'iconMargin');
                fill: ef.get-value($themeDefault, 'iconFill');
            }
        }
    }
}
