@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/mediaqueries' as mq;

@import './utils/vars';
@import './utils/mixins';

:host {
    // requires to reset swiper component styles
    overflow: visible !important;
    max-height: none !important;
    max-width: none !important;

    .wlc-winner {

        &__wrapper {
            max-width: 100%;
        }
    }
}

@import './themes/default';
@import './themes/vertical';
@import './themes/1';
