@use '../../utils/vars' as v;

.wlc-sections__affiliates-menu {

    &--theme {

        &-rounded {

            background-color: transparent;

            &.wlc-sections__affiliates-menu--fluid,
            > .container {
                padding: v.$affMenuPadding;
                background-color: v.$affMenuBackground;
                border-radius: 100px;
            }
        }

        &-fluidblock {
            background-color: v.$affMenuBackground;

            &.wlc-sections__affiliates-menu--fluid,
            > .container {
                padding: {
                    top: v.$affMenuPadding;
                    bottom: v.$affMenuPadding;
                }
                display: grid;
                grid-auto-columns: auto;
                grid-auto-flow: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
