<div class="{{$class}}__content">
    <ng-container [ngSwitch]="cashbackType">
        <ng-container *ngSwitchCase="'deposit'" [ngTemplateOutlet]="typeDeposite"></ng-container>
        <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
    </ng-container>
</div>

<ng-template #default>
    <ng-container *ngIf="ready$ | async; else loading">
        <ng-container *ngIf="paginatedCashbackPlans?.length; else noData">
            <div class="{{$class}}__items">
                <div *ngFor="let item of itemCashback$ | async; trackBy: trackAvailable || trackAmount;" class="{{$class}}-item">
                    <div class="{{$class}}-item__title">{{item.title | translate}}</div>

                    <div class="{{$class}}-item__desc">{{item.additionalText() | translate}} </div>

                    <div class="{{$class}}-item__period">{{'Period' | translate}}: {{item.period | translate}} </div>
                    <div *ngIf="item.cashbackStatus && !item.timerEnded"
                        wlc-timer
                        class="{{$class}}-item__timer"
                        value="{{item.cashbackStatus.date}}"
                        text="{{item.cashbackStatus.text}}"
                        (timerEnds)="timerExpiry(item)">
                    </div>
                    <div *ngIf="item.isPending && item.timerEnded"
                        class="{{$class}}-item__pending">
                        <span class="{{$class}}-item__pending-text">
                            {{'Awaiting processing' | translate}}
                        </span>
                    </div>
                    <div class="{{$class}}-item__btn-block">
                        <button wlc-button
                                class="{{$class}}-item__btn"
                                [text]=item.buttonText.text
                                [textContext]=item.buttonText.context
                                [attr.disabled]="item.isAvailable ? null : ''"
                                (click)="buttonClick(item)">
                        </button>
                    </div>
                </div>
            </div>
            <div wlc-pagination
                [items]="paginatedCashbackPlans"
                [settings]="$params.pagination"
                (paginationOnChange)="paginationOnChange($event)">
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #typeDeposite>
    <div class="{{$class}}__deposit">
        <ng-container *ngIf="ready$ | async; else loading">
            <ng-container *ngIf="depositCashback; else noDataDeposit">
                <div *ngIf="showDepositTimer"
                    wlc-timer
                    class="{{$class}}__timer"
                    [theme]="theme"
                    [value]="timerValue"
                    [text]="$params.claimTimerText"
                    (timerEnds)="depositTimerEnd()">
                </div>
                <button wlc-button
                    class="{{$class}}-item__btn"
                    [text]="$params.claimBtnText"
                    [disabled]="isNotAvailableCashback"
                    (click)="claimCashback(depositCashback.id)">
                </button>
            </ng-container>
        </ng-container>
        <div wlc-cashback-history
            [theme]="theme">
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <div wlc-wrapper
        class="{{$class}}__no-content"
        [inlineParams]="$params.emptyConfig">
    </div>
</ng-template>

<ng-template #noDataDeposit>
    <div wlc-alert theme="panel">
        <div title>{{$params.noCashbackText | translate}}</div>
    </div>
    <button wlc-button
        class="{{$class}}-item__btn"
        text="Get cashback"
        [disabled]="true">
    </button>
</ng-template>

<ng-template #loading>
    <div wlc-loader class="{{$class}}__loader"></div>
</ng-template>
