@import './utils/vars';

.wlc-body--fp-left,
.wlc-body--fp-right {

    .wlc-app {
        transition: ef.get-value($fixedPanelLayoutConfig, 'globalTransition');
    }
}

.wlc-body--fp-left {

    &-compact {
        --fp-left-padding: calc(var(--fp-left-size-compact) + var(--fp-left-size-gap));
    }

    &-expanded {
        --fp-left-padding: calc(var(--fp-left-size-full) + var(--fp-left-size-gap));
    }

    &:not(.wlc-body--fp-left-nopadding) {

        .wlc-app {
            padding-left: var(--fp-left-padding, 0);
        }

        &:not(.wlc-body--fp-right),
        &.wlc-body--fp-right-nopadding {

            .wlc-app {
                padding-right: var(--fp-left-size-gap, 0);
            }
        }
    }
}

.wlc-body--fp-right {

    &-compact {
        --fp-right-padding: calc(var(--fp-right-size-compact) + var(--fp-right-size-gap));
    }

    &-expanded {
        --fp-right-padding: calc(var(--fp-right-size-full) + var(--fp-right-size-gap));
    }

    &:not(.wlc-body--fp-right-nopadding) {

        .wlc-app {
            padding-right: var(--fp-right-padding, 0);
        }

        &:not(.wlc-body--fp-left),
        &.wlc-body--fp-left-nopadding {

            .wlc-app {
                padding-left: var(--fp-right-size-gap, 0);
            }
        }
    }
}
