.wlc-counter--theme-circle:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: ef.get-value($themeCircle, 'size');
    height: ef.get-value($themeCircle, 'size');
    border-radius: ef.get-value($themeCircle, 'borderRadius');
    pointer-events: none;

    &.wlc-counter--theme-mod-internal-mails {
        @include text.get-text-style(
            ef.get-value($themeCircle, 'internalMailsTextStyle'),
            ef.get-value($themeCircle, 'internalMailsTextColor')
        );
        background-color: ef.get-value($themeCircle, 'internalMailsBg');
    }
}
