@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

@import '../utils/vars';

.app-profile-cash-deposit-state,
.app-profile-cash-withdraw-state {

    .wlc-sections__profile-content--theme-default {

        .wlc-user-stats-wrapper {
            margin: ef.get-value($cashPagesThemeDefault, 'userStatsMargin');

            &__grid {
                display: grid;
                grid-template-columns: ef.get-value($cashPagesThemeDefault, 'userStatsGridColumns');
                gap: ef.get-value($cashPagesThemeDefault, 'userStatsGridGap');
            }
        }

        .wlc-menu.wlc-menu--theme-default {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            margin: ef.get-value($cashPagesThemeDefault, 'menuMargin');
            border-bottom: ef.get-value($cashPagesThemeDefault, 'menuBorder');

            .wlc-menu__item {
                margin-right: 30px;
                margin-bottom: -2px;

                &:last-child {
                    margin-right: 0;
                }

                .wlc-menu__link {
                    position: relative;
                    display: block;
                    padding: 0 0 10px;
                    @include text.get-text-style(ef.get-value($cashPagesThemeDefault, 'menuItemFontName'), ef.get-value($cashPagesThemeDefault, 'menuItemColor'));
                    text-align: center;
                    text-decoration: none;
                    text-transform: ef.get-value($cashPagesThemeDefault, 'menuItemTextTransform');

                    &:before {
                        content: '';
                        z-index: 2;
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background: ef.get-value($cashPagesThemeDefault, 'menuItemActiveBorderBg');
                        @include bm.transition(width);
                    }

                    &.active {
                        font-weight: ef.get-value($cashPagesThemeDefault, 'menuItemActiveWheit');
                        color: ef.get-value($cashPagesThemeDefault, 'menuItemActiveColor');

                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
