.wlc-modal-game-preplay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h1 {
        text-align: center;
        justify-content: center !important;
    }

    .wlc-modal__header {
        @if (getMapValue($wlcGameMobilePreplay, 'headerBackground') != default) {
            background: getMapValue($wlcGameMobilePreplay, 'headerBackground');
        }
        margin-bottom: 40px;
    }

    .wlc-modal-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wlc-modal__body {
        padding: 0;
    }

    .wlc-modal__footer {
        display: flex;
        flex-direction: column;
        padding: getMapValue($wlcElementsStyles, 'basePadding');
        white-space: nowrap;
        justify-content: flex-end;
        flex-grow: 1;

        .wlc-modal-game-preplay__links {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .wlc-btn {
            width: 100%;
            max-width: 320px;
        }
    }
}

.wlc-modal-game-favorites {
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 30px;

    .modal-header & {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    a.wlc-favourite {
        display: block;
        flex-grow: 1;

        svg {
            stroke: getMapValue($wlcGameThumb, 'favouriteColor');
            fill: none;

            @include max768 {

                &:hover {
                    fill: transparent;
                }
            }
        }

        &.wlc-active {

            svg {
                fill: getMapValue($wlcGameThumb, 'favouriteColor');
            }
        }

        .wlc-mobile & {

            &:hover {

                svg {
                    fill: transparent;
                }
            }

            &.wlc-active {

                svg {
                    fill: getMapValue($wlcGameThumb, 'favouriteColor');
                }
            }
        }
    }
}

.wlc-game-image-wrp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: getMapValue($wlcGameMobilePreplay, 'gameImageBackground');
    padding: getMapValue($wlcElementsStyles, 'basePadding') 50px;

    img {
        max-width: 100%;
        max-height: 30vh;
        margin-bottom: 1rem;
    }

    .wlc-game-image-wrp__title {
        font-size: getMapValue($wlcGameMobilePreplay, 'fontSize');
    }

    .wlc-landscape & {
        flex-direction: row;
        justify-content: flex-start;

        .wlc-game-image-wrp__title {
            margin-left: 2rem;
        }
    }
}

