.wlc-signup-form {

    .wlc-social {
        flex-wrap: wrap;
        margin: 2rem 0;
    }

    .wlc-social-wrapper {
        flex: 1 1 (100 / 6) * 1%;
        margin-right: 3rem;

        &:last-child {
            margin-right: 0;
        }
    }

    .wlc-form-block {
        text-align: left;
    }

    #currency {
        min-width: 90px;
    }
}

.wlc-signup-bonus__title {
    font-size: getFontSize('xlarge');
    text-align: center;
    margin-bottom: 3rem;
}

.wlc-signup-bonus__list {
    @extend %flex;
    flex-flow: wrap;
    justify-content: center;

    .wlc-bonuses-item {
        flex-basis: (100 / 3) * 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max1024 {
            flex-basis: 50%;
        }

        @include max720 {
            flex-basis: 100%;
        }
    }

    .wlc-bonuses-item-description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .wlc-bonuses-item-description__name {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: getMapValue($wlcModal, 'textColor');
        font-size: getFontSize('large');
        line-height: getFontSize('large');
        word-wrap: break-word;
        word-break: break-all;
    }

    .wlc-btn {
        @include wlcBtnSize(getMapValue($wlcBtnSizes, 'default'));
    }

    .wlc-btn_link {
        color: getMapValue($wlcModal, 'linkColor');
    }
}

.wlc-signup-bonus__next {
    text-align: center;
    font-size: getFontSize('xlarge');
    margin-bottom: 3rem;

    a {
        @extend %link;

        svg {
            height: auto;
            width: getFontSize('xlarge') * 0.76;
        }
    }
}

.wlc-signup-selected-bonus {
    margin-bottom: 30px;
    text-align: center;
    font-size: getFontSize('xlarge');
}

.wlc-signup-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wlc-signup-register__wrapper {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .wlc-content-row__last-step {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .wlc-form-separator_top {

        .wlc-form-separator__line {
            display: none;
        }
    }
}

.wlc-signup-email,
.wlc-signup-confirm {
    width: 46%;

    @include max900 {
        width: 100%;
    }
}

.wlc-signup-confirm {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .wlc-form-block_currency {
        flex: 1 1 30%;
        @include max480 {
            padding-right: 0;
            flex: 1 1 100%;
        }
    }

    .wlc-form-block_promocode {
        flex: 1 1 70%;
        padding-left: 1.5rem;
        @include max480 {
            padding-left: 0;
            flex: 1 1 100%;
        }
    }

    a {
        @extend %link;
    }
}

.wlc-form-block_rules,
.wlc-form-block_grownup,
.wlc-form-block_notifications {
    @extend %flex;
    flex: 1 1 100%;
    align-items: center;

    p {
        text-align: left;
        font-size: getFontSize('default');
    }
}

.wlc-modal_signup {

    .wlc-modal-header {
        position: absolute;
        z-index: 2;
        top: 1.5rem;
        left: 1.5rem;
        font-size: getFontSize('medium');
        font-weight: normal;
        width: auto;
        padding-bottom: 70px;

        @include max1024 {
            top: 1rem;
        }

        @include max640 {
            position: initial;
            padding-bottom: 1.5rem;
        }

        span {
            display: block;

            @include max640 {
                display: inline-block;
            }
        }

        a {
            font-size: getFontSize('medium');
        }
    }

    .wlc-form-separator__text {
        color: getMapValue($wlcModal, 'textColor');
    }

    .wlc-form-checkbox__label {
        border-color: getMapValue($wlcModal, 'textColor');
    }

    .wlc-form-element__back {
        position: absolute;
        top: 2rem;
        left: 2rem;

        svg {
            fill: getMapValue($wlcModal, 'linkColor') !important;
        }

        @include max480 {
            top: 7rem;
        }
    }
}

.wlc-modal__header .wlc-modal-header {
    top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include max900 {
        top: 0.6rem;
    }
}

.wlc-signup-finish {
    text-align: center;

    p {
        text-align: center;
    }

    .wlc-btn {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

.wlc-signup-form_vertical {

    .wlc-social-wrapper {
        flex: 100%;
        margin: 0;
    }

    .wlc-form-separator_top {
        margin: 0 0 15px;
        //display: none;
    }

    .wlc-social {
        width: 100%;
        flex: 1 1 45%;
        flex-wrap: wrap;
        margin: 0;
    }

    .wlc-form-separator_bottom {
        flex-direction: row;

        .wlc-form-separator__line {

            &:before {
                border: {
                    bottom: 1px solid getElementColor('border');
                    left: none;
                }
            }
        }
    }

    .wlc-signup-email {
        width: 48%;
    }

    .wlc-social-button {
        margin-right: 0;
        flex: 0 0 auto;
    }

    .wlc-signup-confirm {
        width: 48%;
    }
}

.wlc-form_login {

    .wlc-content-row.wlc-form-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .wlc-form-block_email,
        .wlc-form-block_password {
            width: 48%;

            @include max360 {
                width: 100%;
            }
        }
    }

    .wlc-form-separator_top {

        .wlc-form-separator__line {
            display: none;
        }
    }
}

.wlc-modal_login-signup .wlc-registration-code {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2.4rem 0 3.2rem 0;

    input {
        width: 6.4rem;
        height: 6.4rem;
        margin: 0.2rem;
        text-align: center;
        user-select: all;
        background-color: getMapValue($wlcBaseColors, 'highlightSecond');
        border-radius: 8px;
    }
}

.wlc-modal_login-signup .wlc-resend-sms {
    padding: 2.8rem 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.wlc-registration-message-done {
    margin-bottom: 2rem;
    display: none;
}
