.wlc-modal_sms {

    .wlc-verification-code {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 2.4rem 0 3.2rem 0;

        input {
            width: 6.4rem;
            height: 6.4rem;
            margin: 0.2rem;
            text-align: center;
            user-select: all;
            background-color: getMapValue($wlcBaseColors, 'highlightSecond');
            border-radius: 8px;
        }
    }

    .wlc-resend-sms {
        padding: 2.8rem 0;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}
