.wlc-user-name--theme-default:host {
    min-width: 0;

    .wlc-user-name {

        &__email {
            display: flex;
            align-items: center;

            &-value {
                @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'userStatsEmailValueColor'));
                margin: ef.get-value($themeDefault, 'userStatsEmailValueMargin');
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
