@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;

.wlc-user-stats--theme-default:host {

    .wlc-user-stats {
        width: 100%;
        max-width: map-get($themeDefault, 'maxWidth');

        &-balance {
            width: 100%;
            padding: map-get($themeDefault, 'balancePadding');
            border-radius: map-get($themeDefault, 'balanceBorderRadius');

            @include bm.get-mq-map('background', $themeDefault, 'balanceBg');

            &--short {
                padding: map-get($themeDefault, 'balanceShortPadding');
                min-width: map-get($themeDefault, 'balanceShortMinWidth');
                background: map-get($themeDefault, 'balanceShortBg');

                > div {
                    border-bottom-color: map-get($themeDefault, 'balanceShortBorderColor');
                }
            }

            &__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: map-get($themeDefault, 'balanceItemPadding');

                @include bm.get-mq-map('border-bottom', $themeDefault, 'balanceItemBorder');

                &:last-child {
                    border-bottom: none;
                }
            }

            .name {
                @include lib.get-text-style('PlaceholderText');
                color: map-get($themeDefault, 'colorName');
            }

            .value {
                padding-left: 5px;
                @include lib.get-text-style('PlaceholderTextBold');
                color: map-get($themeDefault, 'colorValue');

                ::ng-deep {

                    .wlc-icon {
                        display: inline-block;
                        position: relative;
                        bottom: 1px;

                        svg {
                            width: map-get($themeDefault, 'loyaltyIconSize');
                            height: map-get($themeDefault, 'loyaltyIconSize');
                        }
                    }
                }
            }

            .name,
            .value {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &--store {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background: none;

                .wlc-user-stats-balance__item {
                    padding: 0;
                    border-bottom: none;
                }

                .value {
                    display: flex;
                    padding-left: 0;
                    @include lib.get-text-style('ThirdTitleBold');

                    ::ng-deep {

                        .wlc-icon {
                            bottom: 2px;

                            svg {
                                width: map-get($themeDefault, 'loyaltyIconStoreSize');
                                height: map-get($themeDefault, 'loyaltyIconStoreSize');
                            }
                        }
                    }
                }
            }
        }

        &__content {

            .wlc-btn-deposit {
                margin: map-get($themeDefault, 'btnMargin');
            }
        }
    }
}
