@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

.wlc-user-stats--theme-default:host {

    .wlc-user-stats {
        width: 100%;
        max-width: ef.get-value($themeDefault, 'maxWidth');

        &-description-currency {
            position: ef.get-value($themeDefault, 'iconDescriptionCurrencyPosition');
            top: ef.get-value($themeDefault, 'iconTop');
            right: ef.get-value($themeDefault, 'iconRigth');
            z-index: ef.get-value($themeDefault, 'zIndex');
            transform: ef.get-value($themeDefault, 'translateY');

            ::ng-deep {

                .wlc-tooltip__icon .wlc-icon-content {

                    svg {
                        width: ef.get-value($themeDefault, 'svgIconInfoSize');
                        height: ef.get-value($themeDefault, 'svgIconInfoSize');
                    }
                }
            }
        }

        &-balance {
            @include bm.get-mq-map('background', $themeDefault, 'balanceBg');

            width: 100%;
            padding: ef.get-value($themeDefault, 'balancePadding');
            border-radius: ef.get-value($themeDefault, 'balanceBorderRadius');

            &--short {
                @include bm.get-mq-map('background', $themeDefault, 'balanceShortBg');
                min-width: ef.get-value($themeDefault, 'balanceShortMinWidth');
                padding: ef.get-value($themeDefault, 'balanceShortPadding');

                > div {
                    border-bottom-color: ef.get-value($themeDefault, 'balanceShortBorderColor');
                }
            }

            &__item {
                @include bm.get-mq-map('border-bottom', $themeDefault, 'balanceItemBorder');

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: ef.get-value($themeDefault, 'balanceItemPadding');

                &:last-child {
                    border-bottom: none;
                }
            }

            .name {
                @include lib.get-text-style('PlaceholderText');
                color: ef.get-value($themeDefault, 'colorName');
            }

            .value {
                @include lib.get-text-style('PlaceholderTextBold');
                padding-left: 5px;
                color: ef.get-value($themeDefault, 'colorValue');

                ::ng-deep {

                    .wlc-icon {
                        position: relative;
                        bottom: 1px;
                        display: inline-block;

                        svg {
                            width: ef.get-value($themeDefault, 'loyaltyIconSize');
                            height: ef.get-value($themeDefault, 'loyaltyIconSize');
                        }
                    }
                }
            }

            .name,
            .value {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &--store {
                display: ef.get-value($themeDefault, 'storeDisplay');
                flex-direction: column;
                align-items: flex-end;
                padding: ef.get-value($themeDefault, 'storePadding');
                background: none;

                .wlc-user-stats-balance__item {
                    padding: 0;
                    border-bottom: none;
                }

                .value {
                    @include bm.transition(color);
                    @include text.get-text-style(ef.get-value($themeDefault, 'storeValueFont'), ef.get-value($themeDefault, 'storeValueFontColor'));
                    display: ef.get-value($themeDefault, 'storeValueDisplay');
                    padding-left: 0;

                    ::ng-deep {

                        .wlc-icon {
                            bottom: 2px;

                            svg {
                                width: ef.get-value($themeDefault, 'loyaltyIconStoreSize');
                                height: ef.get-value($themeDefault, 'loyaltyIconStoreSize');
                            }
                        }
                    }

                    @include bm.hover {
                        color: ef.get-value($themeDefault, 'storeValueColorHover');
                    }
                }

                @include bm.hover {

                    .value {
                        color: ef.get-value($themeDefault, 'storeValueFontColorHover');
                    }
                }
            }
        }

        &__content {

            .wlc-btn-deposit {
                margin: ef.get-value($themeDefault, 'btnMargin');
            }
        }
    }
}
