<ng-container [ngSwitch]="$params.theme">
    <ng-container *ngSwitchCase="'modal-wolf'" [ngTemplateOutlet]="themeModal"></ng-container>
    <ng-container *ngSwitchCase="'modal'" [ngTemplateOutlet]="themeModal"></ng-container>
    <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="default"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<!-- default -->
<ng-template #default>
    <div class="{{$class}}__container {{$class}}__container--{{achievement.status}}">
        <ng-container [ngTemplateOutlet]="achievementImage" [ngTemplateOutletContext]="{$implicit: true}"></ng-container>
        <ng-container *ngIf="showProgress" [ngTemplateOutlet]="achievementProgress"></ng-container>
        <ng-container *ngIf="achievement.name" [ngTemplateOutlet]="achievementName" [ngTemplateOutletContext]="{$implicit: true}"></ng-container>
        <ng-container *ngIf="achievement.description" [ngTemplateOutlet]="achievementDescription"></ng-container>
        <ng-container *ngIf="showButton" [ngTemplateOutlet]="achievementButton"></ng-container>
        <ng-container *ngIf="achievement.isReceived" [ngTemplateOutlet]="achievementDate"></ng-container>
        <div class="{{$class}}__info">
            <div wlc-icon
                class="icon-btn"
                [iconPath]="$params.itemParams.infoIconPath"
                wlcElement="button_terms"
                (click)="openDescription()">
            </div>
        </div>
    </div>
</ng-template>

<!-- modal -->
<ng-template #themeModal>
    <div class="{{$class}}__container {{$class}}__container--{{achievement.status}}">
        <ng-container [ngTemplateOutlet]="achievementImage" [ngTemplateOutletContext]="{$implicit: false}"></ng-container>
        <ng-container *ngIf="levelsTagText" [ngTemplateOutlet]="achievementTag"></ng-container>
        <ng-container *ngIf="achievement.name" [ngTemplateOutlet]="achievementName"></ng-container>
        <ng-container *ngIf="achievement.description" [ngTemplateOutlet]="achievementDescription"></ng-container>
        <ng-container *ngIf="showProgress" [ngTemplateOutlet]="achievementProgress"></ng-container>
        <ng-container *ngIf="achievement.levelsInfo.length" [ngTemplateOutlet]="achievementLevels"></ng-container>
        <ng-container *ngIf="showButton" [ngTemplateOutlet]="achievementButton"></ng-container>
        <ng-container *ngIf="achievement.isReceived" [ngTemplateOutlet]="achievementDate"></ng-container>
    </div>
</ng-template>

<ng-template #achievementImage let-withPrizeIcon>
    <div class="{{$class}}__image-container">
        <div wlc-icon
             [iconUrl]="achievement.currentImage"
             wlcElement="achievement_image">
        </div>
        <ng-container *ngIf="achievement.prizeDescription && withPrizeIcon" [ngTemplateOutlet]="prizeDescriptionIcon"></ng-container>
    </div>
</ng-template>

<ng-template #achievementProgress>
    <div class="{{$class}}__progress"
         data-wlc-element="achievement_progress">
        <div class="{{$class}}__progress-details">
            {{achievement.progressDetailsText}}
        </div>
        <div class="{{$class}}__progress-line">
            <div class="{{$class}}__progress-line-inner"
                 [ngStyle]="{width: achievement.progressPercent + '%'}"></div>
        </div>
    </div>
</ng-template>

<ng-template #achievementLevels>
    <div wlc-accordion
        class="{{$class}}__levels"
        [inlineParams]="levelsAccordionParams">
    </div>
</ng-template>

<ng-template #achievementTag>
    <div wlc-achievement-tag
        class="{{$class}}__tag"
        [inlineParams]="{text: levelsTagText}">
    </div>
</ng-template>

<ng-template #achievementName let-showTag>
    <div class="{{$class}}__name"
         data-wlc-element="achievement_name">
        <div class="{{$class}}__name-text">
            <ng-container *ngIf="showTag && levelsTagText" [ngTemplateOutlet]="achievementTag"></ng-container>{{achievement.name}}
        </div>
    </div>
</ng-template>

<ng-template #achievementDescription>
    <div class="{{$class}}__description"
         data-wlc-element="achievement_description">
        <div class="{{$class}}__description-text">
            {{achievement.description}}
        </div>
    </div>
</ng-template>

<ng-template #achievementButton>
    <div class="{{$class}}__button">
        <button wlc-button
                [inlineParams]="buttonParams"></button>
    </div>
</ng-template>

<ng-template #achievementDate>
    <div class="{{$class}}__date"
         data-wlc-element="achievement_date">
         {{'Received: {{receivingDate}}' | translate | translate:achievement}}
    </div>
</ng-template>

<ng-template #prizeDescriptionIcon>
    <div class="{{$class}}__prize-description-icon-container">
        <div class="{{$class}}__prize-description-icon"
            wlc-icon
            [iconUrl]="$params.prizeIconPath">
        </div>
    </div>
</ng-template>
