<span class="{{$class}}__text">
    {{$params.common?.text | translate}}
    <span *ngIf="$params.common?.icon || $params.common?.iconPath"
          wlc-icon
          [iconName]="$params.common.icon"
          [iconPath]="$params.common.iconPath"
          [showSvgAsImg]="$params.common.showIconAsImg"
    ></span>
</span>

<span *ngIf="$params.pending$"
      wlc-icon
      class="{{$class}}__pending"
      [iconPath]="$params.pendingIconPath"
></span>

<span *ngIf="$params.common?.counter?.use"
      class="{{$class}}__counter">
      {{$params.common.counter.value}}
</span>
