@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'modules/core/components/button/styles/utils/mixins' as button;

.wlc-transaction-history--theme-default {

    &:host {

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-transaction-history-filter {
            @include bm.get-mq-map('display', $themeDefault, 'sectionDisplay');
            @include bm.get-mq-map('align-items', $themeDefault, 'filterAlignItems');
            @include bm.get-mq-map('margin', $themeDefault, 'filterMargin');
            @include bm.get-mq-map('grid-auto-flow', $themeDefault, 'filterGridAutoFlow');
            @include bm.get-mq-map('grid-auto-columns', $themeDefault, 'filterGridAutoColumns');
            @include bm.get-mq-map('gap', $themeDefault, 'filterGap');

            .wlc-btn {
                min-height: ef.get-value($themeDefault, 'btnMinHeight');
            }

            .wlc-btn.active {
                @include button.buttonBase();
            }

            .wlc-select[wlc-select] {
                min-width: ef.get-value($themeDefault, 'filterMinWidth');
            }

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('display', $themeDefault, 'sectionDisplayTypeFirst');
            }
        }
    }

    @include mq.min(1024) {
        margin: ef.get-value($themeDefault, 'sectionMargin');
    }
}
