@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'modules/core/components/button/styles/utils/mixins' as button;
@use 'engine-scss/mixins/common.mixins' as cm;

.wlc-transaction-history--theme-default {

    &:host {
        @include bm.get-mq-map('margin', $themeDefault, 'sectionMargin');

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-transaction-history-filter {
            @include bm.get-mq-map('display', $themeDefault, 'sectionDisplay');
            @include bm.get-mq-map('align-items', $themeDefault, 'filterAlignItems');
            @include bm.get-mq-map('margin', $themeDefault, 'filterMargin');
            @include bm.get-mq-map('grid-auto-flow', $themeDefault, 'filterGridAutoFlow');
            @include bm.get-mq-map('grid-auto-columns', $themeDefault, 'filterGridAutoColumns');
            @include bm.get-mq-map('gap', $themeDefault, 'filterGap');

            .wlc-select[wlc-select] {
                min-width: ef.get-value($themeDefault, 'filterMinWidth');
            }
        }

        .wlc-transaction-history-filter__buttons {
            @include bm.get-mq-map('display', $themeDefault, 'sectionDisplay');
            @include bm.get-mq-map('gap', $themeDefault, 'filterBtnGap');
            grid-template-areas: ef.get-value($themeDefault, 'labelAreas');

            .wlc-label {
                @include cm.labelStyle;
                grid-area: label;
            }
        }

        .wlc-table--theme-default.wlc-table::ng-deep {

            .wlc-table__cell--first {
                grid-template-columns: ef.get-value($themeDefault, 'firstCellColumns');

                .wlc-table__cell-label {
                    display: none;
                }
            }
        }

        ::ng-deep {

            .wlc-table__row:not(.wlc-table__row--head) {

                .allow-cancelation {

                    .action-text {

                        @include mq.min(1024) {
                            opacity: 0;
                        }
                    }
                }

                .action-btn {
                    display: flex;
                    justify-content: center;
                }
            }

            .wlc-table--theme-mod-first {

                .wlc-table__row:not(.wlc-table__row--head) {

                    .allow-cancelation {

                        .action-text {
                            @include bm.get-mq-map('opacity', $themeDefault, 'actionTextOpacity');
                        }
                    }

                    .action-btn {
                        display: flex;
                    }
                }
            }

            .wlc-btn.active {
                cursor: default;
            }
        }
    }
}
