.wlc-transaction-history--theme-default {

    &:host {
        @include bm.get-mq-map('margin', $themeDefault, 'sectionMargin');

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-transaction-history__filter {
            @include bm.get-mq-map('align-items', $themeDefault, 'filterAlignItems');
            @include bm.get-mq-map('margin', $themeDefault, 'filterMargin');
            @include bm.get-mq-map('grid-auto-flow', $themeDefault, 'filterGridAutoFlow');
            @include bm.get-mq-map('grid-auto-columns', $themeDefault, 'filterGridAutoColumns');
            @include bm.get-mq-map('gap', $themeDefault, 'filterGap');
            display: ef.get-value($themeDefault, 'sectionDisplay');

            .wlc-select[wlc-select] {
                min-width: ef.get-value($themeDefault, 'filterMinWidth');
            }
        }

        .wlc-transaction-history__buttons {
            display: ef.get-value($themeDefault, 'sectionDisplay');
            grid-template-areas: ef.get-value($themeDefault, 'labelAreas');

            ::ng-deep {

                .wlc-radio-buttons__group {
                    min-width: ef.get-value($themeDefault, 'filterBtnMinWidth');
                }

                .wlc-radio-buttons__elems {
                    @include bm.get-mq-map('gap', $themeDefault, 'filterBtnGap');
                }
            }
        }

        .wlc-table--theme-default.wlc-table::ng-deep {

            .wlc-table__cell--first {
                grid-template-columns: ef.get-value($themeDefault, 'firstCellColumns');

                .wlc-table__cell-label {
                    display: none;
                }
            }
        }

        ::ng-deep {

            .wlc-table__row:not(.wlc-table__row--head) {

                .allow-cancelation {

                    .action-text {

                        @include mq.min(1024) {
                            opacity: 0;
                        }
                    }
                }

                .action-btn {
                    display: flex;
                    justify-content: center;
                }
            }

            .wlc-table--theme-mod-first {

                .wlc-table__row:not(.wlc-table__row--head) {

                    .allow-cancelation {

                        .action-text {
                            @include bm.get-mq-map('opacity', $themeDefault, 'actionTextOpacity');
                        }
                    }

                    .action-btn {
                        display: flex;
                    }
                }
            }

            .wlc-btn.active {
                cursor: default;
            }
        }
    }
}
