<swiper [config]="$params.swiper" (update)="onUpdate(swiper)">
    <ng-template swiperSlide
        *ngFor="let n of slidesSequence">
        <ng-container [ngTemplateOutlet]="slide"
            [ngTemplateOutletContext]="{slide: slides[n]}">
        </ng-container>
    </ng-template>
    <div slot="container-start">
        <ng-content select="[slot-container-start]"></ng-content>
    </div>
    <div slot="container-end">
        <ng-content select="[slot-container-end]"></ng-content>
    </div>
</swiper>

<ng-template #slide let-slide="slide">
    <ng-container [ngSwitch]="detectSlide(slide)">
        <ng-container *ngSwitchCase="'component'"
            [ngTemplateOutlet]="component"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>

        <ng-container *ngSwitchCase="'templateRef'"
            [ngTemplateOutlet]="templateRef"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>

        <ng-container *ngSwitchCase="'htmlString'"
            [ngTemplateOutlet]="html"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>
    </ng-container>
</ng-template>

<ng-template #html let-item="item">
    <div [innerHTML]="item.htmlString"></div>
</ng-template>

<ng-template #component let-item="item">
    <ng-container
        [ngComponentOutlet]="item.component"
        [ngComponentOutletInjector]="getInjector(item)">
    </ng-container>
</ng-template>

<ng-template #templateRef let-item="item">
    <ng-container
        [ngTemplateOutlet]="item.templateRef"
        [ngTemplateOutletContext]="item.templateParams">
    </ng-container>
</ng-template>
