<div #sliderRef [swiper]="$params.swiper" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"
            *ngFor="let n of slidesSequence">
            <ng-container [ngTemplateOutlet]="slide"
                [ngTemplateOutletContext]="{slide: slides[n]}">
            </ng-container>
        </div>
    </div>

    <div class="swiper-navigation" *ngIf="$params.swiper.navigation">
        <div [ngClass]="[$params.swiper.navigation['prevEl'] ? $params.swiper.navigation['prevEl'] : 'swiper-button-prev']"></div>
        <div [ngClass]="[$params.swiper.navigation['nextEl'] ? $params.swiper.navigation['nextEl'] : 'swiper-button-next']"></div>
    </div>

    <div *ngIf="$params.swiper.pagination"
        [ngClass]="[$params.swiper.pagination['el'] ? $params.swiper.pagination['el'] : 'swiper-pagination']">
    </div>

    <div *ngIf="$params.swiper.scrollbar"
    [ngClass]="[$params.swiper.scrollbar['el'] ? $params.swiper.scrollbar['el'] : 'swiper-scrollbar']">
    </div>
</div>

<ng-template #slide let-slide="slide">
    <ng-container [ngSwitch]="detectSlide(slide)">
        <ng-container *ngSwitchCase="'component'"
            [ngTemplateOutlet]="component"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>

        <ng-container *ngSwitchCase="'templateRef'"
            [ngTemplateOutlet]="templateRef"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>

        <ng-container *ngSwitchCase="'htmlString'"
            [ngTemplateOutlet]="html"
            [ngTemplateOutletContext]="{item: slide}"
        ></ng-container>
    </ng-container>
</ng-template>

<ng-template #html let-item="item">
    <div [innerHTML]="item.htmlString"></div>
</ng-template>

<ng-template #component let-item="item">
    <ng-container
        [ngComponentOutlet]="item.component"
        [ngComponentOutletInjector]="getInjector(item)">
    </ng-container>
</ng-template>

<ng-template #templateRef let-item="item">
    <ng-container
        [ngTemplateOutlet]="item.templateRef"
        [ngTemplateOutletContext]="item.templateParams">
    </ng-container>
</ng-template>
