<div class="wlc-notification-message__inner">
    <span *ngIf="icon && !image"
          class="wlc-notification-message__icon"
          wlc-icon
          [iconName]="icon">
    </span>

    <div *ngIf="image" class="wlc-notification-message__image-container">
        <img class="wlc-notification-message__image"
             [style.object-fit]="$params.imageFit"
             [src]="image.src"
             [alt]="image.alt">
    </div>

    <div class="wlc-notification-message__content">
        <h4 *ngIf="isPopup"
            class="wlc-notification-message__heading"
            [attr.data-wlc-element]="'notification-title'"
        >{{title | translate}}</h4>
        <div class="wlc-notification-message__message-container" [attr.data-wlc-element]="'notification-text'">
            <div class="wlc-notification-message__message">
                <ng-container *ngFor="let message of messages">
                    <ng-container *ngIf="isHTML; else plainText">
                        <div class="wlc-notification-message__html"
                             wlc-dynamic-html
                             [html]="message"
                        ></div>
                    </ng-container>
                    <ng-template #plainText>
                        {{(message | translate) + '\n'}}
                    </ng-template>
                </ng-container>

            </div>
            <button *ngIf="action"
                    wlc-button
                    theme="borderless"
                    wlcElement="button_close"
                    [text]="action.label"
                    (click)="action.onClick()"
            ></button>
        </div>
    </div>

    <button *ngIf="isPopup && $params.showCloseButton"
            wlc-icon
            iconName="close"
            class="wlc-notification-message__dismiss"
            wlcElement="button_close"
            type="button"
            aria-label="Dismiss"
            title="Dismiss"
            (click)="meta.dismiss()"
    ></button>
</div>
