@use 'engine-scss/mixins/mediaqueries' as mq;

.wlc-textarea--theme-placeholder-shown:host {
    position: relative;
    display: flex;
    flex-flow: column-reverse nowrap;
    margin: $marginPlaceholderShown;

    .wlc-textarea__label,
    .wlc-textarea__textarea {
        transition: $transitionPlaceholderShown;
        line-height: 1;
    }

    .wlc-textarea__textarea {
        font-size: $textareaFontSizePlaceholderShown;
        border: $textareaBorderPlaceholderShown;
        border-radius: $textareaBorderRadiusPlaceholderShown;
        padding: $textareaPaddingPlaceholderShown;
        text-overflow: ellipsis;
        overflow: visible;
        min-height: $textareaMinHeightPlaceholderShown;

        @include mq.min(720) {
            min-height: $textareaMinHeightPlaceholderShown * 2;
        }

        &::placeholder {
            opacity: 0;
        }

        &:focus {
            outline: 0;
            border-color: $textareaBorderFocusColorPlaceholderShown;

            &::placeholder {
                opacity: 1;
            }
        }

        &:placeholder-shown + .wlc-textarea__label {
            cursor: text;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            transform: translateY(-50%);
        }

        &:not(:placeholder-shown),
        &:focus {

            & + .wlc-textarea__label {
                transform: translateY($placeholderShiftPlaceholderShown);
                font-size: $placeholderFontSizePlaceholderShown;
                padding: $placeholderPaddingPlaceholderShown;
                cursor: pointer;
            }
        }
    }

    .wlc-textarea__label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: $textareaFontSizePlaceholderShown;
        padding: $textareaPaddingPlaceholderShown;
        margin: $marginPlaceholderShown;
        line-height: $labelLineHeightPlaceholderShown;
    }
}
