<ng-container *ngIf="lottery">
    <p class="{{$class}}__dates">{{getDatesString()}}</p>
    <p *ngIf="lottery.isWaitingForResults" class="{{$class}}__text">
        {{$params.texts.endingText | translate}}
    </p>
    <div *ngIf="showTimer" class="{{$class}}__timer">
        <div wlc-timer
            [inlineParams]="{theme: $params.themeMod}"
            [value]="lottery.drawingDate"
            [text]="$params.texts.timerText"
            (timerEnds)="updateView()"></div>
    </div>
    <div *ngIf="showTicketsCounter" class="{{$class}}__tickets">
        {{$params.texts.ticketsCaption | translate}} {{lottery.ticketsCount}}
    </div>
</ng-container>
