<ng-container *ngIf="lottery">
    <p *ngIf="!lottery.isEnded" class="{{$class}}__dates">{{lottery.datesFormatted}}</p>
    <p *ngIf="lottery.isEnded" class="{{$class}}__dates">
        {{'Ended' | translate}}: {{lottery.dateEndFormatted}}
    </p>
    <div *ngIf="!lottery.isEnded" class="{{$class}}__timer">
        <div wlc-timer
            [inlineParams]="{theme: $params.themeMod}"
            [value]="lottery.dateEnd"
            [text]="lottery.getTimerText('raffleEnd')"
            (timerEnds)="updateView()"></div>
    </div>
    <div *ngIf="showTicketsCounter" class="{{$class}}__tickets">
        {{$params.texts.ticketsCaption | translate}} {{lottery.ticketsCount}}
    </div>
</ng-container>
