@mixin separator() {
    content: '';

    display: block;
    flex: 0 0 auto;
    width: var(--bp-separator-width);
    height: ef.get-value($themeLeft, 'separatorHeight');
    margin: ef.get-value($themeLeft, 'separatorMargin');

    background: ef.get-value($themeLeft, 'separatorColor');
}
