@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;

@import '../utils/vars';
@import '../utils/mixins';

.wlc-select--theme-default:host {
    @include selectBase($themeDefault);

    .wlc-select {

        &__label {
            @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'labelColor'));
        }

        &__group {
            position: relative;
            width: 100%;
        }

        &__field {
            width: 100%;
            border: ef.get-value($themeDefault, 'selectBorder');
            border-radius: ef.get-value($themeDefault, 'selectBorderRadius');
            padding: ef.get-value($themeDefault, 'selectPadding');
            overflow: visible;
            text-overflow: ellipsis;
            background: ef.get-value($themeDefault, 'selectBackground');
            text-align: ef.get-value($themeDefault, 'selectTextAlign');
            color: ef.get-value($themeDefault, 'selectColor');
            height: ef.get-value($themeDefault, 'selectHeight');

            &:focus {
                outline: none;
                border-color: ef.get-value($themeDefault, 'selectBorderFocusColor');
            }

            &.ng-touched {

                &.ng-invalid {
                    background: ef.get-value($themeDefault, 'errorsBgColor');
                    border-color: darken(ef.get-value($themeDefault, 'errorsBgColor'), 10%);
                }
            }
        }

        &__dropdown {
            @include dropdownBase;

            &-item {
                @include dropdownItemBase;

                color: ef.get-value($themeDefault, 'selectDropdownItemColor');

                &:hover {
                    background: darken(ef.get-value($themeDefault, 'selectDropdownBackground'), 20);
                    transition: ef.get-value($themeDefault, 'selectDropdownItemTransition');
                }
            }
        }

        &-status {

            &__icon {
                @include baseStatusIcon;
            }

            &__arrow {
                @include baseStatusArrow;
            }

            &__errors {
                @include baseStatusErrors;
            }
        }
    }
}
