@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;

@import '../utils/vars';
@import '../utils/mixins';

.wlc-select--theme-default:host {
    @include selectBase($themeDefault);

    .wlc-select {

        &__label {
            font-weight: map-get($themeDefault, 'labelFontWeight');
            font-size: map-get($themeDefault, 'labelFontSize');
            line-height: map-get($themeDefault, 'labelFontSize');
            color: map-get($themeDefault, 'labelColor');
        }

        &__group {
            position: relative;
            width: 100%;
        }

        &__field {
            width: 100%;
            border: map-get($themeDefault, 'selectBorder');
            border-radius: map-get($themeDefault, 'selectBorderRadius');
            padding: map-get($themeDefault, 'selectPadding');
            overflow: visible;
            text-overflow: ellipsis;
            background: map-get($themeDefault, 'selectBackground');
            text-align: map-get($themeDefault, 'selectTextAlign');
            color: map-get($themeDefault, 'selectColor');
            height: map-get($themeDefault, 'selectHeight');

            &:focus {
                outline: none;
                border-color: map-get($themeDefault, 'selectBorderFocusColor');
            }

            &.ng-touched {

                &.ng-invalid {
                    border-color: map-get($themeDefault, 'errorsColor');
                }
            }
        }

        &__dropdown {
            @include dropdownBase;

            &-item {
                @include dropdownItemBase;

                color: map-get($themeDefault, 'selectDropdownItemColor');

                &:hover {
                    background: darken(map-get($themeDefault, 'selectDropdownBackground'), 20);
                    transition: map-get($themeDefault, 'selectDropdownItemTransition');
                }
            }
        }

        &-status {

            &__icon {
                @include baseStatusIcon;
            }

            &__arrow {
                @include baseStatusArrow;
            }

            &__errors {
                @include baseStatusErrors;
            }
        }
    }
}
