.wlc-select--theme-vertical:host {
    gap: ef.get-value($themeVertical, 'labelGap');

    .wlc-select {

        &__label {
            @include cm.labelStyle;
            @include bm.lineClamp(1);

            &.tooltipped {
                overflow: visible;
            }

            .wlc-tooltip {
                @include bm.get-mq-map('transform', $themeVertical, 'tooltipTransform');
                display: inline-block;
                margin: ef.get-value($themeVertical, 'tooltipMargin');
            }
        }

        &__group {
            width: ef.get-value($themeVertical, 'selectGroupSize');
            min-width: 0;
            max-width: ef.get-value($themeVertical, 'selectGroupSize');
        }
    }
}
