.wlc-games-slider--theme-default:host {

    .wlc-btn {
        margin: ef.get-value($themeDefault, 'btnMargin');

        .wlc-modal__body & {
            margin: ef.get-value($themeDefault, 'modalButtonMargin');
        }

        &:disabled {
            background: ef.get-value($themeDefault, 'buttonBgDisabled');
        }
    }

    .wlc-games-slider {

        &__heading {
            text-align: ef.get-value($themeDefault, 'textAlign');
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleTextColor'));
            @include mq.min(1024) {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle', 1024), null);
            }
        }

        &__subtitle {
            @include text.get-text-style(ef.get-value($themeDefault, 'subtitleFontStyle'), ef.get-value($themeDefault, 'subtitleTextColor'));

            margin: ef.get-value($themeDefault, 'subtitleMargin');

            @include mq.min(1024) {
                @include text.get-text-style(ef.get-value($themeDefault, 'subtitleFontStyle', 1024), null);
            }
        }

        &__mobile {
            @include bm.get-mq-map('margin', $themeDefault, 'mobileMargin');
            display: grid;
            grid-template-columns: ef.get-value($themeDefault, 'mobileGridColumns');
            gap: ef.get-value($themeDefault, 'mobileGap');
            align-items: center;
            padding: ef.get-value($themeDefault, 'mobileBodyPadding');
            background: ef.get-value($themeDefault, 'mobileBackground');
            border-radius: ef.get-value($themeDefault, 'mobileRadius');

            .wlc-games-slider__heading {
                margin: ef.get-value($themeDefault, 'mobileBodyMargin');
                text-align: ef.get-value($themeDefault, 'mobileTextAlign');
            }

            .wlc-games-slider__title {
                @include text.get-text-style(ef.get-value($themeDefault, 'mobileTitleFontStyle'), ef.get-value($themeDefault, 'mobileTitleColor'));
            }

            .wlc-games-slider__subtitle {
                @include text.get-text-style(ef.get-value($themeDefault, 'mobileSubtitleFontStyle'), ef.get-value($themeDefault, 'mobileSubtitleColor'));

                margin: ef.get-value($themeDefault, 'mobileSubtitleMargin');
            }
        }

        &__preview-block {
            @include bm.get-mq-map('min-height', $themeDefault, 'previewMinHeight');
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .wlc-games-slider__icon-wrap {
                @include bm.get-mq-map('height', $themeDefault, 'iconWrapHeight');
                @include bm.get-mq-map('top', $themeDefault, 'iconWrapTop');
                @include bm.get-mq-map('left', $themeDefault, 'iconWrapLeft');
                position: ef.get-value($themeDefault, 'iconWrapPos');
                display: block;
                width: 100%;
                overflow: hidden;

                .wlc-games-slider__icon {
                    @include bm.get-mq-map('max-width', $themeDefault, 'iconMaxWidth');
                    @include bm.get-mq-map('margin', $themeDefault, 'iconMargin');
                    display: block;
                }
            }
        }

        &__error {
            display: grid;
            margin: ef.get-value($themeDefault, 'errorMargin');
            text-align: ef.get-value($themeDefault, 'textAlign');
        }
    }

    ::ng-deep {

        .wlc-games-slider__slider {

            .wlc-game-thumb {
                background: ef.get-value($themeDefault, 'thumbBg');
                transform: translateZ(0);

                &__img {
                    opacity: ef.get-value($themeDefault, 'thumbOpacity');
                }
            }

            &--active {

                ::ng-deep {

                    .swiper {

                        &-slide {
                            box-shadow: none;
                        }
                    }

                    .wlc-game-thumb__img {
                        opacity: 1;
                    }
                }
            }

            .swiper {
                padding: ef.get-value($themeDefault, 'swiperPadding');

                &-slide {
                    pointer-events: none;
                }

                &-slide-active {
                    box-shadow: ef.get-value($themeDefault, 'slideShadow');
                    border-radius: ef.get-value($themeDefault, 'slideRadius');
                    cursor: pointer;
                    transition-duration: ef.get-value($themeDefault, 'transDuration');
                    pointer-events: initial;

                    .wlc-game-thumb__img {
                        opacity: 1;
                    }

                    @include bm.hover {
                        transform: scale(1.05);
                    }
                }

                &-wrapper {
                    transition: transform 0.4s linear;
                }
            }
        }
    }
}
