@use 'engine-scss/functions' as ef;

$customGamesCategoriesDefault: () !default;
$gamesCategoriesDefault: map-merge((
    sectionPadding: (
        375: 0,
        768: ef.get('size', 'small'),
        1024: ef.get('size', 'smally') ef.get('size', 'smally') ef.get('size', 'smally') ef.get('size', 'main'),
        1420: ef.get('size', 'smally') ef.get('size', 'smally') ef.get('size', 'smally') ef.get('size', 'biger'),
    ),
    sectionRadius: (
        375: 0,
        768: ef.get('radius', 'biger'),
    ),
    sectionBg: (
        375: none,
        768: ef.get('mainColors', 'bg700'),
    ),
    buttonSearchBg: (
        375: ef.get('mainColors', 'bg500'),
        768: ef.get('mainColors', 'bg')
    ),
    buttonSearchPadding: (
        375: ef.get('size', 'small') ef.get('size', 'smally'),
    ),
    buttonSearchRadius: (
        375: ef.get('radius', 'biger'),
    ),
    buttonSearchColor: ef.get('mainColors', 'baseMain'),
    buttonSearchBgHover: darken(ef.get('mainColors', 'baseMain'), 20%),
    buttonSearchIconFill: ef.get('mainColors', 'main'),
    buttonSearchIconMargin: ef.get('size', 'small'),
    buttonMerchMargin: ef.get('size', 'smally'),
), $customGamesCategoriesDefault);

$customWithIcons: () !default;
$withIcons: map-merge((
    searchButtonBg: ef.get('mainColors', 'bg500'),
    searchButtonBgHover: ef.get('mainColors', 'bg300'),
    searchButtonIconFill: ef.get('mainColors', 'main'),
    merchButtonBg: ef.get('mainColors', 'bg500'),
    merchButtonBgHover: ef.get('mainColors', 'bg300'),
    merchButtonIconFill: ef.get('mainColors', 'main'),
    sectionGap: (
        900: ef.get('size', 'small'),
    ),
    buttonPadding: (
        375: ef.get('size', 'small') ef.get('size', 'smally'),
    ),
    buttonBorderRadius: (
        375: ef.get('radius', 'biger'),
    ),
    gridColumns: (
        375: minmax(0, 1fr),
        900: minmax(0, 1fr) 250px,
    ),
), $customThemeDefault);
