@use 'engine-scss/functions' as ef;

$headerMarginBottom: -40px !default;

$btnBackground: ef.get('color', 'secondary') !default;
$btnBorderRadius: ef.get('radius', 'small') !default;
$btnFontSize: ef.get('font', 'size') !default;
$btnTextColor: ef.get('color', 'text') !default;
$btnPaddingVertical: 8px !default;
$btnPaddingLeft: 10px !default;
$btnArrowColor: ef.get('color', 'text') !default;
$btnArrowWidth: 2px !default;
$btnArrowSize: 8px !default;
$btnArrowRightMargin: $btnPaddingLeft !default;
$btnArrowLeftMargin: 8px !default;
$btnTransition: ef.get('time', 'main') !default;
$btnIconSize: 18px !default;
$btnIconColor: inherit !default;
$btnIconRightMargin: $btnPaddingLeft !default;

$btnBackgroundHover: ef.get('color', 'main') !default;
$btnBackgroundActive: $btnBackgroundHover !default;
$btnColorActive: $btnTextColor !default;
$btnArrowColorActive: $btnTextColor !default;
$btnIconColorActive: inherit !default;

$btnCounterFontSize: 14px !default;
$btnCounterMarginLeft: 6px !default;
$btnCounterBackground: ef.get('color', 'success') !default;
$btnCounterBorderRadius: ef.get('radius', 'main') !default;
$btnCounterColor: ef.get('color', 'textSecondary') !default;

$listGap: 10px !default;
$listGrid: (
    320: 2,
    900: 3,
) !default;

$listBtnBackground: ef.get('color', 'backgroundSecondary') !default;
$listBtnBorder: 2px solid ef.get('color', 'secondary') !default;
$listBtnColor: ef.get('color', 'text') !default;
$listBtnPadding: 5px 10px !default;
$listBtnRadius: $btnBorderRadius !default;
$listBtnFontSize: $btnFontSize !default;
$listBtnTransition: $btnTransition !default;
$listBtnIconBackground: $listBtnColor !default;
$listBtnIconBorder: 2px solid ef.get('color', 'main') !default;
$listBtnIconRadius: ef.get('radius', 'small') !default;
$listBtnIconWidth: 2px !default;

$listBtnBackgroundActive: $listBtnIconBackground !default;
$listBtnColorActive: ef.get('color', 'success') !default;
$listBtnBackgroundHover: ef.get('color', 'secondary') !default;
