@use './mixins' as m;
@import './vars';

$btnArrowDelta: $btnArrowSize * 1.4142 - $btnArrowSize;
$btnPaddingRight: $btnArrowRightMargin + $btnArrowLeftMargin + $btnArrowDelta + $btnArrowSize;

:host {

    .wlc-search {

        &__header {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $headerMarginBottom;
        }

        &__col {

            &--search {
                flex: 1 1 auto;
                min-width: 254px;
                margin-right: 15px;
            }

            &--merchants {
                flex: 0 0 auto;
                margin-right: 15px;
            }

            &--categories {
                flex: 0 0 auto;
            }

            &--panel {
                flex: 1 1 100%;
                margin-top: 20px;
            }
        }

        &__btn {
            position: relative;
            height: 100%;
            padding: $btnPaddingVertical $btnPaddingRight $btnPaddingVertical $btnPaddingLeft;
            appearance: none;
            background-color: $btnBackground;
            border-radius: $btnBorderRadius;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $btnFontSize;
            color: $btnTextColor;
            transition: $btnTransition linear;

            &:focus {
                outline: none;
            }

            &:hover {
                background: $btnBackgroundHover;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: $btnArrowRightMargin + $btnArrowDelta / 2;
                top: 50%;
                width: $btnArrowSize;
                height: $btnArrowSize;
                margin-top: -($btnArrowSize * 0.75);
                border-top: $btnArrowWidth solid $btnArrowColor;
                border-left: $btnArrowWidth solid $btnArrowColor;
                transform: rotate(225deg);
                transition: $btnTransition linear;
            }

            .icon {
                color: $btnIconColor;
                margin-right: $btnIconRightMargin;

                ::ng-deep {

                    svg {
                        width: $btnIconSize;
                        height: $btnIconSize;
                    }
                }
            }

            .counter {
                display: inline-block;
                font-size: $btnCounterFontSize;
                margin-left: $btnCounterMarginLeft;
                background: $btnCounterBackground;
                line-height: 1.2;
                padding-right: 0.2em;
                padding-left: 0.2em;
                border-radius: $btnCounterBorderRadius;
                color: $btnCounterColor;
            }

            &.active {
                background: $btnBackgroundActive;
                color: $btnColorActive;

                &:after {
                    margin-top: -($btnArrowSize * 0.25);
                    transform: rotate(45deg);
                    border-color: $btnArrowColorActive;
                }

                .icon {
                    color: $btnIconColorActive;
                }
            }
        }

        &__list {
            list-style-type: none;
            padding: 0;
            display: grid;
            gap: $listGap;
            @if $listGrid {
                @include m.list-grid($listGrid);
            } @else {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        &__list-item {
            //
        }

        &__list-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-align: left;
            padding: $listBtnPadding;
            border: $listBtnBorder;
            background: $listBtnBackground;
            border-radius: $listBtnRadius;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $listBtnFontSize;
            color: $listBtnColor;
            transition: $listBtnTransition linear;

            &:focus {
                outline: none;
            }

            &:hover {
                background: $listBtnBackgroundHover;
            }

            &.active {

                .wlc-search__list-icon {
                    background: $listBtnBackgroundActive;
                    border: 2px solid $listBtnColorActive;

                    &:before {
                        visibility: visible;
                    }
                }
            }
        }

        &__list-icon {
            position: relative;
            display: block;
            flex: 0 0 1.2em;
            width: 1.2em;
            height: 1.2em;
            border-radius: $listBtnIconRadius;
            background: $listBtnIconBackground;
            border: $listBtnIconBorder;
            margin-left: 0.8em;
            transition: $listBtnTransition linear;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 5px;
                height: 8px;
                border-right: $listBtnIconWidth solid $listBtnColorActive;
                border-bottom: $listBtnIconWidth solid $listBtnColorActive;
                transform: translate(-60%, -60%) rotate(45deg);
                visibility: hidden;
            }
        }

        &__games {
            //
        }
    }
}
