.wlc-bonuses-list--theme-active {

    &:host {

        .wlc-bonuses-list__nocontent-text {
            @include text.get-text-style('nameFontStyle', ef.get-value($themeDefault, 'activeBlockFontColor'));

            padding: ef.get-value($themeActive, 'noContentPadding');
            background: ef.get-value($themeActive, 'noContentBg');
            border-radius: ef.get-value($themeActive, 'noContentRadius');

            a {
                @include bm.transition(color);
            }
        }

        .wlc-bonuses-list__list {
            display: ef.get-value($themeActive, 'display');

            .wlc-sections__profile-content--theme-first & {
                margin: 20px auto;
            }


            @if (ef.get-value($themeActive, 'display')=='grid') {
                grid-template-columns: ef.get-value($themeActive, 'gridColumn');
                gap: ef.get-value($themeActive, 'gridGap');
            }
        }

        .wlc-bonuses-list__list-wrapper {

            .wlc-sections__profile-content--theme-first & {
                margin-bottom: ef.get-value($noBonusItem, 'wrapperMargin');
            }
        }
    }
}
