@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@import '../utils/vars';

.wlc-bonuses-list--theme-default {

    &:host {

        .wlc-bonuses-list__list {
            display: grid;
            grid-gap: ef.get-value($themeDefault, 'gridGap');
            @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumn');

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumnProfileThemeFirst');
            }
        }

        .wlc-bonuses-list__nocontent {
            @include bm.get-mq-map('text-align', $themeDefault, 'alignNoContent');
        }
    }
}

.wlc-bonuses-list--type-swiper {

    &:host {

        &.single-bonus-swiper {

            .wlc-bonuses-list__content .wlc-bonuses-list__list-wrapper {

                ::ng-deep {

                    .swiper-container {
                        @include bm.get-mq-map('padding', $themeDefault, 'sliderPadding');

                        .swiper-wrapper {
                            justify-content: center;

                            @include bm.get-mq-map('display', $themeDefault, 'sliderDispley');
                        }

                        .swiper-slide {

                            @include bm.get-mq-map('width', $themeDefault, 'bonusWidth');

                            .wlc-bonus-item {
                                @include bm.get-mq-map('min-width', $themeDefault, 'bonusMinWidth');
                            }
                        }
                    }
                }
            }
        }

        .wlc-bonuses-list__list-wrapper {

            position: relative;

            ::ng-deep {

                .swiper-container {

                    @include mq.min(720) {
                        padding: ef.get-value($themeDefault, 'swiperPadding');
                    }
                }

                .swiper-slide {
                    width: ef.get-value($themeDefault, 'swiperWidth');
                }

                .swiper-wrapper {
                    will-change: transform;
                }

                .swiper-button-next {
                    right: 0;
                    @include bm.get-mq-map('display', $themeDefault, 'swiperButtonDisplay');

                    &:after {
                        display: none;
                    }
                }

                .swiper-button-prev {
                    left: 0;
                    @include bm.get-mq-map('display', $themeDefault, 'swiperButtonDisplay');

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.wlc-bonuses-list__nocontent {
    margin: ef.get-value($noContent, 'noContentMargin');
    display: ef.get-value($noContent, 'noContentDisplay');
    flex-direction: ef.get-value($noContent, 'noContentFDirection');
    align-items: ef.get-value($noContent, 'noContentAlignItems');

    &-btn {
        margin: ef.get-value($noContent, 'noContentMarginBtn');
    }
}
