@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/vars';

.wlc-bonuses-list--theme-partial:host {

    .swiper-button-container {
        position: absolute;
        top: ef.get-value($themePartial, 'bonusBodyHeight') / 2 - ef.get-value($themePartial, 'sliderButtonHeight') / 2;
        right: ef.get-value($themePartial, 'sliderPosRight');
        left: ef.get-value($themePartial, 'sliderPosLeft');
        z-index: ef.get-value($themePartial, 'sliderZIndex');

        display: flex;
        align-items: ef.get-value($themePartial, 'sliderAlignItems');
        justify-content: ef.get-value($themePartial, 'sliderJustifyContent');

        max-width: ef.get-value($themePartial, 'sliderMaxWidth');
        margin: ef.get-value($themePartial, 'sliderMargin');

        pointer-events: none;

        .wlc-swiper-button-prev,
        .wlc-swiper-button-next {
            pointer-events: all;
        }
    }

    .wlc-bonuses-list {

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: ef.get-value($themePartial, 'bonusJustifyContent');
            margin: ef.get-value($themePartial, 'listMargin');

            .wlc-bonus-item {
                margin: ef.get-value($themePartial, 'itemMargin');
            }

            &-wrapper {
                position: relative;
            }
        }
    }
}
