.wlc-bonuses-list--theme-promo {

    &:host {
        @include bm.get-mq-map('--wlc-bl-promo-grid-columns', $themePromo, 'listColumns');

        .wlc-bonuses-list__list {
            @include bm.get-mq-map('grid-gap', $themePromo, 'gridGap');

            display: grid;
            grid-template-columns: var(--wlc-bl-promo-grid-columns, 1fr);
            justify-items: center;
        }

        .wlc-bonuses-list__nocontent {
            margin: ef.get-value($themePromo, 'noContentMargin');
        }

        .wlc-bonuses-list__to-profile {
            @include bm.get-mq-map('margin', $themePromo, 'marginBtnGoToProfile');
        }

        &.wlc-bonuses-list--theme-mod-wolf {
            @include bm.get-mq-map('--wlc-bl-promo-grid-columns', $themePromo, 'listColumnsWolf');
        }
    }
}
