@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as lib;

.wlc-bonuses-list--theme-promo-home:host {
    position: relative;
    overflow: hidden;
    border-radius: ef.get-value($themePromoHome, 'listRadius');
    transform: translateZ(0);

    .wlc-bonuses-list {

        &__slider {
            z-index: 1;
            height: 100%;

            &-pagination {
                @include bm.get-mq-map('bottom', $themePromoHome, 'paginationBottom');
                @include bm.get-mq-map('right', $themePromoHome, 'paginationRight');
                @include bm.get-mq-map('display', $themePromoHome, 'paginationDisplay');

                position: absolute;
                z-index: 99;
            }

            ::ng-deep {

                .swiper {
                    height: 100%;
                }

                .swiper-wrapper {
                    align-items: stretch;
                }

                .swiper-slide {
                    height: initial;
                }
            }
        }

        &-nocontent__tag {
            @include lib.get-text-style('ThirdTitleBold', ef.get-value($themePromoHome, 'tagColor'));
            @include bm.get-mq-map('padding', $themePromoHome, 'tagPadding');

            position: absolute;
            top: ef.get-value($themePromoHome, 'tagTopPosition');
            left: ef.get-value($themePromoHome, 'tagLeftPosition');
            z-index: 10;

            min-width: ef.get-value($themePromoHome, 'tagMinWidth');
            text-align: ef.get-value($themePromoHome, 'tagTextAlign');
            background: ef.get-value($themePromoHome, 'tagBg');
            border-radius: ef.get-value($themePromoHome, 'tagBorderRadius');
        }
    }
}
