.wlc-bonuses-list--theme-reg-first:host {

    ::ng-deep {

        .swiper {
            @include bm.get-mq-map('max-width', $themeRegFirst, 'listMaxWidth');
            @include bm.get-mq-map('margin', $themeRegFirst, 'listMargin');
        }
    }

    .swiper-button-container {
        @include bm.get-mq-map('top', $themeRegFirst, 'sliderTopPos');
        @include bm.get-mq-map('max-width', $themeRegFirst, 'sliderMaxWidth');

        position: absolute;
        right: ef.get-value($themeRegFirst, 'sliderRight');
        left: ef.get-value($themeRegFirst, 'sliderLeft');
        z-index: ef.get-value($themeRegFirst, 'sliderZIndex');

        display: flex;
        align-items: ef.get-value($themeRegFirst, 'sliderAlignItems');
        justify-content: ef.get-value($themeRegFirst, 'sliderJustifyContent');

        margin: ef.get-value($themeRegFirst, 'sliderMargin');

        pointer-events: none;

        .wlc-swiper-button-prev,
        .wlc-swiper-button-next {
            pointer-events: all;
        }
    }

    .wlc-bonuses-list {

        &__list {

            &-wrapper {
                position: relative;
            }
        }

        &__checkbox-wrapper {
            margin: ef.get-value($themeRegFirst, 'checkBoxMargin');
            padding: ef.get-value($themeRegFirst, 'checkboxWrapperPadding');
            text-align: ef.get-value($themeRegFirst, 'checkBoxWrapperAlign');
        }

        &__checkbox {
            display: inline-block;
            text-align: ef.get-value($themeRegFirst, 'checkBoxAlign');
        }
    }
}
