.wlc-bonuses-list--theme-reg-first:host {

    ::ng-deep {

        .swiper {
            @include bm.get-mq-map('max-width', $themeRegFirst, 'listMaxWidth');
            @include bm.get-mq-map('margin', $themeRegFirst, 'listMargin');
        }
    }

    .swiper-button-container {
        @include bm.get-mq-map('max-width', $themeRegFirst, 'sliderMaxWidth');

        position: absolute;
        top: ef.get-value($themeRegFirst, 'sliderTopPos');
        right: ef.get-value($themeRegFirst, 'sliderRight');
        left: ef.get-value($themeRegFirst, 'sliderLeft');
        z-index: ef.get-value($themeRegFirst, 'sliderZIndex');

        display: flex;
        align-items: ef.get-value($themeRegFirst, 'sliderAlignItems');
        justify-content: ef.get-value($themeRegFirst, 'sliderJustifyContent');

        margin: ef.get-value($themeRegFirst, 'sliderMargin');
        transform: ef.get-value($themeRegFirst, 'sliderBtnsTransform');

        pointer-events: none;

        ::ng-deep {

            .wlc-swiper-button-prev,
            .wlc-swiper-button-next {
                pointer-events: all;
            }
        }
    }

    .wlc-bonuses-list {

        &__list {

            &-wrapper {
                position: relative;
            }
        }

        &__checkbox-wrapper {
            margin: ef.get-value($themeRegFirst, 'checkBoxMargin');
            padding: ef.get-value($themeRegFirst, 'checkboxWrapperPadding');
            text-align: ef.get-value($themeRegFirst, 'checkBoxWrapperAlign');
        }

        &__checkbox {
            display: inline-block;
            text-align: ef.get-value($themeRegFirst, 'checkBoxAlign');
        }
    }

    &.wlc-bonuses-list--theme-mod-wolf[class] {
        --wlc-navi-right-offset: #{ef.get-value($regFirstModWolf, 'swiperButtonOffset')};
        --wlc-navi-left-offset: #{ef.get-value($regFirstModWolf, 'swiperButtonOffset')};

        width: 100%;
        max-width: ef.get-value($regFirstModWolf, 'hostMaxWidth');

        .swiper-button-container {
            width: 100%;
            max-width: 100%;

            ::ng-deep {

                .wlc-swiper-button-prev,
                .wlc-swiper-button-next {
                    width: ef.get-value($regFirstModWolf, 'buttonSize');
                    height: ef.get-value($regFirstModWolf, 'buttonSize');
                    pointer-events: all;
                }
            }
        }

        .wlc-bonuses-list {

            &__slider {
                margin: ef.get-value($regFirstModWolf, 'wrapperMargin');
                padding: ef.get-value($regFirstModWolf, 'wrapperPadding');
            }

            &__checkbox-wrapper {
                margin: ef.get-value($regFirstModWolf, 'checkboxMargin');
            }
        }

        ::ng-deep {

            .swiper {
                max-width: 100%;
            }

            .swiper-slide {
                padding: ef.get-value($regFirstModWolf, 'slidePadding');
            }
        }
    }
}
