.wlc-welcome--theme-default:host {
    position: fixed;
    top: ef.get-value($themeDefault, 'welcomePosition');
    right: ef.get-value($themeDefault, 'welcomePosition');
    bottom: ef.get-value($themeDefault, 'welcomePosition');
    left: ef.get-value($themeDefault, 'welcomePosition');
    overflow-x: hidden;
    overflow-y: scroll;

    .wlc-welcome {

        &__wrapper {
            @include bm.get-mq-map('grid-template-areas', $themeDefault, 'gridTemplateAreas');
            display: grid;
            grid-template-rows: ef.get-value($themeDefault, 'wrapperTemplates');
            height: ef.get-value($themeDefault, 'wrapperHeight');
        }

        &__header {
            @include bm.get-mq-map('padding', $themeDefault, 'headerPadding');
            @include bm.get-mq-map('gap', $themeDefault, 'headerGap');
            display: flex;
            flex-direction: ef.get-value($themeDefault, 'headerDirections');
            align-items: ef.get-value($themeDefault, 'headerAlignItems');
            justify-content: ef.get-value($themeDefault, 'headerJustifyContent');
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleColor'));
        }

        &__description {
            @include text.get-text-style(ef.get-value($themeDefault, 'textFontStyle'), ef.get-value($themeDefault, 'baseOpacity'));
            max-width: ef.get-value($themeDefault, 'descriptionMaxWidth');
            text-align: ef.get-value($themeDefault, 'descriptionTextAlign');
        }

        &__logo {
            display: flex;
            align-items: ef.get-value($themeDefault, 'logoAlignItems');
            justify-content: ef.get-value($themeDefault, 'logoJustifyContent');
        }

        &__buttons {
            @include bm.get-mq-map('padding', $themeDefault, 'buttonsPadding');
            @include bm.get-mq-map('gap', $themeDefault, 'buttonsGap');
            display: grid;

            .wlc-btn--theme-default:host {
                background: ef.get-value($themeDefault, 'buttonBg');
                border-radius: ef.get-value($themeDefault, 'buttonRadius');
                border: ef.get-value($themeDefault, 'buttonBorder');

                ::ng-deep {

                    .wlc-btn__text {
                        color: ef.get-value($themeDefault, 'buttonColor');
                    }
                }
            }

            .wlc-btn--theme-mod-secondary:host {
                background: ef.get-value($themeDefault, 'buttonBgSecondary');
                border: ef.get-value($themeDefault, 'buttonBorderSecondary');

                ::ng-deep {

                    .wlc-btn__text {
                        color: ef.get-value($themeDefault, 'buttonColorSecondary');
                    }
                }
            }
        }
    }
}
