<div class="{{$class}}__container" data-wlc-element="block_promocode">
    <h4 class="{{$class}}__title">{{$params.common.title | translate}}</h4>
    <div class="{{$class}}__control">
        <div wlc-input
             [inlineParams]='enterPromocodeInput'
             (keydown.enter)="getBonusByPromocode()">
        </div>
        <button
            wlc-button
            class="{{$class}}__btn"
            [class.pending]="pending$ | async"
            [disabled]="pending$ | async"
            theme="icon"
            icon="enter-arrow"
            (click)="getBonusByPromocode()"
            [wlcElement]="'submit_promocode'"
        ></button>
    </div>
</div>
