<div class="{{$class}}__container" data-wlc-element="block_profile-voucher">
    <h4 *ngIf="$params.common.showTitle;" class="{{$class}}__title">{{$params.common.title | translate}}</h4>
    <div class="{{$class}}__control">
        <div wlc-input
             [inlineParams]='enterPromocodeInput'
             (keydown.enter)="getBonusByPromocode()">
        </div>
        <button
            *wlcLet="pending$ | async as pending"
            wlc-button
            class="{{$class}}__btn"
            [class.pending]="pending"
            [disabled]="pending"
            theme="icon"
            iconPath="/wlc/icons/enter-arrow.svg"
            wlcElement="buttom_submit"
            (click)="getBonusByPromocode()"
        ></button>
    </div>
</div>
