// we need @use here, otherwise we get errors in project build
@use 'modules/core/components/button/styles/utils/mixins' as button;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;

.wlc-sections {

    &__banners-aff {
        margin: ef.get-value($affSectionsDefault, 'bannersAffMargin');

        &.wlc-sections__banners-aff--theme-default {

            .banner[class] {
                @include bm.get-mq-map('min-height', $affSectionsDefault, 'bannersAffMinHeight');
            }
        }
    }

    &__anchors-menu {
        margin: ef.get-value($affSectionsDefault, 'anchorsMargin');

        .container {
            @include bm.get-mq-map('display', $affSectionsDefault, 'anchorsContainerDisplay');
        }
    }

    &__benefits-section {
        @include bm.get-mq-map('background', $affSectionsDefault, 'benefitsBg');
        margin: ef.get-value($affSectionsDefault, 'benefitsMargin');
    }

    &__commission-section {
        @include bm.get-mq-map('background', $affSectionsDefault, 'bencomissionBgefitsBg');
        margin: ef.get-value($affSectionsDefault, 'comissionMargin');
    }

    &__description-section {
        margin: ef.get-value($affSectionsDefault, 'descrMargin');

        .container {
            @include bm.get-mq-map('display', $affSectionsDefault, 'descrContainerDisplay');
        }

        .wlc-post {
            @include bm.get-mq-map('border-radius', $affSectionsDefault, 'descrBorderRadius');
            @include bm.get-mq-map('background', $affSectionsDefault, 'descrBg');
            padding: ef.get-value($affSectionsDefault, 'descrPadding');
        }
    }

    &__faq-section {
        @include bm.get-mq-map('background', $affSectionsDefault, 'faqBg');
        margin: ef.get-value($affSectionsDefault, 'faqMargin');

        .container {
            max-width: ef.get-value($affSectionsDefault, 'faqContainerMaxWidth');
            padding: ef.get-value($affSectionsDefault, 'faqContainerPadding');
        }
    }

    &__testimonials-section {
        @include bm.get-mq-map('background', $affSectionsDefault, 'testimonialsBg');
        margin: ef.get-value($affSectionsDefault, 'testimonialsMargin');

        .container {
            max-width: ef.get-value($affSectionsDefault, 'testimonialsContainerMaxWidth');
            padding: ef.get-value($affSectionsDefault, 'testimonialsContainerPadding');
        }
    }
}

.wlc-aff-content {
    width: 100%;
    margin: ef.get-value($affContentDefault, 'contentMargin');
    text-align: ef.get-value($affContentDefault, 'contentTextAlign');

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .wlc-btn {
        @include button.buttonBase();
        display: inline-grid;
        min-width: ef.get-value($affContentDefault, 'btnMinWidth');
        text-decoration: none;

        &--theme-rounding {
            border-radius: ef.get('radius', 'biger');
        }
    }

    p {

        .wlc-btn {
            display: inline-grid;
        }
    }
}
