.wlc-digits {
    @include bm.get-mq-map('grid-template-columns', $themeDefaultDigits, 'wrapperGridColumns');
    @include bm.get-mq-map('grid-gap', $themeDefaultDigits, 'wrapperGridGap');
    display: grid;
    justify-content: center;

    &__item {
        @include bm.get-mq-map('grid-gap', $themeDefaultDigits, 'itemGridGap');
        @include bm.get-mq-map('padding', $themeDefaultDigits, 'itemPadding');

        display: grid;

        text-align: ef.get-value($themeDefaultDigits, 'itemTextAlign');

        background: ef.get-value($themeDefaultDigits, 'itemBg');
        border-radius: ef.get-value($themeDefaultDigits, 'itemRadius');
    }

    &__main {
        @include bm.get-mq-map('font-size', $themeDefaultDigits, 'mainTextFontSize');
        font-weight: ef.get-value($themeDefaultDigits, 'mainTextFontWeight');
        line-height: ef.get-value($themeDefaultDigits, 'mainTextLineHeight');
    }

    &__separator {
        width: ef.get-value($themeDefaultDigits, 'separatorWidth');
        height: ef.get-value($themeDefaultDigits, 'separatorHeight');
        border-radius: ef.get-value($themeDefaultDigits, 'separatorRadius');
        background: ef.get-value($themeDefaultDigits, 'separatorBg');
    }

    &__description {
        @include text.get-text-style(ef.get-value($themeDefaultDigits, 'descriptionTextMobile'));

        a {
            color: inherit;
            text-decoration: none;
            pointer-events: none;
        }

        @include mq.min(1200) {
            @include text.get-text-style(ef.get-value($themeDefaultDigits, 'descriptionText'));
        }
    }
}
