@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@use '../utils/mixins' as m;

::ng-deep {

    .wlc-modal--search.wlc-modal--theme-default {

        .wlc-modal__wrapper {
            @include bm.get-mq-map('padding', $themeDefault, 'modalPadding');
        }

        .wlc-modal__body {
            @include bm.get-mq-map('padding', $themeDefault, 'modalPaddingSearch');
        }

        .wlc-modal__dialog {
            max-width: ef.get-value($themeDefault, 'modalDialogMaxWidth');
        }

        .wlc-modal__close {
            @include bm.get-mq-map('top', $themeDefault, 'closeTop');
            @include bm.get-mq-map('right', $themeDefault, 'modalCloseRight');
        }
    }
}

.wlc-search--theme-default:host {

    .wlc-search {

        &__title {
            @include bm.get-mq-map('padding', $themeDefault, 'searchModalHeaderPadding');
            @include bm.get-mq-map('text-align', $themeDefault, 'searchModalHeaderPositionText');
            @include text.get-text-style(ef.get-value($themeDefault, 'searchModalHeaderFont'), ef.get-value($themeDefault, 'searchModalHeaderFontColor'));
            margin: ef.get-value($themeDefault, 'searchModalHeaderMargin');

            @include mq.min(1200) {
                @include text.get-text-style(ef.get-value($themeDefault, 'searchModalHeaderFont', 1200));
            }
        }

        &__panel {
            @include bm.get-mq-map('gap', $themeDefault, 'searchPanelGap');
            @include bm.get-mq-map('grid-template-columns', $themeDefault, 'searchPanelColumns');
            @include bm.get-mq-map('padding', $themeDefault, 'searchPanelPadding');
            @include bm.get-mq-map('background', $themeDefault, 'searchPanelBg');
            display: grid;
            border-radius: ef.get-value($themeDefault, 'searchPanelBorderRadius');
        }

        &__col {

            &--search {
                grid-column-start: span 2;

                @include mq.min(900) {
                    grid-column-start: initial;
                }
            }

            &--merchants,
            &--categories {
                @include bm.get-mq-map('min-width', $themeDefault, 'searchColWidth');
            }

            .title {
                @include text.get-text-style(ef.get-value($themeDefault, 'searchColTextStyle'), ef.get-value($themeDefault, 'searchColColor'));
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &-wrap {
                    display: flex;
                    flex: 1 1 0%;
                    align-items: center;
                    min-width: 0;
                }
            }
        }

        &__btn {
            @include text.get-text-style(ef.get-value($themeDefault, 'btnFont'), ef.get-value($themeDefault, 'btnTextColor'));
            @include bm.get-mq-map('padding', $themeDefault, 'btnPadding');
            @include bm.get-mq-map('background', $themeDefault, 'btnBackground');
            @include bm.get-mq-map('border', $themeDefault, 'btnBorder');

            position: relative;

            display: flex;
            align-items: ef.get-value($themeDefault, 'alignItemsBtn');
            justify-content: ef.get-value($themeDefault, 'justifyBtn');

            width: ef.get-value($themeDefault, 'widthBtn');
            height: ef.get-value($themeDefault, 'heightBtn');

            border-radius: ef.get-value($themeDefault, 'btnBorderRadius');

            transition:
                background-color ef.get-value($themeDefault, 'btnTransition') linear,
                border ef.get-value($themeDefault, 'btnTransition') linear;

            &:focus {
                outline: none;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 13px;
                display: block;
                width: ef.get-value($themeDefault, 'btnArrowSize');
                height: ef.get-value($themeDefault, 'btnArrowSize');
                transform: translateY(-50%) rotate(225deg);
                transition: ef.get-value($themeDefault, 'btnTransition') linear;
                border-top: ef.get-value($themeDefault, 'btnArrowWidth') solid ef.get-value($themeDefault, 'btnArrowColor');
                border-left: ef.get-value($themeDefault, 'btnArrowWidth') solid ef.get-value($themeDefault, 'btnArrowColor');
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 13px;
                transform: translateY(-50%);

                ::ng-deep {

                    svg {
                        width: ef.get-value($themeDefault, 'btnIconSize');
                        height: ef.get-value($themeDefault, 'btnIconSize');
                        fill: ef.get-value($themeDefault, 'btnIconColor');

                        path,
                        mask {
                            fill: ef.get-value($themeDefault, 'btnIconColor');
                        }
                    }
                }
            }

            .counter {
                margin-left: ef.get-value($themeDefault, 'btnCounterMarginLeft');
                font-size: ef.get-value($themeDefault, 'searchColSize');
            }

            &.active {
                @include bm.get-mq-map('border', $themeDefault, 'btnBorderActive');
                @include text.get-text-style(ef.get-value($themeDefault, 'btnFontActive'), ef.get-value($themeDefault, 'btnColorActive'));
                background: ef.get-value($themeDefault, 'btnBackgroundActive');

                &:after {
                    transform: ef.get-value($themeDefault, 'btnActiveAfterTransform');
                    border-color: ef.get-value($themeDefault, 'btnArrowColorActive');
                }

                .icon {
                    color: ef.get-value($themeDefault, 'btnIconColorActive');

                    ::ng-deep {

                        svg {
                            width: ef.get-value($themeDefault, 'btnIconSizeActive');
                            height: ef.get-value($themeDefault, 'btnIconSizeActive');
                            fill: ef.get-value($themeDefault, 'btnIconColorActive');

                            path,
                            mask {
                                fill: ef.get-value($themeDefault, 'btnIconColorActive');
                            }
                        }
                    }
                }
            }

            @include bm.hover {
                @include bm.get-mq-map('background', $themeDefault, 'btnBackgroundHover',true);
                @include text.get-text-style(ef.get-value($themeDefault, 'btnFont'), ef.get-value($themeDefault, 'btnColorHover'));

                &:after {
                    border-top: ef.get-value($themeDefault, 'btnArrowWidth') solid ef.get-value($themeDefault, 'btnColorHover');
                    border-left: ef.get-value($themeDefault, 'btnArrowWidth') solid ef.get-value($themeDefault, 'btnColorHover');
                }

                .icon {

                    ::ng-deep {

                        svg {
                            fill: ef.get-value($themeDefault, 'btnColorHover');

                            path,
                            mask {
                                fill: ef.get-value($themeDefault, 'btnColorHover');
                            }
                        }
                    }
                }
            }

            @include mq.min(900) {
                justify-content: flex-start;
            }
        }

        &__list {
            @include bm.get-mq-map('grid-column-start', $themeDefault, 'searchPanelGridColumnStart');
            @include bm.get-mq-map('gap', $themeDefault, 'listGap');
            @include bm.get-mq-map('margin', $themeDefault, 'listMargin');
            display: grid;
            padding: 0;
            list-style-type: none;

            &-btn {
                @include text.get-text-style(ef.get-value($themeDefault, 'searchBtnItemsFont'), ef.get-value($themeDefault, 'listBtnColor'));
                @include bm.get-mq-map('padding', $themeDefault, 'listBtnPadding');
                @include bm.get-mq-map('background', $themeDefault, 'listBtnBackground');
                @include bm.get-mq-map('border-radius', $themeDefault, 'listBtnRadius');
                @include bm.get-mq-map('border', $themeDefault, 'listBtnBorder');
                @include bm.get-mq-map('height', $themeDefault, 'listBtnHeight');
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                transition: border-color, color ef.get-value($themeDefault, 'listBtnTransition') linear;

                &:focus {
                    outline: none;
                }

                &.active {
                    @include text.get-text-style(ef.get-value($themeDefault, 'searchBtnItemsFontActive'));
                    @include bm.get-mq-map('color', $themeDefault, 'listBtnColorActive');
                    @include bm.get-mq-map('background', $themeDefault, 'listBtnBackgroundHover');
                    @include bm.get-mq-map('border', $themeDefault, 'listBtnBorderActive');
                    @include bm.get-mq-map('border-bottom', $themeDefault, 'listBtnBorderBottomActive');

                    .wlc-search__list-icon {
                        border: ef.get-value($themeDefault, 'listBtnIconActive');
                        background: ef.get-value($themeDefault, 'listBtnIconBackgroundActive');

                        &::ng-deep {

                            .wlc-icon-content {
                                @include bm.transition(opacity);
                                opacity: 1;
                            }
                        }
                    }
                }

                @include bm.hover {
                    @include bm.get-mq-map('color', $themeDefault, 'listBtnColorActive', true);
                    @include bm.get-mq-map('background', $themeDefault, 'listBtnBackgroundHover', true);
                    @include bm.get-mq-map('border', $themeDefault, 'listBtnBorderActive', true);
                    @include bm.get-mq-map('border-bottom', $themeDefault, 'listBtnBorderBottomActive', true);
                }

                @include mq.min(560) {
                    border-bottom: ef.get-value($themeDefault, 'listBtnBorderBottom');
                }
            }

            &-icon {
                position: relative;
                display: none;
                width: ef.get-value($themeDefault, 'listBtnIconSize');
                min-width: ef.get-value($themeDefault, 'listBtnIconSize');
                height: ef.get-value($themeDefault, 'listBtnIconSize');
                margin: ef.get-value($themeDefault, 'listBtnIconMargin');
                background: ef.get-value($themeDefault, 'listBtnIconBackground');
                transition: ef.get-value($themeDefault, 'listBtnTransition') linear;
                border-radius: ef.get-value($themeDefault, 'listBtnIconRadius');
                border: ef.get-value($themeDefault, 'listBtnIconBorder');

                &::ng-deep {

                    .wlc-icon-content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        opacity: 0;

                        svg {
                            width: ef.get-value($themeDefault, 'listBtnCheckWidth');
                            stroke: ef.get-value($themeDefault, 'listBtnCheckColor');
                            stroke-width: 3px;
                        }
                    }
                }

                @include mq.min(560) {
                    display: block;
                }
            }

            &-text {
                display: block;
                width: 95%;
                white-space: nowrap;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;

                @include mq.min(560) {
                    text-align: left;
                }
            }
            @if ef.get-value($themeDefault, 'listGrid') {
                @include m.list-grid(ef.get-value($themeDefault, 'listGrid'));
            } @else {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        &__result {
            @include bm.get-mq-map('margin', $themeDefault, 'resultMargin');
            @include text.get-text-style(ef.get-value($themeDefault, 'resultSize'), ef.get-value($themeDefault, 'resultColor'));
        }

        &__content::ng-deep {

            .wlc-games-grid {
                @include bm.get-mq-map('padding', $themeDefault, 'gamesPadding');

                &__nocontent {
                    @include bm.get-mq-map('padding', $themeDefault, 'noGamesPadding');
                    @include bm.get-mq-map('margin', $themeDefault, 'noGamesMargin');
                }

                &__list {
                    margin: ef.get-value($themeDefault, 'gamesMargin');
                }

                &__more {
                    @include bm.get-mq-map('margin', $themeDefault, 'gamesMoreMargin');
                }
            }
        }
    }
}
