.wlc-tag--theme-default:host {
    --wlc-icon-width: #{ef.get-value($themeDefault, 'iconSize')};
    --wlc-icon-height: #{ef.get-value($themeDefault, 'iconSize')};

    @include text.get-text-style(
        ef.get-value($themeDefault, 'textStyle'),
        ef.get-value($themeDefault, 'textColor')
    );

    display: inline-flex;
    gap: ef.get-value($themeDefault, 'gap');
    align-items: center;
    min-height: ef.get-value($themeDefault, 'minHeight');
    padding: ef.get-value($themeDefault, 'padding');
    border-radius: ef.get-value($themeDefault, 'radius');
    line-height: 1;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        display: block;
        width: 100%;
        height: 100%;

        background-color: var(--wlc-tag-bg, var(--mc-secondary));
        opacity: ef.get-value($themeDefault, 'bgOpacity');
    }

    .wlc-tag {

        &__icon {
            display: block;
            width: var(--wlc-icon-width);
            height: var(--wlc-icon-height);
        }

        &:empty {
            display: none;
        }
    }
}

.wlc-tag--theme-flag:host {
    --wlc-icon-width: #{ef.get-value($themeFlag, 'flagWidth')};
    --wlc-icon-height: #{ef.get-value($themeFlag, 'flagHeight')};

    position: absolute;
    top: ef.get-value($themeFlag, 'flagTagTopPos');
    left: ef.get-value($themeFlag, 'flagTagLeftPos');
    z-index: 10;
    display: grid;
    grid-template-areas: 'icon';
    align-items: center;
    justify-items: center;
    width: var(--wlc-icon-width);
    height: var(--wlc-icon-height);
    padding: ef.get-value($themeFlag, 'flagTagPadding');
    color: var(--wlc-tag-bg, var(--mc-secondary));

    .wlc-tag {

        &__icon-flag {
            grid-area: icon;
        }

        &__icon {
            --wlc-icon-width: #{ef.get-value($themeFlag, 'iconSize')};
            --wlc-icon-height: #{ef.get-value($themeFlag, 'iconSize')};

            grid-area: icon;
            width: var(--wlc-icon-width);
            height: var(--wlc-icon-height);
        }
    }
}

