.app-profile-loyalty-store-main-state {

    .wlc-sections__profile-content--theme-default {

        > .container {
            @include bm.get-mq-map('grid-template-columns', $storeThemeDefault, 'containerColumns');
            @include bm.get-mq-map('grid-template-areas', $storeThemeDefault, 'containerAreas');
            position: relative;
            display: grid;
            grid-template-rows: auto;
        }

        .wlc-user-stats {
            grid-area: stats;

            &.wlc-user-stats--theme-mod-mobile-app {
                position: initial;
                margin: ef.get-value($storeThemeDefault, 'modMobileMargin');
            }
        }

        .wlc-title {
            grid-area: title;
        }

        .wlc-store-list {
            grid-area: store;
        }

        .wlc-profile-menu {
            @include bm.get-mq-map('margin', $storeThemeDefault, 'submenuMargin');
            grid-area: submenu;
        }
    }

    .wlc-sections__profile-content--theme-first {

        > .container {
            position: relative;
        }
    }
}
