@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;

@import '../utils/vars';

.app-profile-loyalty-store-main-state,
.app-profile-loyalty-level-state {

    .wlc-sections__profile-content {

        > .container {
            position: relative;
            display: grid;
            grid: {
                template-columns: minmax(0, 1fr) minmax(0, 1fr);
                template-rows: auto;
                template-areas: 'title stats' 'submenu submenu' 'store store';
            }

            @include mq.min(720) {
                grid: {
                    template-columns: repeat(2, 1fr);
                    template-areas: 'title stats' 'submenu submenu' 'store store';
                }
            }
        }

        .wlc-title {
            grid-area: title;
        }

        .wlc-loyalty-progress {
            grid-area: stats;
            max-width: 300px;
            width: 100%;
            margin-left: auto;
        }

        .wlc-loyalty-table,
        .wlc-store-list {
            grid-area: store;
        }

        .wlc-profile-menu {
            grid-area: submenu;

            @include mq.min(1024) {
                margin: -20px 0 0;
            }
        }
    }
}
