.app-profile-loyalty-store-main-state,
.app-profile-loyalty-level-state {

    .wlc-sections__profile-content--theme-default {

        > .container {
            @include bm.get-mq-map('grid-template-columns', $storeThemeDefault, 'containerColumns');
            @include bm.get-mq-map('grid-template-areas', $storeThemeDefault, 'containerAreas');

            position: relative;

            display: grid;
            grid-template-rows: auto;
        }

        .wlc-loyalty-progress {
            @include bm.get-mq-map('position',$storeThemeDefault, 'loyaltyProgressPosition');
            @include bm.get-mq-map('top', $storeThemeDefault, 'loyaltyProgressTop');
            @include bm.get-mq-map('right', $storeThemeDefault, 'loyaltyProgressRight');

            @include bm.get-mq-map('max-width',$storeThemeDefault, 'loyaltyProgressMaxWidth');
            @include bm.get-mq-map('margin',$storeThemeDefault, 'loyaltyProgressMargin');
            grid-area: progress;
            width: 100%;
        }

        .wlc-user-stats {
            @include bm.get-mq-map('top', $storeThemeDefault, 'statTop');
            @include bm.get-mq-map('right', $storeThemeDefault, 'statRight');
            @include bm.get-mq-map('z-index', $storeThemeDefault, 'statZIndex');
            position: absolute;
        }

        .wlc-title {
            grid-area: title;
        }

        .wlc-loyalty-table,
        .wlc-store-list {
            grid-area: store;
        }

        .wlc-profile-menu {
            @include bm.get-mq-map('margin', $storeThemeDefault, 'submenuMargin');
            grid-area: submenu;
        }
    }
}
