.wlc-sections__profile-content {

    &.wlc-sections__profile-content--theme-default {

        @include bm.get-mq-map('min-height', $profileSettings, 'profileMinHeight');

        > .container {
            @include bm.get-mq-map('padding', $profileSettings, 'profilePadding');
            @include bm.get-mq-map('background', $profileSettings, 'profileBg');
            @include bm.get-mq-map('border-radius', $profileSettings, 'profileBorderRadius');

            position: relative;
        }

        .wlc-profile-content {

            &__top {
                @include bm.get-mq-map('margin', $profileSettings, 'topMargin');
                display: flex;

                &--buttons {
                    align-items: ef.get-value($profileSettings, 'topBtnsAlignItems');
                    justify-content: ef.get-value($profileSettings, 'topBtnsJustifyContent');
                }

                .wlc-title {
                    display: inline-block;

                    + .wlc-counter {
                        display: inline-block;
                    }
                }
            }

            &__body {
                @include bm.get-mq-map('grid-template-columns', $profileSettings, 'contentCenterFormColumns');
                @include bm.get-mq-map('grid-gap', $profileSettings, 'contentCenterColGap');
                display: grid;
            }
        }

        .wlc-title.wlc-title--profile[wlc-title] {

            .wlc-title__main {
                @include text.get-text-style(ThirdTitleBold, ef.get-value($profileSettings, 'titleColor'));
            }
        }

        .profile-history-filter {
            display: ef.get-value($profileSettings, 'historyFilterDisplay');
            align-items: ef.get-value($profileSettings, 'historyFilterAlign');
            justify-content: ef.get-value($profileSettings, 'historyFilterJustify');
            width: 100%;
        }
    }
}

.wlc-sections__profile-content--theme-default,
.wlc-sections__profile-menu--theme-default {

    > .container {
        @include bm.get-mq-map('max-width', $profileSettings, 'profileWidth');
    }
}

.app-profile-dashboard-state {

    .wlc-sections__profile-content--theme-default,
    .wlc-sections__profile-menu--theme-default {

        > .container {
            overflow: hidden;
        }
    }
}
