.wlc-sections__profile-content--theme-first {

    > .container {
        @include bm.get-mq-map('background', $profileSettings, 'profileBgV1');
        @include bm.get-mq-map('border-radius', $profileSettings, 'profileBorderRadiusV1');
        @include bm.get-mq-map('padding', $profileSettings, 'profilePaddingV1');
        @include bm.get-mq-map('display', $profileSettings, 'profileDisplayV1');
        @include bm.get-mq-map('grid-template-columns', $profileSettings, 'profileGridTemplateColumnsV1');
        @include bm.get-mq-map('max-width', $profileSettings, 'profileWidthV1');
    }

    .wlc-profile-content {
        @include bm.get-mq-map('padding', $profileSettings, 'contentPaddingV1');
        @include bm.get-mq-map('background', $profileSettings, 'profileContentBgV1');
        width: 100%;
        min-width: 0;

        &.header-inside {
            @include bm.get-mq-map('margin-top', $profileSettings, 'contentHeaderInsideMarginTopV1');
        }

        .wlc-profile-content__header {
            @include bm.get-mq-map('margin', $profileSettings, 'contentHeaderMarginV1');
        }
    }

    .wlc-profile-content__body,
    .wlc-profile-content__header,
    .wlc-profile-menu {
        min-width: 0;
    }

    .wlc-profile-menu {
        @include bm.get-mq-map('margin', $profileSettings, 'profileMenuMarginV1');
    }

    .wlc-profile-content__header {
        @include bm.get-mq-map('padding', $profileSettings, 'contentHeaderPaddingV1');
        @include bm.get-mq-map('min-height', $profileSettings, 'contentHeaderHeightV1');

        display: ef.get-value($profileSettings, 'contentHeaderDisplayV1');
        align-items: ef.get-value($profileSettings, 'contentHeaderAlignV1');
        justify-content: ef.get-value($profileSettings, 'contentHeaderJustifyV1');
        min-width: 0;

        div.wlc-title--theme-default {

            div.wlc-title__main {
                line-height: 1;
            }

            .app-profile-verification-state & {

                div.wlc-title {

                    &__second {
                        @include text.get-text-style(ef.get-value($profileSettings, 'secondTitleStyle'));
                    }
                }
            }
        }

        &.underlined {
            @include bm.get-mq-map('border-bottom', $profileSettings, 'contentHeaderBorderBottomV1');
            @include bm.get-mq-map('margin', $profileSettings, 'contentHeaderUnderlinedMarginV1');

            .wlc-history-range {
                padding: ef.get-value($profileSettingsThemeFirst, 'historyRangePadding');
            }
        }

        .wlc-title[class] {

            .wlc-title__main {
                @include text.get-text-style(ef.get-value($profileSettings, 'titleTextStyleV1'), ef.get-value($profileSettings, 'titleColorV1'));

                @include mq.min(1200) {
                    @include text.get-text-style(ef.get-value($profileSettings, 'titleTextStyleV1', 1200), ef.get-value($profileSettings, 'titleColorV1'));
                }
            }
        }
    }

    .wlc-profile-content__body {

        .wlc-history-range {
            margin: ef.get-value($profileSettingsThemeFirst, 'historyRangeMargin');
        }
    }
}
