.wlc-sections__profile-content--theme-wolf {

    > .container {
        @include bm.get-mq-map('padding', $profileSettings, 'wolfPadding');
        @include bm.get-mq-map('background', $profileSettings, 'wolfSectionBg');
        @include bm.get-mq-map('border-radius', $profileSettings, 'wolfBorderRadius');
        position: relative;
    }

    .wlc-profile-content {

        &__top {
            @include bm.get-mq-map('margin', $profileSettings, 'wolfTopMargin');
            display: flex;

            &--buttons {
                align-items: ef.get-value($profileSettings, 'topBtnsAlignItems');
                justify-content: ef.get-value($profileSettings, 'topBtnsJustifyContent');
            }

            .wlc-section-title[class] {
                margin: ef.get-value($profileSettings, 'wolfTitleMargin');

                .wlc-section-title {

                    &__content {
                        @include text.get-text-style(
                            ef.get-value($profileSettings, 'wolfTitleFontStyle'),
                            ef.get-value($profileSettings, 'wolfTitleColor'),
                        );
                    }

                    &__icon {
                        color: ef.get-value($profileSettings, 'wolfTitleColor');
                    }
                }
            }
        }

        &__wrp {
            @include bm.get-mq-map('max-width', $profileSettings, 'wolfWrpMaxWidth');
            margin: ef.get-value($profileSettings, 'wolfWrpMargin');
        }

        &__body {
            @include bm.get-mq-map('grid-template-columns', $profileSettings, 'wolfGridColumns');
            @include bm.get-mq-map('grid-gap', $profileSettings, 'wolfGridGap');
            display: grid;
        }
    }

    .profile-history-filter {
        display: ef.get-value($profileSettings, 'historyFilterDisplay');
        align-items: ef.get-value($profileSettings, 'historyFilterAlign');
        justify-content: ef.get-value($profileSettings, 'historyFilterJustify');
    }

    .wlc-section-title {
        margin: ef.get-value($profileSettings, 'wolfTopMargin');

        .profile-history-filter & {
            margin: 0;
        }
    }
}
