.wlc-user-icon--theme-avatar:host {

    @include container($themeAvatar);

    .wlc-user-icon__btn {
        @include container($themeAvatar);

        ::ng-deep .wlc-icon {

            svg,
            path {
                fill: currentColor;
            }
        }
    }

    .wlc-user-icon__user {
        flex-shrink: 0;
    }

    ::ng-deep {

        img {
            display: block;
            width: ef.get-value($themeAvatar, 'btnSize');
            height: ef.get-value($themeAvatar, 'btnSize');
            border-radius: ef.get-value($themeAvatar, 'btnRadius');
            overflow: hidden;
        }
    }
}

button.wlc-user-icon--theme-avatar:host {

    @include hoverBefore($themeAvatar);

    @include bm.hover {

        &:before {
            opacity: 0.2;
        }
    }
}

.wlc-btn-profile--theme-avatar:host {

    .wlc-btn-profile__btn {
        @include bm.get-mq-map('height', $themeAvatar, 'btnHeight');
        @include bm.transition;

        min-width: ef.get-value($themeAvatar, 'profileBtnMinWidth');
        padding: ef.get-value($themeAvatar, 'profileBtnPadding');
        border-radius: ef.get-value($themeAvatar, 'profileBtnRadius');
        background-color: ef.get-value($themeAvatar, 'profileBtnBg');

        ::ng-deep {

            .wlc-btn__text {
                @include text.get-text-style(
                    ef.get-value($themeAvatar, 'btnFont'),
                    ef.get-value($themeAvatar, 'btnFontColor')
                );
                display: flex;
                flex-direction: ef.get-value($themeAvatar, 'btnFlexDir');
                gap: ef.get-value($themeAvatar, 'btnGap');
                align-items: ef.get-value($themeAvatar, 'btnAlignItems');
                justify-content: ef.get-value($themeAvatar, 'btnJustifyContent');
            }

            .wlc-icon {
                position: relative;
                width: ef.get-value($themeAvatar, 'iconWidth');
                height: ef.get-value($themeAvatar, 'iconHeight');
                color: ef.get-value($themeAvatar, 'iconFill');
                border-radius: ef.get-value($themeAvatar, 'profileBtnRadius');
                background-color: ef.get-value($themeAvatar, 'iconBg');

                svg,
                path {
                    fill: currentColor;
                }

                &:before {
                    @include bm.absoluteCentering();
                    @include bm.transition(opacity);
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: ef.get-value($themeAvatar, 'btnBgHover');
                    border-radius: ef.get-value($themeAvatar, 'profileBtnRadius');
                    opacity: 0;
                }
            }
        }

        @include bm.hover {
            background-color: ef.get-value($themeAvatar, 'profileBtnBgHover');

            ::ng-deep .wlc-icon {

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }
}
