@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/mediaqueries' as mq;
@import '../utils/vars';

.wlc-steps--theme-mod-skip-bonus:host,
.wlc-steps--theme-mod-default:host,
.wlc-steps--theme-mod-first:host {
    height: ef.get-value($themeDefault, 'stepsHeight');

    &::ng-deep {

        .wlc-bonuses-list,
        .wlc-text-block {
            align-self: ef.get-value($themeDefault, 'stepsAlignSelf');
        }

        .wlc-bonuses-list {
            @include em.get-mq-map('margin', $themeDefault, 'bonusListMargin');

            &--type-swiper {

                .wlc-bonuses-list__list-wrapper .wlc-bonuses-list__slider {

                    .swiper-button-next,
                    .swiper-button-prev {
                        top: ef.get-value($themeDefault, 'swiperControlsTopPos');
                        display: flex;
                        transform: none;
                    }

                    .swiper {
                        padding: ef.get-value($themeDefault, 'swiperContainerPadding');
                    }
                }
            }
        }

        .wlc-steps {

            &__head {
                text-align: ef.get-value($themeDefault, 'headTextAlign');
            }

            &__aside {
                @include em.get-mq-map('display', $themeDefault, 'asideDisplay');
            }

            &__container {

                &--sign-up {

                    .wlc-steps__head {
                        position: relative;
                        width: ef.get-value($themeDefault, 'singupHeadWidth');
                        max-width: ef.get-value($themeDefault, 'singupHeadMaxWidth');
                        padding: ef.get-value($themeDefault, 'singupHeadPadding');

                        .wlc-link-block {
                            @include em.get-mq-map('display', $themeDefault, 'singupLinkBlockDisplay');
                            @include em.get-mq-map('top', $themeDefault, 'singupLinkBlockTopPos');
                            @include em.get-mq-map('margin', $themeDefault, 'singupLinkBlockMarign');
                            @include em.get-mq-map('width', $themeDefault, 'singupLinkBlockSize');
                            @include em.get-mq-map('height', $themeDefault, 'singupLinkBlockSize');
                            @include em.get-mq-map('max-width', $themeDefault, 'singupLinkBlockMaxWidth');
                            position: absolute;
                            right: ef.get-value($themeDefault, 'singupLinkBlockRightPos');
                            left: initial;
                            align-items: ef.get-value($themeDefault, 'singupLinkBlockAlignItems');
                            justify-content: ef.get-value($themeDefault, 'singupLinkBlockJustify');
                            overflow: hidden;

                            .wlc-btn__text {
                                display: flex;
                                align-items: ef.get-value($themeDefault, 'singupBtnTextAlign');
                                font-size: ef.get-value($themeDefault, 'singupBtnTextFontSize');
                                line-height: 1;

                                @include mq.min(560) {
                                    @include text.get-text-style(ef.get-value($themeDefault, 'singupBtnTextFontSizeMD'), ef.get-value($themeDefault, 'singupBtnTextColor'));
                                }
                            }

                            .wlc-icon {
                                order: ef.get-value($themeDefault, 'singupIconOrder');
                                margin: ef.get-value($themeDefault, 'singupIconMargin');
                                line-height: 0;

                                svg {
                                    @include em.get-mq-map('width', $themeDefault, 'singupIconSvgWidth');
                                    @include em.get-mq-map('height', $themeDefault, 'singupIconSvgHeight');
                                    transform: ef.get-value($themeDefault, 'singupIconSvgTransform');
                                }
                            }
                        }

                        .wlc-link-block__text::ng-deep {

                            .wlc-btn {

                                .wlc-btn__text {
                                    @include em.transition(color);
                                }

                                @include em.hover {
                                    text-decoration: none;

                                    .wlc-btn__text {
                                        color: ef.get-value($themeDefault, 'singupBtnTextColorHover');
                                    }
                                }
                            }
                        }

                        .wlc-text-block {
                            text-align: ef.get-value($themeDefault, 'singupTextBlockAlign');

                            &__dynamic {
                                @include em.lineClamp(2);
                            }
                        }
                    }
                }

                &.noback {

                    .wlc-steps__head {

                        .wlc-link-block {
                            display: none;
                        }
                    }
                }
            }

            &__main {
                @include em.get-mq-map('padding', $themeDefault, 'mainPadding');

                position: relative;
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'mainDirection');
                align-items: ef.get-value($themeDefault, 'mainAlignItems');

                .wlc-link-block {
                    @include em.get-mq-map('bottom', $themeDefault, 'singupLinkBlockBottomPos');

                    position: absolute;
                    left: ef.get-value($themeDefault, 'singupLinkBlockLeftPos');
                    width: ef.get-value($themeDefault, 'singupLinkBlockWidth');
                }
            }
        }
    }
}

.wlc-steps--theme-mod-default:host {

    &::ng-deep {

        .wlc-btn--next-step {
            @include em.get-mq-map('margin', $themeDefault, 'nextStepBtnMargin');
        }

        .wlc-bonuses-list {
            @include em.get-mq-map('width', $themeDefault, 'bonusListWidth');
        }

        .wlc-steps {

            &__container {
                @include em.get-mq-map('grid-template-columns', $themeDefault, 'containerTemplateCol');
                @include em.get-mq-map('min-height', $themeDefault, 'containerMinHeight');

                display: grid;
                height: ef.get-value($themeDefault, 'stepsHeight');

                &--sign-up {

                    .wlc-steps__head {

                        .wlc-text-block {

                            &__dynamic {
                                @include em.get-mq-map('display', $themeDefault, 'dynamicTextDisplay');
                            }
                        }
                    }
                }
            }

            &__main {
                @include em.get-mq-map('justify-content', $themeDefault, 'mainJustifyContent');
            }
        }
    }
}

.wlc-steps--theme-mod-first:host {

    &::ng-deep {

        .wlc-text-block {

            &__title {
                margin: ef.get-value($themeDefault, 'stepsTitleMargin');
            }
        }

        .wlc-bonuses-list {
            @include em.get-mq-map('width', $themeDefault, 'bonusListWidthFirst');
        }

        .wlc-steps {

            &__container {
                @include em.get-mq-map('min-height', $themeDefault, 'containerFirstMinHeight');
                display: block;

                &--sign-up {

                    .wlc-steps__head {

                        .wlc-link-block {
                            left: ef.get-value($themeDefault, 'singupLinkBlockLeftPosTop');
                            width: ef.get-value($themeDefault, 'singupLinkBlockWidthTop');
                        }
                    }
                }
            }

            &__main {
                @include em.get-mq-map('justify-content', $themeDefault, 'mainFirstJustifyContent');
                @include em.get-mq-map('min-height', $themeDefault, 'containerFirstMinHeight');
            }
        }
    }
}
