.wlc-no-content--wlc-winners-slider:host {
    @include baseNoContent();

    &.wlc-no-content--theme-1 {
        text-align: ef.get-value($slidersWinnersTheme1, 'nodataTextAlign');

        .wlc-no-content {

            &__wrapper {
                @include em.get-mq-map('padding', $slidersWinnersTheme1, 'wrapperPadding');
            }

            &__button-wrap {
                margin: ef.get-value($slidersWinnersTheme1, 'btnsWrapMargin');
            }
        }
    }

    &.wlc-no-content--theme-default {
        text-align: ef.get-value($slidersWinnersThemeDefault, 'nodataTextAlign');

        .wlc-no-content {

            &__wrapper {
                @include em.get-mq-map('padding', $slidersWinnersThemeDefault, 'wrapperPadding');
                display: ef.get-value($slidersWinnersThemeDefault, 'wrapperDisplay');
                align-items: ef.get-value($slidersWinnersThemeDefault, 'wrapperAlignItems');
                justify-content: ef.get-value($slidersWinnersThemeDefault, 'wrapperJustifyContent');
            }

            &__body {
                max-width: ef.get-value($slidersWinnersThemeDefault, 'bodyMaxWidth');
            }

            &__text {

                &-link {
                    @include em.transition();
                }
            }
        }
    }

    &.wlc-no-content--theme-mod-default,
    &.wlc-no-content--theme-mod-along-with-tournament {

        .wlc-no-content {

            &__wrapper {
                @include em.get-mq-map('padding', $slidersWinnersModDef, 'wrapperPadding');

                &:before {
                    @include linearGradient();
                }
            }

            &__body {
                align-items: ef.get-value($slidersWinnersModDef, 'bodyAlign');
                max-width: ef.get-value($slidersWinnersModDef, 'bodyMaxWidth');
            }

            &__button-wrap {
                margin: ef.get-value($slidersWinnersModDef, 'buttonPadding');
            }

            &__content {
                display: flex;
                flex: ef.get-value($slidersWinnersModDef, 'contentFlex');
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                text-align: center;
            }
        }
    }

    &.wlc-no-content--theme-transparent {

        .wlc-no-content__wrapper {
            padding: ef.get-value($slidersWinnersTransparent, 'wrapperPadding');
            background: none;

            &:before {
                display: none;
            }
        }

        .wlc-no-content__button-wrap {
            margin: ef.get-value($slidersWinnersTransparent, 'buttonMargin');
        }
    }
}
