@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/mixins/base.mixins' as em;

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: ef.get-value($themeDefaultNavigation, 'swiperNaviTop');
    margin-top: calc(-1 * #{ef.get-value($themeDefaultNavigation, 'swiperNaviButtonSize')} / 2);
    z-index: ef.get-value($themeDefaultNavigation, 'swiperNaviZindex');
    width: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonSize');
    height: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonSize');
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonBg');
    color: ef.get-value($themeDefaultNavigation, 'swiperNaviArrowColor');
    border-radius: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonBorderRadius');
    transition: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonTransition');

    &:hover {
        background: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonBgHover');
        color: ef.get-value($themeDefaultNavigation, 'swiperNaviArrowColorHover');
    }

    &.swiper-button-disabled {
        opacity: ef.get-value($themeDefaultNavigation, 'swiperNaviButtonDisabledOpacity');
        cursor: auto;
        pointer-events: none;
    }

    &:after {
        font-family: swiper-icons;
        font-size: ef.get-value($themeDefaultNavigation, 'swiperNaviArrowSize');
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
    }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {

    &:after {
        content: 'prev';
    }

    left: ef.get-value($themeDefaultNavigation, 'swiperNaviAside');
    right: auto;

    .wlc-slider--type-dashboard & {
        left: 0;
    }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {

    &:after {
        content: 'next';
    }

    right: ef.get-value($themeDefaultNavigation, 'swiperNaviAside');
    left: auto;

    .wlc-slider--type-dashboard & {
        right: 0;
    }
}

.swiper-button-lock {
    display: none;
}

.wlc-swiper-button-prev,
.wlc-swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: ef.get-value($themeDefaultBanner, 'buttonSize');
    height: ef.get-value($themeDefaultBanner, 'buttonSize');
    background: ef.get-value($themeDefaultBanner, 'buttonBg');
    border-radius: ef.get-value($themeDefaultBanner, 'buttonBorderRadius');
    transition: ef.get-value($themeDefaultBanner, 'transition');
    outline: none;
    border: none;

    @media (hover) {

        &:hover {
            background: ef.get-value($themeDefaultBanner, 'buttonBgHover');
        }
    }

    svg {
        fill: ef.get-value($themeDefaultBanner, 'iconFill');
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: auto;
    }
}

.wlc-swiper-button-prev {
    @include em.get-mq-map('margin-right', $themeDefaultBanner, 'buttonGap');

    .wlc-icon-content {
        transform: rotate(90deg);
    }
}

.wlc-swiper-button-next {

    .wlc-icon-content {
        transform: rotate(-90deg);
    }
}
