@use 'engine-scss/functions' as ef;

.swiper-pagination {
    position: absolute;
    z-index: ef.get-value($themeDefaultPagination, 'swiperPagiZindex');
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: 0.3s opacity;

    &.swiper-pagination-hidden {
        opacity: 0;
    }
}

// Common Styles
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: ef.get-value($themeDefaultPagination, 'swiperPagiBottom');
    left: 0;
    width: 100%;
}

// Bullets
.swiper-pagination-bullet {
    display: inline-block;
    width: ef.get-value($themeDefaultPagination, 'swiperPagiBulletWidth');
    height: ef.get-value($themeDefaultPagination, 'swiperPagiBulletHeight');
    border-radius: ef.get-value($themeDefaultPagination, 'swiperPagiBulletBorderRadius');
    background: ef.get-value($themeDefaultPagination, 'swiperPagiBulletColor');

    @at-root button#{&} {
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        appearance: none;
    }

    .swiper-pagination-clickable & {
        cursor: pointer;
    }
}

.swiper-pagination-bullet-active {
    width: ef.get-value($themeDefaultPagination, 'swiperPagiBulletWidthActive');
    height: ef.get-value($themeDefaultPagination, 'swiperPagiBulletHeightActive');
    background: ef.get-value($themeDefaultPagination, 'swiperPagiBulletColorActive');
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;

    .swiper-pagination-bullet {
        position: relative;
        width: ef.get-value($themeDefaultPagination, 'swiperPagiBulletDynamicSize');
        height: ef.get-value($themeDefaultPagination, 'swiperPagiBulletDynamicSize');
        transform: scale(0.33);
    }

    .swiper-pagination-bullet-active {
        width: ef.get-value($themeDefaultPagination, 'swiperPagiBulletDynamicSize');
        height: ef.get-value($themeDefaultPagination, 'swiperPagiBulletDynamicSize');
        transform: scale(1);
    }

    .swiper-pagination-bullet-active-main {
        transform: scale(1);
    }

    .swiper-pagination-bullet-active-prev {
        transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-prev-prev {
        transform: scale(0.33);
    }

    .swiper-pagination-bullet-active-next {
        transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-next-next {
        transform: scale(0.33);
    }
}



.swiper-container-vertical {

    >.swiper-pagination-bullets {
        top: 50%;
        right: ef.get-value($themeDefaultPagination, 'swiperPagiVerticalAside');
        transform: translate3d(0, -50%, 0);

        .swiper-pagination-bullet {
            display: block;
            margin: ef.get-value($themeDefaultPagination, 'swiperPagiBulletMarginVertical');
        }

        &.swiper-pagination-bullets-dynamic {
            top: 50%;
            transform: translateY(-50%);

            .swiper-pagination-bullet {
                display: inline-block;
                transition: 0.2s transform, 0.2s top;
            }
        }
    }
}

.swiper-container-horizontal {

    >.swiper-pagination-bullets {

        .swiper-pagination-bullet {
            margin: ef.get-value($themeDefaultPagination, 'swiperPagiBulletMarginHorizontal');
        }

        &.swiper-pagination-bullets-dynamic {
            left: 50%;
            white-space: nowrap;
            transform: translateX(-50%);

            .swiper-pagination-bullet {
                transition: 0.2s transform, 0.2s left;
            }
        }
    }

    &.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transition: 0.2s transform, 0.2s right;
    }
}

// Progress
.swiper-pagination-progressbar {
    position: absolute;
    background: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarBg');
    border-radius: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarBorderRadius');

    .swiper-pagination-progressbar-fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarBgFill');
        transform: scale(0);
        transform-origin: left top;
        border-radius: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarBorderRadius');
    }

    .swiper-container-rtl & .swiper-pagination-progressbar-fill {
        transform-origin: right top;
    }

    .swiper-container-horizontal > &,
    .swiper-container-vertical > &.swiper-pagination-progressbar-opposite {
        top: 0;
        left: 0;
        width: 100%;
        height: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarHeight');
    }

    .swiper-container-vertical > &,
    .swiper-container-horizontal > &.swiper-pagination-progressbar-opposite {
        top: 0;
        left: 0;
        width: ef.get-value($themeDefaultPagination, 'swiperPagiProgressbarHeight');
        height: 100%;
    }
}

.swiper-pagination-lock {
    display: none;
}
