@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gridGap': ef.get('size', 'small'),
    'gridTemplateColumns': 1fr,

    'rowHeight': 26px,
    'firstCellPadding': 0 0 0 20px,
    'lastCellPadding': 0 20px 0 0,
    'rowGrid': 40px 2fr 1fr,
    'borderRadius': ef.get('size', 'small'),
    'cellPadding': 0 ef.get('size', 'smally'),
    'cellTopPadding': 0 ef.get('size', 'smally') 0 ef.get('size', 'small'),
    'cellPlaceMinWidth': 15px,
    'iconMargin': 0 ef.get('size', 'small') 0 0,
    'iconSize': 12px,
    'loginMaxWidth': 80px,
    'btnPadding': ef.get('size', 'smallest') 0 0 0,
    'btnIconWidth': 10px,
    'btnIconHeight': 12px,
    'noContentPadding': ef.get('size', 'smaller'),

    'fontSize': ef.get('font', 'PrimaryText'),
    'btnFontSize': ef.get('font', 'PlaceholderText'),
    'rowBg': ef.get('mainColors', 'bg'),
    'rowUserBg': ef.get('mainColors', 'main'),
    'rowUserColor': null,
    'rowUserFontWeight': 700,
    'iconColor': ef.get('mainColors', 'main'),
    'iconUserColor': ef.get('mainColors', 'bg'),
    'btnTextColor': ef.get('mainColors', 'main'),

    'fontWeight': 700,
    'itemTopRadius': 0,
), $customThemeDefault);

$customThemeDefaultModTournamentDetail: () !default;
$themeDefaultModTournamentDetail: map-merge((
    'delimetrwidth': 100%,
    'delimetrheight': 2px,
    'delimetrBg': ef.get('mainColors', 'baseOpacity'),

    'listGap': ef.get('size', 'smallest'),
    'listPadding': ef.get('size', 'small') 0,
    'listBg': ef.get('mainColors', 'bg700'),
    'listRadius': ef.get-value($themeDefault, 'borderRadius'),

    'itemMargin': 0 ef.get('size', 'smally'),
    'itemGridTemplate': 80px 2fr 1fr,
    'itemBg': ef.get('mainColors', 'bg700'),
    'itemRadius': 0,
    'itemPaddingUser': 0 ef.get('size', 'smally'),

    'itemUserRadius': ef.get('radius', 'large'),
    'itemUserMarginBottom': 0,
    'itemUserRadiusPlace': ef.get('radius', 'large') 0 0 ef.get('radius', 'large'),
    'itemUserRadiusPoints': 0 ef.get('radius', 'large') ef.get('radius', 'large') 0,
    'itemUserCellTextStyle': 'PrimaryTextBold',
    'itemUserCellTextColor': ef.get('mainColors', 'baseMain'),

    'headBg': transparent,
    'headPadding': 0 0 ef.get('size', 'small') 0,

    'topCellHeight': 26px,
    'topCellUserPadding': 0 ef.get('size', 'smally') 0 ef.get('size', 'small'),
    'topIconMargin': 0 0 0 ef.get('size', 'smallest'),
    'topIconWidth': 12px,
    'topIconColor': ef.get('mainColors', 'main'),
    'topIconUserColor': ef.get('mainColors', 'bg'),
), $customThemeDefaultModTournamentDetail);

$customThemeDefaultModHistory: () !default;
$themeDefaultModHistory: map-merge((
    'rowPrimaryBg': ef.get('mainColors', 'bg500'),
    'rowSecondaryBg': transparent,
    'headBg': transparent,
    'tableMaxWidth': 375px,
    'tableMargin': -1*ef.get('size', 'less') auto -1*ef.get('size', 'smaller') auto,
    'gridGap': 0,
    'rowHeight': ef.get('size', 'less'),
    'firstCellPadding': 0 0 0 ef.get('size', 'smally'),
    'lastCellPadding': 0 ef.get('size', 'smally') 0 ef.get('size', 'small'),
    'rowGrid':(
        375: 50px 100px 1fr 100px,
        480: 50px 150px 1fr 100px,
    ),
    'headMargin': 0 0 2px 0,
    'topMargin': 0,
    'textMargin': 0 3px 0 0,
    'cellAlign': center,
), $customThemeDefaultModHistory);
