$customThemeDefault: () !default;
$themeDefault: map-merge((
    'containerMaxWidth': 100%,
    'containerMargin': 0 auto,
    'gridTemplateColumns': 1fr,
    'wrapperBg': var(--mc-bg700),
    'wrapperPadding': ef.size(2) 0,
    'wrapperRadius': ef.get('radius', 'biger'),
    'descrStyle': 'PrimaryText',
    'descrColor': inherit,
    'descrMargin': (
        375: 0 0 ef.size(4),
    ),
    'descrAlign': center,
    'firstCellPadding': (
        375: 0 0 0 ef.size(3),
        768: 0 0 0 ef.size(4),
    ),
    'lastCellPadding': (
        375: 0 ef.size(3) 0 0,
        768: 0 ef.size(4) 0 0,
    ),
    'iconMargin': 0 ef.size(2) 0 0,
    'iconSize': 12px,
    'loginMaxWidth': 100%,
    'btnIconWidth': 10px,
    'btnIconHeight': 12px,
    'btnMargin': ef.size(4) auto 0,
    'nocontentBg': none,

    'fontSize': ef.get('font', 'PrimaryText'),
    'rowBg': transparent,
    'rowUserBg': var(--mc-main),
    'iconBaseColor': currentColor, // set null if you need to use multicolor icon
    'iconColor': var(--mc-baseOpacity),
    'iconUserColor': var(--mc-bg),
    'btnIconColor': var(--mc-main),
    'btnIconColorHover': var(--mc-main-l20),

    'delimetrwidth': 100%,
    'delimetrheight': 2px,
    'delimetrBg': var(--mc-baseOpacity),
    'delimetrMargin': ef.size(1) 0,

    'listGap': ef.size(1),
    'listBg': var(--mc-bg700),
    'listBgTop': none,
    'listRadius': ef.get('radius', 'biger'),

    'itemRadius': ef.get('radius', 'big'),
    'itemMargin': (
        375: 0 ef.size(2),
        768: 0 ef.size(3),
    ),
    'itemHeight': 24px,
    'itemGridTemplate': 80px 1fr 1fr,

    'itemBg': var(--mc-bg700),
    'itemTextStyle': 'PrimaryText',
    'itemTextStyleTop': 'PrimaryTextBold',
    'itemColor': inherit,
    'itemColorTop': inherit,
    'itemPaddingUser': 0 ef.size(2),

    'itemUserCellTextStyle': 'PrimaryTextBold',
    'itemUserCellTextColor': var(--mc-baseMain),

    'headBg': transparent,
    'headPadding': 0 0 ef.size(1),

    'topCellHeight': 26px,
    'topCellUserPadding': 0 ef.size(3) 0 ef.size(2),
    'topIconMargin': 0 0 0 ef.size(1),
    'topIconWidth': 12px,
    'topIconBaseColor': currentColor, // set null if you need to use multicolor icon
    'topIconColor': var(--mc-baseOpacity),
    'topIconUserColor': var(--mc-bg),

    'winTextMargin': 0 3px 0 0,
), $customThemeDefault);

$customThemeModCompact: () !default;
$themeModCompact: map-merge((
    'itemColumns': 50px 1fr 1fr,
    'itemMargin': 0 ef.size(2),
    'cellPaddingFirst': 0 0 0 ef.size(2),
    'cellPaddingLast': 0 ef.size(2) 0 0,
    'headPaddingFirst': 0,
), $customThemeModCompact);

$customThemeDefaultModHistory: () !default;
$themeDefaultModHistory: map-merge((
    'containerMaxWidth': 375px,
    'containerMargin': 0 auto,

    'wrapperPadding': 0,
    'wrapperBg': none,

    'listGap': 0,
    'listPadding': 0,
    'listBg': none,
    'listBgTop': var(--mc-bg500),

    'headPaddingFirst': 0,
    'headPaddingLast': 0,
    'headAlign': center,
    'headAlignFirst': center,
    'headAlignLast': center,

    'rowPrimaryBg': var(--mc-bg500),
    'rowSecondaryBg': transparent,
    'rowHeight': 30px,
    'rowGrid':(
        375: 50px 100px 1fr 100px,
        480: 60px 100px 1fr 100px,
    ),

    'firstCellPadding': 0 ef.size(1),
    'lastCellPadding': 0 ef.size(2),

    'cellAlign': center,
    'nocontentBg': none,
    'itemRadius': ef.get('radius', 'biger'),
    'userTopRadius': 0,
), $customThemeDefaultModHistory);
