[colors]
bg = #2f383e
fg = #d3c6aa
 
# polar night
pn-darker = #3b4252
pn-light = #4c566a

# snow storm
sn-dark = #d8dee9
sn-light = #eceff4

# frost
f-mint = #8fbcbb
f-bright = #88c0d0
f-washed = #81a1c1
f-dark = #5e81ac

# aurora
a-green = #a3be8c
a-magenta = #b48ead
a-orange = #d08770
a-red = #bf616a

# everforest
e-bright = #a7c080
e-light = #4a5157

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 27
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = FiraCode Nerd Font:style=Bold:size=10;1
font-1 = Font Awesome 6 Free:style=Bold:size=10;1
separator = " | "
separator-foreground = ${colors.pn-light}
modules-left = ewmh xwindow
modules-center = date time
modules-right = network battery xkeyboard volume cpu powermenu

radius = 5

[module/battery]
type = internal/battery
low-at = 5
; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT1
adapter = ACAD

ramp-capacity-0 =  [IIII]
ramp-capacity-1 =  [III ]
ramp-capacity-2 =  [II  ]
ramp-capacity-3 =  [I   ]
ramp-capacity-4 =  [    ]

label-charging = "%{F#a3be8c}  %percentage%%"
label-full = "%{F#a3be8c} %percentage%%"
label-low = "%{F#d45842} %percentage%%"
label-discharging = "%{F#d4c842} %percentage%%"

format-charging = <label-charging>
format-discharging = <label-discharging>
format-full = <label-full>
format-low = <label-low>

[module/xwindow]
type = internal/xwindow
label = " %instance:0:20%"

[module/xkeyboard]
type = internal/xkeyboard
format = <label-layout> <label-indicator>

label-layout = %layout%
label-layout-padding = 2
label-layout-foreground = #f57542

label-indicator = %name%

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.e-bright}
label-active-foreground = ${colors.pn-darker}
label-active-padding = 2
label-occupied = " %name% "
label-occupied-background = ${colors.e-light}
label-occupied-padding = 2
label-urgent = " %name% "
label-urgent-background = ${colors.a-orange}
label-urgent-foreground = ${colors.win-urgent-fg}
label-urgent-padding = 2
label-empty = " %name% "
label-empty-foreground = ${colors.foreground}
label-empty-padding = 2


[module/date]
type = internal/date
date = " %a, %b %d "
format-foreground = ${colors.a-magenta}

[module/time]
type = internal/date
date = " %I:%M %p "

[module/cpu]
type = internal/cpu
interval = 0.5
label = " CPU: %percentage:2%% "
label-foreground = ${colors.f-bright}

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " VOL: %percentage:2%% "
label-volume-foreground = ${colors.f-mint}

[module/network]
type = internal/network
interface = wlp3s0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " %{F#a3be8c}↓ %{F#d8dee9}%downspeed:9%%{F#4c566a} | %{F#88c0d0}↑ %{F#d8dee9}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/vpn]
type = internal/network
interface = wg0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.a-red}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.a-green}
format-connected = <label-connected>

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = "PWR "
label-open-foreground = ${colors.urgent}
label-close =  cancel
label-close-foreground = ${colors.success}
label-separator = |
label-separator-foreground = ${colors.foreground}

;Powermenu
menu-0-0 = "Reboot "
menu-0-0-exec = menu-open-1
menu-0-0-foreground = ${colors.urgent}

menu-0-1 = "Power Off"
menu-0-1-exec = menu-open-2
menu-0-1-foreground = ${colors.urgent}

menu-0-2 = "Hibernate"
menu-0-2-exec = menu-open-3
menu-0-2-foreground = ${colors.warning}

;Reboot
menu-1-0 = "Cancel "
menu-1-0-exec = menu-open-0
menu-1-0-foreground = ${colors.success}
menu-1-1 = "Reboot"
menu-1-1-exec = systemctl reboot
menu-1-1-foreground = ${colors.urgent}

;Shutdown
menu-2-0 = "Power off"
menu-2-0-exec = systemctl poweroff
menu-2-0-foreground = ${colors.urgent}
menu-2-1 = "Cancel "
menu-2-1-exec = menu-open-0
menu-2-1-foreground = ${colors.success}

;Hibernate
menu-3-0 = "Hibernate "
menu-3-0-exec = systemctl hibernate
menu-3-0-foreground = ${colors.urgent}
menu-3-1 = "Cancel"
menu-3-1-exec = menu-open-0
menu-3-1-foreground = ${colors.success}

