.wlc-provider-games--theme-default:host {
    @include bm.get-mq-map('padding', $themeDefault, 'containerPadding');

    .wlc-provider-games {

        &__header {
            @include bm.get-mq-map('margin', $themeDefault, 'headerMargin');
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__subtitle {
            @include bm.get-mq-map('font-size', $themeDefault, 'subtitleFontSize');
            @include bm.get-mq-map('margin', $themeDefault, 'subtitleMargin');
            color: ef.get-value($themeDefault, 'subtitleColor');
            font-weight: ef.get-value($themeDefault, 'subtitleFontWeight');
            font-style: ef.get-value($themeDefault, 'subtitleFontStyle');
        }

        &__title {
            @include bm.get-mq-map('font-size', $themeDefault, 'titleFontSize');
            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
            color: ef.get-value($themeDefault, 'titleColor');
            font-weight: ef.get-value($themeDefault, 'titleFontWeight');
            font-style: ef.get-value($themeDefault, 'titleStyle');
        }

        &__games {
            @include bm.get-mq-map('margin-bottom', $themeDefault, 'gamesGridMarginBottom');
        }

        &__empty {
            @include bm.get-mq-map('padding', $themeDefault, 'emptyPadding');
            @include bm.get-mq-map('font-size', $themeDefault, 'emptyFontSize');
            font-weight: ef.get-value($themeDefault, 'emptyFontWeight');
            font-style: ef.get-value($themeDefault, 'emptyFontStyle');
            text-align: ef.get-value($themeDefault, 'emptyAlignment');
        }
    }

    ::ng-deep {

        .wlc-provider-games-logo {
            @include bm.get-mq-map('width', $themeDefault, 'logoWidth');
            @include bm.get-mq-map('margin', $themeDefault, 'logoMargin');
            @include bm.get-mq-map('border-radius', $themeDefault, 'logoBorderRadius');
            position: relative;
            background: ef.get-value($themeDefault, 'logoBackground');

            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-top: ef.get-value($themeDefault, 'logoPseudoPaddingTop');
            }

            &__wrp {
                @include bm.get-mq-map('padding', $themeDefault, 'logoWrapPadding');
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: ef.get-value($themeDefault, 'logoIconColor');
            }

            &__error {
                max-width: 100%;
                overflow: hidden;
            }

            &__image,
            .wlc-icon-content {
                @include bm.get-mq-map('width', $themeDefault, 'logoIconWidth');
                @include bm.get-mq-map('max-width', $themeDefault, 'logoIconMaxWidth');
                @include bm.get-mq-map('height', $themeDefault, 'logoIconHeight');
                @include bm.get-mq-map('max-height', $themeDefault, 'logoIconMaxHeight');
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 80%;
                height: 100%;
                max-height: 100%;
                object-fit: contain;
                object-position: center;
            }

            .wlc-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            .wlc-icon svg {
                display: block;
                width: 100%;
                max-width: 100%;
                height: 100%;
                max-height: 100%;

                path {
                    fill: currentColor;
                }
            }
        }
    }
}
