<ng-container *ngIf="error else error">
    <div class="{{$class}}__text">
        <div class="{{$class}}__clipboard">
            <div wlc-input [inlineParams]="inputParams"></div>
        </div>

        <div class="{{$class}}__text-row">
            {{'This is your private depositing address.' | translate}}
        </div>
        <div class="{{$class}}__text-row">
            {{'Please note, that minimum deposit amount for this method is' | translate}} {{system.depositMin}}, {{'maximum one is' | translate}} {{system.depositMax}}.
        </div>
        <div class="{{$class}}__text-row">
            {{'To make a deposit you need to replenish a wallet for a specified amount.' | translate}}
        </div>
    </div>


    <div class="{{$class}}__qr">
        <div class="{{$class}}__qr-text">{{'QR code' | translate}}</div>
        <div class="{{$class}}__qr-wrapper">
            <img class="{{$class}}__qr-image"
                [alt]="system.name"
                [src]="imgUrl">
        </div>
    </div>
    <div class="{{$class}}__warning">
        <span class="stress">{{'Attention!' | translate}}</span> {{'Payments through contracts are not supported.' | translate}}
    </div>

</ng-container>

<ng-template #error>
    <div class="{{$class}}__error">
        {{'Error receiving payment system.' | translate}}
    </div>
</ng-template>
