@import '../utils/vars';

.wlc-menu--theme-contacts:host {

    .wlc-menu__item {

        .wlc-menu__link {
            display: block;
            font-weight: ef.get-value($themeDefault, 'fontWeight');
            font-size: ef.get-value($themeDefault, 'fontSize');
            color: ef.get-value($themeDefault, 'textColor');
            padding: ef.get-value($themeDefault, 'padding');
            text-decoration: none;
            border-bottom: 1px solid ef.get-value($themeDefault, 'textColor');
        }
    }
}
