@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

@import '../utils/vars';

.wlc-menu--theme-contacts:host {

    .wlc-menu__item {

        .wlc-menu__link {
            @include text.get-text-style('ThirdTitleBold', ef.get-value($menuThemeContacts, 'textColor'));
            @include bm.transition;

            display: block;
            padding: ef.get-value($menuThemeContacts, 'padding');
            letter-spacing: ef.get-value($menuThemeContacts, 'letterSpacing');
            text-transform: ef.get-value($menuThemeContacts, 'textTransform');
            text-decoration: ef.get-value($menuThemeContacts, 'textDecoration');
            border-bottom: ef.get-value($menuThemeContacts, 'borderBottom');

            &.active {
                color: ef.get-value($menuThemeContacts, 'activeColor');
                background: ef.get-value($menuThemeContacts, 'activeBg');
            }

            @include bm.hover {

                &:not(.active) {
                    color: ef.get-value($menuThemeContacts, 'hoverColor');
                    background: ef.get-value($menuThemeContacts, 'hoverBg');
                }
            }
        }
    }
}
