$errorColor: #f12e74 !default;
$successColor: #27bb37 !default;

$iconWidth: 12px !default;
$iconHeight: 12px !default;
$successIconColor: #fff !default;
$errorIconColor: #fff !default;
$pendingIconColor: rgba(0, 0, 0, 0.5) !default;

$errorsBgColor: #ffebf2 !default;
$errorsColor: #231f20 !default;
$errorsMinWidth: 300px !default;
$errorsMaxWidth: 100% !default;
$errorsBorderRadius: 10px !default;
$errorsFontSize: 14px !default;
$errorsPadding: 10px !default;
