@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    errorColor: ef.get('mainColors', 'error'),
    successColor: ef.get('mainColors', 'success'),
    iconWidth: 12px,
    iconHeight: 12px,
    successIconColor: #fff,
    errorIconColor: #fff,
    pendingIconColor: rgba(0, 0, 0, 0.5),
    errorsBgColor: ef.get('mainColors', 'error'),
    errorsColor: #231f20,
    errorsMinWidth: 300px,
    errorsMaxWidth: 100%,
    errorsBorderRadius: 10px,
    errorsFontSize: 14px,
    errorsPadding: 10px,
), $customThemeDefault);
