@use 'engine-scss/functions' as ef;

$customMenuThemeContacts: () !default;
$menuThemeContacts: map-merge((
    'textTransform': inherit,
    'textColor': ef.get('mainColors', 'baseMain'),
    'textDecoration': none,
    'padding': 20px 25px,
    'letterSpacing': 1px,

    'hoverBg': ef.get('mainColors', 'main'),
    'hoverColor': ef.get('mainColors', 'baseMain'),

    'activeBg': ef.get('mainColors', 'main'),
    'activeColor': ef.get('mainColors', 'baseMain'),
    'borderColor': ef.get('mainColors', 'bg500'),
    'iconColor': ef.get('mainColors', 'main'),
), $customMenuThemeContacts);

$customMenuThemeDefault: () !default;
$menuThemeItems: map-merge((
    'btnCounterMarginLeft': ef.size(1),
), $customMenuThemeDefault);
