$customMenuThemeContacts: () !default;
$menuThemeContacts: map-merge((
    'textTransform': inherit,
    'textColor': var(--mc-baseMain),
    'textDecoration': none,
    'padding': 20px 25px,
    'letterSpacing': 1px,

    'hoverBg': var(--mc-main-o6),
    'hoverColor': var(--mc-baseMain),

    'activeBg': var(--mc-main),
    'activeColor': var(--mc-baseMain),
    'borderBottom': 2px solid var(--mc-baseOpacity),
    'iconColor': var(--mc-main),
), $customMenuThemeContacts);

$customMenuThemeDefault: () !default;
$menuThemeItems: map-merge((
    'btnCounterMarginLeft': ef.size(1),
), $customMenuThemeDefault);

$customThemeDropdown: () !default;
$themeDropdown: map-merge((
    'linkTextAlignItems': center,
    'linkTextJustifyContent': space-between,
), $customThemeDropdown);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'notifierConterTop': 6px,
    'notifierConterRight': 8px,
    'notifierAlignItems': center,
    'notifierJustifyContent': space-between,
), $customThemeDefault);

$customThemeSubmenu: () !default;
$themeSubmenu: map-merge((
    // menu
    'menuMargin': ef.size(3) 0 ef.size(4),
    'menuGridGap': ef.size(6),

    // menu item
    'menuItemRedefine': true,
    'menuItemFontName': 'PrimaryText',
    'menuItemColor': var(--mc-baseMain),
    'menuItemPadding': 0 0 ef.size(2),
    'menuItemTextTransform': none,
    'menuItemActiveWheit': 700,
    'menuItemActiveColor': var(--mc-baseMain),
    'menuItemActiveBorderBg': var(--mc-main),
    'menuItemDecorHeight': 2px,
), $customThemeSubmenu);
