$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gridGap': ef.size(4),
    'minItemWidth': 280px,
    'minItemWidthDesktop': 320px,
    'marginList': 0 auto,

    'gridColumn': (
        375: 1fr,
        640: 1fr 1fr,
        1024: 1fr 1fr 1fr,
        1366: 1fr 1fr 1fr 1fr,
        1630: 1fr 1fr 1fr,
    ),
    'gridColumnProfileThemeFirst': (
        375: 1fr,
        640: 1fr 1fr,
        1024: 1fr 1fr,
        1200: 1fr 1fr 1fr
    ),
    'alignNoContent': (
        375: center,
        1024: left,
    ),
    'bonusWidthFirst': (
        375: 300px,
        1024: auto,
    ),
    'swiperWidthWrapper': (
        480: 340px,
        640: unset,
        768: 650px,
        1024: unset,
    ),
    'sliderPadding': (
        720: 0
    ),
    'sliderDispley': (
        375: flex,
        1024: block,
    ),
    'swiperButtonDisplay': (
        375: flex,
    ),

    'widthList': (
        480: 340px,
        640: unset,
        768: 640px,
        1024: unset,
    ),
), $customThemeDefault);

$customThemePromo: () !default;
$themePromo: map-merge((
    'gridGap': (
        375: ef.size(2),
        560: ef.size(4),
    ),
    'minItemWidth': 280px,
    'minItemWidth900': 600px,
    'minItemWidth1200': 400px,
    'minItemWidthDesktop': 600px,
    'noContentTextAlign': center,
    'marginBtnGoToProfile': (
        375: ef.size(6) auto 0,
        900: ef.size(4) auto 0,
        1630: ef.size(8) auto 0,
    ),
), $customThemePromo);

$customThemePartial: () !default;
$themePartial: map-merge((
    'listMargin': ef.size(-2),
    'itemMargin': ef.size(2),
    'bonusBodyHeight': 235px,
    'bonusJustifyContent': center,
    'sliderZIndex': 2,
    'sliderPosLeft': 0,
    'sliderPosRight': 0,
    'sliderButtonHeight': 40px,
    'sliderMaxWidth': 270px,
    'sliderMargin': auto,
    'sliderAlignItems': center,
    'sliderJustifyContent': space-between,
), $customThemePartial);

$customThemePromoHome: () !default;
$themePromoHome: map-merge((
    'listRadius': ef.get('radius', 'biger'),
    'paginationBottom': (
        320: ef.size(6),
        1024: ef.size(8),
    ),
    'paginationRight': (
        320: ef.size(4),
        1024: ef.size(8),
    ),
    'paginationDisplay': (
        375: flex,
    ),

    'tagTopPosition': 0,
    'tagLeftPosition': 0,
    'tagPadding': (
        375: ef.size(2),
    ),
    'tagBg': ef.get('mainColors', 'main'),
    'tagMinWidth': 140px,
    'tagTextAlign': center,
    'tagBorderRadius': ef.size(2) 0 ef.size(2) 0,
    'tagColor': ef.get('mainColors', 'baseMain'),
), $customThemePromoHome);

$customThemeActive: () !default;
$themeActive: map-merge((
    'noContentPadding': ef.size(6) ef.size(4),
    'noContentBg': var(--mc-bg500),
    'noContentRadius': ef.size(2),
    'display': grid,
    'gridColumns': 1fr,
    'gridGap': ef.size(4) 0,
), $customThemeActive);

$customNoContent: () !default;
$noContent: map-merge((
    'noContentMargin':  80px 0 140px 0,
    'noContentMarginBtn': ef.size(8) 0 0 0,
    'noContentDisplay': flex,
    'noContentFDirection': column,
    'noContentAlignItems': center,
), $customNoContent);
