@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-category-menu--theme-default:host {
    width: 100%;

    ::ng-deep {

        .wlc-slider {

            &--on-start {
                box-shadow: 5px 0 5px -5px ef.get-value($themeDefault, 'swiperShadowColor');
            }

            &--on-end {
                box-shadow: -5px 0 5px -5px ef.get-value($themeDefault, 'swiperShadowColor');
            }

            &--on-progress {
                box-shadow: 5px 0 5px -5px ef.get-value($themeDefault, 'swiperShadowColor'), -5px 0 5px -5px ef.get-value($themeDefault, 'swiperShadowColor');
            }
        }

        .wlc-menu {
            width: 100%;
            display: block;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            @include bm.get-mq-map('grid-gap', $themeDefault, 'gapSize');
            align-items: center;

            &__link {
                position: relative;
                display: block;
                padding: ef.get-value($themeDefault, 'linkPadding');
                @include text.get-text-style(ef.get-value($themeDefault, 'linkFont'), ef.get-value($themeDefault, 'linkColor'));
                text-decoration: ef.get-value($themeDefault, 'linkDecoration');

                &:before {
                    content: '';
                    position: absolute;
                    bottom: ef.get-value($themeDefault, 'underlineOffset');
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 0;
                    background-color: ef.get-value($themeDefault, 'underlineColor');
                    border-radius: ef.get-value($themeDefault, 'underlineRadius');
                    opacity: 0;
                    pointer-events: none;
                }

                &.active {
                    color: ef.get-value($themeDefault, 'linkColorHovered');
                    font-weight: ef.get-value($themeDefault, 'linkActiveWeight');

                    &:before {
                        height: ef.get-value($themeDefault, 'underlineHeight');
                        opacity: 100%;
                        @include bm.transition();
                    }
                }

                @media (hover) {

                    &:hover {
                        color: ef.get-value($themeDefault, 'linkColorHovered');

                        &:before {
                            height: ef.get-value($themeDefault, 'underlineHeight');
                            opacity: 100%;
                            @include bm.transition();
                        }
                    }
                }
            }
        }
    }

    &.wlc-category-menu--theme-mod-with-icons {

        ::ng-deep {

            .wlc-menu {

                &__link {
                    display: flex;
                    flex-direction: ef.get-value($withIcons, 'iconDirection');
                    align-items: ef.get-value($withIcons, 'iconAlign');
                }

                &__icon {
                    width: ef.get-value($withIcons, 'menuIconOuterWidth');
                    height: ef.get-value($withIcons, 'menuIconOuterHeight');
                    margin-bottom: ef.get-value($withIcons, 'menuGag');

                    svg {
                        width: ef.get-value($withIcons, 'menuIconInnerWidth');
                        height: ef.get-value($withIcons, 'menuIconInnerHeight');
                        max-width: ef.get-value($withIcons, 'menuIconInnerMaxWidth');
                        max-height: ef.get-value($withIcons, 'menuIconInnerMaxHeight');
                        fill: ef.get-value($withIcons, 'menuIconInnerFill');
                    }
                }
            }
        }
    }
}
