@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;

.wlc-category-menu--type-dropdown:host {

    &.wlc-category-menu--theme-mod-vertical {

        .wlc-menu {
            display: grid;
            grid: {
                template-columns: 1fr;
                gap: ef.get-value($themeDropdownDefault, 'menuGag');
            }

            ::ng-deep {

                .wlc-menu__item {

                    &.active {

                        > .wlc-menu__link {
                            @include bm.transition();
                            color: ef.get-value($themeDropdownDefault, 'activeTabLinkColor');
                            background: ef.get-value($themeDropdownDefault, 'activeTabLinkBg');

                            .wlc-menu__icon-arrow {
                                @include bm.transition();
                                transform: rotate(180deg);

                                svg {
                                    fill: ef.get-value($themeDropdownDefault, 'arrowFillColorActive');
                                }
                            }
                        }
                    }

                    &--dropdown {

                        > .wlc-menu__link {

                            .wlc-icon {
                                transform: rotate(0);
                            }
                        }

                        .wlc-menu__icon {
                            display: block;
                            margin-right: 5px;

                            svg path,
                            svg {
                                fill: ef.get-value($withIcons, 'iconColor');
                            }

                            svg {
                                max-width: 20px;
                                height: auto;
                            }
                        }
                    }
                }

                .wlc-menu__link {
                    @include text.get-text-style('PrimaryText', ef.get-value($themeDropdownDefault, 'linkColor'));
                    z-index: 2;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: ef.get-value($themeDropdownDefault, 'linkPadding');
                    text-decoration: none;
                    background: ef.get-value($themeDropdownDefault, 'linkBg');
                    cursor: pointer;
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');

                    &.active {
                        @include bm.transition(background);
                        background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                    }

                    .wlc-menu__icon-arrow {
                        @include bm.transition();
                        margin-left: auto;
                        transform: rotate(-90deg);

                        svg {
                            fill: ef.get-value($themeDropdownDefault, 'arrowFillColor');
                        }
                    }

                    @include bm.hover {
                        @include bm.transition(background);
                        background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                    }
                }

                .wlc-menu__submenu {
                    margin-top: ef.get-value($themeDropdownDefault, 'menuGag');
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                    background: ef.get-value($themeDropdownDefault, 'submenuBg');
                    overflow: hidden;

                    .wlc-menu__link {
                        background: transparent;

                        &.active {
                            @include bm.transition(background);
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                        }
                    }
                }
            }
        }
    }
}
