@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/functions' as ef;

.wlc-category-menu--theme-with-icons:host {

    ::ng-deep {

        .wlc-menu {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: auto;

            .wlc-menu__item {
                display: flex;
                flex-direction: column;
                transition: ef.get-value($withIcons, 'transition');
                cursor: pointer;

                @include bm.get-mq-map('padding', $withIcons, 'menuItemPadding');
                @include bm.get-mq-map('margin', $withIcons, 'menuItemMargin');

                &:first-child {
                    margin-left: 0;
                }

                .wlc-icon-content {
                    display: block;
                }

                .wlc-menu__link {
                    @include lib.get-text-style('PlaceholderText', ef.get-value($withIcons, 'menuItemColor'));
                    text-align: ef.get-value($withIcons, 'menuItemTextAlign');
                    transition: ef.get-value($withIcons, 'transition');
                    text-decoration: none;
                }

                &:hover {

                    .wlc-menu__link {
                        color: ef.get-value($withIcons, 'menuItemHoverColor');
                    }
                }
            }
        }
    }
}
