
<div *wlcLet="referralsList$ | async as refList" class="{{$class}}__wrap">
    <ng-container [ngTemplateOutlet]="filters" [ngTemplateOutletContext]="{$implicit: refList}"></ng-container>
    <ng-container [ngTemplateOutlet]="summary"></ng-container>
    <ng-container [ngTemplateOutlet]="list" [ngTemplateOutletContext]="{$implicit: refList}"></ng-container>
</div>

<ng-template #filters let-refList>
    <div class="{{$class}}__filters" [ngStyle]="{pointerEvents: refList ? 'all' : 'none'}">
        <div class="{{$class}}__filter-item {{$class}}__filter-item--months">
            <div wlc-select [inlineParams]="monthSelect"></div>
        </div>
        <div class="{{$class}}__filter-item {{$class}}__filter-item--years">
            <div wlc-select [inlineParams]="yearSelect"></div>
        </div>
    </div>
</ng-template>
<ng-template #summary>
    <ul class="{{$class}}__summary">
        <li class="{{$class}}__summary-item">{{'Results:' | translate}} {{filterInterval}}</li>
        <li class="{{$class}}__summary-item">
            {{'Total profit by month:' | translate}}
            <span wlc-currency
                [value]="monthProfit"
                currency="EUR">
            </span>
        </li>
        <li class="{{$class}}__summary-item">{{'Number of profit referrals:' | translate}} {{profitReferralsCount}}</li>
    </ul>
</ng-template>

<ng-template #list let-refList>
    <div *ngIf="refList; else loader" class="{{$class}}__list-container">
        <div *ngIf="refList.length; else emptyData" class="{{$class}}__list-wrapper">
            <ul class="{{$class}}__list">
                <li class="{{$class}}__item {{$class}}__item--head">
                    <div class="{{$class}}__item-col">{{'ID'}}</div>
                    <div class="{{$class}}__item-col">{{'Profit' | translate}}</div>
                </li>
                <li *ngFor="let item of refList" class="{{$class}}__item">
                    <div class="{{$class}}__item-col {{$class}}__item-col--name">{{item.id}}</div>
                    <div class="{{$class}}__item-col {{$class}}__item-col--profit">
                        <span wlc-currency
                            [value]="item.profit"
                            currency="EUR">
                        </span>
                    </div>
                </li>
            </ul>

            <button *ngIf="showMoreBtn"
                class="{{$class}}__more-btn"
                (click)="toggleRowsExpansion()">
                {{showAllText | translate}}
            </button>
        </div>
    </div>
</ng-template>

<ng-template #emptyData>
    <div wlc-wrapper
        class="{{$class}}__empty"
        [inlineParams]="emptyDataConfig"></div>
</ng-template>

<ng-template #loader>
    <div wlc-loader></div>
</ng-template>
