$selector: '.wlc-table';

.wlc-table--theme-default:host {
    display: flex;
    flex-direction: column;

    &.wlc-table {

        &.wlc-table--table {
            gap: ef.get-value($themeDefault, 'rootGapDesktop');
            min-height: ef.get-value($themeDefault, 'rootMinHeightDesktop');

            #{$selector}__content {
                @include tableContent($themeDefault, true);
            }

            #{$selector}__row {
                @include tableRow($themeDefault, true);
            }

            #{$selector}__cell {
                @include tableCell($themeDefault, true);
            }

            #{$selector}__note {
                @include tableNote($themeDefault, true);
            }
        }

        &.wlc-table--mobile {
            gap: ef.get-value($themeDefault, 'rootGapMobile');
            min-height: ef.get-value($themeDefault, 'rootMinHeightMobile');

            #{$selector}__content {
                @include tableContent($themeDefault, false);
            }

            #{$selector}__row {
                @include tableRow($themeDefault, false);
            }

            #{$selector}__cell {
                @include tableCell($themeDefault, false);
            }

            #{$selector}__note {
                @include tableNote($themeDefault, false);
            }
        }

        //TODO move it out
        #{$selector}__cell {

            ::ng-deep {

                .wlc-currency-wrapper {
                    display: ef.get-value($themeDefault, 'currencyWrapperDisplay');
                    gap: ef.get-value($themeDefault, 'currencyWrapperGap');
                    align-items: ef.get-value($themeDefault, 'currencyWrapperAlignItems');
                    justify-content: ef.get-value($themeDefault, 'currencyWrapperJustifyContent');

                    .wlc-icon {

                        svg {
                            width: ef.get-value($themeDefault, 'currencyIconSize');
                            height: ef.get-value($themeDefault, 'currencyIconSize');
                            transform: translateY(-1px);
                        }
                    }
                }
            }
        }
    }

    //Custom mod only for wolf branch
    &.wlc-table--wolf-colors {
        --wlc-tbl-row-mobile-bg: #{ef.get-value($themeDefault, 'rowBackgroundAlternativeMobile')};
        --wlc-tbl-row-mobile-bg-show: #{ef.get-value($themeDefault, 'rowBackgroundAlternativeMobileOnShow')};
        --wlc-tbl-row-head-fw: 400;
    }
}
