@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

.wlc-table--theme-tournaments:host {
    @include bm.get-mq-map('gap', $themeTournaments, 'btnShowMoreGap');
    @include bm.get-mq-map('min-height', $themeTournaments, 'sectionLoaderHeight');
    display: flex;
    flex-direction: column;
    align-items: center;


    .wlc-btn--theme-default {
        @include bm.get-mq-map('margin', $themeTournaments, 'btnShowMoreMargin');
    }

    &.wlc-table--paginated-rows-2 {

        .wlc-table__row {

            &:nth-child(3) {

                .wlc-table__cell {
                    padding: ef.get-value($themeTournaments, 'cellPadding') 0 ef.get-value($themeTournaments, 'cellPadding') * 2;
                }
            }
        }
    }

    &.wlc-table--paginated-rows-1 {

        .wlc-table__row {

            &:last-child {

                .wlc-table__cell {
                    padding: (ef.get-value($themeTournaments, 'cellPadding') * 2) 0;
                }
            }
        }
    }

    .wlc-table {

        &__content {
            display: table;
            width: 100%;
            border-collapse: collapse;

            &.content-small {

                .wlc-table__row {

                    &:last-child {

                        .wlc-table__cell {

                            &:first-child {
                                @include bm.get-mq-map('border-radius', $themeTournaments, 'smallCellRadiusFirstChild');
                            }

                            &:last-child {
                                @include bm.get-mq-map('border-radius', $themeTournaments, 'smallCellRadiusLastChild');
                            }
                        }
                    }
                }
            }

            &.content-one {

                .wlc-table__row {

                    &:last-child {

                        .wlc-table__cell {

                            &:first-child {
                                @include bm.get-mq-map('border-radius', $themeTournaments, 'oneCellRadiusFirstChild');
                            }

                            &:last-child {
                                @include bm.get-mq-map('border-radius', $themeTournaments, 'oneCellRadiusLastChild');
                            }
                        }
                    }
                }
            }
        }

        &__row {
            @include bm.get-mq-map('border', $themeTournaments, 'rowBorder');
            @include bm.get-mq-map('border-radius', $themeTournaments, 'rowRadiusSize');
            @include bm.get-mq-map('background', $themeTournaments, 'rowBg');
            position: relative;
            display: table-row;
            height: fit-content;
            overflow: hidden;

            &.wlc-show {
                border: none;
            }

            &--head {
                @include bm.get-mq-map('background', $themeTournaments, 'headBg');
                display: table-row;

                .wlc-table__cell {
                    padding: ef.get-value($themeTournaments, 'headCellPadding');
                    font-weight: ef.get-value($themeTournaments, 'headTextStyle');
                    font-size: ef.get-value($themeTournaments, 'headTextSize');

                    &:last-child {
                        @include bm.get-mq-map('text-align', $themeTournaments, 'prizeTextAlign');
                        @include bm.get-mq-map('padding-right', $themeTournaments, 'prizePaddingRight');
                        @include bm.get-mq-map('width', $themeTournaments, 'prizeWidth');
                    }
                }
            }

            &--odd {
                background: none;

                .wlc-table__cell {
                    @include bm.get-mq-map('background', $themeTournaments, 'rowBgOdd');
                }
            }

            &--even {
                background: none;

                .wlc-table__cell {
                    @include bm.get-mq-map('background', $themeTournaments, 'rowBgEven');
                }
            }


            &:nth-child(2) {

                .wlc-table__cell {
                    padding: (ef.get-value($themeTournaments, 'cellPadding') * 2) 0 ef.get-value($themeTournaments, 'cellPadding');
                    font-weight: ef.get-value($themeTournaments, 'cellTextStyleBold');

                    &:first-child {
                        @include bm.get-mq-map('border-radius', $themeTournaments, 'cellTopRadiusFirstChild');
                    }

                    &:last-child {
                        @include bm.get-mq-map('border-radius', $themeTournaments, 'cellTopRadiusLastChild');
                    }
                }
            }

            &:nth-child(3) {

                .wlc-table__cell {
                    @include bm.get-mq-map('background', $themeTournaments, 'rowBgOdd');
                    font-weight: ef.get-value($themeTournaments, 'cellTextStyleBold');

                    &:first-child {
                        border-radius: 0;
                    }

                    &:last-child {
                        border-radius: 0;
                    }
                }
            }

            &:nth-child(4) {

                .wlc-table__cell {
                    padding: ef.get-value($themeTournaments, 'cellPadding') 0 (ef.get-value($themeTournaments, 'cellPadding') * 2);
                    font-weight: ef.get-value($themeTournaments, 'cellTextStyleBold');

                    &:first-child {
                        @include bm.get-mq-map('border-radius', $themeTournaments, 'cellBottomRadiusFirstChild');
                    }

                    &:last-child {
                        @include bm.get-mq-map('border-radius', $themeTournaments, 'cellBottomRadiusLastChild');
                    }
                }
            }
        }

        &__cell {
            @include text.get-text-style(
                ef.get-value($themeTournaments, 'cellTextStyle'),
                ef.get-value($themeTournaments, 'cellTextColor')
            );
            @include bm.get-mq-map('border', $themeTournaments, 'cellBorder');
            @include bm.get-mq-map('text-align', $themeTournaments, 'cellTextAlign');
            display: table-cell;
            height: 25px;
            vertical-align: middle;

            &:first-child {
                @include bm.get-mq-map('border-radius', $themeTournaments, 'cellRadiusFirstChild');
            }

            &:last-child {
                @include bm.get-mq-map('border-radius', $themeTournaments, 'cellRadiusLastChild');

                .wlc-table__cell-content {
                    @include bm.get-mq-map('text-align', $themeTournaments, 'prizeTextAlign');
                    @include bm.get-mq-map('padding-right', $themeTournaments, 'prizePaddingRight');
                }
            }

            &--index {
                width: 10%;
            }

            ::ng-deep p {
                margin: 0;
            }

            &-label,
            &-arrow {
                display: none;
            }

            &-content {
                @include bm.get-mq-map('text-align', $themeTournaments, 'cellTextAlign');
                @include bm.get-mq-map('justify-self', $themeTournaments, 'cellTextAlign');
            }
        }
    }
}
