<ng-container *ngIf="ready; else loading">
    <div class="{{$class}}__header">
        <div class="{{$class}}__logo"
            wlc-icon-list-item
            [attr.data-wlc-element]="icon.wlcElement"
            [icon]="icon"
            [inlineParams]="{class: $class + '-logo'}">
        </div>

        <p class="{{$class}}__subtitle">{{'provider' | translate}}</p>

        <h1 class="{{$class}}__title">{{provider.alias | translate}}</h1>
    </div>

    <div class="{{$class}}__games"
        *ngFor="let grid of gamesGridList"
        wlc-games-grid
        [inlineParams]="grid"></div>
</ng-container>

<ng-template #loading>
    <div class="{{$class}}__loader" wlc-loader></div>
</ng-template>

