@import './themes/default';
@import './themes/placeholder-shown';
@import './themes/vertical';

.hidden-input.hidden-input.hidden-input.hidden-input:not(.clever-chrome) {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
