@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/common.mixins' as cm;

@import './utils/vars';
@import './utils/vars-mobile-app';
@import './utils/mixins';

@import './themes/default';
@import './themes/placeholder-shown';
@import './themes/vertical';
@import './themes/mobile-app';

.hidden-input.hidden-input.hidden-input.hidden-input:not(.clever-chrome) {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

.wlc-input:host {

    input {

        &:disabled {
            /* stylelint-disable */
            -webkit-opacity: ef.get-value($themeDefault, 'inputDisabledOpacity');
            -webkit-text-fill-color: ef.get-value($themeDefault, 'inputDisabledColor');
        }

        &[type='number'] {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* stylelint-enable */
        }


        &[type='password'] {
            font-family: Helvetica, Arial, sans-serif;
        }
    }
}
