@use 'engine-scss/functions' as ef;

$color: ef.get('color', 'text') !default;

$titleColor: ef.get('color', 'main') !default;
$titleWeight: bold !default;
$titlePadding: 0 0 ef.get('size', 'smaller') 0 !default;

$linksGap: ef.get('size', 'small') !default;

$linkColor: ef.get('mainColors', 'baseMain') !default;
$linkSize: 100% !default;
$linkDecoration: none !default;

// theme contacts
$textColor: ef.get('color', 'link') !default;
$fontWeight: 700 !default;
$fontSize: ef.get('font', 'main') !default;
$padding: 20px 25px !default;

$linkActiveBgthemeContacts: #292929 !default;
$linkActiveColorthemeContacts: #fff !default;

$customMenuThemeContacts: () !default;
$menuThemeContacts: map-merge((
    'textTransform': inherit,
    'textColor': #fff,
    'textColorHover': darken(ef.get('color', 'linkSecondary'), 5%),
    'textDecoration': none,
    'fontWeight': 700,
    'fontSize': ef.get('font', 'main'),
    'padding': 20px 25px,
    'letterSpacing': 1px,

    'hoverBg': ef.get('color', 'link'),
    'hoverColor': #fff,

    'activeBg': #717273,
    'activeColor': #fff,
    'borderColor': #717273,
), $customMenuThemeContacts);
