@use 'engine-scss/functions' as ef;

$color: ef.get('mainColors', 'baseMain') !default;

$titleColor: ef.get('color', 'main') !default;
$titleWeight: bold !default;
$titlePadding: 0 0 ef.get('size', 'smaller') 0 !default;

$linksGap: ef.get('size', 'small') !default;

$linkColor: ef.get('mainColors', 'baseMain') !default;
$linkSize: 100% !default;
$linkDecoration: none !default;

// theme contacts
$textColor: ef.get('mainColors', 'baseMain') !default;
$fontWeight: 700 !default;
$fontSize: ef.get('font', 'main') !default;
$padding: 20px 25px !default;

$customMenuThemeContacts: () !default;
$menuThemeContacts: map-merge((
    'textTransform': inherit,
    'textColor': ef.get('mainColors', 'baseMain'),
    'textColorHover': darken(ef.get('mainColors', 'baseMain'), 5%),
    'textDecoration': none,
    'fontWeight': 700,
    'fontSize': ef.get('font', 'main'),
    'padding': 20px 25px,
    'letterSpacing': 1px,

    'hoverBg': ef.get('mainColors', 'main'),
    'hoverColor': ef.get('mainColors', 'baseMain'),

    'activeBg': ef.get('mainColors', 'main'),
    'activeColor': ef.get('mainColors', 'baseMain'),
    'borderColor': ef.get('mainColors', 'bg500'),
), $customMenuThemeContacts);
