@use 'engine-scss/functions' as ef;

$color: ef.get('color', 'text') !default;

$titleColor: ef.get('color', 'main') !default;
$titleWeight: bold !default;
$titlePadding: 0 0 ef.get('size', 'smaller') 0 !default;

$linksGap: ef.get('size', 'small') !default;

$linkColor: ef.get('mainColor', 'baseMain') !default;
$linkSize: 100% !default;
$linkDecoration: none !default;

// theme contacts
$textColor: ef.get('color', 'link') !default;
$fontWeight: 700 !default;
$fontSize: ef.get('font', 'main') !default;
$padding: 20px 25px;
