<div class="{{$class}}__bg"></div>

<div class="{{$class}}__title">{{$params.title | translate}}</div>

<div class="{{$class}}__header">
    <span class="{{$class}}__header-prefix">{{$params.headerMessage | translate}}</span>
    <span class="{{$class}}__header-text">{{$params.bonus.name}}</span>
</div>

<div wlc-icon
    class="{{$class}}__image"
    [iconUrl]="$params.image"
    [fallback]="$params.imageFallback">
</div>

<div class="{{$class}}__description">{{$params.bonus.description}}</div>

<button wlc-button
    class="{{$class}}__btn"
    [inlineParams]="$params.takeBtnParams"
    (click)="$params.onConfirm?.()">
</button>
