@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';


.wlc-tournament--theme-dashboard:host {
    height: 100%;

    .wlc-tournament {

        &__more-icon {
            position: absolute;
            z-index: 2;
            top: ef.get-value($themeDashboard, 'moreIconTop');
            right: ef.get-value($themeDashboard, 'moreIconRight');

            .wlc-icon::ng-deep {
                width: ef.get-value($themeDashboard, 'moreIconSize');
                height: ef.get-value($themeDashboard, 'moreIconSize');
                position: relative;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: ef.get-value($themeDashboard, 'moreIconColor');
                    @include em.transition(fill);
                }
            }

            @media (hover: hover) {

                &:hover {

                    .wlc-icon::ng-deep {

                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            width: 90%;
                            height: 90%;
                            margin-top: 20%;
                            top: 0;
                            left: 5%;
                            background-color: ef.get-value($themeDashboard, 'moreIconColor');
                            border-radius: 50%;
                            z-index: -1;
                        }

                        svg {
                            fill: ef.get-value($themeDashboard, 'moreIconColorHover');
                        }
                    }
                }
            }
        }


        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;

            &.selected {
                display: block;

                .wlc-tournament__more-icon {
                    top: ef.get-value($themeDashboard, 'moreIconSelectedTop');
                    right: ef.get-value($themeDashboard, 'moreIconSelectedRight');
                }
            }
        }

        &__img-container {
            width: ef.get-value($themeDashboard, 'imgWidth');
            height: ef.get-value($themeDashboard, 'imgHeight');
            min-height: ef.get-value($themeDashboard, 'imgHeight');
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: ef.get-value($themeDashboard, 'gapNoSelect');
            border-radius: ef.get-value($themeDashboard, 'borderRadius');
        }

        &__image {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &__title {
            position: absolute;
            bottom: -1px;
            top: 33%;
            left: 0;
            right: 0;
            background: ef.get-value($themeDashboard, 'titleBg');
            width: 100%;
            font-weight: bold;
            padding: ef.get-value($themeDashboard, 'titlePadding');
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                width: 100%;
                line-height: 1.5;
                font-size: ef.get-value($themeDashboard, 'headerFontSize');
                text-align: center;
                /* stylelint-disable */
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                /* stylelint-enable */
                overflow: hidden;
            }
        }

        &__timer {

            &.wlc-timer::ng-deep {

                .wlc-timer__timer-text {
                    font-size: ef.get-value($themeDashboard, 'timerFontSize');
                }
            }
        }

        &__description {
            font-size: ef.get-value($themeDashboard, 'descrFontSize');
            padding: ef.get-value($themeDashboard, 'descrPadding');
            background-color: ef.get-value($themeDashboard, 'rowBg');
            border-radius: ef.get-value($themeDashboard, 'borderRadius');
            margin-top: ef.get-value($themeDashboard, 'gapNoSelect');

            span {
                width: 100%;
                text-align: center;
                /* stylelint-disable */
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                /* stylelint-enable */
                overflow: hidden;
            }
        }

        &__btns {
            margin-top: ef.get-value($themeDashboard, 'gapNoSelect');
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__board {
            padding: ef.get-value($themeDashboard, 'gap') 0 ef.get-value($themeDashboard, 'gap') 0;
        }
    }
}
