<div *ngIf="steps.length && ready" class="container {{$class}}--{{deviceType}}">
    <div *ngIf="deviceType !== 'desktop'" class="{{$class}}__tabs-head">
        <div *ngFor="let step of availableSteps; index as $index"
            class="{{$class}}__tab"
            [class.active]="isActiveStep($index)"
            (click)="selectTab($index)">
            <span class="{{$class}}__tab-number">{{$index+1}}</span>
        </div>
    </div>
    <div class="{{$class}}__content">
        <ng-container *ngFor="let step of availableSteps; index as $index" [ngSwitch]="getStepType(step)">
            <ng-container *ngSwitchCase="'sref'"
                            [ngTemplateOutlet]="sref"
                            [ngTemplateOutletContext]="{step: step, index: $index}">
            </ng-container>
            <ng-container *ngSwitchCase="'href'"
                            [ngTemplateOutlet]="href"
                            [ngTemplateOutletContext]="{step: step, index: $index}">
            </ng-container>
            <ng-container *ngSwitchCase="'modal'"
                            [ngTemplateOutlet]="modal"
                            [ngTemplateOutletContext]="{step: step, index: $index}">
            </ng-container>
            <ng-container *ngSwitchDefault
                            [ngTemplateOutlet]="default"
                            [ngTemplateOutletContext]="{step: step, index: $index}">
            </ng-container>
        </ng-container>

        <ng-template #sref let-step="step" let-index="index">
            <a class="{{$class}}__step {{$class}}__step--link"
                uiSref="{{step.sref}}" 
                [uiParams]="getSrefParams(step.srefparams)"
                [class.active]="isActiveStep(index)">
                <ng-container [ngTemplateOutlet]="stepContent" [ngTemplateOutletContext]="{step: step}"></ng-container>
            </a>
        </ng-template>

        <ng-template #href let-step="step" let-index="index">
            <a href="{{step.href}}" 
                class="{{$class}}__step {{$class}}__step--link"
                [class.active]="isActiveStep(index)">
                <ng-container [ngTemplateOutlet]="stepContent" [ngTemplateOutletContext]="{step: step}"></ng-container>
            </a>
        </ng-template>

        <ng-template #modal let-step="step" let-index="index">
            <button class="{{$class}}__step {{$class}}__step--modal"
                    [class.active]="isActiveStep(index)"
                    (click)="showModal(step.modal)">
                    <ng-container [ngTemplateOutlet]="stepContent" [ngTemplateOutletContext]="{step: step}"></ng-container>
            </button>
        </ng-template>

        <ng-template #default let-step="step" let-index="index">
            <div class="{{$class}}__step" [class.active]="isActiveStep(index)">
                <ng-container [ngTemplateOutlet]="stepContent" [ngTemplateOutletContext]="{step: step}"></ng-container>
            </div>
        </ng-template>

        <ng-template #stepContent let-step="step">
            <span class="{{$class}}__step-title">
                {{step.title}}
            </span>
            <span class="{{$class}}__step-desc-wrap">
                <span class="{{$class}}__step-desc">
                    {{step.desc}}
                    <span *ngIf="getStepType(step) === 'modal'" wlc-icon iconName="arrow"></span>
                </span>
            </span>
        </ng-template>
    </div>
</div>
