<div *wlcLet="levelData$ | async as levelData" class="{{$class}}__content"
    data-wlc-element="block_game-play-info-exp-line">
    <div class="{{$class}}__title" data-wlc-element="user-loyalty-title">
        {{levelData.levelName}}
    </div>
    <div class="{{$class}}__line">
        <div class="{{$class}}__line-current"
             [ngStyle]="{'width' :  levelData.percentProgress + '%'}"></div>
        <div class="{{$class}}__line-sum"></div>
    </div>
    <div class="{{$class}}__points" data-wlc-element="user-loyalty-points">
        <div wlc-currency
             class="{{$class}}__points-start"
             currency=""
             [showValueOnly]="true"
             [value]="levelData.userPoints">
        </div>
        <div class="{{$class}}__points-end">
            <ng-container *ngIf="levelData.percentProgress < 100; else maxLevel">
                {{levelData.nextLevelPoints}}
            </ng-container>
        </div>
    </div>
</div>

<ng-template #maxLevel>
    {{$params.common.maxProgressText | translate}}
</ng-template>
