.wlc-radio-buttons--theme-default:host {

    .wlc-radio-buttons {

        &__title {
            @include text.get-text-style('SignText', ef.get-value($themeButton, 'titleColor'));
            width: ef.get-value($themeButton, 'titleWidth');
            padding: ef.get-value($themeButton, 'titlePadding');
        }

        &__elems {
            display: grid;
            grid-gap: ef.get-value($themeDefault, 'elemsGap');
            grid-template-columns: ef.get-value($themeDefault, 'elemsColumns');
        }

        &__group {
            cursor: pointer;

            &.active {
                cursor: default;
            }
        }

        &__text {
            grid-column: 2;
            text-align: center;
        }

        &__radio {
            @include bm.visuallyHidden();
        }
    }
}
