@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

@import '../utils/vars';

.app-profile-dashboard-state {

    .wlc-sections__profile-content {

        .wlc-dashboard-grid {
            @include em.get-mq-map('grid-template-columns', $dashboardThemeDefault, 'gridTemplateColumns');
            @include em.get-mq-map('grid-template-rows', $dashboardThemeDefault, 'gridTemplateRows');
            @include em.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'gridTemplateAreas');
            @include em.get-mq-map('grid-gap', $dashboardThemeDefault, 'gridGap');

            position: relative;
            display: grid;

            &.without-store {
                @include em.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'gridTemplateAreasWithoutStore');
            }
        }
    }

    .wlc-profile-content__top {
        @include em.get-mq-map('display', $dashboardThemeDefault, 'topDisplay');
        justify-content: space-between;

        .wlc-logout {

            svg {
                margin: ef.get-value($dashboardThemeDefault, 'logoutSvgMargin');
            }
        }
    }

    .wlc-title--profile-bonuses {
        @include em.get-mq-map('margin', $dashboardThemeDefault, 'titleMargin');
        grid-area: bonuses-title;
    }

    .wlc-loyalty-block {
        grid-area: loyalty;
    }

    .wlc-exchange {
        grid-area: exchange;
    }

    .wlc-enter-promocode {
        grid-area: promocode;
    }

    .wlc-link-block {
        grid-area: see-all-bonuses;
    }

    .wlc-bonuses-list {
        grid-area: bonuses;
        max-width: ef.get-value($dashboardThemeDefault, 'bonusesListMaxWidth');

        &.wlc-bonuses-list--type-swiper {

            .wlc-bonuses-list__list-wrapper {
                @include em.get-mq-map('padding', $dashboardThemeDefault, 'swiperContainerPadding');

                .swiper-container[class] {
                    padding: 0;
                }

                .swiper-button-prev[class] {
                    @include em.get-mq-map('left', $dashboardThemeDefault, 'swiperButtonLeft');
                }

                .swiper-button-next[class] {
                    @include em.get-mq-map('right', $dashboardThemeDefault, 'swiperButtonRight');
                }
            }

            &.single-bonus-swiper {

                .wlc-bonuses-list__list-wrapper {
                    padding: ef.get-value($dashboardThemeDefault, 'singleBonusWrapperPadding');
                }

                @include mq.min(1024) {
                    grid-area: ef.get-value($dashboardThemeDefault, 'singleBonusGridArea');
                    grid-row: ef.get-value($dashboardThemeDefault, 'singleBonusGridRow');
                    grid-column: ef.get-value($dashboardThemeDefault, 'singleBonusGridColumn');
                    margin: ef.get-value($dashboardThemeDefault, 'singleBonusGridMargin');

                    & ~ .wlc-enter-promocode {
                        grid-area: ef.get-value($dashboardThemeDefault, 'singleBonusPromocodeGridArea');
                        grid-row: ef.get-value($dashboardThemeDefault, 'singleBonusPromocodeGridRow');
                        grid-column: ef.get-value($dashboardThemeDefault, 'singleBonusPromocodeGridColumn');
                    }

                    & ~ .wlc-link-block {
                        grid-area: ef.get-value($dashboardThemeDefault, 'singleBonusLinkGridArea');
                        grid-row: ef.get-value($dashboardThemeDefault, 'singleBonusLinkGridRow');
                        grid-column: ef.get-value($dashboardThemeDefault, 'singleBonusLinkGridColumn');
                    }
                }
            }
        }
    }
}
