.app-profile-dashboard-state {
    @include bm.get-mq-map('--profile-dashboard-gap', $dashboardThemeDefault, 'gridGap');

    .wlc-profile-content__top {
        @include bm.get-mq-map('display', $dashboardThemeDefault, 'topDisplay');
        justify-content: space-between;
    }

    .wlc-title--profile-bonuses {
        @include bm.get-mq-map('margin', $dashboardThemeDefault, 'titleMargin');
    }

    .wlc-loyalty-block {
        grid-area: loyalty;
    }

    .wlc-exchange,
    .wlc-user-stats:not(.wlc-exchange__info) {
        grid-area: exchange;
    }

    .wlc-enter-promocode {
        grid-area: promocode;
    }

    .wlc-link-block {
        grid-area: link-block;
    }

    .wlc-dashboard__top,
    .wlc-dashboard__bottom,
    .wlc-dashboard__promo {
        display: grid;
        gap: var(--profile-dashboard-gap);
    }

    .wlc-dashboard__top {
        @include bm.get-mq-map('grid-template-columns', $dashboardThemeDefault, 'sectTopColumns');
        @include bm.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'sectTopAreas');

        &.without-store {
            @include bm.get-mq-map('grid-template-columns', $dashboardThemeDefault, 'sectTopColumnsWithoutStore');
            @include bm.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'sectTopAreasWithoutStore');
        }
    }

    .wlc-dashboard__bottom {
        @include bm.get-mq-map('grid-template-columns', $dashboardThemeDefault, 'sectBottomColumns');
    }

    .wlc-dashboard__promo {
        @include bm.get-mq-map('grid-template-columns', $dashboardThemeDefault, 'sectPromoColumns');
        @include bm.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'sectPromoAreas');
        @include bm.get-mq-map('grid-column', $dashboardThemeDefault, 'sectPromoColSpan');
    }

    .wlc-bonuses-list--profile-dashboard {
        @include bm.get-mq-map('grid-column', $dashboardThemeDefault, 'bonusesListColSpan');

        &.wlc-bonuses-list--count-1-bonus {
            @include bm.get-mq-map('grid-column', $dashboardThemeDefault, 'bonusesListColSpanSingle');

            + .wlc-dashboard__promo {
                @include bm.get-mq-map('grid-template-areas', $dashboardThemeDefault, 'sectPromoAreasSingle');
                @include bm.get-mq-map('grid-column', $dashboardThemeDefault, 'sectPromoColSpanSingle');
            }
        }
    }

    .wlc-sections__profile-content {

        .container {
            overflow: hidden;
        }
    }
}
