.wlc-store-list--theme-default {

    &:host {

        .wlc-store-list__list {
            @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridTemplateColumns');

            display: flex;
            flex-direction: column;
            align-items: center;

            > div {
                width: 100%;
                margin-bottom: ef.get-value($themeDefault, 'gridGap');
            }

            @include mq.min(720) {
                display: grid;
                grid-gap: ef.get-value($themeDefault, 'gridGap');

                > div {
                    margin-bottom: 0;
                }

                &.first {
                    grid-template-columns: repeat(auto-fill, minmax(ef.get-value($themeDefault, 'minItemWidthFirst'), 1fr));
                }
            }
        }

        .wlc-store-list__nocontent {
            text-align: center;

            @include mq.min(1024) {
                text-align: left;
            }
        }

        .wlc-store-list__alert-block {
            max-width: 100%;
            padding: ef.get-value($themeDefault, 'alertPadding');
        }
    }
}
