.wlc-store-list--theme-default {

    &:host {

        .wlc-store-list__list {
            display: flex;
            flex-direction: column;
            align-items: center;

            > div {
                width: 100%;
                margin-bottom: ef.get-value($themeDefault, 'gridGap');
            }

            @include mq.min(720) {
                display: grid;
                grid-gap: ef.get-value($themeDefault, 'gridGap');
                grid-template-columns: repeat(auto-fill, minmax(ef.get-value($themeDefault, 'minItemWidth'), 1fr));

                > div {
                    margin-bottom: 0;
                }

                &.first {
                    grid-template-columns: repeat(auto-fill, minmax(ef.get-value($themeDefault, 'minItemWidthFirst'), 1fr));
                }
            }

            @include mq.min(1630) {
                grid-template-columns: repeat(auto-fill, minmax(ef.get-value($themeDefault, 'minItemWidthDesktop'), 1fr));
            }
        }

        .wlc-store-list__nocontent {
            text-align: center;

            @include mq.min(1024) {
                text-align: left;
            }
        }
    }
}
