.wlc-birth-field--theme-vertical {

    &:host {
        display: grid;
        grid-template-columns: ef.get-value($themeVertical, 'templateColumns');
        gap: ef.get-value($themeVertical, 'gap');
        align-items: flex-end;

        ::ng-deep {

            .wlc-select--theme-vertical {
                grid-template-columns: ef.get-value($themeVertical, 'selectTemplateColumns');

                .wlc-select__label {
                    overflow: visible;
                    white-space: nowrap;
                }
            }
        }
    }
}
