@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@import './vars';

@mixin selectBase($theme) {
    display: grid;
    grid-gap: ef.get-value($theme, 'labelGap');
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
}

@mixin dropdownBase {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 15;

    width: 100%;
    max-height: ef.get-value($baseSettings, 'selectDropdownHeight');

    padding: 0;
    border: ef.get-value($baseSettings, 'selectDropdownBorder');
    border-radius: ef.get-value($baseSettings, 'selectDropdownBorderRadius');
    list-style: none;
    background: ef.get-value($baseSettings, 'selectDropdownBackground');
    box-shadow: ef.get-value($baseSettings, 'selectDropdownBoxShadow');
    overflow: hidden auto;
}

@mixin dropdownItemBase {
    display: flex;
    align-items: center;
    //todo make via display block for text-overflow supports
    width: 100%;
    min-height: ef.get-value($baseSettings, 'selectHeight');
    padding: ef.get-value($baseSettings, 'selectDropdownItemPadding');
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
}

@mixin baseStatusIcon {
    position: absolute;
    top: 50%;
    right: ef.get-value($baseSettings, 'iconRightShift');

    width: ef.get-value($baseSettings, 'iconWidth');
    height: ef.get-value($baseSettings, 'iconHeight');

    transform: translateY(-50%);
    border-radius: 50%;

    &:before {
        content: '';
        position: absolute;
    }
}

@mixin baseStatusArrow {
    @include bm.transition(transform);
    position: absolute;
    top: 50%;
    right: ef.get-value($themeDefault, 'iconRightShift');
    transform: translateY(-50%);
    cursor: pointer;

    &.active {
        @include bm.transition(transform);
        transform: translateY(-50%) rotate(180deg);
    }

    ::ng-deep {

        svg {
            fill: ef.get-value($baseSettings, 'selectArrowColor');
        }
    }
}

@mixin baseStatusErrors {
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    z-index: 10;

    width: fit-content;
    min-width: ef.get-value($baseSettings, 'errorsMinWidth');
    max-width: ef.get-value($baseSettings, 'errorsMaxWidth');

    padding: ef.get-value($baseSettings, 'errorsPadding');

    color: ef.get-value($baseSettings, 'errorsColor');
    font-size: ef.get-value($baseSettings, 'errorsFontSize');

    background: ef.get-value($baseSettings, 'errorsBgColor');
    visibility: hidden;
    opacity: 0;
    border-radius: ef.get-value($baseSettings, 'errorsBorderRadius');

    &:before {
        content: '';
        border: 8px solid transparent;
        border-bottom-color: ef.get-value($baseSettings, 'errorsBgColor');
        position: absolute;
        top: -15px;
        right: 13px;
    }
}
