@use 'engine-scss/functions' as ef;

// TODO refactor this. There are duplicate variables

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'errorColor': ef.get('form', 'errorColor'),
    'successColor': ef.get('form', 'successColor'),
    'maxWidth': ef.get('form', 'maxWidth'),
    'labelFontWeight': ef.get('form', 'labelFontWeight'),
    'labelColor': ef.get('form', 'labelColor'),
    'labelFontSize': ef.get('form', 'labelFontSize'),
    'labelGap': ef.get('size', 'small'),
    'selectColor': ef.get('form', 'inputColor'),
    'selectBackground': ef.get('form', 'inputBackground'),
    'selectMaxWidth': ef.get('form', 'inputMaxWidth'),
    'selectHeight': ef.get('form', 'inputHeight'),
    'selectBorder': ef.get('form', 'inputBorder'),
    'selectBorderFocusColor': ef.get('form', 'inputBorderFocusColor'),
    'selectBorderRadius': ef.get('form', 'inputBorderRadius'),
    'selectPadding': ef.get('form', 'inputPadding'),
    'selectDisabledBg': ef.get('fieldColors', 'disableBg'),
    'selectDisabledBorder': ef.get('fieldColors', 'disableBorder'),
    'selectDisabledColor': ef.get('fieldColors', 'placeholderColor'),
    'selectTextAlign': ef.get('form', 'inputTextAlign'),
    'selectDropdownHeight': ef.get('form', 'selectDropdownHeight'),
    'selectDropdownBorder': ef.get('form', 'inputBorder'),
    'selectDropdownBorderRadius': ef.get('form', 'inputBorderRadius'),
    'selectDropdownBackground': ef.get('form', 'inputBackground'),
    'selectDropdownItemPadding': ef.get('form', 'inputPadding'),
    'selectDropdownItemColor': ef.get('form', 'inputColor'),
    'selectDropdownItemTransition': ef.get('form', 'selectDropdownItemTransition'),
    'selectArrowColor': ef.get('form', 'selectArrowColor'),
    'iconWidth': ef.get('form', 'iconWidth'),
    'iconHeight': ef.get('form', 'iconHeight'),
    'iconRightShift': ef.get('form', 'iconRightShift'),
    'successIconColor': ef.get('form', 'successIconColor'),
    'errorIconColor': ef.get('form', 'errorIconColor'),
    'pendingIconColor': ef.get('form', 'pendingIconColor'),
    'errorsBgColor': ef.get('form', 'errorsBgColor'),
    'errorsColor': ef.get('form', 'errorsColor'),
    'errorsMinWidth': ef.get('form', 'errorsMinWidth'),
    'errorsMaxWidth': ef.get('form', 'errorsMaxWidth'),
    'errorsBorderRadius': ef.get('form', 'errorsBorderRadius'),
    'errorsFontSize': ef.get('form', 'errorsFontSize'),
    'errorsPadding': ef.get('form', 'errorsPadding'),
    'inputPlaceholderColor': ef.get('fieldColors', placeholderColor),
), $customThemeDefault);

$customThemeVertical: () !default;
$themeVertical: map-merge((
    'labelGap': 0,
    'labelMaxWidth': 100%,
    'labelMargin': 0 0 0 ef.get('size', 'small'),
    'labelFontSize': ef.get('font', 'small'),
    'labelFontWeight': 500,
    'labelLineHeight': 1,
    'labelColor': ef.get('form', 'labelColor'),
    'selectGroupSize': 100%,
    'selectDropdownItemColor': ef.get('form', 'inputColor'),
    'selectBorderRadius': ef.get('radius', 'main'),
), $customThemeVertical);

$customBaseSettings: () !default;
$baseSettings: map-merge((
    maxWidth: 765px,
    selectWidth: 70%,
    selectMaxWidth: 450px,
    selectColor: ef.get('form', 'inputColor'),
    selectBorder: ef.get('form', 'inputBorder'),
    selectBorderRadius: ef.get('form', 'inputBorderRadius'),
    selectBorderFocusColor: ef.get('form', 'inputBorderFocusColor'),
    selectBackground: ef.get('form', 'inputBackground'),
    selectTextAlign: ef.get('form', 'inputTextAlign'),
    selectPadding: ef.get('form', 'inputPadding'),
    selectArrowColor:ef.get('form', 'selectArrowColor'),
    selectHeight: ef.get('form', 'inputHeight'),
    selectDropdownHeight: ef.get('form', 'selectDropdownHeight'),
    selectDropdownBorder: ef.get('form', 'inputBorder'),
    selectDropdownBorderRadius: ef.get('form', 'inputBorderRadius'),
    selectDropdownBackground: ef.get('form', 'inputBackground'),
    selectDropdownItemPadding: ef.get('form', 'inputPadding'),
    selectDropdownBoxShadow: 0 8px 6px -6px ef.get('mainColors', 'bg'),
    iconWidth: ef.get('form', 'iconWidth'),
    iconHeight: ef.get('form', 'iconHeight'),
    errorsBgColor: ef.get('form', 'errorsBgColor'),
    errorsColor: ef.get('form', 'errorsColor'),
    errorsMinWidth: ef.get('form', 'errorsMinWidth'),
    errorsMaxWidth: ef.get('form', 'errorsMaxWidth'),
    errorsBorderRadius: ef.get('form', 'errorsBorderRadius'),
    errorsFontSize: ef.get('form', 'errorsFontSize'),
    errorsPadding: ef.get('form', 'errorsPadding'),
    iconRightShift: ef.get('form', 'iconRightShift')
), $customThemeDefault);
