<div class="{{$class}}__content">
    <div class="{{$class}}-short"
         wlc-user-stats
         [type]="'short'">
    </div>

    <button
        *ngIf="this.$params.button.use"
        wlc-button
        class="wlc-btn-deposit"
        [wlcElement]="'button_deposit'"
        [text]="this.$params.button.text"
        (click)="depositAction()"
    ></button>

    <div class="{{$class}}-dropdown"
         data-wlc-element="block_user-stat-dropdown"
         wlc-click-outside
         [isOpened]="isOpened"
         (clickOutside)="this.isOpened = false; this.dropdownBtnActive = false;"
    >
        <div class="{{$class}}-dropdown__btn"
             (click)="toggle()"
             [ngClass]="{active: this.dropdownBtnActive}">
            <span wlc-icon
                  class="user"
                  iconPath="/wlc/icons/user-icon.svg"
                  wlcElement="icon_user">
            </span>
            <span wlc-icon
                  class="arrow"                
                  iconPath="/wlc/icons/arrow.svg"
                  wlcElement="icon_arrow">
            </span>
        </div>

        <div class="{{$class}}-dropdown__content"
             wlc-wrapper [inlineParams]="$params.dropdown"
             [@toggle]="isOpened ? 'opened' : 'closed'">
        </div>
    </div>
</div>
