<div class="{{$class}}__content">
    <div *ngIf="!isMultiWallet"
         wlc-user-stats
         class="{{$class}}-short"
         [inlineParams]="$params.userStatsParams">
    </div>
    <div *ngIf="isMultiWallet"
         wlc-wrapper
         [inlineParams]="multiWalletParams">
     </div>
    <button
        *ngIf="$params.button?.use && !isMultiWallet"
        wlc-button
        class="wlc-btn-deposit"
        [wlcElement]="'button_deposit'"
        [text]="$params.button.text"
        [animation]="$params.button.animate"
        (click)="depositAction()">
     </button>

     <div class="{{$class}}-dropdown"
          data-wlc-element="block_user-stat-dropdown"
          wlc-click-outside
          [isOpened]="isOpened"
          (clickOutside)="isOpened = false; dropdownBtnActive = false;">

          <button wlc-user-icon
               (click)="toggle()"
               [ngClass]="{active: dropdownBtnActive}">
          </button>

          <div class="{{$class}}-dropdown__content"
               wlc-wrapper [inlineParams]="$params.dropdown"
               [@toggle]="isOpened ? 'opened' : 'closed'">
          </div>
     </div>

    <div *ngIf="hasNotifier"
         wlc-wrapper
         class="{{$class}}-mails-notifier"
         [inlineParams]="notifierConfig"
    ></div>
</div>
