@use 'engine-scss/functions' as ef;

//common
$breakpoint: 480 !default;

// Grid
$gridTemplateColumns: 1fr !default;
$gridGap: 20px !default;
$commonColor: ef.get('color', 'textSecondary') !default;

// Title
$titleFontSize: 20px !default;
$titleFontWeight: 700 !default;
$titleColor: inherit !default;

// Divider
$dividerMargin: 10px 0 !default;
$dividerBg: ef.get('color', 'divider') !default;
$dividerHeight: 2px !default;
$dividerWidth: 100% !default;

// Step
$step1Bg: ef.get('color', 'background') !default;
$step1BorderRadius: ef.get('radius', 'biger') !default;
$step1Padding: 15px !default;
$step1Margin: 0 0 20px !default;
$step1BgBr: transparent !default;
$step1BorderRadiusBr: 0 !default;
$step1PaddingBr: 0 !default;
$step1MarginBr: 0 !default;

// Subtitle
$subtitleFontSize: 16px !default;
$subtitleFontWeight: 700 !default;
$subtitleMargin: 0 0 20px !default;
$subtitleColor: inherit !default;
$subtitleAlignment: center !default;
$subtitleStepColor: ef.get('color', 'main') !default;
$subtitleStepMargin: 0 0 10px !default;
$subtitleAlignmentBr: left !default;
$subtitleFontWeightBr: normal !default;

// Errors
$errorsColor: ef.get('color', 'error') !default;
$errorsMargin: 0 0 20px !default;

$errorsMessageMargin: 0 0 10px !default;

$errorsUlMargin: 0 0 20px !default;
$errorsUlPadding: 0 0 0 15px !default;

$errorsLiType: none !default;
$errorsLiBeforeDisplay: inline-block !default;
$errorsLiBeforeContent: '-' !default;
$errorsLiBeforeMargin: 0 5px 0 0 !default;

// Forms
$formWidth: 100% !default;
$formMaxWidth: 288px !default;
$formInputMarginBottom: 15px !default;
$formAmountButtonMargin: 0 auto !default;
$formAmountButtonMarginBr: 0 !default;
