<div class="{{$class}}__hide-wallets">
    <span>{{$params.hideWalletText | translate}}</span>
    <div
        wlc-checkbox
        [inlineParams]="toggleHideZeroParams"
    ></div>
</div>
<hr class="{{$class}}__divider"/>

<div class="{{$class}}__view-fiat">
    <span>{{$params.viewFiatText | translate}}</span>
    <div
        wlc-checkbox
        [inlineParams]="toggleViewFiatParams"
    ></div>
</div>
<hr class="{{$class}}__divider"/>

<div class="{{$class}}__description">{{$params.descriptionText | translate}}</div>

<div
    wlc-alert
    class="{{$class}}__alert-block"
    [level]="showError ? 'error' : 'info'"
    [title]="$params.infoBlockText | translate">
</div>

<div class="{{$class}}__currencies">
    <div
        *ngFor="let currency of displayCurrencies"
        class="{{$class}}__currency"
        [class.active]="currencyConversion === currency.Name"
        (click)="onCurrencyChange(currency.Name)">
        <span>{{currency.Name}}</span>
        <span>{{currency.DisplayName}}</span>
    </div>
</div>
