<div class="{{$class}}__hide-wallets">
    <span>{{$params.hideWalletText | translate}}</span>
    <div
        wlc-checkbox
        [inlineParams]="$params.toggleHideZero"
    ></div>
</div>
<hr class="{{$class}}__divider"/>

<div class="{{$class}}__view-fiat">
    <span>{{$params.viewFiatText | translate}}</span>
    <div
        wlc-checkbox
        [inlineParams]="$params.toggleViewFiat"
    ></div>
</div>
<hr class="{{$class}}__divider"/>

<div class="{{$class}}__description">{{$params.descriptionText | translate}}</div>

<div
    wlc-alert
    class="{{$class}}__alert-block"
    [level]="this.showError ? 'error' : 'info'"
    [title]="$params.infoBlockText | translate">
</div>

<div class="{{$class}}__currencies">
    <div
        *ngFor="let currency of $params.currencies"
        class="{{$class}}__currency"
        [class.active]="$params.walletSettings.currency === currency.name"
        (click)="onCurrencyChange(currency.name)">
        <span>{{currency.name}}</span>
        <span>{{currency.displayName}}</span>
    </div>
</div>
