<ng-container [ngSwitch]="bonusItemTheme">
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
    <ng-container [ngTemplateOutlet]="promo" *ngSwitchCase="'promo'"></ng-container>
    <ng-container [ngTemplateOutlet]="promo" *ngSwitchCase="'promo-home'"></ng-container>
    <ng-container [ngTemplateOutlet]="long" *ngSwitchCase="'long'"></ng-container>
</ng-container>


<ng-template #default>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="unsubscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="leaveBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="chooseBonusBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #promo>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
        <ng-container *ngIf="$params.useActionButtons">
            <ng-container [ngTemplateOutlet]="actionDepositBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="actionPlayBtn"></ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #long>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="chooseBonusBtn"></ng-container>
        <ng-container *ngIf="!bonus.isActive">
            <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
            <ng-container [ngTemplateOutlet]="unsubscribeBtn"></ng-container>
        </ng-container>
    </ng-container>
    <ng-container [ngTemplateOutlet]="registrationBtn"></ng-container>
</ng-template>

<ng-template #subscribeBtn>
    <button *ngIf="bonus.canSubscribe"
            wlc-button
            text="Subscribe"
            typeAttr="button"
            wlcElement="button_subscribe"
            (click)="join()">
    </button>
</ng-template>

<ng-template #inventoriedBtn>
    <button *ngIf="bonus.inventoried && !bonus.isLootbox"
            wlc-button
            text="Take"
            typeAttr="button"
            wlcElement="button_take"
            (click)="getInventory()">
    </button>
</ng-template>

<ng-template #unsubscribeBtn>
    <button *ngIf="bonus.canUnsubscribe"
            wlc-button
            themeMod="secondary"
            text="Unsubscribe"
            typeAttr="button"
            wlcElement="button_unsubscribe"
            (click)="unsubscribe()">
    </button>
</ng-template>

<ng-template #leaveBtn>
    <button *ngIf="bonus.isActive"
            wlc-button
            text="Cancel"
            typeAttr="button"
            themeMod="secondary"
            wlcElement="button_cancel"
            (click)="leave()">
    </button>
</ng-template>

<ng-template #chooseBonusBtn>
    <button *ngIf="isChooseBtn"
            wlc-button
            [disabled]="bonus.isChoose"
            text="Choose"
            typeAttr="button"
            wlcElement="button_choose"
            (click)="chooseBonus()">
    </button>
</ng-template>

<ng-template #actionDepositBtn>
    <button *ngIf="bonus.canUnsubscribe && bonus.isDeposit"
            wlc-button
            text="Deposit"
            typeAttr="button"
            wlcElement="button_deposit"
            (click)="action('deposit')">
    </button>
</ng-template>

<ng-template #actionPlayBtn>
    <button *ngIf="isShowPlayBtn"
            wlc-button
            text="Play"
            typeAttr="button"
            wlcElement="button_play"
            (click)="action('play')">
    </button>
</ng-template>

<ng-template #actionRegisterBtn>
    <button *ngIf="!isAuth"
            wlc-button
            text="Sign up"
            typeAttr="button"
            wlcElement="button_register"
            (click)="action('register')">
    </button>
</ng-template>

<ng-template #registrationBtn>
    <button *ngIf="!isAuth"
            wlc-button
            text="Sign up"
            typeAttr="button"
            wlcElement="button_register"
            (click)="registration()">
    </button>
</ng-template>

<ng-template #openLootbox>
    <button *ngIf="bonus.isLootbox && bonus.inventoried"
            wlc-button
            text="{{'Open' | translate}}"
            typeAttr="button"
            wlcElement="button_open-lootbox"
            (click)="action('openLootbox')">
    </button>
</ng-template>

