<ng-container *ngIf="bonus.showOnly; else themeSwitcher">
    <button *ngIf="!isInsideModal"
            wlc-button
            themeMod="secondary"
            text="Read more"
            typeAttr="button"
            wlcElement="button_read-more"
            (click)="clickHandleHof(readMoreClick, $event)">
    </button>
    <button *ngIf="isInsideModal"
            wlc-button
            themeMod="secondary"
            text="Close"
            typeAttr="button"
            wlcElement="button_close"
            (click)="clickHandleHof(action, 'close')">
    </button>
</ng-container>

<ng-template #themeSwitcher>
    <ng-container [ngSwitch]="bonusItemTheme">
        <ng-container *ngSwitchCase="'promo'" [ngTemplateOutlet]="promo"></ng-container>
        <ng-container *ngSwitchCase="'promo-home'" [ngTemplateOutlet]="promo"></ng-container>
        <ng-container *ngSwitchCase="'long'" [ngTemplateOutlet]="long"></ng-container>
        <ng-container *ngSwitchCase="'modal'" [ngTemplateOutlet]="modal"></ng-container>
        <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="wolf"></ng-container>
        <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
    </ng-container>
</ng-template>

<ng-template #default>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
        <ng-container [ngTemplateOutlet]="unsubscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="readMoreBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="leaveBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="chooseBonusBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="closeBtn"></ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #promo>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
        <ng-container *ngIf="$params.useActionButtons">
            <ng-container [ngTemplateOutlet]="actionDepositBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="actionPlayBtn"></ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #long>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="chooseBonusBtn"></ng-container>
        <ng-container *ngIf="!bonus.isActive">
            <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
            <ng-container [ngTemplateOutlet]="unsubscribeBtn"></ng-container>
        </ng-container>
        <ng-container [ngTemplateOutlet]="closeBtn"></ng-container>
    </ng-container>
    <ng-container [ngTemplateOutlet]="registrationBtn"></ng-container>
</ng-template>

<ng-template #modal>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
        <ng-container *ngIf="$params.useActionButtons">
            <ng-container [ngTemplateOutlet]="actionDepositBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="actionPlayBtn"></ng-container>
        </ng-container>
        <ng-container [ngTemplateOutlet]="unsubscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="leaveBtn"></ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #wolf>
    <ng-container *ngIf="isAuth">
        <ng-container [ngTemplateOutlet]="subscribeBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="inventoriedBtn"></ng-container>
        <ng-container [ngTemplateOutlet]="openLootbox"></ng-container>
        <ng-container *ngIf="$params.useActionButtons">
            <ng-container [ngTemplateOutlet]="actionDepositBtn"></ng-container>
            <ng-container [ngTemplateOutlet]="actionPlayBtn"></ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="$params.useActionButtons" [ngTemplateOutlet]="actionRegisterBtn"></ng-container>
</ng-template>

<ng-template #subscribeBtn>
    <button *ngIf="bonus.canSubscribe"
            wlc-button
            wlcElement="button_subscribe"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.subscribeBtnParams"
            (click)="clickHandleHof(join)">
    </button>
</ng-template>

<ng-template #inventoriedBtn>
    <button *ngIf="bonus.canInventory"
            wlc-button
            wlcElement="button_take"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.inventoriedBtnParams"
            (click)="clickHandleHof(getInventory)">
    </button>
</ng-template>

<ng-template #unsubscribeBtn>
    <button *ngIf="isShowUnsubscribeBtn"
            wlc-button
            wlcElement="button_unsubscribe"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.unsubscribeBtnParams"
            (click)="clickHandleHof(unsubscribe)">
    </button>
</ng-template>

<ng-template #leaveBtn>
    <button *ngIf="bonus.canLeave"
            wlc-button
            wlcElement="button_leave"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.cancelBtnParams"
            (click)="clickHandleHof(leave)">
    </button>
</ng-template>

<ng-template #readMoreBtn>
    <button *ngIf="bonus.canReadMore && !isInsideModal"
            wlc-button
            wlcElement="button_read-more"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.readMoreBtnParams"
            (click)="clickHandleHof(readMoreClick, $event)">
    </button>
</ng-template>

<ng-template #closeBtn>
    <button *ngIf="isInsideModal"
            wlc-button
            class="{{$class}}__button-close"
            wlcElement="button_close"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.closeBtnParams"
            (click)="clickHandleHof(action, 'close')">
    </button>
</ng-template>

<ng-template #chooseBonusBtn>
    <button *ngIf="isChooseBtn"
            wlc-button
            wlcElement="button_choose"
            [disabled]="bonus.isChoose || isDisableButtons"
            [inlineParams]="$params.btnsParams.chooseBtnParams"
            (click)="clickHandleHof(chooseBonus)">
    </button>
</ng-template>

<ng-template #actionDepositBtn>
    <button *ngIf="bonus.canDeposit"
            wlc-button
            wlcElement="button_deposit"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.depBtnParams"
            (click)="clickHandleHof(action, 'deposit')">
    </button>
</ng-template>

<ng-template #actionPlayBtn>
    <button *ngIf="bonus.canPlay"
            wlc-button
            wlcElement="button_play"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.playBtnParams"
            (click)="clickHandleHof(action, 'play')">
    </button>
</ng-template>

<ng-template #actionRegisterBtn>
    <button *ngIf="!isAuth"
            wlc-button
            wlcElement="button_register"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.regBtnParams"
            (click)="clickHandleHof(action, 'register')">
    </button>
</ng-template>

<ng-template #registrationBtn>
    <button *ngIf="!isAuth"
            wlc-button
            wlcElement="button_register"
            [disabled]="isDisableButtons"
            [inlineParams]="$params.btnsParams.regBtnParams"
            (click)="clickHandleHof(registration)">
    </button>
</ng-template>

<ng-template #openLootbox>
    <button *ngIf="bonus.canOpen"
            wlc-button
            [disabled]="isDisableButtons"
            wlcElement="button_open-lootbox"
            [inlineParams]="$params.btnsParams.openLootboxBtnParams"
            (click)="clickHandleHof(action, 'openLootbox')">
    </button>
</ng-template>
<ng-template #cancelModal>
    <div wlc-bonus-confirmation
         [loyaltyBonusId]="bonus.LBID"
         [bonusId]="bonus.id">
    </div>
</ng-template>
