@import 'app.variables';

$customColor: () !default;
$customPadding: () !default;
$customGap: () !default;
$customRadius: () !default;
$customSize: () !default;
$customButton: () !default;
$customTime: () !default;

$color: map-merge((
    'accent': #777777,
    'accent2': #474747,
    'warn': #eee480,
    'error': #ea5555,
    'success': #65cb6a,
    'disabled': #adadad,
    'text': #e2e2e2,
    'textAccent': #000,
    'text-hint': #b8b8b8,
    'link': #adadad,
    'linkAccent': #000,
    'divider': #b1b1b1,
    'background': #000,
    'backgroundHover': #dedede,
    'backgroundAccent': #c1c1c1,
    'backgroundAccentHover': #a2a2a2
), $customColor);

$size: map-merge((
    'small': 5px,
    'smaller': 10px,
    'less': 20px,
    'main': 40px,
    'biger': 50px,
    'big': 60px
), $customPadding);

$gap: map-merge((
    'small': map-get($size, 'small'),
    'smaller': map-get($size, 'smaller'),
    'less': map-get($size, 'less'),
    'main': map-get($size, 'main'),
    'biger': map-get($size, 'biger'),
    'big': map-get($size, 'big')
), $customGap);

$radius: map-merge((
    'smaller': 2px,
    'small': 4px,
    'less': 6px,
    'main': 8px,
    'biger': 10px,
    'big': 20px
), $customRadius);

$font: map-merge((
    'size': 18px,
), $customSize);

$time: map-merge((
    'less': 0.2s,
    'main': 0.3s,
    'long': 0.5s,
), $customTime);

$grid-breakpoints: (
    320: 0,
    375: 375px,
    480: 480px,
    560: 530px,
    640: 640px,
    720: 720px,
    768: 768px,
    900: 900px,
    1024: 1024px,
    1200: 1200px,
    1366: 1366px,
    1420: 1420px,
    1630: 1630px
);

$container-max-widths: (
    320: 290px,
    375: 345px,
    480: 450px,
    560: 530px,
    640: 610px,
    720: 690px,
    768: 738px,
    900: 870px,
    1024: 994px,
    1200: 1170px,
    1366: 1336px,
    1420: 1390px,
    1630: 1600px
);
