<div class="{{$class}}__container">
    <div
        *ngIf="isShowWalletSelector"
        wlc-click-outside
        [isOpened]="isOpened"
        (clickOutside)="clickOutside()">
        <div
            class="{{$class}}__dropdown-btn"
            [class.isOpened]="isOpened"
            (click)="onOpen()">
            <ng-container
                *ngIf="isFinance; else base"
                [ngTemplateOutlet]="currency"
                [ngTemplateOutletContext]="{$implicit: selectedWallet}"></ng-container>
            <span
                wlc-icon
                class="arrow"
                iconPath="/wlc/icons/icons_new/arrow.svg"
                wlcElement="icon_arrow"></span>
        </div>
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>

    <button
        *ngIf="showDepositBtn"
        wlc-button
        class="{{$class}}__btn-deposit"
        [wlcElement]="'button_deposit'"
        [inlineParams]="$params.depositBtnParams"></button>
</div>

<ng-template #base>
     <span
         wlc-currency
         [value]="displayedBalance"
         [currency]="displayedCurrency"
         [showValueOnly]="!isNeedConversion()"
     ></span>
    <span
        wlc-icon
        class="currency"
        iconPath="{{walletsService.getCurrencyIconUrl(currentWallet.currency)}}"
        wlcElement="icon_currency"></span>
</ng-template>

<ng-template #content>
    <div
        *ngIf="isOpened"
        class="{{$class}}__content">

        <div
            wlc-search-field
            class="{{$class}}__search"
            (searchQueryEmit)="setSearchQuery($event)"></div>

        <button *ngIf="!isFinance"
                wlc-button
                class="{{$class}}__filter-button"
                attr.aria-label="{{$params.filterText | translate}}"
                [attr.type]="'button'"
                theme="custom"
                iconPath="{{filterIconPath}}"
                (click)="showFiltersModal()">
        </button>

        <div *ngIf="walletListRead" class="{{$class}}__list">
            <div
                *ngFor="let item of walletList"
                (click)="onChangingWallet(item)">
                <ng-container
                    [ngTemplateOutlet]="currency"
                    [ngTemplateOutletContext]="{$implicit: item}"
                ></ng-container>
            </div>

        </div>

        <div wlc-loader *ngIf="!walletListRead"></div>

        <span
            *ngIf="isShowNotFound"
            class="{{$class}}__not-found">
            {{this.$params.notFoundText | translate}}
        </span>
        <ng-template [ngIf]="showSettings">
            <hr/>
            <div
                class="{{$class}}__settings"
                (click)="showSettingsModal()">
                 <span
                     wlc-icon
                     class="currency"
                     iconPath="/wlc/icons/payments.svg"
                     wlcElement="icon_wallet-settings"></span>
                <span class="{{$class}}__settings-text">{{$params.settingsText | translate}}</span>
            </div>
        </ng-template>

    </div>
</ng-template>

<ng-template #currency let-item>
    <div class="{{$class}}__currency"
         [class.select]="item.currency === currentWallet.currency">
        <div class="{{$class}}__name">
            <div class="{{$class}}__icon">
               <span
                   wlc-icon
                   class="currency"
                   iconPath="{{getCurrencyIconUrl(item.currency)}}"
                   wlcElement="icon_currency"></span>
            </div>
            {{item.displayName}}
        </div>
        <span
            wlc-currency
            class="{{$class}}__value"
            [value]="getWalletBalance(item) | async"
            [currency]="displayedCurrency"
            [showValueOnly]="!isNeedConversion() && !isLoyaltyConvert"></span>
    </div>
</ng-template>
