@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";

body {
    font-size: 18px;
}

body pre code {
    font-size: 16px;
}

body .content-data a:visited {
    color: inherit;
}

body .content-data a,
body .content-data a:visited {
    color: #2980b9;
    text-decoration: underline;
}

body .content-data a:hover {
    text-decoration: none;
}

body .content-data h1,
body .content-data h1 a,
body .content-data h1 a:visited {
    color: rgb(255, 102, 0);
    font-weight: normal;
    font-size: 26px;
    line-height: 1.25;
}

body .content-data h2,
body .content-data h2 a,
body .content-data h2 a:visited {
    color: rgb(51, 153, 102);
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5;
}

body .content-data h3,
body .content-data h3 a,
body .content-data h3 a:visited {
    margin-top: 0;

    color: rgb(153, 51, 102);
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.content-data hr {
    width: 100%;

    border-top-color: #a6a6a6;
}

.content-data em {
    color: #8e8e8e;
    font-size: 90%;
    font-style: italic;
}

.content {
    left: 380px;
    width: calc(100% - 380px);
}

.menu {
    width: 380px;
}
