.wlc-contacts-title {
    margin-bottom: 3rem;

    @include max720 {
        text-align: center;
    }

    @include max560 {
        font-size: getFontSize('xxlarge');
        letter-spacing: -0.02em;
    }
}

.wlc-contacts-block {
    margin-bottom: 2.5rem;

    @include max900 {
        flex-direction: column !important;
        margin-bottom: 1.5rem !important;
    }

    .wlc-form-block {
        padding-right: 3rem;
        margin-left: 3rem;
        border-right: 1px solid transparentize(getMapValue($wlcContacts, 'textColor'), 0.5);

        @include max900 {
            padding-right: 0;
            margin-left: 0;
            border-right: none;
            margin-bottom: 1.5rem !important;

            .wlc-label {
                margin-bottom: 0;
            }
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.wlc-contacts {
    padding: 50px 0 0 5px;

    .col {
        @include max900 {
            width: 100%;
            flex-grow: 1;
            flex-basis: 100%;
        }
    }

    a {
        display: block;
        font-size: getFontSize('xlarge');
        color: getMapValue($wlcContacts, 'textColor');
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include max900 {
            word-break: break-all;
        }

        @include max720 {
            font-size: getFontSize('large');
            //line-height: getFontSize('large');
        }

        @include max560 {
            font-size: getFontSize('medium');
            //line-height: getFontSize('medium');
        }

        @include max360 {
            font-size: getFontSize('default');
            //line-height: getFontSize('default');
        }

        strong {
            font-weight: 400;
            color: getMapValue($wlcContacts, 'textColor');
        }
    }

    form,
    &__action {
        border-top: 1px solid getBaseColor('lightGrey');
        padding: 38px 0 0;
    }
}
