/*.game_box_centered {
    margin: 0 auto;
    float: none;
    width: auto;
    display: block;
    padding: 34px 38px;

    &[data-aspect-ratio="4:3"] {
        max-width: 85vh * ( 4 / 3 );
    }
    &[data-aspect-ratio="16:9"] {
        max-width: 85vh * ( 16 / 9 );
    }

    @media (max-width: 1023px) {
        margin-top: 0;
        max-width: 100%;
    }

    .btn.full_screen {

        @include max360 {
            margin-left: 20px;
        }
    }

    h3 {
        @include max360 {
            font-size: 50px;
        }
    }
}*/
