.wlc-sidebar {
    width: getMapValue($wlcSidebar, 'width');
    flex-grow: 0;
    flex-basis: getMapValue($wlcSidebar, 'width');
    flex-direction: column;

    @include max1024 {
        //width: getMapValue($wlcSidebar, 'width') * ratio('1024');
        //flex-basis: getMapValue($wlcSidebar, 'width') * ratio('1024');
    }

    @include max900 {
        display: none !important;
    }
}

%wlc-sidebar__block {
    //margin-right: getMapValue($wlcSidebar, 'spaceBetween');
    margin-bottom: 3rem;

    @include max1366 {
        //width: getMapValue($wlcSidebar, 'width') * ratio('1420');
    }

    @include max900 {
        display: none;
    }
}

.wlc-sidebar__block {
    @extend %wlc-sidebar__block;
}

.wlc-sidebar-title {
    color: getMapValue($wlcSidebar, 'titleColor');
    font-size: getMapValue($wlcSidebar, 'titleSize');
    font-weight: getMapValue($wlcSidebar, 'titleWeight');
}

