.wlc-all-balances-wrapper {
    min-width: 30px;
    height: 30px;
    margin-left: 5px;

    .wlc-all-balances-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0.7;
        fill: getElementColor('text');

        &:hover {
            opacity: 1;

            & + .wlc-all-balances-block {
                z-index: 100;
                opacity: 1;
                visibility: visible;
                transform: translate(50%, 0);
            }
        }
    }

    .wlc-all-balances-block {
        position: absolute;
        z-index: -100000;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        right: 50%;
        transform: translate(50%, 30px);
        margin-top: 10px;
        margin-right: 0;
        padding: 0 10px;
        color: getMapValue($wlcBaseColors, 'white');
        background-color: getMapValue($wlcBaseColors, 'highlightMain');
        border-radius: getMapValue($wlcElementsStyles, 'borderRadius');
        box-shadow: getMapValue($wlcElementsStyles, 'baseShadow');
        transition: all 0.3s;
    }

    .wlc-all-balances-block__label {
        margin-right: 10px;
    }

    .wlc-all-balances-block__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

