<div class="{{$class}}__header" data-wlc-element="title_contact-details">{{'Contact details' | translate}}</div>

<div class="{{$class}}-details">
    <div *ngIf="contactsConfig.phone"
        class="{{$class}}-details__item"
        data-wlc-element="block_phone">
        <span>{{'Phone' | translate}}</span>
        <a href="tel:{{contactsConfig.phone}}" data-wlc-element="link_phone">{{contactsConfig.phone}}</a>
    </div>
    <div *ngIf="contactsConfig.email"
        class="{{$class}}-details__item"
        data-wlc-element="block_email">
        <span>{{'E-mail' | translate}}</span>
        <a href="mailto:{{contactsConfig.email}}" data-wlc-element="link_email">{{contactsConfig.email}}</a>
    </div>
    <div *ngIf="contactsConfig.estResTime && contactsConfig.timeUnits"
        class="{{$class}}-details__item"
        data-wlc-element="block_response-time">
        <span>{{'Estimated response time' | translate}}</span>
        <span>{{contactsConfig.estResTime}} {{contactsConfig.timeUnits | translate}}</span>
    </div>
    <div *ngIf="contactsConfig.additionalInfo"
        class="{{$class}}-details__item"
        data-wlc-element="block_additional_info">
        <span>{{contactsConfig.additionalInfo.label | translate}}</span>
        <span>{{contactsConfig.additionalInfo.text | translate}}</span>
    </div>
</div>

<hr>

<div *ngIf="config"
    wlc-form-wrapper
    [config]="config"
    [ngSubmit]="ngSubmit.bind(this)"
    [formData]="formData$"
></div>
