<ng-container *ngIf="ready; else preloader">
    <div *ngIf="showFilter" class="{{$class}}__filter">
        <div wlc-datepicker [inlineParams]="startDateInput"></div>
        <div wlc-datepicker [inlineParams]="endDateInput"></div>
        <div wlc-select [inlineParams]="filterSelect"></div>
    </div>

    <div *ngIf="bets$.value.length; else empty"
         wlc-table
         [inlineParams]="tableData"></div>
</ng-container>

<ng-template #empty>
    <div wlc-wrapper [inlineParams]="$params.emptyConfig"></div>
</ng-template>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
