<ng-template #default>
    <label class="{{$class}}__label" [attr.for]="$params.id || $params.name">
        {{$params.common.placeholder | translate}}
        <ng-container *ngIf="isFieldRequired()">*</ng-container>
    </label>
    <div class="{{$class}}__textarea">
        <textarea name="{{$params.name}}"
                  [attr.id]="$params.id || $params.name"
                  [attr.data-wlc-element]='fieldWlcElement'
                  [attr.maxlength]="$params.common.maxlength"
                  placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
                  [formControl]="control"
                  (input)="onInput($event)"
                  (blur)="onBlur($event)">
        </textarea>
        <div *ngIf="$params.name"
             wlc-form-control
             class="{{$class}}-status form-control"
             [className]="$class"
             [control]="control"
             [validators]="$params?.validators"
             [fieldName]="$params.name.toLowerCase()">
        </div>
    </div>
</ng-template>

<ng-template #placeholderShown>
    <textarea class="{{$class}}__textarea"
              placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
              [attr.id]="$params.id || $params.name"
              [formControl]="control"
              (input)="onInput($event)"
              (blur)="onBlur($event)">
    </textarea>
    <label class="{{$class}}__label" [attr.for]="$params.id || $params.name">
        {{$params.common.placeholder | translate}}
    </label>
    <div *ngIf="$params.name"
         wlc-form-control
         class="{{$class}}-status"
         [className]="$class"
         [control]="control"
         [validators]="$params?.validators"
         [fieldName]="$params.name.toLowerCase()">
    </div>
</ng-template>


<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="placeholderShown" *ngSwitchCase="'placeholder-shown'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
