<label for="{{$params.name}}"
       class="{{$class}}__label"
>{{$params.placeholder | translate}}</label>
<div class="{{$class}}__textarea">
    <textarea name="{{$params.name}}"
              id="{{$params.name}}"
              placeholder="{{$params.placeholder}}"
              [(ngModel)]="control.value"
              [formControl]="control"
    ></textarea>
    <div class="{{$class}}-status">
        <div class="{{$class}}-status__icon"></div>
        <div class="{{$class}}-status__errors">
            <div *ngFor="let item of control.errors | keyvalue">
                {{'validator-' + item.key | translate}}
            </div>
        </div>
    </div>
</div>
