<ng-template #default>
    <label [attr.for]="$params.name"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}
        <ng-container *ngIf="isFieldRequired()">*</ng-container>
    </label>
    <div class="{{$class}}__textarea">
        <textarea name="{{$params.name}}"
                  [attr.id]="$params.name"
                  [attr.data-wlc-element]='fieldWlcElement'
                  [attr.maxlength]="$params.common.maxlength"
                  placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
                  [formControl]="control"
        ></textarea>
        <div *ngIf="$params.name"
             wlc-form-control
             class="{{$class}}-status form-control"
             [className]="$class"
             [control]="control"
             [validators]="$params?.validators"
             [fieldName]="$params.name.toLowerCase()"
        ></div>
    </div>
</ng-template>

<ng-template #placeholderShown>
    <textarea [attr.id]="$params.name"
              placeholder="{{$params.exampleValue || $params.common.placeholder | translate}}"
              [formControl]="control"
              class="{{$class}}__textarea"
    ></textarea>
    <label [attr.for]="$params.name"
           class="{{$class}}__label"
    >{{$params.common.placeholder | translate}}</label>
    <div *ngIf="$params.name"
         wlc-form-control
         class="{{$class}}-status"
         [className]="$class"
         [control]="control"
         [validators]="$params?.validators"
         [fieldName]="$params.name.toLowerCase()"
    ></div>
</ng-template>


<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="placeholderShown" *ngSwitchCase="'placeholder-shown'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
