@use 'engine-scss/functions' as ef;

$customMainInfoThemeDefault: () !default;
$mainInfoThemeDefault: map-merge((
    'sectionColGap': (
        375: ef.get('size', 'main'),
        1366: ef.get('size', 'main') * 2
    ),
    'sectionFormColumns': (
        375: 1fr,
        1024: minmax(0, 1fr) 30%,
        1200: minmax(675px, max-content) 270px,
    ),
    'sectionFormGap': (
        375: ef.get('size', 'smaller'),
    ),
    'sectionRowGap': (
        1024: ef.get('size', 'smaller'),
    ),
    'formRowGap': (
        375: ef.get('size', 'smaller'),
        768: ef.get('size', 'small'),
    ),
    'saveButtonShift': ef.get('size', 'main') - ef.get('size', 'smaller'),
    'saveButtonAlign': (
        375: center,
        768: end,
    ),
    'formMaxWidth': (
        768: 768px,
    ),
    'inputWidth': (
        768: 400px,
        1200: 450px,
    ),
    'formLabelColor': (
        375: var(--fc-labelColor),
        768: var(--mc-baseMain)
    ),
    'phoneInnerGap': 140px + ef.get('size', 'small'),
    'phoneTemplateColumns': (
        375: 100px minmax(0, 1fr),
        768: minmax(0, 1fr) 300px,
    ),
    'phoneSize': (
        768: minmax(0, 1fr) 140px,
    ),
    'phoneGap': (
        768: 0,
    ),
    'phoneInputLabelDisplay': (
        768: none,
    ),
    'phoneInputColumns': minmax(0, 1fr),
    'birthColumns': (
        375: repeat(3, minmax(90px, 1fr)),
        768: 1fr 145px 145px
    ),
    'birthSelectSize': (
        768: 1fr 140px,
    ),
    'birthSelectColumns': minmax(0, 1fr),
    'birthInnerGap': 140px + ef.get('size', 'small') * 2,
    'addBlockGap': ef.get('size', 'smaller'),
    'addBlockHeight': max-content,
    'addBlockColumns': 1fr auto,
    'addBlockAreas':  'title switcher' 'link .',
    'addBlockProfileColumns': (
        375:  1fr,
        640: 1fr 1fr,
        1024: 1fr,
    ),
    'addTitleFontSize': ef.get('font', 'smaller'),
    'addTitleFontWeight': 300,
    'addTitleColor': (
        375: var(--mc-baseOpacity),
        768: var(--mc-baseMain)
    ),
    'addItemGap': ef.get('size', 'smaller'),
    'addItemWidth': max-content,
    'addItemBtnIconDisplay': (
        375: none,
        1024: flex,
    ),
    'addItemBtnIconMargin': 0 0 0 3px,
    'addItemTitleMainFontSize': ef.get('font', 'main'),
    'addItemTitleMainColor': var(--mc-baseMain),
    'addItemTitleSecondFontSize': ef.get('font', 'smaller'),
    'addItemTitleSecondColor': (
        375: var(--mc-baseOpacity),
        768: var(--mc-baseMain)
    ),
    'addItemLinkFontSize': (
        375: ef.get('font', 'less'),
        1024: ef.get('font', 'smaller')
    ),
    'addItemLinkFontWeight': (
        375: ef.get-value($profileSettings, 'profileBtnWeight'),
    ),
    'addItemLinkColor': (
        375: ef.get('mainColors', 'baseMain'),
        1024: var(--mc-main)
    ),
    'addItemLinkColorHover': var(--mc-baseMain),
    'addItemTitleMainMargin': (
        375: 0 0 5px 0,
    ),
    'switcherPadding': 0,
    'labelAlignItems': center,
    'labelMargin': 0 0 0 ef.get('size', 'small'),
), $customMainInfoThemeDefault);


$customMainInfoThemeV1: () !default;
$mainInfoThemeV1: map-merge((
    'dividerBackground': var(--mc-baseOpacity),
    'dividerWidth': 100%,
    'dividerHeight': 2px,
    'dividerBottom': -2px,
    'dividerLeft': 0,
    'dividerRight': 0,
    'dividerMargin': 0 auto,

    'profileFormBlockDisplay': flex,
    'profileFormBlockFlexWrap': wrap,
    'profileFormBlockAlignItems': center,
    'profileFormBlockMargin': (
        375: 0 -#{ef.get('size', 'small')} 0,
    ),
    'profileFormBlockPadding': (
        375: ef.get('size', 'smaller') 0 ef.get('size', 'small'),
    ),
    'profileFormBlockDividerWidth': calc(100% - #{ef.get('size', 'smaller')}),

    'profileFormBlockSubmitDisplay': flex,
    'profileFormBlockSubmitJustify': center,
    'profileFormBlockSubmitPadding': (
        375: ef.get('size', 'smallest') 0 0,
        1630: 0,
    ),

    'profileFormTitleFlex': 1 1 100%,
    'profileFormTitlePadding': 0 ef.get('size', 'small'),
    'profileFormTitleMargin': (
        375: 0 0 ef.get('size', 'small'),
        1630: 0 0 ef.get('size', 'smaller'),
    ),
    'profileFormTitleFontSize': ef.get('font', 'ThirdTitleBold'),
    'profileFormTitleFontWeight': 700,
    'profileFormTitleFontLineHeight': 1.1,

    'profileFormFieldsMargin': (
        375: 0 0 ef.get('size', 'small'),
        1630: 0 0 ef.get('size', 'smaller'),
    ),
    'profileFormFieldsPadding': 0 ef.get('size', 'small'),
    'profileFormFieldsBaseFlex': (
        375: 0 1 100%,
        768: 0 1 50%,
        900: 0 1 25%,
    ),
    'profileFormFieldsWideFlexBasis': (
        375: 100%,
        900: 50%,
    ),

    'profileFormComposedFieldGap': (
        1630: ef.get('size', 'smaller'),
    ),
), $customMainInfoThemeV1);
