$customMainInfoThemeDefault: () !default;
$mainInfoThemeDefault: map-merge((
    'sectionFormGap': (
        375: ef.size(4),
    ),
    'sectionRowGap': (
        1024: ef.size(4),
    ),
    'formRowGap': (
        375: ef.size(4),
        768: ef.size(2),
    ),
    'saveButtonShift': ef.size(4),
    'saveButtonAlign': (
        375: center,
        768: end,
    ),
    'formMaxWidth': (
        768: 768px,
    ),
    'inputWidth': (
        768: 400px,
        1200: 450px,
    ),
    'formLabelColor': (
        375: var(--fc-labelColor),
        768: var(--mc-baseMain)
    ),
    'phoneInnerGap': 150px,
    'phoneTemplateColumns': (
        375: 100px minmax(0, 1fr),
        768: minmax(0, 1fr) 300px,
    ),
    'phoneSize': (
        768: minmax(0, 1fr) 140px,
    ),
    'phoneGap': (
        768: 0,
    ),
    'phoneInputLabelDisplay': (
        768: none,
    ),
    'phoneInputColumns': minmax(0, 1fr),
    'phoneTooltipMargin': 0 0 0 ef.size(1),

    'phoneVerTooltipDisplay': (
        375: flex,
    ),
    'phoneVerInputLabelDisplay': (
        375: none,
    ),
    'phoneVerTooltipMargin': (
        375: 0 0 0 ef.size(1),
    ),

    'phoneNotVerColumns': (
        375: 100px minmax(0, 1fr),
        768: minmax(0, 1fr) 160px 150px,
    ),
    'phoneNotVerAreas': (
        375: 'code phone' 'button button',
        560: 'code phone button',
    ),
    'phoneNotVerBtnMargin': 0 auto,
    'phoneNotVerBtnWidth': (
        375: max-content,
        768: 100%,
    ),
    'phoneNotVerSelectColumn': (
        768: minmax(0, 1fr) 120px,
    ),

    'birthColumns': (
        375: repeat(3, minmax(90px, 1fr)),
        768: 1fr 145px 145px
    ),
    'birthSelectSize': (
        768: 1fr 140px,
    ),
    'birthSelectColumns': minmax(0, 1fr),
    'birthInnerGap': 160px,
    'addBlockGap': ef.size(4),
    'addTitleFontSize': ef.get('font', 'smaller'),
    'addTitleFontWeight': 300,
    'addItemTitleMainFontSize': ef.get('font', 'main'),
    'addItemTitleSecondFontSize': ef.get('font', 'smaller'),
    'addItemLinkFontSize': (
        375: ef.get('font', 'less'),
        1024: ef.get('font', 'smaller')
    ),
    'addItemLinkFontWeight': (
        375: ef.get-value($profileSettings, 'profileBtnWeight'),
    ),
    'labelAlignItems': center,
    'labelMargin': 0 0 0 ef.size(2),
    'labelFont': 'PrimaryText',
    'labelFontColor': var(--mc-baseMain),
), $customMainInfoThemeDefault);

$customMainInfoThemeV1: () !default;
$mainInfoThemeV1: map-merge((
    'dividerBackground': var(--mc-baseOpacity),
    'dividerWidth': 100%,
    'dividerHeight': 2px,
    'dividerBottom': -2px,
    'dividerLeft': 0,
    'dividerRight': 0,
    'dividerMargin': 0 auto,

    'profileFormBlockDisplay': flex,
    'profileFormBlockFlexWrap': wrap,
    'profileFormBlockAlignItems': center,
    'profileFormBlockMargin': (
        375: 0 ef.size(-2) 0,
    ),
    'profileFormBlockPadding': (
        375: ef.size(4) 0 ef.size(2),
        1630: ef.size(4) 0 0,
    ),
    'profileFormBlockDividerWidth': calc(100% - #{ef.size(4)}),

    'profileFormBlockSubmitDisplay': flex,
    'profileFormBlockSubmitJustify': center,
    'profileFormBlockSubmitPadding': (
        375: ef.size(4) 0 0,
        1630: 0,
    ),

    'profileFormTitleFlex': 1 1 100%,
    'profileFormTitlePadding': 0 ef.size(2),
    'profileFormTitleMargin': (
        375: 0 0 ef.size(2),
        1630: 0 0 ef.size(4),
    ),
    'profileFormTitleFontSize': ef.get('font', 'ThirdTitleBold'),
    'profileFormTitleFontWeight': 700,
    'profileFormTitleFontLineHeight': 1.1,

    'profileFormFieldsMargin': (
        375: 0 0 ef.size(2),
        1630: 0 0 ef.size(4),
    ),
    'profileFormFieldsPadding': 0 ef.size(2),
    'profileFormFieldsBaseFlex': (
        375: 0 1 100%,
        900: 0 1 25%,
    ),
    'profileFormFieldsWideFlexBasis': (
        375: 100%,
        900: 50%,
    ),

    'profileFormCurrentPassFlexBasis': (
        375: 100%,
        900: 50%,
    ),

    'profileFormComposedFieldGap': (
        1630: ef.size(4),
    ),

    'phoneTooltipMargin': 0 0 0 ef.size(1),

    'phoneNotVerColumns': (
        375: 1fr 2fr,
        900: 90px 2fr minmax(110px, max-content),
    ),
    'phoneNotVerBtnMargin': 0 auto,
    'phoneNotVerBtnWidth': (
        375: max-content,
        768: 100%,
    ),
    'phoneNotVerAreas': (
        375: 'code phone' 'button button',
        560: 'code phone button',
    ),
), $customMainInfoThemeV1);
