<div class="{{$class}}__content"
    [class.noauth]="!isAuth"
    [class.unavailable]="isDisabled">
    <div class="{{$class}}__wrapper"
        [class.unavailable]="isDisabled"
        (click)="storeItemClickHandler($event)">
        <div class="{{$class}}__more-icon">
            <div wlc-icon
                class="icon-btn"
                [iconPath]="infoIconPath"
                [wlcElement]="'button_terms'">
            </div>
        </div>
        <span wlc-tag
            class="{{$class}}__tag"
            [inline]="tagConfig"
            [theme]="tagTheme">
        </span>
        <div class="{{$class}}__name"
            data-wlc-element="store_item-name">
            {{storeItem.name}}
        </div>
        <div *ngIf="shouldStoreImageBeShown()"
            class="{{$class}}__image"
            data-wlc-element="store_item-image">
            <img [src]="storeImage" loading="lazy">
        </div>
        <div *ngIf="useIconBonusImage" class="{{$class}}__image">
            <div class="{{$class}}__bonus-icon">
                <img class="icon-sign"
                    loading="lazy"
                    [src]="storeItem.bonus.icon"
                    [wlc-fallback]="storeItem.bonus.fallBackIconPath"
                    (imageError)="imageErrorLoad()">
                <ng-container *ngIf="storeItem.bonus.currencyIcon then valueBalance else valueFreerounds"></ng-container>
            </div>
        </div>
        <div class="{{$class}}__price" data-wlc-element="store_item-price">
            <div wlc-store-item-price [storeItemTotalPrice]="storeItemTotalPrice"></div>
        </div>
        <div *ngIf="isAuth" class="{{$class}}__btns">
            <div *ngIf="isDisabled; else buyBtn" class="{{$class}}__lock-btn">
                <span wlc-icon
                    class="lock-btn__icon"
                    [iconUrl]="lockIconUrl">
                </span>
                <div class="lock-btn__text">{{disabledInfo.btnText| translate}}</div>
            </div>
        </div>
    </div>
</div>

<ng-template #valueBalance>
    <div *ngIf="storeItem.bonus.value && storeItem.bonus.bonusType != 'lootbox'"
        wlc-currency
        class="icon-text"
        digitsInfo="1-0-0"
        minLength="4"
        maxLength="6"
        [wlc-value-length]="valueStore"
        [value]="valueStore">
    </div>
</ng-template>

<ng-template #valueFreerounds>
    <div *ngIf="storeItem.bonus.value && storeItem.bonus.bonusType != 'lootbox'"
        class="icon-text"
        minLength="4"
        maxLength="6"
        [wlc-value-length]="storeItem.bonus.value">
        {{storeItem.bonus.value}}
    </div>
</ng-template>

<ng-template #buyBtn>
    <button wlc-button
        class="{{$class}}__buy-btn"
        [inlineParams]="buyBtnParams"
        (click)="showConfirmationModal()">
    </button>
</ng-template>
