<div class="{{$class}}__content" [class.noauth]="!isAuth">
    <div class="{{$class}}__wrapper">
        <div class="{{$class}}__image-block">
            <div class="{{$class}}__tag" data-wlc-element="store_item-title">{{storeItem.itemType | translate}}</div>
            <div class="{{$class}}__image" data-wlc-element="store_item-image" *ngIf="!storeItem.isBonus">
                <img [src]="storeItem.image" [wlc-fallback]="$params.common.fallbackPath">
            </div>
            <div class="{{$class}}__bonus-icon" *ngIf="storeItem.isBonus">
                <img class="icon-sign" [src]="$params.common?.bonusIconsPath + storeItem.bonus.viewTarget + '.svg'" alt="">
                <div class="icon-text" [wlc-value-length]="storeItem.bonus.value" minLength="4" maxLength="7">{{storeItem.bonus.value}}</div>
            </div>
        </div>
        <div class="{{$class}}__bottom">
            <div class="{{$class}}__info-block">
                <h4 class="{{$class}}__name" data-wlc-element="store_item-name" [wlc-clamp]="1">
                    {{storeItem.name}}
                </h4>
                <div class="{{$class}}__price" data-wlc-element="store_item-price">
                    <div *ngIf="!!storeItem.priceLoyalty"
                        wlc-currency
                        class="price-item"
                        currency="LP"
                        digitsInfo="1-0-0"
                        [value]="storeItem.priceLoyalty">
                    </div>
                    <div
                        *ngIf="!!storeItem.priceExp"
                        wlc-currency
                        class="price-item"
                        currency="EXP"
                        digitsInfo="1-0-0"
                        [value]="storeItem.priceExp">
                    </div>
                </div>
            </div>
        </div>
        <div class="{{$class}}__btns" *ngIf="isAuth">
            <button type="button"
                    wlc-button
                    text="Buy now"
                    [disabled]="buyClick"
                    *ngIf="storeItem.canBuy"
                    [wlcElement]="'button_buy'"
                    (click)="buyItem()">
            </button>
        </div>
    </div>
    <div class="{{$class}}__more-icon">
        <div
            class="icon-btn"
            wlc-icon
            iconName="info"
            [wlcElement]="'button_terms'"
            (click)="openDescription(storeItem)">
        </div>
    </div>
</div>
