<ng-container *ngIf="faqData; else preloader">
    <div class="{{$class}}__header" *ngIf="$params.common.title">{{$params.common.title | translate}}</div>
    <div class="{{$class}}__item"
         *ngFor="let item of faqData"
         [ngClass]="{expanded: item.expand}"
    >
        <div class="{{$class}}__title"
             (click)="expandToggle(item)">
            <div class="{{$class}}__title-text">{{item.title}}</div>
            <div class="{{$class}}__title-icon" wlc-icon [iconName]="'thin-arrow'"></div>
        </div>
        <div class="{{$class}}__content"
             [@toggle]="item.expand ? 'opened' : 'closed'">
            <div class="{{$class}}__content-wrp">
                {{item.content}}
            </div>
        </div>
    </div>
</ng-container>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
