.wlc-static-faq {
    max-width: 1024px;
    margin: auto;
    list-style: none;

    p {
        margin: 0;
    }

    .wlc-static-faq__item {
        margin-bottom: 20px;
        border-radius: 10px;

        &.expanded {

            .wlc-static-faq__item-toggle-icon {
                transform: rotate(135deg);
            }

            .wlc-static-faq__item-header {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .wlc-static-faq__item-header {
        background-color: #050a52;
        color: #f0f8ff;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        user-select: none;
        cursor: pointer;
    }

    .wlc-static-faq__item-title {
        font-size: 16px;
        font-weight: 700;
    }

    .wlc-static-faq__item-toggle-icon {
        border-top: 4px solid #f0f8ff;
        border-right: 4px solid #f0f8ff;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        transition: transform 0.5s;
    }

    .wlc-static-faq__item-content {
        padding: 15px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid #050a52;
        border-top: none;
    }
}
