.wlc-loyalty-progress--theme-default:host {

    .wlc-loyalty-progress {

        &__content {
            display: grid;
            gap: ef.get-value($themeDefault, 'contentGap');
            margin: ef.get-value($themeDefault, 'contentMargin');
        }

        &__line {
            position: relative;

            width: 100%;
            height: ef.get-value($themeDefault, 'lineHeight');

            background: ef.get-value($themeDefault, 'lineEmptyBg');
            border-radius: ef.get-value($themeDefault, 'lineBorderRadius');

            overflow: hidden;

            &-current {
                position: absolute;
                top: 0;
                left: 0;

                height: 100%;

                background: ef.get-value($themeDefault, 'lineFillBg');
                border-radius: ef.get-value($themeDefault, 'lineBorderRadius');
            }
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'levelProgressFontSize'));
            @include inlineLayoutShiftFix();
            color: ef.get-value($themeDefault, 'levelNameColor');
        }

        &__points {
            @include text.get-text-style(ef.get-value($themeDefault, 'levelProgressFontSize'), ef.get-value($themeDefault, 'levelPointsColor'));
            display: flex;
            justify-content: space-between;

            &-start,
            &-end {
                @include inlineLayoutShiftFix();
            }
        }

        &__title,
        &__points {
            line-height: ef.get-value($themeDefault, 'textLineHeight');
        }
    }
}
