@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;

.wlc-loyalty-progress--theme-default:host {

    .wlc-loyalty-progress {

        &__content {
            display: block;
            margin: ef.get-value($themeDefault, 'contentMargin');
        }

        &__line {
            position: relative;

            width: 100%;
            height: ef.get-value($themeDefault, 'lineHeight');

            margin: 5px 0;

            background: ef.get-value($themeDefault, 'lineEmptyBg');
            border-radius: ef.get-value($themeDefault, 'lineBorderRadius');

            overflow: hidden;

            &-current {
                position: absolute;
                left: 0;
                top: 0;

                height: 100%;

                background: ef.get-value($themeDefault, 'lineFillBg');
                border-radius: ef.get-value($themeDefault, 'lineBorderRadius');
            }
        }

        &__title {
            @include lib.get-text-style(ef.get-value($themeDefault, 'levelProgressFontSize'));
            color: ef.get-value($themeDefault, 'levelNameColor');
            @include bm.inlineLayoutShiftFix();
        }

        &__points {
            display: flex;
            justify-content: space-between;
            @include lib.get-text-style(ef.get-value($themeDefault, 'levelProgressFontSize'), ef.get-value($themeDefault, 'levelPointsColor'));

            &-start,
            &-end {
                @include bm.inlineLayoutShiftFix();
            }
        }
    }
}
