$customThemeDefault: () !default;
$themeDefault: map-merge((
    'baseFontStyle': 'PrimaryText',
    'baseFontColor': inherit,
    'currencyFontStyle': 'PrimaryTextBold',

    'scrollbarTrackBg': var(--mc-bg700),
    'scrollbarThumbBg': var(--mc-bg100),

    'modalBodyAlign': center,
    'modalBodyPadding': (
        375: ef.size(6) 0 0 ef.size(4),
        560: ef.size(6) 0 0 ef.size(6),
    ),
    'modalBodyBorderRadius': ef.get('radius', 'biger'),
    'modalFooterPadding': 0,
    'modalHeight': (
        375: 100%,
        560: inherit,
    ),

    'listWidth': 100%,
    'listMaxHeight': (
        375: 100%,
        560: 460px,
    ),
    'listHeight': (
        375: 100%,
        560: fit-content,
    ),
    'listPadding': (
        375: 0 ef.size(3) 0 0,
        560: 0 ef.size(5) 0 0,
    ),
    'togglePadding': (
        375: ef.size(4) ef.size(4) 0 0,
        560: ef.size(4) ef.size(6) 0 0,
    ),

    'currencyAlign': center,
    'currencyJustifyContent': space-between,
    'currencyWidth': 100%,
    'currencyTextColor': inherit,

    'leftGap': ef.size(1),

    'iconSize': 20px,

    'rightAlign': center,

    'checkboxPadding': 0 0 0 ef.size(4),
    'toggleWidth': 100%,
    'currencyHeight': 40px,
    'descriptionPadding': 0 0 ef.size(4),

    'dividerMargin': (
        375: ef.size(2) ef.size(4) ef.size(4) 0,
        560: ef.size(2) ef.size(6) ef.size(4) 0,
    ),
    'dividerWidth': (
        375: calc(100% - 20px),
        560: calc(100% - 30px),
    ),
), $customThemeDefault);

$customThemeWolf: () !default;
$themeWolf: map-merge((
    'descriptionFontStyle': 'PrimaryText',
    'descriptionFontColor': var(--mc-baseSecond),

    'currencyFontStyle': 'CaptionTextBold',
    'currencyFontColor': var(--mc-baseThird),

    'scrollbarTrackBg': var(--mc-baseSecond),
    'scrollbarThumbBg': var(--mc-bg100),

    'iconSize': 15px,
    'closeIconSize': 16px,
    'descriptioPadding': ef.size(4) 0,
    'dividerMargin': 0,
), $customThemeWolf);
