@import 'engine.variables';

.wlc-app__preload {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-image: map-get($appLoader, 'background');

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    &-img {
        width: map-get($appLoader, 'imgBlockWidth');
        padding-bottom: map-get($appLoader, 'imgBlockPadding');

        background-image: map-get($appLoader, 'imgBgUrl');
        background-repeat: map-get($appLoader, 'imgBgRepeat');
        background-position: map-get($appLoader, 'imgBgPosition');
        background-size: map-get($appLoader, 'imgBgSize');

        @if (map-get($appLoader, 'imgBgAltUrl')) {

            .wlc-body--theme-alt & {
                background-image: map-get($appLoader, 'imgBgAltUrl');
            }
        }
    }

    &-loader {
        position: relative;

        height: map-get($appLoader, 'loaderHeight');
        margin: map-get($appLoader, 'loaderBlockMargin');

        &:before,
        &:after {
            content: '';

            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;
            width: map-get($appLoader, 'loaderWidth');
            height: map-get($appLoader, 'loaderHeight');
            margin: auto;

            border: map-get($appLoader, 'loaderBorder');
            border-radius: 50%;
            opacity: 0;

            animation: loader-6-1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
        }

        &:after {
            animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s infinite;
        }
    }
}

@keyframes loader-6-1 {

    0% {
        transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1.5);
        opacity: 0;
    }
}

@keyframes loader-6-2 {

    0% {
        transform: translate3d(0, 0, 0) scale(0);
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 0;
    }
}
