<ng-container [ngSwitch]="$params.checkboxType">
    <label class="{{$class}}__label" *ngSwitchCase="'terms'">
        <input
            type="checkbox"
            name="{{$params.name}}"
            [formControl]="control"
            [(ngModel)]="control.value"
            class="{{$class}}__checkbox"/>
        <span
            class="{{$class}}__elem"
            wlc-icon [iconName]="'tick'"
            [ngClass]="{checked: control.value}">
        </span>
        <div class="{{$class}}__text">
            {{'I agree with' | translate}}
            <a uiSref="app.contacts({slug: 'terms-and-conditions'})" class="{{$class}}__link">
                {{'Terms and Conditions' | translate}}
            </a>
        </div>
    </label>

    <label class="{{$class}}__label" *ngSwitchCase="'age'">
        <input
            type="checkbox"
            name="{{$params.name}}"
            [formControl]="control"
            [(ngModel)]="control.value"
            class="{{$class}}__checkbox"/>
        <span
            class="{{$class}}__elem"
            wlc-icon [iconName]="'tick'"
            [ngClass]="{checked: control.value}">
        </span>
        <div class="{{$class}}__text">
            {{"I confirm that I'm 18 years or older" | translate}}
        </div>
    </label>

    <label class="{{$class}}__label" *ngSwitchCase="'payment-rules'">
        <input
            type="checkbox"
            name="{{$params.name}}"
            [formControl]="control"
            [(ngModel)]="control.value"
            class="{{$class}}__checkbox"/>
        <span
            class="{{$class}}__elem"
            wlc-icon [iconName]="'tick'"
            [ngClass]="{checked: control.value}">
        </span>
        <div class="{{$class}}__text">
            {{"I have read and agree with the payment" | translate}}
            <a uiSref="app.contacts({slug: 'terms-and-conditions', '#': 'item-8'})"
               class="{{$class}}__link">{{'systems restrictions' | translate}} *</a>
        </div>
    </label>
</ng-container>
