<ng-container [ngSwitch]="$params.theme">
    <ng-container *ngSwitchCase="'toggle'" [ngTemplateOutlet]="toggle"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #default>
    <ng-container [ngSwitch]="checkboxType">
        <label *ngSwitchCase="'legal-modal'" class="{{$class}}__label">
            <input ngDefaultControl
                type="checkbox"
                name="{{checkboxName}}"
                [attr.data-wlc-element]="fieldWlcElement"
                [formControl]="control"
                [ngClass]="checkboxClassNames"
                (change)="onChange($event)"/>
            <span wlc-icon
                class="{{$class}}__elem"
                iconPath="{{iconPath}}"
                [ngClass]="{checked: control?.value}">
            </span>
            <div class="{{$class}}__text">
                {{textWithLink.prefix | translate}}
                <span class="{{$class}}__link" (click)="showModal('staticText', textWithLink.slug)">
                    {{textWithLink.linkText | translate}}
                </span>
                {{textWithLink.suffix | translate}}
            </div>
        </label>

        <label *ngSwitchCase="'legal-link'" class="{{$class}}__label">
            <input ngDefaultControl
                type="checkbox"
                name="{{checkboxName}}"
                data-wlc-element="input_payment-checkbox"
                [ngClass]="checkboxClassNames"
                [formControl]="control"
                (change)="onChange($event)"/>
            <span wlc-icon
                class="{{$class}}__elem"
                iconPath="{{iconPath}}"
                [ngClass]="{checked: control?.value}">
            </span>
            <div class="{{$class}}__text">
                {{textWithLink.prefix | translate}}
                <a class="{{$class}}__link"
                    [uiSref]="'app.contacts'"
                    [uiParams]="{slug: textWithLink.slug, '#': textWithLink.urlHook}"
                    [target]="textWithLink.target">
                    {{textWithLink.linkText | translate}}*
                </a>
                {{textWithLink.suffix | translate}}
            </div>
        </label>

        <label *ngSwitchDefault class="{{$class}}__label">
            <input ngDefaultControl
                type="checkbox"
                name="{{checkboxName}}"
                [attr.data-wlc-element]="fieldWlcElement"
                [formControl]="control"
                [ngClass]="checkboxClassNames"
                (change)="onChange($event)"/>
            <span wlc-icon
                class="{{$class}}__elem"
                iconPath="{{iconPath}}"
                [ngClass]="{checked: control?.value}">
            </span>
            <div *ngIf="checkboxText"
                class="{{$class}}__text"
                [innerHtml]="checkboxText | translate:textContext">
            </div>
        </label>
    </ng-container>
</ng-template>

<ng-template #toggle>
    <label class="{{$class}}__label">
        <div *ngIf="checkboxText" class="{{$class}}__text">
            {{checkboxText | translate:textContext}}
        </div>
        <input ngDefaultControl
            type="checkbox"
            name="{{checkboxName}}"
            [attr.data-wlc-element]="fieldWlcElement"
            [formControl]="control"
            [ngClass]="checkboxClassNames"
            (change)="onChange($event)"/>
        <span class="{{$class}}__elem" [ngClass]="{checked: control?.value}"></span>
    </label>
</ng-template>
