<ng-container [ngSwitch]="checkboxType">
    <label class="{{$class}}__label" *ngSwitchCase="'legal-modal'">
        <input type="checkbox"
            name="{{$params.name}}"
            [attr.data-wlc-element]='fieldWlcElement'
            ngDefaultControl
            [formControl]="control"
            class="{{$class}}__checkbox"/>
        <span wlc-icon
            class="{{$class}}__elem"
            [ngClass]="{checked: control?.value}"
            iconPath="/wlc/icons/tick.svg">
        </span>
        <div class="{{$class}}__text">
            {{textWithLink.prefix | translate}}
            <span
                class="{{$class}}__link"
                (click)="showModal('staticText', textWithLink.slug)">
                {{textWithLink.linkText | translate}}
            </span>
            {{textWithLink.suffix | translate}}
        </div>
    </label>

    <label class="{{$class}}__label" *ngSwitchCase="'legal-link'">
        <input type="checkbox"
            name="{{$params.name}}"
            ngDefaultControl
            class="{{$class}}__checkbox"
            [formControl]="control"
            data-wlc-element="input_payment-checkbox"
            (change)="onChange($event)"/>
        <span wlc-icon
              class="{{$class}}__elem"
              [ngClass]="{checked: control?.value}"
              iconPath="/wlc/icons/tick.svg">
        </span>
        <div class="{{$class}}__text">
            {{textWithLink.prefix | translate}}
            <a [uiSref]="'app.contacts'" [uiParams]="{slug: textWithLink.slug}"
               class="{{$class}}__link">{{textWithLink.linkText | translate}} *</a>
            {{textWithLink.suffix | translate}}
        </div>
    </label>

    <label class="{{$class}}__label" *ngSwitchDefault>
        <input type="checkbox"
            name="{{$params.name}}"
            [attr.data-wlc-element]='fieldWlcElement'
            ngDefaultControl
            [formControl]="control"
            (change)="onChange($event)"
            class="{{$class}}__checkbox"/>
        <span wlc-icon
            class="{{$class}}__elem"
            [ngClass]="{checked: control?.value}"
            iconPath="/wlc/icons/tick.svg">
        </span>
        <div class="{{$class}}__text" *ngIf="$params.text">
            {{$params.text | translate:textContext}}
        </div>
    </label>
</ng-container>
