@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-games-grid--theme-default:host {

    .wlc-games-grid {

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: ef.get-value($themeDefault, 'headerMargin');

            ::ng-deep {

                .wlc-title {

                    &__main {
                        @include text.get-text-style(ef.get-value($themeDefault, 'headerFontStyle'), ef.get-value($themeDefault, 'headerColor'));
                        line-height: 1;
                    }
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            @include text.get-text-style('PlaceholderTextBold', ef.get-value($themeDefault, 'allLinkColor'));
            text-decoration: none;

            @media (hover: hover) {

                &:hover {

                    .wlc-icon {
                        transform: rotateX(360deg) translateX(10px);
                        @include bm.transition(transform, 0.3s);
                    }
                }
            }

            ::ng-deep {

                .wlc-icon {
                    margin-left: ef.get-value($themeDefault, 'allLinkIconMargin');
                    @include bm.transition(transform, 0.3s);

                    &-content {
                        display: flex;
                    }

                    svg {
                        transform: rotate(-90deg);
                        fill: ef.get-value($themeDefault, 'allLinkColor');
                    }
                }
            }
        }

        &__list {
            display: grid;
            @include bm.get-mq-map('grid-gap', $themeDefault, 'gridGap');
            @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumns');
        }

        &__more {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: ef.get-value($themeDefault, 'moreButtonMargin');
        }

        &__placeholder {
            display: flex;
            justify-content: center;
            align-items: center;

            color: ef.get-value($themeDefault, 'placeholderTextColor');

            border-radius: ef.get-value($themeDefault, 'placeholderBorderRadius');
            background: {
                image: ef.get-value($themeDefault, 'placeholderBackground');
                repeat: no-repeat;
                size: cover;
            }
        }
    }
}


