.wlc-games-grid--theme-default:host {

    .wlc-games-catalog--theme-default & {

        .wlc-games-grid__content {

            ::ng-deep {

                .wlc-games-grid__more {
                    @include bm.get-mq-map('margin', $themeDefault, 'catalogMoreButtonMargin');
                }
            }
        }
    }

    .wlc-games-grid {

        &__header {
            display: flex;
            align-items: ef.get-value($themeDefault, 'headerAlignItems');
            justify-content: ef.get-value($themeDefault, 'headerJustifyContent');
            width: ef.get-value($themeDefault, 'headerWidth');
            margin: ef.get-value($themeDefault, 'headerMargin');
        }

        &__banner {
            @include bm.get-mq-map('grid-row', $themeDefault, 'gridBannerRow');
            @include bm.get-mq-map('grid-column', $themeDefault, 'gridBannerColumn');
            @include bm.get-mq-map('margin-right', $themeDefault, 'gridGap');
            align-self: stretch;
            width: 100%;

            div {
                height: 100%;
            }

            [class*='wlc-banners'] {
                height: 100%;
            }

            ::ng-deep {

                [class*='wlc-banners'],
                .swiper,
                .ng-star-inserted[wlc-dynamic] {
                    height: 100%;
                }

                .wlc-banner {
                    height: 100%;
                    border-radius: ef.get-value($themeDefault, 'bannerBorderRadius');
                }

                .wlc-game-grid__banner {
                    --banner-justify-content: flex-start;
                    --banner-gradient: linear-gradient(var(--banner-grad-angle, 90deg), var(--mc-bg-o8), transparent);
                    --banner-max-width: 80%;
                    --banner-text-align: left;
                    --banner-btn-margin: 0 auto 0 0;

                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: var(--banner-justify-content);
                    height: 100%;
                    overflow: hidden;

                    &.text-center {
                        --banner-grad-angle: 180deg;
                        --banner-max-width: 100%;
                        --banner-text-align: center;
                        --banner-btn-margin: 0 auto;
                    }

                    &.text-right {
                        --banner-grad-angle: 270deg;
                        --banner-justify-content: flex-end;
                        --banner-text-align: right;
                        --banner-btn-margin: 0 0 0 auto;
                    }

                    .wlc-banner__bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &.gradient {

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                                background: var(--banner-gradient);
                            }
                        }
                    }

                    .wlc-banner__container {
                        @include bm.get-mq-map('padding', $themeDefault, 'bannerWrapPadding');
                        position: relative;
                        z-index: 20;
                        max-width: var(--banner-max-width);
                        text-align: var(--banner-text-align);

                        .banner__title {
                            @include bm.get-mq-map('margin', $themeDefault, 'bannerTitleMargin');
                            @include text.get-text-style(
                                ef.get-value($themeDefault, 'bannerTitleFontStyle'),
                                ef.get-value($themeDefault, 'bannerTitleFontColor')
                            );
                            @include mq.min(900) {
                                @include text.get-text-style(
                                    ef.get-value($themeDefault, 'bannerTitleFontStyle', 900),
                                    null
                                );
                            }
                        }

                        .banner__description {
                            @include bm.get-mq-map('margin', $themeDefault, 'bannerDescMargin');
                            @include text.get-text-style(
                                ef.get-value($themeDefault, 'bannerDescFontStyle'),
                                ef.get-value($themeDefault, 'bannerDescFontColor')
                            );
                            @include mq.min(900) {
                                @include text.get-text-style(
                                    ef.get-value($themeDefault, 'bannerDescFontStyle', 900),
                                    null
                                );
                            }
                        }

                        .wlc-btn--theme-default {
                            margin: var(--banner-btn-margin);
                        }
                    }
                }

                .wlc-game-grid__game {
                    height: 100%;
                    overflow: hidden;
                }
            }
        }

        &__item {
            @include item();
        }

        &__list {
            @include list();
        }

        &__progressbar {
            @include bm.get-mq-map('margin', $themeDefault, 'progressBarMargin');
        }

        &__card-progressbar {
            @include bm.get-mq-map('margin', $themeDefault, 'cardProgressBarMargin');
        }

        &__placeholder {
            display: flex;
            align-items: ef.get-value($themeDefault, 'placeholderAlignItems');
            justify-content: ef.get-value($themeDefault, 'placeholderJustifyContent');

            color: ef.get-value($themeDefault, 'placeholderTextColor');

            border-radius: ef.get-value($themeDefault, 'placeholderBorderRadius');
            background: {
                image: ef.get-value($themeDefault, 'placeholderBackground');
                repeat: no-repeat;
                size: cover;
            }
        }

        .wlc-search--theme-mod-default & {

            &__progressbar {
                @include bm.get-mq-map('margin', $themeDefault, 'searchProgressBarMargin');
            }
        }

        .wlc-provider-games--theme-mod-default & {

            &__progressbar {
                @include bm.get-mq-map('margin', $themeDefault, 'providersProgressBarMargin');
            }
        }
    }

    &.wlc-games-grid--theme-mod-mobile-app-search {

        .wlc-games-grid {

            &__list {
                @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumnsSearchMobileApp');
            }
        }
    }

    &.wlc-games-grid--theme-mod-tournament-detail {

        .wlc-games-grid {

            &__list {
                @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumnsTournamentDetail');
            }
        }
    }

    &.wlc-games-grid--theme-mod-banner-right {


        .wlc-games-grid__banner {
            @include bm.get-mq-map('grid-column', $themeDefault, 'gridBannerColumnRight');
        }
    }

    &.wlc-games-grid--theme-mod-header-inline {

        .wlc-games-grid {

            &__header {
                @include bm.get-mq-map('flex-direction', $modHeaderInline, 'flexDirection');
                @include bm.get-mq-map('margin', $modHeaderInline, 'margin');
                @include bm.get-mq-map('padding', $modHeaderInline, 'padding');

                @include bm.get-mq-map('background', $modHeaderInline, 'background');

                @include bm.get-mq-map('border-radius', $modHeaderInline, 'borderRadius');
                @include bm.get-mq-map('text-decoration', $modHeaderInline, 'textDecoration');

                .wlc-title {
                    @include bm.get-mq-map('margin', $modHeaderInline, 'titleMargin');
                    @include bm.get-mq-map('text-align', $modHeaderInline, 'titleAlign');
                    width: 100%;

                    ::ng-deep {

                        .wlc-title__main {
                            @include text.get-text-style(
                                ef.get-value($modHeaderInline, 'headerFontStyle'),
                                ef.get-value($modHeaderInline, 'headerColor')
                            );
                            @include bm.lineClamp();
                            max-width: 100%;
                        }
                    }
                }

                .wlc-icon {
                    @include bm.get-mq-map('margin', $modHeaderInline, 'iconMargin');
                }

                .wlc-games-grid__link {

                    .wlc-icon {
                        @include bm.get-mq-map('margin', $modHeaderInline, 'linkIconMargin');
                    }
                }
            }

            &__more {
                @include bm.get-mq-map('margin', $modHeaderInline, 'moreButtonMargin');
            }
        }

        .container & {

            &:not(:first-child) {
                @include bm.get-mq-map('margin-top', ev.$baseVariables, 'sectionsGap');
            }
        }
    }

    &.wlc-games-grid--theme-mod-mobile-app {

        .wlc-games-grid {

            &__list {
                @include bm.get-mq-map('grid-template-columns', $modMobileApp, 'gridColumns');
            }
        }

        .wlc-games-grid__header {
            margin: ef.get-value($modMobileApp, 'headerMargin');
        }

        .wlc-games-grid__title {

            ::ng-deep {

                .wlc-title__main {
                    @include text.get-text-style(
                        ef.get-value($modMobileApp, 'headerFontStyle'),
                        ef.get-value($modMobileApp, 'headerColor')
                    );
                    line-height: 1;
                }
            }
        }
    }
}
