
@mixin flag($width, $height, $borderRadius) {
    width: $height;
    height: $height;
    border-radius: $borderRadius;
    overflow: hidden;

    img {
        display: block;
        width: $height;
        height: $height;
    }
}

@mixin autoGrid {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 10px;
}

@mixin mod($theme, $mod) {
    @include bm.themeMod('wlc-language-selector', $theme, $mod) {
        @content;
    }
}
