@mixin flag($width, $height, $borderRadius, $boxShadow:null, $boxShadowHover:null) {
    width: $height;
    height: $height;
    border-radius: $borderRadius;
    overflow: hidden;
    border: ef.get-value($themeDefault, 'currentFlagBorder');

    @if $boxShadow != null {
        margin: 4px;
        box-shadow: $boxShadow;
        transition: box-shadow 0.2s ease-out;

        @include bm.hover {
            box-shadow: $boxShadowHover, 0 0 7px 7px var(--mc-bg-o8);
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

@mixin list($templateColumns, $gap, $padding, $background:null) {
    position: relative;
    display: grid;
    grid-gap: $gap;
    grid-template-columns: $templateColumns;
    padding: $padding;
    border-radius: ef.get-value($themeDefault, 'dropdownBorderRadius');

    @if $background != null {
        background: $background;
    }
}

@mixin lang {
    @include text.get-text-style(ef.get-value($themeDefault, 'langFontStyle'), ef.get-value($themeDefault, 'langFontColorCurrent'));
    @include bm.transition(opacity);
    position: absolute;
    bottom: ef.get-value($themeDefault, 'langBottom');
    left: ef.get-value($themeDefault, 'langLeft');
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: ef.get-value($themeDefault, 'langHeight');
    padding: ef.get-value($themeDefault, 'langPadding');
    white-space: nowrap;
    background-color: ef.get-value($themeDefault, 'langBg');
    border-radius: ef.get-value($themeDefault, 'langRadius');
    transform: translate(-50%, 0);
    visibility: hidden;
    opacity: 0;

    &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        border: 3px solid transparent;
        border-bottom: 4px solid ef.get-value($themeDefault, 'langBg');
        transform: translate(-50%, 0);
    }
}

@mixin link {
    position: relative;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: ef.get-value($themeDefault, 'dropdownGap');
    align-items: center;
    justify-content: var(--ls-link-justify);
    text-decoration: none;

    @include bm.hover {

        .wlc-language-selector__link-flag {
            box-shadow: ef.get-value($themeDefault, 'flagBoxShadowHover');
        }

        .wlc-language-selector__link-lang,
        .wlc-language-modal__link-lang {
            visibility: visible;
            opacity: 1;
        }
    }
}

@mixin autoGrid {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 10px;
    align-items: center;
}
