@use 'engine-scss/functions' as ef;
// Current
$customThemeDefault: () !default;
$themeDefault: map-merge((
    'currentGap': ef.get('size', 'smallest'),
    'currentPadding': ef.get('size', 'smallest'),
    'currentBorderRadius': ef.get('size', 'smaller'),
    'currentBorder': 1px solid ef.get('color', 'divider'),
    'currentBackground': ef.get('mainColors', bg700),
    'currentArrowColor': ef.get('mainColors', 'baseOpacity'),
    'currentColor': ef.get('mainColors', 'baseOpacity'),
    'currentFlagSize': ef.get('size', 'less'),
    'currentHeight': ef.get('size', 'less'),
    'dropdownGap': ef.get('size', 'small'),
    'dropdownPadding': ef.get('size', 'small'),
    'dropdownBackgroundColor': ef.get('mainColors', bg700),
    'dropdownBorderRadius': ef.get('radius', 'less'),
    'dropdownArrowSize': ef.get('size', 'small'),
    'dropdownItemHover': darken(ef.get('color', 'backgroundSecondary'), 5%),
    'dropdownFlagSize': ef.get('size', 'less'),
    'dropdownLinkColor': ef.get('color', 'text'),
    'flagBoxShadow':ef.get('mainColors', 'bg300'),
    'flagBoxShadowHover': ef.get('mainColors', 'main'),

    'langLeft': 50%,
    'langBottom': -30px,
    'langBg': ef.get('mainColors', 'baseMain'),
    'langFontStyle': 'SignText',
    'langFontColor': ef.get('fieldColors', 'textColor'),
    'langPadding': 0 ef.get('size', 'smallest'),
    'langHeight': 20px,
    'langRadius': 20px,
    'langFontStyleCurrent': 'ThirdTitleBold',
    'langFontColorCurrent': ef.get('mainColors', 'baseMain'),

    'listGap': ef.get('size', 'smaller'),
    'listPadding': ef.get('size', 'smaller'),
), $customThemeDefault);

$customThemeModal: () !default;
$themeModal: map-merge((
    'dropdownFlagSize': 55px,
    'dropdownLinkColor': ef.get('color', 'text'),
    'flagBoxShadow': ef.get('mainColors', 'bg300'),
    'flagBoxShadowHover': ef.get('mainColors', 'main'),
    'listGap': ef.get('size', 'smaller'),
    'listPadding': ef.get('size', 'smally'),
), $customThemeModal);

$customThemeBorderAround: () !default;
$themeBorderAround: map-merge((
    'currentHeight': 40px,
    'currentBorder': 2px solid ef.get('mainColors', 'baseOpacity'),
    'currentPadding': ef.get('size', 'smallest'),
    'currentRadius': ef.get('radius', 'biger'),
    'currentFlagSize': 27px,
), $customThemeBorderAround);

$customThemeDefaultModLog: () !default;
$themeDefaultModLog: map-merge((
    'maxWidthModLong': 275px,
    'currentBorderModLong': 0,
    'currentPaddingModLong': 7px 12px,
    'currentBgModLong': ef.get('mainColors', 'bg700'),
    'currentBgModLongActive': ef.get('mainColors', 'main'),
    'currentBgModLongHover': ef.get('mainColors', 'baseOpacity'),
    'currentFillModLongActive': ef.get('mainColors', 'baseMain'),
    'currentBorderRadiusModLong': 10px,
    'currentMarginModLong': 5px 0,
    'currentColorModLang': ef.get('mainColors', 'baseMain'),
    'dropdownBgModLong': ef.get('mainColors', 'bg700'),
    'currentFlagSize': ef.get('size', 'smaller'),
    'currentFlagMargin': 5px,
    'dropdownFlagSize': ef.get('size', 'smaller'),
    'dropdownPaddingLong': ef.get('size', 'smaller') 12px,
    'langFontStyleActive': 'ButtonText',
    'langFontStyle': 'PrimaryText',
), $customThemeDefaultModLog);
