@use 'engine-scss/functions' as ef;
// Current
$customThemeDefault: () !default;
$themeDefault: map-merge((
    'currentGap': ef.get('size', 'smallest'),
    'currentPadding': ef.get('size', 'smallest'),
    'currentBorderRadius': ef.get('size', 'smaller'),
    'currentBackground': var(--mc-bg700),
    'currentArrowColor': var(--mc-baseMain),
    'currentArrowColorHover': var(--mc-main),
    'currentColor': var(--mc-baseOpacity),
    'currentFlagSize': ef.get('size', 'less'),
    'currentFlagBorder': null,
    'currentHeight': ef.get('size', 'less'),
    'dropdownGap': ef.get('size', 'small'),
    'dropdownPadding': ef.get('size', 'small'),
    'dropdownBackgroundColor': var(--mc-bg),
    'dropdownBorderRadius': ef.get('radius', 'less'),
    'dropdownFlagSize': ef.get('size', 'less'),
    'listShadow': 0 0 5px ef.get('mainColors', 'baseContrast'),

    'dropdownArrowSize': ef.get('size', 'small'),

    'flagBoxShadow': 0 0 0 4px var(--mc-bg300),
    'flagBoxShadowHover': 0 0 0 4px var(--mc-main),

    'langLeft': 50%,
    'langBottom': -30px,
    'langBg': var(--mc-baseMain),
    'langFontStyle': 'SignText',
    'langFontColor': var(--mc-baseContrast),
    'langPadding': 0 ef.get('size', 'small'),
    'langHeight': 20px,
    'langRadius': 20px,
    'langFontStyleCurrent': 'PrimaryText',
    'langFontColorCurrent': var(--mc-baseMain),

    'listGap': ef.get('size', 'smaller'),
    'listPadding': ef.get('size', 'smaller'),
), $customThemeDefault);

$customThemeModal: () !default;
$themeModal: map-merge((
    'dropdownFlagSize': 55px,
    'flagBoxShadow': 0 0 0 4px var(--mc-bg300),
    'flagBoxShadowHover': (0 0 0 4px var(--mc-main), 0 0 7px 7px rgba(0, 0, 0, 0.6)),
    'listGap': ef.get('size', 'smaller'),
    'listPadding': ef.get('size', 'smally'),
), $customThemeModal);

$customThemeBorderAround: () !default;
$themeBorderAround: map-merge((
    'minWidth': 90px,
    'currentHeight': 40px,
    'currentBorder': 2px solid var(--mc-baseOpacity),
    'currentBorderHover': 2px solid var(--mc-bg100),
    'currentBorderOpened': 2px solid var(--mc-buttonColor),
    'currentArrowFill': var(--fc-arrowColor),
    'currentArrowFillHover': var(--mc-bg100),
    'currentArrowFillOpened': var(--mc-baseMain),
    'currentPadding': ef.get('size', 'smallest'),
    'currentRadius': ef.get('radius', 'biger'),
    'currentFlagSize': 27px,
    'flagBoxShadowHover': none,
), $customThemeBorderAround);

$customThemeDefaultModLog: () !default;
$themeDefaultModLog: map-merge((
    'currentMinHeight': ef.size(8),
    'maxWidthModLong': 275px,
    'currentBorderModLong': 0,
    'currentPaddingModLong': 5px 15px,
    'currentBgModLong': (
        375: var(--mc-bg),
        1024: var(--mc-bg500),
    ),
    'currentBgModLongActive': var(--mc-main),
    'currentBgModLongHover': var(--mc-bg500-l10),
    'currentFillModLong': var(--mc-baseOpacity),
    'currentFillModLongHover': inherit,
    'currentFillModLongActive': ef.get('mainColors', 'baseMain'),
    'currentBorderRadiusModLong': 10px,
    'currentMarginModLong': 5px 0,
    'currentColorModLang': var(--mc-baseMain),
    'currentColorModLangOpened': ef.get('mainColors', 'baseMain'),
    'dropdownBgModLong': var(--mc-bg),
    'dropdownMarginOpened': ef.size(1) 0 0,
    'dropdownBorderRadius': ef.get('size', 'small'),
    'listShadow': none,
    'currentFlagSize': ef.get('size', 'smaller'),
    'currentFlagMargin': 5px,
    'dropdownFlagSize': ef.get('size', 'smaller'),
    'dropdownPaddingLong': ef.get('size', 'smaller') ef.get('size', 'smally'),
    'langFontStyleActive': 'PrimaryText',
    'langFontStyle': 'PrimaryText',
    'burgerPanelMaxWidthModLong': 240px,
    'burgerPanelCurrentMarginModLong': 20px auto,
    'burgerPanelCurrentBgModLong': var(--mc-bg500),
    'burgerPanelCurrentBgModLongHover': var(--mc-baseMain-o1),
    'flagBoxShadowHover': (0 0 0 4px var(--mc-main), 0 0 3px 3px rgba(0, 0, 0, 0.6)),
), $customThemeDefaultModLog);
