// Current
$customThemeDefault: () !default;
$themeDefault: map-merge((
    'currentGap': ef.size(1),
    'currentPadding': ef.size(1),
    'currentBorderRadius': ef.size(4),
    'currentBackground': var(--mc-bg700),
    'currentArrowColor': var(--fc-arrowColor),
    'currentArrowColorOpened': var(--mc-baseMain),
    'currentColor': var(--mc-baseOpacity),
    'currentFlagSize': ef.size(6),
    'currentFlagBorder': null,
    'currentHeight': ef.size(6),
    'dropdownGap': ef.size(2),
    'dropdownPadding': ef.size(2),
    'dropdownBackgroundColor': var(--mc-bg),
    'dropdownBorderRadius': ef.get('radius', 'biger'),
    'dropdownFlagSize': ef.size(6),
    'listShadow': 0 0 5px ef.get('mainColors', 'baseContrast'),

    'dropdownArrowSize': ef.size(2),

    'flagBoxShadow': 0 0 0 4px var(--mc-bg300),
    'flagBoxShadowHover': 0 0 0 4px var(--mc-main),

    'langLeft': 50%,
    'langBottom': -30px,
    'langBg': var(--mc-bg100),
    'langFontStyle': 'SignText',
    'langFontColor': var(--mc-baseContrast),
    'langPadding': 0 ef.size(2),
    'langHeight': 20px,
    'langRadius': 20px,
    'langFontStyleCurrent': 'PrimaryText',
    'langFontColorCurrent': var(--mc-baseMain),
    'listGap': ef.size(2),
    'listPadding': ef.size(2),
), $customThemeDefault);

$customThemeModal: () !default;
$themeModal: map-merge((
    'dropdownFlagSize': 55px,
    'flagBoxShadow': 0 0 0 4px var(--mc-bg300),
    'flagBoxShadowHover': (0 0 0 4px var(--mc-main), 0 0 7px 7px rgba(0, 0, 0, 0.6)),
    'listGap': ef.size(4),
    'listPadding': ef.size(3),
), $customThemeModal);

$customThemeBorderAround: () !default;
$themeBorderAround: map-merge((
    'minWidth': 90px,
    'currentHeight': 40px,
    'currentBorder': 2px solid var(--mc-baseOpacity),
    'currentBorderHover': 2px solid var(--mc-baseMain),
    'currentBorderOpened': 2px solid var(--mc-main),
    'currentArrowFill': var(--fc-arrowColor),
    'currentArrowFillHover': var(--mc-baseMain),
    'currentArrowFillOpened': var(--mc-main),
    'currentPadding': ef.size(1),
    'currentRadius': ef.get('radius', 'biger'),
    'currentFlagSize': 27px,
), $customThemeBorderAround);

$customThemeDefaultModLog: () !default;
$themeDefaultModLog: map-merge((
    'currentMinHeight': ef.size(8),
    'maxWidthModLong': 275px,
    'currentBorderModLong': 0,
    'currentPaddingModLong': 5px 15px,
    'currentBgModLong': (
        375: var(--mc-bg),
        1024: var(--mc-bg500),
    ),
    'currentBgModLongActive': var(--mc-main),
    'currentBgModLongHover': var(--mc-bg500-l10),
    'currentFillModLong': var(--mc-baseOpacity),
    'currentFillModLongHover': currentColor,
    'currentFillModLongActive': ef.get('mainColors', 'baseMain'),
    'currentBorderRadiusModLong': 10px,
    'currentMarginModLong': 5px 0,
    'currentColorModLang': var(--mc-bg100),
    'currentColorModLangOpened': ef.get('mainColors', 'baseMain'),
    'dropdownBgModLong': var(--mc-bg),
    'dropdownMarginOpened': ef.size(1) 0 0,
    'dropdownBottom': calc(100% + 10px),
    'dropdownBorderRadius': ef.size(2),
    'listShadow': none,
    'currentFlagSize': ef.size(4),
    'currentFlagMargin': 5px,
    'dropdownFlagSize': ef.size(4),
    'dropdownPaddingLong': ef.size(4) ef.size(3),
    'langFontStyleActive': 'PrimaryText',
    'langFontStyle': 'PrimaryText',
    'burgerPanelMaxWidthModLong': 240px,
    'burgerPanelCurrentMarginModLong': 20px auto,
    'burgerPanelCurrentBgModLong': var(--mc-bg500),
    'burgerPanelCurrentBgModLongHover': var(--mc-baseMain-o1),
    'flagBoxShadowHover': (0 0 0 4px var(--mc-main), 0 0 3px 3px rgba(0, 0, 0, 0.6)),
    'flagBoxShadowOpened': (0 0 0 4px var(--mc-main), 0 0 3px 3px rgba(0, 0, 0, 0.6)),

    //Popup and compact
    'ddPopupWidth': calc(100% - 20px),
    'ddPopupPosLeft': 50%,
    'ddPopupTransform': translateX(-50%),
    'ddPopupArrowMargin': 0 0 ef.size(2),
    'ddPopupArrowMarginBottom': ef.size(2) 0 0,
    'ddPopupArrowPosLeft': 50%,
    'ddPopupArrowWidth': 8px,
    'ddPopupArrowHeight': 8px,
    'ddPopupArrowRadius': 0,
    'ddPopupArrowBg': inherit,
    'ddPopupArrowTransform': translate(-50%, -50%) rotate(45deg),
    'ddPopupArrowTransformBottom': translate(-50%, 50%) rotate(45deg),
    'compactCurrColumns': 1fr,
    'compactCurrBg': transparent,
    'compactCurrBgHover': transparent,
    'compactCurrBgActive': transparent,
    'compactCurrFlagJustify': center,
    'compactCurrFlagSize': 24px,
    'compactCurrFlagMarginRight': 0,
    'compactLinkJustify': center,
    'compactListPadding': ef.size(3) 0,
), $customThemeDefaultModLog);
