<!-- Временая разметка для отображения форм. Удалить все, компоненты использывать там где нужно -->
<div class="temp-wrapper">
    <div class="temp-wrapper__unit transparent">
        <div class="row mt-5">
            <div class="col">
                <div class="temp-bonus-container">
                    <div wlc-signup-bonus></div>
                </div>
            </div>
        </div>
    </div>
    <div class="temp-wrapper__unit">
        <div class="row">
            <div class="col-3">
                <div wlc-sign-up></div>
            </div>
            <div class="col-3">
                <div wlc-sign-in></div>
            </div>
            <div class="col-3">
                <div wlc-password-restore></div>
            </div>
            <div class="col-3">
                <div wlc-password-change></div>
            </div>
        </div>
    </div>
</div>
<!-- Временая разметка для отображения форм. Удалить все, компоненты использывать там где нужно -->
