<div class="{{$class}}__wrapper">
    <div class="{{$class}}__info-wrapper">
        <div class="{{$class}}__image-block"
            data-wlc-element="bonus_image"
            [style.backgroundImage]="bonusBgUrl">
            <div wlc-bonus-item [inlineParams]="{bonus, theme: 'modal'}"></div>
        </div>
        <div class="{{$class}}__info-block">
            <h4 class="{{$class}}__name" data-wlc-element="bonus_title-name">{{bonus.name}}</h4>
            <div class="{{$class}}__desc-block">
                <div *ngIf="bonus.description"
                    class="{{$class}}__description"
                    data-wlc-element="bonus_description-name">
                    <div wlc-dynamic-html [html]="bonus.description"></div>
                </div>
                <div *ngIf="bonus.terms"
                    class="{{$class}}__terms"
                    data-wlc-element="bonus_terms-name">
                    <div wlc-dynamic-html [html]="bonus.terms"></div>
                </div>
            </div>
        </div>
    </div>
    <div wlc-bonus-buttons
        class="{{$class}}__btns"
        [bonus]="bonus"
        [bonusItemTheme]="$params.bonusItemTheme"></div>
</div>
