<div *ngIf="$params.common.titleText"
     class="{{$class}}__title">
    {{$params.common.titleText | translate}}
</div>
<div *ngIf="$params.common.subtitleText"
     class="{{$class}}__subtitle">
    {{$params.common.subtitleText | translate}}
</div>
<div *ngIf="$params.common.linkText"
     class="{{$class}}__text">
    <button
        wlc-button
        icon="arrow"
        theme="cleared"
        text="{{$params.common.linkText}}"
        (click)="goTo($params.common.actionParams)"
    >
    </button>
</div>
