<div class="{{$class}}__container" [attr.data-wlc-element]="$params.wlcElement + '-container'">
    <h3 *ngIf="$params.common.title"
        class="{{$class}}__title">
        {{$params.common.title | translate}}
    </h3>
    <h4 *ngIf="$params.common.subtitle"
        class="{{$class}}__subtitle">
        {{$params.common.subtitle | translate}}
    </h4>
    <div *ngIf="$params.common.link"
         class="{{$class}}__text">
        <button
            wlc-button
            icon="arrow"
            theme="cleared"
            [attr.type]="'button'"
            [wlcElement]="$params.wlcElement + '-button'"
            text="{{$params.common.link}}"
            (click)="goTo($params.common.actionParams); $event.preventDefault();"
        >
        </button>
    </div>
</div>
