.wlc-recommended-bonuses--theme-default:host {
    @include bm.get-mq-map('--wlc-bl-prev-button-offset', $themeDefault, 'swiperBtnsPos');
    @include bm.get-mq-map('--wlc-bl-next-button-offset', $themeDefault, 'swiperBtnsPos');
    @include bm.get-mq-map('--wlc-bl-swiper-btn-display', $themeDefault, 'swiperBtnsDisplay');
    @include bm.get-mq-map('--wlc-bl-swiper-margin', $themeDefault, 'swiperContainerMargin');

    .wlc-recommended-bonuses {

        &__title {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'titleFontStyle'),
                ef.get-value($themeDefault, 'titleColor')
            );
            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
            @include bm.get-mq-map('text-align', $themeDefault, 'titleTextAlign');
        }
    }

    ::ng-deep {

        .wlc-bonuses-list {
            max-width: ef.get-value($themeDefault, 'sliderMaxWidth');

            swiper-container {
                @include bm.get-mq-map('padding', $themeDefault, 'swiperContainerPadding');
                margin: var(--wlc-bl-swiper-margin);
            }

            .wlc-bonus-item {
                width: 100%;
            }

            &.wlc-bonuses-list--count-1-bonus {
                --wlc-bl-swiper-margin: 0;
                --wlc-bl-wrapper-margin: 0;
            }

            &.wlc-bonuses-list--theme-mod-with-ears {
                --wlc-bl-wrapper-width: unset;
                --wlc-bl-wrapper-margin: 0;
                --wlc-bl-swiper-margin: 0;

                @include bm.get-mq-map('--wlc-bl-slide-width', $themeDefault, 'bonusItemWidthEars');
            }

            &:not(.wlc-bonuses-list--theme-mod-with-ears) {

                &:not(.wlc-bonuses-list--count-1-bonus) {
                    @include bm.get-mq-map('margin', $themeDefault, 'sliderMargin');
                }
            }
        }
    }
}
