.wlc-recommended-bonuses--theme-default:host {

    .wlc-recommended-bonuses {

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleColor'));
            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
            @include bm.get-mq-map('text-align', $themeDefault, 'titleTextAlign');
        }
    }

    ::ng-deep {

        .wlc-bonuses-list {

            &--type-swiper {
                @include bm.get-mq-map('max-width', $themeDefault, 'sliderMaxWidth');

                .wlc-bonus-item--theme-default .wlc-bonus-item__content {
                    min-width: ef.get-value($themeDefault, 'baseSliderWidth');
                }

                .wlc-bonuses-list__list-wrapper .swiper .swiper-slide {
                    width: ef.get-value($themeDefault, 'baseSliderWidth');
                }

                .wlc-bonuses-list__content .wlc-bonuses-list__list-wrapper
                .swiper.swiper-initialized {
                    @include bm.get-mq-map('margin', $themeDefault, 'swiperContainerMargin');
                    @include bm.get-mq-map('padding', $themeDefault, 'swiperContainerPadding');


                    .swiper-wrapper[class] {
                        justify-content: ef.get-value($themeDefault, 'swiperContainerJustifyContent');
                    }
                }

                &:not(.single-bonus-swiper) {
                    @include bm.get-mq-map('margin', $themeDefault, 'sliderMargin');
                }
            }

            &--theme-default.wlc-bonuses-list--type-swiper .wlc-bonuses-list__list-wrapper {

                .swiper {
                    @include bm.get-mq-map('padding', $themeDefault, 'swiperContainerPadding');
                }

                .swiper-button-prev {
                    @include bm.get-mq-map('display', $themeDefault, 'swiperBtnsDisplay');
                    @include bm.get-mq-map('left', $themeDefault, 'swiperBtnsPos');
                }

                .swiper-button-next {
                    @include bm.get-mq-map('display', $themeDefault, 'swiperBtnsDisplay');
                    @include bm.get-mq-map('right', $themeDefault, 'swiperBtnsPos');
                }

                .wlc-slider--type-default[data-wlc-element]:not(.wlc-slider--overflow) + .ng-star-inserted .swiper-button-disabled,
                .wlc-slider--type-default:not(.wlc-slider--overflow) .swiper-button-disabled {
                    display: none;
                }
            }
        }
    }
}
