<div class="{{$class}}__current" [attr.data-wlc-element]="'selected_link_' + currentLanguage.code"
     (click)="toggle()"
     [ngClass]="[(isOpened || isModalOpen) ? $class + '__current--opened': '']"
>
    <div *ngIf="!$params.currentLang?.hideFlag" class="{{$class}}__current-flag">
        <img src="{{getFlagUrl(currentLanguage.code)}}"
             alt="{{currentLanguage.label}}"
             (error)="imageError(currentLanguage.code)">
    </div>
    <div *ngIf="!$params.currentLang?.hideLang" class="{{$class}}__current-lang">
        {{$params.themeMod !== 'long' ? this.currentLanguage.code : this.currentLanguage.label | translate}}
    </div>
    <div *ngIf="!$params.currentLang?.hideArrow" class="{{$class}}__current-arrow" wlc-icon [iconName]="'arrow'"></div>
</div>
<div class="{{$class}}__dropdown"
     [@toggle]="$params.themeMod !== 'long' ? (isOpened ? 'opened' : 'closed') : (isOpened ? 'openedHeight' : 'closedHeight')"
>
    <ng-container [ngTemplateOutlet]="langList"
                  [ngTemplateOutletContext]="{list: availableLanguages, class: $class}"
                  ></ng-container>
</div>
<ng-template #langList let-list="list" let-$class="class">
    <div class="{{$class}}__list">
        <div *ngFor="let lang of list"
             class="{{$class}}__item {{$class}}__item--{{lang.code}}"
             [ngClass]="[lang.code === currentLanguage.code ? $class + '__item--active': '']">

            <a href="/{{lang.code}}"
               class="{{$class}}__link" [attr.data-wlc-element]="'link_' + lang.code"
               (click)="changeLanguage(lang.code, $event)">

                <span *ngIf="!$params.dropdown?.hideFlag" class="{{$class}}__link-flag">
                    <img src="{{getFlagUrl(lang.code)}}"
                         alt="{{lang.label}}"
                         (error)="imageError(lang.code)">
                </span>

                <span *ngIf="!$params.dropdown?.hideLang" class="{{$class}}__link-lang">{{lang.label}}</span>

            </a>
        </div>
    </div>
</ng-template>
