.wlc-game-dashboard-bonuses--theme-default:host {
    position: relative;
    height: ef.get-value($themeDefault, 'totalHeightBonus');

    ::ng-deep {

        .wlc-game-dashboard-bonuses__slider {
            height: ef.get-value($themeDefault, 'totalHeightBonus');

            & > .swiper {
                height: ef.get-value($themeDefault, 'totalHeightBonus');
            }
        }

        .wlc-game-dashboard-bonuses__bonus-wrp {
            height: ef.get-value($themeDefault, 'bonusWrpHeight');
        }

        .wlc-scrollbar--theme-default {

            .wlc-scrollbar__container {
                padding: ef.get-value($themeDefault, 'scrollbarPadding');
            }

            .swiper-vertical > .swiper-scrollbar {
                right: ef.get-value($themeDefault, 'scrollbarPosition');
            }
        }

        .swiper {

            &-button {

                &-next,
                &-prev {
                    top: ef.get-value($themeDefault, 'buttonTop');

                    &:after {
                        display: none;
                    }
                }

                &-next {
                    right: ef.get-value($themeDefault, 'buttonPosition');
                }

                &-prev {
                    left: ef.get-value($themeDefault, 'buttonPosition');
                }
            }

            &-slide {
                position: relative;
                box-sizing: border-box;
            }

            &-pagination {
                bottom: ef.get-value($themeDefault, 'paginationBottom');
            }
        }
    }
}

.wlc-game-dashboard-bonuses {

    &__not-found {
        text-align: center;
    }
}
