@use 'engine-scss/functions' as ef;

$formMaxWidth: 340px !default;
$formMargin: auto !default;
$fieldMargin: 0 0 20px 0 !default;
$btnMargin: 0 auto 15px auto !default;
$titleMargin: 0 auto 40px auto !default;

$modalBg: ef.get('color', 'background') !default;
$modalBorderRadius: 15px !default;
