@use 'engine-scss/functions' as ef;

.wlc-burger-panel--theme-default:host {

    ::ng-deep {

        .wlc-login-signup {
            justify-content: center;
            grid-auto-flow: initial;
            margin: ef.get-value($themeDefault, 'loginBtnMargin');

            .wlc-btn {
                min-width: 100%;
            }
        }

        .wlc-user-stats[wlc-user-stats] {
            margin: ef.get-value($themeDefault, 'gap') 0;

            ::ng-deep {

                .wlc-user-stats-balance {
                    background: ef.get('mainColors', 'bg700');
                }
            }
        }

        .wlc-category-menu {
            margin-bottom: ef.get-value($themeDefault, 'gap');
        }

        .wlc-profile-menu[wlc-profile-menu] {

            ::ng-deep {

                .wlc-menu[wlc-menu] {

                    .wlc-menu__link {
                        background: ef.get('mainColors', 'bg700');
                    }
                }
            }
        }
    }
}
