//todo in layout component

.wlc-burger-panel--theme-default:host {

    ::ng-deep {

        .wlc-login-signup {
            justify-content: center;
            grid-auto-flow: initial;
            padding: map-get($themeDefault, 'loginBtnPadding');

            .wlc-btn {
                min-width: 100%;
            }
        }

        .wlc-user-stats {
            margin-bottom: map-get($themeDefault, 'gap');
        }

        .wlc-category-menu {
            margin-bottom: map-get($themeDefault, 'gap');
        }
    }
}
