@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-burger-panel--theme-left:host {
    left: 0;

    width: ef.get-value($themeLeft, 'panelWidth');
    max-width: ef.get-value($themeLeft, 'panelWidth');
    height: 100%;
    max-height: 100%;

    background: map-get($themeLeft, 'panelBackground');
    transform: translateX(-100%);

    &.wlc-burger-panel--open {
        transform: none;
        visibility: visible;
    }

    ::ng-deep {

        @include headerNavBase;

        .wlc-burger-panel__header-menu {

            .wlc-menu {
                justify-content: ef.get-value($themeLeft, 'headerMenuJustifyContent');

                &__item {

                    .wlc-icon {

                        svg {
                            fill: ef.get-value($themeLeft, 'headerMenuItemIconColor');
                        }
                    }
                }

                &__link {
                    width: ef.get-value($themeLeft, 'headerMenuItemWidth');
                    height: ef.get-value($themeLeft, 'headerMenuItemHeight');
                    margin: ef.get-value($themeLeft, 'headerMenuItemMargin');
                    background: ef.get-value($themeLeft, 'headerMenuItemBackground');

                    &.active {
                        background: ef.get-value($themeLeft, 'headerMenuItemActiveBg');
                    }

                    @include bm.hover {
                        background: ef.get-value($themeLeft, 'headerMenuItemActiveBg');
                    }
                }
            }
        }

        .wlc-logo {
            @include bm.get-mq-map('max-width', $themeLeft, 'logoMaxWidth');
            @include bm.get-mq-map('margin', $themeLeft, 'logoMargin');

            display: flex;
            justify-content: center;

            &__image {

                svg {
                    @include bm.get-mq-map('max-height', $themeLeft, 'logoSvgMaxHeight');
                }
            }
        }

        .wlc-login-signup {
            grid-auto-flow: initial;
            justify-content: center;
            margin: ef.get-value($themeLeft, 'loginBtnMargin');
            padding: ef.get-value($themeLeft, 'loginBtnPadding');

            background: ef.get-value($themeLeft, 'loginBtnBg');

            .wlc-btn {
                min-width: 100%;
            }
        }

        .wlc-burger-panel__user-info {
            @include bm.get-mq-map('margin', $themeLeft, 'userInfoMargin');

            display: grid;
            grid-template:
                'name logout'
                'stats stats';
            grid-template-columns: 1fr auto;
            align-items: center;

            .wlc-user-name[wlc-user-name] {
                grid-area: name;

                .wlc-user-name__email-icon {
                    display: flex;

                    width: ef.get-value($themeLeft, 'userInfoEmailIconWidth');
                    height: ef.get-value($themeLeft, 'userInfoEmailIconHeight');
                }
            }

            .wlc-logout {
                grid-area: logout;
            }

            .wlc-user-stats {
                margin: ef.get-value($themeLeft, 'userStatsMargin');

                &-balance {
                    margin: ef.get-value($themeLeft, 'userStatsBalanceMargin');
                }
            }
        }

        .wlc-burger-panel__user-stat {
            grid-area: stats;

            & > .wlc-btn {
                margin: 0 auto;
            }

            .wlc-btn[wlc-button] {
                min-width: 120px;
            }
        }

        .wlc-burger-panel__content {

            .wlc-main-menu,
            .wlc-post-menu {

                &:after {
                    content: '';

                    display: block;
                    height: ef.get-value($themeLeft, 'separatorHeight');
                    margin: ef.get-value($themeLeft, 'separatorMargin');

                    background: ef.get-value($themeLeft, 'separatorColor');
                }
            }

            .wlc-menu,
            .wlc-post-menu {

                &__link {
                    @include text.get-text-style('ThirdTitle', ef.get-value($themeLeft, 'menuLinksColor'));

                    display: flex;
                    align-items: center;
                    padding: ef.get-value($themeLeft, 'menuLinksPadding');

                    text-decoration: ef.get-value($themeLeft, 'menuLinksDecoration');

                    &:not(.active) {

                        @include bm.hover {
                            color: ef.get-value($themeLeft, 'menuLinksHoverColor');
                            background: ef.get-value($themeLeft, 'menuLinksHoverBg');
                        }
                    }

                    &.active {
                        color: ef.get-value($themeLeft, 'menuLinksActiveColor');
                        font-weight: ef.get-value($themeLeft, 'menuLinksActiveWeight');
                        background: ef.get-value($themeLeft, 'menuLinksActiveBg');
                    }

                    @include bm.colorThemeAlt {

                        &:not(.active) {

                            @include bm.hover {
                                background: ef.get-value($themeLeft, 'menuLinksHoverBgAlt');
                            }
                        }

                        &.active {
                            background: ef.get-value($themeLeft, 'menuLinksActiveBgAlt');
                        }
                    }
                }

                &__icon {
                    margin: ef.get-value($themeLeft, 'menuLinksIconMargin');

                    svg {
                        display: block;
                        width: ef.get-value($themeLeft, 'menuLinksIconWidth');
                        height: ef.get-value($themeLeft, 'menuLinksIconHeight');

                        fill: ef.get-value($themeLeft, 'menuLinksIconFill');

                        path {
                            fill: ef.get-value($themeLeft, 'menuLinksIconFill');
                        }
                    }
                }
            }
        }

        .wlc-burger-panel__user-deposit {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: ef.get-value($themeLeft, 'userDepositMargin');
            padding: ef.get-value($themeLeft, 'userDepositPadding');

            border-top: ef.get-value($themeLeft, 'separatorHeight') solid ef.get-value($themeLeft, 'separatorColor');

            .wlc-title[wlc-title] {
                margin-bottom: 15px;

                .wlc-title__main {
                    @include text.get-text-style('ThirdTitleBold');
                    text-align: center;
                }
            }


            .wlc-link-block {

                .wlc-btn {
                    height: ef.get-value($themeLeft, 'userDepositBtnHeight');
                    min-height: ef.get-value($themeLeft, 'userDepositBtnMinHeight');
                }
            }
        }

        .wlc-language-selector[wlc-language-selector] {

            &.wlc-language-selector--theme-mod-long {
                max-width: ef.get-value($themeLeft, 'langMaxWidthModLong');
                margin: ef.get-value($themeLeft, 'langCurrentMarginModLong');
            }
        }
    }
}
