@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-burger-panel--theme-left:host {
    left: 0;

    width: ef.get-value($themeLeft, 'panelWidth');
    max-width: ef.get-value($themeLeft, 'panelWidth');
    height: 100%;
    max-height: 100%;

    background-color: map-get($themeLeft, 'panelBackground');
    transform: translateX(-100%);

    &.wlc-burger-panel--open {
        transform: none;
        visibility: visible;
    }

    ::ng-deep {

        .wlc-logo {
            display: block;
            margin: 0 auto;
            max-width: ef.get-value($themeLeft, 'logoMaxWidth');

            &__image {

                svg {
                    max-height: 40px;
                }
            }
        }

        .wlc-login-signup {
            grid-auto-flow: initial;
            justify-content: center;
            margin: ef.get-value($themeLeft, 'loginBtnMargin');
            padding: ef.get-value($themeLeft, 'loginBtnPadding');

            background: ef.get-value($themeLeft, 'loginBtnBg');

            .wlc-btn {
                min-width: 100%;
            }
        }

        .wlc-burger-panel__user-info {
            display: grid;
            grid-template:
                'name logout'
                'stats stats';
            grid-template-columns: 1fr auto;
            align-items: center;
            margin: 30px 20px 20px;

            .wlc-user-name[wlc-user-name] {
                grid-area: name;

                .wlc-user-name__email-icon {
                    display: flex;

                    width: 25px;
                    height: 30px;
                }
            }

            .wlc-logout {
                grid-area: logout;
            }

            .wlc-user-stats {
                margin-top: 20px;

                &-balance {
                    margin-bottom: 20px;
                }
            }
        }

        .wlc-burger-panel__user-stat {
            grid-area: stats;

            & > .wlc-btn {
                margin: 0 auto;
            }

            .wlc-btn[wlc-button] {
                min-width: 120px;
            }
        }

        .wlc-main-menu,
        .wlc-post-menu {

            &:after {
                display: block;
                height: ef.get-value($themeLeft, 'separatorHeight');
                margin: ef.get-value($themeLeft, 'separatorMargin');

                background: ef.get-value($themeLeft, 'separatorColor');

                content: '';
            }
        }

        .wlc-menu,
        .wlc-post-menu {

            &__link {
                display: flex;
                align-items: center;
                padding: ef.get-value($themeLeft, 'menuLinksPadding');

                text-decoration: ef.get-value($themeLeft, 'menuLinksDecoration');
                @include text.get-text-style('ThirdTitle', ef.get-value($themeLeft, 'menuLinksColor'));

                &.active,
                &:hover {
                    color: ef.get-value($themeLeft, 'menuLinksHoverColor');

                    background: ef.get-value($themeLeft, 'menuLinksHoverBg');
                }

                &.active {
                    font-weight: ef.get-value($themeLeft, 'menuLinksActiveWeight');
                }
            }

            &__icon {
                margin-right: 10px;

                svg {
                    display: block;
                    width: ef.get-value($themeLeft, 'menuLinksIconWidth');
                    height: ef.get-value($themeLeft, 'menuLinksIconHeight');

                    fill: ef.get-value($themeLeft, 'menuLinksIconFill');

                    path {
                        fill: ef.get-value($themeLeft, 'menuLinksIconFill');
                    }
                }
            }
        }

        .wlc-burger-panel__user-deposit {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 25px;
            padding: 20px 0 60px;

            border-top: ef.get-value($themeLeft, 'separatorHeight') solid ef.get-value($themeLeft, 'separatorColor');

            .wlc-title[wlc-title] {
                margin-bottom: 15px;

                .wlc-title__main {
                    @include text.get-text-style('ThirdTitleBold');
                    text-align: center;
                }
            }
        }
    }
}
