.wlc-burger-panel--theme-mobile:host {
    z-index: 10;
    width: map-get($themeMobile, 'panelWidth');
    max-width: map-get($themeMobile, 'panelWidth');
    height: 100%;
    max-height: 100%;
    background-color: map-get($themeMobile, 'panelBackground');

    &.wlc-burger-panel--type-left {
        left: 0;
        transform: translateX(-100%);
    }

    &.wlc-burger-panel--type-right {
        right: -#{map-get($themeMobile, 'panelWidth')};
    }

    &.wlc-burger-panel--open {
        transform: none;
        visibility: visible;

        &.wlc-burger-panel--type-right {
            right: 0;
        }
    }

    ::ng-deep {

        .wlc-burger-panel__header {
            border-bottom: map-get($themeMobile, 'panelHeaderBorderBottom');
        }

        .wlc-burger-panel__inner {
            padding: map-get($themeMobile, 'panelContentPadding');
        }

        .wlc-login-signup {
            grid-auto-flow: initial;
            justify-content: center;
            padding: map-get($themeMobile, 'loginBtnPadding');

            .wlc-btn {
                min-width: 100%;

                //Ios:16 size bug
                .wlc-body--os-ios &,
                .wlc-body--os-macos & {
                    min-width: initial;
                }
            }
        }

        .wlc-language-selector--theme-default.wlc-language-selector--theme-mod-long {
            margin: map-get($themeMobile, 'languageSelectorMargin');
        }

        .wlc-btn--pwa {
            --wlc-icon-height: #{ef.get('font', 'ButtonText')};
            width: 100%;
            margin: ef.get-value($themeMobile, 'pwaBtnGap');
        }

        .wlc-user-stats {
            margin-bottom: map-get($themeMobile, 'gap');

            &.wlc-user-stats--without-btn {
                margin-bottom: map-get($themeMobile, 'gapWithoutBtn');
            }
        }

        .wlc-user-info__wrp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 ef.get-value($themeDefault, 'componentGap') 0;
        }
    }

    &.wlc-burger-panel--theme-mod-wolf {

        ::ng-deep {
            --bp-padding: #{ef.get-value($themeMobileWolf, 'panelPadding')};
            --bp-header-padding: #{ef.get-value($themeMobileWolf, 'panelHeaderPadding')};

            width: map-get($themeMobileWolf, 'panelWidth');
            max-width: map-get($themeMobileWolf, 'panelWidth');
            background-color: map-get($themeMobileWolf, 'panelBackground');

            .wlc-burger-panel {

                &__header {
                    border-bottom: map-get($themeMobileWolf, 'panelHeaderBorderBottom');
                }

                &__inner {
                    padding: map-get($themeMobileWolf, 'panelContentPadding');
                }
            }

            .wlc-user-info__wrp {
                display: flex;
                flex-direction: column;
                gap: ef.get-value($themeMobileWolf, 'componentGap');
                margin: ef.get-value($themeMobileWolf, 'componentGap') 0;
            }

            .wlc-loyalty-progress {
                width: 100%;
            }

            .wlc-logout {
                width: 100%;

                .wlc-btn {
                    @include bm.transition();
                    display: flex;
                    align-items: center;
                    width: 100%;
                    min-height: ef.get-value($themeMobileWolf, 'btnMinHeight');
                    margin: ef.get-value($themeMobileWolf, 'btnMargin');
                    padding: ef.get-value($themeMobileWolf, 'btnPadding');
                    background: ef.get-value($themeMobileWolf, 'btnBg');
                    border-radius: ef.get-value($themeMobileWolf, 'btnRadius');

                    .wlc-btn__text {
                        @include text.get-text-style(
                            ef.get-value($themeMobileWolf, 'btnFontStyle'),
                            ef.get-value($themeMobileWolf, 'btnColor')
                        );
                        flex-direction: row-reverse;
                        gap: ef.get-value($themeMobileWolf, 'btnGap');

                        svg path {
                            width: ef.get-value($themeMobileWolf, 'iconWidth');
                            height: ef.get-value($themeMobileWolf, 'iconHeight');
                            fill: currentColor;
                            stroke: none;
                        }
                    }

                    @include bm.hover {
                        background: ef.get-value($themeMobileWolf, 'btnBgHover');

                        .wlc-btn__text {
                            color: ef.get-value($themeMobileWolf, 'btnColorHover');
                        }
                    }
                }
            }
        }
    }
}
