@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/functions' as ef;

@import '../utils/vars';

.wlc-burger-panel--theme-mobile:host {
    width: map-get($themeMobile, 'panelWidth');
    max-width: map-get($themeMobile, 'panelWidth');
    height: 100%;
    max-height: 100%;
    background-color: map-get($themeMobile, 'panelBackground');

    &.wlc-burger-panel--type-left {
        left: 0;
        transform: translateX(-100%);
    }

    &.wlc-burger-panel--type-right {
        right: 0;
        transform: translateX(100%);
    }

    &.wlc-burger-panel--open {
        transform: none;
        visibility: visible;
    }

    ::ng-deep {

        .wlc-burger-panel__header {
            border-bottom: map-get($themeMobile, 'panelHeaderBorderBottom');
        }

        .wlc-burger-panel__inner {
            padding: map-get($themeMobile, 'panelContentPadding');
        }

        .wlc-login-signup {
            grid-auto-flow: initial;
            justify-content: center;
            padding: map-get($themeMobile, 'loginBtnPadding');

            .wlc-btn {
                min-width: 100%;
            }
        }

        .wlc-user-stats {
            margin-bottom: map-get($themeMobile, 'gap');
        }

        .wlc-user-info__wrp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 ef.get-value($themeDefault, 'componentGap') 0;
        }
    }
}
