@use 'engine-scss/functions' as ef;

.wlc-total-jackpot--theme-default:host {
    display: flex;

    .wlc-total-jackpot__counter {

        &.loading {
            animation: ef.get-value($themeDefault, 'loadingAnimation');
        }
    }

    .wlc-total-jackpot__text {
        font-weight: ef.get-value($themeDefault, 'fontWeight');
        font-size: ef.get-value($themeDefault, 'fontSize');
    }
}

.wlc-total-jackpot-nodata {
    max-width: ef.get-value($nodata, 'nodataMaxWidth');
    margin: ef.get-value($nodata, 'nodataMargin');
    text-align: ef.get-value($nodata, 'nodataTextAlign');
}
