@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/mixins';
@import '../utils/vars';

.wlc-game-wrapper--theme-default {

    &.wlc-game-wrapper--type-default {

        .wlc-game-wrapper {

            &__game-area {

                iframe,
                object {
                    height: 100%;
                }
            }
        }
    }

    &.wlc-game-wrapper--type-fullscreen-game-frame {
        margin-bottom: 30px;
    }

    .wlc-game-wrapper {

        &__content {
            margin: map-get($themeDefault, 'contentMargin');
        }

        &__preloader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
        }

        &__header {
            @include flexBlock;

            padding: map-get($themeDefault, 'headerPaddings') 0;
            background: map-get($themeDefault, 'headerBg');

            h2 {
                max-width: 50%;
                margin: map-get($themeDefault, 'headerMargin');
                color: map-get($themeDefault, 'headerColor');
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        &__footer {
            @include flexBlock;
        }

        &__btn-left {
            margin: map-get($themeDefault, 'btnLeftMargin');
        }

        &__btn-right {
            display: flex;
            align-items: center;

            .wlc-icon {
                margin-left: map-get($themeDefault, 'iconsGap');
                cursor: pointer;

                svg {

                    @include em.transition(all);
                    width: map-get($themeDefault, 'iconsSize');
                    height: map-get($themeDefault, 'iconsSize');
                    fill: none;
                    stroke: map-get($themeDefault, 'iconsColor');
                    stroke-width: map-get($themeDefault, 'iconsStroke');

                    line {

                        @include em.transition(all);
                        stroke: map-get($themeDefault, 'iconsColor');
                    }
                }

                &.wlc-icon--favourite {

                    path {
                        fill: none;
                    }

                    &.active {

                        svg {
                            stroke: map-get($themeDefault, 'iconsColorActive');

                            path {
                                fill: map-get($themeDefault, 'iconsColorActive');
                            }
                        }
                    }
                }

                @include em.hover {

                    svg {
                        stroke: map-get($themeDefault, 'iconsColorHover');

                        line {
                            stroke: map-get($themeDefault, 'iconsColorHover');
                        }
                    }
                }
            }
        }

        &__game-area {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            overflow: hidden;

            div[wlc-dynamic] {
                height: 100%;

                div {
                    height: 100%;
                }
            }

            iframe,
            object {
                width: 100% !important;
            }
        }
    }

    &.wlc-game-wrapper--mobile {
        width: 100%;

        .wlc-game-wrapper {

            &__header {
                display: none;
            }

            &__content {
                position: fixed !important;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 15;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
                align-content: center;
                align-items: center;
                width: 100%;
                max-width: 100%;
                height: 100%;
                margin: 0;
                background: #000;
            }

            &__game-area {
                position: initial;
                z-index: 10;
                width: 100%;

                div[wlc-dynamic-html] {
                    display: none;
                }
            }

            &__game-container {
                height: 100%;
            }
        }

        &.wlc-game-wrapper--real-mobile {

            .wlc-game-wrapper {

                &__game-area {
                    height: 100% !important;
                }
            }
        }
    }
}
