@use 'engine-scss/mixins/mediaqueries' as mq;
@import '../utils/mixins';
@import '../utils/vars';

.wlc-game-wrapper--theme-default {

    .wlc-game-wrapper {

        &__content {
            margin: $contentMargin;
        }

        &__preloader {
            margin: 0 auto;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        &__header {
            @include flexBlock;

            padding: $headerPaddings 0;
            background: $headerBg;

            h2 {
                max-width: 50%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $headerColor;
                margin: $headerMargin;
            }
        }

        &__footer {
            @include flexBlock;
        }

        &__btn-left {
            margin: $btnLeftMargin;
        }

        &__btn-right {
            display: flex;
            align-items: center;

            .icon-btn {
                margin-left: $iconsGap;
                opacity: $iconsOpacity;
                cursor: pointer;

                svg {
                    width: $iconsSize;
                    height: $iconsSize;
                    fill: none;
                    stroke: $iconsColor;
                    stroke-width: $iconsStroke;

                    line {
                        stroke: $iconsColor;
                    }
                }

                &:hover {
                    opacity: 1;
                }

                &--favourite {

                    path {
                        fill: none;
                    }

                    &.active {

                        svg {
                            stroke: none;

                            path {
                                fill: $iconsColorActive;
                            }
                        }
                    }
                }
            }
        }

        &__game-area {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;

            div[wlc-dynamic] {
                height: 100%;

                div {
                    height: 100%;
                }
            }

            iframe,
            object {
                width: 100% !important;
                height: 100%;
            }
        }
    }

    &.wlc-game-wrapper--mobile {
        width: 100%;

        .wlc-game-wrapper {

            &__header {
                display: none;
            }

            &__content {
                z-index: 10;
                margin: 0;
                max-width: 100%;
                position: fixed !important;
                background: #000;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: grid;
                height: 100%;
                width: 100%;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                align-content: center;
                align-items: center;
            }

            &__game-area {
                position: initial;
                z-index: 10;
                width: 100%;

                div[wlc-dynamic-html] {
                    display: none;
                }

                .ng-star-inserted {
                    height: 100%;
                }
            }
        }
    }

    &.wlc-game-wrapper--real-mobile {

        .wlc-game-wrapper {

            &__game-area {
                height: 100% !important;
            }
        }
    }
}


