@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;

.wlc-game-wrapper--theme-fullscreen-game-frame {
    margin: ef.get-value($themeFullscreenGameFrame, 'margin');
    overflow: hidden;

    iframe {
        width: 100%;
    }

    .wlc-game-wrapper {

        &__game-area,
        &__content {
            height: 100%;
        }

        &__content {
            min-height: ef.get-value($themeFullscreenGameFrame, 'contentMinHeight');
        }

        &__preloader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            transform: translate(-50%, -50%);
        }
    }
}
