<div class="{{$class}}__wrapper">
    <ng-container *ngIf="ready; else loader">
        <ng-container *ngIf="asModal; then modalButton; else bonusesList" ></ng-container>
    </ng-container>
</div>

<ng-template #modalButton>
    <ng-container *ngIf="bonuses.length; else bonusesList">
        <button class="{{$class}}__btn"
            type="button"
            [class.selected]="!!currentBonus"
            [class.use-icon]="!currentBonus"
            [attr.title]="$params.modalBtnParams.title | translate"
            [attr.aria-label]="$params.modalBtnParams.title | translate"
            (click)="openModal()">
            <span *ngIf="!currentBonus"
                wlc-icon
                class="{{$class}}__btn-image"
                [iconPath]="$params.modalBtnParams.icon"
            ></span>
            <div *ngIf="!!currentBonus"
                class="{{$class}}__btn-image">
                <div wlc-bonus-item
                    class="{{$class}}__btn-bonus"
                    [inlineParams]="getBtnBonusItemParams()">
                </div>
            </div>
            <span class="{{$class}}__btn-wrap">
                <ng-container [ngSwitch]="!!currentBonus">
                    <span *ngSwitchCase="false"
                        class="{{$class}}__btn-text">
                        {{$params.modalBtnParams.title | translate}}
                    </span>
                    <span *ngSwitchDefault
                        wlc-icon
                        class="{{$class}}__btn-arrow"
                        [iconPath]="'wlc/icons/arrow-left.svg'">
                    </span>
                </ng-container>
                <span class="{{$class}}__btn-text">
                    {{buttonText | translate}}
                </span>
            </span>
        </button>
        <div *ngIf="!!currentBonus" class="{{$class}}__short-bonus">
            {{currentBonus.name}}

            <button
                wlc-button
                class="{{$class}}__short-bonus-info"
                theme="icon"
                iconPath="/wlc/icons/info.svg"
                (click)="openCurrentBonusInfo()"
            ></button>
        </div>
    </ng-container>
</ng-template>

<ng-template #bonusesList>
    <div *ngIf="!bonuses.length"
        wlc-alert
        class="{{$class}}__empty"
        [title]="noBonusesText"
        level="warning">
    </div>

    <div class="{{$class}}__list" [class.empty]="!bonuses.length">
        <div *ngFor="let bonus of bonuses"
            wlc-bonus-item
            class="{{$class}}__bonus"
            [class.disabled]="bonus.disabledBy"
            [inlineParams]="getBonusItemParams(bonus)"
            (click)="bonusClickEvent(bonus)">
        </div>
        <div wlc-bonus-item
            class="{{$class}}__bonus {{$class}}__bonus--blank"
            [class.last]="!!autoSelect"
            [inlineParams]="getBonusItemParams()"
            (click)="bonusClickEvent()">
        </div>
    </div>
</ng-template>

<ng-template #loader>
    <div wlc-loader class="{{$class}}__loader"></div>
</ng-template>
