<button *ngIf="!$params.icon; else withParamsIcon"
        wlc-button
        class="{{$class}}__button"
        attr.aria-label="{{'History settings' | translate}}"
        [attr.type]="'button'"
        [ngClass]="{'filtered': isFiltered}"
        theme="custom"
        iconPath="/wlc/icons/settings.svg"
        (click)="openFilter()">
</button>

<ng-template #withParamsIcon>
    <button wlc-button
            class="{{$class}}__button"
            attr.aria-label="{{'History settings' | translate}}"
            [attr.type]="'button'"
            [ngClass]="{'filtered': isFiltered}"
            theme="custom"
            [icon]="$params.icon"
            (click)="openFilter()">
    </button>
</ng-template>
