.wlc-post-menu {

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: #ffffff;
    }

}
