@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-pagination--theme-default {

    &:host {
        display: flex;
        align-items: center;
        justify-content: center;

        ::ng-deep {

            .pagination {
                @include bm.get-mq-map('margin', $themeDefault, 'paginationMargin');
                display: flex;
                align-items: center;
                padding: ef.get-value($themeDefault, 'paginationPadding');
                list-style-type: none;

                .page-item {
                    margin: ef.get-value($themeDefault, 'pageItemMargin');

                    &:last-child {
                        margin: 0;
                    }
                }

                &-prev,
                &-next {
                    @include bm.transition(all);

                    color: ef.get-value($themeDefault, 'pageItemInnerFill');
                    background: ef.get-value($themeDefault, 'activePaginationArrowColor');
                    border-radius: ef.get-value($themeDefault, 'pageItemRadius');
                    box-shadow: ef.get-value($themeDefault, 'pageItemShadow');

                    .wlc-btn,
                    .page-link {
                        color: inherit;
                    }

                    .wlc-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: ef.get-value($themeDefault, 'pageItemWidth');
                        height: ef.get-value($themeDefault, 'pageItemHeight');
                    }

                    svg {
                        fill: currentColor;
                    }

                    &.disabled {
                        color: ef.get-value($themeDefault, 'pageItemInnerFillDisabled');
                        background: ef.get-value($themeDefault, 'pageItemDisabled');

                        .wlc-btn {
                            cursor: auto;
                        }
                    }

                    &:not(.disabled) {

                        @include bm.hover {
                            color: ef.get-value($themeDefault, 'pageItemInnerFillHover');
                            background: ef.get-value($themeDefault, 'activePaginationArrowColorHover');
                            box-shadow: ef.get-value($themeDefault, 'pageItemShadowHover');
                        }
                    }
                }

                &-next {

                    .wlc-btn {
                        transform: rotate(-90deg);
                    }
                }

                &-prev {

                    .wlc-btn {
                        transform: rotate(90deg);
                    }
                }

                &-page {

                    .page-link {
                        @include text.get-text-style('ButtonText', ef.get-value($themeDefault, 'pageItemColor'));
                        display: block;
                        text-decoration: none;
                    }

                    &.active {

                        .page-link {
                            color: ef.get-value($themeDefault, 'pageItemActiveColor');
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
