@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;

.wlc-pagination--theme-default {

    &:host {
        display: flex;
        align-items: center;
        justify-content: center;

        ::ng-deep {

            .pagination {
                @include bm.get-mq-map('margin', $themeDefault, 'paginationMargin');
                display: flex;
                align-items: center;
                padding: ef.get-value($themeDefault, 'paginationPadding');
                list-style-type: none;

                .page-item {
                    margin: ef.get-value($themeDefault, 'pageItemMargin');

                    &:last-child {
                        margin: 0;
                    }
                }

                &-prev,
                &-next {

                    .wlc-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: ef.get-value($themeDefault, 'pageItemWidth');
                        height: ef.get-value($themeDefault, 'pageItemHeight');
                        background: ef.get-value($themeDefault, 'activePaginationArrowColor');
                        border-radius: ef.get-value($themeDefault, 'pageItemRadius');

                        &-content {
                            display: flex;
                            align-items: center;
                        }

                        svg {
                            transform: rotate(-90deg);
                            fill: ef.get-value($themeDefault, 'pageItemInnerFill');
                        }

                        @include bm.hover {
                            @include bm.transition(background);
                            background: ef.get-value($themeDefault, 'activePaginationArrowColorHover');
                        }
                    }

                    &.disabled {

                        .wlc-icon {
                            background: ef.get-value($themeDefault, 'pageItemDisabled');
                            cursor: auto;

                            svg {
                                fill: ef.get-value($themeDefault, 'pageItemInnerFillDisabled');
                            }

                            @include bm.hover {
                                background: ef.get-value($themeDefault, 'pageItemDisabled');
                            }
                        }
                    }
                }

                &-prev {

                    .wlc-icon {

                        svg {
                            transform: rotate(90deg);
                        }
                    }
                }

                &-page {

                    .page-link {
                        @include text.get-text-style('ButtonText', ef.get-value($themeDefault, 'pageItemColor'));
                        display: block;
                        text-decoration: none;
                    }

                    &.active {

                        .page-link {
                            color: ef.get-value($themeDefault, 'pageItemActiveColor');
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
