@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/functions' as ef;

.wlc-pagination--theme-default {

    &:host {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: ef.get-value($themeDefault, 'hostMargin');

        ::ng-deep {

            .pagination {
                display: flex;
                align-items: center;
                list-style-type: none;
                padding: ef.get-value($themeDefault, 'paginationPadding');

                .page-item {
                    margin: ef.get-value($themeDefault, 'pageItemMargin');
                }

                &-prev,
                &-next {

                    .wlc-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: ef.get-value($themeDefault, 'pageItemWidth');
                        height: ef.get-value($themeDefault, 'pageItemHeight');
                        border-radius: ef.get-value($themeDefault, 'pageItemRadius');
                        background: ef.get-value($themeDefault, 'activePaginationArrowColor');

                        @media (hover) {

                            &:hover {
                                background: ef.get-value($themeDefault, 'activePaginationArrowColorHover');
                                @include bm.transition(background);
                            }
                        }

                        &-content {
                            display: flex;
                            align-items: center;
                        }

                        svg {
                            transform: rotate(-90deg);
                            fill: ef.get-value($themeDefault, 'pageItemInnerFill');
                        }
                    }

                    &.disabled {

                        .wlc-icon {
                            background: ef.get-value($themeDefault, 'pageItemDisabled');
                        }
                    }
                }

                &-prev {

                    .wlc-icon {

                        svg {
                            transform: rotate(90deg);
                        }
                    }
                }

                &-page {

                    .page-link {
                        display: block;
                        @include text.get-text-style('ButtonText', ef.get-value($themeDefault, 'pageItemColor'));
                        text-decoration: none;
                    }

                    &.active {

                        .page-link {
                            color: ef.get-value($themeDefault, 'pageItemActiveColor');
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
