.wlc-sections__winners-section {
    @include bm.get-mq-map('margin', $themeWinnersSection, 'sectionMargin');
    width: ef.get-value($themeWinnersSection, 'sectionWidth');

    &--theme-default {
        @include bm.get-mq-map('max-width', $themeWinnersSection, 'sectionMaxWidth');
    }

    .winners-wrapper {
        @include bm.get-mq-map('flex-wrap', $themeWinnersSection, 'wrapItems');
        display: flex;
        align-items: ef.get-value($themeWinnersSection, 'alignItems');
        justify-content: ef.get-value($themeWinnersSection, 'justifyContent');

        & > div {
            @include bm.get-mq-map('margin', $themeWinnersSection, 'itemsMargin');
        }
    }
}
