.wlc-sections__winners-section {

    .wlc-title--theme-default {
        margin: ef.get-value($themeWinnersSection, 'titleMargin');

        .wlc-title__main {
            text-align: ef.get-value($themeWinnersSection, 'titleTextAlign');
        }
    }

    .winners-wrapper {
        @include bm.get-mq-map('flex-wrap', $themeWinnersSection, 'wrapItems');
        display: flex;
        align-items: ef.get-value($themeWinnersSection, 'alignItems');
        justify-content: ef.get-value($themeWinnersSection, 'justifyContent');

        & > div {
            margin: ef.get-value($themeWinnersSection, 'itemsMargin');

            &:first-child,
            &:last-child {
                @include bm.get-mq-map('transform', $themeWinnersSection, 'translateItems');
            }
        }
    }
}
