.wlc-sections__winners-section--theme-stripe {

    &.wlc-sections__winners-section--in-container {

        @if (ef.get('baseVariables', 'useWide') == true) {
            @include bm.get-mq-map('padding', $themeWinnersSectionStripe, 'paddingWideContainer');
        }

        .container {
            border-radius: ef.get-value($themeWinnersSectionStripe, 'containerRadius');
            background: ef.get-value($themeWinnersSectionStripe, 'background');
            overflow: hidden;

            @if (ef.get('baseVariables', 'useWide') == true) {
                max-width: ef.get-value($themeWinnersSectionStripe, 'maxWidthWideContainer');
            }
        }
    }
}
