<div *ngIf="$params.showHeader; else close" class="{{$class}}__header" [class.no-menu]="!headerMenuConfig">
    <div class="{{$class}}__title">
        {{title | translate}}
    </div>
    <div *ngIf="headerMenuConfig" class="{{$class}}__header-menu">
        <div wlc-wrapper [inlineParams]="headerMenuConfig"></div>
    </div>
    <ng-container [ngTemplateOutlet]="close"></ng-container>
</div>

<ng-container *ngIf="$params.useScroll; else noScrollBar">
    <div wlc-scrollbar 
        class="{{$class}}__content"
        [update]="updateScrollbar">
        <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
    </div>
</ng-container>

<ng-template #noScrollBar>
    <div class="{{$class}}__content">
        <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
    </div>
</ng-template>

<ng-template #innerContent>
    <div class="{{$class}}__inner" [@innerAppearance]="animationState">
        <ng-content></ng-content>
    </div>
</ng-template>

<ng-template #close>
    <button *ngIf="$params.showClose;"
            wlc-icon
            class="{{$class}}__close"
            type="button"
            [attr.title]="'Close' | translate"
            [attr.aria-label]="'Close' | translate"
            iconPath="/wlc/icons/close.svg"
            (click)="closePanel()"
    ></button>
</ng-template>
