<div class="{{$class}}__header" *ngIf="$params.showHeader; else close">
    <div class="{{$class}}__title">
        {{title | translate}}
    </div>
    <ng-container [ngTemplateOutlet]="close"></ng-container>
</div>

<ng-container *ngIf="$params.useScroll; else noScrollBar">
    <div class="{{$class}}__content" wlc-scrollbar>
        <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
    </div>
</ng-container>

<ng-template #noScrollBar>
    <div class="{{$class}}__content">
        <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
    </div>
</ng-template>

<ng-template #innerContent>
    <div class="{{$class}}__inner">
        <ng-content></ng-content>
    </div>
</ng-template>

<ng-template #close>
    <button class="{{$class}}__close"
        [attr.title]="'Close' | translate"
        [attr.aria-label]="'Close' | translate"
        type="button"
        (click)="closePanel()"
        wlc-icon
        [iconName]="'close'"
        *ngIf="$params.showClose;"
    ></button>
</ng-template>
