<ng-container *wlcLet="subscribed$ | async as subscribed">
    <div class="{{$class}}__title">
        {{'Notifications via e-mail' | translate}}
    </div>
    <div class="{{$class}}__status">
        <ng-container *ngIf="subscribed; then linked else notLinked"></ng-container>
    </div>
    <div class="{{$class}}__btn-block">
        <ng-container *ngIf="subscribed; then disable else enable"></ng-container>
    </div>
</ng-container>

<ng-template #notLinked>
    <div class="{{$class}}__status-text">
        {{'Not linked' | translate}}
    </div>
</ng-template>

<ng-template #linked>
    <div class="{{$class}}__status-text {{$class}}__status-text--success">
        {{'Enabled' | translate}}
        <div class="{{$class}}__status-icon"
             wlc-icon iconUrl="/wlc/icons/verified-icon.svg">
        </div>
    </div>
</ng-template>

<ng-template #disable>
    <button wlc-button
            text="Disable"
            themeMod="secondary"
            typeAttr="button"
            [disabled]="lockButton$ | async"
            (click)="subscriptionUpdate(false)">
    </button>
</ng-template>

<ng-template #enable>
    <button wlc-button
        text="Enable"
        typeAttr="button"
        [disabled]="lockButton$ | async"
        (click)="subscriptionUpdate(true)">
    </button>
</ng-template>
