<form class="wlc-form" [formGroup]="passwordChangeForm" (ngSubmit)="submitHandler()">
    <div class="wlc-form__head">
        <h2 class="wlc-form__title">Change password</h2>
    </div>
    <div class="wlc-form__body">
        <div class="row form--row">
            <div class="col">
                <div class="wlc-form__group">
                    <label for="change-password" class="wlc-label">Current password <sup>*</sup></label>
                    <div class="field-container" wlc-password-visibility>
                        <input
                            id="change-password"
                            type="password"
                            name="password"
                            placeholder="Current password"
                            formControlName="password"
                            class="wlc-input wlc-input--right-shift"/>
                        <span
                            class="field-icon field-icon--eye field-icon--to-right"
                            wlc-icon [iconName]="'eye'"
                        >
                        </span>
                    </div>
                    <div
                        *ngIf="checkField('password')"
                        class="error-messages">
                        <p
                            *ngIf="passwordChangeForm.get('password').errors.required"
                            class="error">Обязательное поле</p>
                        <p
                            *ngIf="passwordChangeForm.get('password').errors.minlength"
                            class="error">
                            Пароль должен содержать
                            минимум {{passwordChangeForm.get('password').errors.minlength.requiredLength}}
                            введенно символов {{passwordChangeForm.get('password').errors.minlength.actualLength}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form--row">
            <div class="col">
                <div class="wlc-form__group">
                    <label for="new-password" class="wlc-label">New password <sup>*</sup></label>
                    <div class="field-container" wlc-password-visibility>
                        <input
                            id="new-password"
                            type="password"
                            name="new-password"
                            placeholder="New password"
                            formControlName="newPassword"
                            class="wlc-input wlc-input--right-shift"/>
                        <span
                            class="field-icon field-icon--eye field-icon--to-right"
                            wlc-icon [iconName]="'eye'"
                        >
                        </span>
                    </div>
                    <div
                        *ngIf="checkField('newPassword')"
                        class="error-messages">
                        <p
                            *ngIf="passwordChangeForm.get('newPassword').errors.required"
                            class="error">Обязательное поле</p>
                        <p
                            *ngIf="passwordChangeForm.get('newPassword').errors.minlength"
                            class="error">
                            Пароль должен содержать
                            минимум {{passwordChangeForm.get('newPassword').errors.minlength.requiredLength}}
                            введенно символов {{passwordChangeForm.get('newPassword').errors.minlength.actualLength}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form--row">
            <div class="col">
                <div class="wlc-form__group">
                    <label for="confirm-password" class="wlc-label">Confirm password <sup>*</sup></label>
                    <div class="field-container" wlc-password-visibility>
                        <input
                            id="confirm-password"
                            type="password"
                            name="confirm-password"
                            placeholder="Confirm password"
                            formControlName="confirmPassword"
                            class="wlc-input wlc-input--right-shift"/>
                        <span
                            class="field-icon field-icon--eye field-icon--to-right"
                            wlc-icon [iconName]="'eye'"
                        >
                        </span>
                    </div>
                    <div
                        *ngIf="checkField('confirmPassword')"
                        class="error-messages">
                        <p
                            *ngIf="passwordChangeForm.get('confirmPassword').errors.required"
                            class="error">Обязательное поле</p>
                        <p
                            *ngIf="passwordChangeForm.get('confirmPassword').errors.mismatch"
                            class="error">Пароли не совпадают </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap justify-content-center">
            <button
                wlc-button
                type="submit"
                [text]="'Save'"
                [disabled]="passwordChangeForm.invalid"
            ></button>
        </div>
    </div>
    <div class="wlc-form__footer">
        <div wlc-have-account></div>
    </div>
</form>
