.wlc-filters:host {
    @include text.get-text-style(
        ef.get-value($themeDefault, 'baseFontStyle'),
        ef.get-value($themeDefault, 'baseFontColor'),
    );
    @include bm.get-mq-map('height', $themeDefault, 'modalHeight');

    display: flex;
    flex-direction: column;
    align-items: ef.get-value($themeDefault, 'modalBodyAlign');
    border-radius: ef.get-value($themeDefault, 'modalBodyBorderRadius');
    overflow: hidden;

    .wlc-filters {

        &__toggle-divider {
            @include bm.get-mq-map('width', $themeDefault, 'dividerWidth');
            @include bm.get-mq-map('margin', $themeDefault, 'dividerMargin');
        }

        &__description {
            padding: ef.get-value($themeDefault, 'descriptionPadding');
        }

        &__list {
            @include bm.scrollbar($themeDefault);
            @include bm.get-mq-map('max-height', $themeDefault, 'listMaxHeight');
            @include bm.get-mq-map('height', $themeDefault, 'listHeight');
            @include bm.get-mq-map('padding', $themeDefault, 'listPadding');

            overflow-y: auto;
            width: ef.get-value($themeDefault, 'listHeight');
        }

        &__currency {
            --wlc-icon-width: #{ef.get-value($themeDefault, 'iconSize')};
            --wlc-icon-height: #{ef.get-value($themeDefault, 'iconSize')};

            @include text.get-text-style(
                ef.get-value($themeDefault, 'currencyFontStyle'),
                ef.get-value($themeDefault, 'currencyTextColor'),
            );

            display: grid;
            grid-template-areas:
                'left right'
                'divider divider';
            align-items: ef.get-value($themeDefault, 'currencyAlign');
            justify-content: ef.get-value($themeDefault, 'currencyJustifyContent');

            width: ef.get-value($themeDefault, 'currencyWidth');
            height: ef.get-value($themeDefault, 'currencyHeight');
            line-height: 1;
        }

        &__left {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'currencyFontStyle'),
                ef.get-value($themeDefault, 'currencyTextColor'),
            );
            display: flex;
            grid-area: left;
            gap: ef.get-value($themeDefault, 'leftGap');
        }

        &__right {
            display: flex;
            grid-area: right;
            align-items: ef.get-value($themeDefault, 'rightAlign');

            ::ng-deep {

                .wlc-checkbox__label[class] {
                    padding: ef.get-value($themeDefault, 'checkboxPadding');
                }
            }
        }

        &__hide-wallets {
            @include bm.get-mq-map('padding', $themeDefault, 'togglePadding');

            display: flex;
            align-items: center;
            justify-content: space-between;
            width: ef.get-value($themeDefault, 'toggleWidth');

            ::ng-deep {

                .wlc-checkbox__label[class] {
                    padding: ef.get-value($themeDefault, 'checkboxPadding');
                }
            }
        }

        &__divider {
            grid-area: divider;
        }
    }
}

::ng-deep {

    .wlc-modal--wallet-filters {

        .wlc-modal {

            &__dialog {
                @include bm.get-mq-map('height', $themeDefault, 'modalHeight');
            }

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'modalBodyPadding');
            }

            &__footer {
                padding: ef.get-value($themeDefault, 'modalFooterPadding');
            }
        }
    }
}
