<span class="{{$class}}__description">{{$params.descriptionText | translate}}</span>
<div class="{{$class}}__list">
    <div
        *ngFor="let currency of $params.currencies"
        class="{{$class}}__currency">
        <div class="{{$class}}__left">
              <span
                  wlc-icon
                  class="{{$class}}__icon"
                  iconPath="{{getCurrencyIconUrl(currency.name)}}"
                  wlcElement="icon_currency"></span>
            {{currency.displayName || currency.name}}
        </div>
        <div class="{{$class}}__right">
            {{currency.name}}
            <div
                wlc-checkbox
                [inlineParams]="createCheckboxParams(currency)"></div>
        </div>
        <hr class="{{$class}}__divider"/>
    </div>
</div>
