.wlc-add-profile-info--theme-default:host {
    position: relative;

    ::ng-deep {

        .wlc-text-block {
            margin: ef.get-value($themeDefault, 'titleMargin');
        }

        .wlc-phone-field--theme-default {
            grid-gap: ef.get-value($themeDefault, 'formFieldsGap');
        }
    }

    .wlc-add-profile-info {

        &__form {
            @include bm.get-mq-map('padding', $themeDefault, 'formPadding');

            ::ng-deep {

                .wlc-form {
                    @include bm.get-mq-map('max-width', $themeDefault, 'formMaxWidth');
                    display: flex;
                    flex-direction: column;
                    margin: auto;

                    & > .wlc-input,
                    & > .wlc-select,
                    & > .wlc-birth-field,
                    & > .wlc-phone-field,
                    & > .wlc-country-and-state {
                        margin-bottom: ef.get-value($themeDefault, 'formFieldMarginBottom');
                    }
                }

                .wlc-btn.wlc-btn--submit {
                    margin: ef.get-value($themeDefault, 'formBtnSubmit');
                }

                .wlc-input.wlc-input--password {
                    position: relative;
                    padding-top: ef.get-value($themeDefault, 'formFieldsGap');

                    &:before {
                        content: '';
                        position: absolute;
                        top: ef.get-value($themeDefault, 'dividerPosTop');
                        left: ef.get-value($themeDefault, 'dividerPosLeft');
                        display: ef.get-value($themeDefault, 'dividerDisplay');
                        width: ef.get-value($themeDefault, 'dividerWidth');
                        height: ef.get-value($themeDefault, 'dividerHeight');
                        background: ef.get-value($themeDefault, 'dividerBg');
                        transform: ef.get-value($themeDefault, 'dividerTransform');
                    }
                }

                .wlc-phone-field {
                    padding: ef.get-value($themeDefault, 'phoneFieldPadding');

                    // TODO: удалить это, когда можно будет пробрасывать параметры для селекта, входящего в состав phoneField (при .wlc-select--theme-vertical эти стили будут не нужны)
                    .wlc-select--theme-default {
                        grid-gap: ef.get-value($themeDefault, 'phoneSelectGap');

                        .wlc-select {

                            &__label {
                                @include text.get-text-style('SignText', ef.get-value($themeDefault, 'phoneLabelColor'));
                                margin: ef.get-value($themeDefault, 'phoneLabelMargin');
                                line-height: ef.get-value($themeDefault, 'phoneLabelLineHeight');
                            }
                        }
                    }
                }
            }
        }
    }
}

.wlc-add-profile-info--theme-mod-overflow:host {

    .wlc-add-profile-info {

        &__form {
            display: flex;
            place-content: ef.get-value($themeModOverflow, 'formPlaceContent');

            ::ng-deep {

                .wlc-form {
                    $wideFields: ();

                    @each $class in ef.get-value($themeModOverflow, 'wideFields') {
                        $wideFields: append($wideFields, $class);
                    }

                    display: flex;
                    flex-direction: ef.get-value($themeModOverflow, 'formFlexDirection');
                    flex-wrap: ef.get-value($themeModOverflow, 'formFlexWrap');
                    margin: 0 -#{ef.get-value($themeModOverflow, 'columnGap') * 0.5};

                    & > *[class] {
                        flex-basis: calc(#{ef.get-value($themeModOverflow, 'fieldFlexBasis')} - #{ef.get-value($themeModOverflow, 'columnGap')});
                        flex-grow: ef.get-value($themeModOverflow, 'fieldFlexGrow');
                        margin: 0 ef.get-value($themeModOverflow, 'columnGap') * 0.5 ef.get-value($themeModOverflow, 'rowGap');
                    }

                    #{zip($wideFields)} {
                        flex-basis: ef.get-value($themeModOverflow, 'wideFieldsFlexBasis');
                    }

                    .wlc-btn--submit {
                        flex-basis: ef.get-value($themeModOverflow, 'btnFlexBasis');
                        flex-grow: ef.get-value($themeModOverflow, 'btnFlexGrow');
                        margin: ef.get-value($themeModOverflow, 'btnMargin');
                    }

                    .form-control__errors {
                        @include bm.get-mq-map('min-width', $themeModOverflow, 'errorNotifyWidth');
                    }
                }
            }
        }
    }
}
