.wlc-email-subscription-profile-block--theme-default:host {
    @include bm.get-mq-map('margin', $themeDefault, 'margin');
    @include bm.get-mq-map('grid-template-columns', $themeDefault, 'gridColumns');
    display: grid;
    align-items: ef.get-value($themeDefault, 'alignItems');
    width: 100%;
    padding: ef.get-value($themeDefault, 'padding');

    .wlc-email-subscription-profile-block {

        &__title {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'titleTextStyle'),
                ef.get-value($themeDefault, 'titleColor')
            );
            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
        }

        &__status {
            @include bm.get-mq-map('justify-self', $themeDefault, 'statusJustifySelf');
        }

        &__btn-block {
            @include bm.get-mq-map('justify-self', $themeDefault, 'btnBlockJustifySelf');
        }

        &__status-text {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'statusTextStyle'),
                ef.get-value($themeDefault, 'statusTextColor')
            );
            @include bm.get-mq-map('margin', $themeDefault, 'statusMargin');
            display: flex;
            flex-direction: row;

            &--success {
                color: ef.get-value($themeDefault, 'statusSuccessColor');
            }
        }

        &__status-icon {
            display: flex;
            align-items: center;
            margin: ef.get-value($themeDefault, 'statusIconMargin');

            ::ng-deep {

                .wlc-icon-content {
                    display: flex;
                }

                svg {
                    width: ef.get-value($themeDefault, 'iconWidth');
                    height: ef.get-value($themeDefault, 'iconHeight');
                }
            }
        }
    }
}
