<ng-template #default>
    <label (click)="dp.toggleCalendar()" class="{{$class}}__label">{{$params.label | translate}}</label>
    <div class="container">
        <input class="{{$class}}__input"
               #dp="angular-mydatepicker"
               #mask
               angular-mydatepicker
               name="{{$params.name}}"
               [options]="$params.datepickerOptions"
               [wlc-input-mask]="$any($params.maskOptions)"
               (dateChanged)="onDateChanged($event)"
               [locale]="locale"
               [defaultMonth]="defaultMonth"
               inputmode="numeric"
               [(ngModel)]="dpModel"
        />
        <span wlc-icon
              class="{{$class}}__icon"
              [iconPath]="$params.iconPath"
              (click)="dp.toggleCalendar()"
        ></span>
    </div>
    <div class="{{$class}}-status"
        wlc-form-control
        *ngIf="$params.name"
        [className]="$class"
        [control]="control"
        [fieldName]="$params.name.toLowerCase()"
    ></div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
