<ng-template #default>
    <label (click)="dp.toggle()" class="{{$class}}__label">{{$params.label | translate}}</label>
    <div class="{{$class}}__container">
        <input class="{{$class}}__input"
               #dp="bsDatepicker"
               #imask
               bsDatepicker
               name="{{$params.name}}"
               [bsConfig]="$params.datepickerOptions"
               [imask]="$params.maskOptions"
               (bsValueChange)="onDateChanged($event)"
               inputmode="numeric"
               [(bsValue)]="bsValue"
               (blur)="setPrevValue()"
        />
        <span wlc-icon
              class="{{$class}}__icon"
              [iconPath]="$params.iconPath"
              (click)="dp.toggle()"
        ></span>
    </div>
    <div class="{{$class}}-status"
        wlc-form-control
        *ngIf="$params.name"
        [className]="$class"
        [control]="control"
        [fieldName]="$params.name | lowercase"
    ></div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
