<div class="{{$class}}__title">
    {{$params.title | translate}}
</div>
<div class="{{$class}}__body">
    <div *ngIf="$params.isDisabled"
        wlc-alert
        class="{{$class}}__alert-block"
        [title]="$params.disabledMsg | translate">
    </div>
    <span *ngIf="showMultyWalletWarning"
          class="{{$class}}__multy-wallet">
        {{$params.multyWalletWarning | translate}}
    </span>
    <div class="{{$class}}__description"
        wlc-dynamic-html
        [html]="$params.description"
        [parseAsPlainHTML]="true"></div>
</div>
