<div class="{{$class}}__title">
    {{$params.title | translate}}
</div>
<div class="{{$class}}__body">
    <div *ngIf="$params.isDisabled"
        wlc-alert
        class="{{$class}}__alert-block"
        [title]="$params.disabledMsg | translate">
    </div>
    <span *ngIf="showMultyWalletWarning"
          class="{{$class}}__multy-wallet">
        {{$params.multyWalletWarning | translate}}
    </span>
    <div class="{{$class}}__description"
        wlc-dynamic-html
        [html]="$params.description"
        [parseAsPlainHTML]="true">
    </div>
    <div class="{{$class}}__price" data-wlc-element="store_item-price">
        <div wlc-store-item-price [storeItemTotalPrice]="$params.storeItemTotalPrice"></div>
    </div>
    <div class="{{$class}}__buttons">
        <button *ngIf="$params.isDisabled || !$params.storeItem.canBuy; else buyBtn"
            wlc-button
            class="{{$class}}__cancel-btn"
            themeMod="secondary"
            text="Close"
            (click)="closeModal()">
        </button>
    </div>
</div>

<ng-template #buyBtn>
    <button wlc-button
        class="{{$class}}__buy-btn"
        text="Buy now"
        (click)="showConfirmationModal()">
    </button>
</ng-template>
