.wlc-bet-history--theme-default {

    &:host {

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-bet-history__filter {
            display: flex;
            flex-wrap: wrap;
            gap: ef.get-value($themeDefault, 'filterGap');
            margin: ef.get-value($themeDefault, 'filterMargin');

            .wlc-select[wlc-select] {
                width: ef.get-value($themeDefault, 'filterWidth');
            }

            .wlc-datepicker--theme-default[class] {
                max-width: ef.get-value($themeDefault, 'filterWidth');
            }
        }


        .wlc-table--theme-default.wlc-table::ng-deep {

            .wlc-table__cell--first {
                grid-template-columns: ef.get-value($themeDefault, 'firstCellColumns');

                .wlc-table__cell-label {
                    display: none;
                }
            }

            .wlc-table__cell--Amount {

                ::ng-deep {

                    .wlc-currency {

                        .wlc-currency__sign {
                            display: none;
                        }
                    }
                }
            }

            .wlc-table__cell {
                @include bm.get-mq-map('width', $themeDefault, 'desktopCellWidth');
            }
        }
    }

    @include mq.min(1024) {
        margin: ef.get-value($themeDefault, 'sectionMargin');
    }
}
