@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/text' as text;
@import './vars';

@mixin contentCommonStyles {
    @include em.get-mq-map('height', $themeDefault, 'height');
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

@mixin wrapperCommonStyles {
    position: relative;
    display: grid;
    width: ef.get-value($themeDefault, 'wrapperWidth');
    height: ef.get-value($themeDefault, 'wrapperHeight');
}

@mixin imageCommonStyles {
    position: relative;
    width: ef.get-value($themeDefault, 'imageWidth');
}

@mixin infoBlockCommonStyles {
    display: flex;
    flex-direction: ef.get-value($themeDefault, 'infoDirection');
    align-items: ef.get-value($themeDefault, 'infoAlignItems');
    padding: ef.get-value($themeDefault, 'infoPadding');
    text-align: ef.get-value($themeDefault, 'infoTextAlign');
}

@mixin nameCommonStyles {
    @include text.get-text-style(ef.get-value($themeDefault, 'nameTextStyle', 375), ef.get-value($themeDefault, 'nameFontColor'));

    max-width: 100%;

    @include mq.min(1630) {
        @include text.get-text-style(ef.get-value($themeDefault, 'nameTextStyle', 1630), ef.get-value($themeDefault, 'nameFontColor'));
    }
}

@mixin descriptionCommonStyles {
    @include text.get-text-style(ef.get-value($themeDefault, 'descriptionTextStyle', 375), ef.get-value($themeDefault, 'descriptionFontColor'));
    @include em.transition(opacity);

    max-width: 100%;
}

@mixin viewsBackgrounds {

    &.wlc-bonus-item--view-experience {

        .wlc-bonus-item__wrapper {
            background: ef.get-value($themeDefault, 'backgroundExperience');

            &:before {
                background: ef.get-value($themeDefault, 'backgroundExperienceHover');
            }
        }
    }

    &.wlc-bonus-item--view-loyalty {

        .wlc-bonus-item__wrapper {
            background: ef.get-value($themeDefault, 'backgroundLoyalty');

            &:before {
                background: ef.get-value($themeDefault, 'backgroundLoyaltyHover');
            }
        }
    }

    &.wlc-bonus-item--view-balance {

        .wlc-bonus-item__wrapper {
            background: ef.get-value($themeDefault, 'backgroundBalance');

            &:before {
                background: ef.get-value($themeDefault, 'backgroundBalanceHover');
            }
        }
    }

    &.wlc-bonus-item--view-freerounds {

        .wlc-bonus-item__wrapper {
            background: ef.get-value($themeDefault, 'backgroundFreerounds');

            &:before {
                background: ef.get-value($themeDefault, 'backgroundFreeroundsHover');
            }
        }
    }

    &.wlc-bonus-item--view-relative {

        .wlc-bonus-item__wrapper {
            background: ef.get-value($themeDefault, 'backgroundRelative');

            &:before {
                background: ef.get-value($themeDefault, 'backgroundRelativeHover');
            }
        }
    }
}
