$customThemeMini: () !default;
$themeMini: map-merge((
    'hostBg': var(--mc-bg500),
    'blankWrapperHeight': 100%,

    'contentCursor': pointer,
    'contentDisabledCursor': not-allowed,

    // wrapper
    'wrapperPosition': relative,
    'wrapperBg': var(--mc-bg500-d10),
    'wrapperBgRepeat': no-repeat,
    'wrapperBgPos': center,
    'wrapperBgSize': cover,
    'wrapperBgOrigin': border-box,
    'wrapperRadius': ef.get-value($themeDefault, 'radius'),
    'wrapperBorder': 2px solid transparent,
    'wrapperPaddingTop': 68%,
    'wrapperShadowHover': 0 0 5px var(--mc-main),
    'wrapperShadowActive': 0 0 8px var(--mc-main),
    'wrapperBorderColorActive': var(--mc-main),
    'wrapperBgBlank': var(--mc-bg),
    'wrapperOverflow': hidden,

    //image block
    'imageFontStyle': 'ThirdTitleBold',
    'imageFontColor': var(--mc-baseMain),
    'imageTextAlign': center,

    // image icon
    'imageIconWidth': 70px,
    'imageIconHeight': 70px,
    'imageIconFontStyle': 'SignText',
    'imageIconColor': null,
    'imageIconMinHeight': 14px,

    // bottom block
    'bottomPadding': ef.size(3) ef.size(2) ef.size(2),

    // name
    'nameFontStyle': 'PrimaryText',
    'nameFontColor': null,
    'nameTextAlign': center,
    'nameClamp': 2,

    // more icon
    'moreIconPadding': 6px,
    'moreIconBorderRadius': ef.get-value($themeDefault, 'radius'),
    'moreIconWidth': 20px,
    'moreIconHeight': 20px,

    // bonus icon
    'bonusIconTextStyleSmall': 0.9rem,
    'bonusIconTextStyleSmaller': 0.8rem,

    //bonus tag
    'tagMinWidth': 80px,
    'tagMinHeight': 20px,
    'tagBgOpacity': 1,
    'tagPosTop': 0,
    'tagPosLeft': 50%,
    'tagTransform': translate(-50%, -50%),
    'tagColor': ef.get('tagConfig', 'color'),
), $customThemeMini);

$customThemeModMiniWolf: () !default;
$themeModMiniWolf: map-merge((
    'hostBg': transparent,
    'blankWrapperHeight': auto,
    'wrapperBg': var(--mc-bg),
    'bonusItemBgHover': linear-gradient(to top, var(--mc-main) 0, var(--mc-main) 2px, var(--mc-black-o0) 2px, var(--mc-black-o0) 100%),
    'bonusItemBgSelected': linear-gradient(to top, var(--mc-main) 0, var(--mc-main) 2px, var(--mc-main-o4) 2px, var(--mc-black-o0) 100%),
    'wrapperBorderColorActive': transparent,
    'wrapperBoxShadow': none,
    'wrapperBoxShadowHover': none,
    'wrapperBoxShadowSelected': none,
), $customThemeModMiniWolf);
