@use 'engine-scss/functions' as ef;

$customAffSectionsDefault: () !default;
$affSectionsDefault: map-merge((
    'anchorsBg': (
        375:  var(--mc-bg100),
    ),
    'anchorsPadding': ef.size(2) 0,

    'benefitsBg': null, //single color or map value
    'benefitsPadding': ef.size(8) 0,

    'comissionBg': null, //single color or map value
    'comissionPadding': 0 0 ef.size(8),

    'descrBg': (
        375: var(--mc-bg300),
    ),
    'descrPadding': ef.size(8) 0,

    'faqBg': null, //single color or map value
    'faqPadding': ef.size(8) 0,
    'faqContainerMaxWidth': 1050px,
    'faqContainerPadding': 0 ef.size(3),
), $customAffSectionsDefault);


$customAffContentDefault: () !default;
$affContentDefault: map-merge((
    'contentTextAlign': center,
    'contentMargin': ef.size(8) auto,
    'btnMinWidth': 180px,
), $customAffContentDefault);


$customThemeDefaultBenefits: () !default;
$themeDefaultBenefits: map-merge((
    'wrapperGridColumns': (
        375: repeat(3, 1fr),
        1024: repeat(6, 1fr),
    ),
    'wrapperGridGap': (
        375: ef.size(4),
        1024: 0,
    ),

    'itemGridGap': 10px,
    'itemGridColumns': 1fr,
    'itemGridRows': (
        375: 54px auto,
        1630: 64px auto,
    ),
    'itemPadding': (
        375: 0,
        1024: 0 ef.size(2),
        1630: 0 ef.size(4),
    ),

    'iconSize': (
        375: 54px,
        1630: 64px,
    ),

    'captionTextStyleMobile': 'PlaceholderText',
    'captionTextStyle': (
        375: 'SignText',
        768: 'PlaceholderText',
        1200: 'PrimaryTextBold',
    ),
    'captionMaxWidth': 21ch,

    'separatorWidth': 2px,
    'separatorHeight': 50%,
    'separatorBg': var(--mc-baseOpacity),
    'separatorOpacity': (
        375: 0,
        1024: 1
    )
), $customThemeDefaultBenefits);


$customThemeDefaultDigits: () !default;
$themeDefaultDigits: map-merge((
    'wrapperGridColumns': (
        375: repeat(2, 1fr),
        768: repeat(4, 1fr),
        1630: repeat(4, 315px),
    ),
    'wrapperGridGap': (
        375: ef.size(4),
    ),

    'itemGridGap': (
        375: ef.size(2),
        1200: ef.size(3),
    ),
    'itemBg': var(--mc-bg300),
    'itemRadius': ef.get('radius', 'biger'),
    'itemTextAlign': center,
    'itemPadding': (
        375: ef.size(2),
        768: ef.size(4),
        1200: ef.size(4) ef.size(6),
        1420: ef.size(6),
    ),

    'separatorWidth': 100%,
    'separatorHeight': 2px,
    'separatorRadius': ef.get('radius', 'large'),
    'separatorBg': var(--mc-baseOpacity),

    'mainTextFontSize': (
        375: ef.get('font', 'PromoTitle'),
        1200: ef.get('font', 'ScreamTitle'),
        1630: 7.2rem,
    ),
    'mainTextFontWeight': bold,
    'mainTextLineHeight': 1,

    'descriptionTextMobile': 'PrimaryTextBold',
    'descriptionText': 'QoteTextBold',
), $customThemeDefaultDigits);
