<div class="{{$class}}__wrapper" [attr.data-wlc-element]="'block-' + $params.type + '-wins'">
    <div class="{{$class}}__container" [ngClass]="{'container': $params.container, 'no-winners': !slides.length}">
        <h4 *ngIf="isTitleVisible"
            class="{{$class}}__title"
            [attr.data-wlc-element]="'title_' + $params.type + '-wins'"
            >{{$params.title | translate}}
        </h4>
        <ng-container *ngIf="ready; else loader">
            <div
                *ngIf="slides.length; else noslides"
                wlc-slider
                class="{{$class}}__slider"
                [slides]="slides"
                [inlineParams]="sliderParams"
                (handleBeforeResize)="onSliderResize($event)">
            </div>
        </ng-container>
    </div>
</div>

<ng-template #loader>
    <div class="{{$class}}__loader" wlc-loader></div>
</ng-template>

<ng-template #noslides>
    <div wlc-no-content [inlineParams]="noContentParams"></div>
</ng-template>
