@mixin tooltipIcon($config) {
    @include bm.get-mq-map('--wlc-icon-width', $config, 'iconWidth');
    @include bm.get-mq-map('--wlc-icon-height', $config, 'iconHeight');
    @include bm.transition(color);
    color: ef.get-value($config, 'iconFill');

    &.wlc-icon {

        ::ng-deep {

            svg {
                fill: currentColor;
            }
        }
    }

    @include bm.hover {
        color: ef.get-value($config, 'iconColorOnHover');
    }
}
