
$customBase: () !default;
$base: map-merge((
    'contentMaxWidth': 200px,
    'contentPadding': ef.size(2) ef.size(4),
    'contentBorderRadius': ef.size(2),
    'textStyle': 'PrimaryText',
    'contentColor': var(--mc-baseMain),
    'contentBoxShadow': 0 4px 4px rgba(0, 0, 0, 0.25),
    'arrowWidth': 8px,
    'arrowHeight': 8px,

    'topPadding': 8px 0,
    'topArrowBorderWidth': 8px 4px 0,

    'endPadding': 0 8px,
    'endArrowBorderWidth': 4px 8px 4px 0,

    'bottomPadding': 8px 0,
    'bottomArrowBorderWidth': 0 4px 8px,

    'startPadding': 0 8px,
    'startArrowBorderWidth': 4px 0 4px 8px,
), $customBase);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'iconWidth': (
        375: 16px,
        1024: 19px,
    ),
    'iconHeight': (
        375: 15px,
        1024: 18px,
    ),
    'iconFill': var(--mc-baseOpacity),
    'iconColorOnHover': var(--mc-baseMain),
    'contentBg': var(--mc-bg100),
    'contentBorderRadius': ef.get('radius', 'biger'),
    'textStyle': 'PrimaryText',
    'contentColor': var(--mc-baseMain),
    'contentBoxShadow': 0 4px 4px rgba(0, 0, 0, 0.25),

    'contentBgError': var(--mc-error),
    'contentColorError': var(--mc-baseMain),
), $customThemeDefault);

$customModResolve: () !default;
$modResolve: map-merge((
    'iconWidth': (
        375: 16px,
        1024: 19px,
    ),
    'iconHeight': (
        375: 15px,
        1024: 18px,
    ),
    'iconFill': var(--mc-success),
    'iconColorOnHover': var(--mc-success-d20),
), $customModResolve);

$customModError: () !default;
$modError: map-merge((
    'iconWidth': 13px,
    'iconHeight': 13px,
    'iconFill': var(--mc-error),
    'iconColorOnHover': var(--mc-error),
    'contentBg': var(--mc-error),
), $customModError);
