@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'contentColor': var(--mc-baseMain),
    'contentHeaderColor': var(--mc-baseMain),
    'contentHeaderMargin': ef.size(2) 0,
    'contentMargin': 0 0 ef.size(1),
    'contentTextStyle': 'PrimaryText',
    'contentHeadingTextStyle': 'ThirdTitleBold',

    'titleTextStyle': 'QoteTextBold',
    'titleColor': var(--mc-baseMain),
    'titleMargin': 0 0 ef.size(4),
    'titleTextAlign': (
        375: center,
        900: left,
    ),
), $customThemeDefault);

$customThemeAffiliates: () !default;
$themeAffiliates: map-merge((
    'contentTextStyle': (
        375: 'PrimaryText',
        768: 'ThirdTitle'
    ),
    'contentColor': var(--mc-baseMain),

    'titleTextStyle': (
        375: 'ThirdTitleBold',
        768: 'QoteTextBold',
    ),
    'titleTextTransform': uppercase,
    'titleColor': var(--mc-baseMain),
    'titleMargin': (
        375: ef.size(4) 0 ef.size(3),
        1200: ef.size(6) 0 ef.size(3),
    ),

    'subtitleMaxWidth': 55ch,
    'subtitleMargin': 0 auto,

    'baseTextMaxWidth': 108ch,
    'baseTextMargin': 0 auto ef.size(2),
), $customThemeAffiliates);
