$customThemeDefault: () !default;
$themeDefault: map-merge((
    'contentColor': var(--mc-baseMain),
    'contentHeaderColor': var(--mc-baseMain),
    'contentHeaderMargin': ef.size(2) 0,
    'contentMargin': 0 0 ef.size(1),
    'contentTextStyle': 'PrimaryText',
    'contentHeadingTextStyle': 'ThirdTitleBold',

    'titleTextStyle': 'QoteTextBold',
    'titleColor': var(--mc-baseMain),
    'titleMargin': 0 0 ef.size(4),
    'titleTextAlign': (
        375: center,
        900: left,
    ),
    'downloadLinkMargin': 0 0 ef.size(4),
    'downloadTextColor': var(--mc-secondary),
    'downloadTextColorHover': var(--mc-baseMain),
    'downloadIconMargin': 0 0 0 ef.size(3),
), $customThemeDefault);

$customThemeAffiliates: () !default;
$themeAffiliates: map-merge((
    'contentTextStyle': (
        375: 'PrimaryText',
        768: 'ThirdTitle'
    ),
    'contentColor': var(--mc-baseMain),

    'titleTextStyle': (
        375: 'ThirdTitleBold',
        768: 'QoteTextBold',
    ),
    'titleTextTransform': uppercase,
    'titleColor': var(--mc-baseMain),
    'titleMargin': (
        375: ef.size(4) 0 ef.size(3),
        1200: ef.size(6) 0 ef.size(3),
    ),

    'subtitleMaxWidth': 55ch,
    'subtitleMargin': 0 auto,

    'baseTextMaxWidth': 108ch,
    'baseTextMargin': 0 auto ef.size(2),
), $customThemeAffiliates);

$customThemeAboutUs: () !default;
$themeAboutUs: map-merge((
    'sectionMargin': (
        375: 0 0 ef.size(6),
        900: 0 0 ef.size(4),
    ),

    'sectionTitleMargin': 0 auto ef.size(4),
    'sectionTitleAlign': center,

    'listGap': (
        375: ef.size(2),
        1024: ef.size(4),
    ),
    'listTemplateColumns': (
        375: 1fr,
        720: repeat(3, 1fr),
    ),

    'titleFont': 'QoteTextBold',
    'titleColor': ef.get('mainColors', 'baseMain'),

    'postMaxHeight': 385px,
    'postBorderRadius': ef.get('radius', 'biger'),

    'contentAlign': center,
    'contentBottom': 0,
    'contentWidth': 100%,
    'contentFont': (
        375: 'ThirdTitle',
        720: 'PrimaryText',
        1024: 'ThirdTitle',
    ),
    'contentColor': ef.get('mainColors', 'baseMain'),
    'contentPadding': (
        350: 0 0 ef.size(9),
        720: 0 0 ef.size(4),
        1024: 0 0 ef.size(9),
    ),

    'descriptionMaxWidth': 300px,
    'descriptionMargin': 0 auto,
), $customThemeAboutUs);
