<div class="{{$class}}__container">
    <div class="{{$class}}-nav">
        <div class="{{$class}}-nav__item {{$class + '-nav__item--' + tab.modifier}}"
             *ngFor="let tab of tabs"
             [class.active]="tab.active"
             (click)="selectTab(tab)"
        >
            {{tab.name | translate}}
        </div>
    </div>

    <div *ngFor="let tab of tabs" class="{{$class}}-body {{$class + '-body--' + tab.modifier}}" [class.active]="tab.active">
        <div class="{{$class}}-body__item {{$class + '-body__item--' + tab.modifier}}"
             [class.active]="tab.active"
        >
            <ng-container *ngIf="tab.active"
                          [ngComponentOutlet]="$any(tab.componentClass)"
                          [ngComponentOutletInjector]="tab.injector"
            ></ng-container>
        </div>
    </div>
</div>
