@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;

.wlc-restore-link {

    &:host {
        line-height: 1;
        text-align: ef.get-value($themeDefault, 'alignText') ;

        .wlc-btn {
            @include text.get-text-style(ef.get-value($themeDefault, 'linkFontSize'), ef.get-value($themeDefault, 'linkColor'));
            @include em.transition(color);
            text-decoration: underline;

            @include em.hover {
                color: ef.get-value($themeDefault, 'linkColorHover');
            }
        }
    }
}
