/// Глобальные настройки профиля:
///
/// @name customProfileSettings
$customProfileSettings: () !default;
$dummy: map-merge((), $customProfileSettings);
$profileSettings: map-merge((
    'profileWidth': (
        1366: 1275px
    ),
    'profileMinHeight': (
        375: 120px,
    ),
    'profileWidthV1': (
        1366: 1200px,
        1630: 1370px,
    ),
    'titleColor': var(--mc-baseMain),
    'profilePadding': (
        375: size-func(3) size-func(3) size-func(6),
        1024: size-func(4) size-func(8) size-func(6),
        1630: size-func(6) size-func(8),
    ),
    'profilePaddingV1': (
        375: size-func(4) size-func(4) size-func(8),
        1200: 0,
    ),
    'profileBg': (
        375: var(--mc-bg700),
        1024: var(--mc-bg700),
    ),
    'profileBgV1': var(--mc-bg700),
    'profileBorderRadius': (
        375: size-func(2),
        1024: size-func(2)
    ),
    'profileBorderRadiusV1': map-get($radius, 'biger'),
    'profileBtnWeight': 700,
    'rangeMarginBottom': size-func(3),
    'historyFilterDisplay': flex,
    'historyFilterAlign': center,
    'historyFilterJustify': space-between,
    'historyFilterMargin': 0 0 size-func(1),
    'profileDisplayV1': (
        320: grid,
    ),
    'profileGridTemplateColumnsV1': (
        1200: 285px auto,
    ),
    'contentCenterColGap': (
        375: 40px,
        1366: 80px,
    ),
    'contentCenterFormColumns': (
        375: 1fr,
        1024: minmax(0, 1fr) 30%,
        1200: minmax(675px, max-content) 330px,
    ),
    'contentPaddingV1': (
        375: size-func(4) 0 0,
        1200: size-func(3) size-func(6) size-func(4),
        1630: size-func(4) size-func(8) size-func(6),
    ),
    'contentHeaderInsideMarginTopV1': (
        375: -#{size-func(4)},
        1024: 0,
    ),
    'contentHeaderDisplayV1': flex,
    'contentHeaderAlignV1': start,
    'contentHeaderJustifyV1': space-between,
    'contentHeaderBorderBottomV1': (
        1024: 2px solid var(--mc-baseOpacity),
    ),
    'contentHeaderMarginV1': 0 0 size-func(4) 0,
    'contentHeaderUnderlinedMarginV1': 0 0 size-func(4) 0,
    'contentHeaderPaddingV1': (
        375: 0,
    ),
    'contentHeaderHeightV1': (
        320: 35px,
        560: 50px,
        1200: 60px,
    ),
    'titleColorV1': var(--mc-baseMain),
    'titleTextStyleV1': (
        375: 'ThirdTitleBold',
        1200: 'QoteTextBold',
    ),
    'secondTitleStyle': 'PrimaryText',

    'topMargin': (
        375: 0 0 size-func(3),
        1200: 0 0 size-func(4),
    ),
    'topBtnsAlignItems': center,
    'topBtnsJustifyContent': space-between,

    // Locked colors
    'profileTabAngleBg': map-get($mainColors, 'bg700'),
    'profileTabAngleBgAlt': map-get($mainColorsAlt, 'bg700'),
), $customProfileSettings);

/// Глобальные настройки профиля (первая тема):
///
/// @name customProfileSettings
$customProfileSettingsThemeFirst: () !default;
$profileSettingsThemeFirst: map-merge((
    'profileWidth': (
        1366: 1200px,
        1630: 1370px
    ),
    'historyRangePadding': size-func(2) 0 0,
    'historyRangeMargin': 0 0 size-func(4),
), $customProfileSettingsThemeFirst);
