<ng-template #div let-data="data">
    <div class="{{$class}}__{{data.element}}">{{data.text | translate}}</div>
</ng-template>

<ng-template #link let-data="data">
    <a [uiSref]="mainLink" [uiParams]="mainParams" class="{{$class}}__{{data.element}}-link">{{data.text | translate}}
        <span wlc-icon iconPath="/mobile-app/icons/arrow.svg"></span>
    </a>
</ng-template>

<ng-template #h1 let-data="data">
    <h1 class="{{$class}}__{{data.element}}">{{data.text | translate}}</h1>
</ng-template>

<ng-template #h2 let-data="data">
    <h2 class="{{$class}}__{{data.element}}">{{data.text | translate}}</h2>
</ng-template>

<ng-template #span let-data="data">
    <span class="{{$class}}__{{data.element}}">{{data.text | translate}}</span>
</ng-template>

<ng-container *ngIf="ready">
    <ng-container
        [ngTemplateOutlet]="getTemplateRef(mainTag)"
        [ngTemplateOutletContext]="{data: {element: 'main', text: $mainText}}">
    </ng-container>

    <ng-container
        *ngIf="!!$secondText"
        [ngTemplateOutlet]="getTemplateRef(secondTag)"
        [ngTemplateOutletContext]="{data: {element: 'second', text: $secondText}}"
    >
    </ng-container>
</ng-container>
