<div *ngIf="ready && $params.title" class="{{$class}}__title">
    {{$params.title | translate}}
</div>

<div *ngIf='ready'
    class="{{$class}}__content"
    [@tableAppearance]="appearanceState">

    <div *ngIf="isTable && $params.showHead && rows.length" class="{{$class}}__row {{$class}}__row--head">
        <span *ngFor="let col of head"
            class="{{$class}}__cell {{$class}}__cell--{{col.key}}"
            [attr.data-wlc-element]="col.wlcElement">
            {{col.title | translate}}{{col.description ? '*' : ''}}
        </span>
    </div>

    <div *ngFor="let item of paginatedRows; index as $index"
        class="{{$class}}__row"
        [ngClass]="[item.opened ? 'wlc-show' : '']">

        <div *ngFor="let col of head; let $first = first"
            class="{{$class}}__cell {{$class}}__cell--{{col.key}}"
            [ngClass]="[$first ? $class + '__cell--first' : 'wlc-cell-hide']"
            [attr.data-wlc-element]="col.wlcElement"
            [@toggle]="!$params.disableMobileVersion && animationStatus(item, $first)"
            (click)="$first && isMobile && !$params.disableMobileVersion ? item.toggleRow() : null">

            <ng-container [ngSwitch]="col.type">
                <div *ngIf="isMobile" class="{{$class}}__cell-label">
                    <span>{{col.title | translate}}{{col.description ? '*' : ''}}</span>
                </div>

                <div *ngSwitchCase="'component'" class="{{$class}}__cell-content">
                    <ng-container [ngComponentOutlet]="$any(col.componentClass)"
                        [ngComponentOutletInjector]="getComponentInjector(item, $index + indexFactor, col)">
                    </ng-container>
                </div>

                <div *ngSwitchDefault class="{{$class}}__cell-content">
                    {{item.getDefaultValue(col) | translate}}
                </div>
            </ng-container>

            <div *ngIf="$first && isMobile"
                wlc-icon
                class="{{$class}}__cell-arrow"
                [iconPath]="'/wlc/icons/arrow-down.svg'">
            </div>
        </div>
    </div>
</div>

<div *ngFor="let description of headDescriptions" class="{{$class}}__note">
    <span *ngIf="description">
        {{'*'}}{{description | translate}}
    </span>
</div>

<div wlc-pagination
    *ngIf="$params.pagination?.use"
    [items]="rows"
    [settings]="$params.pagination"
    [itemPerPage]="$params.pageCount"
    (paginationOnChange)="paginationOnChange($event)">
</div>
