@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/engine.variables' as ev;
@import '../utils/vars';


.wlc-modal--theme-default {
    @include em.get-mq-map('background', $themeDefault, 'dialogBackground');

    .wlc-modal {

        &__dialog {
            background: ef.get-value($themeDefault, 'dialogBackground');

            @include mq.min(560) {
                border-radius: ef.get-value($themeDefault, 'dialogBorderRadius');
            }
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize', 320), ef.get-value($themeDefault, 'titleColor'));
            margin: ef.get-value($themeDefault, 'titleMargin');

            @include mq.min(768) {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize', 768));
            }
        }

        &__header {
            padding: ef.get-value($themeDefault, 'paddingDefault');

            &--headless {
                padding: ef.get-value($themeDefault, 'paddingHeadless');
            }
        }

        &__body {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }

        &__footer {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }
    }

    // Modifiers

    &.wlc-modal--login-sign-up {
        @include em.get-mq-map('background', $themeDefault, 'loginSignUpModalBackground');


        .wlc-modal {

            &__wrapper {
                @include em.get-mq-map('padding', $themeDefault, 'loginSignUpModalWrapperPadding');
            }

            &__close {
                @include em.get-mq-map('right', $themeDefault, 'loginSignUpClosePosRight');
                @include em.get-mq-map('top', $themeDefault, 'loginSignUpClosePosTop');
            }

            &__header {
                @include em.get-mq-map('padding', $themeDefault, 'loginSignUpHeaderPadding');
                border-bottom: none;
            }

            &__title {
                @include em.get-mq-map('display', $themeDefault, 'loginSignUpTitleDisplay');
                @include text.get-text-style(ef.get-value($themeDefault, 'loginSignUpTitleStyle'), ef.get-value($themeDefault, 'loginSignUpTitleColor'));
                text-align: ef.get-value($themeDefault, 'loginSignUpTitleAlign');
            }

            &__body {
                padding: 0;

                .wlc-text-block__title {
                    @include text.get-text-style(ef.get-value($themeDefault, 'loginSignUpTextFontSize', 320), ef.get-value($themeDefault, 'loginSignUpTextColor'));

                    @include mq.min(768) {
                        @include text.get-text-style(ef.get-value($themeDefault, 'loginSignUpTextFontSize', 768));
                    }
                }
            }

            &__dialog {
                @include em.get-mq-map('height', $themeDefault, 'loginSignUpDialogHeight');
                @include em.get-mq-map('margin', $themeDefault, 'loginSignUpDialogMarign');
                @include em.get-mq-map('border', $themeDefault, 'loginSignUpDialogBorder');
            }
        }
    }

    &.wlc-modal--restore {
        @include em.get-mq-map('background', $themeDefault, 'restoreModalBackground');

        .wlc-modal {

            &__wrapper {
                @include em.get-mq-map('padding', $themeDefault, 'restoreModalWrapperPadding');
            }

            &__header {
                border-bottom: none;
            }

            &__body {
                @include em.get-mq-map('padding', $themeDefault, 'restoreModalBodyPadding');
            }

            &__title {
                @include em.get-mq-map('display', $themeDefault, 'restoreTitleDisplay');
            }

            &__back-btn {
                justify-content: center;

                .icon-arrow {

                    @include mq.min(900) {
                        margin-top: 0;
                    }
                }
            }

            &__back-btn-text {
                @include em.get-mq-map('display', $themeDefault, 'restoreBtnTextDisplay');
            }

            &__dialog {
                @include em.get-mq-map('height', $themeDefault, 'restoreDialogHeight');
                @include em.get-mq-map('border', $themeDefault, 'restoreDialogBorder');
                @include em.get-mq-map('margin', $themeDefault, 'restoreDialogMarign');
            }
        }
    }

    &.wlc-modal--tournament-detail {

        .wlc-modal__body {
            @include em.get-mq-map('padding', $themeDefault, 'tournamentDetailPadding');
        }

        .wlc-modal__footer {
            @include em.get-mq-map('padding', $themeDefault, 'tournamentDetailFooterPadding');
        }

        .wlc-modal__header--headless {

            .wlc-modal__close {
                @include em.get-mq-map('top', $themeDefault, 'tournamentDetailIconCloseTop');
            }
        }

        .wlc-tournament-detail__header-info--back-link {
            display: none;
        }

        .wlc-tournament-detail__rules {
            border-radius: 0;
        }
    }

    &.wlc-modal--registration-success,
    &.wlc-modal--data-is-processing {
        background: rgba($color: ef.get-value($hostModal, 'backdropBackground'), $alpha: 0.6);

        .wlc-modal__wrapper {

            @include mq.max(560) {
                height: ef.get-value($hostModal, 'dataIsProcessingHeight');
                padding: ef.get-value($hostModal, 'dataIsProcessingPadding');
            }
        }

        .wlc-modal__dialog {

            @include mq.max(560) {
                height: 100%;
                margin: auto;
                box-shadow: ef.get-value($hostModal, 'dialogShadow');

                .wlc-modal__body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }

    &.wlc-modal--bonus-modal {

        .wlc-modal {

            &__dialog {
                @include bm.get-mq-map('max-width', $themeDefault, 'bonusModalMaxWidth');
                overflow: ef.get-value($themeDefault, 'bonusModalOverflow');
            }

            &__body {
                padding: ef.get-value($themeDefault, 'bonusModalBodyPadding');
            }

            &__wrapper {
                padding: ef.get-value($themeDefault, 'bonusModalWrapperPadding');
            }
        }
    }

    &.wlc-modal--payment-list {

        .wlc-modal {

            &__body {
                @include em.get-mq-map('padding', $themeDefault, 'paymentListBodyPadding');
            }
        }
    }

    &.wlc-modal--bonus-info-default {

        .wlc-modal {

            &__body {
                padding: ef.get-value($themeDefault, 'bonusInfoDefaultBodyPadding');
            }

            &__wrapper {
                padding: ef.get-value($themeDefault, 'bonusInfoDefaultWrapperPadding');
            }
        }
    }

    &.wlc-modal--wp-promo-content {

        .wlc-modal {

            &__dialog {
                @include bm.get-mq-map('max-width', $themeDefault, 'wpPromoModalMaxWidth');
            }
        }
    }
}

body.modal-open {
    background-color: ef.get-value($themeDefault, 'dialogBackground');

    @include mq.min(560) {
        background-color: ev.$body-bg;
    }
}
