@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/engine.variables' as ev;
@import '../utils/vars';


.wlc-modal--theme-default {
    background: ef.get-value($themeDefault, 'dialogBackground');

    @include mq.min(560) {
        background: none;
    }

    .wlc-modal {

        &__dialog {
            background: ef.get-value($themeDefault, 'dialogBackground');

            @include mq.min(560) {
                border-radius: ef.get-value($themeDefault, 'dialogBorderRadius');
            }
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSizeMobile'), ef.get-value($themeDefault, 'titleColor'));
            font-weight: bold;
            margin: ef.get-value($themeDefault, 'titleMargin');

            @include mq.min(560) {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize'), ef.get-value($themeDefault, 'titleColor'));
            }
        }

        &__header {
            padding: ef.get-value($themeDefault, 'paddingDefault');

            &--headless {
                padding: ef.get-value($themeDefault, 'paddingHeadless');
            }
        }

        &__body {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }

        &__footer {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }
    }

    // Modifiers

    &.wlc-modal--login-sign-up {
        @include em.get-mq-map('background', $themeDefault, 'loginSignUpModalBackground');


        .wlc-modal {

            &__wrapper {
                @include em.get-mq-map('padding', $themeDefault, 'loginSignUpModalWrapperPadding');
            }

            &__close {
                @include em.get-mq-map('right', $themeDefault, 'loginSignUpClosePosRight');
                @include em.get-mq-map('top', $themeDefault, 'loginSignUpClosePosTop');
            }

            &__header {
                @include em.get-mq-map('padding', $themeDefault, 'loginSignUpHeaderPadding');
                border-bottom: none;
            }

            &__title {
                @include em.get-mq-map('display', $themeDefault, 'loginSignUpTitleDisplay');
                @include text.get-text-style(ef.get-value($themeDefault, 'loginSignUpTitleStyle'), ef.get-value($themeDefault, 'loginSignUpTitleColor'));
                text-align: left;
            }

            &__body {
                padding: 0;
            }

            &__dialog {
                @include em.get-mq-map('height', $themeDefault, 'loginSignUpDialogHeight');
                @include em.get-mq-map('margin', $themeDefault, 'loginSignUpDialogMarign');
                @include em.get-mq-map('border', $themeDefault, 'loginSignUpDialogBorder');
            }
        }
    }

    &.wlc-modal--restore {
        @include em.get-mq-map('background', $themeDefault, 'restoreModalBackground');

        .wlc-modal {

            &__wrapper {
                @include em.get-mq-map('padding', $themeDefault, 'restoreModalWrapperPadding');
            }

            &__header {
                padding: ef.get-value($themeDefault, 'restoreHeaderPadding');
                //@include em.get-mq-map('padding', $themeDefault, 'restoreHeaderPadding');
                border-bottom: none;
            }

            &__body {
                @include em.get-mq-map('padding', $themeDefault, 'restoreBodyPadding');
            }

            &__title {
                @include em.get-mq-map('display', $themeDefault, 'restoreTitleDisplay');
                @include text.get-text-style(ef.get-value($themeDefault, 'restoreTitleStyle'), ef.get-value($themeDefault, 'restoreTitleColor'));

                @include mq.min(640) {
                    text-align: center;
                    @include text.get-text-style(ef.get-value($themeDefault, 'restoreTitleStyleDesk'), ef.get-value($themeDefault, 'restoreTitleColor'));
                }
            }

            &__back-btn {
                justify-content: center;

                .icon-arrow {
                    @include mq.min(900) {
                        margin-top: 0;
                    }
                }
            }

            &__back-btn-text {
                @include em.get-mq-map('display', $themeDefault, 'restoreBtnTextDisplay');
            }

            &__dialog {
                @include em.get-mq-map('height', $themeDefault, 'restoreDialogHeight');
                @include em.get-mq-map('border', $themeDefault, 'restoreDialogBorder');
                @include em.get-mq-map('margin', $themeDefault, 'restoreDialogMarign');
            }
        }
    }

    &.wlc-modal--play-game-for-real,
    &.wlc-modal--new-password {

        .wlc-modal {

            &__body {
                padding-top: 0;
            }
        }
    }
}

body.modal-open {
    background-color: ef.get-value($themeDefault, 'dialogBackground');

    @include mq.min(560) {
        background-color: ev.$body-bg;
    }
}
