@use 'engine-scss/functions' as ef;

// GLOBAL
$animationTime: ef.get('time', 'main') !default;
$textColor: ef.get('color', 'text') !default;
$openIconColor: ef.get('color', 'text') !default;
$openIconColorOpened: ef.get('color', 'textSecondary') !default;

// MOBILE
// Table
$rowGapMobile: ef.get('size', 'smaller') !default;
$borderColorMobile: ef.get('color', 'divider') !default;
$fontSizeMobile: ef.get('font', 'main') !default;

// Row
$fontSizeTitleMobile: ef.get('font', 'main') !default;
$rowBorderMobile: 1px solid $borderColorMobile !default;
$rowBorderOpenedMobile: $rowBorderMobile !default;
$rowTitleBorderBottomMobile: 1px solid $borderColorMobile !default;
$rowTitleBorderBottomOpenedMobile: $rowTitleBorderBottomMobile !default;
$rowTitleBackgroundMobile: ef.get('color', 'backgroundSecondary') !default;
$rowBackgroundMobile: transparent !default;
$rowBorderRadiusSizeMobile: ef.get('radius', 'smaller') !default;

// Cell
$paddingMobile: ef.get('size', 'small') !default;
$cellGapMobile: ef.get('size', 'smallest') !default;


// DESKTOP
// Table
$borderColorDesktop: ef.get('color', 'divider') !default;
$fontSizeDesktop: ef.get('font', 'main') !default;

// Row
$rowBorderDesktop: none !default;
$fontSizeTitleDesktop: ef.get('font', 'biger') !default;
$fontWeightTitleDesktop: 600 !default;
$rowTitleBackgroundDesktop: transparent !default;
$rowEvenBackgroundDesktop: $rowBackgroundMobile !default;
$rowOddBackgroundDesktop: ef.get('color', 'backgroundSecondary') !default;
$rowBorderRadiusSizeDesktop: ef.get('radius', 'smaller') !default;

// Cell
$cellBorderDesktop: none !default;
$textAlignDesktop: center !default; // start, end, center
