.wlc-progress-bar:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wlc-progress-bar {

        &__text {
            @include text.get-text-style(#{ef.get-value($themeDefault, 'PrimaryText')}, ef.get-value($themeDefault, 'textFontColor'));
            @include bm.get-mq-map('margin', $themeDefault, 'textMargin');
        }

        &__progress {
            position: relative;
            height: ef.get-value($themeDefault, 'progressHeight');
            background: ef.get-value($themeDefault, 'progressBackground');
            border-radius: ef.get-value($themeDefault, 'progressBorderRadius');
            @include bm.get-mq-map('width', $themeDefault, 'progressWidth');
        }

        &__bar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background: ef.get-value($themeDefault, 'barBackground');
            border-radius: ef.get-value($themeDefault, 'barBorderRadius');
            transition: ef.get-value($themeDefault, 'barTransition');
        }
    }
}
