<ng-template #one>
    <div class="{{$class}}__wrapper" (click)="startGame($event)">
        <div class="{{$class}}__block {{$class}}__block--left">
            <img class="{{$class}}__image"
                 loading="lazy"
                 [attr.src]="$params.data.gameImage"
                 [attr.alt]="$params.data.gameName">
        </div>

        <div class="{{$class}}__block {{$class}}__block--right">
            <div class="{{$class}}__game"><span>{{$params.data.gameName}}</span></div>
            <div class="{{$class}}__amount">
                <span wlc-currency
                      [value]="$params.data.amount"
                      [currency]="$params.data.currency"
                      digitsInfo="0-0-0"
                ></span>
            </div>
        </div>
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="one" *ngSwitchDefault></ng-container>
</ng-container>
