.wlc-tournament-condition--theme-default:host {

    .wlc-tournament-condition {

        &__text {
            margin: ef.get-value($themeDefault, 'textMargin');

            &:last-child {
                margin-bottom: 0;
            }

            .wlc-currency {
                font-weight: 700;
            }
        }

        &__lpblock {

            ::ng-deep {

                .wlc-icon {
                    position: relative;
                    bottom: 2px;
                }
            }
        }
    }
}
