.wlc-thumbs-wrapper--theme-default:host {
    @include bm.get-mq-map('max-width', $themeDefault, 'wrapperMaxWidth');
    @include bm.get-mq-map('margin', $themeDefault, 'wrapperMargin');

    position: relative;
    width: 100%;

    .wlc-thumbs-wrapper {

        &__bg {
            @include bm.get-mq-map('border-radius', $themeDefault, 'wrapperRadius');
            @include bm.get-mq-map('background', $themeDefault, 'wrapperBg');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__content {
            @include bm.get-mq-map('padding', $themeDefault, 'contentPadding');
            @include bm.get-mq-map('gap', $themeDefault, 'contentGap');
            display: grid;
            overflow: hidden;
        }

        &__title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: ef.get-value($themeDefault, 'titleJustifyContent');

            ::ng-deep {

                .wlc-title__main {
                    @include text.get-text-style(
                        ef.get-value($themeDefault, 'titleTextStyle', 375),
                        ef.get-value($themeDefault, 'titleColor')
                    );

                    @include mq.min(768) {
                        @include text.get-text-style(ef.get-value($themeDefault, 'titleTextStyle', 768), null);
                    }

                    @include mq.min(1630) {
                        @include text.get-text-style(ef.get-value($themeDefault, 'titleTextStyle', 1630), null);
                    }
                }
            }
        }

        &__thumbs {
            position: relative;
            z-index: 5;

            ::ng-deep {

                .swiper {
                    @include bm.get-mq-map('overflow', $themeDefault, 'swiperOverflow');
                }
            }
        }

        &__decor {
            position: absolute;

            &--1 {
                @include decorStyles(ef.get-value($themeDefault, 'decor1'));
            }

            &--2 {
                @include decorStyles(ef.get-value($themeDefault, 'decor2'));
            }

            ::ng-deep {

                svg,
                img {
                    width: 100%;
                    fill: ef.get-value($themeDefault, 'decorFill');
                }
            }
        }
    }
}

::ng-deep {

    .wlc-modal--youtube-modal.wlc-modal--theme-default {

        .wlc-modal {

            &__title {
                text-align: left;
            }

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'modalBodyPadding');
            }
        }
    }
}
