@import './utils/vars';
@import './utils/mixins';
@import './themes/theme-1';
@import './themes/theme-2';
@import './themes/universal';

.wlc-sections__header {
    @include stickyHeader();

    position: relative;
    z-index: 100;

    .container {

        .wlc-deadsimplechat {
            position: absolute;
        }
    }
}
