.wlc-svg-icon_favourite {
    stroke: getMapValue($wlcGameThumb, 'favouriteColor');
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill: transparent;

    &:hover,
    .wlc-active > & {
        fill: getMapValue($wlcGameThumb, 'favouriteColor');
    }
}

.wlc-game-thumb-buttons {

    .wlc-wrp {

        a {

            &.wlc-favourite {
                display: flex;
            }
        }
    }
}
