<div *ngIf="$params.theme == 'default'" class="{{$class}}__content container" (resized)="onResize($event)">
    <div class="{{$class}}__header" #header>
        <h2>{{game?.name[locale] || game?.name['en'] || ''}}</h2>
        <div class="{{$class}}__btn-left" *ngIf="gameParams.demo" data-wlc-element="wlc-game-play-for-real">
            <button wlc-button
                    text="Play for real"
                    (click)="playForReal()"
            ></button>
        </div>
        <div class="{{$class}}__btn-right">
            <div class="icon-btn">
                <div *ngIf="showDashboardBtn"
                     wlc-checkbox
                     [inlineParams]="dashboardBtn">
                </div>
            </div>
            <div *ngIf="isAuth" class="icon-btn wlc-icon--favourite"
                 [class.active]="game?.isFavourite"
                 wlc-icon iconName="favourite" (click)="toggleFavouriteBtn($event)" [wlcElement]="'button_favourite'">
            </div>
            <div class="icon-btn" wlc-icon iconName="fullscreen" (click)="openOnFullscreen($event)" [wlcElement]="'button_fullscreen'" ></div>
            <div class="icon-btn" wlc-icon iconName="close" (click)="onClose($event)" [wlcElement]="'button_close'"></div>
        </div>
    </div>
    <div class="{{$class}}__game-area" #wrp>
        <div wlc-loader class="{{$class}}__preloader" *ngIf="!isReady">
        </div>

        <div wlc-game-dashboard [opened]="openDashboard"></div>

        <ng-container *ngIf="isReady">
            <ng-container *ngIf="!useMobileIframe">
                <div *ngIf="isReady; else preloader"
                     wlc-dynamic-html
                     #gameContainer
                     class="{{$class}}__game-container"
                     [html]="gameHtml"
                     [canUseScriptTag]="true">
                </div>
            </ng-container>

            <ng-container *ngIf="useMobileIframe">
                <div #gameContainer class="{{$class}}__game-container"></div>
            </ng-container>
        </ng-container>
    </div>
    <div class="{{$class}}__footer" #footer></div>
</div>

<div *ngIf="$params.theme == 'fullscreen-game-frame'" class="{{$class}}__content" (resized)="onResize($event)">
    <div class="{{$class}}__game-area" #wrp>
        <div wlc-loader class="{{$class}}__preloader" *ngIf="!isReady">
        </div>
        <ng-container *ngIf="isReady">
            <ng-container *ngIf="!useMobileIframe">
                <div #gameContainer class="{{$class}}__game-container" wlc-dynamic-html [html]="gameHtml" *ngIf="isReady; else preloader"></div>
            </ng-container>

            <ng-container *ngIf="useMobileIframe">
                <div #gameContainer class="{{$class}}__game-container" id="egamings_container"></div>
            </ng-container>
        </ng-container>
    </div>
</div>


