<div *ngIf="$params.theme == 'default'" class="{{$class}}__content container" (resized)="onResize($event)">
    <div class="{{$class}}__header" #header data-wlc-element="block_game-play-title">
        <div class="{{$class}}__btn-left"
             *ngIf="dashboardSideView('left')">
            <div class="icon-btn">
                <div wlc-checkbox
                    [inlineParams]="dashboardBtn">
                </div>
            </div>
        </div>

        <div class="{{$class}}__btn-center" data-wlc-element="wlc-game-play-for-real">
            <ng-container [ngTemplateOutlet]="gameName"></ng-container>
            <button *ngIf="gameParams?.demo"
                    wlc-button
                    text="Play for real"
                    (click)="playForReal()">
            </button>
        </div>

        <div class="{{$class}}__btn-right">
            <div class="icon-btn">
                <div *ngIf="dashboardSideView('right')"
                     wlc-checkbox
                     [inlineParams]="dashboardBtn">
                </div>
            </div>
            <div *ngIf="isAuth && !isKiosk"
                 wlc-icon
                 class="icon-btn wlc-icon--favourite"
                 [class.active]="game?.isFavourite"
                 iconPath="/wlc/icons/favourite.svg"
                 wlcElement="button_favourite"
                 (click)="toggleFavouriteBtn()">
            </div>
            <div wlc-icon
                 class="icon-btn"
                 iconPath="/wlc/icons/fullscreen.svg"
                 wlcElement="button_fullscreen"
                 (click)="openOnFullscreen()">
            </div>
            <ng-container [ngTemplateOutlet]="buttonClose"></ng-container>
        </div>
    </div>

    <div class="{{$class}}__game-area" #wrp>
        <div *ngIf="!isReady"
             wlc-loader
             class="{{$class}}__preloader">
        </div>

        <div wlc-game-dashboard
            [opened]="openDashboard"
            [isMerchantWallet]="isMerchantWallet"
            [dashboardSide]="$params.dashboardSide"
        ></div>

        <div *ngIf="isMobile && enableGameHeader" class="{{$class}}__game-header">
            <ng-container [ngTemplateOutlet]="gameName"></ng-container>
            <ng-container [ngTemplateOutlet]="buttonClose"></ng-container>
        </div>

        <ng-container [ngTemplateOutlet]="gameWrapper"></ng-container>
    </div>
    <div class="{{$class}}__footer" #footer></div>
</div>

<div *ngIf="$params.theme == 'fullscreen-game-frame'" class="{{$class}}__content" (resized)="onResize($event)">
    <div class="{{$class}}__header" #header data-wlc-element="block_game-play-title">
        <div class="container">
            <div class="{{$class}}__merchant-balance" *ngIf="isReady && isAuth">
                <div wlc-merchant-wallet-preview [inlineParams]="headerMerchantWalletPreview"></div>
            </div>
        </div>
    </div>
    <div class="{{$class}}__game-area" #wrp>
        <div *ngIf="!isReady" wlc-loader class="{{$class}}__preloader" >
        </div>
        <ng-container [ngTemplateOutlet]="gameWrapper"></ng-container>
    </div>
</div>

<ng-template #gameWrapper>
    <ng-container *ngIf="isReady">
        <ng-container *ngIf="useMobileIframe; else gameWithHtml">
            <div #gameContainer
                 id="egamings_container"
                 class="{{$class}}__game-container {{$class}}__game-container-{{game.merchantName}}"
                 [class.mobile]="mobileGame">
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #gameWithHtml>
    <div *ngIf="isReady;"
         wlc-dynamic-html
         #gameContainer
         class="{{$class}}__game-container {{$class}}__game-container-{{game.merchantName}}"
         [class.mobile]="mobileGame"
         [html]="gameHtml"
         [canUseScriptTag]="true"
         (htmlRendered)="onGameHtmlRendered()">
    </div>
</ng-template>

<ng-template #gameName>
    <h2>{{gameTitle}}</h2>
</ng-template>

<ng-template #buttonClose>
    <div wlc-icon
         class="icon-btn"
         iconPath="/wlc/icons/close.svg"
         wlcElement="button_close"
         (click)="closeGame()">
    </div>
</ng-template>
