<div *ngIf="showMobileInstruction && !landscapeOrientation" class="{{$class}}__tutorial">
    <div class="{{$class}}__tutorial-left-decor" [@leftShift]="decorAnimationState"></div>
    <div class="{{$class}}__tutorial-item" [@fadeIn]="decorAnimationState">
        <div class="{{$class}}__tutorial-arrow">
            <div class="{{$class}}__tutorial-arrow-icon">
                <span wlc-icon iconName="game-dashboard/arrow-right"></span>
            </div>
            <div class="tutorial-text">
                {{'Tap this' | translate}} !
            </div>
        </div>
        <div class="{{$class}}__tutorial-img">
            <img src="/gstatic/wlc/game-dashboard/crown.png">
        </div>
        <div class="{{$class}}__tutorial-text">
            {{'You can access the dashboard on your mobile device!' | translate}}
        </div>
        <div wlc-checkbox
             class="{{$class}}__dont-show"
             [inlineParams]="dontShowAgainBtn">
        </div>
    </div>
    <div class="{{$class}}__tutorial-right-decor" [@rightShift]="decorAnimationState"></div>
</div>

<div *ngIf="!landscapeOrientation"
     class="{{$class}}__backdrop"
     #backdrop
     (click)="close()">
    <div class="{{$class}}__backdrop-label"
         #activeTabLabel
         [hidden]="!opened || hideBackdropLabel || !landscapeOrientation">
        {{activeTab?.label | translate}}
    </div>
</div>

<div *ngIf="!landscapeOrientation"
     class="{{$class}}__wrp"
     #container>
    <div class="{{$class}}__panch"
         #dragBtn
         [hidden]="!isMobile">
        <div class="{{$class}}__panch-content">
            <div *ngIf="this.showMobileInstruction && showPanchBtn"
                 class="{{$class}}__panch-btn"
                 [@fadeIn]="decorAnimationState"
                 (click)="onDashboardBtnClick()">
            </div>
            <div *ngIf="!this.showMobileInstruction && showPanchBtn"
                 class="{{$class}}__panch-btn"
                 (click)="onDashboardBtnClick()">
            </div>
        </div>
    </div>
    <div class="{{$class}}__container {{$class}}__container--{{activeTab?.id || 'default'}}" >
        <div class="{{$class}}__header">
            <ng-container *ngFor="let tab of tabs">
                <div *ngIf="checkShowTab(tab)"
                     class="{{$class}}__tab {{$class}}__tab--{{tab.id}}"
                     [ngClass]="{'active': isActive(tab)}"
                     (click)="openTab(tab)">
                    <div wlc-icon
                         class="{{$class}}__tab-icon"
                         [iconName]="tab.icon">
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="viewInited" class="{{$class}}__content {{$class}}__content--{{activeTab?.id || 'default'}}">
            <ng-container *ngFor="let tab of tabs">
                <ng-container *ngIf="!tab.updateOnOpen">
                    <div class="{{$class}}__content-item" [hidden]="activeTab?.id !== tab.id">
                        <div *ngIf="(!landscapeOrientation || !isMobile) && !tab.hideLabel" class="{{$class}}__title">
                            {{tab.label | translate}}
                        </div>
                        <ng-container [ngTemplateOutlet]="getTabContentTemplate(tab)">
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="tab.updateOnOpen">
                    <div *ngIf="activeTab?.id === tab.id" class="{{$class}}__content-item">
                        <div *ngIf="(!landscapeOrientation || !isMobile) && !tab.hideLabel" class="{{$class}}__title">
                            {{tab.label | translate}}
                        </div>
                        <ng-container [ngTemplateOutlet]="getTabContentTemplate(tab)">
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #profile>
    <ng-container *ngIf="isAuth && (!isMobile || !landscapeOrientation)">
        <div class="{{$class}}__profile-user">
            <div class="{{$class}}__user-info">
                <div wlc-user-name>
                </div>
                <div wlc-logout>
                </div>
            </div>
        </div>
        <div wlc-user-stats>
        </div>
        <div wlc-loyalty-progress>
        </div>
    </ng-container>
    <ng-container *ngIf="isAuth && isMobile && landscapeOrientation">
        <div class="{{$class}}__profile-user">
            <div class="{{$class}}__user-info">
                <div wlc-user-name>
                </div>
                <div wlc-logout>
                </div>
            </div>
            <div wlc-loyalty-progress>
            </div>
            <div class="{{$class}}__deposit-btn">
                <button wlc-button [inlineParams]="depositBtnParams"></button>
            </div>
        </div>
        <div class="{{$class}}__profile-user-stats">
            <div wlc-user-stats [useDepositBtn]="false">
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #bonuses>
    <div wlc-wrapper [inlineParams]="bonusesConfig"></div>
</ng-template>

<ng-template #tournaments>
    <div wlc-wrapper [inlineParams]="tournamentsConfig"></div>
</ng-template>

<ng-template #lastplayed>
    <ng-container *ngIf="lastPlayedGamesReady; else preloader">
        <ng-container *ngIf="lastPlayedGamesSlides.length > 0">

            <div *ngIf="isMobile && landscapeOrientation"
                 wlc-slider
                 class="{{$class}}__games-slider"
                 [slides]="lastPlayedGamesSlides"
                 [inlineParams]="lastPlayedSwiper">
            </div>

            <div *ngIf="!isMobile || !landscapeOrientation" wlc-scrollbar>
                <div *ngFor="let game of lastPlayedGames | slice: 0:lastPlayedGamesShowLimit" class="{{$class}}__game">
                    <div wlc-game-thumb [game]="game"></div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!lastPlayedGamesSlides.length">
            {{'Games not found' | translate}}
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #preloader>
    <div wlc-loader class="{{$class}}__preloader">
    </div>
</ng-template>
