
<p class="{{$class}}__title">{{title | translate}}</p>
<div class="{{$class}}__timer">
    <div wlc-timer
        [value]="lottery.dateEnd"
        [text]="$params.timerText"></div>
</div>
<p>{{'Ticket value:' | translate}}
    <span wlc-currency
        [value]="lottery.price"
        [currency]="lottery.currency"></span>
</p>

<p *ngIf="showTicketsCounter">
    {{'Number of tickets you will get:' | translate}}
    <span class="{{$class}}__tickets-counter">{{ticketsCount$ | async}}</span>
</p>

<div *ngIf="!hideButton" class="{{$class}}__controls">
    <button wlc-button
        data-wlc-element="lottery_cta_deposit"
        [inlineParams]="ctaBtnParams"
        (click)="btnClickHandler($event)"></button>
</div>
