@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'formMaxWidth': 290px,
    'formMargin': 0 auto,
    'formHeight': 100%,
    'formFlexDirection': column,

    'formWraperHeight': 100%,

    'gridColumns': 100px 1fr,
    'gridAlignContent': start,
    'gridGap': ef.size(4) ef.size(3),
    'templateAreas': 'email email' 'password password' 'currency promocode' 'terms terms' 'age age' 'btn btn' 'account account',

    'selectFontSize': 12px,
    'selectPadding': 7px ef.size(7) 7px 13px,

    'fieldMargin': 0 0 ef.size(4),
    'inputBackground': ef.get('fieldColors', 'inputBg'),
    'inputColor': ef.get('fieldColors', 'textColor'),
    'inputOpacity': 1,

    'btnMargin': (
        375: 0 auto ef.size(1),
    ),

    'checkboxLinkTransition': color 0.3s linear#{','} border-bottom-color 0.3s linear,
    'checkboxLinkColor': ef.get('mainColors', 'main'),
    'checkboxLinkBorder': 1px solid ef.get('mainColors', 'main'),
    'checkboxLinkColorHover': lighten(ef.get('mainColors', 'main'), 20%),
    'checkboxLinkBorderColorHover': lighten(ef.get('mainColors', 'main'), 20%),

    'checkboxPadding': ef.size(4) ef.size(2) 0 ef.size(2),
    'checkboxAgeMargin': -17px 0 0,
    'checkboxAgePadding': 0 ef.size(2) ef.size(4) ef.size(2),
), $customThemeDefault);

$customModSocials: () !default;
$modSocials: map-merge((
    'formTemplateAreas': 'networks networks' 'email email' 'password password' 'currency promocode' 'terms terms' 'age age' 'btn btn' 'account account',
), $customModSocials);
