.wlc-bonuses-history--theme-default {

    &:host {

        .wlc-loader {
            min-height: ef.get-value($themeDefault, 'sectionLoaderMinHeight');
        }

        .wlc-bonuses-history__filter {
            display: ef.get-value($themeDefault, 'filterDisplay');
            flex-wrap: wrap;
            gap: ef.get-value($themeDefault, 'filterGap');
            margin: ef.get-value($themeDefault, 'filterMargin');

            .wlc-select[wlc-select] {
                width: ef.get-value($themeDefault, 'filterWidth');
            }
        }

        .wlc-table--theme-default.wlc-table::ng-deep {

            .wlc-table__cell--first {
                grid-template-columns: ef.get-value($themeDefault, 'firstCellColumns');
                align-items: center;

                .wlc-table__cell-label {
                    display: none;
                }
            }
        }
    }

    @include mq.min(1024) {
        margin: ef.get-value($themeDefault, 'sectionMargin');
    }
}
