@use 'engine-styles/mixins/mediaqueries' as mq;
@use '../utils/vars' as v;
@use '../utils/mixins' as m;

.wlc-icon-list--type-payments:host {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    grid-gap: v.$merchantsGapDesktop;

    @include mq.max(900) {
        grid-template-columns: repeat(auto-fill, 100px);
        overflow-x: auto;
        justify-content: left;
        grid-gap: v.$merchantsGapDesktop / 2;
    }

    .wlc-icon-list {

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__image {
            width: 100%;
            height: auto;
            max-width: v.$merchantMaxWidth;
            max-height: v.$merchantMaxHeight;
            object-fit: contain;
        }
    }
}
