<div class="{{$class}}__image-container"
     data-wlc-element="youtube_thumb_block"
     (click)="openVideo()">
    <img class="{{$class}}__image"
         [src]="video.image"
         data-wlc-element="thumb-item-image">
    <div class="{{$class}}__duration"
        data-wlc-element="youtube_thumb_duration">
        {{video.duration}}
    </div>

    <div class="{{$class}}__hover">
        <div class="{{$class}}__title">
            {{video.title}}
        </div>
        <div class="{{$class}}__play">
            <span wlc-icon
                [iconPath]="$params.playBtnPath">
            </span>
        </div>
    </div>
</div>
