$selector: '.wlc-social-icons';

::ng-deep {

    .wlc-burger-panel--view-expanded,
    .wlc-burger-panel--left-mobile {
        --si-menu-flex-direction: initial;
        --si-menu-margin: #{ef.get-value($themeWolf, 'menuIconListMargin')};
    }

    .wlc-burger-panel--view-compact {
        --si-menu-flex-direction: column;
        --si-menu-margin: 0;
    }
}

.wlc-social-icons--theme-wolf:host {

    #{$selector}__list {
        @include bm.get-mq-map('display', $themeWolf, 'iconsListDisplay');
        @include bm.get-mq-map('grid-template-columns', $themeWolf, 'iconsListTemplateColumns');
        @include bm.get-mq-map('gap', $themeWolf, 'iconsListGap');
        @include bm.get-mq-map('justify-content', $themeWolf, 'iconsListJustifyContent');

        flex-wrap: wrap;

        &:empty {
            margin: 0;
        }
    }

    #{$selector}__link {
        --wlc-icon-width: #{ef.get-value($themeWolf, 'iconSize')};
        --wlc-icon-height: #{ef.get-value($themeWolf, 'iconSize')};

        @include bm.transition();

        width: ef.get-value($themeWolf, 'iconSize');
        height: ef.get-value($themeWolf, 'iconSize');
        color: ef.get-value($themeWolf, 'iconsListLinkBg');

        ::ng-deep {

            svg {

                path {
                    fill: ef.get-value($themeWolf, 'iconsListPathFill');
                }
            }
        }

        @include bm.hover {
            color: ef.get-value($themeWolf, 'iconsListLinkBgHover');
        }
    }

    &#{$selector}--theme-mod-menu {

        #{$selector}__list {
            display: flex;
            flex-direction: var(--si-menu-flex-direction);
            gap: ef.get-value($themeWolf, 'menuIconListGap');
            align-items: center;
            justify-content: space-between;
            margin: var(--si-menu-margin);
        }
    }
}
