<h2 *ngIf="$params.type !== 'default'"
    class="{{$class}}__title"
    wlc-title
    mainText="Providers"></h2>

<ng-container [ngSwitch]="$params.type">
    <ng-container *ngSwitchCase="'slider'" [ngTemplateOutlet]="slider"></ng-container>
    <ng-container *ngSwitchCase="'mobile'" [ngTemplateOutlet]="mobileList"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="providersList"></ng-container>
</ng-container>

<ng-template #slider>
    <ng-container *ngIf="ready; else loader">
        <ng-container *ngIf="items.length; else noSlides">
            <button class="{{$class}}__btn"
                wlc-button
                [attr.type]="'button'"
                text="{{$params.linkText | translate}}"
                (click)="showAllProviders()">
            </button>

            <div slot-container-start class="{{$class}}__slider-navigation">
                <button wlc-icon
                    class="wlc-swiper-button-prev"
                    iconPath="/wlc/icons/arrow.svg">
                </button>
                <button wlc-icon
                    class="wlc-swiper-button-next"
                    iconPath="/wlc/icons/arrow.svg">
                </button>
            </div>

            <div wlc-wrapper
                class="{{$class}}__slider"
                [inlineParams]="sliderConfig">
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #providersList>
    <div class="{{$class}}__wrapper">
        <ng-container *ngFor="let item of items"
            [ngTemplateOutlet]="iconItem"
            [ngTemplateOutletContext]="{item: item}"
        ></ng-container>
    </div>
</ng-template>

<ng-template #mobileList>
    <div class="{{$class}}__wrapper">
        <ng-container *ngFor="let item of items | slice:0:4"
                      [ngTemplateOutlet]="iconItem"
                      [ngTemplateOutletContext]="{item: item}"
        ></ng-container>
    </div>
    <button class="{{$class}}__btn"
            wlc-button
            [attr.type]="'button'"
            text="{{$params.linkText | translate}}"
            (click)="showAllProviders()">
    </button>
</ng-template>

<ng-template #iconItem let-item="item">
    <div class="{{$class}}__item {{item.modifier}}"
        [attr.data-wlc-element]="item.wlcElement"
        wlc-icon-list-item
        [icon]="item"
        [inlineParams]='{class: $class + "-item"}'
        ></div>
</ng-template>

<ng-template #loader>
    <div class="{{$class}}__loader" wlc-loader></div>
</ng-template>

<ng-template #noSlides>
    <div class="{{$class}}__empty">{{'No data' | translate}}</div>
</ng-template>
