<div *ngIf="promoCodeInputHidden; else inlineForm" class="{{$class}}__link"
    (click)="clickHandler()">
        <span class="{{$class}}__link-text">{{'Have a promo code?' | translate}}</span>
        <span class="{{$class}}__link-arrow">
            <span wlc-icon [iconPath]="'/wlc/icons/arrow-right.svg'"></span>
        </span>
</div>
<div *ngIf="isBonusApplied" class="{{$class}}__results">
    <div class="{{$class}}__bonus">
        <span class="{{$class}}__bonus-name">{{bonus.name}}</span>
        <span class="{{$class}}__bonus-info" (click)="showBonusModal()">
            <span wlc-icon [iconPath]="'/wlc/icons/info.svg'"></span>
        </span>
    </div>
    <div class="{{$class}}__clear">
        <button
            wlc-button
            [inlineParams]="$params.clearBtnParams"
            (click)="resetPromoCode()"></button>
    </div>
</div>

<ng-template #modalForm>
    <div class="{{$class}}__modal-form">
        <ng-container *ngTemplateOutlet="form"></ng-container>
    </div>
</ng-template>

<ng-template #inlineForm>
    <div class="{{$class}}__inline-form">
        <ng-container *ngTemplateOutlet="form"></ng-container>
    </div>
</ng-template>

<ng-template #form>
    <div wlc-input
        class="{{$class}}__input"
        [inlineParams]="inputParams"
        (keydown.enter)="processPromoCode()">
    </div>
    <button wlc-button
        [inlineParams]="submitBtnParams"
        (click)="processPromoCode()">
    </button>
</ng-template>
