@use 'engine-scss/functions' as ef;

$customThemeHomeWins: () !default;
$themeHomeWins: map-merge((
    'homeWinsGridTemplateColumns': (
        375: 1fr,
        720: repeat(2, 1fr),
    ),
    'homeWinsGap': (
        375: ef.size(4),
    ),
    'homeWinsSliderWrapMaxWidth': 100%,

    'tournamentGridTemplateColumns': (
        375: minmax(250px, 1fr),
        768: repeat(2, minmax(0, 1fr)),
        1200: calc((100% - 80px) / 5 * 2 + #{ef.size(4)}) minmax(250px, 1fr),
        1630: calc((100% - 100px) / 6 * 2 + #{ef.size(4)}) minmax(250px, 1fr),
    ),
    'tournamentGap': (
        375: ef.size(2),
        1200: ef.size(4),
    ),
    'tournamentSliderWrapMaxWidth': 100%,
    'tournamentSliderButtonDisplay': (
        375: flex,
    ),
    'tournamentSmartJustifyContent': (
        375: left,
        480: center,
    ),
    'tournamentBannerHeight': (
        375: 100%,
        720: 370px,
        1200: 100%,
    ),
    'tournamentBannerMinHeight': (
        375: 350px,
    ),
), $customThemeHomeWins);

$customThemeHomeWinsTransparent: () !default;
$themeHomeWinsTransparent: map-merge((
    'homeWinsGridTemplateColumns': (
        320: 1fr,
        720: repeat(2, 1fr),
    ),
    'homeWinsGap': (
        320: ef.size(4),
    ),
    'homeWinsMaxWidth': 1170px,
    'homeWinsMargin': 0 auto,
), $customThemeHomeWins);
