.wlc-link-block--theme-default:host {

    .wlc-link-block {

        &__container {
            text-align: center;
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleColor'));

            @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__subtitle {
            @include text.get-text-style(ef.get-value($themeDefault, 'subtitleFontStyle'), ef.get-value($themeDefault, 'subtitleColor'));

            margin: ef.get-value($themeDefault, 'subtitleMargin');

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;

            .wlc-btn {
                @include text.get-text-style(ef.get-value($themeDefault, 'linkFontStyle'), ef.get-value($themeDefault, 'linkColor'));
                @include bm.transition(all);

                @include bm.hover {
                    color: ef.get-value($themeDefault, 'linkColorHover');

                    ::ng-deep {

                        .wlc-icon {
                            color: ef.get-value($themeDefault, 'iconFillHover');
                        }
                    }
                }
            }

            ::ng-deep {

                .wlc-btn__text {
                    display: flex;
                    align-items: center;
                }

                .wlc-icon {
                    @include bm.transition(color);

                    display: inline-block;
                    margin: ef.get-value($themeDefault, 'iconMargin');
                    color: ef.get-value($themeDefault, 'iconFill');
                    line-height: 0;

                    svg {
                        transform: rotateZ(-90deg);
                        fill: currentColor;
                    }
                }
            }
        }
    }

    &.wlc-link-block--theme-mod-secondary {
        width: ef.get-value($themeDefault, 'baseWidth');
        height: ef.get-value($themeDefault, 'baseHeight');

        border-radius: ef.get-value($themeDefault, 'secondaryWrapperRadius');
        overflow: hidden;

        .wlc-link-block {

            &__container {
                @include bm.get-mq-map('min-height', $themeDefault, 'containerMinHeight');
                @include bm.get-mq-map('padding', $themeDefault, 'containerPadding');

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                height: ef.get-value($themeDefault, 'containerHeight');

                background: ef.get-value($themeDefault, 'containerBackground');
                box-shadow: ef.get-value($themeDefault, 'containerShadow');
            }
        }
    }
}
