@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/vars';
@import '../utils/mixins';

.wlc-link-block--theme-default:host {

    .wlc-link-block {

        &__container {
            text-align: center;
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontStyle'), ef.get-value($themeDefault, 'titleColor'));

            margin: ef.get-value($themeDefault, 'titleMargin');

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__subtitle {
            @include text.get-text-style(ef.get-value($themeDefault, 'subtitleFontStyle'), ef.get-value($themeDefault, 'subtitleColor'));

            margin: ef.get-value($themeDefault, 'subtitleMargin');

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__text {
            display: flex;
            align-items: center;
            justify-content: center;

            .wlc-btn {
                @include text.get-text-style(ef.get-value($themeDefault, 'linkFontStyle'), ef.get-value($themeDefault, 'linkColor'));



                &:hover {
                    color: ef.get-value($themeDefault, 'linkColorHover');
                    @include em.transition(color);

                    ::ng-deep {

                        .wlc-icon svg * {
                            fill: lighten(ef.get-value($themeDefault, 'iconFill'), 20%);
                            @include em.transition(fill);
                        }
                    }
                }
            }

            ::ng-deep {

                .wlc-btn__text {
                    display: flex;
                    align-items: center;
                }

                .wlc-icon {
                    display: inline-block;
                    line-height: 0;
                    margin: ef.get-value($themeDefault, 'iconMargin');

                    svg {
                        transform: rotateZ(-90deg);

                        * {
                            fill: ef.get-value($themeDefault, 'iconFill');
                        }
                    }
                }
            }
        }
    }

    &.wlc-link-block--theme-mod-secondary {
        width: ef.get-value($themeDefault, 'baseWidth');
        height: ef.get-value($themeDefault, 'baseHeight');

        .wlc-link-block {

            &__container {
                @include em.get-mq-map('padding', $themeDefault, 'containerPadding');

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: ef.get-value($themeDefault, 'containerHeight');

                background: ef.get-value($themeDefault, 'containerBackground');
                box-shadow: ef.get-value($themeDefault, 'containerShadow');

                border-radius: ef.get-value($themeDefault, 'containerRadius');
            }
        }
    }
}

