<div
    class="{{$class}}__wrapper"
    #wrapper
    wlc-observer-element
    [rootMargin]="$params.intersectingMargin"
    (isIntersecting)="intersectingHandler($event)">
    <ng-container *ngIf="showContent">
        <ng-container *ngFor="let item of items">
            <div *ngIf="!(item.isError && $params.hideImgOnError)"
                wlc-icon-list-item
                class="{{$class}}__item {{item.modifier}}"
                [attr.data-wlc-element]="item.wlcElement"
                [inlineParams]='{icon: item, class: $class + "-item"}'>
            </div>
        </ng-container>
    </ng-container>
</div>
