.wlc-transaction-preview--theme-default:host {
    @include bm.get-mq-map('justify-content', $themeDefault, 'justify');

    display: flex;
    width: 100%;

    > span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .wlc-transaction-preview {

        &__time {
            @include bm.get-mq-map('display', $themeDefault, 'timeDisplay');
            @include bm.get-mq-map('margin', $themeDefault, 'timeMargin');

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('display', $themeDefault, 'timeDisplayTypeFirst');
            }
        }

        &__amount {
            @include bm.get-mq-map('display', $themeDefault, 'amountDisplay');
            @include bm.get-mq-map('margin', $themeDefault, 'amountMargin');

            .wlc-sections__profile-content--theme-first & {
                @include bm.get-mq-map('display', $themeDefault, 'amountDisplayTypeFirst');
            }
        }
    }
}
