////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @group global
////
@use 'sass:selector';
@use 'sass:string';
@use './../functions' as ef;
@use './mediaqueries' as mq;
@use '../engine.variables' as ev;

@mixin themeMod($class, $theme, $mod) {

    @at-root #{selector.replace(&, '.#{$class}--theme-#{$theme}', '.#{$class}--theme-mod-#{$mod}')} {
        @content;
    }
}

/// Creates a selector which consists of theme modifier and modifier which was added manually by `addMidifiers` method.
///
/// @name manualMod
///
/// @param {string} $class - base class name of component
/// @param {string} $theme - name of component theme
/// @param {string} $mod - component modifier
@mixin manualMod($class, $theme, $mod) {

    @at-root #{selector.replace(&, '.#{$class}--theme-#{$theme}', '.#{$class}--theme-#{$theme}.#{$class}--#{$mod}')} {
        @content;
    }
}

@mixin betweenClass($class: '') {
    $stringSelector: string.unquote('#{&}');
    $index: string.index($stringSelector, ' ');
    $newSelector: string.insert($stringSelector, ' #{$class}', $index);

    @at-root #{selector.parse($newSelector)} {
        @content;
    }
}

/// TODO: delete
/// Left because it can be used on projects
/// @deprecated This mixin is deprecated. Use mixin hover.
@mixin desktopHover {
    @warn 'This mixin is deprecated. Use mixin hover.';

    @media (hover: hover) {

        &:hover {
            @content;
        }
    }
}

/// Сhecking for hover on the device.
/// Mixin was written due to a problem with "@media (hover: hover)" on android.
///
/// Tests:
/// "@media (pointer: coarse)" // work on: android, ios
/// "@media (pointer: fine)" // work on: desktop
/// "@media (hover: hover)" // work on: desktop, android
/// "@media (hover: none)" // work on: ios
///
/// @name hover
/// @param {type} $type [true] - true - if there is a hover, false - if not
@mixin hover($type: true) {

    @if ($type) {

        @media (pointer: fine) {

            &:hover {
                @content;
            }
        }
    } @else {

        @media (pointer: coarse) {
            @content;
        }
    }
}

@mixin transition($type: all, $speed: 0.3s, $mode: linear) {
    transition: $type $speed $mode;
}

/// Hides element but keeps it accessible
@mixin visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

/// Creates css which depends on values for media-queries.
/// If element hasn't map structure, the mixin returns common css - prop: value.
/// If element has map structure, the mixin returns css for every media-query in the list.
/// Uses `get-value` function to get value of property.
/// The map of values must have mobile-first approach.
/// Media-queries for different properties are packing during the compilation with postcss css-mqpacker plugin.
///
/// @name get-mq-map
///
/// @param {string} $prop - name of css property
/// @param {variable} $map - theme variable with map of values
/// @param {string} $name - name of value in the map

@mixin get-mq-map($prop, $map, $name, $mediaAlwaysOn: false) {
    @if (type-of(map-get($map, $name)) == map) {
        @each $bp, $el in map-get($map, $name) {
            @if $bp == 375 {
                @if $mediaAlwaysOn {
                    @include mq.min($bp) {
                        #{$prop}: ef.get-value($map, $name, $bp);
                    }
                } @else {
                    #{$prop}: ef.get-value($map, $name, $bp);
                }
            } @else {
                @include mq.min($bp) {
                    #{$prop}: ef.get-value($map, $name, $bp);
                }
            }
        }
    } @else {
        #{$prop}: ef.get-value($map, $name);
    }
}

@mixin init-indent($classes) {
    $key: '';

    @each $class in $classes {

        @if (type-of($class) == 'list') {

            #{nth($class, 1)} {
                @include get-mq-map('margin-bottom', ev.$size, nth($class, 2));
            }
        } @else {
            $key: if($key != '', $key + ', ' + $class, $class);
        }
    }

    @if ($key != '') {
        #{$key} {
            @include get-mq-map('margin-bottom', ev.$size, 'sectionsGap');
        }
    }
}

@mixin init-layout-gap($map) {

    @each $page, $classes in $map {
        @if ($page == 'all') {
            @include init-indent($classes);
        } @else {

            #{$page} {
                @include init-indent($classes);
            }
        }
    }
}

@mixin arrowIconAnimation() {

    @media (hover: hover) {

        &:hover {

            .wlc-icon {
                @include transition(transform, 0.3s);
                transform: rotateX(360deg) translateX(10px);
            }
        }
    }
}

/// Property allows to limit the content of the string
///
/// @name lineClamp
///
/// @param {number} $clamp - name of css property. By default 1

@mixin lineClamp($clamp: 1) {
    /* stylelint-disable */
    display: -webkit-box;
    line-clamp: $clamp;
    box-orient: vertical;
    -webkit-line-clamp: $clamp;
    -webkit-box-orient: vertical;
    /* stylelint-enable */
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@mixin aspect-ratio-padding($value) {
    @if ($value == 1 / 1) {
        padding-top: 100%;
    } @else if ($value == 4 / 3) {
        padding-top: 75%;
    } @else if ($value == 16 / 9) {
        padding-top: 56.25%;
    } @else if ($value == 3 / 2) {
        padding-top: 66.66%;
    } @else if ($value == 8 / 5) {
        padding-top: 62.5%;
    }
}

///Absolute centering

@mixin absoluteCentering {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0 auto;
    transform: translate(-50%, -50%);
}

// Fix layout shift problem for inline elements
@mixin inlineLayoutShiftFix($pseudoName: 'after') {

    &:#{$pseudoName} {
        content: '-';

        display: inline-block;
        width: 0;

        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}
