@use '../functions' as ef;
@use '../engine.variables' as ev;
@use './breakpoints' as bbp;

/// Alias for @media (min-width: ...). Always use it instead of traditional media-query
///
/// @name min
///
/// @param {number} $name - breakpoint value (see valid breakpoints values at grid-breakpoints map)

@mixin min($name) {
    $min: bbp.breakpoint-min($name, ev.$grid-breakpoints);
    @if $min {

        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

/// Alias for @media (max-width: ...). Always use it instead of traditional media-query
///
/// @name max
///
/// @param {number} $name - breakpoint value (see valid breakpoints values at grid-breakpoints map)

@mixin max($name) {
    $max: bbp.breakpoint-min($name, ev.$grid-breakpoints);
    @if $max {

        @media (max-width: ($max - 1)) {
            @content;
        }
    } @else {
        @warn 'no breackpoint: #{$name}';
    }
}

/// Alias for @media (min-width: ...) and (max-width: ...) Always use it instead of traditional media-query
///
/// @name between
///
/// @param {number} $lower - start breakpoint value (see valid breakpoints values at grid-breakpoints map)
/// @param {number} $upper - end breakpoint value (see valid breakpoints values at grid-breakpoints map)

@mixin between($lower, $upper) {
    $min: bbp.breakpoint-min($lower, ev.$grid-breakpoints);
    $max: bbp.breakpoint-max($upper, ev.$grid-breakpoints);

    @if $min != null and $max != null {

        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include min($lower, ev.$grid-breakpoints) {
            @content;
        }
    } @else if $min == null {
        @include max($upper, ev.$grid-breakpoints) {
            @content;
        }
    }
}
