@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;

@mixin homePromoWins($map, $name) {
    @include bm.get-mq-map('grid-template-columns', $map, $name + 'Columns');
    @include bm.get-mq-map('column-gap', $map, $name + 'ColGap');
    @include bm.get-mq-map('row-gap', $map, $name + 'RowGap');
    display: grid;

    > * {
        min-width: 0;
    }

    .wlc-winners-slider--theme-vertical[class] {

        .wlc-winners-slider__wrapper {
            max-width: ef.get-value($map, $name + 'SliderMaxWidth');
        }
    }
}

@mixin homePromoTournaments($map) {

    .wlc-tournament-list.wlc-tournament-list--theme-banner {

        .swiper-button-container {
            @include bm.get-mq-map('display', $map, 'tournamentSliderButtonDisplay');
        }
    }
}
