@use '../engine.variables' as ev;
@use '../functions' as ef;

/// Sets defined text-style from design system
///
/// @name get-text-style
///
/// @param {string} $style - name of text style (see implementation for look available text styles)
/// @param {color} $color [var(--mc-baseMain)] color of text. Use `null` to reset any color

@mixin get-text-style($style, $color: var(--mc-baseMain)) {
    color: $color;
    font-style: normal;

    @if ($style == 'SignText') {
        @include SignText;
    } @else if ($style == 'PlaceholderText') {
        @include PlaceholderText;
    } @else if ($style == 'PrimaryText') {
        @include PrimaryText;
    } @else if ($style == 'ButtonText') {
        @include ButtonText;
    } @else if ($style == 'ThirdTitle') {
        @include ThirdTitle;
    } @else if ($style == 'PromoTitle') {
        @include PromoTitle;
    } @else if ($style == 'ScreamTitle') {
        @include ScreamTitle;
    } @else if ($style == 'SignTextBold') {
        @include SignTextBold;
    } @else if ($style == 'PrimaryTextBold') {
        @include PrimaryTextBold;
    } @else if ($style == 'ThirdTitleBold') {
        @include ThirdTitleBold;
    } @else if ($style == 'QoteTextBold') {
        @include QoteTextBold;
    } @else if ($style == 'QoteTextBoldSmaller') {
        @include QoteTextBoldSmaller;
    } @else if ($style == 'QoteTextBoldTight') {
        @include QoteTextBoldTight;
    } @else if ($style == 'PlaceholderTextBold') {
        @include PlaceholderTextBold;
    }
}

// Base text styles

@mixin SignText {
    font-weight: ef.get('fontWeight', 'SignText');
    font-size: ef.get('font', 'SignText');
    line-height: 1.45;
}

@mixin PlaceholderText {
    font-weight: ef.get('fontWeight', 'PlaceholderText');
    font-size: ef.get('font', 'PlaceholderText');
    line-height: 1.45;
}

@mixin PrimaryText {
    font-weight: ef.get('fontWeight', 'PrimaryText');
    font-size: ef.get('font', 'PrimaryText');
    line-height: 1.45;
}

@mixin ButtonText {
    font-weight: ef.get('fontWeight', 'ButtonText');
    font-size: ef.get('font', 'ButtonText');
    line-height: 1.45;
}

@mixin ThirdTitle {
    font-weight: ef.get('fontWeight', 'ThirdTitle');
    font-size: ef.get('font', 'ThirdTitle');
    line-height: 1.45;
}

@mixin PromoTitle {
    font-weight: ef.get('fontWeight', 'PromoTitle');
    font-size: ef.get('font', 'PromoTitle');
    line-height: 1.45;
}

@mixin ScreamTitle {
    font-weight: ef.get('fontWeight', 'ScreamTitle');
    font-size: ef.get('font', 'ScreamTitle');
    line-height: 1.45;
}

// Bold weight styles

@mixin SignTextBold {
    font-weight: ef.get('fontWeight', 'SignTextBold');
    font-size: ef.get('font', 'SignTextBold');
    line-height: 1.45;
}

@mixin PrimaryTextBold {
    font-weight: ef.get('fontWeight', 'PrimaryTextBold');
    font-size: ef.get('font', 'PrimaryTextBold');
    line-height: 1.45;
}

@mixin ThirdTitleBold {
    font-weight: ef.get('fontWeight', 'ThirdTitleBold');
    font-size: ef.get('font', 'ThirdTitleBold');
    line-height: 1.45;
}

@mixin QoteTextBold {
    font-weight: ef.get('fontWeight', 'QoteTextBold');
    font-size: ef.get('font', 'QoteTextBold');
    line-height: 1.45;
}

@mixin QoteTextBoldSmaller {
    font-weight: ef.get('fontWeight', 'QoteTextBoldSmaller');
    font-size: ef.get('font', 'QoteTextBoldSmaller');
    line-height: 1.4;
}

@mixin QoteTextBoldTight {
    font-weight: ef.get('fontWeight', 'QoteTextBoldTight');
    font-size: ef.get('font', 'QoteTextBoldTight');
    line-height: 1.25;
}

@mixin PlaceholderTextBold {
    font-weight: ef.get('fontWeight', 'PlaceholderTextBold');
    font-size: ef.get('font', 'PlaceholderTextBold');
    line-height: 1.25;
}
