$customThemeDefault: () !default;
$themeDefault: map-merge((
    'errorColor': #f12e74,
    'successColor': #27bb37,

    'maxWidth': 765px,

    'labelFontWeight': bold,
    'labelColor': #231f20,
    'labelFontSize': 16px,

    'inputWidth': 70%,
    'inputMaxWidth': 450px,
    'inputBorder': 2px solid rgba(0, 0, 0, 0.04),
    'inputBorderFocusColor': rgba(0, 0, 0, 0.2),
    'inputBorderRadius': 10px,
    'inputPadding': 5px 35px 5px 20px,

    'iconWidth': 12px,
    'iconHeight': 12px,
    'successIconColor': #fff,
    'errorIconColor': #fff,
    'pendingIconColor': #fff,

    'errorsBgColor': #ffebf2,
    'errorsColor': #231f20,
    'errorsMinWidth': 300px,
    'errorsMaxWidth': 100%,
    'errorsBorderRadius': 10px,
    'errorsFontSize': 14px,
    'errorsPadding': 10px,
), $customThemeDefault);


$customThemePlaceholderShown: () !default;
$themePlaceholderShown: map-merge((
    'transition': 0.2s,
    'margin': 25px 0 0 0,

    'inputFontSize': 16px,
    'inputBorder': 2px solid rgba(0, 0, 0, 0.04),
    'inputBorderFocusColor': rgba(0, 0, 0, 0.2),
    'inputBorderRadius': 10px,
    'inputPadding': 10px 35px 10px 20px,

    'placeholderFontSize': 14px,
    'placeholderPadding': 0 20px,
    'placeholderShift': -40px,
), $customThemePlaceholderShown);


$customThemeVertical: () !default;
$themeVertical: map-merge((
    'maxWidth': 100%,

    'labelMargin': 0 0 7px 7px,
    'labelFontSize': 10px,
    'labelFontWeight': 500,
    'labelLineHeight': 1,
    'labelColor': #f12e74,

    'inputWidth': 100%,
    'inputHeight': 40px,
    'inputPadding': 5px 13px,
    'inputPaddingModify': 0 80px 0 0,
    'inputFontSize': 12px,
    'inputFontWeight': 400,
    'inputLineHeight': 1,
    'inputBackground': #ffffff,
    'inputColor': #000000,
    'inputBorder': solid 2px #f2f2f2,
    'inputBorderRadius': 10px,

    'iconEyeTop': 50%,
    'iconEyeRight': 5px,
    'iconEyeTransform': translateY(-50%),

    'controlIconRight': 50px,
    'controlErrorRight': 35px,

    'fieldIconSize': 30px,
    'fieldIconLineHeight': 0,
    'fieldIconSvgFillHover': #292929,
    'fieldIconSvgFillActive': #ff0000,

), $customThemeVertical);
