$customThemeDefault: () !default;
$themeDefault: map-merge((
    'maxWidth': ef.get('form', 'maxWidth'),

    'inputHeight': ef.get('form', 'inputHeight'),
    'inputMaxWidth': ef.get('form', 'inputMaxWidth'),
    'inputPlaceholderColor': ef.get('fieldColors', 'placeholderColor'),
    'inputBorder': ef.get('form', 'inputBorder'),
    'inputBorderFocusColor': ef.get('form', 'inputBorderFocusColor'),
    'inputBorderRadius': ef.get('form', 'inputBorderRadius'),
    'inputPadding': ef.get('form', 'inputPadding'),
    'inputDisabledBg': var(--fc-disableBg),
    'inputDisabledBorder': var(--fc-disableBorder),
    'inputDisabledColor': var(--fc-disabledPlaceholderColor),
    'inputDisabledOpacity': 1,

    'iconWidth': ef.get('form', 'iconWidth'),
    'iconHeight': ef.get('form', 'iconHeight'),
    'successIconColor': ef.get('form', 'successIconColor'),
    'errorIconColor': ef.get('form', 'errorIconColor'),
    'pendingIconColor': ef.get('form', 'pendingIconColor'),

    'errorsBgColor': ef.get('form', 'errorsBgColor'),
    'errorsColor': ef.get('form', 'errorsColor'),
    'errorsMinWidth': ef.get('form', 'errorsMinWidth'),
    'errorsMaxWidth': ef.get('form', 'errorsMaxWidth'),
    'errorsBorderRadius': ef.get('form', 'errorsBorderRadius'),
    'errorsBorderColor': ef.get('form', 'errorsBorderColor'),
    'errorsFontSize': ef.get('form', 'errorsFontSize'),
    'errorsPadding': ef.get('form', 'errorsPadding'),

    'limitsColor': var(--fc-labelColor),
), $customThemeDefault);


$customThemePlaceholderShown: () !default;
$themePlaceholderShown: map-merge((
    'transition': ef.get('time', 'main'),
    'margin': ef.size(4) 0 0 0,

    'inputFontSize': ef.get('form', 'inputFontSize'),
    'inputBorder': ef.get('form', 'inputBorder'),
    'inputBorderFocusColor': ef.get('form', 'inputBorderFocusColor'),
    'inputBorderRadius': ef.get('form', 'inputBorderRadius'),
    'inputPadding': ef.get('form', 'inputPadding'),

    'placeholderFontSize': ef.get('form', 'placeholderFontSize'),
    'placeholderPadding': ef.get('form', 'placeholderPadding'),
    'placeholderShift': ef.get('form', 'placeholderShift'),
), $customThemePlaceholderShown);


$customThemeVertical: () !default;
$themeVertical: map-merge((
    'inputWidth': 100%,
    'inputHeight': 40px,
    'inputPadding': ef.get('form', 'inputPadding'),
    'inputPaddingRight': 80px,
    'inputFontSize': ef.get('font', 'smaller'),
    'inputFontWeight': 400,
    'inputLineHeight': 1,
    'inputBackground': var(--fc-inputBg),
    'inputColor': var(--fc-textColor),
    'inputPlaceholderColor': var(--fc-placeholderColor),
    'inputBorder': ef.get('form', 'inputBorder'),
    'inputBorderRadius': ef.get('form', 'inputBorderRadius'),
    'inputPromoTextTransform': uppercase,

    'iconTextStyle': 'PrimaryText',
    'iconTextColor': var(--fc-iconColor),
    'iconEyeTop': 50%,
    'iconEyeRight': ef.size(2),
    'iconEyeTransform': translateY(-50%),

    'controlIconRight': ef.size(6),
    'controlErrorRight': ef.size(6),

    'fieldIconSize': 30px,
    'fieldIconLineHeight': 0,
    'fieldIconSvgFill': var(--fc-iconColor),
    'fieldIconSvgFillHover': var(--fc-textColor),
    'fieldIconSvgFillActive': var(--fc-errorBackground),

    'errorsColor': ef.get('form', 'errorsColor'),

), $customThemeVertical);
