<ng-container [ngSwitch]="$params.theme">
    <ng-container *ngSwitchCase="'info'" [ngTemplateOutlet]="info"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #default>
    <div *ngIf="amount; else noContent" class="{{$class}}-body">
        <ng-container [ngTemplateOutlet]="svg"></ng-container>
    </div>
</ng-template>

<ng-template #info>
    <div class="{{$class}}__body four-elements__body">
        <div class="{{$class}}__image">
            <div class="{{$class}}__sprite"
                wlc-animate-sprite
                [parentElementRef]="elementRef.nativeElement"
                [inlineParams]="$params.animateSprite"
            ></div>
        </div>
        <div class="{{$class}}__content">
            <p class="{{$class}}__top">
                <ng-container *ngIf="amount && currency.currency; else noData">
                    <span class="{{$class}}__currency">{{currency.currency}}</span>
                    <span class="{{$class}}__counter"
                        [countUp]="amount"
                        [options]="$params.countUpOptions"
                        [reanimateOnClick]="$params.animateOnClick"
                        data-wlc-element="total-jackpot_counter"
                        [ngClass]="{'loading': !amount}"
                    ></span>
                </ng-container>
            </p>
            <p class="{{$class}}__text">{{$params.text | translate}}</p>
        </div>
    </div>
</ng-template>

<ng-template #svg>
    <svg width="100%">
        <defs>
            <linearGradient id="jackpot-linear-gradient" gradientTransform="rotate(90)">
                <stop offset="-37%" stop-color="#FFDB1F"/>
                <stop offset="32%" stop-color="#F4CE4B"/>
                <stop offset="55%" stop-color="#FFE8BD"/>
                <stop offset="77%" stop-color="#FFD234"/>
                <stop offset="140%" stop-color="#955C28"/>
            </linearGradient>
        </defs>

        <text x="50%" y="50%" dy=".35em" text-anchor="middle" class="{{$class}}__text">
            <tspan class="{{$class}}__currency"
                   *ngIf="amount && currency?.position == 'left'"
                   data-wlc-element="total-jackpot_currency">
                {{currency.currency}}&#032;
            </tspan>
            <tspan class="{{$class}}__counter"
                   [countUp]="amount"
                   [options]="$params.countUpOptions"
                   [reanimateOnClick]="$params.animateOnClick"
                   data-wlc-element="total-jackpot_counter"
                   [ngClass]="{'loading': !amount}">
                --- --- ---
            </tspan>
            <tspan class="{{$class}}__currency"
                   *ngIf="amount && currency?.position == 'right'">
                {{currency.currency}}
            </tspan>
        </text>
    </svg>
</ng-template>

<ng-template #noContent>
     <div wlc-no-content [inlineParams]="noContentParams"></div>
</ng-template>

<ng-template #noData>
    {{'No data' | translate}}
</ng-template>
