<ng-template #default>
    <div class="{{$class}}__content"
         data-wlc-element="block_tournaments-main">
        <div class="{{$class}}__container"
             *ngIf="tournaments?.length && isReady; else: noData"
             data-wlc-element="block_tournament">
            <div
                wlc-tournament
                *ngFor="let tournament of tournaments"
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme">
            </div>
        </div>
        <!-- TODO: add pagination -->
    </div>
</ng-template>

<ng-template #dashboard>
    <div class="{{$class}}__inner" wlc-scrollbar>
        <div class="{{$class}}__header">{{'Tournaments' | translate}}</div>
        <ng-container *ngIf="readyTournamentsAndSlides; else: noData">
            <ng-container
                *ngIf="!isTournamentSelected && $params.type === 'swiper'">
                <div class="{{$class}}__slider"
                     wlc-slider
                     type="dashboard"
                     [slides]="slides"
                     [inlineParams]="sliderParams">
                </div>
                <div slot-container-end *ngIf="slides.length > 1" class="{{$class}}__nav">
                    <div class="container swiper-button-container">
                        <button class="wlc-swiper-button-prev" wlc-icon iconName="arrow"></button>
                        <button class="wlc-swiper-button-next" wlc-icon iconName="arrow"></button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="isTournamentSelected">
                <div class="{{$class}}__container-active"
                     data-wlc-element="block_tournament_active_dashboard">
                    <div
                        wlc-tournament
                        [tournament]="activeTournament"
                        type="dashboard"
                        theme="dashboard">
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #banner>
    <ng-container *ngIf="tournaments?.length && isReady; else: noData">
        <div class="{{$class}}__wrapper" *ngIf="slides.length">
            <ng-container *ngIf="$params.type === 'swiper'">
                <div class="{{$class}}__slider"
                     wlc-slider
                     type="banner"
                     [slides]="slides"
                     [inlineParams]="sliderParams"
                ></div>
            </ng-container>
        </div>

        <div slot-container-end *ngIf="slides.length > 1">
            <div class="container swiper-button-container">
                <button class="wlc-swiper-button-prev" wlc-icon iconName="arrow"></button>
                <button class="wlc-swiper-button-next" wlc-icon iconName="arrow"></button>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #available>
    <div
        *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of tournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
            >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #active>
    <div
        *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of tournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
            >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #detail>
    <div
        *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of tournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
            >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <div class="{{$class}}__nocontent" *ngIf="isReady">{{'No tournaments available' | translate}}</div>
    <div class="{{$class}}__nocontent" *ngIf="!isReady">
        <div wlc-loader></div>
    </div>
</ng-template>
<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="active" *ngSwitchCase="'active'"></ng-container>
    <ng-container [ngTemplateOutlet]="available" *ngSwitchCase="'available'"></ng-container>
    <ng-container [ngTemplateOutlet]="dashboard" *ngSwitchCase="'dashboard'"></ng-container>
    <ng-container [ngTemplateOutlet]="banner" *ngSwitchCase="'banner'"></ng-container>
    <ng-container [ngTemplateOutlet]="detail" *ngSwitchCase="'detail'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
