<ng-template #default>
    <div class="{{$class}}__content" data-wlc-element="block_tournaments-main">
        <div *ngIf="tournaments?.length && isReady; else: noData"
            class="{{$class}}__container"
            data-wlc-element="block_tournament">
            <div *ngFor="let tournament of tournaments"
                wlc-tournament
                [type]="$params.type"
                [theme]="$params.theme"
                [tournament]="tournament">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #dashboard>
    <div wlc-scrollbar class="{{$class}}__inner">
        <ng-container *ngIf="readyTournamentsAndSlides; else: noData">
            <ng-container *ngIf="!isTournamentSelected && $params.themeMod === 'swiper'">
                <div wlc-slider
                    class="{{$class}}__slider"
                    [slides]="slides"
                    [inlineParams]="sliderParams">
                </div>
                <div *ngIf="slides.length > 1" slot-container-end class="{{$class}}__nav">
                    <div wlc-slider-navigation
                        class="container swiper-button-container"
                        [classPrev]="'wlc-swiper-button-prev-' + navigationId"
                        [classNext]="'wlc-swiper-button-next-' + navigationId">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="isTournamentSelected">
                <div class="{{$class}}__container-active" data-wlc-element="block_tournament_active_dashboard">
                    <div wlc-tournament
                        type="dashboard"
                        [theme]="$params.theme"
                        [tournament]="activeTournaments[0]">
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #banner>
    <ng-container *ngIf="tournaments?.length && slides.length; else noDataBanner">
        <div *ngIf="$params.theme === 'wolf'"
            class="{{$class}}__tag">
            {{'Tournaments' | translate}}
        </div>
        <ng-container *ngIf="$params.themeMod === 'swiper'">
            <div wlc-slider
                class="{{$class}}__slider"
                [slides]="slides"
                [inlineParams]="sliderParams">
            </div>
            <div slot-container-end *ngIf="slides.length > 1">
                <div wlc-slider-navigation
                    class="container swiper-button-container"
                    [classPrev]="'wlc-swiper-button-prev-' + navigationId"
                    [classNext]="'wlc-swiper-button-next-' + navigationId">
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #available>
    <div *ngIf="paginatedTournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div *ngFor="let tournament of paginatedTournaments" class="{{$class}}__item">
            <div wlc-tournament
                [type]="$params.type"
                [theme]="$params.theme"
                [tournament]="tournament"
                [customMod]="$params.common?.customMod"
                [isAlternative]="$params.isAlternative">
            </div>
        </div>
    </div>
    <div wlc-pagination
        theme="default"
        [items]="tournaments"
        [settings]="$params.common?.pagination"
        (paginationOnChange)="paginationOnChange($event)">
    </div>
</ng-template>

<ng-template #active>
    <div *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div *ngFor="let tournament of tournaments" class="{{$class}}__item">
            <div wlc-tournament
                [type]="$params.type"
                [theme]="$params.theme"
                [tournament]="tournament"
                [customMod]="$params.common?.customMod">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #detail>
    <div *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div *ngFor="let tournament of tournaments" class="{{$class}}__item">
            <div wlc-tournament
                [type]="$params.type"
                [theme]="$params.theme"
                [tournament]="tournament"
                [customMod]="$params.common?.customMod">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <ng-container *ngIf="isReady; else loader">

        <ng-container *ngIf="!$params.inProfile; else noDataInProfile">

            <div *ngIf="$params.type !== 'default'; else noDataDefault" class="{{$class}}__nocontent">
                {{ 'No tournaments available' | translate}}
                <button *ngIf="$params.useNoTournamentsBtn"
                    wlc-button
                    class="{{$class}}__nocontent-btn"
                    [inlineParams]="$params.noTournamentsBtn">
                </button>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #noDataDefault>
    <div wlc-no-content [inlineParams]="noContentParams"></div>
</ng-template>

<ng-template #noDataInProfile>
    <div wlc-wrapper [inlineParams]="emptyInProfileConfig"></div>
</ng-template>

<ng-template #loader>
    <div class="{{$class}}__nocontent" *ngIf="!isReady">
        <div wlc-loader></div>
    </div>
</ng-template>

<ng-template #noDataBanner>
    <div class="{{$class}}-nocontent__tag">{{'Tournaments' | translate}}</div>
    <div wlc-no-content
         [inlineParams]="noContentParams"
         [loading]="!isReady">
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.type">
    <ng-container *ngSwitchCase="'active'" [ngTemplateOutlet]="active"></ng-container>
    <ng-container *ngSwitchCase="'available'" [ngTemplateOutlet]="available"></ng-container>
    <ng-container *ngSwitchCase="'dashboard'" [ngTemplateOutlet]="dashboard"></ng-container>
    <ng-container *ngSwitchCase="'banner'" [ngTemplateOutlet]="banner"></ng-container>
    <ng-container *ngSwitchCase="'detail'" [ngTemplateOutlet]="detail"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>
