<ng-template #default>
    <div class="{{$class}}__content"
         data-wlc-element="block_tournaments-main">
        <div class="{{$class}}__container"
             *ngIf="tournaments?.length && isReady; else: noData"
             data-wlc-element="block_tournament">
            <div
                wlc-tournament
                *ngFor="let tournament of tournaments"
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #dashboard>
    <div class="{{$class}}__inner" wlc-scrollbar>
        <div class="{{$class}}__header">{{'Tournaments' | translate}}</div>
        <ng-container *ngIf="readyTournamentsAndSlides; else: noData">
            <ng-container
                *ngIf="!isTournamentSelected && $params.type === 'swiper'">
                <div class="{{$class}}__slider"
                     wlc-wrapper
                     [inlineParams]="dashboardSliderConfig">
                </div>
                <div slot-container-end *ngIf="slides.length > 1" class="{{$class}}__nav">
                    <div class="container swiper-button-container">
                        <button wlc-icon
                                class="wlc-swiper-button-prev"
                                iconPath="/wlc/icons/arrow.svg">
                        </button>
                        <button wlc-icon
                                class="wlc-swiper-button-next"
                                iconPath="/wlc/icons/arrow.svg">
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="isTournamentSelected">
                <div class="{{$class}}__container-active"
                     data-wlc-element="block_tournament_active_dashboard">
                    <div
                        wlc-tournament
                        [tournament]="activeTournament"
                        type="dashboard"
                        theme="dashboard">
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #banner>
    <ng-container *ngIf="tournaments?.length && slides.length; else noDataBanner">
        <ng-container *ngIf="$params.type === 'swiper'">
            <div class="{{$class}}__slider"
                wlc-wrapper
                [inlineParams]="bannerSliderConfig"
            ></div>
        </ng-container>
    </ng-container>

    <div slot-container-end *ngIf="slides.length > 1">
        <div class="container swiper-button-container">
            <button wlc-icon
                    class="wlc-swiper-button-prev"
                    iconPath="/wlc/icons/arrow.svg">
            </button>
            <button wlc-icon
                    class="wlc-swiper-button-next"
                    iconPath="/wlc/icons/arrow.svg">
            </button>
        </div>
    </div>
</ng-template>

<ng-template #available>
    <div *ngIf="paginatedTournaments?.length && isReady; else: noData"
         class="{{$class}}__container"
         data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of paginatedTournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
                [isAlternative]="$params.isAlternative"
            >
            </div>
        </div>
    </div>
    <div wlc-pagination
         theme="default"
         [items]="tournaments"
         [settings]="$params.common?.pagination"
         (paginationOnChange)="paginationOnChange($event)">
    </div>
</ng-template>

<ng-template #active>
    <div
        *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of tournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
            >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #detail>
    <div
        *ngIf="tournaments?.length && isReady; else: noData"
        class="{{$class}}__container"
        data-wlc-element="block_tournament">
        <div
            *ngFor="let tournament of tournaments"
            class="{{$class}}__item">
            <div
                wlc-tournament
                [tournament]="tournament"
                [type]="$params.common?.thumbType"
                [theme]="$params.theme"
                [customMod]="$params.common?.customMod"
            >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noData>
    <ng-container *ngIf="isReady; esle loader">

        <ng-container *ngIf="!$params.inProfile; else noDataInProfile">

            <div class="{{$class}}__nocontent">
                {{ 'No tournaments available' | translate}}
                <button *ngIf="$params.useNoTournamentsBtn"
                        wlc-button
                        class="{{$class}}__nocontent-btn"
                        [inlineParams]="$params.noTournamentsBtn">
                </button>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #noDataInProfile>
    <div wlc-wrapper [inlineParams]="$params.emptyInProfileConfig"></div>
</ng-template>

<ng-template #loader>
    <div class="{{$class}}__nocontent" *ngIf="!isReady">
        <div wlc-loader></div>
    </div>
</ng-template>

<ng-template #noDataBanner>
    <div class="{{$class}}-nocontent__tag">{{'Tournaments' | translate}}</div>
    <div wlc-no-content
         [inlineParams]="noContentParams"
         [loading]="!isReady">
    </div>
</ng-template>

<ng-container [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="active" *ngSwitchCase="'active'"></ng-container>
    <ng-container [ngTemplateOutlet]="available" *ngSwitchCase="'available'"></ng-container>
    <ng-container [ngTemplateOutlet]="dashboard" *ngSwitchCase="'dashboard'"></ng-container>
    <ng-container [ngTemplateOutlet]="banner" *ngSwitchCase="'banner'"></ng-container>
    <ng-container [ngTemplateOutlet]="detail" *ngSwitchCase="'detail'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>
