.wlc-store-item--theme-default {

    .wlc-store-item {

        &__content {

            @include bm.get-mq-map('height', $themeDefault, 'height');
            @include bm.get-mq-map('min-width', $themeDefault, 'minWidth');
            @include bm.get-mq-map('max-width', $themeDefault, 'maxWidth');
            position: relative;
            margin-right: auto;
            margin-left: auto;

            border-radius: ef.get-value($themeDefault, 'radius');
            overflow: hidden;

            &.noauth {

                .wlc-store-item__wrapper {

                    @include bm.hover {

                        .wlc-store-item__price {
                            transform: translateY(0);
                        }

                        .wlc-store-item__name {
                            opacity: 1;
                        }

                        .wlc-store-item__info-block {

                            .wlc-store-item__price {

                                @include mq.min(1630) {
                                    transform: translateY(0);
                                }
                            }
                        }
                    }
                }
            }

            @include bm.hover(false) {
                @include bm.get-mq-map('height', $themeDefault, 'heightMobile');

                .wlc-store-item__wrapper {
                    @include bm.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGridMobile');
                }

                .wlc-store-item__btns {
                    position: static;
                    bottom: 10%;
                    transform: translateY(0);

                    opacity: 1;
                }

                &.noauth {
                    @include bm.get-mq-map('height', $themeDefault, 'height');

                    .wlc-store-item__wrapper {
                        @include bm.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGrid');
                    }
                }
            }
        }

        &__wrapper {
            @include bm.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGrid');
            position: relative;

            display: grid;

            width: 100%;
            height: 100%;

            background: ef.get-value($themeDefault, 'background');

            @include bm.hover {
                background: ef.get-value($themeDefault, 'backgroundHover');

                .wlc-store-item__btns {
                    transform: translateY(0);
                    opacity: 1;
                }

                .wlc-store-item__price {
                    transform: translateY(-100%);
                }

                .wlc-store-item__info-block {

                    .wlc-store-item__price {

                        @include mq.min(1630) {
                            transform: translateY(-130%);
                        }
                    }
                }

                .wlc-store-item__name {
                    opacity: 0;
                }
            }
        }

        &__image-block {
            position: relative;
        }

        &__image {
            @include bm.get-mq-map('padding', $themeDefault, 'imagePadding');
            position: relative;

            display: flex;
            align-items: ef.get-value($themeDefault, 'imageAlign');

            width: 100%;
            height: 100%;

            background-color: ef.get-value($themeDefault, 'imageBg');

            .wlc-bonus-image-other {
                position: absolute;
            }

            img {
                @include bm.get-mq-map('max-height', $themeDefault, 'maxImageHeight');
                @include bm.get-mq-map('max-width', $themeDefault, 'maxImageWidth');
                display: block;

                height: auto;
                margin: 0 auto;
            }
        }

        &__bonus-icon {

            @include bm.get-mq-map('width', $themeDefault, 'bonusIconSize');
            @include bm.get-mq-map('height', $themeDefault, 'bonusIconSize');
            @include bm.get-mq-map('margin', $themeDefault, 'bonusIconMargin');
            position: relative;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            .icon-sign {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
            }

            .icon-text {
                @include bm.get-mq-map('height', $themeDefault, 'bonusIconValueBlockHeight');
                @include text.get-text-style(ef.get-value($themeDefault, 'bonusIconTextStyle'), ef.get-value($themeDefault, 'bonusIconValueFontColor'));
                position: absolute;
                bottom: ef.get-value($themeDefault, 'bonusIconValueBlockPosB');
                left: ef.get-value($themeDefault, 'bonusIconValueBlockPosL');

                display: flex;
                align-items: center;
                justify-content: center;

                width: ef.get-value($themeDefault, 'bonusIconValueBlockWidth');
                margin: ef.get-value($themeDefault, 'bonusIconValueBlockMagin');
                color: ef.get-value($themeDefault, 'bonusIconValueFontColor');
                font-weight: ef.get-value($themeDefault, 'bonusIconValueFontW');
                line-height: 1;

                background-color: ef.get-value($themeDefault, 'bonusIconValueBg');

                border-radius: ef.get-value($themeDefault, 'bonusIconValueBlockBorderRds');

                &.wlc-small {
                    @include text.get-text-style(ef.get-value($themeDefault, 'bonusIconTextStyleSmall'), ef.get-value($themeDefault, 'bonusIconValueFontColor'));
                }

                &.wlc-smaller {
                    @include text.get-text-style(ef.get-value($themeDefault, 'bonusIconTextStyleSmaller'), ef.get-value($themeDefault, 'bonusIconValueFontColor'));
                }
            }
        }

        &__tag {
            @include text.get-text-style(ef.get-value($themeDefault, 'tagTextStyle'), ef.get-value($themeDefault, 'tagFontColor'));

            position: absolute;
            top: ef.get-value($themeDefault, 'tagPositionTop');
            left: 50%;
            z-index: 2;

            padding: ef.get-value($themeDefault, 'tagPadding');

            background: ef.get-value($themeDefault, 'tagBg');
            transform: translateX(-50%);
            border-radius: ef.get-value($themeDefault, 'tagRadius');
        }

        &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: ef.get-value($themeDefault, 'infoPadding');
        }

        &__name {
            @include bm.get-mq-map('width', $themeDefault, 'infoWidth');
            font-weight: bold;

            font-size: ef.get-value($themeDefault, 'nameFontSize');
            line-height: 1.4;
            text-align: center;

            transition: opacity ef.get-value($themeDefault, 'time') ease-in-out;

            @include mq.min(1630) {
                @include text.get-text-style('QoteTextBold', ef.get-value($themeDefault, 'nameFontColor'));
            }
        }

        &__price {

            @include bm.get-mq-map('width', $themeDefault, 'infoWidth');
            @include bm.get-mq-map('min-height', $themeDefault, 'priceMinHeight');
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            color: ef.get-value($themeDefault, 'priceFontColor');

            font-size: ef.get-value($themeDefault, 'priceFontSize');
            text-align: center;

            transition: transform ef.get-value($themeDefault, 'time') ease-in-out;

            .price-item {
                display: flex;
                align-items: center;
            }
        }

        &__more-icon {
            position: absolute;
            top: ef.get-value($themeDefault, 'moreIconPosTop');
            right: ef.get-value($themeDefault, 'moreIconPosRight');
            bottom: ef.get-value($themeDefault, 'moreIconPosBottom');
            left: ef.get-value($themeDefault, 'moreIconPosLeft');
            line-height: 1;

            .icon-btn {
                width: ef.get-value($themeDefault, 'moreIconSize');
                height: ef.get-value($themeDefault, 'moreIconSize');

                cursor: pointer;

                svg {

                    @include bm.transition(fill);
                    width: 100%;

                    fill: ef.get-value($themeDefault, 'moreIconColor');
                }
            }

            @include bm.hover {

                .icon-btn {

                    svg {
                        fill: ef.get-value($themeDefault, 'moreIconColorHover');
                    }
                }
            }
        }

        &__btns {
            position: absolute;
            bottom: 5%;

            display: flex;
            justify-content: center;

            width: 100%;
            transform: translateY(400%);

            opacity: 0;
            transition: all ef.get-value($themeDefault, 'time') ease-in-out;

            button {
                margin: ef.get-value($themeDefault, 'btnMargin');
            }

            @include mq.min(1630) {
                bottom: 8%;
            }
        }
    }
}
