@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-store-item--theme-default {

    .wlc-store-item {

        &__content {
            position: relative;

            @include em.get-mq-map('height', $themeDefault, 'height');
            @include em.get-mq-map('min-width', $themeDefault, 'minWidth');
            @include em.get-mq-map('max-width', $themeDefault, 'maxWidth');
            margin-left: auto;
            margin-right: auto;

            border-radius: ef.get-value($themeDefault, 'radius');
            overflow: hidden;

            @media (hover: none) {
                @include em.get-mq-map('height', $themeDefault, 'heightMobile');

                .wlc-store-item__wrapper {
                    @include em.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGridMobile');
                }

                .wlc-store-item__btns {
                    position: static;
                    bottom: 10%;

                    opacity: 1;
                    transform: translateY(0);
                }

                &.noauth {
                    @include em.get-mq-map('height', $themeDefault, 'height');

                    .wlc-store-item__wrapper {
                        @include em.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGrid');
                    }
                }
            }

            &.noauth {

                .wlc-store-item__wrapper {

                    @media (hover: hover) {

                        &:hover {

                            .wlc-store-item__price {
                                transform: translateY(0);
                            }

                            .wlc-store-item__name {
                                opacity: 1;
                            }

                            .wlc-store-item__info-block {

                                .wlc-store-item__price {

                                    @include mq.min(1630) {
                                        transform: translateY(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__wrapper {
            position: relative;

            display: grid;
            @include em.get-mq-map('grid-template-rows', $themeDefault, 'wrapperGrid');

            width: 100%;
            height: 100%;

            background: ef.get-value($themeDefault, 'background');

            transition: all ef.get-value($themeDefault, 'time') ease-in-out;

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundHover');

                    .wlc-store-item__btns {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .wlc-store-item__price {
                        transform: translateY(-100%);
                    }

                    .wlc-store-item__info-block {

                        .wlc-store-item__price {

                            @include mq.min(1630) {
                                transform: translateY(-130%);
                            }
                        }
                    }

                    .wlc-store-item__name {
                        opacity: 0;
                    }
                }
            }
        }

        &__image-block {
            position: relative;
        }

        &__image {
            position: relative;

            display: flex;
            align-items: ef.get-value($themeDefault, 'imageAlign');

            width: 100%;
            height: 100%;
            @include em.get-mq-map('padding', $themeDefault, 'imagePadding');

            background-color: ef.get-value($themeDefault, 'imageBg');

            .wlc-bonus-image-other {
                position: absolute;
            }

            img {
                display: block;

                height: auto;
                @include em.get-mq-map('max-height', $themeDefault, 'maxImageHeight');
                @include em.get-mq-map('max-width', $themeDefault, 'maxImageWidth');
                margin: 0 auto;
            }
        }

        &__bonus-icon {
            position: relative;

            @include em.get-mq-map('width', $themeDefault, 'bonusIconSize');
            @include em.get-mq-map('height', $themeDefault, 'bonusIconSize');
            @include em.get-mq-map('margin', $themeDefault, 'bonusIconMargin');

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            .icon-sign {
                position: absolute;
                left: 0;
                top: 0;

                width: 100%;
            }

            .icon-text {
                position: absolute;
                left: ef.get-value($themeDefault, 'bonusIconValueBlockPosL');
                bottom: ef.get-value($themeDefault, 'bonusIconValueBlockPosB');

                display: flex;
                align-items: center;
                justify-content: center;

                width: ef.get-value($themeDefault, 'bonusIconValueBlockWidth');
                @include em.get-mq-map('height', $themeDefault, 'bonusIconValueBlockHeight');
                margin: ef.get-value($themeDefault, 'bonusIconValueBlockMagin');

                @include em.get-mq-map('font-size', $themeDefault, 'bonusIconValueFontSize');
                font-weight: ef.get-value($themeDefault, 'bonusIconValueFontW');
                line-height: 1;

                background-color: ef.get-value($themeDefault, 'bonusIconValueBg');
                color: ef.get-value($themeDefault, 'bonusIconValueFontColor');

                border-radius: ef.get-value($themeDefault, 'bonusIconValueBlockBorderRds');

                &.wlc-small {
                    font-size: ef.get-value($themeDefault, 'bonusIconValueFontSizeSmall');
                }

                &.wlc-smaller {
                    font-size: ef.get-value($themeDefault, 'bonusIconValueFontSizeSmaller');
                }
            }
        }

        &__tag {
            position: absolute;
            z-index: 2;
            top: ef.get-value($themeDefault, 'tagPositionTop');
            left: 50%;

            @include em.get-mq-map('padding', $themeDefault, 'tagPadding');

            @include text.get-text-style('SignText', ef.get-value($themeDefault, 'tagFontColor'));

            background-color: ef.get-value($themeDefault, 'tagBg');

            border-radius: ef.get-value($themeDefault, 'tagRadius');

            transform: translateX(-50%);
        }

        &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: ef.get-value($themeDefault, 'infoPadding');
        }

        &__name {
            @include em.get-mq-map('width', $themeDefault, 'infoWidth');

            font-size: ef.get-value($themeDefault, 'nameFontSize');
            font-weight: bold;
            line-height: 1.4;
            text-align: center;

            transition: opacity ef.get-value($themeDefault, 'time') ease-in-out;

            @include mq.min(1630) {
                @include text.get-text-style('QoteTextBold', ef.get-value($themeDefault, 'nameFontColor'));
            }
        }

        &__price {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include em.get-mq-map('width', $themeDefault, 'infoWidth');
            @include em.get-mq-map('min-height', $themeDefault, 'priceMinHeight');

            font-size: ef.get-value($themeDefault, 'priceFontSize');
            text-align: center;

            color: ef.get-value($themeDefault, 'priceFontColor');

            transition: transform ef.get-value($themeDefault, 'time') ease-in-out;
            will-change: transform;

            .price-item {
                display: flex;
                align-items: center;
            }
        }

        &__more-icon {
            position: absolute;
            top: ef.get-value($themeDefault, 'moreIconPosTop');
            bottom: ef.get-value($themeDefault, 'moreIconPosBottom');
            left: ef.get-value($themeDefault, 'moreIconPosLeft');
            right: ef.get-value($themeDefault, 'moreIconPosRight');

            .icon-btn {
                width: ef.get-value($themeDefault, 'moreIconSize');
                height: ef.get-value($themeDefault, 'moreIconSize');

                cursor: pointer;

                svg {
                    width: 100%;

                    fill: ef.get-value($themeDefault, 'moreIconColor');

                    @include em.transition(fill);
                }
            }

            @media (hover: hover) {

                &:hover {

                    .icon-btn {

                        svg {
                            fill: ef.get-value($themeDefault, 'moreIconColorHover');
                        }
                    }
                }
            }
        }

        &__btns {
            position: absolute;
            bottom: 5%;

            display: flex;
            justify-content: center;

            width: 100%;

            opacity: 0;
            transition: all ef.get-value($themeDefault, 'time') ease-in-out;
            transform: translateY(400%);

            @include mq.min(1630) {
                bottom: 8%;
            }

            button {
                margin: ef.get-value($themeDefault, 'btnMargin');
            }
        }
    }
}
