.wlc-store-item--theme-first {

    .wlc-store-item {

        &__content {

            @include bm.get-mq-map('min-width', $themeFirst, 'minWidth');
            @include bm.get-mq-map('max-width', $themeFirst, 'maxWidth');
            position: relative;
            margin-right: auto;
            margin-left: auto;

            border-radius: ef.get-value($themeFirst, 'radius');
            overflow: hidden;
            transform: scale3d(1, 1, 1);

            @include bm.hover {

                .wlc-store-item__wrapper {
                    background: ef.get-value($themeFirst, 'backgroundHover');
                }

                .wlc-store-item__bottom {
                    @include bm.get-mq-map('transform', $themeFirst, 'bottomHoverTranslate');
                    background: ef.get-value($themeFirst, 'backgroundHover');
                }

                .wlc-store-item__image {
                    @include bm.get-mq-map('transform', $themeFirst, 'imageHoverTranslate');

                    &:before {
                        @include bm.get-mq-map('transform', $themeFirst, 'imageHoverGradientTranslate');
                    }
                }

                .wlc-store-item__btns {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @include bm.hover(false) {

                .wlc-store-item__btns {
                    position: static;
                    transform: translateY(0);

                    opacity: 1;

                    button {
                        margin: ef.get-value($themeFirst, 'btnMarginMobile');
                    }
                }

                .wlc-store-item__bottom {
                    @include bm.get-mq-map('height', $themeFirst, 'infoHeightMobile');
                }
            }
        }

        &__wrapper {
            position: relative;

            background: ef.get-value($themeFirst, 'background');

            transition: background ef.get-value($themeFirst, 'time') ease-in-out;
        }

        &__image-block {
            position: relative;
        }

        &__image {
            @include bm.get-mq-map('padding', $themeFirst, 'imagePadding');
            position: relative;
            width: 100%;

            background-color: ef.get-value($themeFirst, 'imageBg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
            transform: translateY(0);

            transition: all ef.get-value($themeFirst, 'time') ease-in-out;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;

                width: 100%;

                background: ef.get-value($themeFirst, 'imageGradient');
                transform: translateY(0);

                transition: all ef.get-value($themeFirst, 'time') ease-in-out;
            }
        }

        &__tag {
            @include bm.get-mq-map('padding', $themeFirst, 'tagPadding');
            @include text.get-text-style(ef.get-value($themeFirst, 'tagTextStyle'), ef.get-value($themeFirst, 'tagFontColor'));

            position: absolute;
            top: ef.get-value($themeFirst, 'tagPositionTop');
            left: 50%;
            z-index: 2;

            background-color: ef.get-value($themeFirst, 'tagBg');
            transform: translateX(-50%);
            border-radius: ef.get-value($themeFirst, 'tagRadius');
        }

        &__bottom {
            @include bm.get-mq-map('height', $themeFirst, 'infoHeight');

            background: ef.get-value($themeFirst, 'background');
            transform: translateY(0);

            transition: transform ef.get-value($themeFirst, 'time') ease-in-out;
        }

        &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;
            padding: ef.get-value($themeFirst, 'infoPadding');
        }

        &__name {
            @include bm.get-mq-map('width', $themeFirst, 'infoWidth');
            font-weight: bold;

            font-size: ef.get-value($themeFirst, 'nameFontSize');
            line-height: 1.4;
            text-align: center;

            transition: opacity ef.get-value($themeFirst, 'time') ease-in-out;

            @include mq.min(1630) {
                @include text.get-text-style('QoteTextBold', ef.get-value($themeFirst, 'nameFontColor'));
            }
        }

        &__price {

            @include bm.get-mq-map('width', $themeFirst, 'infoWidth');
            @include bm.get-mq-map('min-height', $themeFirst, 'priceMinHeight');
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            color: ef.get-value($themeFirst, 'priceFontColor');

            font-size: ef.get-value($themeFirst, 'priceFontSize');
            text-align: center;

            transition: transform ef.get-value($themeFirst, 'time') ease-in-out;

            .price-item {
                @include bm.get-mq-map('margin', $themeFirst, 'priceMargin');
                display: flex;
                align-items: center;
            }
        }

        &__more-icon {
            position: absolute;
            top: ef.get-value($themeFirst, 'moreIconPosTop');
            right: ef.get-value($themeFirst, 'moreIconPosRight');
            bottom: ef.get-value($themeFirst, 'moreIconPosBottom');
            left: ef.get-value($themeFirst, 'moreIconPosLeft');
            padding: ef.get-value($themeFirst, 'moreIconPadding');

            line-height: 0;

            .icon-btn {
                width: ef.get-value($themeFirst, 'moreIconSize');
                height: ef.get-value($themeFirst, 'moreIconSize');

                cursor: pointer;

                svg {

                    @include bm.transition(fill);
                    width: 100%;

                    fill: ef.get-value($themeFirst, 'moreIconColor');
                }
            }

            @include bm.hover {

                .icon-btn {

                    svg {
                        fill: ef.get-value($themeFirst, 'moreIconColorHover');
                    }
                }
            }
        }

        &__btns {
            position: absolute;
            bottom: 10%;

            display: flex;
            justify-content: center;

            width: 100%;
            transform: translateY(400%);

            opacity: 0;
            transition: all ef.get-value($themeFirst, 'time') ease-in-out;

            button {
                margin: ef.get-value($themeFirst, 'btnMargin');
            }
        }
    }
}
