<div class="{{$class}}__content" [attr.data-wlc-element]="wlcElement">
    <picture *ngIf="slimSrc" class="{{$class}}__picture">
        <ng-container *ngIf="slimSources">
            <source *ngFor="let source of slimSources"
                    [attr.media]="source.media"
                    [attr.sizes]="source.sizes"
                    [srcset]="source.srcset"
                    type="{{source.type}}">
        </ng-container>
        <img [wlc-fallback]="getFallback(slimSrc)"
             [src]="slimSrc"
             fetchpriority="high"
             loading="eager">
    </picture>

    <picture class="{{$class}}__picture">
        <ng-container *ngIf="sources">
            <source *ngFor="let source of sources"
                    [attr.media]="source.media"
                    [attr.sizes]="source.sizes"
                    [srcset]="source.srcset"
                    type="{{source.type}}">
        </ng-container>
        <img [wlc-fallback]="getFallback(src)"
             [src]="src"
             (imageError)="onError()"
             (load)="onLoad()"
             loading="lazy">
    </picture>
</div>
