.form-control {

    &__icon,
    .wlc-tooltip[class] {
        position: absolute;
        top: ef.get-value($themeDefault, 'iconPosTop');
        right: ef.get-value($themeDefault, 'iconPosRight');
        transform: translateY(-55%);

        .wlc-textarea & {
            top: ef.get-value($themeDefault, 'textareaIconPosTop');
        }
    }

    .wlc-icon {
        display: none;
    }

    .ng-valid.ng-touched ~ & {

        .wlc-icon {
            display: block;
            color: ef.get-value($themeDefault, 'successColor');

            svg {
                fill: currentColor;
            }
        }
    }
}
