.wlc-post {

    &__download {
        @include text.get-text-style(ef.get-value($themeDefault, 'downloadBtnStyle'), ef.get-value($themeDefault, 'downloadBtnColor'));

        display: flex;
        align-items: center;
        margin-bottom: ef.size(2);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: ef.get-value($themeDefault, 'downloadBtnColorHover');
        }

        &-text {
            margin-top: ef.size(1);
            margin-right: ef.size(3);
        }
    }
}

.wlc-post--theme-default:host {
    @include text.get-text-style(ef.get-value($themeDefault, 'contentTextStyle'), ef.get-value($themeDefault, 'contentColor'));

    ::ng-deep {

        .wlc-title[class] {
            @include bm.get-mq-map('text-align', $themeDefault, 'titleTextAlign');

            margin: ef.get-value($themeDefault, 'titleMargin');

            .wlc-title__main {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleTextStyle'), ef.get-value($themeDefault, 'titleColor'));
            }
        }

        table {
            width: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include text.get-text-style(ef.get-value($themeDefault, 'contentHeadingTextStyle'), ef.get-value($themeDefault, 'contentHeaderColor'));
            margin: ef.get-value($themeDefault, 'contentHeaderMargin');

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
