// we need @use here, otherwise we get errors in project build
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@import './vars';

@mixin buttonBase {
    @include bm.get-mq-map('height', $themeDefault, 'heightDefault');
    display: grid;
    grid-column-gap: ef.get-value($themeDefault, 'gap');
    grid-template-columns: auto 1fr auto;
    align-items: ef.get-value($themeDefault, 'alignItems');
    justify-content: ef.get-value($themeDefault, 'justifyContent');

    min-width: ef.get-value($themeDefault, 'minWidth');
    padding: ef.get-value($themeDefault, 'padding');
    background: ef.get-value($themeDefault, 'background');
    box-shadow: ef.get-value($themeDefault, 'shadow');
    border: ef.get-value($themeDefault, 'borderDefault');
    border-radius: ef.get-value($themeDefault, 'borderRadiusDefault');

    &:disabled {
        opacity: ef.get-value($themeDefault, 'disabledOpacity');
        pointer-events: none;
    }

    .wlc-btn__text {
        @include text.get-text-style('ButtonText', ef.get-value($themeDefault, 'fontColor'));
        grid-column: 2;
        text-transform: ef.get-value($themeDefault, 'textTransform');
    }

    @include bm.hover {
        background: ef.get-value($themeDefault, 'backgroundHover');
        box-shadow: ef.get-value($themeDefault, 'shadowHover');
        border: ef.get-value($themeDefault, 'borderDefaultHover');
    }
}

@mixin buttonTransparency {
    background: ef.get-value($themeDefault, 'backgroundSecondary');
    border: ef.get-value($themeDefault, 'borderSecondary');
    box-shadow: ef.get-value($themeDefault, 'shadowSecondary');

    .wlc-btn__text {
        @include bm.transition(color);
        color: ef.get-value($themeDefault, 'fontColorSecondary');
    }

    @include bm.hover {
        background: ef.get-value($themeDefault, 'backgroundSecondaryHover');
        border: ef.get-value($themeDefault, 'borderSecondaryHover');
        box-shadow: ef.get-value($themeDefault, 'shadowHoverSecondary');

        .wlc-btn__text {
            color: ef.get-value($themeDefault, 'fontColorActiveSecondary');
        }
    }
}

@mixin buttonReadMore {
    background: unset;
    border-color: ef.get-value($themeDefault, 'borderColorRead');
    @include bm.hover {
        background: unset;
        border-color: ef.get-value($themeDefault, 'borderColorRead');
    }
}

@mixin textOnly {
    min-width: unset;
    background: unset;
    border-color: transparent;

    .wlc-btn__text {
        @include bm.transition(color);
        color: ef.get-value($themeDefault, 'fontColorSecondary');
    }

    @include bm.hover {
        border-color: ef.get-value($themeDefault, 'borderColorRead');
    }
}

@mixin secondaryActiveState() {

    @include secondaryActiveStateStyles;

    @include bm.hover {
        @include secondaryActiveStateStyles;
    }
}

@mixin secondaryActiveStateStyles() {
    background: ef.get-value($themeDefault, 'background');
    box-shadow: ef.get-value($themeDefault, 'shadow');
    border: ef.get-value($themeDefault, 'borderDefault');

    .wlc-btn__text {
        color: ef.get-value($themeDefault, 'fontColor');
    }
}
