@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@import './vars';

@mixin buttonBase {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: ef.get-value($themeDefault, 'gap');
    align-items: center;

    min-width: ef.get-value($themeDefault, 'minWidth');
    height: ef.get-value($themeDefault, 'heightDefault');
    border: ef.get-value($themeDefault, 'borderDefault');
    border-radius: ef.get-value($themeDefault, 'borderRadiusDefault');
    padding: ef.get-value($themeDefault, 'padding');
    background: ef.get-value($themeDefault, 'background');

    color: ef.get('buttonSettings', 'fontColor');
    font: {
        size: ef.get-value($themeDefault, 'fontSize');
        weight: ef.get-value($themeDefault, 'fontWeight');
    }

    .wlc-btn__text {
        grid-column: 2;
        text-transform: ef.get-value($themeDefault, 'textTransform');
    }

    @media (hover: hover) {

        &:hover {
            color: ef.get-value($themeDefault, 'colorDefaultHover');
            border: ef.get-value($themeDefault, 'borderDefaultHover');
            background: ef.get-value($themeDefault, 'backgroundHover');
            @include bm.transition;
        }
    }
}

@mixin buttonTransparency {
    background: transparent;
    border: ef.get-value($themeDefault, 'borderSecondary');
    color: ef.get-value($themeDefault, 'fontColorSecondary');

    @media (hover: hover) {

        &:hover {
            background: transparentize(ef.get-value($themeDefault, 'backgroundHover'), 0.7);
            color: ef.get-value($themeDefault, 'fontColorActiveSecondary');
        }
    }
}
