@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@import './vars';

@mixin buttonBase {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: $gap;
    align-items: center;

    min-width: $minWidth;
    height: $heightDefault;
    border: $borderDefault;
    background: $background;

    color: $fontColor;
    font-size: $fontSize;

    padding: $padding;

    .wlc-btn__text {
        grid-column: 2;
        text-transform: $textTransform;
    }

    @media (hover: hover) {

        &:hover {
            color: $colorDefaultHover;
            border: $borderDefaultHover;
            background: $backgroundHover;
            @include bm.transition;
        }
    }
}

@mixin buttonTransparency {
    background: transparent;
    border: $borderSecondary;
    color: $fontColorSecondary;

    @media (hover: hover) {

        &:hover {
            background: transparentize($backgroundHover, 0.7);
            color: $fontColorActiveSecondary;
        }
    }
}
