// we need @use here, otherwise we get errors in project build
@use 'engine-scss/engine.variables' as ev;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;

$customThemeDefault: () !default;
$themeDefault: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeDefault);

$customThemeCircled: () !default;
$themeCircled: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeCircled);

$customThemeBorderless: () !default;
$borderlessTheme: map-merge(map-merge(ev.$buttonSettings, (
    'underlineExtraSize': 0.25ch,
    'transition': ef.get('time', 'less') ease,
)), $customThemeBorderless);

$customThemeResolve: () !default;
$themeResolve: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeResolve);

$customThemeSkew: () !default;
$themeSkew: map-merge(map-merge(ev.$buttonSettings, (
    'transform': ef.get('buttonSettings', 'transformSkew'),
    'transformText': ef.get('buttonSettings', 'transformSkewText'),
)), $customThemeSkew);

$customThemeIcon: () !default;
$themeIcon: map-merge(map-merge(ev.$buttonSettings, (
    'display': block,
    'size': 23px,
    'fill': var(--mc-baseMain),
)), $customThemeIcon);

$customThemeIconWolf: () !default;
$themeIconWolf: map-merge(map-merge(ev.$buttonSettings, (
    'display': block,
    'size': 20px,
    'color': var(--mc-baseThird, var(--mc-baseMain)),
)), $customThemeIconWolf);

$customThemeWolf: () !default;
$themeWolf: map-merge((
    'btnColor': var(--mc-secondary),
    'btnColorHover': var(--mc-baseThird, var(--mc-baseMain)),
    'fontSize': 'CaptionTextBold',
), $customThemeWolf);

$customThemeWolfRounded: () !default;
$themeWolfRounded: map-merge((
    'bg': var(--mc-bg500-o6),
    'bgHover': var(--mc-bg500),
    'radius': 60px,
    'fontStyle': 'CaptionText',
    'fontColor': var(--mc-baseMain),
    'fontColorHover': var(--mc-baseThird),
    'minWidth': 70px,
    'padding': 3px ef.size(3),
    'counterMargin': 0 0 0 5px,
), $customThemeWolfRounded);

$customThemeTextOnly: () !default;
$themeTextOnly: map-merge((
    'margin': 0,
    'minWidth': unset,
    'background': unset,
    'borderColor': transparent,
    'boxShadow': none,
    'fontColor': var(--mc-main),

    'fontColorHover': var(--mc-main-l20),
    'backgroundHover': unset,
    'borderColorHover': transparent,
    'boxShadowHover': none,
), $customThemeTextOnly);
