@use 'engine-scss/engine.variables' as ev;
@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeDefault);

$customThemeCircled: () !default;
$themeCircled: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeCircled);

$customThemeBorderless: () !default;
$borderlessTheme: map-merge(map-merge(ev.$buttonSettings, (
    'underlineExtraSize': 0.25ch,
    'transition': ef.get('time', 'less') ease,
)), $customThemeBorderless);

$customThemeResolve: () !default;
$themeResolve: map-merge(map-merge(ev.$buttonSettings, (
)), $customThemeResolve);
