.wlc-tournament-leaderboard--theme-default:host {
    @include bm.get-mq-map('--lb-list-gap', $themeDefault, 'listGap');
    @include bm.get-mq-map('--lb-wrapper-padding', $themeDefault, 'wrapperPadding');
    @include bm.get-mq-map('--lb-item-margin', $themeDefault, 'itemMargin');
    @include bm.get-mq-map('--lb-item-columns', $themeDefault, 'itemGridTemplate');
    @include bm.get-mq-map('--lb-cell-padding-first', $themeDefault, 'firstCellPadding');
    @include bm.get-mq-map('--lb-cell-padding-last', $themeDefault, 'lastCellPadding');

    .wlc-tournament-leaderboard {

        &__container {
            max-width: var(--lb-container-max-width, #{ef.get-value($themeDefault, 'containerMaxWidth')});
            margin: var(--lb-container-margin, #{ef.get-value($themeDefault, 'containerMargin')});
        }

        &__wrapper {
            padding: var(--lb-wrapper-padding);
            background: var(--lb-wrapper-bg, #{ef.get-value($themeDefault, 'wrapperBg')});
            border-radius: var(--lb-wrapper-radius, #{ef.get-value($themeDefault, 'wrapperRadius')});
            overflow: hidden;
        }

        &__descr {
            @include bm.get-mq-map('margin', $themeDefault, 'descrMargin');
            @include text.get-text-style(
                ef.get-value($themeDefault, 'descrStyle'),
                ef.get-value($themeDefault, 'descrColor')
            );

            text-align: ef.get-value($themeDefault, 'descrAlign');
        }

        &__list {
            display: grid;
            grid-template-columns: ef.get-value($themeDefault, 'gridTemplateColumns');
            gap: var(--lb-list-gap);
            padding: var(--lb-list-padding);
            background: var(--lb-list-bg, #{ef.get-value($themeDefault, 'listBg')});
            border-radius: ef.get-value($themeDefault, 'listRadius');

            &--top {
                overflow: hidden;
                background: var(--lb-list-bg-top);
            }
        }

        &__item {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'itemTextStyle'),
                ef.get-value($themeDefault, 'itemColor')
            );
            display: grid;
            grid-template-columns: var(--lb-item-columns);
            min-height: var(--lb-item-min-height, #{ef.get-value($themeDefault, 'itemHeight')});
            margin: var(--lb-item-margin);
            background: ef.get-value($themeDefault, 'rowBg');
            border-radius: var(--lb-item-radius, #{ef.get-value($themeDefault, 'itemRadius')});

            .item-user {
                @include bm.get-mq-map('padding', $themeDefault, 'itemPaddingUser');

                display: flex;

                .wlc-icon::ng-deep {
                    width: ef.get-value($themeDefault, 'iconSize');
                    margin: ef.get-value($themeDefault, 'iconMargin');
                    color: ef.get-value($themeDefault, 'iconUserColor');

                    svg {
                        width: 100%;
                        fill: ef.get-value($themeDefault, 'iconBaseColor');
                    }
                }
            }

            &--top {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'itemTextStyleTop'),
                    ef.get-value($themeDefault, 'itemColorTop')
                );

                .wlc-icon::ng-deep {
                    @include bm.get-mq-map('width', $themeDefault, 'topIconWidth');
                    @include bm.get-mq-map('margin', $themeDefault, 'topIconMargin');

                    display: block;
                    color: ef.get-value($themeDefault, 'topIconColor');

                    svg {
                        width: 100%;
                        fill: ef.get-value($themeDefault, 'topIconBaseColor');
                    }
                }
            }

            &--head {
                @include bm.get-mq-map('padding', $themeDefault, 'headPadding');
                @include bm.get-mq-map('background', $themeDefault, 'headBg');

                .wlc-tournament-leaderboard__cell {
                    display: block;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    text-align: var(--lb-head-align, left);
                    text-overflow: ellipsis;

                    &:first-child {
                        padding: var(--lb-head-padding-first, var(--lb-cell-padding-first));
                        text-align: var(--lb-head-align-first, left);
                    }

                    &:last-child {
                        padding: var(--lb-head-padding-last, var(--lb-cell-padding-last));
                        text-align: var(--lb-head-align-last, right);
                    }
                }
            }

            &.user[class] {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'itemUserCellTextStyle'),
                    ef.get-value($themeDefault, 'itemUserCellTextColor')
                );

                .wlc-icon::ng-deep {
                    color: ef.get-value($themeDefault, 'topIconUserColor');
                }

                &,
                &:nth-child(odd) {
                    background: ef.get-value($themeDefault, 'rowUserBg');
                }
            }
        }

        &__cell {
            display: flex;
            align-items: center;
            height: ef.get-value($themeDefault, 'rowHeight');

            &:first-child {
                padding: var(--lb-cell-padding-first);
            }

            &:last-child {
                justify-content: flex-end;
                padding: var(--lb-cell-padding-last);
            }

            &-place {
                min-width: ef.get-value($themeDefault, 'cellPlaceMinWidth');
            }
        }

        &__btn {
            margin: ef.get-value($themeDefault, 'btnMargin');
        }

        &__nocontent {
            padding: ef.get-value($themeDefault, 'noContentPadding');

            font-size: ef.get-value($themeDefault, 'fontSize');
            text-align: center;

            background: var(--lb-nocontent-bg, #{ef.get-value($themeDefault, 'nocontentBg')});
            border-radius: ef.get-value($themeDefault, 'listRadius');
        }
    }

    .delimetr {
        @include bm.get-mq-map('width', $themeDefault, 'delimetrwidth');
        @include bm.get-mq-map('height', $themeDefault, 'delimetrheight');
        @include bm.get-mq-map('background', $themeDefault, 'delimetrBg');
        margin: ef.get-value($themeDefault, 'delimetrMargin');
    }

    .user-login {
        @include bm.lineClamp(1);
        overflow: hidden;
        max-width: ef.get-value($themeDefault, 'loginMaxWidth');
    }

    .win-text {
        margin: ef.get-value($themeDefault, 'winTextMargin');
    }

    &.wlc-tournament-leaderboard--theme-mod-compact {
        --lb-item-columns: #{ef.get-value($themeModCompact, 'itemColumns')};
        --lb-item-margin: #{ef.get-value($themeModCompact, 'itemMargin')};
        --lb-cell-padding-first: #{ef.get-value($themeModCompact, 'cellPaddingFirst')};
        --lb-cell-padding-last: #{ef.get-value($themeModCompact, 'cellPaddingLast')};
        --lb-head-padding-first: #{ef.get-value($themeModCompact, 'headPaddingFirst')};
    }

    &.wlc-tournament-leaderboard--theme-mod-history {
        --lb-container-max-width: #{ef.get-value($themeDefaultModHistory, 'containerMaxWidth')};
        --lb-container-margin: #{ef.get-value($themeDefaultModHistory, 'containerMargin')};

        --lb-wrapper-padding: #{ef.get-value($themeDefaultModHistory, 'wrapperPadding')};
        --lb-wrapper-bg: #{ef.get-value($themeDefaultModHistory, 'wrapperBg')};

        --lb-list-gap: #{ef.get-value($themeDefaultModHistory, 'listGap')};
        --lb-list-padding: #{ef.get-value($themeDefaultModHistory, 'listPadding')};
        --lb-list-bg: #{ef.get-value($themeDefaultModHistory, 'listBg')};
        --lb-list-bg-top: #{ef.get-value($themeDefaultModHistory, 'listBgTop')};

        --lb-head-padding-first: #{ef.get-value($themeDefaultModHistory, 'headPaddingFirst')};
        --lb-head-padding-last: #{ef.get-value($themeDefaultModHistory, 'headPaddingLast')};
        --lb-head-align: #{ef.get-value($themeDefaultModHistory, 'headAlign')};
        --lb-head-align-first: #{ef.get-value($themeDefaultModHistory, 'headAlignFirst')};
        --lb-head-align-last: #{ef.get-value($themeDefaultModHistory, 'headAlignLast')};

        --lb-item-margin: 0;
        --lb-item-min-height: #{ef.get-value($themeDefaultModHistory, 'rowHeight')};
        --lb-item-radius: #{ef.get-value($themeDefaultModHistory, 'itemRadius')};

        --lb-cell-padding-first: #{ef.get-value($themeDefaultModHistory, 'firstCellPadding')};
        --lb-cell-padding-last: #{ef.get-value($themeDefaultModHistory, 'lastCellPadding')};
        --lb-nocontent-bg: #{ef.get-value($themeDefaultModHistory, 'nocontentBg')};

        @include bm.get-mq-map('--lb-item-columns', $themeDefaultModHistory, 'rowGrid');

        .wlc-tournament-leaderboard {

            &__cell {
                justify-content: ef.get-value($themeDefaultModHistory, 'cellAlign');
            }

            &__item {
                background: ef.get-value($themeDefaultModHistory, 'rowPrimaryBg');

                &:nth-child(odd) {
                    background: ef.get-value($themeDefaultModHistory, 'rowSecondaryBg');
                }
            }

            &__list--top {

                .user {
                    border-radius: ef.get-value($themeDefaultModHistory, 'userTopRadius');
                }
            }
        }
    }
}
