<div class="{{$class}}-description">
    <p class="{{$class}}-description__title">{{'What is' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> ?
    </p>
    <p class="{{$class}}-description__text"><ng-container [ngTemplateOutlet]="refEXP"></ng-container> {{'- experience point. Experience points allow players to move up from level to level getting more effective bet-to-points conversion ratio.' | translate}}</p>
</div>

<div class="{{$class}}-description">
    <p class="{{$class}}-description__title">{{'What is' | translate}}<ng-container [ngTemplateOutlet]="refLP"></ng-container> ?
    </p>
    <p class="{{$class}}-description__text"><ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'- internal currency for casino' | translate}} {{siteName}}.</p>
</div>

<div class="{{$class}}-description">
    <p class="{{$class}}-description__title">{{'How can you get' | translate}} <ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'and' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> ?
    </p>
    <p class="{{$class}}-description__text">{{'You can get' | translate}} <ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'and' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> {{'for every bet in our casino.' | translate}} <ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'and' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> {{'depend upon your bet amount.' | translate}}
    </p>
</div>

<div class="{{$class}}-description">
    <p class="{{$class}}-description__title">{{'How can you use' | translate}} <ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'and' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> ?
    </p>
    <p class="{{$class}}-description__text">{{'You can spend' | translate}} <ng-container [ngTemplateOutlet]="refLP"></ng-container> {{'and' | translate}} <ng-container [ngTemplateOutlet]="refEXP"></ng-container> {{'on bonuses and items in our store, or use them for participation in special tournaments.' | translate}}
    </p>
</div>

<ng-template #refLP>
    <span wlc-currency
          currency="LP"
          [showIconOnly]="true"></span>
</ng-template>
<ng-template #refEXP>
    <span wlc-currency
          currency="EXP"
          [showIconOnly]="true"></span>
</ng-template>
