@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;

.wlc-transaction-history {

    @include mq.min(1024) {
        margin-top: ef.get('size', 'smaller');
    }

    &-filter {
        display: none;

        @include mq.min(1024) {
            display: grid;
            align-items: flex-end;
            grid: {
                auto-flow: column;
                auto-columns: max-content;
                gap: ef.get('size', 'smally');
            };
            margin-top: ef.get('size', 'smaller');
        }
    }
}
