<div class="{{$class}}__body four-elements__body">
    <div class="{{$class}}__image">
        <ng-container *ngIf="$params.useSprite; else image">
            <div class="{{$class}}__sprite"
                wlc-animate-sprite
                [parentElementRef]="elementRef.nativeElement"
                [inlineParams]="$params.animateSprite"
            ></div>
        </ng-container>
    </div>
    <div class="{{$class}}__content">
        <div class="{{$class}}__top"
            wlc-rating
            [inlineParams]="$params.rating"
        ></div>
        <p class="{{$class}}__text">{{$params.text | translate}}</p>
    </div>
</div>

<ng-template #image>
    <div class="{{$class}}__icon-wrap">
        <img class="{{$class}}__icon"
            loading="lazy"
            [src]="$params.iconUrl">
    </div>
</ng-template>
