@use 'engine-scss/functions' as ef;

$customBonusesThemeDefault: () !default;
$bonusesThemeDefault: map-merge((
    'gridColumns': minmax(0, max-content) 1fr,
    'gridRows': auto,
    'gridArea': 'title counter' 'bonuses-list bonuses-list',
    'gridGap': (
        375: ef.size(1),
    ),
), $customBonusesThemeDefault);

$customBonusesThemeFirst: () !default;
$bonusesThemeFirst: map-merge((
    'promocodeMarginBottom': (
        320: ef.get('size', 'smaller'),
        560: 0,
    )
), $customBonusesThemeFirst);
