$customThemeDefault: () !default;
$themeDefault: map-merge((
    'containerRadius': ef.get('radius', 'biger'),
    'containerBackground': (
        320: var(--mc-bg500),
        900: var(--mc-bg700),
    ),
    'containerGridTemplateColumns': (
        320: minmax(290px, 1fr),
        900: minmax(320px, 1fr) 340px,
    ),
    'containerGridTemplateAreas': (
        320: 'info' 'board' 'btns',
        900: 'info board' 'btns board',
    ),

    'containerHeight': (
        320: auto,
        900: 400px,
    ),

    'infoPadding': (
        320: ef.size(4) ef.size(4) ef.size(6),
        640: ef.size(6) ef.size(8) ef.size(8),
    ),
    'infoPElementDisplay': (
        320: block,
        900: none,
    ),

    'boardPadding': (
        320: ef.size(4) ef.size(6),
        640: ef.size(4) ef.size(8),
    ),
    'boardPElementDisplay': (
        320: none,
        900: block,
    ),
    'boardTitleFontStyle': (
        375: 'ThirdTitleBold',
        900: 'QoteTextBold',
    ),
    'boardTitleColor': ef.get('mainColors', 'baseMain'),

    'pseudoElementPosition': 0,
    'pseudoElementZIndex': 2,
    'pseudoElementGradient': linear-gradient(
        0deg, rgba(ef.get('mainColors', 'baseContrast'), 0.8) 0%, rgba(ef.get('mainColors', 'baseContrast'), 0.2) 60%
    ), // locked colors

    'innerBlockZIndex': 3,

    'imageDisplayDesk': (
        320: none,
        900: block,
    ),
    'imageDisplay': (
        320: block,
        900: none,
    ),
    'imageSize': 100%,
    'imagePosition': 0,
    'imageZIndex': 1,
    'imageObjectFit': cover,
    'imageObjectPosition': center,

    'textAlign': (
        320: center,
        900: left,
    ),

    'tagFontStyle': ef.get('tagConfig', 'textStyle'),
    'tagColor': ef.get('tagConfig', 'color'),
    'tagColorActive': ef.get('tagConfig', 'colorActive'),
    'tagMargin': 0 0 ef.size(4),
    'tagTextPadding': ef.get('tagConfig', 'padding'),
    'tagTextBorderRadius': ef.get('tagConfig', 'radius'),
    'tagTextBackground': ef.get('tagConfig', 'bg'),
    'tagActiveBackground': ef.get('tagConfig', 'bgActive'),

    'titleFontStyle': 'ThirdTitleBold',
    'titleFontStyleDesk': 'PromoTitle',
    'titleColor': (
        320: ef.get('mainColors', 'baseMain'),
        900: var(--mc-baseMain),
    ),
    'titleMargin': 0 0 ef.size(6),
    'prizepoolMargin': 0 0 ef.size(2),
    'prizepoolTextStyle': 'ThirdTitleBold',
    'prizepoolColor': var(--mc-baseMain),
    'prizepoolTextAlign': center,

    'descriptionFontStyle': 'PrimaryText',
    'descriptionFontStyleDesk': 'ThirdTitle',
    'descriptionColor': (
        320: ef.get('mainColors', 'baseMain'),
        900: var(--mc-baseMain),
    ),
    'descriptionMargin': 0 0 ef.size(8),

    'btnsWrapMargin': auto 0 0 0,
    'btnsWrapAlign': (
        320: center,
        900: flex-start,
    ),
    'btnsWrapPadding': (
        320: 0 ef.size(6) ef.size(4),
        640: 0 ef.size(8) ef.size(8),
    ),
    'btnsWrapperFlexDirection': (
        320: column,
        480: row,
    ),
    'btnsMinWidthColumn': (
        320: 150px,
        480: 110px,
    ),
    'btnsGridColumnGap': 0,
    'btnsPadding': ef.size(1) ef.size(3),
    'firstBtnColumnMargin': (
        320: 0 0 ef.size(4) 0,
        480: 0 ef.size(4) 0 0,
    ),
    'prizesMargin': ef.size(2) auto,

    'loaderZIndex': 10,
    'loaderPosition': 0,
    'loaderBachround': var(--mc-disabled-o6),
    'loaderRadius': ef.get('radius', 'biger'),

    'loaderBeforePosition': 0,
    'loaderBeforeSize': 60px,
    'loaderBeforeBackground': var(--mc-bg-o8),
    'loaderBeforeRadius': 50%,

    'loaderAfterSize': 50px,
    'loaderAfterBorderColor': var(--mc-main),
    'loaderAfterRadius': 50%,
    'loaderAfterAnimation': spin 1s infinite linear,

    'linkBlockColor': var(--mc-main),
    'linkBlockColorHover': ef.get('mainColors', 'baseMain'), // Locked color

    'boardTitleMargin': 0 0 ef.size(2) 0,

    'modMobileGridTemplateColumns': (
        320: minmax(260px, 1fr),
        900: minmax(320px, 1fr) 340px,
    ),
    'modMobileBoardPadding': (
        320: ef.size(4) ef.size(3),
        640: ef.size(4) ef.size(8),
    ),
), $customThemeDefault);

$customModAvailable: () !default;
$modAvailable: map-merge((
    'containerGridTemplateColumns': (
        320: minmax(290px, 1fr),
        900: minmax(320px, 1fr) 290px,
        1200: minmax(320px, 1fr) 340px,
    ),
    'containerBackground': (
        320: var(--mc-bg500),
    ),

    'containerHeight': (
        320: auto,
        900: 380px,
        1630: 400px,
    ),

    'infoPadding': (
        320: ef.size(4),
        640: ef.size(3),
        1024: ef.size(4) ef.size(3),
        1630: ef.size(6) ef.size(8) ef.size(8),
    ),

    'btnsWrapPadding': (
        320: 0 ef.size(6) ef.size(4),
        640: 0 ef.size(3) ef.size(3),
        1024: 0 ef.size(3) ef.size(4),
        1630: 0 ef.size(8) ef.size(8),
    ),

    'boardPadding': (
        320:ef.size(2) ef.size(4) ef.size(4),
        640: ef.size(3),
        1630: ef.size(4) ef.size(8),
    ),
), $customModAvailable);
