.wlc-pseudo-link:host {
    text-align: right;
}

.wlc-pseudo-link__btn {
    outline: none;
    border: none;
    display: inline-block;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    color: #f12e74;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 40px;

    &:hover {
        text-decoration: none;
    }
}
