@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;

@import '../utils/vars';

.app-profile-main-info-state .wlc-sections {

    &__profile-content--theme-default {

        > .container {
            display: grid;
            grid: {
                template-columns: 1fr;
            }
        }

        .wlc-profile-form {
            display: grid;
            grid: {
                template-columns: 1fr;
                gap: ef.get-value($mainInfoThemeDefault, 'sectionRowGap', 1024);
            }

            @include mq.min(1024) {
                grid: {
                    template-columns: 1.8fr 1fr;
                    gap: ef.get-value($mainInfoThemeDefault, 'sectionRowGap', 1024) ef.get-value($mainInfoThemeDefault, 'sectionColGap', 1024);
                }
            }

            &__add {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: ef.get-value($mainInfoThemeDefault, 'addBlockGap');
                height: fit-content;
            }

            &__block {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'addItemGap');

                @include mq.min(640) {
                    grid-template-columns: 1fr 1fr;
                }

                @include mq.min(1024) {
                    grid-template-columns: 1fr;
                }
            }

            &__title {
                font: {
                    size: ef.get-value($mainInfoThemeDefault, 'addTitleFontSize');
                    weight: ef.get-value($mainInfoThemeDefault, 'addTitleFontWeight');
                }
                color: ef.get-value($mainInfoThemeDefault, 'addTitleColor');

                @include mq.min(640) {
                    grid-column-start: span 2;
                }

                @include mq.min(1024) {
                    grid-column-start: auto;
                }
            }

            &__item {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-gap: ef.get('size', 'smally');
                grid-template-areas:
                    'title switcher'
                    'link .';

                &-title {
                    grid-area: title;

                    &-main {
                        margin: ef.get-value($mainInfoThemeDefault, 'addItemTitleMainMargin');
                        font-size: ef.get-value($mainInfoThemeDefault, 'addItemTitleMainFontSize');
                        color: ef.get-value($mainInfoThemeDefault, 'addItemTitleMainColor');
                        font-weight: bold;
                    }

                    &-description {
                        font: {
                            size: ef.get-value($mainInfoThemeDefault, 'addItemTitleSecondFontSize');
                            weight: ef.get-value($mainInfoThemeDefault, 'addItemTitleSecondFontWeight');
                        }
                        color: ef.get-value($mainInfoThemeDefault, 'addItemTitleSecondColor');
                    }
                }

                &-switcher {
                    grid-area: switcher;
                }

                .wlc-btn {
                    grid-area: link;
                    font: {
                        size: ef.get-value($mainInfoThemeDefault, 'addItemLinkFontSize');
                    };

                    &__text {
                        display: flex;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    @include mq.min(1024) {
                        display: block;
                        min-width: auto;
                        height: auto;
                        text-decoration: underline;
                        padding: 0;
                        font: {
                            size: ef.get-value($mainInfoThemeDefault, 'addItemLinkFontSize', 1024);
                        }
                        color: ef.get('color', 'text');
                        border: none;
                        border-radius: 0;
                        background: none;
                    }

                    .wlc-icon {
                        display: none;
                        margin-left: 3px;
                        transform: rotate(-90deg);

                        @include mq.min(1024) {
                            display: flex;
                        }

                        svg {
                            fill: ef.get('color', 'text');
                        }
                    }
                }
            }
        }

        // Main info form
        .wlc-profile-form--theme-default {

            .wlc-form {
                display: grid;
                grid-auto-columns: 1fr;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap');

                @include mq.min(768) {
                    grid-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap', 768);
                }

                .wlc-btn[wlc-button] {
                    justify-self: ef.get-value($mainInfoThemeDefault, 'saveButtonAlign');
                    margin-top: ef.get-value($mainInfoThemeDefault, 'saveButtonShift');
                    font: {
                        size: ef.get-value($mainInfoThemeDefault, 'saveButtonSize');
                    }

                    @include mq.min(1024) {
                        justify-self: ef.get-value($mainInfoThemeDefault, 'saveButtonAlign', 1024);
                        font: {
                            size: ef.get-value($mainInfoThemeDefault, 'saveButtonSize', 1024);
                        }
                    }
                }
            }

            .wlc-input[class],
            .wlc-select[class] {

                @include mq.min(768) {
                    grid-template-columns: 1fr ef.get-value($mainInfoThemeDefault, 'inputWidth', 768);
                    align-items: center;

                    .wlc-input__label[class],
                    .wlc-select__label[class] {
                        font: {
                            size: ef.get-value($mainInfoThemeDefault, 'labelFontSize', 768);
                            weight: ef.get-value($mainInfoThemeDefault, 'labelFontWeight', 768);
                        }
                        color: ef.get-value($mainInfoThemeDefault, 'labelColor', 768);
                    }
                }
            }
        }
    }
}
