@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;

@import '../utils/vars';

.app-profile-main-info-state .wlc-sections {

    &__profile-content--theme-default {

        > .container {
            display: grid;
            grid: {
                template-columns: 1fr;
            }
        }

        .wlc-profile-form {
            @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'sectionFormColumns');
            @include bm.get-mq-map('grid-gap', $mainInfoThemeDefault, 'sectionColGap');
            display: grid;

            &__add {
                display: grid;
                grid-row-gap: ef.get-value($size, 'main');
                grid-template-columns: 1fr;
                height: ef.get-value($mainInfoThemeDefault, 'addBlockHeight');
            }

            &__block {
                @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'addBlockProfileColumns');
                display: grid;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'addItemGap');

                &-notification {

                    .wlc-profile-form__item {
                        grid-row-gap: unset;
                    }
                }
            }

            &__title {
                @include bm.get-mq-map('color', $mainInfoThemeDefault, 'addTitleColor');
                @include text.get-text-style('PlaceholderText', null);

                @include mq.min(640) {
                    grid-column-start: span 2;
                }

                @include mq.min(1024) {
                    grid-column-start: auto;
                }
            }

            &__item {
                display: grid;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'addItemGap');
                grid-template-areas: ef.get-value($mainInfoThemeDefault, 'addBlockAreas');
                grid-template-columns: ef.get-value($mainInfoThemeDefault, 'addBlockColumns');

                &-title {
                    grid-area: title;

                    &-main {
                        @include text.get-text-style('ThirdTitleBold', ef.get-value($mainInfoThemeDefault, 'addItemTitleMainColor'));
                        margin: ef.get-value($mainInfoThemeDefault, 'addItemTitleMainMargin');
                    }

                    &-description {
                        @include bm.get-mq-map('color', $mainInfoThemeDefault, 'addItemTitleSecondColor');
                        @include text.get-text-style('PrimaryText', null);
                    }
                }

                &-switcher {
                    grid-area: switcher;

                    .wlc-checkbox[wlc-checkbox] {

                        .wlc-checkbox__label {
                            padding: ef.get-value($mainInfoThemeDefault, 'switcherPadding');
                        }
                    }
                }

                .wlc-btn[wlc-button] {
                    @include bm.arrowIconAnimation;
                    grid-area: link;
                    width: ef.get-value($mainInfoThemeDefault, 'addItemWidth');
                    overflow: initial;

                    .wlc-btn__text {
                        display: flex;

                        color: ef.get-value($mainInfoThemeDefault, 'addItemLinkColor', 375);

                        @include mq.min(1024) {
                            @include text.get-text-style('PlaceholderTextBold', ef.get-value($mainInfoThemeDefault, 'addItemLinkColor', 1024));
                        }
                    }

                    .wlc-icon {
                        @include bm.get-mq-map('display', $mainInfoThemeDefault, 'addItemBtnIconDisplay');
                        @include bm.transition();

                        margin: ef.get-value($mainInfoThemeDefault, 'addItemBtnIconMargin');

                        svg {
                            transform: rotate(-90deg);
                            fill: ef.get-value($mainInfoThemeDefault, 'addItemLinkColor', 1024);
                        }
                    }

                    @include mq.min(1024) {
                        display: block;
                        min-width: auto;
                        height: auto;
                        padding: 0;

                        background: none;
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
        }

        // Main info form
        .wlc-profile-form--theme-default {

            .wlc-form {
                display: grid;
                grid-auto-columns: 1fr;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap');

                .wlc-btn[wlc-button] {
                    @include bm.get-mq-map('justify-self', $mainInfoThemeDefault, 'saveButtonAlign');

                    @include mq.min(768) {
                        margin-top: ef.get-value($mainInfoThemeDefault, 'saveButtonShift');
                    }
                }

                @include mq.min(768) {
                    grid-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap', 768);
                }
            }

            .wlc-birth-field {
                @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'birthColumns');

                .wlc-select[class] {
                    grid-template-columns: ef.get-value($mainInfoThemeDefault, 'birthSelectColumns');

                    &:first-child {
                        @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'birthSelectSize');
                    }
                }
            }

            .wlc-phone-field {
                @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneTemplateColumns');

                .wlc-select[class] {
                    @include bm.get-mq-map('grid-gap', $mainInfoThemeDefault, 'phoneGap');
                    @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneSize');
                }

                .wlc-input[class] {
                    @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneInputColumns');

                    .wlc-input__label {
                        @include bm.get-mq-map('display', $mainInfoThemeDefault, 'phoneInputLabelDisplay');
                    }
                }
            }

            .wlc-input[class],
            .wlc-select[class] {

                .wlc-input__label,
                .wlc-select__label {
                    @include bm.get-mq-map('color', $mainInfoThemeDefault, 'formLabelColor');
                    @include text.get-text-style('SignText', null);
                    margin: ef.get-value($mainInfoThemeDefault, 'labelMargin');

                    @include mq.min(768) {
                        @include text.get-text-style('PrimaryText', null);
                        margin: 0;
                    }
                }

                @include mq.min(768) {
                    grid-template-columns: 1fr ef.get-value($mainInfoThemeDefault, 'inputWidth', 1200);
                    align-items: ef.get-value($mainInfoThemeDefault, 'labelAlignItems');
                }
            }
        }
    }
}
