@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;

@import '../utils/vars';

.app-profile-main-info-state .wlc-sections {

    &__profile-content--theme-default {

        > .container {
            display: grid;
            grid: {
                template-columns: 1fr;
            }
        }

        .wlc-profile-form {
            @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'sectionFormColumns');
            @include bm.get-mq-map('grid-gap', $mainInfoThemeDefault, 'sectionColGap');
            display: grid;
        }

        // Main info form
        .wlc-profile-form--theme-default {

            .wlc-form {
                display: grid;
                grid-auto-columns: 1fr;
                grid-row-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap');

                .wlc-btn[wlc-button] {
                    @include bm.get-mq-map('justify-self', $mainInfoThemeDefault, 'saveButtonAlign');

                    @include mq.min(768) {
                        margin-top: ef.get-value($mainInfoThemeDefault, 'saveButtonShift');
                    }
                }

                @include mq.min(768) {
                    grid-gap: ef.get-value($mainInfoThemeDefault, 'formRowGap', 768);
                }
            }

            .wlc-birth-field {
                @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'birthColumns');

                .wlc-select[class] {
                    grid-template-columns: ef.get-value($mainInfoThemeDefault, 'birthSelectColumns');

                    &:first-child {
                        @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'birthSelectSize');
                    }
                }
            }

            .wlc-phone-field {
                @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneTemplateColumns');

                .wlc-select[class] {
                    @include bm.get-mq-map('grid-gap', $mainInfoThemeDefault, 'phoneGap');
                    @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneSize');

                    .wlc-tooltip {
                        display: none;
                    }
                }

                .wlc-input[class] {
                    @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneInputColumns');
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .wlc-tooltip {
                        @include bm.get-mq-map('display', $mainInfoThemeDefault, 'phoneInputLabelDisplay');
                        margin: ef.get-value($mainInfoThemeDefault, 'phoneTooltipMargin');
                    }

                    .wlc-input__label {
                        display: none;
                    }
                }

                &.wlc-phone-field--sms-verified {

                    .wlc-select[class] {

                        .wlc-tooltip {
                            @include bm.get-mq-map('display', $mainInfoThemeDefault, 'phoneVerTooltipDisplay');
                            @include bm.get-mq-map('margin', $mainInfoThemeDefault, 'phoneVerTooltipMargin');
                        }
                    }

                    .wlc-input[class] {

                        .wlc-input__label {
                            @include bm.get-mq-map('display', $mainInfoThemeDefault, 'phoneVerInputLabelDisplay');
                        }
                    }
                }

                &.wlc-phone-field--sms-not-verified {
                    @include bm.get-mq-map('grid-template-areas', $mainInfoThemeDefault, 'phoneNotVerAreas');
                    @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneNotVerColumns');

                    .wlc-btn[wlc-button] {
                        @include bm.get-mq-map('width', $mainInfoThemeDefault, 'phoneNotVerBtnWidth');
                        grid-area: button;
                        justify-self: flex-start;
                        margin: ef.get-value($mainInfoThemeDefault, 'phoneNotVerBtnMargin');
                    }

                    .wlc-select[class] {
                        @include bm.get-mq-map('grid-template-columns', $mainInfoThemeDefault, 'phoneNotVerSelectColumn');
                        grid-area: code;

                        .wlc-tooltip {
                            display: none;
                        }
                    }

                    .wlc-input[class] {
                        grid-area: phone;

                        .wlc-input__label {
                            display: none;
                        }

                        .wlc-tooltip {
                            display: none;
                        }
                    }
                }
            }

            .wlc-input[class],
            .wlc-select[class] {

                .wlc-input__label,
                .wlc-select__label {

                    @include mq.min(768) {
                        @include text.get-text-style(ef.get-value($mainInfoThemeDefault, 'labelFont'), ef.get-value($mainInfoThemeDefault, 'labelFontColor'));
                        margin: 0;
                    }
                }

                @include mq.min(768) {
                    grid-template-columns: 1fr ef.get-value($mainInfoThemeDefault, 'inputWidth', 1200);
                    align-items: ef.get-value($mainInfoThemeDefault, 'labelAlignItems');
                }
            }
        }
    }
}
