.app-profile-main-info-state {

    .wlc-sections__profile-content--theme-first {

        .wlc-profile-form {

            &__block {
                @include bm.get-mq-map('margin', $mainInfoThemeV1, 'profileFormBlockMargin');
                @include bm.get-mq-map('padding', $mainInfoThemeV1, 'profileFormBlockPadding');
                @include blocksDivider(#{ef.get-value($mainInfoThemeV1, 'profileFormBlockDividerWidth')});
                display: ef.get-value($mainInfoThemeV1, 'profileFormBlockDisplay');
                flex-wrap: ef.get-value($mainInfoThemeV1, 'profileFormBlockFlexWrap');
                align-items: ef.get-value($mainInfoThemeV1, 'profileFormBlockAlignItems');

                &:first-child {
                    padding-top: 0;
                }

                &:nth-last-child(-n+2) {

                    &:after {
                        display: none;
                    }
                }

                &--submit {
                    @include bm.get-mq-map('padding', $mainInfoThemeV1, 'profileFormBlockSubmitPadding');
                    display: ef.get-value($mainInfoThemeV1, 'profileFormBlockSubmitDisplay');
                    justify-content: ef.get-value($mainInfoThemeV1, 'profileFormBlockSubmitJustify');
                }

                &--password {

                    .wlc-profile-form__block {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }

                    .wlc-btn {
                        @include bm.get-mq-map('margin', $mainInfoThemeV1, 'profileFormBlockPasswordBtnMargin');
                    }
                }

                .wlc-title {
                    @include bm.get-mq-map('padding', $mainInfoThemeV1, 'profileFormTitlePadding');
                    @include bm.get-mq-map('margin', $mainInfoThemeV1, 'profileFormTitleMargin');
                    flex: ef.get-value($mainInfoThemeV1, 'profileFormTitleFlex');

                    .wlc-title__main {
                        @include bm.get-mq-map('font-size', $mainInfoThemeV1, 'profileFormTitleFontSize');
                        font-weight: ef.get-value($mainInfoThemeV1, 'profileFormTitleFontWeight');
                        line-height: ef.get-value($mainInfoThemeV1, 'profileFormTitleFontLineHeight');
                    }
                }

                & > .wlc-phone-field,
                & > .wlc-birth-field,
                & > .wlc-email-field,
                & > .wlc-select,
                & > .wlc-input {
                    @include bm.get-mq-map('margin', $mainInfoThemeV1, 'profileFormFieldsMargin');
                    @include bm.get-mq-map('padding', $mainInfoThemeV1, 'profileFormFieldsPadding');
                    @include bm.get-mq-map('flex', $mainInfoThemeV1, 'profileFormFieldsBaseFlex');
                }

                & > .wlc-phone-field,
                & > .wlc-birth-field {
                    @include bm.get-mq-map('gap', $mainInfoThemeV1, 'profileFormComposedFieldGap');
                }

                & > .wlc-input--password-confirm,
                & > .wlc-input--password-new,
                & > .wlc-input--password,
                & > .wlc-input--first-name,
                & > .wlc-input--last-name,
                & > .wlc-input--email,
                & > .wlc-email-field,
                & > .wlc-input--login,
                & > .wlc-birth-field,
                & > .wlc-phone-field {
                    @include bm.get-mq-map('flex-basis', $mainInfoThemeV1, 'profileFormFieldsWideFlexBasis');
                }

                & > .wlc-input.wlc-input--password {
                    @include bm.get-mq-map('flex-basis', $mainInfoThemeV1, 'profileFormCurrentPassFlexBasis');
                }

                & > .wlc-email-field--unverified {

                    .wlc-btn[wlc-button] {
                        width: ef.get-value($mainInfoThemeV1, 'emailNotVerBtnWidth');
                        margin: ef.get-value($mainInfoThemeV1, 'emailNotVerBtnMargin');
                    }
                }

                & > .wlc-phone-field {

                    .wlc-input[class] {
                        display: flex;
                        flex-wrap: wrap;

                        .wlc-input__container {
                            width: 100%;
                        }
                    }

                    .wlc-input[class],
                    .wlc-select[class] {

                        .wlc-tooltip {
                            display: none;
                            margin: ef.get-value($mainInfoThemeV1, 'phoneTooltipMargin');
                        }
                    }

                    &.wlc-phone-field--sms-not-verified {
                        @include bm.get-mq-map('grid-template-areas', $mainInfoThemeV1, 'phoneNotVerAreas');
                        @include bm.get-mq-map('grid-template-columns', $mainInfoThemeV1, 'phoneNotVerColumns');

                        .wlc-btn[wlc-button] {
                            @include bm.get-mq-map('width', $mainInfoThemeDefault, 'phoneNotVerBtnWidth');
                            grid-area: button;
                            margin: ef.get-value($mainInfoThemeDefault, 'phoneNotVerBtnMargin');
                        }

                        .wlc-select[class] {
                            grid-area: code;

                            .wlc-tooltip {
                                display: none;
                            }
                        }

                        .wlc-input[class] {
                            grid-area: phone;

                            .wlc-tooltip {
                                display: none;
                            }
                        }
                    }

                    &.wlc-phone-field--sms-verified {

                        .wlc-select[class] {

                            .wlc-input__label {
                                display: flex;
                            }

                            .wlc-tooltip {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
