@use 'engine-scss/mixins/text' as text;
@import '../utils/vars';

.wlc-sign-in-form--theme-default:host {
    max-width: $formMaxWidth;
    margin: $formMargin;

    &::ng-deep {

        .wlc-input {
            margin: $fieldMargin;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .wlc-btn {

            &--submit {
                margin: $btnMargin;
            }
        }

        //todo delete

        .wlc-link-block {

            .wlc-link-block__subtitle[class] {
                @include text.get-text-style('PlaceholderText');
                margin-bottom: 10px;
            }
        }
    }
}
