<div class="{{$class}}__content" data-wlc-element="wlc-store">
    <div
        *ngIf="storeItems?.length && isReady; else: noItems"
        class="{{$class}}__list"
        [class.first]="isProfileFirst">
        <div *ngFor="let item of storeItems" wlc-store-item [storeItem]="item" [theme]="itemTheme"></div>
    </div>
    <!-- TODO: add pagination -->
    <ng-template #noItems>
        <div class="{{$class}}__nocontent" *ngIf="isReady">{{'No store items available' | translate}}</div>
        <div class="{{$class}}__nocontent" *ngIf="!isReady">
            <div wlc-loader></div>
        </div>
    </ng-template>
</div>
