<div class="{{$class}}__content" data-wlc-element="wlc-store">
    @if (showDesktopFilter) {
        <div class="{{$class}}__filter">
            <div wlc-select [inlineParams]="storeFilter"></div>
        </div>
    } @else {
        <button wlc-button
            class="{{$class}}__filter-button"
            theme="custom"
            [iconPath]="filterIconPath"
            (click)="openFilter()">
        </button>
    }
    <div wlc-wrapper
        class="{{$class}}__user-stats"
        [inlineParams]="userStatsConfig">
    </div>
    @if (isMultiWallet) {
        <div wlc-alert
            class="{{$class}}__alert-block"
            [level]="'warning'"
            [title]="multiWalletAlert">
        </div>
    }
    @if (isReady) {
        @if (paginatedStoreItems?.length) {
            <div class="{{$class}}__list" [class.first]="isProfileFirst">
                @for (item of paginatedStoreItems; track item.id) {
                    <div wlc-store-item
                        [userCurrency]="userCurrency"
                        [itemDisabledInfo]="getItemDisabledInfo(item)"
                        [inlineParams]="makeStoreItemInlineParams(item)">
                    </div>
                }
            </div>
        } @else {
            <div wlc-wrapper
                class="{{$class}}__nocontent"
                [inlineParams]="emptyConfig">
            </div>
        }
    } @else {
        <div class="{{$class}}__loader">
            <div wlc-loader></div>
        </div>
    }
    <div wlc-pagination
        [items]="storeItems"
        [settings]="pagination"
        (paginationOnChange)="paginationOnChange($event)">
    </div>
</div>
