.wlc-two-factor-auth-scan--theme-default:host {

    ::ng-deep {

        .wlc-text-block {

            &__title {
                @include bm.get-mq-map('font-size', $themeDefault, 'titleFontSize');
                @include bm.get-mq-map('margin', $themeDefault, 'titleMargin');
            }

            &__subtitle {
                @include bm.get-mq-map('margin', $themeDefault, 'subtitleMargin');
                @include bm.get-mq-map('font-size', $themeDefault, 'subtitleFontSize');
                font-weight: ef.get-value($themeDefault, 'subtitleFont');
            }
        }
    }

    .wlc-two-factor-auth-scan {

        &__qr {
            display: flex;
            justify-content: center;
            margin: ef.get-value($themeDefault, 'qrMargin');
        }

        &__input {
            @include bm.get-mq-map('margin', $themeDefault, 'inputMargin');
        }

        &__description {
            @include bm.get-mq-map('margin', $themeDefault, 'textMargin');
            color: ef.get-value($themeDefault, 'textColor');
            font-size: ef.get-value($themeDefault, 'textFontSize');
            text-align: ef.get-value($themeDefault, 'textAlign');
        }

        &__button {
            display: flex;
            justify-content: center;
            margin: ef.get-value($themeDefault, 'btnMargin');
        }
    }
}
