<ng-container [ngSwitch]="params.type">
    <ng-container *ngSwitchCase="'sticky-footer'" [ngTemplateOutlet]="sticky"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #sticky>
    <span class="{{$class}}__item wlc-icon"
        (click)="clickHandler()">
        <ng-container [ngTemplateOutlet]="newIcon"></ng-container>
    </span>
</ng-template>

<ng-template #default>
    <button type="button"
        class="{{$class}}__button"
        (click)="clickHandler()">
        <ng-container [ngSwitch]="params.theme">
            <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="newIcon"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="defaultIcon"></ng-container>
        </ng-container>
    </button>
</ng-template>

<ng-template #newIcon>
    <svg class="ch-icon-chat" width="100%" height="100%" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M12 0C5.373 0 0 5.373 0 12c0 6.628 5.373 12 12 12h6c1.864 0 2.796 0 3.53-.305a4 4 0 0 0 2.165-2.164C24 20.796 24 19.864 24 18v-6c0-6.627-5.372-12-12-12ZM6.667 10.667c0-.737.597-1.334 1.333-1.334h8A1.333 1.333 0 1 1 16 12H8a1.333 1.333 0 0 1-1.333-1.333Zm4 5.333c0-.736.597-1.333 1.333-1.333h4a1.333 1.333 0 1 1 0 2.666h-4A1.333 1.333 0 0 1 10.667 16Z"/></svg>
    <span *ngIf="unread" class="{{$class}}__counter"></span>
</ng-template>

<!-- @deprecated old icon will be deleted-->
<ng-template #defaultIcon>
    <svg class="ch-icon-chat" width="100%" height="100%" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path d="M2.792 22a.664.664 0 0 1-.301-.064.791.791 0 0 1-.491-.728V6.785A3.871 3.871 0 0 1 5.958 3h12.666a3.871 3.871 0 0 1 3.958 3.784v7.473a3.872 3.872 0 0 1-3.958 3.784H7.074l-3.72 3.728a.791.791 0 0 1-.562.23ZM5.958 4.584a2.296 2.296 0 0 0-2.375 2.2V19.3l2.605-2.612a.793.793 0 0 1 .562-.23h11.874a2.296 2.296 0 0 0 2.375-2.2V6.785a2.296 2.296 0 0 0-2.375-2.2H5.958Z"/></svg>
    <span *ngIf="unread" class="{{$class}}__counter">
        {{unread$ | async | maxUnread}}
    </span>
</ng-template>
