<div class="{{$class}}__content">
    <div class="{{$class}}__list-wrapper" *ngIf="$params.type !== 'swiper'">
        <div class="{{$class}}__list" *ngIf="bonuses?.length && isReady; else: noBonuses">
            <div wlc-bonus-item [bonus]="bonus" [chosen]="bonus.isChoose" [type]="$params.common.filter" *ngFor="let bonus of bonuses"></div>
        </div>
        <!-- TODO: add pagination -->
    </div>
    <div class="{{$class}}__list-wrapper" *ngIf="$params.type === 'swiper'">
        <ng-container *ngIf="bonuses?.length && isReady; else: noBonuses">
            <div class="{{$class}}__slider"
                wlc-slider
                type="dashboard"
                [slides]="slides"
                [inlineParams]="sliderParams">
            </div>
        </ng-container>
    </div>
    <ng-template #noBonuses>
        <div class="{{$class}}__nocontent" *ngIf="isReady">{{'No bonuses available' | translate}}</div>
        <div class="{{$class}}__nocontent" *ngIf="!isReady">
            <div wlc-loader></div>
        </div>
    </ng-template>
</div>
