@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/engine.variables' as ev;

@import './utils/mixins';
@import './utils/vars';
@import './utils/animation';

@import './themes/default';

.wlc-modal {
    position: fixed;
    top: ef.get-value($hostModal, 'modalPosition');
    right: ef.get-value($hostModal, 'modalPosition');
    bottom: ef.get-value($hostModal, 'modalPosition');
    left: ef.get-value($hostModal, 'modalPosition');
    z-index: ef.get-value($hostModal, 'modalZIndex');
    outline: 0;
    overflow: hidden;

    &--search {
        z-index: ef.get-value($hostModal, 'modalZIndex') - 50;

        & + .modal-backdrop {
            z-index: ef.get-value($hostModal, 'backdropZIndex') - 50;
        }
    }

    &--confirmation {

        .wlc-modal__header {
            border-bottom: 0;
            justify-content: center;
        }

        .wlc-modal__title {
            padding: 0;
        }

        .modal-message {
            font-size: ef.get-value($hostModal, 'messageFontSizeConfirm');
        }
    }

    &--history-filter {

        .wlc-modal__dialog {
            overflow: initial;
        }
    }

    &--registration-errors {
        z-index: ef.get-value($hostModal, 'modalZIndex') + 100;
    }

    .show {

        &:focus {
            outline: none;
        }
    }

    &__wrapper {
        @include bm.get-mq-map('padding', $hostModal, 'modalWrapperPadding');
        min-height: 100%;
        perspective: 1200px;
    }

    .fade {
        outline: none;
        outline-offset: 0;
    }

    &__item {

        &:focus {
            outline: none;
        }
    }

    .modal-open & {
        visibility: visible;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__title {
        @include text.get-text-style(ef.get-value($hostModal, 'titleFontSizeMobile'), ef.get-value($hostModal, 'titleColor'));
        @include bm.lineClamp(2);
        width: ef.get-value($hostModal, 'titleWidth');
        max-width: ef.get-value($hostModal, 'titleMaxWidth');
        margin: ef.get-value($hostModal, 'titleMargin');
        padding: ef.get-value($hostModal, 'titlePadding');
        color: ef.get-value($hostModal, 'titleColor');
        text-align: center;

        &--back-btn {
            @include bm.get-mq-map('padding-left', $hostModal, 'titlePaddingLeft');
            @include bm.get-mq-map('padding-right', $hostModal, 'titlePaddingRight');
            width: ef.get-value($hostModal, 'titleBackBtnWidth');
        }

        @include mq.min(560) {
            @include text.get-text-style(ef.get-value($hostModal, 'titleFontSize'), ef.get-value($hostModal, 'titleColor'));
        }
    }

    &__back-btn {
        @include bm.get-mq-map('min-width', $hostModal, 'backBtnWidth');
        @include bm.get-mq-map('max-width', $hostModal, 'backBtnWidth');
        @include bm.get-mq-map('height', $hostModal, 'backBtnHeight');
        display: flex;
        align-items: center;
        cursor: pointer;

        &-text {
            @include ellipsisText;
            @include text.get-text-style(ef.get-value($hostModal, 'backBtnFontStyle'), ef.get-value($hostModal, 'backBtnColor'));
            max-width: 100%;
        }

        .icon-arrow {
            margin: ef.get-value($hostModal, 'backBtnIconMargin');
            line-height: ef.get-value($hostModal, 'backBtnIconLineHeight');

            svg {
                @include bm.get-mq-map('width', $hostModal, 'backBtnIconWidth');
                @include bm.get-mq-map('height', $hostModal, 'backBtnIconHeight');
                transform: rotateZ(90deg);
                fill: ef.get-value($hostModal, 'backBtnIconColor');
            }
        }

        .wlc-modal__header--headless & {
            position: absolute;
            top: ef.get-value($hostModal, 'backBtnTopPostion');
            left: ef.get-value($hostModal, 'backBtnLeftPostion');
            transform: translateY(0);
        }

        @include bm.hover {

            .wlc-modal__back-btn-text {
                @include bm.transition(color);
                color: ef.get-value($hostModal, 'backBtnColorHover');
            }

            .icon-arrow svg {
                @include bm.transition(fill);
                fill: ef.get-value($hostModal, 'backBtnIconColorHover');
            }
        }
    }

    .modal-message {
        color: ef.get-value($hostModal, 'messageColor');
    }

    .modal-icon {
        display: flex;
        justify-content: center;
        margin: ef.get-value($hostModal, 'iconMargin');

        .wlc-icon-content {
            display: inline-block;
            width: ef.get-value($hostModal, 'iconSize');
            height: ef.get-value($hostModal, 'iconSize');
        }

        svg {
            width: 100%;
        }

        &--confirm {

            svg {
                fill: ef.get-value($hostModal, 'iconColorConfirm');
            }
        }
    }

    &__dialog {
        @include bm.get-mq-map('overflow', $hostModal, 'dialogOverflow');
        @include bm.get-mq-map('box-shadow', $hostModal, 'dialogShadow');

        position: relative;
        display: flex;
        flex-direction: column;
        margin: ef.get-value($hostModal, 'modalOffsetMobile');
        background: ef.get-value($hostModal, 'modalBg');
        border: none;
        border-radius: ef.get-value($hostModal, 'modalBorderRadius');
        opacity: 0;

        &-fluid {
            width: 100%;
            max-width: 100%;
        }

        &--as {
            @include bm.get-mq-map('max-width', $hostModal, 'modalASSize');
            width: auto;
        }

        &--xxl {
            @include bm.get-mq-map('max-width', $hostModal, 'modalXXlSize');
        }

        &--xl {
            @include bm.get-mq-map('max-width', $hostModal, 'modalXlSize');
        }

        &--lg {
            @include bm.get-mq-map('max-width', $hostModal, 'modalLgSize');
        }

        &--md {
            max-width: ef.get-value($hostModal, 'modalMdSize');
        }

        &--sm {
            max-width: ef.get-value($hostModal, 'modalSmSize');
        }

        &--scrollable {

            .wlc-modal__body {
                @include bm.scrollbar($hostModal);

                @include bm.get-mq-map('min-height', $hostModal, 'staticMinHeight');
                @include bm.get-mq-map('max-height', $hostModal, 'staticMaxHeightMobile');
                @include bm.get-mq-map('margin', $hostModal, 'scrollModalBodyMargin');
                @include bm.get-mq-map('padding', $hostModal, 'scrollModalBodyPadding');
                overflow-y: auto;
            }
        }

        @include mq.min(560) {
            border: ef.get-value($hostModal, 'modalBorder');
            margin: ef.get-value($hostModal, 'modalOffset');
            overflow: visible;
        }
    }

    &__header {
        @include bm.get-mq-map('padding', $hostModal, 'modalHeaderPadding');
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: flex-start;
        color: ef.get-value($hostModal, 'modalHeaderColor');
        border-bottom: ef.get-value($hostModal, 'modalHeaderBorderBottom');

        &--headless {
            border-bottom: 0;
            padding: 0;
        }
    }

    &__body {
        @include bm.get-mq-map('padding', $hostModal, 'modalBodyPadding');
        position: relative;
        flex: ef.get-value($hostModal, 'modalBodyFlex');
        color: ef.get-value($hostModal, 'modalBodyColor');

        &.without-padding {
            padding: 0;
        }
    }

    &__footer {
        @include bm.get-mq-map('padding', $hostModal, 'modalFooterPadding');
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: ef.get-value($hostModal, 'modalFooterJustify');
        border-top: ef.get-value($hostModal, 'modalFooterBorderTop');
    }

    &__footer [wlc-button] {
        margin: ef.get-value($hostModal, 'modalFooterBtnsMargin');
    }

    &__close[wlc-button] {
        @include bm.get-mq-map('right', $hostModal, 'closePosRight');
        @include bm.get-mq-map('top', $hostModal, 'closePosTop');
        @include bm.transition(opacity);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: ef.get-value($hostModal, 'closeSize');
        height: ef.get-value($hostModal, 'closeSize');
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.4;

        .wlc-modal__header--headless & {
            @include bm.get-mq-map('top', $hostModal, 'closePosTopHeadLess');
            transform: translateY(0);
        }

        span {
            display: flex;
        }

        line {
            stroke: ef.get-value($hostModal, 'closeLineStroke');
        }

        @include bm.hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .wlc-modal__header {
        z-index: 10;
    }

    &.wlc-modal--type-lang {

        .wlc-modal__header {
            justify-content: center;
            border-bottom: none;
            padding: ef.get-value($hostModal, 'modalHeaderLangPadding');
        }

        .wlc-modal__title {
            padding: 0;
        }

        .wlc-modal__body {
            padding: ef.get-value($languageModal, 'paddingBody');
        }
    }

    .wlc-select[class] {

        .wlc-select__dropdown[class] {
            max-height: ef.get-value($themeDefault, 'selectMaxHeight');
        }
    }

    .modal-backdrop + & {

        .fade {

            .wlc-modal__dialog {
                animation-delay: 0.3s;
            }

            &.close {

                .wlc-modal__dialog {
                    animation-delay: 0s;
                }
            }
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: ef.get-value($hostModal, 'backdropPosition');
    right: ef.get-value($hostModal, 'backdropPosition');
    bottom: ef.get-value($hostModal, 'backdropPosition');
    left: ef.get-value($hostModal, 'backdropPosition');
    z-index: ef.get-value($hostModal, 'backdropZIndex');
    background-color: ef.get-value($themeDefault, 'dialogBackground');

    &.fade {
        opacity: 0;
    }

    &.show,
    &.in {
        @include bm.get-mq-map('opacity', $hostModal, 'backdropOpacity');
    }

    @include mq.max(900) {

        .wlc-modal--login-sign-up + &.fade {

            @if map-get(ev.$modalAnimation, 'modalDisableAnimationMobile') {
                opacity: 1;
            } @else {
                opacity: 0;
            }

            background: ef.get-value($hostModal, 'backdropSignUpBackground');
        }

        .wlc-modal--login-sign-up + &.in {
            opacity: 1;
        }
    }

    @include mq.min(560) {
        background: ef.get-value($hostModal, 'backdropBackground');
    }
}

// fixes for ios
.wlc-body--os-ios {

    .wlc-modal__dialog {
        margin: ef.get-value($hostModal, 'modalOffsetIosMobile');

        &--scrollable {

            .wlc-modal__body {
                @include bm.get-mq-map('height', $hostModal, 'staticMaxHeightMobileIos');
                overflow-y: auto;
            }
        }
    }
}

.wlc-modal--login-sign-up {
    text-align: center;

    .modal-dialog {
        @include bm.get-mq-map('width', $themeDefault, 'loginSignupWidth');
        @include bm.get-mq-map('box-shadow', $themeDefault, 'loginSignUpDialogShadow');
        display: inline-block;
        text-align: left;
    }
}

.wlc-modal--loyalty-info-modal {

    .wlc-modal__body {
        padding: ef.get-value($themeDefault, 'loyaltyInfoBodyPadding');
    }
}
