$customThemeDefault: () !default;
$themeDefault: map-merge((
    'headerMargin': 0 0 ef.size(4),
    'headerJustifyContent': space-between,
    'headerAlignItems': center,
    'headerWidth': 100%,
    'contentPadding': ef.size(12),
    'listMargin': ef.size(12),
    'gridColumns': (
        375: repeat(auto-fill, minmax(160px, 1fr)),
        900: repeat(auto-fill, minmax(225px, 1fr)),
        1024: repeat(auto-fill, minmax(200px, 1fr)),
        1630: repeat(auto-fill, minmax(220px, 1fr)),
    ),
    'gridColumnsWide': (
        375: repeat(2, 1fr),
        560: repeat(3, 1fr),
        720: repeat(4, 1fr),
        900: repeat(3, 1fr),
        1024: repeat(4, 1fr),
        1200: repeat(5, 1fr),
        1630: repeat(6, 1fr),
    ),
    'placeholderBackground': var(--mc-bg),
    'gridGap': (
        375: ef.size(2),
        1024: ef.size(3),
        1630: ef.size(4)
    ),
    'placeholderBorderRadius': ef.get('radius', 'less'),
    'placeholderTextColor': var(--mc-baseMain),
    'placeholderAlignItems': center,
    'placeholderJustifyContent': center,
    'catalogMoreButtonMargin': (
        375: ef.size(6) 0 0,
        900: ef.size(4) 0 0,
        1630: ef.size(8) 0 0,
    ),
    'progressBarMargin': (
        375: ef.size(6) 0 ef.size(-3),
        1024: ef.size(8) 0 ef.size(-4),
    ),

    'searchProgressBarMargin': (
        375: ef.size(3) 0 ef.size(-3),
        1024: ef.size(4) 0 ef.size(-4),
    ),

    'gridColumnsTournamentDetail': (
        375: repeat(auto-fill, minmax(130px, 1fr)),
        900: repeat(auto-fill, minmax(160px, 1fr)),
        1024: repeat(auto-fill, minmax(200px, 1fr)),
    ),
    'gridColumnsSearchMobileApp': repeat(auto-fill, minmax(130px, 1fr)),
    'gridBannerRow': (
        320: #{'1 / 3'}
    ),
    'gridBannerColumn': (
        320: #{'1 / 3'}
    ),
    'gridBannerColumnRight': (
        320: #{'1 / -3'}
    ),
    'bannerBorderRadius': ef.get('radius', 'biger'),
    'cardProgressBarMargin': (
        375: 0 0 ef.size(4) 0,
    ),

    'loadMoreDirecrion': column,
    'loadMoreAlign': center,
    'loadMoreJustify': center,
    'loadMoreBorderRadius': ef.get('radius', 'biger'),
    'loadMoreBG': var(--mc-bg700),
), $customThemeDefault);

$customCommonStyles: () !default;
$commonStyles: map-merge((
    'moreButtonMargin': (
        375: ef.size(6) 0 0,
        1200: ef.size(8) 0 0,
    ),
    'moreButtonAlignItems': center,
    'moreButtonJustifyContent': center,

    'allLinkTextStyle': 'CaptionTextBold',
    'allLinkColor': var(--mc-main),
    'allLinkSecondaryTextStyle': 'PrimaryTextBold',
    'allLinkSecondaryColor': var(--mc-main),
    'allLinkDisplay': flex,
    'allLinkAlign': center,
    'allLinkDecoration': none,
    'allLinkIconMargin': ef.size(1),
    'allLinkTransform': rotate(-90deg),
    'allLinkColorHover': var(--mc-main-l20),
    'allLinkIconTransformHover': rotateX(360deg) translateX(10px),

    'titleIconMargin': 0 ef.size(2) 0 0,
    'titleWithIconMargin': 0 auto 0 0,
    'titleIconSize': 24px,
    'titleIconSizeStretch': 100%,
    'titleIconFill': var(--mc-baseMain),

    'headerColor': var(--mc-baseMain),
    'headerColorLink': var(--mc-baseOpacity),
    'headerColorLinkHover': var(--mc-baseMain),
    'headerFontStyle': 'QoteTextBold',
), $customCommonStyles);

$customModHeaderInline: () !default;

$modHeaderInline: map-merge((
    'padding': (
        375: ef.size(3) ef.size(2),
        900: ef.size(6),
        1024: ef.size(6) ef.size(3) ef.size(3),
    ),
    'margin': 0,
    'background': var(--mc-bg700),
    'borderRadius': ef.get('radius', 'biger'),
    'flexDirection': column,
    'titleMargin': 0,
    'titleAlign': center,
    'iconMargin': 0,
    'linkIconMargin': 0 0 0 ef.size(1),
    'textDecoration': none,
    'moreButtonMargin': (
        375: ef.size(6),
        1024: 0,
    ),
    'headerFontStyle': 'QoteTextBold',
    'allLinkColor': var(--mc-main),
), $customModHeaderInline);

$customModMobileApp: () !default;
$modMobileApp: map-merge((
    'headerMargin': 0 0 ef.size(2),
    'headerColor': var(--mc-baseMain),
    'headerFontStyle': 'CaptionTextBold',
), $customModMobileApp);
