@use 'engine-scss/functions' as ef;

$headerColor: ef.get('color', 'main') !default;
$allLinkColor: ef.get('color', 'link') !default;

//$currentGap: ef.get('size', 'main') !default;
$currentGap: 10px !default;
$contentPadding: ef.get('size', 'big') !default;
$listMargin: ef.get('size', 'big') !default;

$itemMinWidth: 220px !default;
$itemMinWidthTablet: 225px !default;
$itemMinWidthMobile: 180px !default;
$itemHeight: 150px !default;

$placeholderBackground: ef.get('color', 'backgroundSecondary') !default;
$placeholderBorderRadius: ef.get('radius', 'less') !default;
$placeholderTextColor: ef.get('color', 'textSecondary') !default;

