<ng-container *ngIf="!dummy; else dummyTpl" [ngSwitch]="$params.theme">
    <ng-container [ngTemplateOutlet]="partial" *ngSwitchCase="'partial'"></ng-container>
    <ng-container [ngTemplateOutlet]="regFirst" *ngSwitchCase="'reg-first'"></ng-container>
    <ng-container [ngTemplateOutlet]="preview" *ngSwitchCase="'preview'"></ng-container>
    <ng-container [ngTemplateOutlet]="promo" *ngSwitchCase="'promo'"></ng-container>
    <ng-container [ngTemplateOutlet]="promoHome" *ngSwitchCase="'promo-home'"></ng-container>
    <ng-container [ngTemplateOutlet]="long" *ngSwitchCase="'long'"></ng-container>
    <ng-container [ngTemplateOutlet]="active" *ngSwitchCase="'active'"></ng-container>
    <ng-container [ngTemplateOutlet]="default" *ngSwitchDefault></ng-container>
</ng-container>

<ng-template #default>
    <div class="{{$class}}__content"
         [ngStyle]="{'background-image': bonus.imageUrl}"
         [class.subscribed]="$params.common.bonus?.isSubscribed"
         [class.chosen]="chosen"
         [class.noauth]="!isAuth"
         [class.nochoosebtn]="isNoChooseBtn"
         [class.choosebtn]="isChooseBtn"
         [class.active]="$params.common.bonus?.isActive"
         [class.inventoried]="$params.common.bonus?.inventoried"
         [class.disabled]="$params.common.bonus?.isDisabled"
         data-wlc-element="block_bonus">

        <div class="{{$class}}__wrapper"
             (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
            <div class="{{$class}}__image-block" data-wlc-element="bonus_image">
                <ng-container [ngTemplateOutlet]="bonusTag"></ng-container>
                <ng-container *ngIf="!useIconBonusImage" [ngTemplateOutlet]="bonusImage"></ng-container>
                <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
                <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>
            </div>
            <div class="{{$class}}__bottom" data-wlc-element="bonus_info">
                <ng-container *ngIf="$params.common.bonus?.isActive" [ngTemplateOutlet]="activeBlock"></ng-container>

                <div class="{{$class}}__info-block">
                    <h4 class="{{$class}}__name" [wlc-clamp]="$params.common?.nameClamp || 1"
                        data-wlc-element="bonus_title-name">
                        {{$params.common.bonus?.name}}
                    </h4>
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                    <button *ngIf="!$params.common?.iconMoreBtn"
                            wlc-button
                            typeAttr="button"
                            text="{{'More info' | translate}}"
                            (click)="openDescription($params.common.bonus)">
                    </button>
                </div>
                <div wlc-bonus-buttons
                    class="{{$class}}__btns"
                    [bonus]="bonus"
                    [bonusItemTheme]="$params.theme"
                    [isChooseBtn]="isChooseBtn">
                </div>
            </div>
        </div>

        <div *ngIf="isTypeRegDeposit" class="{{$class}}__check-icon">
            <div wlc-icon
                 class="icon-btn"
                 iconPath="/wlc/icons/check.svg">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #promo>
    <div class="{{$class}}__content"
         [class.subscribed]="$params.common.bonus?.isSubscribed"
         [class.chosen]="chosen"
         [class.noauth]="!isAuth"
         [class.nochoosebtn]="isNoChooseBtn"
         [class.choosebtn]="isChooseBtn"
         [class.active]="$params.common.bonus?.isActive"
         [class.inventoried]="$params.common.bonus?.inventoried"
         [class.disabled]="$params.common.bonus?.isDisabled">

        <div class="{{$class}}__wrapper" (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
            <div class="{{$class}}__info-block" data-wlc-element="bonus_info">
                <ng-container [ngTemplateOutlet]="bonusTag"></ng-container>
                <div class="{{$class}}__info">
                    <h4 class="{{$class}}__name" data-wlc-element="bonus_title-name">
                        {{$params.common.bonus?.name}}
                    </h4>
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                </div>
                <div wlc-bonus-buttons
                    class="{{$class}}__btns"
                    [bonus]="bonus"
                    [bonusItemTheme]="$params.theme"
                    [isChooseBtn]="isChooseBtn">
                </div>
            </div>
            <div class="{{$class}}__image-block"
                 data-wlc-element="bonus_image">
                <div class="{{$class}}__image"
                     [style]="{backgroundImage: promoBg}">
                </div>
            <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>

        <div *ngIf="isTypeRegDeposit" class="{{$class}}__check-icon">
            <div wlc-icon
                 class="icon-btn"
                 iconPath="/wlc/icons/check.svg">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #partial>
    <div class="{{$class}}__content"
         [class.chosen]="chosen ?? $params.common.bonus.isChoose"
         [ngClass]="{'blank-bonus': bonus.type === 'blank'}"
    >
        <div class="{{$class}}__body">
            <ng-container *ngIf="bonus.type !== 'blank'" [ngTemplateOutlet]="moreIcon"></ng-container>
            <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
            <h4 *ngIf="$params.common.bonus?.name && bonus.type !== 'blank'"
                class="{{$class}}__name"
                data-wlc-element="bonus_title-name"
                (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
                {{$params.common.bonus?.name}}
            </h4>
        </div>
        <div *ngIf="$params.common.bonus?.description"
             class="{{$class}}__footer">
            <ng-container [ngTemplateOutlet]="description"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #regFirst>
    <div class="{{$class}}__content"
         [class.chosen]="chosen ?? $params.common.bonus.isChoose">
         <div class="{{$class}}__wrapper" (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
                <div class="{{$class}}__image-block" data-wlc-element="bonus_image">
                    <div *ngIf="$params.common?.showBonusTag && !!$params.common.bonus.tag"
                    class="{{$class}}__tag"
                    data-wlc-element="bonus_type-title">
                    {{'Selected' | translate}}
                </div>
                <ng-container [ngTemplateOutlet]="bonusImage"></ng-container>
            </div>
            <div class="{{$class}}__bottom" data-wlc-element="bonus_info">
                <div class="{{$class}}__info-block">
                    <h4 class="{{$class}}__name" [wlc-clamp]="$params.common?.nameClamp || 1"
                        data-wlc-element="bonus_title-name">
                        {{$params.common.bonus?.name}}
                    </h4>
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                </div>
            </div>
        </div>
        <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>
    </div>
</ng-template>

<ng-template #preview>
    <div *ngIf="$params.common.bonus; else blank"
         class="{{$class}}__content"
         [style]="{backgroundImage: 'url(' + $params.common.bonus?.imageReg + ')'}">
        <div class="{{$class}}__tag" data-wlc-element="bonus_type-title">{{'The chosen bonus' | translate}}</div>
        <div class="{{$class}}__icon-wrapper">
            <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
            <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>
        </div>
        <div class="{{$class}}__details">
            <h4 class="{{$class}}__name">
                {{$params.common.bonus?.name}}
            </h4>
            <p class="{{$class}}__description"
               data-wlc-element="bonus_description-name"
               [innerHtml]="$params.common.bonus?.descriptionClean">
            </p>
        </div>
    </div>
</ng-template>

<ng-template #promoHome>
    <div class="{{$class}}__content">
        <div class="{{$class}}__tag">{{'Bonuses' | translate}}</div>
        <div class="{{$class}}__wrapper"
             (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">

            <button *ngIf="!$params.common?.iconMoreBtn"
                    wlc-button
                    class="{{$class}}__more-info"
                    typeAttr="button"
                    text="{{'More info' | translate}}"
                    (click)="openDescription($params.common.bonus)"
            ></button>

            <div class="{{$class}}__info-wrapper">
                <div class="{{$class}}__info-block">
                    <h4 class="{{$class}}__name"
                        data-wlc-element="bonus_title-name"
                        [wlc-clamp]="$params.common?.nameClamp || 2"> {{$params.common.bonus.name}} </h4>
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                </div>

                <div class="{{$class}}__image-block" data-wlc-element="bonus_image">
                    <ng-container *ngIf="!useIconBonusImage" [ngTemplateOutlet]="bonusImage"></ng-container>
                    <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
                </div>
            </div>

            <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>

            <div wlc-bonus-buttons
                class="{{$class}}__btns"
                [bonus]="bonus"
                [bonusItemTheme]="$params.theme"
                [isChooseBtn]="isChooseBtn">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #blank>
    <div class="{{$class}}__blank">
        <h4 class="{{$class}}__blank-subtitle">{{'Without Bonus' | translate}}</h4>
        <h3 class="{{$class}}__blank-title">{{'Oh no! You didn\'t choose a bonus.' | translate}}</h3>
        <h4 class="{{$class}}__blank-text">{{'You can skip all the improvements and get less money.' | translate}}</h4>
    </div>
</ng-template>

<ng-template #long>
    <div class="{{$class}}__content"
         [class.subscribed]="$params.common.bonus?.isSubscribed"
         [class.chosen]="chosen"
         [class.noauth]="!isAuth"
         [class.nochoosebtn]="isNoChooseBtn"
         [class.choosebtn]="isChooseBtn"
         [class.active]="$params.common.bonus?.isActive"
         [class.inventoried]="$params.common.bonus?.inventoried"
         [class.disabled]="$params.common.bonus?.isDisabled"
         data-wlc-element="block_bonus">

        <div class="{{$class}}__wrapper" (click)="chooseBonusNoBtn($params.common.bonus, $params.common.type)">
            <div class="{{$class}}__image-block" data-wlc-element="bonus_image">
                <ng-container [ngTemplateOutlet]="bonusTag"></ng-container>
                <ng-container *ngIf="!useIconBonusImage" [ngTemplateOutlet]="bonusImage"></ng-container>
                <ng-container [ngTemplateOutlet]="bonusIcon"></ng-container>
                <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>

                <h4 class="{{$class}}__name"
                    [wlc-clamp]="$params.common?.nameClamp || 2"
                    data-wlc-element="bonus_title-name">
                    {{$params.common.bonus?.name}}
                </h4>
            </div>

            <div *ngIf="!$params.common.bonus?.isActive"
                    class="{{$class}}__info-block"
                    data-wlc-element="bonus_info">
                <div *ngIf="$params.common.bonus?.descriptionClean"
                     class="{{$class}}__description-block"
                >
                    <ng-container [ngTemplateOutlet]="description"></ng-container>
                </div>

                <button *ngIf="!$params.common?.iconMoreBtn"
                        wlc-button
                        typeAttr="button"
                        text="{{'More info' | translate}}"
                        (click)="openDescription($params.common.bonus)">
                </button>
            </div>

            <ng-container *ngIf="$params.common.bonus?.isActive" [ngTemplateOutlet]="activeBlock"></ng-container>

            <div wlc-bonus-buttons
                class="{{$class}}__btns"
                [bonus]="bonus"
                [bonusItemTheme]="$params.theme"
                [isChooseBtn]="isChooseBtn">
            </div>
        </div>

        <div *ngIf="isTypeRegDeposit" class="{{$class}}__check-icon">
            <div wlc-icon
                 class="icon-btn"
                 iconPath="/wlc/icons/check.svg">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #active>
    <div class="{{$class}}__content"
         [class.subscribed]="$params.common.bonus?.isSubscribed"
         [class.chosen]="chosen"
         [class.noauth]="!isAuth"
         [class.nochoosebtn]="isNoChooseBtn"
         [class.choosebtn]="isChooseBtn"
         [class.inventoried]="$params.common.bonus?.inventoried"
         [class.disabled]="$params.common.bonus?.isDisabled"
         data-wlc-element="block_bonus">

        <div class="{{$class}}__wrapper"
             (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
            <div class="{{$class}}__image-block" data-wlc-element="bonus_image">
                <ng-container [ngTemplateOutlet]="bonusTag"></ng-container>
                <ng-container [ngTemplateOutlet]="bonusImage"></ng-container>
                <ng-container [ngTemplateOutlet]="moreIcon"></ng-container>
            </div>

            <div class="{{$class}}__info-block" data-wlc-element="bonus_info">
                <h4 class="{{$class}}__name" [wlc-clamp]="$params.common?.nameClamp || 1"
                    data-wlc-element="bonus_title-name">
                    {{$params.common.bonus?.name}}
                </h4>
                <ng-container [ngTemplateOutlet]="description"></ng-container>
                <button *ngIf="!$params.common?.iconMoreBtn"
                        wlc-button
                        typeAttr="button"
                        text="{{'More info' | translate}}"
                        (click)="openDescription($params.common.bonus)">
                </button>
            </div>

            <ng-container [ngTemplateOutlet]="activeBlock"></ng-container>

            <div wlc-bonus-buttons
                class="{{$class}}__btns"
                [bonus]="bonus"
                [bonusItemTheme]="$params.theme"
                [isChooseBtn]="isChooseBtn">
            </div>
        </div>

        <div *ngIf="isTypeRegDeposit" class="{{$class}}__check-icon">
            <div wlc-icon
                 class="icon-btn"
                 iconPath="/wlc/icons/check.svg">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #moreIcon>
    <div *ngIf="$params.common?.iconMoreBtn" class="{{$class}}__more-icon" >
        <div wlc-icon
             class="icon-btn"
             iconPath="/wlc/icons/info.svg"
             wlcElement="button_terms"
             (click)="openDescription($params.common.bonus)">
        </div>
    </div>
</ng-template>

<ng-template #bonusImage>
    <div class="{{$class}}__image"
         [style]="{backgroundImage: bonusBg}">
    </div>
</ng-template>

<ng-template #bonusIcon>
    <div *ngIf="useIconBonusImage"
        class="{{$class}}__icon">
        <span *ngIf="(chosen ?? $params.common.bonus.isChoose) && $params.theme === 'partial'"
                class="{{$class}}__check-icon">
            <i wlc-icon
                class="icon-btn"
                iconPath="/wlc/icons/check.svg">
            </i>
        </span>
        <img *ngIf="$params.common?.iconsPath && $params.common.bonus?.viewTarget; else without"
                class="{{$class}}__icon-sign"
                draggable="false"
                [src]="$params.common?.iconsPath + $params.common.bonus?.viewTarget + '.svg'"
                loading="lazy"
                alt="bonus icon"
                (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
        <ng-template #without>
            <div class="{{$class}}__icon-sign {{$class}}__icon-sign--empty"
                    [class.chosen]="chosen"
                    (click)="chooseBlankBonus()">
                <span *ngIf="$params.common.bonus?.name"
                    class="{{$class}}__name"
                    data-wlc-element="bonus_title-name">
                    {{$params.common.bonus?.name | translate}}
                </span>
            </div>
        </ng-template>
        <span *ngIf="$params.common.bonus?.value"
            class="{{$class}}__icon-text"
            [wlc-value-length]="$params.common.bonus?.value"
            minLength="4"
            maxLength="6"
            (click)="chooseBonusNoBtn($params.common.bonus, $params.common?.type)">
            {{$params.common.bonus?.value}}
        </span>
    </div>
</ng-template>

<ng-template #bonusTag>
    <div *ngIf="$params.common?.showBonusTag && !!$params.common.bonus.tag"
         class="{{$class}}__tag"
         data-wlc-element="bonus_type-title">
         {{$params.common.bonus.tag | translate}}
    </div>
</ng-template>

<ng-template #activeBlock>
    <div class="{{$class}}__active-block">
        <div class="{{$class}}__timer"
             wlc-timer
             text="Time remaining"
             [value]="$params.common.bonus?.expirationTimeLuxon"></div>
        <div *ngIf="$params.common.bonus?.wageringTotal" class="{{$class}}__progress">
            <div class="{{$class}}__remaning">
                <span wlc-currency [value]="$params.common.bonus?.wageringLeft"></span>
                {{'of'| translate}}
                <span wlc-currency [value]="$params.common.bonus?.wageringTotal"></span>
                {{'remaining' | translate}}
            </div>
            <div class="{{$class}}__progressbar">
                <div class="{{$class}}__progressbar-inner"
                     [ngStyle]="{width: ($params.common.bonus?.getProgress() || 0)+'%'}"
                ></div>
            </div>
            <div class="{{$class}}__secondary">
                {{$params.common.bonus?.getProgress() | number: '.0-2'}}% {{'Cleared' | translate}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #description>
    <div class="{{$class}}__description"
         data-wlc-element="bonus_description-name"
         [wlc-clamp]="$params.common.descriptionClamp"
    >{{$params.common.bonus?.descriptionClean}}</div>
</ng-template>

<ng-template #dummyTpl>
    <div class="{{$class}}__content">
        <div class="{{$class}}__wrapper"></div>
    </div>
</ng-template>
