.wlc-tournament-prizes-row--theme-default:host {
    --wlc-icon-width: #{ef.get-value($themeDefault, 'iconSize')};
    --wlc-icon-height: #{ef.get-value($themeDefault, 'iconSize')};

    .wlc-tournament-prizes-row {

        &__values {
            display: var(--wlc-prizes-row-display, inline-flex);
            flex-wrap: wrap;
            justify-content: var(--wlc-prizes-row-alignment, #{ef.get-value($themeDefault, 'valuesAlignment')});
            text-align: var(--wlc-prizes-row-alignment, #{ef.get-value($themeDefault, 'valuesAlignment')});
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__val {
            white-space: nowrap;

            &:not(:first-child) {

                &:before {
                    content: ef.get-value($themeDefault, 'dividerContent');
                    display: inline-block;
                    margin: ef.get-value($themeDefault, 'dividerMargin');
                }
            }
        }

        &__rest-icon {
            margin-left: ef.get-value($themeDefault, 'iconMargin');

            .wlc-tournament-prizes-row__icon {
                display: inline-block;
                transform: translateY(-2px);
            }
        }
    }

    &.wlc-tournament-prizes-row--theme-mod-one-line {
        --wlc-prizes-row-display: block;
        --wlc-currency-display: inline;
    }
}
