@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;


.wlc-history-filter--theme-default:host {

    .wlc-history-filter {

        &__button {
            position: relative;
            overflow: visible;
            color: ef.get-value($themeDefault, 'buttonIconFill');


            &:after {
                content: '';
                position: absolute;
                top: ef.get-value($themeDefault, 'buttonSignalPosTop');
                right: ef.get-value($themeDefault, 'buttonSignalPosRight');
                width: ef.get-value($themeDefault, 'buttonSignalSize');
                height: ef.get-value($themeDefault, 'buttonSignalSize');
                border-radius: ef.get-value($themeDefault, 'buttonSignalBorderRadius');
                background-color: transparent;
                transition: ef.get-value($themeDefault, 'buttonSignalTransition');
            }

            &.filtered {

                &:after {
                    background-color: ef.get-value($themeDefault, 'buttonSignalBg');
                }
            }

            ::ng-deep {

                svg {
                    display: block;
                    width: ef.get-value($themeDefault, 'iconSize');
                    height: ef.get-value($themeDefault, 'iconSize');
                }
            }

            @include bm.hover {
                color: ef.get-value($themeDefault, 'buttonIconFillHover');
            }
        }
    }
}
