@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as bm;
@import '../utils/mixins';
@import '../utils/vars';

.wlc-language-selector--theme-default:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: ef.get-value($themeDefault, 'currentHeight');

    .wlc-language-selector {

        &__current {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            align-items: center;
            grid-gap: ef.get-value($themeDefault, 'currentGap');
            cursor: pointer;

            &-flag {
                @include flag(ef.get-value($themeDefault, 'currentFlagSize'), ef.get-value($themeDefault, 'currentFlagSize'), 50%);
            }

            &--opened {

                .wlc-language-selector__current-arrow {
                    transform: rotate(0.5turn);
                }
            }

            &-lang {
                @include text.get-text-style(ef.get-value($themeDefault, 'langFontStyleCurrent'), ef.get-value($themeDefaultModLog, 'langFontColorCurrent'));
                text-transform: capitalize;
            }

            &-arrow {
                @include bm.transition(transform);

                ::ng-deep svg {

                    path {
                        @include bm.transition(fill);
                        fill: ef.get-value($themeDefault, 'currentArrowColor');
                    }
                }
            }

            &:hover {

                ::ng-deep svg {

                    path {
                        fill: ef.get-value($themeDefault, 'currentArrowColorHover');
                    }
                }
            }
        }

        &__dropdown {
            z-index: 2;
            position: absolute;

            @include mod('default', 'bottom-left') {
                top: 100%;
                right: 0;
                padding-top: ef.get-value($themeDefault, 'dropdownArrowSize');
            }

            @include mod('default', 'top-left') {
                bottom: 100%;
                right: 0;
                padding-bottom: ef.get-value($themeDefault, 'dropdownArrowSize');
            }
        }

        &__list {
            @include list(repeat(3, 1fr), ef.get-value($themeDefault, 'listGap'), ef.get-value($themeDefault, 'listPadding'), ef.get-value($themeDefault, 'dropdownBackgroundColor'));

            @include mod('default', 'bottom-left') {
                transform: translateY(ef.get-value($themeDefault, 'dropdownArrowSize'));
            }

            @include mod('default', 'top-left') {
                transform: translateY(ef.get-value($themeDefault, 'dropdownArrowSize') * -1);
            }

            &:before {
                display: block;
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: ef.get-value($themeDefault, 'dropdownArrowSize') solid transparent;
                border-right: ef.get-value($themeDefault, 'dropdownArrowSize') solid transparent;

                @include mod('default', 'bottom-left') {
                    right: ef.get-value($themeDefault, 'dropdownArrowSize');
                    top: ef.get-value($themeDefault, 'dropdownArrowSize') * -1;
                    border-top: 0;
                    border-bottom: ef.get-value($themeDefault, 'dropdownArrowSize') solid ef.get-value($themeDefault, 'dropdownBackgroundColor');
                }

                @include mod('default', 'top-left') {
                    right: ef.get-value($themeDefault, 'dropdownArrowSize');
                    bottom: ef.get-value($themeDefault, 'dropdownArrowSize') * -1;
                    border-bottom: 0;
                    border-top: ef.get-value($themeDefault, 'dropdownArrowSize') solid ef.get-value($themeDefault, 'dropdownBackgroundColor');
                }
            }
        }

        &__item--active {

            .wlc-language-selector__link {

                &-flag {
                    box-shadow: 0 0 0 4px ef.get-value($themeModal, 'flagBoxShadowHover'), 0 0 7px 7px rgba(0, 0, 0, 0.67);
                }
            }
        }

        &__link {

            @include link();

            &-lang {
                @include lang();
            }

            &-flag {
                @include flag(ef.get-value($themeDefault, 'dropdownFlagSize'), ef.get-value($themeDefault, 'dropdownFlagSize'), 50%, ef.get-value($themeDefault, 'flagBoxShadow'), ef.get-value($themeModal, 'flagBoxShadowHover'));
            }
        }
    }

    &.wlc-language-selector--theme-mod-long {
        width: 100%;
        max-width: ef.get-value($themeDefaultModLog, 'maxWidthModLong');
        margin: ef.get-value($themeDefaultModLog, 'currentMarginModLong');
        border-radius: ef.get-value($themeDefaultModLog, 'currentBorderRadiusModLong');
        border: ef.get-value($themeDefaultModLog, 'currentBorderModLong');
        height: auto;

        .wlc-language-selector {

            &__current {
                padding: ef.get-value($themeDefaultModLog, 'currentPaddingModLong');
                grid-template-columns: auto 1fr auto;
                border-radius: ef.get-value($themeDefaultModLog, 'currentBorderRadiusModLong');
                background: ef.get-value($themeDefaultModLog, 'currentBgModLong');
                @include bm.transition(background);

                &:hover {
                    background: ef.get-value($themeDefaultModLog, 'currentBgModLongHover');
                }

                &--opened {
                    background: ef.get-value($themeDefaultModLog, 'currentBgModLongActive');

                    &:hover {
                        background: ef.get-value($themeDefaultModLog, 'currentBgModLongActive');
                    }

                    .wlc-language-selector__current-arrow::ng-deep {

                        svg {

                            path {
                                fill: ef.get-value($themeDefaultModLog, 'currentFillModLongActive');
                            }
                        }
                    }

                    .wlc-language-selector__current-lang {
                        @include text.get-text-style(ef.get-value($themeDefaultModLog, 'langFontStyleActive'), ef.get-value($themeDefaultModLog, 'currentColorModLang'));
                    }

                    ~ .wlc-language-selector__dropdown {
                        transform: scaleY(1);
                        position: relative;
                        margin-top: 5px;
                    }
                }

                &-lang {
                    @include text.get-text-style(ef.get-value($themeDefaultModLog, 'langFontStyle'), ef.get-value($themeDefaultModLog, 'currentColorModLang'));
                }

                &-flag {
                    width: ef.get-value($themeDefaultModLog, 'currentFlagSize');
                    height: ef.get-value($themeDefaultModLog, 'currentFlagSize');
                    margin-right: ef.get-value($themeDefaultModLog, 'currentFlagMargin');

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__dropdown {
                position: absolute;
                width: 100%;
                top: calc(100% + 5px);
                left: 0;
                transform: scaleY(0);
                transform-origin: top;
                @include bm.transition(transform);

                .wlc-language-selector__link-lang {
                    @include text.get-text-style('PrimaryText', ef.get-value($themeDefaultModLog, 'currentColorModLang'));
                }
            }

            &__list {
                background: ef.get-value($themeDefaultModLog, 'dropdownBgModLong');
                padding: ef.get-value($themeDefaultModLog, 'dropdownPaddingLong');
                grid-template-columns: 1fr;
            }

            &__link {

                &:hover {

                    .wlc-language-selector__link-flag {
                        box-shadow: 0 0 0 3px ef.get-value($themeDefault, 'flagBoxShadowHover'), 0 0 3px 3px rgba(0, 0, 0, 0.67);
                    }
                }


                &-flag {
                    width: ef.get-value($themeDefaultModLog, 'currentFlagSize');
                    height: ef.get-value($themeDefaultModLog, 'currentFlagSize');
                    box-shadow: 0 0 0 3px ef.get-value($themeDefault, 'flagBoxShadow');

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-lang {
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                    bottom: 0;
                    transform: none;
                    background: none;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    &.wlc-language-selector--border-around {
        height: ef.get-value($themeBorderAround, 'currentHeight');

        .wlc-language-selector {

            &__current {
                border: ef.get-value($themeBorderAround, 'currentBorder');
                padding: ef.get-value($themeBorderAround, 'currentPadding');
                height: ef.get-value($themeBorderAround, 'currentHeight');
                border-radius: ef.get-value($themeBorderAround, 'currentRadius');

                &-flag {
                    width: ef.get-value($themeBorderAround, 'currentFlagSize');
                    height: ef.get-value($themeBorderAround, 'currentFlagSize');

                    img {
                        width: ef.get-value($themeBorderAround, 'currentFlagSize');
                        height: ef.get-value($themeBorderAround, 'currentFlagSize');
                    }
                }
            }
        }
    }
}

.wlc-language-modal {

    &__list {
        @include list(repeat(auto-fit, minmax(60px, 1fr)), ef.get-value($themeModal, 'listGap'), ef.get-value($themeModal, 'listPadding'));
    }

    &__item {
        display: flex;
        justify-content: center;

        &--active {

            .wlc-language-modal__link {

                &-flag {
                    box-shadow: 0 0 0 4px ef.get-value($themeModal, 'flagBoxShadowHover'), 0 0 7px 7px rgba(0, 0, 0, 0.67);
                }
            }
        }
    }

    &__link {
        @include link();

        &-lang {
            @include lang();
        }

        &-flag {
            @include flag(ef.get-value($themeModal, 'dropdownFlagSize'), ef.get-value($themeModal, 'dropdownFlagSize'), 50%, ef.get-value($themeModal, 'flagBoxShadow'), ef.get-value($themeModal, 'flagBoxShadowHover'));
        }
    }
}
