@import '../utils/mixins';
@import '../utils/vars';

.wlc-language-selector--theme-default:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: map-get($themeDefault, currentHeight);

    .wlc-language-selector {

        &__current {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            align-items: center;
            grid-gap: map-get($themeDefault, currentGap);
            cursor: pointer;

            &-flag {
                @include flag(map-get($themeDefault, currentFlagSize), map-get($themeDefault, currentFlagSize), 50%);
            }

            &-lang {
                color: map-get($themeDefault, currentColor);
            }

            &-arrow {

                ::ng-deep svg {

                    path {
                        fill: map-get($themeDefault, currentArrowColor);
                    }
                }
            }
        }

        &__dropdown {
            position: absolute;

            @include mod('default', 'bottom-left') {
                top: 100%;
                right: 0;
                padding-top: map-get($themeDefault, dropdownArrowSize);
            }

            @include mod('default', 'top-left') {
                bottom: 100%;
                right: 0;
                padding-bottom: map-get($themeDefault, dropdownArrowSize);
            }
        }

        &__list {
            border-radius: map-get($themeDefault, dropdownBorderRadius);
            background: map-get($themeDefault, dropdownBackgroundColor);
            position: relative;
            overflow: hidden;

            @include mod('default', 'bottom-left') {
                transform: translateY(map-get($themeDefault, dropdownArrowSize));
            }

            @include mod('default', 'top-left') {
                transform: translateY(map-get($themeDefault, dropdownArrowSize) * -1);
            }

            &:before {
                display: block;
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: map-get($themeDefault, dropdownArrowSize) solid transparent;
                border-right: map-get($themeDefault, dropdownArrowSize) solid transparent;

                @include mod('default', 'bottom-left') {
                    right: map-get($themeDefault, dropdownArrowSize);
                    top: map-get($themeDefault, dropdownArrowSize) * -1;
                    border-top: 0;
                    border-bottom: map-get($themeDefault, dropdownArrowSize) solid map-get($themeDefault, dropdownBackgroundColor);
                }

                @include mod('default', 'top-left') {
                    right: map-get($themeDefault, dropdownArrowSize);
                    bottom: map-get($themeDefault, dropdownArrowSize) * -1;
                    border-bottom: 0;
                    border-top: map-get($themeDefault, dropdownArrowSize) solid map-get($themeDefault, dropdownBackgroundColor);
                }
            }
        }

        &__link {
            justify-content: flex-start;
            padding: map-get($themeDefault, dropdownPadding);
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            align-items: center;
            grid-gap: map-get($themeDefault, dropdownGap);
            color: map-get($themeDefault, dropdownLinkColor);
            text-decoration: none;

            &:hover {
                background-color: map-get($themeDefault, dropdownItemHover);
                @include bm.transition(background-color);
            }

            &-lang {

                .wlc-language-selector__current & {
                    text-transform: uppercase;
                }
            }

            &-flag {
                @include flag(map-get($themeDefault, dropdownFlagSize), map-get($themeDefault, dropdownFlagSize), 50%);
            }
        }
    }

    &.wlc-language-selector--theme-mod-long {
        width: 100%;
        max-width: map-get($themeDefaultModLog, maxWidthModLong);
        margin: map-get($themeDefaultModLog, currentMarginModLong);
        background: map-get($themeDefaultModLog, currentBgModLong);
        border-radius: map-get($themeDefaultModLog, currentBorderRadiusModLong);
        border: map-get($themeDefaultModLog, currentBorderModLong);
        height: auto;

        &:hover {
            background: map-get($themeDefaultModLog, currentBgModLongHover);
            @include bm.transition(background);
        }

        .wlc-language-selector__current {
            padding: map-get($themeDefaultModLog, currentPaddingModLong);
            grid-template-columns: auto 1fr auto;

            &-lang {
                font: {
                    size: map-get($themeDefaultModLog, currentSizeModLong);
                }
                color: map-get($themeDefaultModLog, currentColorModLang);
            }
        }

        .wlc-language-selector__dropdown {
            position: absolute;
            width: 100%;
            top: calc(100% + 5px);
            left: 0;

            .wlc-language-selector__link-lang {
                font-size: map-get($themeDefaultModLog, currentSizeModLong);
            }
        }

        .wlc-language-selector__list {
            background: map-get($themeDefaultModLog, dropdownBgModLong);
        }
    }
}
