.wlc-modal--theme-default {

    .wlc-modal {

        &__dialog {
            background: ef.get-value($themeDefault, 'dialogBackground');

            @include mq.min(560) {
                border-radius: ef.get-value($themeDefault, 'dialogBorderRadius');
            }
        }

        &__title {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'titleFontSize', 320),
                ef.get-value($themeDefault, 'titleColor')
            );
            margin: ef.get-value($themeDefault, 'titleMargin');

            @include mq.min(768) {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize', 768), null);
            }
        }

        &__header {
            padding: ef.get-value($themeDefault, 'paddingDefault');

            &--headless {
                padding: ef.get-value($themeDefault, 'paddingHeadless');
            }
        }

        &__body {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }

        &__footer {
            padding: ef.get-value($themeDefault, 'paddingDefault');
        }
    }

    // Modifiers

    &.wlc-modal--login-sign-up {

        .wlc-modal {

            &__wrapper {
                @include bm.get-mq-map('padding', $themeDefault, 'loginSignUpModalWrapperPadding');
            }

            &__close {
                @include bm.get-mq-map('right', $themeDefault, 'loginSignUpClosePosRight');
                @include bm.get-mq-map('top', $themeDefault, 'loginSignUpClosePosTop');
            }

            &__header {
                @include bm.get-mq-map('padding', $themeDefault, 'loginSignUpHeaderPadding');
                border-bottom: none;
            }

            &__title {
                @include bm.get-mq-map('display', $themeDefault, 'loginSignUpTitleDisplay');
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'loginSignUpTitleStyle'),
                    ef.get-value($themeDefault, 'loginSignUpTitleColor')
                );
                text-align: ef.get-value($themeDefault, 'loginSignUpTitleAlign');
            }

            &__body {
                padding: 0;

                .wlc-text-block__title {
                    @include text.get-text-style(
                        ef.get-value($themeDefault, 'loginSignUpTextFontSize', 320),
                        ef.get-value($themeDefault, 'loginSignUpTextColor')
                    );

                    @include mq.min(768) {
                        @include text.get-text-style(ef.get-value($themeDefault, 'loginSignUpTextFontSize', 768), null);
                    }
                }

                .wlc-tab-switcher--theme-wolf {

                    .wlc-text-block__title {
                        @include text.get-text-style(
                            ef.get-value($themeDefault, 'loginSignUpTextFontSizeWolf', 320),
                            ef.get-value($themeDefault, 'loginSignUpTitleColorWolf', 320)
                        );

                        @include mq.min(768) {
                            @include text.get-text-style(
                                ef.get-value($themeDefault, 'loginSignUpTextFontSizeWolf', 768),
                                ef.get-value($themeDefault, 'loginSignUpTitleColorWolf', 768)
                            );
                        }
                    }
                }
            }

            &__dialog {
                @include bm.get-mq-map('height', $themeDefault, 'loginSignUpDialogHeight');
                @include bm.get-mq-map('margin', $themeDefault, 'loginSignUpDialogMarign');
                @include bm.get-mq-map('border', $themeDefault, 'loginSignUpDialogBorder');
                overflow: hidden;
            }
        }
    }

    &.wlc-modal--restore {
        @include bm.get-mq-map('background', $themeDefault, 'restoreModalBackground');

        .wlc-modal {

            &__wrapper {
                @include bm.get-mq-map('padding', $themeDefault, 'restoreModalWrapperPadding');
            }

            &__header {
                border-bottom: none;
            }

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'restoreModalBodyPadding');
            }

            &__title {
                @include bm.get-mq-map('display', $themeDefault, 'restoreTitleDisplay');
            }

            &__back-btn {
                justify-content: center;

                .icon-arrow {

                    @include mq.min(900) {
                        margin-top: 0;
                    }
                }
            }

            &__back-btn-text {
                @include bm.get-mq-map('display', $themeDefault, 'restoreBtnTextDisplay');
            }

            &__dialog {
                @include bm.get-mq-map('height', $themeDefault, 'restoreDialogHeight');
                @include bm.get-mq-map('border', $themeDefault, 'restoreDialogBorder');
                @include bm.get-mq-map('margin', $themeDefault, 'restoreDialogMarign');
            }
        }
    }

    &.wlc-modal--tournament-detail {

        .wlc-modal__wrapper {
            @include bm.get-mq-map('padding', $themeDefault, 'tournamentDetailPaddingWrapper');
        }

        .wlc-modal__body {
            @include bm.get-mq-map('padding', $themeDefault, 'tournamentDetailPadding');
        }

        .wlc-modal__footer {
            @include bm.get-mq-map('padding', $themeDefault, 'tournamentDetailFooterPadding');
            @include bm.get-mq-map('border-radius', $themeDefault, 'tournamentDetailRadius');
            background: ef.get-value($themeDefault, 'tournamentDetailFooterBg');
        }

        &:has(.wlc-tournament-detail--theme-wolf) {

            .wlc-modal__footer {
                @include bm.get-mq-map('border-radius', $themeDefault, 'tournamentDetailRadiusWolf');
                background: ef.get-value($themeDefault, 'tournamentDetailFooterBgWolf');
            }
        }

        .wlc-modal__header--headless {

            .wlc-modal__close {
                @include bm.get-mq-map('top', $themeDefault, 'tournamentDetailIconCloseTop');
            }
        }

        .wlc-tournament-detail__header-info {
            overflow: hidden;

            &--back-link {
                display: none;
            }
        }

        .wlc-tournament-detail__rules {
            border-radius: 0;
        }
    }

    &.wlc-modal--registration-success,
    &.wlc-modal--data-is-processing {
        background: rgba($color: ef.get-value($hostModal, 'backdropBackground'), $alpha: 0.6);

        .wlc-modal__wrapper {

            @include mq.max(560) {
                height: ef.get-value($hostModal, 'dataIsProcessingHeight');
                padding: ef.get-value($hostModal, 'dataIsProcessingPadding');
            }
        }

        .wlc-modal__dialog {

            @include mq.max(560) {
                height: 100%;
                margin: auto;
                box-shadow: ef.get-value($hostModal, 'dialogShadow');

                .wlc-modal__body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }

    &.wlc-modal--bonus-modal {

        .wlc-modal {

            &__dialog {
                @include bm.get-mq-map('max-width', $themeDefault, 'bonusModalMaxWidth');
                overflow: ef.get-value($themeDefault, 'bonusModalOverflow');
            }

            &__body {
                padding: ef.get-value($themeDefault, 'bonusModalBodyPadding');
            }

            &__wrapper {
                padding: ef.get-value($themeDefault, 'bonusModalWrapperPadding');
            }
        }

        .wlc-modal__header--headless {

            .wlc-modal__close {
                top: ef.get-value($themeDefault, 'bonusModalIconCloseTop');
                right: ef.get-value($themeDefault, 'bonusModalIconCloseRight');
            }
        }
    }

    &.wlc-modal--payment-list {
        --wlc-crypto-list-columns: #{ef.get-value($themeDefault, 'paymentListCryptoColumns')};

        .wlc-modal {

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'paymentListBodyPadding');
            }
        }
    }

    &.wlc-modal--bonus-info-default {

        .wlc-modal {

            &__body {
                padding: ef.get-value($themeDefault, 'bonusInfoDefaultBodyPadding');
            }

            &__wrapper {
                padding: ef.get-value($themeDefault, 'bonusInfoDefaultWrapperPadding');
            }
        }
    }

    &.wlc-modal--wp-promo-content {

        .wlc-modal {

            &__dialog {
                @include bm.get-mq-map('max-width', $themeDefault, 'wpPromoModalMaxWidth');
            }
        }
    }

    // internal mails
    .internal-mail__content {
        @include text.get-text-style(
            ef.get-value($themeDefault, 'internalMailContentStyle'),
            ef.get-value($themeDefault, 'internalMailContentColor')
        );
        word-wrap: break-word;
    }

    &.wlc-modal--games-slider {

        .wlc-modal__dialog {
            overflow: hidden;
        }

        .wlc-modal__body {
            padding: ef.get-value($themeDefault, 'sliderModalBodyPadding');
            background: ef.get-value($themeDefault, 'sliderModalBg');
        }
    }

    &.wlc-modal--lootbox {

        .wlc-modal {

            &__wrapper {
                @include mq.max(560) {
                    height: 100%;
                    padding: 0;
                }
            }

            &__dialog {
                @include bm.get-mq-map('max-width', $themeDefault, 'lootboxModalMaxWidth');
                overflow: hidden;

                @include mq.max(560) {
                    height: 100%;
                    margin: 0;
                }
            }

            &__body {
                padding: ef.get-value($themeDefault, 'lootboxModalBodyPadding');
                background: ef.get-value($themeDefault, 'lootboxModalBodyBg');
                background-size: ef.get-value($themeDefault, 'lootboxModalBodyBgSize');

                @include mq.max(560) {
                    height: 100%;
                }
            }
        }

        @include mq.max(560) {

            .wlc-lootbox-modal {
                height: 100%;

                &__wrapper {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                &__text-block {
                    flex-shrink: 0;
                }

                &__buttons {
                    flex-basis: 100%;
                }
            }
        }
    }

    &.wlc-modal--tournament-history-wins {

        .wlc-modal {

            &__dialog--md-extra {
                max-width: ef.get-value($themeDefault, 'historyWinsModalMaxWidth');
            }
        }
    }

    &[class*='two-factor-auth-'] {

        .wlc-modal {

            &__back-btn-text {
                @include bm.get-mq-map('display', $themeDefault, 'restoreBtnTextDisplay');
            }
        }
    }

    &.wlc-modal--fast-deposit-modal {

        .wlc-modal__dialog {
            background: ef.get-value($themeDefault, 'fastDepositModalBg');
        }

        + .modal-backdrop {

            @include mq.max(560) {
                background: ef.get-value($themeDefault, 'fastDepositModalBg');
            }
        }
    }

    &.wlc-modal--deposit-modal {

        .wlc-modal {

            &__dialog {
                background: ef.get-value($themeDefault, 'depModalBg');
            }

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'depModalBodyPadding');
            }
        }

        + .modal-backdrop {

            @include mq.max(560) {
                background: ef.get-value($themeDefault, 'depModalBg');
            }
        }
    }

    &.wlc-modal--recommended-games {

        .wlc-modal {

            &__wrapper {
                height: ef.get-value($themeDefault, 'recommendedWrapperHeight');
                padding: ef.get-value($themeDefault, 'recommendedWrapperPadding');
            }

            &__dialog {
                min-height: ef.get-value($themeDefault, 'recommendedDialogHeight');
                margin: ef.get-value($themeDefault, 'recommendedDialogMargin');
                background: ef.get-value($themeDefault, 'recommendedDialogBg');
                border-radius: 0;
                border: 0;
            }

            &__body {
                display: ef.get-value($themeDefault, 'recommendedBodyDisplay');
                align-items: ef.get-value($themeDefault, 'recommendedBodyAlignItems');
                justify-content: ef.get-value($themeDefault, 'recommendedBodyJustify');
                width: ef.get-value($themeDefault, 'recommendedBodyWidth');
                height: ef.get-value($themeDefault, 'recommendedBodyHeight');
                background: ef.get-value($themeDefault, 'recommendedBodyBg');
            }
        }

        & ~ .modal-backdrop {
            @include bm.get-mq-map('opacity', $themeDefault, 'recommendedBackdropOpacity');
        }
    }

    &.wlc-modal--auto-logout {

        .wlc-text-block__text {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'autoLogoutTextModalStyle'),
                ef.get-value($themeDefault, 'autoLogoutTextModalColor')
            );

            text-align: center;
        }
    }

    &.wlc-modal--idle-auto-logout-info {

        .modal-icon {

            svg {
                fill: ef.get-value($themeDefault, 'logoutInfoItalyIconPath');
            }
        }

        .modal-message {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'logoutInfoItalyTextModalStyle'),
                ef.get-value($themeDefault, 'logoutInfoItalyTextModalColor')
            );
        }
    }

    &.wlc-modal--kyc-questionnaire {

        .wlc-modal {

            &__dialog {
                max-width: ef.get-value($themeDefault, 'kycQDialogMaxWidth');
            }

            &__body {
                @include bm.get-mq-map('padding', $themeDefault, 'kycQBodyPadding');
            }

            &__header {
                @include bm.get-mq-map('padding', $themeDefault, 'kycQHeaderPadding');
            }

            &__close {
                top: ef.get-value($themeDefault, 'kycQCloseTop');
                right: ef.get-value($themeDefault, 'kycQCloseRight');
            }

            &__back-btn {

                &.hidden {
                    visibility: hidden;
                }

                .icon-arrow {
                    margin: ef.get-value($themeDefault, 'kycQArrowMargin');
                }
            }

            &__back-btn-text {
                @include bm.get-mq-map('display', $themeDefault, 'kycQBackBtnTextDisplay');
            }
        }
    }

    &.wlc-modal--local-jackpots-won {

        .wlc-modal {

            &__dialog {

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    opacity: ef.get-value($themeDefault, 'localJackpotWonOpacity');
                    pointer-events: none;

                    background: {
                        position: center;
                        image: ef.get-value($themeDefault, 'localJackpotWonBg');
                        repeat: no-repeat;
                    }
                }
            }
        }
    }

    &.wlc-modal--quest-task-info {

        .wlc-modal {

            &__body {
                min-height: ef.get-value($themeDefault, 'taskInfoBodyMinHeight');
            }
        }
    }

    &.wlc-modal--internal-mail {

        .wlc-modal {

            &__body {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'internalMailContentStyle'),
                    ef.get-value($themeDefault, 'internalMailContentColor')
                );
                word-wrap: break-word;
            }
        }
    }
}

body.modal-open {
    overflow: hidden;

    @include mq.min(560) {
        background-color: ev.$body-bg;
    }
}
