<label class="{{$class}}">
    <input class="{{$class}}__input"
           placeholder="{{$params.placeholder || 'Search' | translate}}"
           #searchField
           (input)="changeSearch()"
           [(ngModel)]="searchQuery"
    >
    <button class="{{$class}}__clear"
            *ngIf="searchQuery?.length"
            wlc-icon
            [iconName]="'close'"
            [attr.aria-label]="'Clear search' | translate"
            [attr.title]="'Clear search' | translate"
            (click)="clearSearch()"
    ></button>
    <span class="{{$class}}__icon"
          wlc-icon
          [iconName]="'search'"
    ></span>
</label>
