<label class="{{$class}}">
    <input class="{{$class}}__input"
           placeholder="{{$params.placeholder || 'Search' | translate}}"
           #searchField
           data-wlc-element="input_search"
           (input)="inputHandler($event)"
           (blur)="searchBlur.emit(searchQuery)"
           (keyup.enter)="onKeyUp()"
           (click)="clickEmit.emit($event)"
           [(ngModel)]="searchQuery"
    >
    <button *ngIf="searchQuery"
            wlc-icon
            class="{{$class}}__clear"
            [attr.aria-label]="'Clear search' | translate"
            [attr.title]="'Clear search' | translate"
            iconPath="/wlc/icons/close.svg"
            (click)="clearSearch()"
    ></button>
    <span wlc-icon
          class="{{$class}}__icon"
          iconPath="/wlc/icons/search.svg"
    ></span>
</label>
