.wlc-change-password-form--theme-default:host {
    @include bm.get-mq-map('max-width', $themeDefault, 'formMaxWidth');
    margin: ef.get-value($themeDefault, 'formMargin');

    &::ng-deep {

        .wlc-input {
            margin: ef.get-value($themeDefault, 'fieldMargin');

            &:last-child {
                margin-bottom: 0;
            }

            .wlc-input__container {

                .wlc-input__input:disabled {
                    color: ef.get-value($themeDefault, 'inputColor');
                    -webkit-text-fill-color: ef.get-value($themeDefault, 'inputColor');

                    background: ef.get-value($themeDefault, 'inputBackground');

                    opacity: ef.get-value($themeDefault, 'inputOpacity'); // for ios
                }
            }
        }

        .wlc-btn {
            @include bm.get-mq-map('margin', $themeDefault, 'btnMargin');
        }
    }
}
