<div class="{{$class}}__title"
     [ngSwitch]="$params.mode">

    <ng-container *ngSwitchCase="'deposit'">
        <div wlc-title
             class="wlc-title--profile"
             [mainText]="'Deposit'"
             [inlineParams]="{wlcElement: 'header_deposit'}"></div>
    </ng-container>

    <ng-container *ngSwitchCase="'withdraw'">
        <div wlc-title
             class="wlc-title--profile"
             [mainText]="'Withdrawal'"
             [inlineParams]="{wlcElement: 'header_withdraw'}"></div>
    </ng-container>
</div>

<div class="{{$class}}__step {{$class}}__step--1">
    <div class="{{$class}}__subtitle">
        <div class="{{$class}}__subtitle-step">{{'Step' | translate}} 1</div>
        <div class="{{$class}}__subtitle-name"><span>1.</span> {{'Choose payment option' | translate}}</div>
    </div>

    <div wlc-payment-list
         data-wlc-element="block_payment-list"
         [inlineParams]='listConfig'
         [currentSystem]='currentSystem'>
    </div>
</div>

<div class="{{$class}}__divider"></div>

<div class="{{$class}}__step {{$class}}__step--2">
    <div class="{{$class}}__subtitle">
        <div class="{{$class}}__subtitle-step">{{'Step' | translate}} 2</div>
        <div class="{{$class}}__subtitle-name"><span>2.</span> {{'Payment information' | translate}}</div>
    </div>

    <div *ngIf="requiredFieldsKeys.length"
         class="{{$class}}__fields-error"
         data-wlc-element="add_required_fields">
        <p class="{{$class}}__fields-message">{{'Payment method is not available. Please, add the following info' | translate}}
            :</p>
        <ul class="{{$class}}__fields-ul">
            <li *ngFor="let item of requiredFieldsKeys"
                class="{{$class}}__fields-li"
                [attr.data-wlc-element]="requiredFields[item].template">
                {{requiredFields[item].label | translate}}
            </li>
        </ul>
        <button wlc-button
                text="Edit profile"
                wlcElement="add_info"
                (click)="editProfile()"></button>
    </div>

    <ng-container *ngIf="currentSystem && cryptoCheck && $params.mode === 'deposit'">
        <div wlc-payment-message
             class="{{$class}}__crypto-block"
             [system]="currentSystem"></div>

        <div class="{{$class}}__divider"></div>
    </ng-container>

    <div *ngIf="showPayCryptosV2Text"
         class="{{$class}}__fields-error">
        {{'Before you can proceed with the deposit, you must read and accept the terms.' | translate}}
    </div>

    <div *ngIf="!requiredFieldsKeys.length"
         wlc-form-wrapper
         class="{{$class}}__form"
         [config]="formConfig"
         [formData]="formData$"
         [beforeSubmit]="formBeforeSubmit.bind(this)"
         [ngSubmit]="sendForm.bind(this)">
    </div>
</div>
