<div class="{{$class}}__title"
    [ngSwitch]="$params.mode">
    <ng-container *ngSwitchCase="'deposit'">{{'Deposit' | translate}}</ng-container>
    <ng-container *ngSwitchCase="'withdraw'">{{'Withdrawal' | translate}}</ng-container>
</div>

<div class="{{$class}}__step {{$class}}__step--1">
    <div class="{{$class}}__subtitle">
        <div class="{{$class}}__subtitle-step">{{'Step' | translate}} 1</div>
        <div class="{{$class}}__subtitle-name"><span>1.</span> {{'Choose payment option' | translate}}</div>
    </div>

    <div wlc-payment-list
        [inlineParams]='listConfig'
        [currentSystem]='currentSystem'>
    </div>
</div>

<div class="{{$class}}__divider"></div>

<div class="{{$class}}__step {{$class}}__step--2">
    <div class="{{$class}}__subtitle">
        <div class="{{$class}}__subtitle-step">{{'Step' | translate}} 2</div>
        <div class="{{$class}}__subtitle-name"><span>2.</span> {{'Payment information' | translate}}</div>
    </div>

    <div class="{{$class}}__fields-error" *ngIf="!checkUserProfileForPayment()">
        <p class="{{$class}}__fields-message">{{'Payment method isn\'t available. Please fill in the following profile fields' | translate}}:</p>
        <ul class="{{$class}}__fields-ul">
            <li class="{{$class}}__fields-li" *ngFor="let item of requiredFieldsKeys">
                {{requiredFields[item].label | translate}}
            </li>
        </ul>
        <button wlc-button text="Edit profile" (click)="editProfile()"></button>
    </div>

    <div class="{{$class}}__additional-form"
        *ngIf="additionalFields.length">
        <ng-container *ngFor="let field of additionalFields"
            [ngSwitch]="field.type">
            <div *ngSwitchCase="'input'"
                wlc-input
                [inlineParams]="field.params">
            </div>

            <div *ngSwitchCase="'select'"
                wlc-select
                [inlineParams]="field.params">
            </div>
        </ng-container>
    </div>

    <ng-container [ngSwitch]="$params.mode">
        <ng-container *ngSwitchCase="'deposit'">
            <div class="{{$class}}__amount-form"
                wlc-form-wrapper
                [config]="depositFrom"
                [ngSubmit]="deposit.bind(this)">
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'withdraw'">
            <div class="{{$class}}__amount-form"
                wlc-form-wrapper
                [config]="withdrawFrom"
                [ngSubmit]="withdraw.bind(this)">
            </div>
        </ng-container>
    </ng-container>

</div>
