@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

.wlc-input--theme-default:host {
    @include inputBase($themeDefault);

    .wlc-input__label {
        @include cm.labelStyle;
    }

    .wlc-input__input {
        position: relative;
        width: 100%;

        input {
            @include resetAppearance();
            @include text.get-text-style(ef.get-value($themeDefault, 'inputTextStyle'), ef.get-value($themeDefault, 'inputColor'));

            width: 100%;
            height: ef.get-value($themeDefault, 'inputHeight');
            border: ef.get-value($themeDefault, 'inputBorder');
            border-radius: ef.get-value($themeDefault, 'inputBorderRadius');
            padding: ef.get-value($themeDefault, 'inputPadding');
            text-overflow: ellipsis;
            overflow: visible;

            &::placeholder {
                color: ef.get-value($themeDefault, 'inputPlaceholderColor');
            }

            &:focus {
                outline: none;
                border-color: ef.get-value($themeDefault, 'inputBorderFocusColor');

                &::placeholder {
                    color: transparent;
                }
            }

            &.ng-touched {

                &.ng-invalid {
                    background: ef.get-value($themeDefault, 'errorsBgColor');
                    border-color: ef.get-value($themeDefault, 'errorsBorderColor');
                }
            }

            &:disabled {
                color: ef.get-value($themeDefault, 'inputDisabledColor');
                background: ef.get-value($themeDefault, 'inputDisabledBg');
                border-color: ef.get-value($themeDefault, 'inputDisabledBorder');
                opacity: ef.get-value($themeDefault, 'inputDisabledOpacity');
            }
        }
    }

    .wlc-input__limits {
        @include text.get-text-style(ef.get-value($themeDefault, 'inputTextStyle'), ef.get-value($themeDefault, 'limitsColor'));
        display: block;
    }

    //TODO Make cross themes variables and styles
    &.wlc-input--right-shift {

        .field-icon--eye {
            position: absolute;
            top: ef.get-value($themeVertical, 'iconEyeTop');
            right: ef.get-value($themeVertical, 'iconEyeRight');
            z-index: 1;

            transform: ef.get-value($themeVertical, 'iconEyeTransform');
        }

        .field-icon--copy {
            position: absolute;
            top: ef.get-value($themeVertical, 'iconEyeTop');
            right: ef.get-value($themeVertical, 'iconEyeRight');
            background: none;
            border: none;
            transform: ef.get-value($themeVertical, 'iconEyeTransform');
            appearance: none;
        }

        .field-icon--currency {
            position: absolute;
            top: ef.get-value($themeVertical, 'iconEyeTop');
            right: ef.get-value($themeVertical, 'iconEyeRight');

            transform: ef.get-value($themeVertical, 'iconEyeTransform');
        }

        .wlc-input-status::ng-deep {

            .form-control__icon::ng-deep {
                right: ef.get-value($themeVertical, 'controlIconRight');
            }

            .wlc-tooltip {
                right: ef.get-value($themeVertical, 'controlErrorRight');
            }
        }
    }

    .field-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: ef.get-value($themeVertical, 'fieldIconSize');
        height: ef.get-value($themeVertical, 'fieldIconSize');

        line-height: ef.get-value($themeVertical, 'fieldIconLineHeight');

        &--copy,
        &--eye {
            cursor: pointer;

            ::ng-deep {

                svg path {
                    @include bm.transition(fill);
                    fill: ef.get-value($themeVertical, 'fieldIconSvgFill');
                }
            }


            &:active {

                ::ng-deep {

                    svg path {

                        fill: ef.get-value($themeVertical, 'fieldIconSvgFillActive');
                    }
                }
            }

            @include bm.hover {

                ::ng-deep {

                    svg path {
                        fill: ef.get-value($themeVertical, 'fieldIconSvgFillHover');
                    }
                }
            }
        }

        &--currency {
            color: ef.get-value($themeVertical, 'fieldIconSvgFill');
        }
    }
}
