@use 'sass:map';
@use 'engine-scss/mixins/mediaqueries' as mq;

@import '../utils/vars';
@import '../utils/mixins';

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

.wlc-input--theme-default:host {
    @include inputBase($themeDefault);

    .wlc-input__label {
        font-weight: map.get($themeDefault, 'labelFontWeight');
        font-size: map.get($themeDefault, 'labelFontSize');
        line-height: map.get($themeDefault, 'labelFontSize');
        color: map.get($themeDefault, 'labelColor');
    }

    .wlc-input__input {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            border: map.get($themeDefault, 'inputBorder');
            border-radius: map.get($themeDefault, 'inputBorderRadius');
            padding: map.get($themeDefault, 'inputPadding');
            text-overflow: ellipsis;
            overflow: visible;
            height: map.get($themeDefault, 'inputHeight');

            &:focus {
                outline: none;
                border-color: map.get($themeDefault, 'inputBorderFocusColor');
            }

            &.ng-touched {

                &.ng-invalid {
                    border-color: map.get($themeDefault, 'errorColor');
                }
            }
        }
    }
}
