@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/functions' as ef;

@import '../utils/vars';
@import '../utils/mixins';

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

.wlc-input--theme-default:host {
    @include inputBase($themeDefault);

    .wlc-input__label {
        @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'labelColor'));
    }

    .wlc-input__input {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            border: ef.get-value($themeDefault, 'inputBorder');
            border-radius: ef.get-value($themeDefault, 'inputBorderRadius');
            padding: ef.get-value($themeDefault, 'inputPadding');
            text-overflow: ellipsis;
            overflow: visible;
            height: ef.get-value($themeDefault, 'inputHeight');

            &:focus {
                outline: none;
                border-color: ef.get-value($themeDefault, 'inputBorderFocusColor');
            }

            &.ng-touched {

                &.ng-invalid {
                    background: ef.get-value($themeDefault, 'errorsBgColor');
                    border-color: darken(ef.get-value($themeDefault, 'errorsBgColor'), 10%);
                }
            }

            &[type='number'] {
                /* stylelint-disable */
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                /* stylelint-enable */
            }
        }
    }
}
