@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as bm;
@import '../utils/vars';
@import '../utils/mixins';

.wlc-input--theme-vertical:host {
    @include inputBase($themeVertical);

    grid-gap: ef.get-value($themeVertical, 'labelGap');

    .wlc-input__label {
        display: block;
        margin: ef.get-value($themeVertical, 'labelMargin');

        @include text.get-text-style('SignText', ef.get-value($themeVertical, 'labelColor'));

        cursor: pointer;
        user-select: none;
    }

    .wlc-input__container {
        position: relative;
    }

    .wlc-input__input {
        position: relative;
        display: block;
        width: ef.get-value($themeVertical, 'inputWidth');
        height: ef.get-value($themeVertical, 'inputHeight');
        padding: ef.get-value($themeVertical, 'inputPadding');

        background: ef.get-value($themeVertical, 'inputBackground');

        outline: none;
        border: ef.get-value($themeVertical, 'inputBorder');
        border-radius: ef.get-value($themeVertical, 'inputBorderRadius');

        @include text.get-text-style(PlaceholderText, ef.get-value($themeVertical, 'inputColor'));

        &::placeholder {
            color: ef.get-value($themeVertical, 'inputPlaceholderColor');
        }

        &.ng-touched {

            &.ng-invalid {
                background: ef.get-value($themeDefault, 'errorsBgColor');
                border-color: darken(ef.get-value($themeDefault, 'errorsBgColor'), 10%);
            }
        }
    }

    &.wlc-input--right-shift {

        .wlc-input__input {
            padding-right: ef.get-value($themeVertical, 'inputPaddingRight');
        }

        .field-icon--eye {
            position: absolute;
            top: ef.get-value($themeVertical, 'iconEyeTop');
            right: ef.get-value($themeVertical, 'iconEyeRight');

            transform: ef.get-value($themeVertical, 'iconEyeTransform');
        }

        .wlc-input-status::ng-deep {

            .form-control__icon::ng-deep {
                right: ef.get-value($themeVertical, 'controlIconRight');
            }

            .form-control__errors {
                right: ef.get-value($themeVertical, 'controlErrorRight');
            }
        }
    }

    .field-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: ef.get-value($themeVertical, 'fieldIconSize');
        height: ef.get-value($themeVertical, 'fieldIconSize');

        line-height: ef.get-value($themeVertical, 'fieldIconLineHeight');

        &--eye {
            cursor: pointer;

            ::ng-deep {

                svg path {
                    @include bm.transition(fill);
                }
            }

            &:hover {

                ::ng-deep {

                    svg path {
                        fill: ef.get-value($themeVertical, 'fieldIconSvgFillHover');
                    }
                }
            }

            &:active {

                ::ng-deep {

                    svg path {

                        fill: ef.get-value($themeVertical, 'fieldIconSvgFillActive');
                    }
                }
            }
        }
    }
}
