@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-main-menu--theme-default:host {

    ::ng-deep {

        .wlc-menu {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            width: ef.get-value($themeDefault, 'width');
            align-items: center;

            @include bm.get-mq-map('grid-gap', $themeDefault, 'gapSize');

            .wlc-menu {

                &__link {
                    text-decoration: ef.get-value($themeDefault, 'textDecoration');
                    @include text.get-text-style('ThirdTitle', ef.get-value($themeDefault, 'textColor'));
                    @include bm.get-mq-map('font-size', $themeDefault, 'fontSize');
                    cursor: pointer;

                    &:hover {
                        color: ef.get-value($themeDefault, 'textColorHover');
                    }

                    &.active {
                        color: ef.get-value($themeDefault, 'textColorHover');
                        font-weight: ef.get-value($themeDefault, 'fontWeightActive');
                    }
                }
            }
        }

        .wlc-menu--theme-mod-underline {

            .wlc-menu {

                &__link {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: ef.get-value($themeDefault, 'underlineOffset');
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 0;
                        background-color: ef.get-value($themeDefault, 'underlineColor');
                        opacity: 0;
                        pointer-events: none;
                    }

                    &:hover,
                    &.active {

                        &:before {
                            height: ef.get-value($themeDefault, 'underlineHeight');
                            opacity: 100%;
                            @include bm.transition();
                        }
                    }
                }
            }
        }
    }
}
