@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

@import '../../utils/vars';

.wlc-sections__footer--theme {

    &-1 {
        background: ef.get-value($theme1Footer, 'baseBackground');
        @include em.get-mq-map('padding-top', $theme1Footer, 'basePaddingTopBottom');
        @include em.get-mq-map('padding-bottom', $theme1Footer, 'basePaddingTopBottom');
        @include em.get-mq-map('margin-top', $theme1Footer, 'baseMarginTop');

        .container {
            display: grid;
            @include em.get-mq-map('grid-template-columns', $theme1Footer, 'footerContainerGridColumns');
            @include em.get-mq-map('grid-template-areas', $theme1Footer, 'footerContainerGridAreas');
            @include em.get-mq-map('gap', $theme1Footer, 'footerContainerGridGap');
        }

        .wlc-icon-list {

            &--theme-merchants {

                .wlc-icon-list {

                    &__wrapper {
                        @include em.get-mq-map('gap', $theme1Footer, 'iconListMerchantsGridGap');
                        @include em.get-mq-map('grid-template-columns', $theme1Footer, 'iconListMerchantsGridColumns');
                    }
                }
            }

            &--theme-payments {
                @include em.get-mq-map('max-width', $theme1Footer, 'iconListPaymentsMaxWidth');

                .wlc-icon-list__wrapper {
                    @include em.get-mq-map('padding', $theme1Footer, 'iconListPaymentsWrapperPadding');
                }

                .wlc-icon-list__item {
                    @include em.get-mq-map('width', $theme1Footer, 'iconListPaymentsItemWidth');

                    img,
                    .wlc-icon img,
                    .wlc-icon svg {
                        @include em.get-mq-map('max-height', $theme1Footer, 'iconListPaymentsItemImageMaxHeight');
                    }
                }
            }
        }

        .wlc-post-menu {
            display: flex;
            @include em.get-mq-map('justify-content', $theme1Footer, 'postMenuJustify');

            &__item,
            &__title {
                @include em.get-mq-map('text-align', $theme1Footer, 'postMenuTextAlign');
            }

            &__title {
                @include em.get-mq-map('font-size', $theme1Footer, 'postMenuTitleFontSize');
            }

            &--theme-mod-footer-info {
                grid-area: info;
            }

            &--theme-mod-footer-about {
                grid-area: about-us;
            }
        }

        .wlc-disclaimer {
            grid-area: disclaimer;
            @include em.get-mq-map('font-size', $theme1Footer, 'disclamerFontSize');
            @include em.get-mq-map('text-align', $theme1Footer, 'disclamerTextAlign');
        }

        .wlc-language-selector {
            grid-area: language;
            @include em.get-mq-map('justify-self', $theme1Footer, 'languageJustifySelf');
        }

        .wlc-about-us {

            .wlc-license {
                @include em.get-mq-map('margin', $theme1Footer, 'licenseAboutUsMargin');
            }
        }

        .wlc-license {
            display: flex;
            flex-direction: row-reverse;
            @include em.get-mq-map('margin', $theme1Footer, 'licenseMargin');
        }
    }
}
