@mixin menuControls($config) {

    .wlc-category-menu {

        &__controls {
            @include bm.get-mq-map('display', $config, 'controlsDisplay');
            position: absolute;
            top: 0;
            left: 0;
            z-index: 13;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        &__control {
            position: relative;
            display: flex;
            align-items: center;
            width: ef.get-value($config, 'controlWidth');
            height: ef.get-value($config, 'controlHeight');
            padding: ef.get-value($config, 'controlPadding');
            color: ef.get-value($config, 'controlArrowColor');
            background: none;
            cursor: pointer;
            border: none;
            transition: ef.get-value($config, 'controlTransition');
            pointer-events: initial;

            &:before {
                @include bm.get-mq-map('background', $config, 'controlBg');
                @include bm.get-mq-map('display', $config, 'controlBgDisplay');
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
            }

            &:disabled {
                display: none;
            }

            .wlc-icon {
                @include bm.get-mq-map('display', $config, 'controlArrowDisplay');
                line-height: 1;
                transform: ef.get-value($config, 'controlArrowTransform');
            }

            .wlc-icon-content {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg {
                transform: var(--wlc-category-menu-svg-transform, none);
            }

            &--prev {
                --wlc-category-menu-svg-transform: #{ef.get-value($config, 'controlPrevSvgTransform')};
                @include bm.get-mq-map('margin', $config, 'controlPrevMargin');
                justify-content: ef.get-value($config, 'controlPrevJustifyContent');
            }

            &--next {
                --wlc-category-menu-svg-transform: #{ef.get-value($config, 'controlNextSvgTransform')};
                @include bm.get-mq-map('margin', $config, 'controlNextMargin');
                justify-content: ef.get-value($config, 'controlNextJustifyContent');

                &:before {
                    transform: ef.get-value($config, 'controlNextBgTransform');
                }
            }

            @include bm.hover {
                color: ef.get-value($config, 'controlArrowColorHover');
            }
        }
    }
}
