@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'gapSize': (
        375: ef.get('size', 'small'),
        1024: ef.get('size', 'less'),
        1420: ef.get('size', 'big')
    ),
    'paddingSize': ef.get('size', 'smaller'),
    'menuGag': ef.get('size', 'smallest'),
    'linkPadding': 12px 5px,
    'linkActiveWeight': bold,
    'linkFont': PrimaryText,
    'linkColor': var(--mc-baseMain),
    'linkColorHovered': var(--mc-baseMain),
    'linkDecoration': none,
    'underlineOffset': 0,
    'underlineColor': var(--mc-main),
    'underlineHeight': 6px,
    'underlineRadius': ef.get('radius', 'large'),
    'swiperBoxShadowStart': 5px 0 5px -5px #867f7f63,
    'swiperBoxShadowEnd': -5px 0 5px -5px #867f7f63,

    'iconAlignItems': center,
    'iconJustifyContent': center,
    'iconOuterWidth': 30px,
    'iconOuterHeight': 30px,
    'iconMargin': 0 5px 0 0,
    'iconSvgMaxWidth': 100%,
), $customThemeDefault);

$customDropdownThemeDefault: () !default;
$themeDropdownDefault: map-merge((
    'menuGag': ef.get('size', 'smallest'),
    'activeTabLinkColor': var(--mc-baseMain),
    'activeTabLinkBg': var(--mc-main),
    'linkPadding': 10px 12px,
    'linkColor': var(--mc-baseMain),
    'linkBg': var(--mc-bg700),
    'activeLinkBg': var(--mc-bg500),
    'linkFill': var(--mc-baseMain),
    'linkBorderRadius': ef.get('radius', 'biger'),
    'submenuBg': var(--mc-bg700),
    'submenuPadding': 5px 0,
    'arrowFillColor': var(--mc-baseOpacity),
    'arrowFillColorActive': var(--mc-baseMain),
), $customDropdownThemeDefault);

$customWithIcons: () !default;
$withIcons: map-merge((
    'menuGag': ef.get('size', 'small'),
    'iconDirection': column,
    'iconAlign': center,
    'menuItemColor': var(--mc-baseMain),
    'menuItemPadding': (
        375: 0 ef.get('size', 'smaller') 0 0,
    ),
    'menuItemMargin': (
        375: 0 auto,
    ),
    'linkWidth': 140px,
    'linkTextWidth': 130px,
    'menuIconFlexDirection': column,
    'menuIconAlignItems': center,
    'menuIconJustifyContent': center,
    'menuIconOuterWidth': 86px,
    'menuIconOuterHeight': 86px,
    'menuIconInnerHeight': initial,
    'menuIconInnerWidth': initial,
    'menuItemTextAlign': center,
    'menuIconBackground': var(--mc-bg700),
    'menuIconBorderRadius': ef.get('radius', 'biger'),
    'menuIconHoverBackground': var(--mc-main),
    'transition': 0.5s ease-in,
    'iconColor': var(--mc-main),
    'menuIconInnerMaxWidth': initial,
    'menuIconInnerMaxHeight': initial,
    'menuIconInnerFill': null,
), $customWithIcons);
