$userInfoColor: #fff !default;

$userInfoShortMargin: 0 20px !default;

$userInfoDropdownBtnPadding: 5px 12px 5px 5px !default;
$userInfoDropdownBtnBorder: 2px solid #f2f2f2 !default;
$userInfoDropdownBtnBorderRadius: 100px !default;
$userInfoDropdownArrowMargin: 0 0 0 32px !default;
$userInfoDropdownArrowFill: #fff !default;
$userInfoDropdownBtnIconSize: 27px !default;

$userInfoDropdownTop: calc(100% + 10px) !default;
$userInfoDropdownRight: 0 !default;
$userInfoDropdownMinWidth: 270px !default;
$userInfoDropdownBoxShadow: 3px 4px 15px -3px #000 !default;
$userInfoDropdownPadding: 20px 10px 15px !default;
$userInfoDropdownBg: #555459 !default;
$userInfoDropdownBorderRadius: 10px !default;

$userInfoGap: 15px !default;
$userInfoDepositBtnMarginMobile: 0 16px 0 0 !default;
$userInfoDepositBtnMarginDesktop: 0 32px 0 0 !default;
$userInfoDepositBtnPaddingMobile: 5px 7px !default;
$userInfoDepositBtnPaddingDesktop: 5px 20px !default;
