<div class="{{$class}}-info">
    <span wlc-icon
        class="{{$class}}-info__icon"
        iconPath="/wlc/icons/info.svg">
    </span>
    <span class="{{$class}}-info__message">
        {{'You can read more about the Responsible Game functionality' | translate}}
        <a class="{{$class}}-info__message-link"
            (click)="showModal('staticText', 'responsible-game')">
            {{'here' | translate}}</a>.
    </span>
</div>

<div class="{{$class}}__wrap"
    wlc-form-wrapper
    [config]="formConfig"
    [formData]="formData"
    (form$)="getForm($event)"
    [ngSubmit]="onSubmit.bind(this)">
</div>

<div class="{{$class}}-list" *ngIf="!loading; else loader">
    <div *ngIf="limits.value.length; else empty"
         wlc-table
         [inlineParams]='tableData'></div>
</div>

<ng-template #empty>
    <div wlc-wrapper [inlineParams]="$params.emptyConfig"></div>
</ng-template>

<ng-template #loader>
    <div wlc-loader></div>
</ng-template>
