@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as em;

::ng-deep {

    .wlc-modal--type-default.wlc-modal--payment-message {

        .wlc-modal__footer {
            padding-top: 0;
        }
    }
}

.wlc-crypto-data--theme-default:host {
    @include em.get-mq-map('margin', $themeDefault, 'wrapperMargin');
    @include em.get-mq-map('max-width', $themeDefault, 'wrapperMaxWidth');
    @include em.get-mq-map('display', $themeDefault, 'wrapperDisplay');
    @include em.get-mq-map('gap', $themeDefault, 'wrapperGridGap');
    @include em.get-mq-map('grid-template-columns', $themeDefault, 'wrapperGridTemplateColumn');

    .wlc-crypto-data {

        &__text {
            @include em.get-mq-map('max-width', $themeDefault, 'textMaxWidth');
            @include em.get-mq-map('text-align', $themeDefault, 'textAlignment');
        }

        &__text-row {
            @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'textColor'));
            @include em.get-mq-map('margin', $themeDefault, 'textRowMargin');
        }

        &__clipboard {
            @include em.get-mq-map('margin', $themeDefault, 'clipboardMargin');
        }

        &__qr {
            display: grid;
            grid-template-rows: ef.get-value($themeDefault, 'qrGridRows');
            grid-template-columns: ef.get-value($themeDefault, 'qrGridColumns');
            @include em.get-mq-map('grid-gap', $themeDefault, 'qrGridGap');
            @include em.get-mq-map('justify-items', $themeDefault, 'qrJustifyContent');

            min-height: ef.get-value($themeDefault, 'qrBlockMinHeight');
        }

        &__qr-text {
            @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'textColor'));
            @include em.get-mq-map('display', $themeDefault, 'qrTextDisplay');
        }

        &__qr-wrapper {
            position: relative;
            @include em.get-mq-map('width', $themeDefault, 'qrWrapperWidth');
        }

        &__qr-image {
            @include em.get-mq-map('position', $themeDefault, 'qrImgPos');
            top: ef.get-value($themeDefault, 'qrImgPosTop');
            left: ef.get-value($themeDefault, 'qrImgPosLeft');

            display: block;
            width: ef.get-value($themeDefault, 'qrImgWidth');
            height: ef.get-value($themeDefault, 'qrImgHeight');
            max-height: ef.get-value($themeDefault, 'qrImgMaxHeight');
            @include em.get-mq-map('max-width', $themeDefault, 'qrImgMaxWidth');

            object-fit: contain;
            object-position: ef.get-value($themeDefault, 'qrImgObjectPos');

            transform: ef.get-value($themeDefault, 'qrImgTransform');
        }

        &__warning {
            @include text.get-text-style('PlaceholderText', ef.get-value($themeDefault, 'textColor'));
            @include em.get-mq-map('margin', $themeDefault, 'warningMargin');
            @include em.get-mq-map('text-align', $themeDefault, 'warningAlignment');

            .stress {
                color: ef.get-value($themeDefault, 'warningStressColor');
            }
        }
    }

    &.wlc-crypto-data--theme-mod-modal {
        display: ef.get-value($themeDefault, 'wrapperModalDisplay');
        max-width: ef.get-value($themeDefault, 'wrapperModalMaxWidth');
        margin: ef.get-value($themeDefault, 'wrapperModalMargin');

        .wlc-crypto-data {

            &__text {
                max-width: ef.get-value($themeDefault, 'textModalMaxWidth');
                text-align: ef.get-value($themeDefault, 'textModalAlignment');
            }

            &__qr-text {
                display: ef.get-value($themeDefault, 'qrTextModalDisplay');
            }

            &__qr {
                display: ef.get-value($themeDefault, 'qrModalDisplay');
                justify-content: ef.get-value($themeDefault, 'qrModalJustifyContent');
            }

            &__qr-image {
                position: static;
                max-width: ef.get-value($themeDefault, 'qrImgMaxWidth', 375);
                margin: ef.get-value($themeDefault, 'qrModalImgMargin');
            }

            &__warning {
                text-align: ef.get-value($themeDefault, 'warningModalAlignment');
            }
        }
    }
}
