.wlc-sections__content-wins--theme-default {

    .wlc-home-wins {
        @include sm.homePromoWins($themeHomeWins, 'homeWins');
    }

    .wlc-home-wins.wlc-home-wins--tournament {
        @include sm.homePromoWins($themeHomeWins, 'tournament');
        @include sm.homePromoTournaments($themeHomeWins);
    }

    .wlc-home-wins-bonuses {
        @include sm.homePromoWins($themeHomeWins, 'bonuses');
        @include bm.get-mq-map('grid-template-areas', $themeHomeWins, 'bonusesGridAreas');

        .wlc-winners-slider {

            &--type-latest {
                grid-area: recent-wins;
            }

            &--type-biggest {
                grid-area: biggest-wins;
            }
        }

        .wlc-bonuses-list {
            grid-area: bonus;
        }
    }
}
