.wlc-sections__content-wins-transparent {

    .wlc-home-wins {
        @include bm.get-mq-map('grid-template-columns', $themeHomeWinsTransparent, 'homeWinsGridTemplateColumns');
        @include bm.get-mq-map('gap', $themeHomeWinsTransparent, 'homeWinsGap');
        display: grid;
        max-width: ef.get-value($themeHomeWinsTransparent, 'homeWinsMaxWidth');
        margin: ef.get-value($themeHomeWinsTransparent, 'homeWinsMargin');
    }
}
