@import './utils/vars';

.wlc-close:host {
    outline: none;
    border: none;

    line-height: 0;

    cursor: pointer;
    user-select: none;

    transition: $transition;

    &:hover {
        color: $iconColorHover;
    }

    &:focus,
    &:active {
        outline: none;
    }

    &::ng-deep {

        span {
            display: inline-block;
            line-height: 0;
        }
    }
}

@import 'themes/default';
