<div *ngIf="showHeader" class="{{$class}}__header">
    {{lottery.drawingDateFormatted}}
</div>
<div *ngIf="list.length; else nodata" class="{{$class}}__list">
    <div class="{{$class}}__item {{$class}}__item--head">
        <div class="{{$class}}__row {{$class}}__row--head">
            <div class="{{$class}}__col {{$class}}__col--place">
                <span class="{{$class}}__col-content">#</span>
            </div>
            <div class="{{$class}}__col {{$class}}__col--users">
                <span class="{{$class}}__col-content">{{'User' | translate}}</span>
            </div>
            <div class="{{$class}}__col {{$class}}__col--prize">
                <span class="{{$class}}__col-content">{{'Prize' | translate}}</span>
            </div>
        </div>
    </div>
    <div *ngFor="let item of list;" class="{{$class}}__item">
        <div *ngFor="let row of item.rows; index as $index;"
            class="{{$class}}__row"
            [class.current]="row.isCurrent">
            <div class="{{$class}}__col {{$class}}__col--place">
                <span *ngIf="$index < 1" class="{{$class}}__col-content">{{item.place}}</span>
            </div>
            <div class="{{$class}}__col {{$class}}__col--users">
                <span class="{{$class}}__col-content">{{row.user}}</span>
            </div>
            <div class="{{$class}}__col {{$class}}__col--prize">
                <span *ngIf="$index < 1" class="{{$class}}__col-content">
                    <span wlc-lottery-prize [prize]="item.prize"></span>
                </span>
            </div>
        </div>
        <div *ngIf="item.extraUsers" class="{{$class}}__row {{$class}}__row--extra">
            <div class="{{$class}}__col {{$class}}__col--place"></div>
            <div class="{{$class}}__col {{$class}}__col--users">
                <span class="{{$class}}__col-content">{{'And {{extraUsers}} users more' | translate | translate:item}}</span>
            </div>
            <div class="{{$class}}__col {{$class}}__col--prize"></div>
        </div>
    </div>
    <div *ngIf="showAllBtn" class="{{$class}}__control">
        <button wlc-button
            class="{{$class}}__btn"
            [inlineParams]="$params.showAllBtnParams"
            [text]="toggleBtnText"
            [attr.data-wlc-element]="'button_toggle_lottery_winners'"
            (click)="toggleResults()">
        </button>
    </div>
</div>

<ng-template #nodata>
    <div class="{{$class}}__nodata">
        {{'No data' | translate}}
    </div>
</ng-template>
