<div class="{{$class}}__header">
    <div class="{{$class}}__title-main">
        {{'Security' | translate}}
    </div>
</div>
<div class="{{$class}}__body">
    <div class="{{$class}}__block">
        <div class="{{$class}}__title-main">
            {{'Google Authenticator' | translate}}
        </div>
        <div class="{{$class}}__title-description">
            {{'Protect your account and transactions' | translate}}
        </div>
    </div>
    <ng-template [ngIf]="enabled2FAGoogle" [ngIfElse]="notLinked">
        <div class="{{$class}}__information {{$class}}__information--success">
            {{'Enabled' | translate}}
            <div class="{{$class}}__information-success-icon"
                 wlc-icon iconUrl="/wlc/icons/verified-icon.svg">
            </div>
        </div>
    </ng-template>
    <div class="{{$class}}__btn-block">
        <ng-template [ngIf]="enabled2FAGoogle" [ngIfElse]="enable">
            <button wlc-button
                    text="Disable"
                    themeMod="secondary"
                    wlcElement="button_google-auth"
                    [disabled]="lockButton"
                    typeAttr="button"
                    (click)="openModalDisable2FA()">
            </button>
        </ng-template>
    </div>
</div>

<ng-template #notLinked>
    <div class="{{$class}}__information">
        {{'Not linked' | translate}}
    </div>
</ng-template>
<ng-template #enable>
    <button wlc-button
        text="Enable"
        wlcElement="button_google-auth"
        [disabled]="lockButton"
        typeAttr="button"
        (click)="openModalEnable2FA()">
    </button>
</ng-template>
