@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@import '../utils/vars';

.wlc-timer--theme-default:host {

    &.wlc-timer--theme-mod-play-time {

        .time-text__item {

            .text:not(.text-days) {
                display: none;
            }
        }

        .wlc-timer {

            &__content {
                padding: ef.get-value($themeDefault, 'timerPaddingPlayTime');
            }

            &__timer-text {
                display: flex;
                flex-direction: ef.get-value($themeDefault, 'timerTextFlexDirection');
                justify-content: ef.get-value($themeDefault, 'timerTextJustifyContent');
                width: ef.get-value($themeDefault, 'timerTextWidth');
            }
        }
    }

    &.wlc-timer--theme-mod-light {

        .wlc-timer {

            &__content {
                padding: ef.get-value($themeDefault, 'timerPaddingPlayTimeLight');
                background-color: ef.get-value($themeDefault, 'timerBgLight');

                .time-text {
                    @include text.get-text-style(ef.get-value($themeDefault, 'timerFontStyleLight'), ef.get-value($themeDefault, 'timerColor'));

                    &__divider {
                        margin: ef.get-value($themeDefault, 'timerNumbersOffsetLight');
                    }
                }
            }

            &__clock-icon {
                margin: ef.get-value($themeDefault, 'timeIconMarginLight');
                font-size: 0;

                ::ng-deep {

                    svg {
                        width: ef.get-value($themeDefault, 'timeIconSizeLight');
                        height: ef.get-value($themeDefault, 'timeIconSizeLight');
                        fill: ef.get-value($themeDefault, 'timeIconFillLight');
                    }
                }
            }
        }
    }

    .wlc-timer {

        &__content {
            display: flex;
            align-items: ef.get-value($themeDefault, 'timerAlignItems');
            padding: ef.get-value($themeDefault, 'timerPadding');
            background-color: ef.get-value($themeDefault, 'timerBg');
            border-radius: ef.get-value($themeDefault, 'timerRadius');

            .time-text {
                @include text.get-text-style(ef.get-value($themeDefault, 'timerFontStyle'), ef.get-value($themeDefault, 'timerColor'));

                &--countdown {
                    display: flex;
                }

                &__divider {
                    margin: ef.get-value($themeDefault, 'timerNumbersOffset');
                }
            }
        }

        &__clock-icon {
            margin: ef.get-value($themeDefault, 'timeIconMargin');

            ::ng-deep {

                svg {
                    width: ef.get-value($themeDefault, 'timeIconSize');
                    height: ef.get-value($themeDefault, 'timeIconSize');
                    fill: ef.get-value($themeDefault, 'timeIconFill');
                }
            }
        }

        &__timer-text {
            line-height: ef.get-value($themeDefault, 'timerTextLineHeight');
            text-align: ef.get-value($themeDefault, 'timerTextAlign');

            .secondary-text {
                @include text.get-text-style(ef.get-value($themeDefault, 'secondaryTextFontStyle'), ef.get-value($themeDefault, 'secondaryTextColor'));
            }
        }
    }
}
