$customHostModal: () !default;
$hostModal: map-merge((
    // Auto Size modal - width: auto;
    'modalASSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 994px,
        1200: 1140px,
        1366: 1336px,
        1420: 1390px,
        1630: 1435px
    ),
    'modalXXlSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 994px,
        1200: 1140px,
        1366: 1336px,
        1420: 1390px,
        1630: 1435px
    ),
    'modalXlSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 1000px,
    ),
    'modalLgSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 800px,
    ),
    'modalMdSize': 500px,
    'modalSmSize': 300px,

    'modalWrapperPadding': (
        320: 30px 0,
        900: 50px 0,
    ),

    'closePosRight': (
        320: ef.size(2),
        768: ef.size(5),
    ),
    'closePosTop': (
        320: 42px,
        768: 48px,
    ),
    'closePosTopHeadLess': (
        320: 25px,
        768: 32px,
    ),
    'closeSize': 30px,
    'closeLineStroke': var(--mc-baseMain),

    'modalBodyFlex': 1 1 auto,
    'modalHeaderColor': var(--mc-baseMain),
    'modalBodyColor': var(--mc-baseMain),
    'modalBg': var(--mc-bgModal),
    'modalOffset': 0 auto 50px auto,
    'modalOffsetMobile': ef.size(-6) auto 0 auto,
    'modalOffsetIosMobile': ef.size(-6) auto ef.size(10) auto,
    'modalBorder': 1px solid var(--mc-bg-o2),
    'modalBorderRadius': ef.get('radius', 'small'),
    'modalFooterBtnsMargin': 0 ef.size(2),
    'modalHeaderPadding': (
        320: ef.size(6) ef.size(3) 0,
        768: ef.size(6) ef.size(6) 0,
    ),
    'modalHeaderLangPadding': ef.size(6),
    'modalBodyPadding': (
        320: ef.size(6) ef.size(3) ef.size(8),
        768: ef.size(6),
    ),
    'modalFooterPadding': (
        320: 0 ef.size(3) ef.size(6),
        768: 0 ef.size(6) ef.size(6),
    ),
    'modalBodyPaddingConfirm': ef.size(2) ef.size(6),
    'modalFooterPaddingConfirm': ef.size(6) ef.size(6) ef.size(8) ef.size(6),
    //'modalHeaderBorderBottom': 1px solid var(--mc-baseOpacity),
    'modalHeaderBorderBottom': unset,
    'modalFooterBorderTop': 1px solid transparent,
    'modalFooterJustify': center,
    'modalBackdrop': var(--mc-bg),
    'modalAnimationSettings': 0.3s forwards ease-in-out,

    'modalZIndex': 1050,
    'modalPosition': 0,
    'backdropZIndex': 1040,
    'backdropPosition': 0,
    'backdropBackground': var(--mc-bg),
    'backdropSignUpBackground': var(--mc-bgModal),
    'backdropSignUpOpacity': 1,
    'dialogBackground': var(--mc-bgModal),
    'dialogShadow': (
        375: none,
        560: ef.get('shadow', 'lg'),
    ),
    'backdropOpacity': (
        375: 1,
        560: 0.65,
    ),

    'titleFontSize': (
        320: 'PrimaryTextBold',
        768: 'QoteTextBold',
    ),
    'titleMargin': 0,
    'titleColor': var(--mc-baseMain),
    'titleWidth': 100%,
    'titleMaxWidth': 100%,
    'titlePadding': 0 ef.size(5),
    'titlePaddingLeft': (
        320:  ef.size(3),
    ),
    'titlePaddingRight': (
        320: 45px,
        900: 75px,
    ),
    'titleBackBtnWidth': 100%,

    'backBtnTopPostion' : 31px,
    'backBtnLeftPostion' : 26px,
    'backBtnWidth': (
        320: 30px,
        900: 60px,
    ),
    'backBtnHeight': (
        320: 20px,
        768: 32px,
    ),
    'backBtnFontStyle': 'PlaceholderTextBold',
    'backBtnPadding': ef.size(2) 0,
    'backBtnColor': var(--mc-main),
    'backBtnColorHover': var(--mc-baseMain),
    'backBtnIconColor': var(--mc-main),
    'backBtnIconColorHover': var(--mc-baseMain),
    'backBtnIconWidth': (
        320: 14px,
        900: 10px,
    ),
    'backBtnIconHeight': (
        320: 12px,
        900: 8px,
    ),
    'backBtnIconLineHeight': 0,
    'backBtnIconMargin': 1px ef.size(1) 0 0,

    'messageColor': var(--mc-baseMain),
    'messageFontSizeConfirm': ef.get('font', 'PrimaryText'),

    'iconSize': 120px,
    'iconMargin': 0 0 ef.size(8) 0,
    'iconColorConfirm': var(--mc-bg500),

    'paddingDefault': 3rem 4rem,
    'paddingHeadless': 0,

    'dialogOverflow': (
        320: visible,
    ),

    // animation
    'fadeBottomFromHorizontal': 0,
    'fadeBottomFromVertical': 100px,
    'fadeBottomToHorizontal': 0,
    'fadeBottomToVertical': 50px,

    'fadeLeftFromHorizontal': -50px,
    'fadeLeftFromVertical': 0,
    'fadeLeftToHorizontal': 0,
    'fadeLeftToVertical': 0,

    'fadeRightFromHorizontal': 50px,
    'fadeRightFromVertical': 50px,
    'fadeRightToHorizontal': 0,
    'fadeRightToVertical': 50px,

    // Scale
    'scaleFrom': scale(0.7),
    'scaleTo': scale(1),

    // Fall
    'fallFrom':translateZ(600px) rotateX(20deg),
    'fallTo': translateZ(0) rotateX(0deg),

    // SideFall
    'sideFallFrom': translate(30%) translateZ(600px) rotate(10deg),
    'sideFallTo': translate(0%) translateZ(0) rotate(0deg),

    // Flip
    'flipFrom': rotateY(-70deg),
    'flipTo': rotateY(0deg),

    // SuperScaled
    'superScaledFrom': scale(2),
    'superScaledTo': scale(1),

    // Slit
    'slitFrom': translateZ(-3000px) rotateY(90deg),
    'slitBetween': translateZ(-250px) rotateY(89deg),
    'slitTo': translateZ(0) rotateY(0deg),

    // and animation

    //scrollable
    'scrollBarWidth': 7px,
    'scrollBarTrackColor': var(--mc-bgModal-l5),
    'scrollBarColor': var(--mc-bgModal-d5),
    'staticMinHeight': (
        375: 150px,
    ),
    'staticMaxHeightMobile': (
        375: 100%,
        1024: calc(100vh - 330px),
    ),
    'staticMaxHeightMobileIos': (
        375: 100%,
        1024: calc(100vh - 350px),
    ),
    'scrollModalBodyMargin': (
        320: ef.size(6) 0,
    ),
    'scrollModalBodyPadding': (
        320: 0 ef.size(3) 0,
        768: 0 ef.size(6) 0,
    ),
    'scrollbarTrackBg': var(--mc-bg500),
    'scrollbarThumbBg': var(--mc-main),
    'scrollbarBorder': 1px solid var(--mc-bg500),
), $customHostModal);

$customLanguageModal: () !default;
$languageModal: map-merge((
    'paddingBody': 0 ef.size(6),
), $customLanguageModal);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'dialogBackground': (
        375: var(--mc-bgModal),
        560: none,
    ),
    'dialogBorder': 1px solid var(--mc-bg-o2),
    'dialogBorderRadius': ef.get('radius', 'big'),
    'titleFontSize': (
        320: 'PrimaryTextBold',
        768: 'QoteTextBold',
    ),
    'titleMargin': 0,
    'titleColor': var(--mc-baseMain),

    // loginSignUp modal modifier
    'loginSignUpModalWrapperPadding': (
        320: 10px 0,
        900: 50px 0,
    ),
    'loginSignUpModalBackground': (
        320: var(--mc-bgModal),
        900: transparent,
    ),

    'loginSignUpHeaderPadding': (
        320: 15px,
        900: 0,
    ),

    'loginSignUpClosePosTop': (
        320: 50%,
        900: 38px,
    ),

    'loginSignUpClosePosRight': (
        320: 10px,
        560: -7px,
        900: 20px,
    ),

    'loginSignUpTitleDisplay': (
        320: block,
        900: none,
    ),

    'loginSignUpTextFontSize': (
        320: ef.get('font', 'ThirdTitleBold'),
        768: ef.get('font', 'QoteTextBold'),
    ),
    'loginSignUpTextColor': var(--mc-baseMain),
    'loginSignUpTitleStyle': 'PrimaryTextBold',
    'loginSignUpTitleColor': var(--mc-baseMain),
    'loginSignUpTitleAlign': center,

    'loginSignUpDialogHeight': (
        320: 100%,
        560: auto,
    ),

    'loginSignUpDialogMarign': (
        320: 0 auto,
        560: auto,
    ),

    'loginSignUpDialogBorder': (
        320: none,
        900: 1px solid var(--mc-bg-o2),
    ),
    'loginSignUpDialogShadow': (
        375: none,
        560: none,
        900: ef.get('shadow', 'lg'),
    ),
    // loginSignUp modal modifier

    // restore password modal modifier
    'restoreModalWrapperPadding': (
        320: 10px 0,
        900: 50px 0,
    ),
    'restoreModalBackground': (
        320: var(--mc-bgModal),
        560: transparent,
    ),
    'restoreModalBodyPadding': (
        320: ef.size(16) ef.size(3) ef.size(6),
        768: ef.size(6) ef.size(6),
    ),

    'restoreDialogBorder': (
        320: none,
        560: 1px solid var(--mc-bg-o2),
    ),

    'restoreDialogMarign': (
        320: -10px auto 0,
        560: auto,
    ),

    'restoreDialogHeight': (
        320: 100%,
        560: auto,
    ),

    'restoreBtnTextDisplay': (
        320: none,
        900: block,
    ),
    'restoreTitleStyleDesk': 'QoteTextBold',
    'restoreTitleStyle': 'PrimaryTextBold',
    'restoreTitleColor': var(--mc-baseMain),

    'restoreBodyPadding': (
        320: ef.size(12) ef.size(6) ef.size(6),
        560: ef.size(2) ef.size(6) ef.size(6),
    ),
    // restore password modal modifier

    // login-sign-up
    'loginSignupWidth': (
        320: 100%,
        560: 500px,
        900: auto,
    ),
    // login-sign-up

    //tournament-details
    'tournamentDetailPadding': (
        320: 0,
    ),
    'tournamentDetailFooterPadding': (
        320: ef.size(4) 0,
    ),
    'tournamentDetailIconCloseTop': (
        320: ef.size(3),
        768: 17px,
    ),
    //tournament-details

    //loyalty-info-modal
    'loyaltyInfoBodyPadding': 0,
    //loyalty-info-modal

    //bonus-info
    'bonusInfoDefaultBodyPadding': ef.size(2) ef.size(6) ef.size(6) ef.size(6),
    'bonusInfoDefaultWrapperPadding': ef.size(6) 0 0 0,
    //bonus-info

    //bonus-modal
    'bonusModalMaxWidth': (
        900: 650px,
    ),
    'bonusModalBodyPadding': 0,
    'bonusModalWrapperPadding': ef.size(6) 0 0 0,
    'bonusModalOverflow': hidden,
    'bonusModalIconCloseTop': ef.size(5),
    'bonusModalIconCloseRight': ef.size(5),
    //bonus-modal

    //data-is-processing
    'dataIsProcessingHeight': 100%,
    'dataIsProcessingPadding': 0,
    //data-is-processing

    //wp-promo-content
    'wpPromoModalMaxWidth': (
        900: 650px,
    ),
    //wp-promo-content

    //games-slider
    'sliderModalBodyPadding': ef.size(16) ef.size(6),
    'sliderModalBg': null,
    //games-slider

    'selectMaxHeight': 200px,

    // internal-mails-content
    'internalMailContentStyle': 'PrimaryText',
    'internalMailContentColor': var(--mc-baseMain),
    // internal-mails-content

    // lootbox-modal
    'lootboxModalMaxWidth': (
        320: 100%,
        640: 650px,
    ),
    'lootboxModalBodyPadding': ef.size(6) 0 0,
    'lootboxModalBodyBg': url('/gstatic/wlc/bonuses/lootbox/lootbox-modal-bg.jpg') no-repeat center,
    'lootboxModalBodyBgSize': cover,
), $customThemeDefault);
