@use 'engine-scss/functions' as ef;

$customHostModal: () !default;
$hostModal: map-merge((
    // Auto Size modal - width: auto;
    'modalASSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 994px,
        1200: 1140px,
        1366: 1336px,
        1420: 1390px,
        1630: 1435px
    ),
    'modalXXlSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 994px,
        1200: 1140px,
        1366: 1336px,
        1420: 1390px,
        1630: 1435px
    ),
    'modalXlSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 870px,
        1024: 994px,
        1200: 1140px,
    ),
    'modalLgSize': (
        320: 100%,
        560: 530px,
        640: 610px,
        720: 690px,
        768: 738px,
        900: 800px,
    ),
    'modalMdSize': 500px,
    'modalSmSize': 300px,

    'modalWrapperPadding': (
        320: 30px 0,
        900: 50px 0,
    ),

    'closePosRight': 25px,
    'closePosTop': (
        320: 32px,
    ),
    'closeSize': 30px,
    'closeLineStroke': ef.get('mainColors', 'baseMain'),

    'modalHeaderColor': ef.get('mainColors', 'baseMain'),
    'modalBodyColor': ef.get('mainColors', 'baseMain'),
    'modalBg': ef.get('mainColors', 'bgModal'),
    'modalOffset': 0 auto 50px auto,
    'modalOffsetMobile': -#{ef.get('size', 'less')} auto 0 auto,
    'modalOffsetIosMobile': -#{ef.get('size', 'less')} auto ef.get('size', 'biger') auto,
    'modalBorder': 1px solid rgba(ef.get('mainColors', 'bg'), $alpha: 0.2),
    'modalBorderRadius': ef.get('radius', 'small'),
    'modalFooterBtnsMargin': 0 ef.get('size', 'small'),
    'modalHeaderPadding': ef.get('size', 'smaller') ef.get('size', 'less'),
    'modalHeaderLangPadding': ef.get('size', 'less'),
    'modalBodyPadding': ef.get('size', 'less'),
    'modalBodyPaddingConfirm': ef.get('size', 'small') ef.get('size', 'less'),
    'modalFooterPadding': ef.get('size', 'less'),
    'modalFooterPaddingConfirm': ef.get('size', 'less') ef.get('size', 'less') ef.get('size', 'main') ef.get('size', 'less'),
    //'modalHeaderBorderBottom': 1px solid ef.get('mainColors', 'baseOpacity'),
    'modalHeaderBorderBottom': unset,
    'modalFooterBorderTop': 1px solid transparent,
    'modalFooterJustify': center,
    'modalBackdrop': ef.get('mainColors', 'bg'),
    'modalAnimation': 'fadeLeft',
    'modalAnimationSettings': 0.3s forwards ease-in-out,

    'modalZIndex': 1050,
    'modalPosition': 0,
    'backdropZIndex': 1040,
    'backdropPosition': 0,
    'backdropBackground': ef.get('mainColors', 'bg'),
    'dialogBackground': ef.get('mainColors', 'bgModal'),

    'titleFontSize': 'QoteTextBold',
    'titleFontSizeMobile': 'ThirdTitleBold',
    'titleMargin': 0,
    'titleColor': ef.get('mainColors', 'baseMain'),
    'titleWidth': 100%,
    'titleMaxWidth': 100%,
    'titlePadding': 0 ef.get('size', 'smally') 0 ef.get('size', 'smally'),
    'titlePaddingLeft': (
        320:  ef.get('size', 'smally'),
    ),
    'titlePaddingRight': (
        320: 45px,
        900: 75px,
    ),
    'titleBackBtnWidth': 100%,

    'backBtnTopPostion' : 31px,
    'backBtnLeftPostion' : 26px,
    'backBtnWidth': (
        320: 30px,
        900: 60px,
    ),
    'backBtnHeight': (
        320: 30px,
        900: auto,
    ),
    'backBtnFontStyle': 'PlaceholderTextBold',
    'backBtnPadding': 2px,
    'backBtnColor': ef.get('mainColors', 'main'),
    'backBtnIconColor': ef.get('mainColors', 'main'),
    'backBtnIconWidth': (
        320: 14px,
        900: 10px,
    ),
    'backBtnIconHeight': (
        320: 12px,
        900: 8px,
    ),
    'backBtnIconLineHeight': 0,
    'backBtnIconMargin': 1px ef.get('size', 'smallest') 0 0,

    'messageColor': ef.get('mainColors', 'baseMain'),
    'messageFontSizeConfirm': ef.get('font', 'PrimaryText'),

    'iconSize': 120px,
    'iconMargin': 0 0 ef.get('size', 'main') 0,
    'iconColorConfirm': ef.get('mainColors', 'bg500'),

    'paddingDefault': 3rem 4rem,
    'paddingHeadless': 0,

    'dialogOverflow': (
        320: visible,
        560: hidden,
    ),

    // animation
    'fadeBottomFromHorizontal': 0,
    'fadeBottomFromVertical': 100px,
    'fadeBottomToHorizontal': 0,
    'fadeBottomToVertical': 50px,

    'fadeLeftFromHorizontal': -50px,
    'fadeLeftFromVertical': 0,
    'fadeLeftToHorizontal': 0,
    'fadeLeftToVertical': 0,

    'fadeRightFromHorizontal': 50px,
    'fadeRightFromVertical': 50px,
    'fadeRightToHorizontal': 0,
    'fadeRightToVertical': 50px,
    //animation

    //scrollable
    'scrollBarWidth': 7px,
    'scrollBarTrackColor': lighten(ef.get('mainColors', 'bgModal'), 5%),
    'scrollBarColor': darken(ef.get('mainColors', 'bgModal'), 5%),
    'staticMaxHeightMobile': (
        375: calc(100vh - 230px),
        560: calc(100vh - 295px),
    ),
    'staticMaxHeightMobileIos': (
        375:calc(100vh - 260px),
        560: calc(100vh - 295px),
    ),
), $customHostModal);

$customLanguageModal: () !default;
$languageModal: map-merge((
    'paddingBody': 0 ef.get('size', 'less'),
), $customLanguageModal);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'dialogBackground': (
        375: ef.get('mainColors', 'bgModal'),
        560: none,
    ),
    'dialogBorder': 1px solid rgba(ef.get('mainColors', 'bg'), $alpha: 0.2),
    'dialogBorderRadius': ef.get('radius', 'big'),
    'titleFontSize': 'QoteTextBold',
    'titleFontMobile': 'PrimaryText',
    'titleMargin': 0,
    'titleColor': ef.get('mainColors', 'baseMain'),

    // loginSignUp modal modifier
    'loginSignUpModalWrapperPadding': (
        320: 10px 0,
        900: 50px 0,
    ),
    'loginSignUpModalBackground': (
        320: ef.get('mainColors', 'bgModal'),
        900: transparent,
    ),

    'loginSignUpHeaderPadding': (
        320: 15px,
        900: 0,
    ),

    'loginSignUpClosePosTop': (
        320: 50%,
        900: 38px,
    ),

    'loginSignUpClosePosRight': (
        320: 10px,
        560: -7px,
        900: 20px,
    ),

    'loginSignUpTitleDisplay': (
        320: block,
        900: none,
    ),

    'loginSignUpTitleStyle': 'PrimaryTextBold',
    'loginSignUpTitleColor': ef.get('mainColors', 'baseMain'),
    'loginSignUpTitleAlign': center,

    'loginSignUpDialogHeight': (
        320: 100%,
        560: auto,
    ),

    'loginSignUpDialogMarign': (
        320: 0 auto,
        560: auto,
    ),

    'loginSignUpDialogBorder': (
        320: none,
        900: 1px solid rgba(ef.get('mainColors', 'bg'), $alpha: 0.2),
    ),
    // loginSignUp modal modifier

    // restore password modal modifier
    'restoreModalWrapperPadding': (
        320: 10px 0,
        900: 50px 0,
    ),
    'restoreModalBackground': (
        320: ef.get('mainColors', 'bgModal'),
        560: transparent,
    ),

    'restoreHeaderPadding': 20px 15px,

    'restoreDialogBorder': (
        320: none,
        560: 1px solid rgba(ef.get('mainColors', 'bg'), $alpha: 0.2),
    ),

    'restoreDialogMarign': (
        320: -10px auto 0,
        560: auto,
    ),

    'restoreDialogHeight': (
        320: 100%,
        560: auto,
    ),

    'restoreBtnTextDisplay': (
        320: none,
        900: block,
    ),
    'restoreTitleStyleDesk': 'QoteTextBold',
    'restoreTitleStyle': 'PrimaryTextBold',
    'restoreTitleColor': ef.get('mainColors', 'baseMain'),

    'restoreBodyPadding': (
        320: ef.get('size', 'big') ef.get('size', 'less') ef.get('size', 'less'),
        560: ef.get('size', 'small') ef.get('size', 'less') ef.get('size', 'less'),
    ),
    // restore password modal modifier

    // login-sign-up
    'loginSignupWidth': (
        320: 100%,
        560: 500px,
        900: auto,
    ),
    // login-sign-up

    //tournament-details
    'tournamentDetailPadding': (
        320: 0,
    ),
    'tournamentDetailFooterPadding': (
        320: ef.get('size', 'smaller') 0,
    ),
    'tournamentDetailIconCloseTop': (
        320: ef.get('size', 'smally'),
        768: 17px,
    ),
    //tournament-details

    //loyalty-info-modal
    'loyaltyInfoBodyPadding': 0,
    //loyalty-info-modal

    //bonus-info
    'bonusInfoBodyPadding': ef.get('size', 'small') ef.get('size', 'less') 0 ef.get('size', 'less'),
    'bonusInfoWrapperPadding': ef.get('size', 'less') 0 0 0,
    //bonus-info

    //data-is-processing
    'dataIsProcessingHeight': 100%,
    'dataIsProcessingPadding': 0,
    //data-is-processing
), $customThemeDefault);
