.wlc-loyalty-info--theme-default:host {

    .wlc-loyalty-info {

        &__content {
            padding: ef.get-value($themeDefault, 'paddingContent');
        }

        &__image {

            img {
                width: ef.get-value($themeDefault, 'infoImageWidth');
                border-radius: ef.get-value($themeDefault, 'infoImageRadius');
            }
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFont'), ef.get-value($themeDefault, 'titleFontColor'));
            padding: ef.get-value($themeDefault, 'titlePadding');
            text-align: ef.get-value($themeDefault, 'infoTitleTextAlign');
        }

        &__description {
            @include text.get-text-style(ef.get-value($themeDefault, 'descFont'), ef.get-value($themeDefault, 'descFontColor'));
            padding: ef.get-value($themeDefault, 'descriptionPadding');
            text-align: ef.get-value($themeDefault, 'infoTextAlign');
        }

        &__levels-table {

            ::ng-deep .wlc-table {
                min-height: ef.get-value($themeDefault, 'wlcTableMinHeight');
                padding: ef.get-value($themeDefault, 'wlcTablePadding');
            }
        }
    }
}
