<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WlcSite</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="/static/dist/manifest.webmanifest">
    <meta name="theme-color" content="#1976d2">

    <script type="text/javascript">
        {% if env == 'dev' or env == 'qa' or env == 'test' %}
        window.WLC_ENV = '{{env}}';
        {% elseif GET['eg-debug'] == 1 and env != 'prod' %}
        window.WLC_ENV = 'dev';
        {% endif %}
    </script>
</head>
<body>
<div ui-view class="wlc-app">Loading...</div>
<noscript>Please enable JavaScript to continue using this application.</noscript>

{% if 'static/dist/inline.js' is ondisk %}
    <script src="/static/dist/inline.js"></script>
{% endif %}


</body>
</html>
