<!doctype html>
<html lang="{{language}}">
<head>
    <meta charset="utf-8">
    <title>{{seo.title}}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/app.loader.css">
    <script type="text/javascript">
        window.WLC_VERSION = {{projectVersion}};
        {% if env == 'dev' or env == 'qa' or env == 'test' %}
            window.WLC_ENV = '{{env}}';
        {% elseif GET['eg-debug'] == 1 and env != 'prod' %}
            window.WLC_ENV = 'dev';
        {% endif %}
    </script>

    <script type="text/javascript">
        {% set isEntryPoint = entrypoint and currentDomain and mirrorDomains and entrypoint == currentDomain %}
        {%if isEntryPoint %}
            window.mirrorDomains = {{mirrorDomains|raw }} || [];
            {% include 'domain-balancer.js' %}
        {% endif %}
    </script>
</head>
<body>
{%if not isEntryPoint  %}
<div ui-view class="wlc-app">
{%endif%}
    {% if 'template/preloader.html' is ondisk %}
        {% include 'preloader.html' %}
    {% else %}
        <div class="wlc-app__preload">
            <div class="wlc-app__preload-content">
                <div class="wlc-app__preload-img"></div>
                <div class="wlc-app__preload-loader">
                    <div style="--n: 1;"></div>
                    <div style="--n: 2;"></div>
                    <div style="--n: 3;"></div>
                    <div style="--n: 4;"></div>
                </div>
            </div>
        </div>
    {% endif %}
{%if not isEntryPoint %}
</div>
{%endif%}
<noscript>Please enable JavaScript to continue using this application.</noscript>
{% include 'additional-footer.html' ignore missing %}
</body>
</html>
