@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

@keyframes bounceInCheck {

    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.wlc-checkbox--theme-default:host {
    position: relative;

    .wlc-checkbox {

        &__label {
            padding: ef.get-value($themeDefault, 'checkboxPadding');

            user-select: none;
            cursor: pointer;
        }

        &__elem {
            position: absolute;
            top: map-get($themeDefault, 'checkboxElemTop');
            left: map-get($themeDefault, 'checkboxElemLeft');
            margin-top: map-get($themeDefault, 'checkboxElemMarginTop');

            display: flex;
            justify-content: center;
            align-items: center;

            width: ef.get-value($themeDefault, 'checkboxElemSize');
            height: ef.get-value($themeDefault, 'checkboxElemSize');

            background: ef.get-value($themeDefault, 'checkboxElemBackground');

            border: ef.get-value($themeDefault, 'checkboxElemBorder');
            border-radius: ef.get-value($themeDefault, 'checkboxElemBorderRadius');
            transition: transform 0.2s ease-out;

            ::ng-deep {

                .wlc-icon-content {
                    display: none;
                    line-height: ef.get-value($themeDefault, 'iconLineHieght');
                }

                svg {
                    width: ef.get-value($themeDefault, 'iconSvgWidth');
                    height: ef.get-value($themeDefault, 'iconSvgHeight');

                    stroke: ef.get-value($themeDefault, 'iconSvgStroke');
                    stroke-width: ef.get-value($themeDefault, 'iconSvgStrokeWidth');
                    fill: ef.get-value($themeDefault, 'iconSvgFill');
                }
            }

            &.checked {
                @include checkboxChecked;
            }
        }
    }

    .wlc-checkbox__text {
        font-size: ef.get-value($themeDefault, 'textFontSize');
        color: ef.get-value($themeDefault, 'textColor');
        margin-bottom: 0;
    }

    .wlc-checkbox__link {
        color: ef.get-value($themeDefault, 'linkColor');

        &:hover {
            color: ef.get-value($themeDefault, 'linkHoverColor');
            text-decoration: none;
        }
    }

    .wlc-checkbox__checkbox {
        display: none;

        &.ng-touched.ng-invalid + .wlc-checkbox__elem {
            box-shadow: 0 0 0 2px map-get($themeDefault, 'errorColor');
        }
    }

    &.wlc-checkbox--text-left {

        .wlc-checkbox {
            padding: ef.get-value($themeDefault, 'leftTextPadding');

            &__elem {
                left: unset;
                right: 0;
            }
        }
    }

    &.wlc-checkbox--type-toggle {

        .wlc-checkbox {
            width: ef.get-value($themeDefault, 'toggleWidth');
            height: ef.get-value($themeDefault, 'toggleHeight');
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            padding: ef.get-value($themeDefault, 'togglePadding');

            &__elem {
                position: relative;
                z-index: 3;
                cursor: pointer;
                top: auto;
                margin: 0;
                background: ef.get-value($themeDefault, 'toggleBackground');
                border-radius: ef.get-value($themeDefault, 'toggleRadius');
                border: none;
                width: ef.get-value($themeDefault, 'toggleElemWidth');
                height: ef.get-value($themeDefault, 'toggleHeight');

                &.checked::ng-deep {
                    animation: none;

                    .wlc-icon-content {
                        display: none;
                    }
                }

                &.checked:before {
                    left: calc(100% - #{ef.get-value($themeDefault, 'toggleCircleSize')} - #{ef.get-value($themeDefault, 'toggleCircleOffset')});
                    background-color: ef.get-value($themeDefault, 'toggleCircleBgActive');
                }

                &:before {
                    z-index: 2;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: ef.get-value($themeDefault, 'toggleCircleOffset');
                    transform: translateY(-50%);
                    height: ef.get-value($themeDefault, 'toggleCircleSize');
                    width: ef.get-value($themeDefault, 'toggleCircleSize');
                    background-color: ef.get-value($themeDefault, 'toggleCircleBg');
                    border-radius: 50%;
                    @include bm.transition();
                }
            }

            &__text {
                position: relative;
                padding-left: ef.get-value($themeDefault, 'togglePaddingLeftText');
                padding-right: ef.get-value($themeDefault, 'togglePaddingRightText');
                @include text.get-text-style(ef.get-value($themeDefault, 'toggleFontStyle'));
                @include bm.transition(padding);
            }
        }
    }

    &.wlc-checkbox--theme-mod-bg-transparent {

        .wlc-checkbox__elem {
            background: unset;

            &.checked {
                @include checkboxChecked;
            }
        }
    }
}
