.wlc-pwa-notification--theme-default:host {
    display: flex;
    align-items: center;
    min-height: ef.get-value($themeDefault, 'height');
    padding: ef.get-value($themeDefault, 'padding');
    background-color: ef.get-value($themeDefault, 'background');

    .wlc-pwa-notification {

        &__title {

            &-wrp {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            &-icon {
                display: inline-block;
                margin: 0 10px 0 0;
                color: var(--mc-baseOpacity);
            }

            &-text {
                @include text.get-text-style(ef.get-value($themeDefault, 'titleTextStyle'), ef.get-value($themeDefault, 'titleTextColor'));
                text-decoration: ef.get-value($themeDefault, 'titleTextDecoration');
            }
        }

        &__close {
            color: ef.get-value($themeDefault, 'closeBtnColor');
            opacity: ef.get-value($themeDefault, 'closeBtnOpacity');
        }
    }
}
