.wlc-notification-thread--theme-bottom:host {
    bottom: 0;

    .wlc-notification-thread {

        &__item {
            @include bm.get-mq-map('padding-bottom', $notificationThread, 'gap');
            top: 100%;
        }

        &__list {
            flex-direction: column;
        }
    }
}
