<ng-container *ngIf="isReady && bonuses?.length && slides?.length; else: noBonuses">
    <div *ngIf="isDesktopAndSlidesLength" slot-container-end class="{{$class}}__nav">
        <div wlc-slider-navigation
            [classPrev]="'wlc-game-dashboard-bonuses-nav swiper-button-prev wlc-swiper-button-prev'"
            [classNext]="'wlc-game-dashboard-bonuses-nav swiper-button-next wlc-swiper-button-next'">
        </div>
    </div>
    <div wlc-scrollbar
         class="{{$class}}__bonus-wrp">
        <div *ngIf="!landscapeOrientation || !isMobile"
             wlc-slider
             class="{{$class}}__slider"
             [inlineParams]="$params.defaultSliderParams"
             [slides]="slides">
        </div>
        <div *ngIf="isMobile && landscapeOrientation"
             class="{{$class}}__slider"
             wlc-slider
             [inlineParams]="$params.landscapeSliderParams"
             [slides]="slides">
        </div>
    </div>
</ng-container>

<ng-template #noBonuses>
    <div *ngIf="isReady" class="{{$class}}__not-found" >{{'No bonuses available' | translate}}</div>
    <div *ngIf="!isReady" class="{{$class}}__not-found">
        <div wlc-loader></div>
    </div>
</ng-template>
