<ng-container *ngIf="isReady && bonuses?.length && slides?.length; else: noBonuses">
    <div class="{{$class}}__slider" *ngIf="!landscapeOrientation || !isMobile"
         wlc-slider
         [slides]="slides"
         [inlineParams]="$params.common?.sliderParams">
    </div>
    <div class="{{$class}}__slider" *ngIf="isMobile && landscapeOrientation"
         wlc-slider
         [slides]="slides"
         [inlineParams]="$params.common?.landscapeSliderParams">
    </div>
    <div *ngIf="isDesktopAndSlidesLength" slot-container-end>
        <div wlc-icon
             class="swiper-button-prev"
             iconPath="/wlc/icons/arrow.svg">
    </div>
        <div wlc-icon
             class="swiper-button-next"
             iconPath="/wlc/icons/arrow.svg">
    </div>
    </div>
</ng-container>

<ng-template #noBonuses>
    <div *ngIf="isReady" class="{{$class}}__not-found" >{{'No bonuses available' | translate}}</div>
    <div *ngIf="!isReady" class="{{$class}}__not-found">
        <div wlc-loader></div>
    </div>
</ng-template>

<ng-template #bonus let-item="item">
    <div class="{{$class}}__bonus-wrp" [ngClass]="{'active-bonus': item.bonus.isActive}">
        <div wlc-bonus-item
             class="{{$class}}__bonus"
             [inlineParams]="item.bonusItemParams">
            </div>
    </div>
</ng-template>
