@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as em;

.wlc-sections__footer--theme-1 {
    @include em.get-mq-map('padding-top', $theme1Footer, 'basePaddingTopBottom');
    @include em.get-mq-map('padding-bottom', $theme1Footer, 'basePaddingTopBottom');
    @include em.get-mq-map('margin-top', $theme1Footer, 'baseMarginTop');

    background: ef.get-value($theme1Footer, 'baseBackground');

    .wlc-logo {
        grid-area: logo;
    }

    .wlc-social-icons {
        grid-area: social;
    }

    .wlc-license {
        @include em.get-mq-map('grid-template-columns', $theme1Footer, 'licenseColumns');

        grid-area: license;
        align-self: ef.get-value($theme1Footer, 'licenceAlignSelf');
    }

    .wlc-post-menu {
        grid-area: menu;
    }

    .wlc-footer-disclaimer {
        grid-area: disclaimer;
    }

    .wlc-footer-lang {
        display: grid;
        grid-area: language;
        gap: ef.get-value($theme1Footer, 'langGap');
        align-self: ef.get-value($theme1Footer, 'langAlignSelf');
    }

    .container {
        @include em.get-mq-map('display', $theme1Footer, 'footerContainerDisplay');

        @include em.get-mq-map('grid-template-columns', $theme1Footer, 'footerContainerGridColumns');
        @include em.get-mq-map('column-gap', $theme1Footer, 'footerContainerColumnGap');
        @include em.get-mq-map('row-gap', $theme1Footer, 'footerContainerRowGap');
        @include em.get-mq-map('justify-items', $theme1Footer, 'footerContainerJustifyItems');

        @if ef.get-value($theme1Footer, 'useSafetyIcons') {
            @include em.get-mq-map('grid-template-areas', $theme1Footer, 'containerGridAreasWithSafety');
        } @else {
            @include em.get-mq-map('grid-template-areas', $theme1Footer, 'footerContainerGridAreas');
        }

        .wlc-icon-list,
        .wlc-post-menu,
        .wlc-footer-disclaimer,
        .wlc-footer-lang,
        .wlc-license,
        .wlc-logo {
            @include em.get-mq-map('margin', $theme1Footer, 'footerMobileOffset');
        }
    }

    .wlc-icon {

        &-safety-list,
        &-merchants-list,
        &-payments-list {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }

        &-merchants-list {
            grid-area: merchants;
        }

        &-payments-list {
            grid-area: payments;
        }

        &-safety-list {
            grid-area: safety;
        }
    }

    .wlc-icon-list {

        &--theme-merchants {
            @include em.get-mq-map('max-width', $theme1Footer, 'iconListMerchantsMaxWidth');
        }

        &--theme-payments {
            @include em.get-mq-map('max-width', $theme1Footer, 'iconListPaymentsMaxWidth');

            .wlc-icon-list__wrapper {
                @include em.get-mq-map('background', $theme1Footer, 'iconListPaymentsWrapperBg');
                @include em.get-mq-map('border-radius', $theme1Footer, 'iconListPaymentsWrapperRadius');
            }
        }

        &--theme-safety {
            @include em.get-mq-map('max-width', $theme1Footer, 'iconListPaymentsMaxWidth');

            .wlc-icon-list__wrapper {
                @include em.get-mq-map('background', $theme1Footer, 'iconListPaymentsWrapperBg');
                @include em.get-mq-map('border-radius', $theme1Footer, 'iconListPaymentsWrapperRadius');
            }
        }
    }

    .wlc-copyright {
        @include em.get-mq-map('margin', $theme1Footer, 'copyrightMargin');
    }
}
