.wlc-sections__four-elements--theme-default {
    @include bm.get-mq-map('margin', $fourElThemeDefault, 'sectionMargin');
    @include bm.get-mq-map('padding', $fourElThemeDefault, 'sectionPadding');

    .four-elements {
        @include bm.get-mq-map('grid-template-columns', $fourElThemeDefault, 'wrapperGridTemplateColumns');
        @include bm.get-mq-map('grid-template-rows', $fourElThemeDefault, 'wrapperGridRows');
        @include bm.get-mq-map('grid-template-areas', $fourElThemeDefault, 'wrapperGridAreas');
        display: ef.get-value($fourElThemeDefault, 'wrapperDisplay');
        gap: ef.get-value($fourElThemeDefault, 'wrapperGap');

        &__body {
            align-items: ef.get-value($fourElThemeDefault, 'elementAlignItems');
            padding: ef.get-value($fourElThemeDefault, 'elementPadding');
            border-radius: ef.get-value($fourElThemeDefault, 'elementBorderRadius');
        }
    }
}
