.wlc-profile-menu--theme-default:host {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .wlc-profile-menu__content {

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.wlc-profile-menu--theme-default.wlc-profile-menu--type-tabs:host {

    .wlc-menu--theme-default {
        @include bm.get-mq-map('grid-gap', $themeDefault, 'profileMenuGap');
        @include bm.get-mq-map('width', $themeDefault, 'profileMenuWidth');
        display: none;

        ::ng-deep {

            .wlc-menu__item {
                overflow: initial;

                &:first-child {

                    .wlc-menu__link {

                        &:after {
                            content: '';
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: ef.get-value($themeDefault, 'profileMenuBgBeforeHeight');
                            background: ef.get-value($themeDefault, 'profileMenuBg');
                        }

                        &.active {
                            right: initial;
                            left: 0;
                        }

                        @include bm.hover {
                            right: initial;
                            left: 0;
                        }
                    }
                }
            }

            .wlc-menu__link {
                @include bm.transition(background);
                @include bm.get-mq-map('padding', $themeDefault, 'profileMenuLinkPadding');
                @include text.get-text-style('PrimaryText');
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-decoration: none;
                border-radius: ef.get-value($themeDefault, 'profileMenuLinkBorderRadius');
                background-color: transparent;


                &:before,
                &:after {
                    @include bm.transition(opacity);
                    @include makeAngleBg(ef.get-value($themeDefault, 'profileMenuAngleBg'));

                    position: absolute;
                    bottom: -3px;
                    display: block;
                    width: ef.get-value($themeDefault, 'iconSize');
                    height: ef.get-value($themeDefault, 'iconSize');
                    opacity: 0;

                    @include bm.colorThemeAlt {

                        @include makeAngleBg(ef.get-value($themeDefault, 'profileMenuAngleBgAlt'));
                    }
                }

                &:before {
                    left: calc(100% - 3px);
                }

                &:after {
                    right: calc(100% - 3px);
                    transform: scaleX(-1);
                }

                &.active {
                    color: ef.get-value($themeDefault, 'profileMenuActiveColor');
                    font-weight: bold;
                    background-color: ef.get-value($themeDefault, 'profileMenuBg');

                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }

                @include bm.hover {
                    color: ef.get-value($themeDefault, 'profileMenuActiveColor');
                    background-color: ef.get-value($themeDefault, 'profileMenuBg');

                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        @include mq.min(900) {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            align-items: center;
        }
    }
}


