@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@use '../utils/mixins' as mixin;

.wlc-profile-menu--theme-default:host {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .wlc-profile-menu__content {

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.wlc-profile-menu--theme-default.wlc-profile-menu--type-tabs:host {

    .wlc-menu--theme-default.wlc-menu--type-profile-menu {
        display: none;
        @include bm.get-mq-map('grid-gap', $themeDefault, 'profileMenuGap');
        @include bm.get-mq-map('width', $themeDefault, 'profileMenuWidth');

        @include mq.min(900) {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            align-items: center;
        }

        ::ng-deep {

            .wlc-menu__item {
                overflow: initial;

                &:first-child {

                    .wlc-menu__link {

                        &:after {
                            content: '';
                            width: 100%;
                            height: ef.get-value($themeDefault, 'profileMenuBgBeforeHeight');
                            top: 100%;
                            left: 0;
                            background: ef.get-value($themeDefault, 'profileMenuBg');
                        }

                        &:hover,
                        &.active {
                            right: initial;
                            left: 0;
                        }
                    }
                }
            }

            .wlc-menu__link {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-decoration: none;
                border-radius: ef.get-value($themeDefault, 'profileMenuLinkBorderRadius');
                background-color: transparent;

                @include bm.get-mq-map('padding', $themeDefault, 'profileMenuLinkPadding');
                @include text.get-text-style('PrimaryText');

                &:before,
                &:after {

                    $color: ef.get-value($themeDefault, 'profileMenuBg');
                    $fill: mixin.str-replace('#{$color}', '#', '%23');

                    content: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 31 26\'%3E%3Cpath d=\'M27.54,23.57H3.81V1.5A23.77,23.77,0,0,0,27.54,23.57Z\' fill=\'#{$fill}\'/%3E%3Cpath d=\'M15.85,24.48h0Z\'/%3E%3C/svg%3E%0A');
                    position: absolute;
                    display: block;
                    opacity: 0;
                    width: ef.get-value($themeDefault, 'iconSize');
                    height: ef.get-value($themeDefault, 'iconSize');
                    bottom: -3px;
                }

                &:before {
                    left: calc(100% - 3px);
                }

                &:after {
                    right: calc(100% - 3px);
                    transform: scaleX(-1);
                }

                &:hover {
                    transition: background 0.3s ease;

                    &:before,
                    &:after {
                        transition: opacity 0.3s ease;
                        opacity: 1;
                    }
                }

                &:hover,
                &.active {
                    color: ef.get-value($themeDefault, 'profileMenuActiveColor');
                    background-color: ef.get-value($themeDefault, 'profileMenuBg');

                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}


