@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-profile-menu--type-dropdown {

    &.wlc-profile-menu--theme-mod-vertical:host {
        width: 100%;

        .wlc-menu {
            display: grid;
            grid: {
                template-columns: 1fr;
                gap: ef.get-value($themeDropdownDefault, 'menuGag');
            }

            ::ng-deep {

                .wlc-menu__item {
                    overflow: hidden;

                    &.active {

                        > .wlc-menu__link {
                            color: ef.get-value($themeDropdownDefault, 'activeTabLinkColor');
                            background: ef.get-value($themeDropdownDefault, 'activeTabLinkBg');
                            @include bm.transition();

                            .wlc-icon {
                                transform: rotate(180deg);
                                @include bm.transition();

                                svg {
                                    fill: ef.get-value($themeDropdownDefault, 'activeTabLinkColor');
                                }
                            }
                        }
                    }

                    &--dropdown {

                        > .wlc-menu__link {

                            .wlc-icon {
                                transform: rotate(0);
                            }
                        }
                    }
                }

                .wlc-menu__link {
                    z-index: 2;
                    display: flex;
                    justify-content: space-between;
                    padding: ef.get-value($themeDropdownDefault, 'linkPadding');
                    width: 100%;
                    @include text.get-text-style('PrimaryText', ef.get-value($themeDropdownDefault, 'linkColor'));
                    cursor: pointer;
                    text-decoration: none;
                    @include bm.get-mq-map('background', $themeDropdownDefault, 'linkBg');
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');

                    @media (hover: hover) {

                        &:hover {
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                            color: ef.get-value($themeDropdownDefault, 'activeLinkColor');
                            @include bm.transition(background);

                            .wlc-icon {

                                svg {
                                    fill: ef.get-value($themeDropdownDefault, 'activeTabLinkColor');
                                }
                            }
                        }
                    }

                    &.active {
                        background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                        color: ef.get-value($themeDropdownDefault, 'activeLinkColor');
                        @include bm.transition(background);
                    }

                    .wlc-icon {
                        transform: rotate(-90deg);
                        @include bm.transition();

                        svg {
                            fill: ef.get-value($themeDropdownDefault, 'linkFill');
                        }
                    }
                }

                .wlc-menu__submenu {
                    margin-top: ef.get-value($themeDropdownDefault, 'menuGag');
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                    @include bm.get-mq-map('background', $themeDropdownDefault, 'submenuBg');

                    .wlc-menu__item:last-child {

                        .wlc-menu__link {
                            border-bottom-left-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                            border-bottom-right-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                        }
                    }

                    .wlc-menu__item:first-child {

                        .wlc-menu__link {
                            border-top-left-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                            border-top-right-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                        }
                    }

                    .wlc-menu__link {
                        background: transparent;

                        &.active {
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                            border-radius: 0;
                            @include bm.transition(background);
                        }

                        @media (hover: hover) {
                            border-radius: 0;

                            &:hover {
                                background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                                @include bm.transition(background);
                            }
                        }
                    }
                }
            }
        }
    }
}
