.wlc-profile-menu.wlc-profile-menu--type-submenu:host {
    min-width: 0;

    .wlc-profile-menu__content {
        position: relative;

        ::-webkit-scrollbar {
            display: none;
        }
    }

    ::ng-deep {
        @include menuControls($submenuProfileDefault);
    }

    .wlc-menu--theme-default.wlc-menu--type-profile-first-menu,
    .wlc-menu--theme-default.wlc-menu--type-profile-menu {
        @include bm.get-mq-map('margin', $submenuProfileDefault, 'submenuMargin');

        &:before {

            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: ef.get-value($submenuProfileDefault, 'submenuBorderBottomHeight');

            background: ef.get-value($submenuProfileDefault, 'submenuBorderBottom');
        }

        ::ng-deep {

            .wlc-menu {

                &__item:last-child {

                    .wlc-menu__link {

                        @include bm.hover {

                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }

                &__link {
                    @include text.get-text-style(ef.get-value($submenuProfileDefault, 'submenuItemTextStyle'), var(--mc-baseMain));
                    @include bm.get-mq-map('padding', $submenuProfileDefault, 'submenuItemPadding');
                    @include bm.transition(color);

                    position: relative;
                    z-index: 2;

                    display: flex;

                    text-decoration: none;

                    &:before {
                        @include bm.transition(width);

                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 0;
                        height: ef.get-value($submenuProfileDefault, 'linkBeforeHeight');

                        background: ef.get-value($submenuProfileDefault, 'submenuItemActiveBorder');
                    }

                    &.active {
                        @include text.get-text-style(ef.get-value($submenuProfileDefault, 'submenuItemTextStyleActive'), var(--mc-baseMain));

                        &:before {
                            width: 100%;
                        }
                    }

                    @include bm.hover {

                        &:before {
                            width: ef.get-value($submenuProfileDefault, 'submenuItemHoverUnderlineWidth');
                        }
                    }

                    @include bm.hover {

                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .wlc-sections__profile-content--theme-first & {
            margin: 0;
        }
    }

    .wlc-menu--theme-default.wlc-menu--type-profile-menu::-webkit-scrollbar {
        display: none;
    }

    .wlc-menu--theme-wolf.wlc-menu--type-profile-menu {
        @include bm.get-mq-map('margin', $submenuProfileWolf, 'menuMargin');

        ::ng-deep {

            .wlc-menu {

                &__link {
                    @include text.get-text-style(
                        ef.get-value($submenuProfileWolf, 'menuLinkTextStyle'),
                        ef.get-value($submenuProfileWolf, 'menuLinkColor')
                    );

                    display: flex;
                    justify-content: center;
                    min-width: ef.get-value($submenuProfileWolf, 'itemMinWidth');
                    padding: ef.get-value($submenuProfileWolf, 'menuItemPadding');
                    text-decoration: none;
                    background: ef.get-value($submenuProfileWolf, 'menuItemBg');
                    border-radius: ef.get-value($submenuProfileWolf, 'menuItemRadius');
                    transition-duration: ef.get-value($submenuProfileWolf, 'itemTransitionDur');
                    transition-property: ef.get-value($submenuProfileWolf, 'itemTransitionProp');

                    &.active {
                        @include text.get-text-style(
                            ef.get-value($submenuProfileWolf, 'menuItemTextStyleActive'),
                            ef.get-value($submenuProfileWolf, 'menuItemTextColorActive')
                        );
                    }

                    @include bm.hover {

                        &:not(.active) {
                            color: ef.get-value($submenuProfileWolf, 'menuItemTextColorHover');
                            background: ef.get-value($submenuProfileWolf, 'menuItemBgHover');
                        }
                    }
                }
            }
        }
    }
}
