<div class="wlc-modal__dialog modal-dialog"
     [class]="dialogClasses">
    <div class="wlc-modal__header"
         [class.wlc-modal__header--headless]="!$params.config.modalTitle">
        <h5 class="wlc-modal__title"
            *ngIf="$params.config.modalTitle">
            {{$params.config.modalTitle | translate}}
        </h5>
        <button type="button"
                wlc-icon
                iconName="close"
                class="wlc-modal__close"
                data-dismiss="modal"
                aria-label="Close"
                title="Close">
        </button>
    </div>

    <div class="wlc-modal__body">
        <ng-container *ngTemplateOutlet="$params.config.component ? component : message"></ng-container>
    </div>

    <div class="wlc-modal__footer">
        <button type="button"
                wlc-button
                text="{{$params.config.confirmBtnText || 'Confirm' | translate}}"
                *ngIf="$params.config.showConfirmBtn"
                (click)="confirm()">
        </button>
        <button type="button"
                wlc-button
                text="{{$params.config.closeBtnText || 'Close' | translate}}"
                data-dismiss="modal">
        </button>
    </div>
</div>

<ng-template #component>
    <ng-container
        [ngComponentOutlet]="$params.config.component"
        [ngComponentOutletInjector]="inject"
    ></ng-container>
</ng-template>

<ng-template #message>
    <div class="modal-message" *ngFor="let msg of $params.config.modalMessage">
        {{msg | translate}}
    </div>
</ng-template>

