<div class="wlc-modal__wrapper fade"
     bsModal
     [config]="bsOptions"
     role="dialog"
     tabindex="-1"
     #modal
>
    <div class="wlc-modal__dialog modal-dialog"
         [attr.data-wlc-element]="$params.wlcElement"
         [class]="dialogClasses">
        <div class="wlc-modal__header"
             [class.wlc-modal__header--headless]="!$params.config.modalTitle">
            <div *ngIf="$params.config.useBackButton"
                 class="wlc-modal__back-btn"
                 (click)="goBack()"
                 data-wlc-element="button_back"
            >
                <span wlc-icon
                      class="icon-arrow"
                      iconPath="/wlc/icons/arrow.svg">
                </span>
                <span class="wlc-modal__back-btn-text">
                    {{$params.config.backButtonText | translate}}
                </span>
            </div>
            <div class="wlc-modal__title"
                 [attr.data-wlc-element]="$params.wlcElement + '-title'"
                 [class.wlc-modal__title--back-btn]="$params.config.useBackButton"
                 *ngIf="$params.config.modalTitle">
                 {{$params.config.modalTitle | translate}}
            </div>
            <button *ngIf="$params.config.closeBtnVisibility"
                    wlc-button
                    class="wlc-modal__close"
                    [attr.aria-label]="'Close' | translate"
                    [title]="'Close' | translate"
                    wlcElement="button_close"
                    theme="cleared"
                    iconPath="/wlc/icons/close.svg"
                    (click)="closeModalByIcon($params.config.id)">
            </button>
        </div>
        <div
            class="wlc-modal__body"
            [ngClass]="{'without-padding': $params.config.withoutPadding}"
            [ngSwitch]="getType()">
            <ng-container *ngSwitchCase="'component'"
                          [ngTemplateOutlet]="component">
            </ng-container>
            <ng-container *ngSwitchCase="'templateRef'"
                          [ngTemplateOutlet]="template">
            </ng-container>
            <ng-container *ngSwitchCase="'message'"
                          [ngTemplateOutlet]="message">
            </ng-container>
            <ng-container *ngSwitchCase="'html'"
                          [ngTemplateOutlet]="html">
            </ng-container>
            <ng-container *ngSwitchCase="'message-and-component'"
                          [ngTemplateOutlet]="messageAndComponent">
            </ng-container>
        </div>

        <div class="wlc-modal__footer" *ngIf='$params.config.showFooter'>
            <button wlc-button
                    typeAttr="button"
                    *ngIf="$params.config.showConfirmBtn"
                    [text]="$params.config.confirmBtnText || 'Confirm'"
                    [inlineParams]="$params.config.confirmBtnParams"
                    (click)="confirm($params.config.id)">
            </button>
            <button wlc-button
                    typeAttr="button"
                    type="rejected"
                    *ngIf="$params.config.rejectBtnVisibility"
                    [text]="$params.config.closeBtnText || 'Close'"
                    [wlcElement]="'button_close'"
                    [inlineParams]="$params.config.closeBtnParams"
                    (click)="closeModalByIcon($params.config.id)"
                    wlcElement="button_close">
            </button>
        </div>
    </div>
</div>

<ng-template #component>
    <ng-container
        [ngComponentOutlet]="$params.config.component"
        [ngComponentOutletInjector]="inject"
    ></ng-container>
</ng-template>

<ng-template #template>
    <ng-container
        [ngTemplateOutlet]="$params.config.templateRef"
        [ngTemplateOutletContext]="$params.config.templateRefParams"
    ></ng-container>
</ng-template>

<ng-template #message>
    <div *ngIf="$params.config?.modifier === 'confirmation' && !$params.config.hideIcon"
         wlc-icon
         class="modal-icon modal-icon--confirm"
         iconPath="/wlc/icons/status/confirm.svg"
    ></div>
    <div
        *ngFor="let msg of $params.config.modalMessage"
        [attr.data-wlc-element]="$params.wlcElement + '-message'"
        [style]="{'text-align': $params.config.textAlign}"
        class="modal-message">
        {{msg | translate}}
    </div>
</ng-template>
<ng-template #html>
    <div *ngIf="$params.config?.modifier === 'confirmation' && !$params.config.hideIcon"
         wlc-icon
         class="modal-icon modal-icon--confirm"
         iconName="status/confirm"
    ></div>
    <div wlc-dynamic-html
         class="modal-message"
         [attr.data-wlc-element]="$params.wlcElement + '-message'"
         [style]="{'text-align': $params.config.textAlign}"
         [html]="$params.config.html"
         [parseAsPlainHTML]="true"
    ></div>
</ng-template>
<ng-template #messageAndComponent>
    <div
        *ngFor="let msg of $params.config.modalMessage"
        [style]="{'text-align': $params.config.textAlign}"
        [attr.data-wlc-element]="$params.wlcElement + '-message'"
        class="modal-message">
        {{msg | translate}}
    </div>
    <ng-container
        [ngComponentOutlet]="$params.config.component"
        [ngComponentOutletInjector]="inject"
    ></ng-container>
</ng-template>
