.wlc-tabs--theme-rounding:host {
    display: flex;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    margin: ef.get-value($themeRounding, 'tabsMargin');
    padding: ef.get-value($themeRounding, 'tabsPadding');
    background: ef.get-value($themeRounding, 'tabsBg');
    border-radius: ef.get-value($themeRounding, 'borderRadius');

    .wlc-tabs__item {
        width: 100%;
        padding: ef.get-value($themeRounding, 'tabPadding');
        border-radius: ef.get-value($themeRounding, 'borderRadius');
        text-align: center;
        cursor: pointer;

        &.active {
            font-weight: ef.get-value($themeRounding, 'tabActiveFontWeight');
            background: ef.get-value($themeRounding, 'tabActiveBg');
            cursor: default;
        }
    }
}
