@use 'engine-scss/functions' as ef;

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'fontSize': ef.get('size', 'less'),
    'fontWeight': bold,
    'loadingAnimation': pulse 2s infinite,
), $customThemeDefault);

$customNoData: () !default;
$nodata: map-merge((
    'nodataTextAlign': center,
    'nodataMaxWidth': 600px,
    'nodataMargin': 0 auto,
), $customNoData);
