<ng-container *ngIf="$params.modal; else tooltip">
    <div wlc-icon
          class="{{$class}}__icon"
          iconPath="/wlc/icons/info.svg"
          (click)="openModal($event)">
    </div>
</ng-container>

<ng-template #tooltip>
    <div wlc-icon
         class="{{$class}}__icon"
         iconPath="/wlc/icons/info.svg"
         containerClass="{{$class}}__bs-tooltip"
         placement="bottom"
         container="body"
         [tooltip]="$params.inlineText | translate">
    </div>
</ng-template>
