<ng-container *ngIf="$params.modal; else tooltip">
    <div wlc-icon
          class="{{$class}}__icon"
          [iconPath]="iconPath"
          (click)="openModal($event)">
    </div>
</ng-container>

<ng-template #tooltip>
    <div wlc-icon
         class="{{$class}}__icon"
         containerClass="{{$class}}__bs-tooltip {{containerClassMod}}"
         placement="top"
         container="body"
         [iconPath]="iconPath"
         [tooltip]="$params.inlineText | translate">
    </div>
</ng-template>
