@if ($params.type === 'wrapper') {
    <div class="{{$class}}__wrapper"
        containerClass="{{$class}}__bs-tooltip {{containerClassMod}}"
        placement="top"
        container="body"
        [placement]="$params.placement"
        [tooltip]="$params.inlineText | translate"
        boundariesElement="viewport">
        <ng-content/>
    </div>
} @else if ($params.modal) {
    <div wlc-icon
        class="{{$class}}__icon"
        [iconPath]="iconPath"
        (click)="openModal($event)">
    </div>
} @else {
    <div wlc-icon
        class="{{$class}}__icon"
        containerClass="{{$class}}__bs-tooltip {{containerClassMod}}"
        placement="top"
        container="body"
        [placement]="$params.placement"
        [iconPath]="iconPath"
        [tooltip]="$params.inlineText | translate"
        boundariesElement="viewport">
    </div>
}
