<div class="{{$class}}__form"
     wlc-form-wrapper
     [config]="config"
     [formData]="userProfile"
     [ngSubmit]="ngSubmit.bind(this)"
></div>

<div class="{{$class}}__add">
    <div class="{{$class}}__block">
        <div
            class="{{$class}}__title"
            wlc-title [mainText]="additionalBlocks.subscriptions.title"
            [mainTag]="'span'"
        ></div>
        <div class="{{$class}}__item">
            <div class="{{$class}}__item-title">
                <div class="{{$class}}__item-title-main">{{'Notifications via e-mail' | translate}}</div>
            </div>
            <div class="{{$class}}__item-switcher">
                <!-- <div wlc-checkbox></div> -->
            </div>
        </div>
    </div>

    <div class="{{$class}}__block">
        <div
            class="{{$class}}__title"
            wlc-title [mainText]="additionalBlocks.security.title"
            [mainTag]="'span'"
        ></div>
        <div class="{{$class}}__item">
            <div class="{{$class}}__item-title">
                <div class="{{$class}}__item-title-main">
                    {{'Password' | translate}}
                </div>
                <div class="{{$class}}__item-title-description">
                    {{'You can change your password here.' | translate}}
                </div>
            </div>
            <button wlc-button
                    [icon]="'arrow'"
                    (click)="changePasswordModal()"
                    text="Change"></button>
        </div>

        <div class="{{$class}}__item">
            <div class="{{$class}}__item-title">
                <div class="{{$class}}__item-title-main">
                    {{'Banking information' | translate}}
                </div>
                <div class="{{$class}}__item-title-description">
                    {{'You can add your banking information here.' | translate}}
                </div>
            </div>
            <button wlc-button
                    [icon]="'arrow'"
                    (click)="addBankingInformation()"
                    text="Add info"></button>
        </div>
    </div>
</div>
