.wlc-bonus-item {
    border-radius: ef.get-value($themeDefault, 'radius');
    overflow: hidden;
    transform: translateZ(0);

    .wlc-bonus-item {

        &__tag {
            @include text.get-text-style(ef.get-value($themeDefault, 'tagTextStyle'), ef.get-value($themeDefault, 'tagFontColor'));

            z-index: 5;
            padding: ef.get-value($themeDefault, 'tagPadding');
            border-radius: ef.get-value($themeDefault, 'tagRadius');
            white-space: nowrap;
            background: ef.get-value($themeDefault, 'tagBg');
        }

        &__name {
            @include bm.lineClamp();
            z-index: 1;
        }

        &__icon {
            @include bm.get-mq-map('width', $themeDefault, 'bonusIconSize');
            @include bm.get-mq-map('height', $themeDefault, 'bonusIconSize');

            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            &-sign {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: ef.get-value($themeDefault, 'bonusIconRadius');
                box-shadow: ef.get-value($themeDefault, 'bonusIconShadow');
            }

            & .wlc-bonus-item__icon-text {
                @include text.get-text-style(ef.get-value($themeDefault, 'bonusIconTextStyle'), ef.get-value($themeDefault, 'bonusIconValueFontColor'));

                position: absolute;
                bottom: ef.get-value($themeDefault, 'bonusIconValPosB');
                left: ef.get-value($themeDefault, 'bonusIconValPosL');

                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 45%;
                min-height: 26px;
                padding: ef.get-value($themeDefault, 'bonusIconValPadding');

                line-height: 1;
                background-color: ef.get-value($themeDefault, 'bonusIconValueBg');
                border-radius: ef.get-value($themeDefault, 'bonusIconValRadius');
                transform: ef.get-value($themeDefault, 'bonusIconValTransform');

                &.wlc-small {
                    font-size: ef.get-value($themeDefault, 'bonusIconTextStyleSmall');
                }

                &.wlc-smaller {
                    font-size: ef.get-value($themeDefault, 'bonusIconTextStyleSmaller');
                }
            }
        }

        &__more-icon {
            @include bm.get-mq-map('display', $themeDefault, 'moreIconDisplay');
            @include bm.get-mq-map('top', $themeDefault, 'moreIconPosTop');
            @include bm.get-mq-map('right', $themeDefault, 'moreIconPosRight');

            position: absolute;
            z-index: 1;
            line-height: 1;

            .wlc-icon-content {
                display: flex;
            }

            .icon-btn {
                width: ef.get-value($themeDefault, 'moreIconSize');
                height: ef.get-value($themeDefault, 'moreIconSize');

                cursor: pointer;

                svg {
                    @include bm.transition(fill);

                    width: 100%;
                    fill: ef.get-value($themeDefault, 'moreIconColor');
                }
            }

            @include bm.hover {

                .icon-btn {

                    svg {
                        fill: ef.get-value($themeDefault, 'moreIconColorHover');
                    }
                }
            }
        }

        &__image-block {
            position: relative;
        }

        &__image {
            background: ef.get-value($themeDefault, 'imageBg');
        }

        &__active-block {
            @include bm.get-mq-map('padding', $themeDefault, 'activeBlockPadding');
            @include bm.get-mq-map('min-height', $themeDefault, 'activeBlockMinHeight');

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            max-width: ef.get-value($themeDefault, 'activeBlockMaxWidth');
            margin: ef.get-value($themeDefault, 'activeBlockMargin');

            text-align: ef.get-value($themeDefault, 'activeBlockTextAlign');
            border-radius: ef.get-value($themeDefault, 'activeBlockRadius');
        }

        &__timer {
            margin: ef.get-value($themeDefault, 'activeBlockTimerMargin');
            border-radius: ef.get-value($themeDefault, 'activeBlockTimerRadius');
            background: ef.get-value($themeDefault, 'activeBlockTimerBg');
        }

        &__progress {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: ef.get-value($themeDefault, 'activeBlockProgressMargin');
            padding: ef.get-value($themeDefault, 'activeBlockProgressPadding');

            background: ef.get-value($themeDefault, 'activeBlockProgressBg');
            border-radius: ef.get-value($themeDefault, 'activeBlockProgressRadius');
            transition: all ef.get-value($themeDefault, 'time') ease-in-out;
        }

        &__remaning {
            @include text.get-text-style(ef.get-value($themeDefault, 'remaningText'), ef.get-value($themeDefault, 'remaningTextColor'));
            text-align: center;
        }

        &__progressbar {
            @include bm.get-mq-map('margin', $themeDefault, 'progressBarMargin');

            position: relative;
            width: 100%;
            height: ef.get-value($themeDefault, 'progressBarSize');
            background: ef.get-value($themeDefault, 'progressBarBg');
            border-radius: ef.get-value($themeDefault, 'progressBarRadius');
            box-shadow: ef.get-value($themeDefault, 'progressBarBoxShadow');
            overflow: hidden;

            &-inner {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                background: ef.get-value($themeDefault, 'progressBarColor');
                border-radius: inherit;
            }
        }

        &__secondary {
            @include text.get-text-style(ef.get-value($themeDefault, 'progressBarText'), ef.get-value($themeDefault, 'progressBarSecondaryColor'));
        }

        &__btns {
            display: flex;
            justify-content: ef.get-value($themeDefault, 'btnsJustifyContent');
            margin: ef.get-value($themeDefault, 'btnsOuterOffset');

            .wlc-btn {
                margin: ef.get-value($themeDefault, 'btnsInnerOffset');
            }
        }

        &__content {

            &.disabled {
                cursor: not-allowed;
                opacity: 0.5;
                filter: grayscale(100%);

                .wlc-bonus-item__wrapper,
                .wlc-bonus-item__more-icon {
                    pointer-events: none;
                }
            }
        }
    }

    &.wlc-bonus-item--type-active,
    &.wlc-bonus-item--is-active {

        .wlc-bonus-item__tag {
            color: ef.get-value($themeDefault, 'tagFontColorActive');
            background: ef.get-value($themeDefault, 'tagBgActive');
        }
    }
}

.wlc-bonus-item--theme-default {
    @include viewsBackgrounds;
    @include bm.get-mq-map('width', $themeDefault, 'width');

    background: ef.get-value($themeDefault, 'backgroundDefault');

    .wlc-bonus-item {

        &__tag {
            position: absolute;
            top: ef.get-value($themeDefault, 'tagPositionTop');
            left: ef.get-value($themeDefault, 'tagPositionLeft');
            z-index: ef.get-value($themeDefault, 'tagZIndex');
            transform: ef.get-value($themeDefault, 'tagTransform');
        }

        &__content {
            @include contentCommonStyles;

            background: ef.get-value($themeDefault, 'contentBgPos');

            .wlc-bonuses-list--type-swiper & {
                @include bm.get-mq-map('height', $themeDefault, 'swiperHeight');
            }

            .wlc-sections__profile-content--theme-first & {
                max-width: 100%;
                height: auto;
            }
        }

        &__wrapper {
            @include wrapperCommonStyles;
            @include bm.get-mq-map('grid-template-rows', $themeDefault, 'infoHeight');

            &:before {
                @include bm.absoluteCentering();
                @include bm.transition(opacity, ef.get('time', 'less'));

                content: '';
                z-index: 0;

                display: block;
                width: calc(100% + 10px);
                height: calc(100% + 10px);

                background: ef.get-value($themeDefault, 'backgroundDefaultHover');
                opacity: ef.get-value($themeDefault, 'overlayOpacity');

                pointer-events: none;
            }
        }

        &__image-block {
            @include bm.get-mq-map('padding', $themeDefault, 'imageBlockPadding');

            display: grid;
            align-items: end;
            justify-content: center;
        }

        &__image {
            @include imageCommonStyles;
            padding-bottom: ef.get-value($themeDefault, 'relativeImageHeight');

            .wlc-bonus-image-other {
                position: absolute;
            }
        }

        &__bottom {
            @include bm.get-mq-map('padding', $themeDefault, 'btmPadding');
            position: relative;
            z-index: 10;

            display: flex;
            flex-direction: ef.get-value($themeDefault, 'btmFlexDir');
            min-width: 0;
        }

        &__info-block {
            @include infoBlockCommonStyles;
        }

        &__name {
            @include nameCommonStyles;
            line-height: ef.get-value($themeDefault, 'nameLineHeight');
        }

        &__description {
            @include descriptionCommonStyles;
            margin-top: ef.get-value($themeDefault, 'descriptionMargin');
        }

        &__remaning {
            @include text.get-text-style('PrimaryTextBold', ef.get-value($themeDefault, 'activeBlockFontColor'));
        }

        &__secondary {
            @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'activeBlockFontSecondaryColor'));
        }

        &__btns {
            @include bm.get-mq-map('bottom', $themeDefault, 'btnBottomPosition');
            @include bm.get-mq-map('opacity', $themeDefault, 'btnsOpacity');
            @include bm.get-mq-map('transform', $themeDefault, 'btnsTransform');
            @include bm.get-mq-map('margin', $themeDefault, 'btnsMargin');
            @include bm.transition(transform);

            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                margin: ef.get-value($themeDefault, 'btnMargin');
            }
        }
    }

    &.wlc-bonus-item--theme-mod-with-image {

        .wlc-bonus-item {

            &__wrapper {
                display: block;
                background: ef.get-value($themeDefault, 'withImgWrapperBg');

                &:before {
                    display: none;
                }
            }

            &__image-block {
                @include bm.transition(height, 0.3s, ease-in-out);
                @include bm.get-mq-map('height', $themeDefault, 'imgHeightWithImg');
                display: block;
            }

            &__image {
                height: 100%;
                padding-bottom: 0;

                .wlc-bonus-image-other {
                    position: relative;
                    width: ef.get-value($themeDefault, 'otherImgWidth');
                    height: ef.get-value($themeDefault, 'otherImgHeight');
                    object-fit: ef.get-value($themeDefault, 'otherImgFit');
                    object-position: ef.get-value($themeDefault, 'otherImgPos');
                }
            }

            &__bottom {
                @include bm.transition(height, 0.3s, ease-in-out);
                @include bm.get-mq-map('padding', $themeDefault, 'infoBtmPaddingWithImg');
                @include bm.get-mq-map('height', $themeDefault, 'infoHeightWithImg');
            }

            &__btns {
                @include bm.transition(transform, 0.3s, ease-in-out);
                @include bm.get-mq-map('transform', $themeDefault, 'btnBottomTransform');
                position: static;
                margin: ef.get-value($themeDefault, 'btnsMarginWithImg');
            }
        }

        @include bm.hover {
            @include showBtnWithImg;

            .wlc-bonus-item {

                &__image-block {
                    @include bm.get-mq-map('height', $themeDefault, 'imgHeightWithImgHover');
                }

                &__description {
                    opacity: 1;
                }
            }
        }

        @include bm.hover(false) {
            @include showBtnWithImg;

            .wlc-bonus-item {

                &__description {
                    /* stylelint-disable-next-line */
                    display: -webkit-box;
                }
            }
        }
    }

    &.wlc-bonus-item--type-active,
    &.wlc-bonus-item--is-active {

        .wlc-bonus-item {

            &__image,
            &__icon {
                display: none;
            }

            &__wrapper {
                @include bm.get-mq-map('grid-template-rows', $themeDefault, 'infoWrapGridRowsActive');
            }

            &__bottom {
                @include bm.get-mq-map('grid-template-rows', $themeDefault, 'infoGridRowsActive');
                display: grid;
                grid-template-columns: 100%;
                padding: 0;
            }

            @include bm.hover(false) {

                &__description {
                    @include bm.get-mq-map('height', $themeDefault, 'descriptionHeightMobile');
                }

                &__btns {
                    margin-top: auto;
                }

                &__bottom {
                    grid-template-rows: ef.get-value($themeDefault, 'btmMobileGridRows');
                    padding: ef.get-value($themeDefault, 'btnMobilePadding');
                }
            }
        }
    }

    @include bm.hover() {

        .wlc-bonus-item__wrapper {

            &:before {
                display: none;
            }
        }

        .wlc-bonus-item__btns {
            transform: translateY(0);
            opacity: 1;
        }

        .wlc-bonus-item__description {
            opacity: 0;
        }
    }

    @include bm.hover(false) {

        .wlc-bonus-item {

            &__content {
                @include bm.get-mq-map('height', $themeDefault, 'heightMobile');
            }

            &__wrapper {
                @include bm.get-mq-map('grid-template-rows', $themeDefault, 'infoHeightMobile');
            }

            &__bottom {
                display: grid;
                grid-template-rows: ef.get-value($themeDefault, 'btmMobileGridRows');
                width: 100%;
            }

            &__info-block {
                justify-content: center;
                min-width: 0;
                padding: ef.get-value($themeDefault, 'infoPaddingMobile');
            }

            &__btns {
                @include bm.get-mq-map('transform', $themeDefault, 'btnsTransformMobile');

                position: static;
                margin: ef.get-value($themeDefault, 'btnsMarginMobile');
                padding: ef.get-value($themeDefault, 'btnsPaddingMobile');
                opacity: 1;
            }
        }
    }
}
