@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@import '../utils/vars';

.wlc-bonus-item--theme-default {

    .wlc-bonus-item {

        &__content {
            position: relative;
            background: $background;
            height: $height;
            min-width: $minWidth;
            max-width: $maxWidth;
            border-radius: $radius;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                background: $backgroundHover;
            }

            @include mq.min(720) {
                max-width: 100%;
            }
        }

        &__wrapper {
            position: relative;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: auto $infoHeight;
        }

        &__check-icon {
            position: absolute;
            background-color: $chosenIconBg;
            border-radius: $chosenIconBdRds;
            width: $chosenIconWidth;
            height: $chosenIconHeight;
            left: $chosenIconPosL;
            top: $chosenIconPosT;
            display: none;
            justify-content: center;
            align-items: center;

            svg {
                width: $chosenIconSvgSize;
                height: $chosenIconSvgSize;
                stroke: $chosenIconSvgColor;
                fill: none;
            }
        }

        &__image-block {
            position: relative;

            &:hover {

                & + .wlc-bonus-item__bottom {

                    .wlc-bonus-item__btns {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .wlc-bonus-item__description {
                        opacity: 0;
                    }
                }
            }
        }

        &__image {
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: $imageBg;
            padding-bottom: $relativeImageHeight;
            position: relative;

            .wlc-bonus-image-other {
                position: absolute;
            }
        }

        &__bonus-icon {
            width: $bonusIconSize;
            height: $bonusIconSize;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            margin: $bonusIconMargin;
            position: relative;

            .icon-sign {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }

            .icon-text {
                width: $bonusIconValueBlockWidth;
                height: $bonusIconValueBlockHeight;
                border-radius: $bonusIconValueBlockBorderRds;
                background-color: $bonusIconValueBg;
                color: $bonusIconValueFontColor;
                font-size: $bonusIconValueFontSize;
                font-weight: $bonusIconValueFontW;
                position: absolute;
                left: $bonusIconValueBlockPosL;
                bottom: $bonusIconValueBlockPosB;
                margin: $bonusIconValueBlockMagin;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;

                &--small {
                    font-size: $bonusIconValueFontSizeSmall;
                }

                &--smaller {
                    font-size: $bonusIconValueFontSizeSmaller;
                }
            }
        }

        &__tag {
            position: absolute;
            padding: $tagPadding;
            background-color: $tagBg;
            border-radius: $tagRadius;
            @include text.get-text-style(SigntText);
            color: $tagFontColor;
            left: 50%;
            transform: translateX(-50%);
            top: $tagPositionTop;
            z-index: 2;
        }

        &__bottom {

            &:hover {

                .wlc-bonus-item__btns {
                    opacity: 1;
                    transform: translateY(0);
                }

                .wlc-bonus-item__description {
                    opacity: 0;
                }
            }
        }

        &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $infoPadding;
            overflow: hidden;
        }

        &__name {
            @include text.get-text-style(QoteTextBold);
            color: $nameFontColor;
            text-align: center;
            width: $infoWidth;
        }

        &__description {
            @include text.get-text-style(PrimaryText);
            color: $descriptionFontColor;
            text-align: center;
            transition: opacity $time ease-in-out;
            width: $infoWidth;
        }

        &__active-block {
            display: grid;
            grid-gap: $activeBlockPadding;
            padding: $activeBlockPadding;
            margin: $activeBlockMargin;
            max-width: $activeBlockMaxWidth;
            border-radius: $activeBlockRadius;
            text-align: center;
            @include text.get-text-style(PrimaryTextBold);
            color: $activeBlockFontColor;

            .secondary-text {
                @include text.get-text-style(PrimaryText);
                color: $activeBlockFontSecondaryColor;
            }
        }

        &__timer {
            display: flex;
            align-items: center;
            background-color: $activeBlockTimerBg;
            border-radius: $activeBlockTimerRadius;
            padding: $activeBlockTimerPadding;
            margin: $activeBlockTimerMargin;

            .time-text {
                font-weight: bold;
            }
        }

        &__clock-icon {
            margin: $activeBlockTimeIconMargin;

            svg {
                fill: $activeBlockTimeIconFill;
                width: $activeBlockTimeIconSize;
                height: $activeBlockTimeIconSize;
            }
        }

        &__timer-text {
            text-align: left;
        }

        &__progress {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $activeBlockProgressBg;
            border-radius: $activeBlockProgressRadius;
            padding: $activeBlockProgressPadding;
            margin: $activeBlockProgressMargin;
            transition: all $time ease-in-out;
        }

        &__remaning {
            font-weight: bold;
        }

        &__progressbar {
            width: 100%;
            height: $progressBarSize;
            border-radius: $progressBarRadius;
            background-color: $progressBarBg;
            overflow: hidden;
            margin: $progressBarMargin;
        }

        &__progress-inner {
            width: 100%;
            height: 100%;
            background-color: $progressBarColor;
        }

        &__more-icon {
            position: absolute;
            left: $moreIconPosLeft;
            right: $moreIconPosRight;
            top: $moreIconPosTop;
            bottom: $moreIconPosBottom;

            .icon-btn {
                cursor: pointer;
                width: $moreIconSize;
                height: $moreIconSize;

                svg {
                    width: 100%;
                    fill: $moreIconColor;
                }
            }
        }

        &__btns {
            width: 100%;
            position: absolute;
            bottom: 10%;
            display: flex;
            justify-content: center;
            transform: translateY(400%);
            transition: all $time ease-in-out;
            opacity: 0;

            button {
                margin: $btnMargin;
            }
        }
    }

    &.wlc-bonus-item--type-active,
    .active {

        .wlc-bonus-item__wrapper {
            grid-template-rows: auto;
        }

        .wlc-bonus-item__image,
        .wlc-bonus-item__bonus-icon {
            display: none;
        }

        .wlc-bonus-item__name {
            margin-bottom: 0;
        }

        .wlc-bonus-item__bottom {

            &:hover {

                .wlc-bonus-item__description {
                    opacity: 1;
                }

                .wlc-bonus-item__progress {
                    opacity: 0;
                }
            }
        }

        .wlc-bonus-item__image-block {

            &:hover {

                & + .wlc-bonus-item__bottom {

                    .wlc-bonus-item__description {
                        opacity: 1;
                    }
                }
            }
        }

        .wlc-bonus-item__info-block {
            padding-top: 60px;
        }
    }

    .wlc-bonus-item__content.nochoosebtn,
    .wlc-bonus-item__content.noauth {

        .wlc-bonus-item__bottom {

            &:hover {

                .wlc-bonus-item__description {
                    opacity: 1;
                }
            }
        }

        .wlc-bonus-item__image-block {

            &:hover {

                & + .wlc-bonus-item__bottom {

                    .wlc-bonus-item__description {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .wlc-bonus-item__content.choosebtn.noauth {

        .wlc-bonus-item__bottom {

            &:hover {

                .wlc-bonus-item__description {
                    opacity: 0;
                }
            }
        }
    }

    .wlc-bonus-item__content.nochoosebtn {
        cursor: pointer;
        transform-origin: 50% 50%;
        transform: scale(1);
        transition: all $time ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    .wlc-bonus-item__content.chosen {
        opacity: 1;

        .wlc-bonus-item__check-icon {
            display: flex;
        }
    }

    &.wlc-bonus-item--view-experience {

        .wlc-bonus-item__content {
            background: $backgroundExperience;

            &:hover {
                background: $backgroundExperienceHover;
            }
        }
    }

    &.wlc-bonus-item--view-loyalty {

        .wlc-bonus-item__content {
            background: $backgroundLoyalty;

            &:hover {
                background: $backgroundLoyaltyHover;
            }
        }
    }

    &.wlc-bonus-item--view-balance {

        .wlc-bonus-item__content {
            background: $backgroundBalance;

            &:hover {
                background: $backgroundBalanceHover;
            }
        }
    }

    &.wlc-bonus-item--view-freerounds {

        .wlc-bonus-item__content {
            background: $backgroundFreerounds;

            &:hover {
                background: $backgroundFreeroundsHover;
            }
        }
    }

    &.wlc-bonus-item--view-relative {

        .wlc-bonus-item__content {
            background: $backgroundRelative;

            &:hover {
                background: $backgroundRelativeHover;
            }
        }
    }
}
