@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-bonus-item--theme-default {

    .wlc-bonus-item {

        &__content {
            position: relative;
            background: ef.get-value($themeDefault, 'background');
            height: ef.get-value($themeDefault, 'height');
            min-width: ef.get-value($themeDefault, 'minWidth');
            max-width: ef.get-value($themeDefault, 'maxWidth');
            border-radius: ef.get-value($themeDefault, 'radius');
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundHover');
                }
            }

            @include mq.min(1200) {
                min-width: ef.get-value($themeDefault, 'minWidthDesktop');
            }

            @include mq.min(768) {
                max-width: 100%;
            }
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            @include em.get-mq-map('grid-template-rows', $themeDefault, 'infoHeight');
        }

        &__check-icon {
            position: absolute;
            background-color: ef.get-value($themeDefault, 'chosenIconBg');
            border-radius: ef.get-value($themeDefault, 'chosenIconBdRds');
            width: ef.get-value($themeDefault, 'chosenIconWidth');
            height: ef.get-value($themeDefault, 'chosenIconHeight');
            left: ef.get-value($themeDefault, 'chosenIconPosL');
            top: ef.get-value($themeDefault, 'chosenIconPosT');
            display: none;
            justify-content: center;
            align-items: center;

            svg {
                width: ef.get-value($themeDefault, 'chosenIconSvgSize');
                height: ef.get-value($themeDefault, 'chosenIconSvgSize');
                stroke: ef.get-value($themeDefault, 'chosenIconSvgColor');
                fill: none;
            }
        }

        &__image-block {
            position: relative;

            @media (hover: hover) {

                &:hover {

                    & + .wlc-bonus-item__bottom {

                        .wlc-bonus-item__btns {
                            opacity: 1;
                            transform: translateY(0);
                        }

                        .wlc-bonus-item__description {
                            opacity: 0;
                        }

                        .wlc-bonus-item__progress {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &__image {
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: ef.get-value($themeDefault, 'imageBg');
            padding-bottom: ef.get-value($themeDefault, 'relativeImageHeight');
            position: relative;

            .wlc-bonus-image-other {
                position: absolute;
            }
        }

        &__bonus-icon {
            width: ef.get-value($themeDefault, 'bonusIconSize');
            height: ef.get-value($themeDefault, 'bonusIconSize');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            @include em.get-mq-map('margin', $themeDefault, 'bonusIconMargin');
            position: relative;

            .icon-sign {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }

            .icon-text {
                width: ef.get-value($themeDefault, 'bonusIconValueBlockWidth');
                height: ef.get-value($themeDefault, 'bonusIconValueBlockHeight');
                border-radius: ef.get-value($themeDefault, 'bonusIconValueBlockBorderRds');
                background-color: ef.get-value($themeDefault, 'bonusIconValueBg');
                color: ef.get-value($themeDefault, 'bonusIconValueFontColor');
                font-size: ef.get-value($themeDefault, 'bonusIconValueFontSize');
                font-weight: ef.get-value($themeDefault, 'bonusIconValueFontW');
                position: absolute;
                left: ef.get-value($themeDefault, 'bonusIconValueBlockPosL');
                bottom: ef.get-value($themeDefault, 'bonusIconValueBlockPosB');
                margin: ef.get-value($themeDefault, 'bonusIconValueBlockMagin');
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;

                &.wlc-small {
                    font-size: ef.get-value($themeDefault, 'bonusIconValueFontSizeSmall');
                }

                &.wlc-smaller {
                    font-size: ef.get-value($themeDefault, 'bonusIconValueFontSizeSmaller');
                }
            }
        }

        &__tag {
            position: absolute;
            padding: ef.get-value($themeDefault, 'tagPadding');
            background-color: ef.get-value($themeDefault, 'tagBg');
            border-radius: ef.get-value($themeDefault, 'tagRadius');

            @include text.get-text-style('SignText', ef.get-value($themeDefault, 'tagFontColor'));

            left: 50%;
            transform: translateX(-50%);
            top: ef.get-value($themeDefault, 'tagPositionTop');
            z-index: 2;
        }

        &__bottom {

            @media (hover: hover) {

                &:hover {

                    .wlc-bonus-item__btns {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .wlc-bonus-item__description {
                        opacity: 0;
                    }
                }
            }
        }

        &__info-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: ef.get-value($themeDefault, 'infoPadding');
            overflow: hidden;
        }

        &__name {
            @include text.get-text-style('QoteTextBold', ef.get-value($themeDefault, 'nameFontColor'));
            line-height: 1.4;
            text-align: center;
            width: ef.get-value($themeDefault, 'infoWidth');

            @include mq.min(1200) {
                line-height: 1.5;
                width: ef.get-value($themeDefault, 'infoWidthDesktop');
            }
        }

        &__description {
            @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'descriptionFontColor'));
            text-align: center;
            transition: opacity ef.get-value($themeDefault, 'time') ease-in-out;
            width: ef.get-value($themeDefault, 'infoWidth');

            @include mq.min(1200) {
                width: ef.get-value($themeDefault, 'infoWidthDesktop');
            }
        }

        &__active-block {
            display: grid;
            @include em.get-mq-map('padding', $themeDefault, 'activeBlockPadding');
            margin: ef.get-value($themeDefault, 'activeBlockMargin');
            max-width: ef.get-value($themeDefault, 'activeBlockMaxWidth');
            border-radius: ef.get-value($themeDefault, 'activeBlockRadius');
            text-align: center;
            @include text.get-text-style('PrimaryTextBold', ef.get-value($themeDefault, 'activeBlockFontColor'));

            .secondary-text {
                @include text.get-text-style('PrimaryText', ef.get-value($themeDefault, 'activeBlockFontSecondaryColor'));
            }
        }

        &__timer {
            margin: ef.get-value($themeDefault, 'activeBlockTimerMargin');
        }

        &__progress {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: ef.get-value($themeDefault, 'activeBlockProgressBg');
            border-radius: ef.get-value($themeDefault, 'activeBlockProgressRadius');
            padding: ef.get-value($themeDefault, 'activeBlockProgressPadding');
            @include em.get-mq-map('margin', $themeDefault, 'activeBlockProgressMargin');
            transition: all ef.get-value($themeDefault, 'time') ease-in-out;
        }

        &__remaning {
            font-weight: bold;
        }

        &__progressbar {
            width: 100%;
            height: ef.get-value($themeDefault, 'progressBarSize');
            border-radius: ef.get-value($themeDefault, 'progressBarRadius');
            background-color: ef.get-value($themeDefault, 'progressBarBg');
            overflow: hidden;
            margin: ef.get-value($themeDefault, 'progressBarMargin');
        }

        &__progress-inner {
            width: 100%;
            height: 100%;
            background-color: ef.get-value($themeDefault, 'progressBarColor');
        }

        &__more-icon {
            position: absolute;
            left: ef.get-value($themeDefault, 'moreIconPosLeft');
            right: ef.get-value($themeDefault, 'moreIconPosRight');
            top: ef.get-value($themeDefault, 'moreIconPosTop');
            bottom: ef.get-value($themeDefault, 'moreIconPosBottom');

            .icon-btn {
                cursor: pointer;
                width: ef.get-value($themeDefault, 'moreIconSize');
                height: ef.get-value($themeDefault, 'moreIconSize');

                svg {
                    width: 100%;
                    fill: ef.get-value($themeDefault, 'moreIconColor');
                }
            }
        }

        &__btns {
            width: 100%;
            position: absolute;
            @include em.get-mq-map('bottom', $themeDefault, 'btnBottomPosition');
            display: flex;
            justify-content: center;
            @include em.get-mq-map('opacity', $themeDefault, 'btnsOpacity');
            @include em.get-mq-map('transform', $themeDefault, 'btnsTranslateY');

            @include mq.min(1200) {
                transition: transform ef.get-value($themeDefault, 'time') ease-in-out;
            }

            button {
                margin: ef.get-value($themeDefault, 'btnMargin');
            }
        }
    }

    &.wlc-bonus-item--type-active,
    .active {

        .wlc-bonus-item__wrapper {
            grid-template-rows: 41px auto;
        }

        .wlc-bonus-item__image,
        .wlc-bonus-item__bonus-icon {
            display: none;
        }

        .wlc-bonus-item__name {
            margin-bottom: 0;
            line-height: 1.2;
        }

        .wlc-bonus-item__bottom {

            @media (hover: hover) {

                &:hover {

                    .wlc-bonus-item__description {
                        opacity: 1;
                    }

                    .wlc-bonus-item__progress {
                        opacity: 0;
                    }
                }
            }
        }

        .wlc-bonus-item__image-block {

            @media (hover: hover) {

                &:hover {

                    & + .wlc-bonus-item__bottom {

                        .wlc-bonus-item__description {
                            opacity: 1;
                        }
                    }

                    .wlc-bonus-item__progress {
                        opacity: 0;
                    }
                }
            }
        }

        .wlc-bonus-item__info-block {
            @include em.get-mq-map('padding', $themeDefault, 'infoBlockPadding');
        }
    }

    .wlc-bonus-item__content.nochoosebtn,
    .wlc-bonus-item__content.noauth {

        .wlc-bonus-item__bottom {

            @media (hover: hover) {

                &:hover {

                    .wlc-bonus-item__description {
                        opacity: 1;
                    }
                }
            }
        }

        .wlc-bonus-item__image-block {

            @media (hover: hover) {

                &:hover {

                    & + .wlc-bonus-item__bottom {

                        .wlc-bonus-item__description {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .wlc-bonus-item__content.choosebtn.noauth {

        .wlc-bonus-item__bottom {

            &:hover {

                .wlc-bonus-item__description {
                    opacity: 0;
                }
            }
        }
    }

    .wlc-bonus-item__content.nochoosebtn {
        cursor: pointer;
        transform-origin: 50% 50%;
        transform: scale(1);
        transition: all ef.get-value($themeDefault, 'time') ease-in-out;

        @media (hover: hover) {

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .wlc-bonus-item__content.chosen {
        opacity: 1;

        .wlc-bonus-item__check-icon {
            display: flex;
        }
    }

    &.wlc-bonus-item--view-experience {

        .wlc-bonus-item__content {
            background: ef.get-value($themeDefault, 'backgroundExperience');

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundExperienceHover');
                }
            }
        }
    }

    &.wlc-bonus-item--view-loyalty {

        .wlc-bonus-item__content {
            background: ef.get-value($themeDefault, 'backgroundLoyalty');

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundLoyaltyHover');
                }
            }
        }
    }

    &.wlc-bonus-item--view-balance {

        .wlc-bonus-item__content {
            background: ef.get-value($themeDefault, 'backgroundBalance');

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundBalanceHover');
                }
            }
        }
    }

    &.wlc-bonus-item--view-freerounds {

        .wlc-bonus-item__content {
            background: ef.get-value($themeDefault, 'backgroundFreerounds');

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundFreeroundsHover');
                }
            }
        }
    }

    &.wlc-bonus-item--view-relative {

        .wlc-bonus-item__content {
            background: ef.get-value($themeDefault, 'backgroundRelative');

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeDefault, 'backgroundRelativeHover');
                }
            }
        }
    }
}
