@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;
@import '../utils/mixins';

.wlc-bonus-item--theme-long {

    ::ng-deep {

        .wlc-timer {
            margin: ef.get-value($themeLong, 'timerMargin');
        }
    }

    .wlc-bonus-item {

        &__content {
            position: relative;
            border-radius: ef.get-value($themeLong, 'radius');
            margin-left: auto;
            margin-right: auto;
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: auto;
            align-items: center;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__btns {
            margin-top: ef.get-value($themeLong, 'btnsMargin');
            display: flex;
            justify-content: flex-start;

            .wlc-btn {
                margin: ef.get-value($themeLong, 'btnsBtnMargin');
            }
        }

        &__tag {
            white-space: nowrap;
            display: inline-block;
            position: relative;
            padding: ef.get-value($themeLong, 'tagPadding');
            background-color: ef.get-value($themeLong, 'tagBg');
            border-radius: ef.get-value($themeLong, 'tagRadius');
            margin: ef.get-value($themeLong, 'tagMargin');
            @include text.get-text-style('SignText', ef.get-value($themeDefault, 'tagFontColor'));
            z-index: 2;
        }

        &__more-icon {
            position: absolute;
            left: ef.get-value($themeLong, 'moreIconPosLeft');
            right: ef.get-value($themeLong, 'moreIconPosRight');
            top: ef.get-value($themeLong, 'moreIconPosTop');
            bottom: ef.get-value($themeLong, 'moreIconPosBottom');

            .icon-btn {
                cursor: pointer;
                width: ef.get-value($themeLong, 'moreIconSize');
                height: ef.get-value($themeLong, 'moreIconSize');

                svg {
                    width: 100%;
                    fill: ef.get-value($themeLong, 'moreIconColor');
                }
            }
        }

        &__bonus-icon {
            width: ef.get-value($themeLong, 'bonusIconSize');
            height: ef.get-value($themeLong, 'bonusIconSize');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            margin: ef.get-value($themeLong, 'bonusIconMargin');

            .icon-sign {
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }

            .icon-text {
                width: ef.get-value($themeLong, 'bonusIconValueBlockWidth');
                height: ef.get-value($themeLong, 'bonusIconValueBlockHeight');
                border-radius: ef.get-value($themeLong, 'bonusIconValueBlockBorderRds');
                background-color: ef.get-value($themeLong, 'bonusIconValueBg');
                color: ef.get-value($themeLong, 'bonusIconValueFontColor');
                font-size: ef.get-value($themeLong, 'bonusIconValueFontSize');
                font-weight: ef.get-value($themeLong, 'bonusIconValueFontW');
                position: absolute;
                left: ef.get-value($themeLong, 'bonusIconValueBlockPosL');
                bottom: ef.get-value($themeLong, 'bonusIconValueBlockPosB');
                margin: ef.get-value($themeLong, 'bonusIconValueBlockMagin');
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;

                &.wlc-small {
                    font-size: ef.get-value($themeLong, 'bonusIconValueFontSizeSmall');
                }

                &.wlc-smaller {
                    font-size: ef.get-value($themeLong, 'bonusIconValueFontSizeSmaller');
                }
            }
        }

        &__active-block {
            width: 100%;
        }

        &__image-block {
            position: relative;
            text-align: center;
            padding: ef.get-value($themeLong, 'imageBlockPadding');
            flex-direction: column;
            border-radius: ef.get-value($themeLong, 'radius');
            background: ef.get-value($themeLong, 'imageBlockBg');
            margin: ef.get-value($themeLong, 'imageBlockMargin');
        }

        &__name {

            @include text.get-text-style('QoteTextBold', ef.get-value($themeLong, 'nameFontColor'));
            line-height: 1.4;
            text-align: center;

            @include mq.min(1200) {
                line-height: 1.5;
            }
        }

        &__description {
            display: none;

            @include text.get-text-style('PrimaryText', ef.get-value($themeLong, 'descriptionFontColor'));
            text-align: left;
            @include em.transition(opacity);
        }

        @include bonusProgress;
    }
}
