.wlc-bonus-item--theme-mini {
    height: 100%;
    overflow: visible;
    background: var(--wlc-bi-bg, #{ef.get-value($themeMini, 'hostBg')});

    .swiper-slide & {
        margin: 0 0 ef.size(1);
    }

    .wlc-bonus-item {

        &__content {
            position: relative;
            height: 100%;
            cursor: ef.get-value($themeMini, 'contentCursor');

            &:after {
                @include bm.transition();

                content: '';

                position: absolute;
                top: 0;
                left: 0;

                display: var(--wlc-bi-pseudo-display, block);
                width: 100%;
                height: 100%;

                border: ef.get-value($themeMini, 'wrapperBorder');
                border-radius: ef.get-value($themeMini, 'wrapperRadius');
                box-shadow: var(--wlc-bi-shadow);
                pointer-events: none;
                border-color: var(--wlc-bi-border-color, transparent);
            }

            &.chosen {
                --wlc-bi-border-color: #{ef.get-value($themeMini, 'wrapperBorderColorActive')};
                --wlc-bi-shadow: #{ef.get-value($themeMini, 'wrapperShadowActive')};
            }

            &.disabled {
                --wlc-bi-shadow: none;

                cursor: ef.get-value($themeMini, 'contentDisabledCursor');
            }

            &.blank {
                --wlc-bi-wrapper-bg: #{ef.get-value($themeMini, 'wrapperBgBlank')};
                --wlc-bi-wrapper-height: #{ef.get-value($themeMini, 'blankWrapperHeight')};
            }

            &:not(.disabled) {

                @include bm.hover() {
                    --wlc-bi-shadow: #{ef.get-value($themeMini, 'wrapperShadowHover')};
                }
            }
        }

        &__wrapper {
            position: ef.get-value($themeMini, 'wrapperPosition');
            display: block;
            height: var(--wlc-bi-wrapper-height, auto);
            padding-top: ef.get-value($themeMini, 'wrapperPaddingTop');
            border-radius: ef.get-value($themeMini, 'wrapperRadius');
            background: var(--wlc-bi-wrapper-bg, #{ef.get-value($themeMini, 'wrapperBg')});
            overflow: ef.get-value($themeMini, 'wrapperOverflow');

            &-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: ef.get-value($themeMini, 'wrapperBgRepeat');
                background-position: ef.get-value($themeMini, 'wrapperBgPos');
                background-size: ef.get-value($themeMini, 'wrapperBgSize');
                background-origin: ef.get-value($themeMini, 'wrapperBgOrigin');
                filter: var(--wlc-bi-img-filter, none);
            }
        }

        &__image-block {
            @include text.get-text-style(ef.get-value($themeMini, 'imageFontStyle'), ef.get-value($themeMini, 'imageFontColor'));
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: grid;
            align-items: center;
            justify-content: center;
            text-align: ef.get-value($themeMini, 'imageTextAlign');
        }

        &__icon {
            width: ef.get-value($themeMini, 'imageIconWidth');
            height: ef.get-value($themeMini, 'imageIconHeight');

            & .wlc-bonus-item__icon-text {
                @include text.get-text-style(ef.get-value($themeMini, 'imageIconFontStyle'), ef.get-value($themeMini, 'imageIconColor'));
                min-height: ef.get-value($themeMini, 'imageIconMinHeight');

                &.wlc-small {
                    font-size: ef.get-value($themeMini, 'bonusIconTextStyleSmall');
                }

                &.wlc-smaller {
                    font-size: ef.get-value($themeMini, 'bonusIconTextStyleSmaller');
                }
            }
        }

        &__bottom {
            position: relative;
            padding: ef.get-value($themeMini, 'bottomPadding');
        }

        &__name {
            @include text.get-text-style(ef.get-value($themeMini, 'nameFontStyle'), ef.get-value($themeMini, 'nameFontColor'));
            @include bm.lineClamp(map-get($themeMini, 'nameClamp'));
            text-align: ef.get-value($themeMini, 'nameTextAlign');
        }

        &__more-icon {
            top: 0;
            right: 0;

            .icon-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                padding: ef.get-value($themeMini, 'moreIconPadding');
                border-radius: ef.get-value($themeMini, 'moreIconBorderRadius');

                .wlc-icon-content {
                    display: block;
                    width: ef.get-value($themeMini, 'moreIconWidth');
                    height: ef.get-value($themeMini, 'moreIconHeight');
                }
            }
        }

        &__tag-wrapper {
            --wlc-tag-min-width: #{ef.get-value($themeMini, 'tagMinWidth')};
            --wlc-tag-min-height: #{ef.get-value($themeMini, 'tagMinHeight')};
            --wlc-tag-bg-opacity: #{ef.get-value($themeMini, 'tagBgOpacity')};

            position: absolute;
            top: ef.get-value($themeMini, 'tagPosTop');
            left: ef.get-value($themeMini, 'tagPosLeft');
            line-height: 1;
            transform: ef.get-value($themeMini, 'tagTransform');
        }
    }

    &.wlc-bonus-item--theme-mod-mini-wolf {
        --wlc-bi-bg: #{ef.get-value($themeModMiniWolf, 'hostBg')};
        --wlc-bi-wrapper-bg: #{ef.get-value($themeModMiniWolf, 'wrapperBg')};

        .wlc-bonus-item {

            &__image-block {
                background: var(--wlc-bi-decor-bg);
            }

            &__content {
                --wlc-bi-border-color: #{ef.get-value($themeModMiniWolf, 'wrapperBorderColorActive')};
                --wlc-bi-shadow: #{ef.get-value($themeModMiniWolf, 'wrapperBoxShadow')};

                &.blank {
                    --wlc-bi-wrapper-height: #{ef.get-value($themeModMiniWolf, 'blankWrapperHeight')};
                }

                &:not(.disabled) {
                    @include bm.hover() {
                        --wlc-bi-shadow: #{ef.get-value($themeModMiniWolf, 'wrapperBoxShadowHover')};
                        --wlc-bi-decor-bg: #{ef.get-value($themeModMiniWolf, 'bonusItemBgHover')};
                    }
                }

                &.chosen {
                    --wlc-bi-shadow: #{ef.get-value($themeModMiniWolf, 'wrapperBoxShadowSelected')};
                    --wlc-bi-decor-bg: #{ef.get-value($themeModMiniWolf, 'bonusItemBgSelected')};

                    @include bm.hover {
                        --wlc-bi-decor-bg: #{ef.get-value($themeModMiniWolf, 'bonusItemBgSelected')};
                    }
                }
            }
        }
    }
}
