.wlc-bonus-item--theme-partial {
    overflow: initial;

    .wlc-bonus-item {

        &__content {
            border-radius: ef.get-value($themePartial, 'contentRadius');
        }

        &__body {
            @include bm.get-mq-map('height', $themePartial, 'bodySize');
            @include bm.get-mq-map('width', $themePartial, 'bodySize');
            @include bm.get-mq-map('padding', $themePartial, 'bodyPadding');
            @include bm.get-mq-map('background', $themePartial, 'bodyBackground');
            position: relative;

            display: grid;
            grid-row-gap: ef.get-value($themePartial, 'bodyRowOffset');
            grid-column-gap: ef.get-value($themePartial, 'bodyColOffset');
            align-content: ef.get-value($themePartial, 'bodyAlignContent');
            justify-items: ef.get-value($themePartial, 'bodyJustifyItems');
            margin: ef.get-value($themePartial, 'bodyMarign');

            border-radius: ef.get-value($themePartial, 'bodyRadius');
            text-align: ef.get-value($themePartial, 'bodyTextAlign');
        }

        &__footer {
            @include bm.get-mq-map('display', $themePartial, 'footerDisplay');
            max-width: ef.get-value($themePartial, 'footerMaxWidth');
            margin: ef.get-value($themePartial, 'footerMargin');
            padding: ef.get-value($themePartial, 'footerPadding');
            background: ef.get-value($themePartial, 'footerBackground');
            border-radius: ef.get-value($themePartial, 'footerRadius');
        }

        &__check-icon {
            @include bm.get-mq-map('top', $themePartial, 'checkIconTopPos');

            position: absolute;
            right: ef.get-value($themePartial, 'checkIconRightPos');
            z-index: 10;

            display: flex;
            align-items: center;
            justify-content: center;

            width: ef.get-value($themePartial, 'checkIconSize');
            height: ef.get-value($themePartial, 'checkIconSize');

            line-height: 0;

            background: ef.get-value($themePartial, 'checkIconBackground');
            border-radius: ef.get-value($themePartial, 'checkIconRadius');

            span {
                display: inline-block;
                line-height: 0;
            }

            svg {
                width: ef.get-value($themePartial, 'checkIconSvgSize');
                height: ef.get-value($themePartial, 'checkIconSvgSize');
                line-height: 0;

                stroke: ef.get-value($themePartial, 'checkIconStrokeColor');
            }
        }

        &__icon {
            @include bm.get-mq-map('width', $themePartial, 'iconSignSize');
            @include bm.get-mq-map('height', $themePartial, 'iconSignSize');

            cursor: pointer;

            &-sign {
                @include bm.transition(border-color);

                background: ef.get-value($themePartial, 'iconSignBackground');
                border: ef.get-value($themePartial, 'iconSignBorder');

                &--empty {
                    @include bm.get-mq-map('background', $themePartial, 'blankIconSignBackground');
                    @include bm.get-mq-map('padding', $themePartial, 'blankIconSignPadding');

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .wlc-bonus-item__name {
                        @include bm.lineClamp(2);
                        color: ef.get-value($themePartial, 'blankCheckNameColor');
                    }

                    @include bm.colorThemeAlt {
                        @include bm.get-mq-map('background', $themePartial, 'blankIconSignBackgroundAlt');
                    }
                }
            }

            @include bm.hover {

                &-sign {
                    border-color: ef.get-value($themePartial, 'blankIconSignBorderColor');
                }
            }
        }

        &__more-icon {
            @include bm.get-mq-map('display', $themePartial, 'moreIconDisplay');
        }

        &__name {
            @include bm.get-mq-map('display', $themePartial, 'bonusNameDisplay');
            @include text.get-text-style(ef.get-value($themePartial, 'bonusNameStyle'), ef.get-value($themePartial, 'bonusNameColor'));
            @include bm.lineClamp(2);
        }

        &__description {
            @include text.get-text-style(ef.get-value($themePartial, 'bonusDescriptionStyle'), ef.get-value($themePartial, 'bonusDescriptionColor'));
            @include bm.lineClamp(4);

            text-align: center;
        }
    }

    .chosen {

        .wlc-bonus-item__icon-sign {
            border-color: ef.get-value($themePartial, 'blankIconSignBorderColor');
        }
    }


    @include bm.hover {

        .wlc-bonus-item__icon-sign {
            border-color: ef.get-value($themePartial, 'blankIconSignBorderColor');
        }
    }
}
