@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/vars';

.wlc-bonus-item--theme-preview {
    height: ef.get-value($themePreview, 'hostHeight');
    background: ef.get-value($themePreview, 'bonusBackground');
    border-radius: ef.get-value($themePreview, 'hostRadius');

    .wlc-bonus-item {

        &__content {
            @include em.get-mq-map('grid-row-gap', $themePreview, 'hostRowOffset');
            @include em.get-mq-map('grid-column-gap', $themePreview, 'hostColOffset');

            display: grid;
            align-content: ef.get-value($themePreview, 'hostAlignContent');
            justify-items: ef.get-value($themePreview, 'hostJustifyItems');

            height: ef.get-value($themePreview, 'contentHeigh');
            padding: ef.get-value($themePreview, 'bonusPadding');
            text-align: ef.get-value($themePreview, 'hostTextAlign');
            background: ef.get-value($themePreview, 'contentBg');

            &:before {
                @include em.absoluteCentering();

                content: '';
                z-index: 0;
                width: 100%;
                height: 100%;
                background: ef.get-value($themePreview, 'contentOverlayBg');
                opacity: ef.get-value($themePreview, 'contentOverlayOpacity');
            }

            &.without-icon {
                grid-template-rows: ef.get-value($themePreview, 'withoutIconContentGridRows');

                .wlc-bonus-item__icon-wrapper {
                    width: 100%;
                }

                .wlc-bonus-item__details {
                    align-self: ef.get-value($themePreview, 'withoutIconDetailsAlign');
                }
            }
        }

        &__details {
            position: relative;
        }

        &__tag {
            @include text.get-text-style(ef.get-value($themePreview, 'bonusSubtitleStyle'), ef.get-value($themePreview, 'tagFontColor'));
            padding: ef.get-value($themePreview, 'tagPadding');
            background: ef.get-value($themePreview, 'tagBg');
        }

        &__icon-wrapper {
            position: relative;
        }

        &__icon {
            @include em.get-mq-map('width', $themePreview, 'iconSignSize');
            @include em.get-mq-map('height', $themePreview, 'iconSignSize');

            &-text {
                @include text.get-text-style(ef.get-value($themePreview, 'iconTextStyle'), ef.get-value($themePreview, 'iconTextColor'));

                border-radius: ef.get-value($themePreview, 'iconTextRadius');

                &.wlc-small {
                    @include text.get-text-style(ef.get-value($themePreview, 'iconTextStyle'), ef.get-value($themePreview, 'iconTextColor'));
                }

                &.wlc-smaller {
                    @include em.get-mq-map('font-size', $themePreview, 'bonusIconValueFontSizeSmaller');
                }
            }
        }

        &__more-icon {
            @include em.get-mq-map('top', $themePreview, 'moreIconPosTop');
            @include em.get-mq-map('right', $themePreview, 'moreIconPosRight');
        }

        &__name {
            @include text.get-text-style(ef.get-value($themePreview, 'bonusNameStyle'), ef.get-value($themePreview, 'bonusNameColor'));
            @include em.lineClamp(2);
            max-width: 100%;
            margin: ef.get-value($themePreview, 'bonusNameMargin');
            cursor: pointer;
        }

        &__description {
            @include em.lineClamp(3);
            @include text.get-text-style(ef.get-value($themePreview, 'bonusDescriptionStyle'), ef.get-value($themePreview, 'bonusDescriptionColor'));
        }
    }

    &.wlc-bonus-item--dummy {

        .wlc-bonus-item__content {
            @include dummyBg;

            &:before {
                display: none;
            }
        }
    }

    &.wlc-bonus-item--blank {
        background: ef.get-value($themePreview, 'blankBackdrop');

        .wlc-bonus-item {

            &__blank {
                @include em.get-mq-map('padding', $themePreview, 'bonusPadding');

                display: flex;
                flex-direction: column;
                height: ef.get-value($themePreview, 'bonusHeight');
                text-align: center;
                background-repeat: ef.get-value($themePreview, 'blankBgRepeat');
                background-position: ef.get-value($themePreview, 'blankBgPosition');
                background-size: ef.get-value($themePreview, 'blankBgSize');


                &-title {
                    @include text.get-text-style(ef.get-value($themePreview, 'bonusTitleStyle'), ef.get-value($themePreview, 'blankTextColor'));
                    margin: ef.get-value($themeDefault, 'bonusTitleMargin');

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &-subtitle {
                    @include text.get-text-style(ef.get-value($themePreview, 'bonusSubtitleStyle'), ef.get-value($themePreview, 'blankTextColor'));
                    margin: ef.get-value($themePreview, 'bonusSubtitleMargin');
                }

                &-text {
                    @include text.get-text-style(ef.get-value($themePreview, 'bonusTextStyle'), ef.get-value($themePreview, 'blankTextColor'));
                }
            }
        }
    }
}
