@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@import '../utils/vars';

.wlc-bonus-item--theme-preview {
    height: ef.get-value($themePreview, 'hostHeight');

    .wlc-bonus-item {

        &__content {
            height: ef.get-value($themePreview, 'contentHeigh');
            padding: ef.get-value($themePreview, 'bonusPadding');
            text-align: center;
            background: ef.get-value($themePreview, 'bonusBackground');
        }

        &__tag {
            @include text.get-text-style(ef.get-value($themePreview, 'bonusSubtitleStyle'), ef.get-value($themePreview, 'tagFontColor'));
        }

        &__bonus-icon {
            @include em.get-mq-map('margin', $themePreview, 'bonusIconMargin');
            position: relative;
            max-width: ef.get-value($themePreview, 'bonusIconMaxWidht');
        }

        &__icon-sign {
            @include em.get-mq-map('width', $themePreview, 'iconSignSize');
            @include em.get-mq-map('height', $themePreview, 'iconSignSize');
            border: ef.get-value($themePreview, 'iconSignBoreder');
            border-radius: ef.get-value($themePreview, 'iconSignRadius');
            background: ef.get-value($themePreview, 'iconSignBackground');
            box-shadow: ef.get-value($themePreview, 'iconSignShadow');
        }

        &__more-icon {
            position: absolute;
            top: ef.get-value($themePreview, 'moreIconTopPos');
            right: ef.get-value($themePreview, 'moreIconRightPos');
            cursor: pointer;

            svg {
                @include em.transition(fill);
                width: ef.get-value($themePreview, 'moreIconSvgWidth');
                fill: ef.get-value($themePreview, 'moreIconSvgFill');
            }

            @include em.hover {

                svg {
                    fill: ef.get-value($themePreview, 'moreIconSvgFillHover');
                }
            }
        }

        &__icon-text {
            @include text.get-text-style(ef.get-value($themePreview, 'iconTextStyle'), ef.get-value($themePreview, 'iconTextColor'));

            position: absolute;
            right: ef.get-value($themePreview, 'iconTextRightPos');
            bottom: ef.get-value($themePreview, 'iconTextBottomPos');
            left: ef.get-value($themePreview, 'iconTextLeftPos');
            display: flex;
            align-items: center;
            justify-content: center;

            width: ef.get-value($themePreview, 'iconTextWidth');
            height: ef.get-value($themePreview, 'iconTextHeight');
            margin: ef.get-value($themePreview, 'iconTextMargin');

            background: ef.get-value($themePreview, 'iconTextBackground');
            border-radius: ef.get-value($themePreview, 'iconTextRadius');

            &.wlc-small {
                @include text.get-text-style(ef.get-value($themePreview, 'iconTextStyle'), ef.get-value($themePreview, 'iconTextColor'));
            }

            &.wlc-smaller {
                @include em.get-mq-map('font-size', $themePreview, 'bonusIconValueFontSizeSmaller');
            }
        }

        &__name {
            @include text.get-text-style(ef.get-value($themePreview, 'bonusNameStyle'), ef.get-value($themePreview, 'bonusNameColor'));
            @include em.lineClamp(2);
            max-width: 100%;
            margin: ef.get-value($themePreview, 'bonusNameMargin');
            cursor: pointer;
        }

        &__description {
            @include em.lineClamp(3);
            @include text.get-text-style(ef.get-value($themePreview, 'bonusDescriptionStyle'), ef.get-value($themePreview, 'bonusDescriptionColor'));
        }

        &__blank {
            display: flex;
            flex-direction: column;
            height: ef.get-value($themePreview, 'bonusHeight');
            padding: ef.get-value($themePreview, 'bonusPadding');
            text-align: center;
            background: url('/gstatic/wlc/bonuses/blank-bonus-decor.png') no-repeat center top, linear-gradient(180deg, #8dacc9 0%, #003d5f 100%);
            background-size: contain;

            &-title {
                @include text.get-text-style(ef.get-value($themePreview, 'bonusTitleStyle'));
                margin: ef.get-value($themeDefault, 'bonusTitleMargin');

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-subtitle {
                @include text.get-text-style(ef.get-value($themePreview, 'bonusSubtitleStyle'));
                margin: ef.get-value($themePreview, 'bonusSubtitleMargin');
            }

            &-text {
                @include text.get-text-style(ef.get-value($themePreview, 'bonusTextStyle'));
            }
        }
    }

    &.wlc-bonus-item--theme-mod-chip-v2 {

        .wlc-bonus-item__icon-text {
            @include text.get-text-style(ef.get-value($chipV2, 'previewBonusIconValTextStyle'), ef.get-value($chipV2, 'bonusIconValTextColor'));
            @include em.get-mq-map('min-width', $chipV2, 'previewBonusIconValMinWidth');
            @include em.get-mq-map('height', $chipV2, 'previewBonusIconValHeight');
            @include em.get-mq-map('bottom', $chipV2, 'previewBonusIconValPosB');
            @include em.get-mq-map('left', $chipV2, 'previewBonusIconValPosL');

            right: ef.get-value($chipV2, 'bonusIconValPosR');

            width: ef.get-value($chipV2, 'bonusIconValWidth');
            max-width: ef.get-value($chipV2, 'bonusIconValMaxWidth');

            margin: ef.get-value($chipV2, 'bonusIconValMargin');

            border-radius: ef.get-value($chipV2, 'previewBonusIconValRadius');
        }
    }
}
