@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;

.wlc-bonus-item--theme-promo {
    @include em.get-mq-map('max-width', $themePromo, 'maxWidth');
    @include em.transition(background);

    width: 100%;
    max-width: 790px;
    background: ef.get-value($themePromo, 'background');
    border-radius: ef.get-value($themePromo, 'radius');
    overflow: hidden;

    .wlc-bonus-item {

        &__content {
            @include em.get-mq-map('height', $themePromo, 'height');

            position: relative;

            &.subscribed,
            &.active,
            &.inventoried {

                .wlc-bonus-item__tag {
                    color: ef.get-value($themePromo, 'tagFontColor2');
                }
            }
        }

        &__wrapper {
            @include em.get-mq-map('grid-template-areas', $themePromo, 'wrapperAreas');
            @include em.get-mq-map('grid-template-columns', $themePromo, 'wrapperColumns');

            position: relative;
            display: grid;
            justify-content: space-between;
        }

        &__image-block {
            @include em.get-mq-map('grid-area', $themePromo, 'imgBlockAreaName');
            @include em.get-mq-map('padding', $themePromo, 'imgPadding');

            position: relative;
            z-index: 0;
            width: 100%;

            background: ef.get-value($themePromo, 'imgBlockBg');
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            &:before {
                @include em.get-mq-map('background', $themePromo, 'imgOverlay');

                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &__icon {
            @include em.get-mq-map('margin', $themePromo, 'iconMargin');
        }

        &__info-block {
            @include em.get-mq-map('grid-area', $themePromo, 'infoAreaName');
            @include em.get-mq-map('height', $themePromo, 'height');
            @include em.get-mq-map('padding', $themePromo, 'infoPadding');
            @include em.get-mq-map('grid-gap', $themePromo, 'infoGap');
            @include em.get-mq-map('justify-items', $themePromo, 'infoJustifyItems');

            position: relative;
            z-index: 1;

            display: grid;
            grid-template-areas: ef.get-value($themePromo, 'infoAreas');
            grid-template-rows: ef.get-value($themePromo, 'infoRows');
            min-width: 0;
            max-width: 100%;

            overflow: hidden;
        }

        &__tag {
            grid-area: tag;
            align-self: ef.get-value($themePromo, 'tagAlignSelf');
        }

        &__info {
            @include em.get-mq-map('text-align', $themePromo, 'infoJustifyItems');

            grid-area: info;
        }

        &__btns {
            grid-area: buttons;
            justify-content: ef.get-value($themePromo, 'btnsJustifyContent');
        }

        &__name {
            @include em.get-mq-map('margin', $themePromo, 'nameMargin');
            @include em.lineClamp(2);
            @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 375), ef.get-value($themePromo, 'nameFontColor'));

            @include mq.min(900) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 900), ef.get-value($themePromo, 'nameFontColor'));
            }

            @include mq.min(1200) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 1200), ef.get-value($themePromo, 'nameFontColor'));
            }

            @include mq.min(1630) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 1630), ef.get-value($themePromo, 'nameFontColor'));
            }
        }

        &__description {
            @include text.get-text-style(ef.get-value($themePromo, 'descrTextStyle'), ef.get-value($themePromo, 'descriptionFontColor'));
            @include em.lineClamp(3);
        }
    }

    @include em.hover() {
        background: ef.get-value($themePromo, 'backgroundHover');
    }
}
