.wlc-bonus-item--theme-promo {
    @include bm.get-mq-map('max-width', $themePromo, 'maxWidth');

    width: 100%;
    background: ef.get-value($themePromo, 'background');
    border-radius: ef.get-value($themePromo, 'radius');
    overflow: hidden;

    .wlc-bonus-item {

        &__content {
            @include bm.get-mq-map('height', $themePromo, 'height');

            position: relative;
        }

        &__wrapper {
            @include bm.get-mq-map('grid-template-areas', $themePromo, 'wrapperAreas');
            @include bm.get-mq-map('grid-template-columns', $themePromo, 'wrapperColumns');
            @include bm.get-mq-map('grid-template-rows', $themePromo, 'wrapperRows');
            @include bm.get-mq-map('height', $themePromo, 'wrapperHeight');

            position: relative;
            display: grid;
            justify-content: space-between;
        }

        &__image-block {
            @include bm.get-mq-map('position', $themePromo, 'imgPosition');
            @include bm.get-mq-map('flex', $themePromo, 'imgFlex');
            @include bm.get-mq-map('grid-area', $themePromo, 'imgBlockAreaName');
            @include bm.get-mq-map('padding', $themePromo, 'imgPadding');

            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
        }

        &__image-wrapper {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: ef.get-value($themePromo, 'imgBlockBg');

            &:before {
                @include bm.get-mq-map('background', $themePromo, 'imgOverlay');

                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            background: none;
        }

        &__icon {
            @include bm.get-mq-map('margin', $themePromo, 'iconMargin');
            @include bm.get-mq-map('width', $themePromo, 'iconSize');
            @include bm.get-mq-map('height', $themePromo, 'iconSize');
        }

        &__info-block {
            @include bm.get-mq-map('grid-area', $themePromo, 'infoAreaName');
            @include bm.get-mq-map('height', $themePromo, 'infoHeight');
            @include bm.get-mq-map('padding', $themePromo, 'infoPadding');
            @include bm.get-mq-map('flex-direction', $themePromo, 'infoFlexDirection');
            @include bm.get-mq-map('align-items', $themePromo, 'infoAlignItems');

            z-index: 1;

            display: flex;
            min-width: 0;
            max-width: 100%;

            overflow: hidden;
        }

        &__tag {
            @include bm.get-mq-map('position', $themePromo, 'infoTagPosition');
            @include bm.get-mq-map('top', $themePromo, 'infoTagPositionTop');
            @include bm.get-mq-map('margin-bottom', $themePromo, 'infoItemsMargin');
        }

        &__info {
            @include bm.get-mq-map('margin-bottom', $themePromo, 'infoItemsMargin');
            @include bm.get-mq-map('text-align', $themePromo, 'infoTextAlign');

            width: 100%;
        }

        &__btns {
            grid-area: buttons;
            justify-content: ef.get-value($themePromo, 'btnsJustifyContent');
        }

        &__name {
            @include bm.get-mq-map('margin', $themePromo, 'nameMargin');
            @include bm.lineClamp(2);
            @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 375), ef.get-value($themePromo, 'nameFontColor'));

            @include mq.min(900) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 900), ef.get-value($themePromo, 'nameFontColor'));
            }

            @include mq.min(1200) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 1200), ef.get-value($themePromo, 'nameFontColor'));
            }

            @include mq.min(1630) {
                @include text.get-text-style(ef.get-value($themePromo, 'nameTextStyle', 1630), ef.get-value($themePromo, 'nameFontColor'));
            }
        }

        &__description {
            @include bm.get-mq-map('height', $themePromo, 'heightDescription');
            @include text.get-text-style(ef.get-value($themePromo, 'descrTextStyle'), ef.get-value($themePromo, 'descriptionFontColor'));
            overflow: hidden;
        }
    }

    &.wlc-bonus-item--theme-mod-with-image {

        @include mq.max(560) {
            max-width: ef.get-value($themePromo, 'maxWidthWithImg');

            .wlc-bonus-item {

                &__content {
                    height: auto;
                }

                &__wrapper {
                    grid-template-rows: ef.get-value($themePromo, 'wrapperRowsWithImg');
                    height: auto;
                }

                &__description {
                    @include descriptionCommonStyles;
                    height: auto;
                }

                &__image-block {
                    position: relative;
                }

                &__image-wrapper {

                    &:before {
                        display: none;
                    }
                }

                &__info-block {
                    padding: ef.get-value($themePromo, 'infoBlockPaddingWithImg');
                }
            }
        }
    }

    @include bm.hover() {
        background: ef.get-value($themePromo, 'backgroundHover');
    }
}
