@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/functions' as ef;

.wlc-bonus-item--theme-reg-first {
    @include viewsBackgrounds;
    @include em.get-mq-map('max-width', $themeRegFirst, 'maxWidth');

    min-width: ef.get-value($themeRegFirst, 'minWidth');
    margin: ef.get-value($themeRegFirst, 'itemMargin');
    background: ef.get-value($themeRegFirst, 'background');

    .wlc-bonus-item {

        &__tag {
            position: absolute;
            top: ef.get-value($themeRegFirst, 'tagPosTop');
            left: ef.get-value($themeRegFirst, 'tagPosLeft');
            z-index: 10;
            transform: ef.get-value($themeRegFirst, 'tagTransform');
            opacity: 0;
        }

        &__content {
            @include contentCommonStyles($themeRegFirst);

            cursor: pointer;
            border-radius: ef.get-value($themeRegFirst, 'contentRadius');
            border: ef.get-value($themeRegFirst, 'chosenNoBorder');

            &.chosen {
                border: ef.get-value($themeRegFirst, 'chosenBorder');

                .wlc-bonus-item__tag {
                    opacity: 1;
                }
            }
        }

        &__wrapper {
            @include wrapperCommonStyles;
            @include em.get-mq-map('grid-template-rows', $themeRegFirst, 'infoHeight');
        }

        &__image {
            @include imageCommonStyles;

            height: ef.get-value($themeRegFirst, 'imageHeight');
            padding: ef.get-value($themeRegFirst, 'imagePadding');

            .wlc-bonus-image-other {
                position: relative;
                width: ef.get-value($themeRegFirst, 'imageOtherWidth');
                height: ef.get-value($themeRegFirst, 'imageOtherHeight');
                object-fit: ef.get-value($themeRegFirst, 'imageOtherObjectFit');
                object-position: ef.get-value($themeRegFirst, 'imageOtherObjectPos');
            }
        }

        &__bottom {
            @include em.get-mq-map('padding', $themeDefault, 'infoBtmPaddingWithImg');
        }

        &__info-block {
            @include infoBlockCommonStyles;
        }

        &__name {
            @include nameCommonStyles;
            @include em.get-mq-map('width', $themeRegFirst, 'infoWidth');
        }

        &__description {
            @include descriptionCommonStyles;
            @include em.get-mq-map('width', $themeRegFirst, 'infoWidth');
        }
    }

    &:not(.wlc-bonus-item--dummy) {
        @include em.hover() {
            background: ef.get-value($themeRegFirst, 'backgroundHover');
        }
    }

    &.wlc-bonus-item--dummy {
        background: ef.get-value($themeDefault, 'dummyBg');

        .wlc-bonus-item__content {
            cursor: default;
        }
    }
}
