.wlc-bonus-item--theme-wolf {
    --wlc-timer-caption-align: left;
    @include bm.get-mq-map('--wlc-bi-visual-width', $themeWolf, 'visualWidth');
    @include bm.cardInnerShadow($themeWolf);

    width: var(--wlc-bi-width, 100%);
    min-width: 0;
    max-width: var(--wlc-bi-max-width, ef.get-value($themeWolf, 'cardMaxWidth'));
    overflow: initial;
    height: 100%;
    border-radius: ef.get-value($themeWolf, 'cardRadius');

    .wlc-bonus-item {

        &__wrapper {
            display: flex;
            flex-direction: var(--wlc-bi-dir, row);
            width: 100%;
            height: 100%;
            cursor: var(--wlc-bi-cursor, pointer);
            overflow: hidden;
            border-radius: ef.get-value($themeWolf, 'cardRadius');

            &:before,
            &:after {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                display: block;
                width: 100%;
                height: 100%;

                border-radius: inherit;
            }

            &:before {
                z-index: 0;
                background: var(--wlc-bi-bg, #{ef.get-value($themeWolf, 'cardBg')});
            }

            &:after {
                @include bm.transition(opacity, 0.4s, ease-in-out);

                z-index: var(--wlc-bi-overlay-zindex, 2);
                background: var(--wlc-bi-overlay-bg, #{ef.get-value($themeWolf, 'overlayBg')});
                opacity: var(--wlc-bi-overlay-opacity, 0);
                mix-blend-mode: var(--wlc-bi-overlay-blend-mode, #{ef.get-value($themeWolf, 'overlayBlendMode')});
                pointer-events: none;
            }

            &.disabled {
                --wlc-bi-overlay-bg: #{ef.get-value($themeWolf, 'disabledOverlayBg')};
                --wlc-bi-overlay-opacity: #{ef.get-value($themeWolf, 'disabledOverlayOpacity')};
                --wlc-bi-bg-filter: #{ef.get-value($themeWolf, 'disabledFilter')};
                --wlc-bi-overlay-zindex: 10;
                --wlc-bi-overlay-blend-mode: #{ef.get-value($themeWolf, 'disabledOverlayBlendMode')};

                @include bm.hover() {
                    --wlc-bi-overlay-opacity: 0.2;
                }
            }

            &.has-timer {
                --wlc-bi-title-clamp: #{ef.get-value($themeWolf, 'titleLineClampShort')};
            }

            @include bm.hover() {

                &:not(.disabled) {
                    --wlc-bi-overlay-opacity: #{ef.get-value($themeWolf, 'overlayOpacityHover')};
                }
            }
        }

        &__visual,
        &__content,
        &__wrapper:before {
            filter: var(--wlc-bi-bg-filter, none);
        }

        &__visual {
            position: relative;
            z-index: 3;
            display: grid;
            flex: 0 0 auto;
            grid-template-areas: 'visual';
            width: var(--wlc-bi-visual-width);
            min-width: ef.get-value($themeWolf, 'visualMinWidth');
            max-width: var(--wlc-bi-visual-max-width, #{ef.get-value($themeWolf, 'visualMaxWidth')});

            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-bottom: var(--wlc-bi-visual-ratio, #{ef.get-value($themeWolf, 'visualRatio')});
            }

            &:before,
            &-bg,
            &-content {
                grid-area: visual;
            }
        }

        &__visual-content {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
            padding: var(--wlc-bi-visual-padding, #{ef.get-value($themeWolf, 'visualContentPadding')});
        }

        &__visual-bg {
            background: ef.get-value($themeWolf, 'visualFallbackBg');
            mask-image: var(--wlc-bi-mask, #{ef.get-value($themeWolf, 'visualMask')});
            mask-position: var(--wlc-bi-mask-pos, #{ef.get-value($themeWolf, 'visualMaskPosition')});
            mask-size: cover;
            mask-repeat: no-repeat;
            background-position: ef.get-value($themeWolf, 'bgPosition');
            background-size: ef.get-value($themeWolf, 'bgSize');
            transform: translate3d(0, 0, 0);
        }

        &__content {
            position: relative;
            z-index: 5;

            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            gap: ef.get-value($themeWolf, 'contentGap');
            align-items: var(--wlc-bi-content-align, #{ef.get-value($themeWolf, 'contentAlign')});
            width: var(--wlc-bi-content-width, #{ef.get-value($themeWolf, 'contentWidth')});
            margin: var(--wlc-bi-content-margin, 0);
            padding: var(--wlc-bi-content-padding, #{ef.get-value($themeWolf, 'contentPadding')});
            text-align: var(--wlc-bi-text-align, #{ef.get-value($themeWolf, 'contentTextAlign')});

            > * {
                min-width: 0;
                max-width: 100%;
            }
        }

        &__title {
            @include bm.lineClamp(ef.get-value($themeWolf, 'titleLineClamp'));
            @include text.get-text-style(
                ef.get-value($themeWolf, 'titleTextStyle'),
                ef.get-value($themeWolf, 'titleColor'),
            );

            -webkit-line-clamp: var(--wlc-bi-title-clamp, #{ef.get-value($themeWolf, 'titleLineClamp')});
        }

        &__description {
            @include bm.lineClamp(ef.get-value($themeWolf, 'descrLineClamp'));
            @include text.get-text-style(
                ef.get-value($themeWolf, 'descrTextStyle'),
                ef.get-value($themeWolf, 'descrColor'),
            );
        }

        &__bottom {
            margin: auto 0 0;
        }

        &__locked {
            --wlc-icon-width: #{ef.get-value($themeWolf, 'lockedIconSize')};
            --wlc-icon-height: #{ef.get-value($themeWolf, 'lockedIconSize')};

            color: ef.get-value($themeWolf, 'lockedIconColor');
        }

        &__btns {
            display: flex;
            justify-content: var(--wlc-bi-buttons-justify, #{ef.get-value($themeWolf, 'btnsJustify')});
            margin: ef.get-value($themeWolf, 'btnsMargin');
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            min-height: ef.get-value($themeWolf, 'tagsMinHeight');
            line-height: 1;
        }

        &__info {
            --wlc-icon-width: #{ef.get-value($themeWolf, 'infoIconSize')};
            --wlc-icon-height: #{ef.get-value($themeWolf, 'infoIconSize')};

            @include bm.transition(background);

            display: ef.get-value($themeWolf, 'infoDisplay');
            align-items: center;
            justify-content: center;
            width: ef.get-value($themeWolf, 'infoSize');
            height: ef.get-value($themeWolf, 'infoSize');
            margin: var(--wlc-bi-info-margin, #{ef.get-value($themeWolf, 'infoMargin')});
            color: ef.get-value($themeWolf, 'infoIconColor');
            line-height: 1;
            background: ef.get-value($themeWolf, 'infoBg');
            border-radius: ef.get-value($themeWolf, 'infoRadius');
            transform: var(--wlc-bi-info-transform, none);

            @include bm.hover {
                color: ef.get-value($themeWolf, 'infoIconColorHover');
                background: ef.get-value($themeWolf, 'infoBgHover');
            }
        }

        &__label {
            @include text.get-text-style(
                ef.get-value($themeWolf, 'labelTextStyle'),
                ef.get-value($themeWolf, 'labelColor'),
            );
            position: absolute;
            top: ef.get-value($themeWolf, 'labelPosTop');
            right: ef.get-value($themeWolf, 'labelPosRight');
            z-index: 10;
            padding: ef.get-value($themeWolf, 'labelPadding');
            background: ef.get-value($themeWolf, 'labelBg');
            transform: ef.get-value($themeWolf, 'labelTransform');
            border-radius: ef.get('radius', 'main');

            animation: fadeIn 0.3s;
        }
    }

    &.wlc-bonus-item--theme-mod-vertical {
        --wlc-bi-dir: column-reverse;
        --wlc-bi-visual-width: 100%;
        --wlc-bi-visual-max-width: 100%;
        --wlc-bi-bg: #{ef.get-value($wolfModVertical, 'cardBg')};
        --wlc-bi-visual-ratio: #{ef.get-value($wolfModVertical, 'visualRatio')};
        --wlc-bi-visual-padding: #{ef.get-value($wolfModVertical, 'visualContentPadding')};
        --wlc-bi-mask: #{ef.get-value($wolfModVertical, 'visualMask')};
        --wlc-bi-mask-pos: #{ef.get-value($wolfModVertical, 'visualMaskPosition')};
        --wlc-bi-content-width: 100%;
        --wlc-bi-content-margin: #{ef.get-value($wolfModVertical, 'contentMargin')};
        --wlc-bi-content-padding: #{ef.get-value($wolfModVertical, 'contentPadding')};
        --wlc-bi-content-align: #{ef.get-value($wolfModVertical, 'contentAlign')};
        --wlc-bi-text-align: #{ef.get-value($wolfModVertical, 'contentTextAlign')};
        --wlc-bi-content-bg-transform: translateX(50%);
        --wlc-bi-buttons-justify: #{ef.get-value($wolfModVertical, 'btnsJustify')};
        --wlc-bi-title-clamp: #{ef.get-value($wolfModVertical, 'titleLineClamp')};

        &.wlc-bonus-item--type-reg {
            --wlc-bi-visual-ratio: #{ef.get-value($wolfModVertical, 'regVisualRatio')};

            @include bm.get-mq-map('max-width', $wolfModVertical, 'regCardMaxWidth');
            margin: 0 auto;
        }
    }

    &.wlc-bonus-item--type-reg {
        --wlc-bi-info-transform: #{ef.get-value($themeWolf, 'infoTransformChosen')};

        .wlc-bonus-item {

            &__content {
                padding: ef.get-value($themeWolf, 'regContentPadding');
            }
        }
    }

    &.wlc-bonus-item--dummy {
        --wlc-bi-max-width: #{ef.get-value($wolfDummy, 'cardMaxWidth')};
        --wlc-bi-bg: #{ef.get-value($wolfDummy, 'cardBg')};
        --wlc-bi-cursor: default;
        --wlc-bi-content-padding: #{ef.get-value($wolfDummy, 'contentPadding')};
        --wlc-bi-content-margin: #{ef.get-value($wolfDummy, 'contentMargin')};

        margin: ef.get-value($wolfDummy, 'cardMargin');

        .wlc-bonus-item {

            &__wrapper {

                &:before {
                    position: relative;
                    height: auto;
                    padding-bottom: #{ef.get-value($wolfDummy, 'cardRatio')};
                }

                &:after {
                    display: none;
                }
            }

            &__content {
                background-color: ef.get-value($wolfDummy, 'contentBgColor');
                background-repeat: ef.get-value($wolfDummy, 'contentBgRepeat');
                background-position: ef.get-value($wolfDummy, 'contentBpPos');
                background-size: ef.get-value($wolfDummy, 'contentBgSize');
                border-radius: ef.get-value($themeWolf, 'cardRadius');
            }
        }
    }
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
