<div class="{{$class}}__title-wrp">
    <div class="{{$class}}__title">
        <span *ngIf="$params.title.icon"
              wlc-icon
              class="{{$class}}__title-icon"
              [iconPath]="$params.title.icon"
        ></span>
        <span class="{{$class}}__title-text"
              (click)="openInstruction()">
            <span>{{$params.title.text | translate}}</span>
        </span>
    </div>
    <button wlc-button
            class="{{$class}}__close"
            theme="cleared"
            (click)="close()"
            iconPath="/wlc/icons/close.svg">
    </button>
</div>
