.wlc-banner--theme-default-banner:host {

    ::ng-deep {

        .banner {

            @include bm.get-mq-map('min-height', $themeDefaultBanner, 'height');

            position: relative;
            display: flex;
            align-items: center;
            background: ef.get-value($themeDefaultBanner, 'background');
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;

            .wlc-btn {
                @include bm.get-mq-map('margin', $themeDefaultBanner, 'buttonMargin');
            }

            .container {
                position: relative;
                z-index: ef.get-value($themeDefaultBanner, 'containerZindex');
            }

            &__decor {
                position: absolute;
                z-index: ef.get-value($themeDefaultBanner, 'decorZindex');
                object-position: initial;

                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                    object-position: inherit;
                    will-change: transform;
                }

                /* helper classes to clients */
                &--top {

                    &-in {
                        top: 1%;
                    }

                    &-out {
                        top: -1%;
                    }
                }

                &--right {

                    &-in {
                        right: 1%;
                    }

                    &-out {
                        right: -1%;
                    }
                }

                &--bottom {

                    &-in {
                        bottom: 1%;
                    }

                    &-out {
                        bottom: -1%;
                    }
                }

                &--left {

                    &-in {
                        left: 1%;
                    }

                    &-out {
                        left: -1%;
                    }
                }
            }

            &-1 {

                .banner_bg {

                    &:before {
                        @include bm.get-mq-map('display', $themeDefault1Banner, 'bgShadowDisplay');
                    }
                }

                .banner__decor {

                    &--center {

                        @include bm.get-mq-map('left', $themeDefault1Banner, 'bannerDecorCenterLeft');
                        @include bm.get-mq-map('bottom', $themeDefault1Banner, 'bannerDecorCenterBottom');
                        @include bm.get-mq-map('max-width', $themeDefault1Banner, 'bannerDecorCenterMaxWidth');
                        @include bm.get-mq-map('max-height', $themeDefault1Banner, 'bannerDecorCenterHeight');

                        @include mq.min(1420) {
                            max-height: 320px;
                        }
                    }

                    &--right {
                        @include bm.get-mq-map('right', $themeDefault1Banner, 'rightDecorPosRight');
                        @include bm.get-mq-map('bottom', $themeDefault1Banner, 'rightDecorPosBottom');
                        @include bm.get-mq-map('max-width', $themeDefault1Banner, 'rightDecorMaxWidth');
                        @include bm.get-mq-map('max-height', $themeDefault1Banner, 'rightDecorMaxHeight');

                        @media (min-width: 2500px) {
                            left: ef.get-value($themeDefault1Banner, 'rightDecorPosLeft');
                        }
                    }
                }

                .banner__title,
                .banner__description {
                    @include bm.get-mq-map('color', $themeDefaultBanner, 'banner1DefaultColor');
                    @include bm.get-mq-map('text-shadow', $themeDefaultBanner, 'banner1ColorShadow');
                }
            }

            &-2 {

                .banner__decor {

                    &--left {
                        @include bm.get-mq-map('left', $themeDefault2Banner, 'leftDecorPosLeft');
                        @include bm.get-mq-map('bottom', $themeDefault2Banner, 'leftDecorPosBottom');
                        @include bm.get-mq-map('max-width', $themeDefault2Banner, 'leftDecorMaxWidth');
                    }

                    &--right {
                        @include bm.get-mq-map('right', $themeDefault2Banner, 'rightDecorPosRight');
                        @include bm.get-mq-map('top', $themeDefault2Banner, 'rightDecorPosTop');
                        @include bm.get-mq-map('max-width', $themeDefault2Banner, 'rightDecorMaxWidth');
                    }
                }
            }

            &-3 {

                .banner__decor {

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    &--left {
                        @include bm.get-mq-map('top', $themeDefault3Banner, 'leftDecorPosTop');
                        @include bm.get-mq-map('bottom', $themeDefault3Banner, 'leftDecorPosBottom');
                        @include bm.get-mq-map('left', $themeDefault3Banner, 'leftDecorPosLeft');
                        @include bm.get-mq-map('display', $themeDefault3Banner, 'leftDecorDisplay');
                        @include bm.get-mq-map('max-width', $themeDefault3Banner, 'leftDecorMaxWidth');

                        z-index: ef.get-value($themeDefault3Banner, 'leftDecorZindex');
                        animation-delay: ef.get-value($themeDefault3Banner, 'leftDecorAnimDelay');
                    }

                    &--center {
                        @include bm.get-mq-map('top', $themeDefault3Banner, 'centerDecorPosTop');
                        @include bm.get-mq-map('right', $themeDefault3Banner, 'centerDecorPosRight');
                        @include bm.get-mq-map('left', $themeDefault3Banner, 'centerDecorPosLeft');
                        @include bm.get-mq-map('display', $themeDefault3Banner, 'centerDecorDisplay');
                        @include bm.get-mq-map('max-width', $themeDefault3Banner, 'centerDecorMaxWidth');
                        @include bm.get-mq-map('height', $themeDefault3Banner, 'centerDecorHeight');

                        z-index: ef.get-value($themeDefault3Banner, 'centerDecorZindex');
                        animation-delay: ef.get-value($themeDefault3Banner, 'centerDecorAnimDelay');
                    }

                    &--right {
                        @include bm.get-mq-map('top', $themeDefault3Banner, 'rightDecorPosTop');
                        @include bm.get-mq-map('right', $themeDefault3Banner, 'rightDecorPosRight');
                        @include bm.get-mq-map('left', $themeDefault3Banner, 'rightDecorPosLeft');
                        @include bm.get-mq-map('display', $themeDefault3Banner, 'rightDecorDisplay');
                        @include bm.get-mq-map('max-width', $themeDefault3Banner, 'rightDecorMaxWidth');
                        @include bm.get-mq-map('height', $themeDefault3Banner, 'rightDecorHeight');

                        z-index: ef.get-value($themeDefault3Banner, 'rightDecorZindex');
                        animation-delay: ef.get-value($themeDefault3Banner, 'rightDecorAnimDelay');
                    }
                }
            }

            &-4 {

                .banner {

                    &_bg {

                        &:before {
                            display: ef.get-value($themeDefault4Banner, 'bgShadowDisplay');
                        }
                    }

                    &__fixed-bg {
                        @include bm.get-mq-map('top', $themeDefault4Banner, 'fixedBgPosTop');
                        @include bm.get-mq-map('left', $themeDefault4Banner, 'fixedBgPosLeft');
                        @include bm.get-mq-map('display', $themeDefault4Banner, 'fixedBgDisplay');
                        @include bm.get-mq-map('width', $themeDefault4Banner, 'fixedBgWidth');
                        @include bm.get-mq-map('height', $themeDefault4Banner, 'fixedBgHeight');
                        @include bm.get-mq-map('background-image', $themeDefault4Banner, 'fixedBgImages');
                        @include bm.get-mq-map('background-position', $themeDefault4Banner, 'fixedBgPos');

                        position: absolute;
                        background-repeat: no-repeat;
                    }

                    &__decor,
                    &__decor-fixed {

                        img {
                            position: absolute;
                            top: ef.get-value($themeDefault4Banner, 'decorImgTop');
                            left: ef.get-value($themeDefault4Banner, 'decorImgLeft');

                            width: ef.get-value($themeDefault4Banner, 'decorImgWidth');
                            height: ef.get-value($themeDefault4Banner, 'decorImgHeight');
                        }
                    }

                    &__decor-fixed {
                        @include bm.get-mq-map('display', $themeDefault4Banner, 'fixedDecorDisplay');
                        @include bm.get-mq-map('top', $themeDefault4Banner, 'fixedDecorPosTop');
                        @include bm.get-mq-map('left', $themeDefault4Banner, 'fixedDecorPosLeft');
                        @include bm.get-mq-map('bottom', $themeDefault4Banner, 'fixedDecorPosBottom');

                        position: absolute;
                        width: ef.get-value($themeDefault4Banner, 'fixedDecorMaxWidth');
                        mix-blend-mode: ef.get-value($themeDefault4Banner, 'fixedDecorBlendMode');
                    }

                    &__decor {
                        @include bm.get-mq-map('display', $themeDefault4Banner, 'decorDisplay');
                        @include bm.get-mq-map('align-items', $themeDefault4Banner, 'decorAlignItems');

                        &--left {
                            @include bm.get-mq-map('top', $themeDefault4Banner, 'leftDecorPosTop');
                            @include bm.get-mq-map('bottom', $themeDefault4Banner, 'leftDecorPosBottom');
                            @include bm.get-mq-map('left', $themeDefault4Banner, 'leftDecorPosLeft');
                            @include bm.get-mq-map('width', $themeDefault4Banner, 'leftDecorWidth');

                            img {
                                object-position: ef.get-value($themeDefault4Banner, 'leftDecorObjPos');
                            }
                        }

                        &--right {
                            @include bm.get-mq-map('top', $themeDefault4Banner, 'rightDecorPosTop');
                            @include bm.get-mq-map('right', $themeDefault4Banner, 'rightDecorPosRight');
                            @include bm.get-mq-map('bottom', $themeDefault4Banner, 'rightDecorPosBottom');
                            @include bm.get-mq-map('width', $themeDefault4Banner, 'rightDecorWidth');

                            img {
                                object-position: ef.get-value($themeDefault4Banner, 'rightDecorObjPos');
                            }
                        }
                    }
                }
            }

            &-video {

                &__bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        @include bm.get-mq-map('object-fit', $themeDefaultBanner, 'videoBgObjectFit');
                        @include bm.get-mq-map('object-position', $themeDefaultBanner, 'videoBgObjectPosition');

                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                &__video {
                    @include bm.get-mq-map('top', $themeDefaultBanner, 'videoPositionTop');
                    @include bm.get-mq-map('right', $themeDefaultBanner, 'videoPositionRight');
                    @include bm.get-mq-map('bottom', $themeDefaultBanner, 'videoPositionBottom');
                    @include bm.get-mq-map('left', $themeDefaultBanner, 'videoPositionLeft');
                    @include bm.get-mq-map('width', $themeDefaultBanner, 'videoWidth');
                    @include bm.get-mq-map('height', $themeDefaultBanner, 'videoHeight');
                    @include bm.get-mq-map('object-fit', $themeDefaultBanner, 'videoObjectFit');
                    @include bm.get-mq-map('object-position', $themeDefaultBanner, 'videoObjectPosition');

                    position: absolute;
                    z-index: 2;
                }
            }

            &_bg,
            &__bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &:before {
                    content: '';

                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: ef.get-value($themeDefaultBanner, 'backdropZindex');

                    width: 100%;
                    height: 100%;
                    background: ef.get-value($themeDefaultBanner, 'backdropColor');
                }

                img {
                    @include bm.transition(transform, 0.1s);

                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: ef.get-value($themeDefaultBanner, 'bgObjectPos');

                    @include mq.min(1630) {
                        object-position: bottom;
                    }
                }
            }

            &__title {
                @include text.get-text-style('QoteTextBold', ef.get-value($themeDefaultBanner, 'colorTitle'));
                @include bm.get-mq-map('text-align', $themeDefaultBanner, 'textAlign');

                text-shadow: ef.get-value($themeDefaultBanner, 'textContentShadow');

                @include mq.min(768) {
                    @include text.get-text-style('PromoTitle', ef.get-value($themeDefaultBanner, 'colorTitle'));
                }

                @include mq.min(1200) {
                    @include text.get-text-style('ScreamTitle', ef.get-value($themeDefaultBanner, 'colorTitle'));
                }
            }

            &__description {
                @include text.get-text-style('PrimaryText', ef.get-value($themeDefaultBanner, 'colorDescription'));
                @include bm.get-mq-map('text-align', $themeDefaultBanner, 'textAlign');

                text-shadow: ef.get-value($themeDefaultBanner, 'textContentShadow');

                @include mq.min(768) {
                    @include text.get-text-style('ThirdTitleBold', ef.get-value($themeDefaultBanner, 'colorDescription'));
                }

                @include mq.min(1200) {
                    @include text.get-text-style('QoteTextBold', ef.get-value($themeDefaultBanner, 'colorDescription'));
                }
            }

            &--center {

                .banner__title,
                .banner__description {
                    text-align: center;
                }

                .wlc-btn[wlc-button] {
                    @include bm.get-mq-map('margin', $themeDefaultBanner, 'centerButtonMargin');
                }
            }

            &--right {

                .banner__title,
                .banner__description {
                    @include bm.get-mq-map('text-align', $themeDefaultBanner, 'rightBannerTextAlign');
                }

                .wlc-btn[wlc-button] {
                    @include bm.get-mq-map('margin', $themeDefaultBanner, 'rightButtonMargin');
                }
            }

            .wlc-slider--theme-mod-wide & {

                @include bm.get-mq-map('min-height', $modWide, 'height');
            }
        }
    }

    &.wlc-banner--theme-mod-mobile-app {

        ::ng-deep {

            .banner {
                @include bm.get-mq-map('min-height', $themeModMobileApp, 'height');
                padding: ef.get-value($themeModMobileApp, 'paddingBanner');

                &__decor {
                    position: absolute;
                    z-index: ef.get-value($themeModMobileApp, 'decorZindex');
                    object-position: initial;

                    img {
                        display: block;
                        object-fit: contain;
                        object-position: inherit;
                        will-change: transform;
                    }

                    &--left {
                        top: 0;
                        left: 0;
                    }
                }

                &--center {

                    .wlc-btn[wlc-button] {
                        @include bm.get-mq-map('margin', $themeModMobileApp, 'centerButtonMargin');
                    }
                }

                &_bg:before {
                    background: ef.get-value($themeModMobileApp, 'backdropColor');
                }

                &__title {
                    @include text.get-text-style('QoteTextBoldSmaller', ef.get-value($themeModMobileApp, 'colorTitle'));
                }
            }
        }
    }
}
