@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;

@import '../utils/vars';

.wlc-tournament-list--theme-default:host {
    // TODO подумать как сделать норм, получилось не по БЭМ
    margin-bottom: 40px;

    .wlc-tournament-list {

        &__container {
            display: grid;
            @include em.get-mq-map('grid-template-columns', $themeDefault, 'containerGridTemplateColumns');
            grid-gap: 15px;
        }
    }
}
