<div *ngIf="!errors.length; else controlWithErrors" class="{{className}}__icon form-control__icon">
    <div wlc-icon
         iconPath="/wlc/icons/valid.svg">
    </div>
</div>

<ng-template #controlWithErrors>
    <div *ngFor="let error of errors"
         wlc-tooltip
         [inlineParams]="{inlineText: error | translate, iconName: 'invalid', themeMod: 'error'}">
    </div>
</ng-template>

<ng-template #errorsRef>
    <ul class="form-control__errors">
        <li *ngFor="let error of errors">
            {{error | translate}}
        </li>
    </ul>
</ng-template>
