<div *ngIf="!errors.length else controlWithErrors" class="{{className}}__icon form-control__icon">
    <div *ngIf="!isValueEmpty" class="icon"></div>
</div>

<ng-template #controlWithErrors>
    <div *ngIf="control.invalid && control.touched && errors.length"
         class="{{className}}__icon form-control__icon"
         containerClass="form-control-tooltip"
         placement="bottom"
         [isDisabled]="!errors.length"
         [tooltip]="errorsRef">
        <div class="icon"></div>
    </div>
</ng-template>

<ng-template #errorsRef>
    <ul class="form-control__errors">
        <li *ngFor="let error of errors">
            {{error | translate}}
        </li>
    </ul>
</ng-template>
