<div *ngIf="control.valid || control.pending; else controlWithErrors"
    class="{{className}}__icon form-control__icon">
    <div class="icon"></div>
</div>

<ng-template #controlWithErrors>
    <div *ngIf="control.invalid && control.touched && errors.length"
         class="{{className}}__icon form-control__icon"
         containerClass="form-control-tooltip"
         placement="bottom"
         [isDisabled]="!errors.length"
         [tooltip]="errorsRef">
        <div class="icon"></div>
    </div>
</ng-template>
