<label for="{{$params.name}}"
       class="{{$class}}__label"
>{{$params.labelText | translate}}</label>
<div class="{{$class}}__group" wlc-click-outside (clickOutside)="closeDropdown()">
    <button class="{{$class}}__field"
            type="button"
            id="{{$params.name}}"
            name="{{$params.name}}"
            (click)="toggleDropdown()"
            [formControl]="control"
            ngDefaultControl
    >{{selectedItem || $params.common.placeholder || $params.items[0].title | translate}}
    </button>
    <div class="{{$class}}-status"
         wlc-form-control
         *ngIf="$params.name"
         [className]="$class"
         [control]="control"
         [fieldName]="$params.name.toLowerCase()"
    ></div>
    <div class="{{$class}}-status" *ngIf="control.untouched">
        <span class="{{$class}}-status__arrow" wlc-icon iconName="arrow"></span>
    </div>

    <ul class="{{$class}}__dropdown" *ngIf="isOpened">
        <li class="{{$class}}__dropdown-item"
            *ngFor="let item of $params.items"
            (click)="selectOption(item)"
        >
            {{item.title | translate}}
        </li>
    </ul>
</div>


