<label for="{{$params.name}}"
       *ngIf="$params.labelText"
       class="{{$class}}__label"
       [class.tooltipped]="$params.common?.tooltipText">
    {{$params.labelText | translate}}
    <ng-container *ngIf="isFieldRequired()">*</ng-container>
    <div *ngIf="$params.common?.tooltipText || $params.common?.tooltipModal"
         wlc-tooltip
         [inlineParams]="tooltipParams">
    </div>
</label>

<div wlc-click-outside
     class="{{$class}}__group"
     (clickOutside)="closeDropdown()">
    <button ngDefaultControl
            id="{{$params.name}}"
            [attr.data-wlc-element]="fieldWlcElement"
            class="{{$class}}__field"
            name="{{$params.name}}"
            [attr.type]="'button'"
            [formControl]="control"
            (click)="toggleDropdown()">
        {{buttonText | translate}}
    </button>
    <div class="{{$class}}-status"
         wlc-form-control
         *ngIf="$params.name"
         [className]="$class"
         [control]="control"
         [validators]="$params.validators"
         [fieldName]="$params.name.toLowerCase()">
    </div>
    <div class="{{$class}}-status">
        <span *ngIf="control.untouched || control.valid"
              wlc-icon
              class="{{$class}}-status__arrow"
              [ngClass]="{'active': isOpened}"
              [iconName]="'arrow'"
              (click)="toggleDropdown()">
        </span>
    </div>

    <ul class="{{$class}}__dropdown" *ngIf="isOpened" @openClose>
        <li *ngFor="let item of $params.items"
            class="{{$class}}__dropdown-item"
            [attr.data-wlc-element]="fieldWlcElement + '_' + (item.value || 'null')"
            (click)="selectOption(item)">
            {{item.title.toString() | translate}}
        </li>
    </ul>
</div>


