<label for="{{$params.name}}"
       class="{{$class}}__label"
>{{$params.common.placeholder | translate}}</label>
<div class="{{$class}}__group" wlc-click-outside (clickOutside)="closeDropdown()">
    <button class="{{$class}}__field"
            type="button"
            id="{{$params.name}}"
            name="{{$params.name}}"
            ngDefaultControl
            (click)="toggleDropdown()"
            [(ngModel)]="control.value"
            [formControl]="control"
    >{{selectedItem || $params.common.placeholder | translate}}
    </button>
    <div class="{{$class}}-status">
        <span class="{{$class}}-status__arrow" wlc-icon iconName="arrow"></span>
        <div class="{{$class}}-status__icon"></div>
        <div class="{{$class}}-status__errors">
            <div *ngFor="let item of control.errors | keyvalue">
                {{'validator-' + item.key | translate}}
            </div>
        </div>
    </div>
    <ul class="{{$class}}__dropdown" *ngIf="isOpened && $params?.items.length">
        <li class="{{$class}}__dropdown-item"
            *ngFor="let item of $params.items"
            (click)="selectOption(item)"
        >
            {{item.title | translate}}
        </li>
    </ul>
</div>


