$customBase: () !default;
$base: map-merge((
    'baseHeight': 100%,
    'baseWidth': 100%,
    'containerHeight': 100%,
    'containerFlexDirection': column,
    'containerJustifyContent': center,

    'controlWidth': 100%,

    'inputBackground': var(--fc-inputBg),
    'inputColor': var(--fc-textColor),
    'inputTextTransform': uppercase,
    'inputOpacity': 1,
), $customBase);

$customThemeDefault: () !default;
$themeDefault: map-merge(map-merge($base, (
    'wrapperRadius': ef.get('radius', 'biger'),
    'containerPadding': (
        375: ef.size(4) ef.size(2),
        768: ef.size(4) ef.size(4),
        1024: ef.size(4) ef.size(8),
        1630: ef.size(6) ef.size(8),
    ),
    'containerBackground': var(--mc-bg300),
    'containerShadow': 0 4px 9px 0 var(--mc-bg-o1),
    'containerMinHeight': (
        375: 130px,
        1366: initial,
    ),
    'containerAlignItems': center,

    'titleFontStyle': 'ThirdTitleBold',
    'titleColor': var(--mc-baseMain),
    'titleMargin': (
        375: 0 0 ef.size(6),
        900: 0 0 ef.size(4),
        1630: 0 0 ef.size(6),
    ),

    'controlMaxWidth': (
        375: 250px,
        560: none,
    ),
)), $customThemeDefault);
