@use 'engine-scss/functions' as ef;

$customThemePromocodeBtn: () !default;
$themePromocodeBtn: map-merge((
    'btnBasePosition': 0,
    'btnRightPosition': 4px,
    'btnSize': 32px,
    'btnBackground': var(--mc-main),
    'btnBackgroundHover': var(--mc-main-l5),
    'btnBackgroundPending': var(--mc-main-l5),
    'btnRadius': ef.get('radius', 'main'),

    'btnIconSize': 13px,
    'btnIconFill': ef.get('mainColors', 'baseMain'),

    'btnTextSize': 16px,
    'btnTextBorder': 2px solid var(--mc-baseMain),
    'btnTextRadius': 50px,
    'btnTextLineHeight': 0,

    'btnAlignItems': center,
    'btnJustifyContent': center,
    'btnMargin': auto,

    'btnPendingAlignItems': center,
    'btnPendingJustifyContent': center,
), $customThemePromocodeBtn);

$customThemeDefault: () !default;
$themeDefault: map-merge((
    'wrapperRadius': ef.get('radius', 'biger'),
    'baseHeight': 100%,
    'baseWidth': 100%,
    'containerPadding': (
        375: ef.size(4) ef.size(2),
        768: ef.size(4) ef.size(4),
        1024: ef.size(4) ef.size(8),
        1630: ef.size(6) ef.size(8),
    ),
    'containerBackground': var(--mc-bg300),
    'containerShadow': 0 4px 9px 0 var(--mc-bg-o1),
    'containerMinHeight': (
        375: 130px,
        1366: initial,
    ),
    'containerHeight': 100%,
    'containerFlexDirection': column,
    'containerAlignItems': center,
    'containerJustifyContent': center,

    'titleFontStyle': 'ThirdTitleBold',
    'titleColor': var(--mc-baseMain),
    'titleMargin': (
        375: 0 0 ef.size(6),
        900: 0 0 ef.size(4),
        1630: 0 0 ef.size(6),
    ),

    'controlWidth': 100%,

    'controlMaxWidth': (
        375: 250px,
        560: none,
    ),

    'inputBackground': var(--fc-inputBg),
    'inputColor': var(--fc-textColor),
    'inputTextTransform': uppercase,
    'inputOpacity': 1,

), $customThemeDefault);

$customThemeClear: () !default;
$themeClear: map-merge((
    'width': 100%,
    'maxWidth': (
        375: 100%,
        560: 320px
    ),
    'controlWidth': 100%,
    'controlMaxWidth': (
        375: 100%,
        560: 320px
    ),
    'inputTextTransform': uppercase,
), $customThemeClear);
