<div *ngIf="ready; else preloader" class="{{$class}}__wrapper">
    <div class="{{$class}}__title">{{'Loyalty Program' | translate}}</div>
    <div class="{{$class}}__container">
        <div class="{{$class}}__items-wrapper">
            <div *ngFor="let level of levels; index as $index;" class="{{$class}}__item">
                <div class="{{$class}}__item-image">
                    <img [src]="imageLevel(level.level)" alt="">
                </div>
                <div class="{{$class}}__item-title">
                    {{level.level}} {{'Level' | translate}}
                </div>
                <div class="{{$class}}__item-points">
                    <span>{{setLoyaltyPoints($index)}}</span>
                    <span wlc-currency currency="LP"
                          class="value"
                          [showIconOnly]="true"></span>
                </div>
            </div>
        </div>
        <div class="{{$class}}__btn-wrapper">
            <button wlc-button
                    [text]="'Read more'"
                    [themeMod]="'secondary'"
                    (click)="readMore()"></button>
        </div>
        <div class="{{$class}}__container-decor">
            <div class="{{$class}}__decor-left" [ngStyle]="{backgroundImage: 'url(' + $params.decorLeftPath + ')'}"></div>
            <div class="{{$class}}__decor-right" [ngStyle]="{backgroundImage: 'url(' + $params.decorRightPath + ')'}"></div>
        </div>
    </div>
</div>

<ng-template #preloader>
    <div wlc-loader></div>
</ng-template>
