@use 'engine-scss/functions' as ef;

$customThemeDefaultNavigation: () !default;
// Navigation
$themeDefaultNavigation: map-merge((
    'swiperNaviZindex': 10,
    'swiperNaviAside': 10px,
    'swiperNaviTop': 50%,
    'swiperNaviButtonSize': 40px,
    'swiperNaviButtonBorderRadius': ef.get('radius', 'biger'),
    'swiperNaviButtonBg': ef.get('mainColors', 'baseOpacity'),
    'swiperNaviButtonBgHover': ef.get('mainColors', 'main'),
    'swiperNaviButtonDisabledOpacity': 0.25,
    'swiperNaviButtonTransition': all 0.3s linear,
    'swiperNaviArrowSize': 40px / 3,
    'swiperNaviArrowColor': ef.get('mainColors', 'baseMain'),
    'swiperNaviArrowColorHover': ef.get('mainColors', 'bg'),
), $customThemeDefaultNavigation);

$customThemeDefaultPagination: () !default;
// Pagination
$themeDefaultPagination: map-merge((
    'swiperPagiZindex': 10,
    'swiperPagiBottom': 10px,
    'swiperPagiVerticalAside': 10px,
    'swiperPagiBulletWidth': 8px,
    'swiperPagiBulletHeight': 8px,
    'swiperPagiBulletColor': ef.get('mainColors', 'buttonColor'),
    'swiperPagiBulletColorActive': ef.get('mainColors', 'baseOpacity'),
    'swiperPagiBulletWidthActive': 8px,
    'swiperPagiBulletHeightActive': 8px,
    'swiperPagiBulletBorderRadius': 50%,
    'swiperPagiBulletTransition': all ef.get('time', 'main'),
    'swiperPagiBulletDynamicSize': 12px,
    'swiperPagiBulletMarginHorizontal': 0 4px,
    'swiperPagiBulletMarginVertical': 6px 0,
    'swiperPagiProgressbarBg': ef.get('mainColors', 'buttonColor'),
    'swiperPagiProgressbarBorderRadius': 4px,
    'swiperPagiProgressbarBgFill': ef.get('mainColors', 'baseOpacity'),
    'swiperPagiProgressbarHeight': 4px,
), $customThemeDefaultPagination);

$customThemeDefaultBanner: () !default;
$themeDefaultBanner: map-merge((
    'bottomGap': (
        375: ef.get('size', 'smaller'),
    ),
    'buttonGap': (
        375: 10px,
    ),
    'buttonBg': ef.get('mainColors', 'main'),
    'buttonBgHover': lighten(ef.get('mainColors', 'main'), 5%),
    'buttonBgDisabled': ef.get('mainColors', 'baseOpacity'),
    'iconFill': ef.get('mainColors', 'baseMain'),
    'iconFillHover': ef.get('mainColors', 'baseMain'),
    'buttonBorderRadius': ef.get('size', 'small'),
    'buttonSize': ef.get('size', 'main'),
    'containerPadding': 0 ef.get('size', 'main'),
    'containerBorderRadius': ef.get('size', 'small'),
), $customThemeDefaultBanner);
