.wlc-datepicker--theme-default:host {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: ef.get-value($themeDefault, 'maxWidth');

    .wlc-datepicker__container {
        position: relative;
    }

    .wlc-datepicker__label {
        @include cm.labelStyle;
    }

    .wlc-datepicker__input {
        @include text.get-text-style(ef.get-value($themeDefault, 'inputTextStyle'), ef.get-value($themeDefault, 'inputColor'));
        width: 100%;
        height: ef.get-value($themeDefault, 'inputHeight');
        padding: ef.get-value($themeDefault, 'inputPadding');
        border-radius: ef.get-value($themeDefault, 'inputBorderRadius');
        border: ef.get-value($themeDefault, 'inputBorder');
        background: ef.get-value($themeDefault, 'inputBg');
        transition: ef.get-value($themeDefault, 'transition');

        &.ng-untouched {
            color: ef.get-value($themeDefault, 'inputPlaceholderColor');
        }

        &:focus {
            outline: none;
            border: ef.get-value($themeDefault, 'inputFocusBorder');
        }
    }

    .wlc-datepicker__icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: ef.get-value($themeDefault, 'iconPadding');
        cursor: pointer;

        &::ng-deep {

            .wlc-icon-content {
                width: ef.get-value($themeDefault, 'iconWidth');
                height: ef.get-value($themeDefault, 'iconHeight');
            }

            span,
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }

            svg {
                fill: ef.get-value($themeDefault, 'iconFill');
            }
        }
    }

    ::ng-deep {

        .ng-mydp * {
            font-family: inherit;
        }

        .myDpSelector {
            background: ef.get-value($themeDefault, 'datepickerBg');
            border: none;
            border-radius: ef.get-value($themeDefault, 'datepickerBorderRadius');
            box-shadow: ef.get-value($themeDefault, 'datepickerBoxShadow');
        }

        .myDpSelectorArrow {

            &:before {
                border-bottom-color: transparent;
            }

            &:after {
                border-color: transparent;
                border-bottom-color: ef.get-value($themeDefault, 'datepickerBg');
                border-width: 11px;
                margin-left: -11px;
            }
        }

        .myDpSelectedDay,
        .myDpSelectedMonth,
        .myDpSelectedYear {

            &[class] {
                color: ef.get-value($themeDefault, 'datepickerSelectedDayColor');
                background-color: ef.get-value($themeDefault, 'datepickerActiveColor');
            }

            .myDpMarkCurrDay,
            .myDpMarkCurrMonth,
            .myDpMonthValue,
            .myDpMonthNbr,
            .myDpMarkCurrYear,
            .myDpYearValue {
                color: ef.get-value($themeDefault, 'datepickerSelectedDayColor');
                border-bottom-color: ef.get-value($themeDefault, 'datepickerSelectedDayColor');
            }

            @include bm.hover {
                background-color: ef.get-value($themeDefault, 'datepickerHoverBg');
            }
        }

        .myDpFooterBtn,
        .myDpHeaderBtn,
        .myDpMonthLabel,
        .myDpYearLabel {

            &:focus {
                color: unset;
            }

            &:focus-visible {
                color: ef.get-value($themeDefault, 'datepickerActiveColor');
            }
        }

        .myDpCalTable,
        .myDpDaycell,
        .myDpMonthTable,
        .myDpMonthcell,
        .myDpWeekDayTitle,
        .myDpYearTable,
        .myDpYearcell,
        .myDpIcon,
        .myDpHeaderBtn,
        .myDpHighlight {

            &[class] {
                color: ef.get-value($themeDefault, 'datepickerColor');
            }
        }

        .myDpCalTable,
        .myDpMonthcell,
        .myDpYearcell {
            background: ef.get-value($themeDefault, 'datepickerBg');
        }

        .myDpDaycell {
            width: 36px;
            height: 36px;
            border-radius: ef.get-value($themeDefault, 'datepickerCellBorderRadius');
            font-weight: ef.get-value($themeDefault, 'datepickerFontWeight');

            &.myDpSelectedDay {

                &[class],
                .myDpHighlight {
                    color: ef.get-value($themeDefault, 'datepickerSelectedDayColor');
                }
            }
        }

        .myDpMarkCurrDay {
            border-bottom: 2px solid ef.get-value($themeDefault, 'datepickerCurrentDayColor');
            color: ef.get-value($themeDefault, 'datepickerCurrentDayColor');
        }

        .myDpMonthYearSelBar,
        .myDpDisabled,
        .myDpWeekDayTitle {
            background: ef.get-value($themeDefault, 'datepickerBg');
        }

        .myDpCurrMonth,
        .myDpDaycell {
            background: ef.get-value($themeDefault, 'datepickerBg');

            @include bm.hover {
                background: ef.get-value($themeDefault, 'datepickerHoverBg');

                .myDpDayValue {
                    color: ef.get-value($themeDefault, 'datepickerHoverColor');
                }

                .myDpMarkCurrDay {
                    border-bottom-color: ef.get-value($themeDefault, 'datepickerHoverColor');
                }
            }
        }

        .myDpPrevMonth,
        .myDpNextMonth {
            font-weight: normal;

            &[class],
            .myDpHighlight {
                color: ef.get-value($themeDefault, 'datepickerDisabledColor');
            }

            .myDpMarkCurrDay {
                font-weight: ef.get-value($themeDefault, 'datepickerFontWeight');
            }
        }

        .myDpDisabled {
            cursor: not-allowed;

            &[class],
            .myDpHighlight {
                color: ef.get-value($themeDefault, 'datepickerDisabledColor');
            }
        }

        .myDpDimDay,
        .myDpDisabled.myDpPrevMonth,
        .myDpDisabled.myDpNextMonth {
            opacity: 1;
        }

        .myDpIcon {
            font-size: ef.get-value($themeDefault, 'datepickerIconSize');
            font-family: angular-mydatepicker;
        }

        .myDpMonthBtn,
        .myDpYearBtn {
            font-weight: ef.get-value($themeDefault, 'datepickerFontWeight');
        }

        .myDpHeaderBtnDisabled {
            opacity: 1;

            &[class] {
                color: ef.get-value($themeDefault, 'datepickerDisabledColor');
            }
        }

        .myDpCalTable.myDpNoFooter tbody tr:nth-child(6) td:first-child,
        .myDpCalTable.myDpNoFooter tbody tr:nth-child(6) td:last-child {
            border-radius: ef.get-value($themeDefault, 'datepickerCellBorderRadius');
        }

        .myDpTableSingleDay,
        .myDpTableSingleMonth,
        .myDpTableSingleYear {
            @include bm.hover {
                color: ef.get-value($themeDefault, 'datepickerHoverColor');
                background: ef.get-value($themeDefault, 'datepickerHoverBg');

                .myDpMarkCurrMonth,
                .myDpMarkCurrYear {
                    border-bottom-color: ef.get-value($themeDefault, 'datepickerHoverColor');
                }
            }
        }

        .myDpMarkCurrMonth,
        .myDpMarkCurrYear {
            border-bottom-color: inherit;
        }
    }
}
