.wlc-datepicker--theme-default:host {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: ef.get-value($themeDefault, 'maxWidth');

    .wlc-datepicker__container {
        position: relative;
    }

    .wlc-datepicker__label {
        @include cm.labelStyle;
    }

    .wlc-datepicker__input {
        @include text.get-text-style(ef.get-value($themeDefault, 'inputTextStyle'), ef.get-value($themeDefault, 'inputColor'));
        width: 100%;
        height: ef.get-value($themeDefault, 'inputHeight');
        padding: ef.get-value($themeDefault, 'inputPadding');
        border-radius: ef.get-value($themeDefault, 'inputBorderRadius');
        border: ef.get-value($themeDefault, 'inputBorder');
        background: ef.get-value($themeDefault, 'inputBg');
        transition: ef.get-value($themeDefault, 'transition');

        &.ng-untouched {
            color: ef.get-value($themeDefault, 'inputPlaceholderColor');
        }

        &:focus {
            outline: none;
            border: ef.get-value($themeDefault, 'inputFocusBorder');
        }
    }

    .wlc-datepicker__icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: ef.get-value($themeDefault, 'iconPadding');
        cursor: pointer;

        &::ng-deep {

            .wlc-icon-content {
                width: ef.get-value($themeDefault, 'iconWidth');
                height: ef.get-value($themeDefault, 'iconHeight');
            }

            span,
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }

            svg {
                color: ef.get-value($themeDefault, 'iconFill');
            }
        }
    }
}
