@use './vars' as v;

.wlc-sections__affiliates-menu {

    &--v1,
    &--v2 {

        &.wlc-sections__affiliates-menu--fluid,
        > .container {
            padding: {
                top: v.$affMenuPadding;
                bottom: v.$affMenuPadding;
            }
            display: flex;
            justify-content: center;
        }
    }

    &--v1 {
        background-color: v.$affMenuBackground;
    }

    &--v2 {
        background-color: transparent;

        &.wlc-sections__affiliates-menu--fluid,
        > .container {
            padding: v.$affMenuPadding;
            background-color: v.$affMenuBackground;
            border-radius: 100px;
        }
    }
}
