@use 'engine-scss/functions' as ef;
@import './themes/footer/theme-1';

html {
    scroll-behavior: smooth;
}

body {
    background-color: ef.get('color', 'background');
    color: ef.get('color', 'text');
}
