@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;

//Footer themes
@import './themes/footer/theme-1';
@import './themes/footer/theme-2';

//Header themes
@import './themes/header/theme-1';

//Profile themes
@import './themes/profile/theme-1';

html {
    scroll-behavior: smooth;
}

body {
    background-color: ef.get('color', 'background');
    color: ef.get('color', 'text');
}

.wlc-app-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
