@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/engine.variables' as ev;

html {
    scroll-behavior: smooth;
}

body {
    min-width: 375px;

    @if (map-has-key(ev.$baseVariables, 'imageBackground')) {
        background: map-get(ev.$baseVariables, 'imageBackground');
    }
}

.wlc-app-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .wlc-sections__footer {
        margin-top: auto;
        // overflow-x: hidden;
    }
}
