<ng-template [ngIf]="isShow">
    <div
        wlc-click-outside
        class="{{$class}}__container"
        [isOpened]="isOpened"
        (clickOutside)="clickOutside()">
        <span class="{{$class}}__text">{{$params.balanceText | translate}}</span>
        <div
            class="{{$class}}__dropdown-btn"
            [class.isOpened]="isOpened"
            (click)="onOpen()">

            <ng-container
                [ngTemplateOutlet]="currency"
                [ngTemplateOutletContext]="{$implicit: currentCurrency}"></ng-container>
            <span
                wlc-icon
                class="arrow"
                iconPath="/wlc/icons/arrow.svg"
                wlcElement="icon_arrow"></span>
        </div>

        <div *ngIf="isOpened"
             class="{{$class}}__list">
            <div
                *ngFor="let item of modifyMerchantsCurrencies"
                class="{{$class}}__currency"
                [class.select]="item.name === currentCurrency.name"
                (click)="onChangingCurrency(item)">
                <ng-container
                    [ngTemplateOutlet]="currency"
                    [ngTemplateOutletContext]="{$implicit: item}"></ng-container>
            </div>
        </div>
    </div>
    <button
        *ngIf="$params.themeMod !== 'in-modal'"
        wlc-button
        typeAttr="button"
        [inlineParams]="buttonParams"
        (click)="onSelectCurrency()">
    </button>
</ng-template>

<ng-template #currency let-name>
    <span
        wlc-icon
        class="currency"
        iconPath="{{getCurrencyIconUrl(name.name)}}"
        wlcElement="icon_currency"></span>
    <span>{{name.displayName}}</span>
</ng-template>
