@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/engine.variables' as ev;
@use 'engine-scss/functions' as ef;
@import '../utils/vars';

.wlc-sections__header--theme {

    &-1 {
        z-index: 10;
        position: relative;
        display: grid;
        align-items: center;
        padding: 0 15px;
        background: map-get($theme1Header, 'headerBackground');

        @include bm.get-mq-map('grid-template-columns', $theme1Header, 'headerGridColumns');
        @include bm.get-mq-map('grid-gap', $theme1Header, 'headerGridGap');
        @include bm.get-mq-map('min-height', $theme1Header, 'headerMinHeight');

        @include mq.min(1024) {
            max-width: 1920px;
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }

        .wlc-logo {

            &__image,
            svg {
                display: block;
                margin: 0 auto;
                max-height: 50%;
                height: 100%;
            }
        }

        .wlc-login-signup {
            justify-content: flex-end;

            .wlc-btn {

                @include mq.max(1200) {
                    padding: map-get($theme1Header, 'headerLoginBtnTabletPadding');
                }
            }
        }

        .wlc-btn {

            &-burger {
                width: map-get($theme1Header, 'headerBurgerBtnWidth');
                margin-right: auto;

                @include mq.min(1024) {
                    margin-left: map-get($theme1Header, 'headerGapColumns');
                    text-align: center;
                }
            }

            &-search {
                width: map-get($theme1Header, 'headerSearchBtnWidth');
                margin-left: auto;

                @include mq.min(1024) {
                    margin-right: map-get($theme1Header, 'headerGapColumns');
                }

                @media (hover: hover) {

                    &:hover {
                        transform: rotate(30deg);
                        @include bm.transition(transform);
                    }
                }
            }

            &-burger,
            &-search {

                svg,
                rect {
                    fill: map-get($theme1Header, 'headerSvgBtn');
                }

                @media (hover: hover) {

                    &:hover {

                        svg,
                        rect {
                            fill: map-get($theme1Header, 'headerSvgBtnHover');
                            @include bm.transition(fill);
                        }
                    }
                }
            }

            &-login,
            &-user {
                margin-left: auto;

                .wlc-icon {
                    width: 37px;
                    height: 37px;

                    svg {
                        width: 37px;
                        height: 37px;
                    }
                }
            }
        }

        .wlc-user-info {

            &__content {
                justify-content: flex-end;
            }
        }
    }
}
