@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/engine.variables' as ev;
@use 'engine-scss/functions' as ef;

.wlc-sections__header--theme {

    &-1 {
        background: map-get($theme1Header, headerBackground);

        .container {
            z-index: 10;
            position: relative;
            display: grid;
            align-items: center;

            @include bm.get-mq-map('grid-template-columns', $theme1Header, 'headerGridColumns');
            @include bm.get-mq-map('grid-gap', $theme1Header, 'headerGridGap');
            @include bm.get-mq-map('min-height', $theme1Header, 'headerMinHeight');
            @include bm.get-mq-map('padding', $theme1Header, 'headerPadding');

            @include mq.min(1200) {
                max-width: 1920px;
                width: 100%;
                margin: 0 auto;
            }
        }

        .wlc-logo {
            max-width: map-get($theme1Header, 'headerSvgLogoWidth');
            margin: 0 auto;

            img,
            svg {
                margin: 0 auto;
                max-height: 50%;
                height: 100%;
                width: auto;
            }
        }

        .wlc-login-signup {
            justify-content: flex-end;

            .wlc-btn {

                @include mq.max(1200) {
                    padding: map-get($theme1Header, 'headerLoginBtnTabletPadding');
                }
            }
        }

        .wlc-btn {

            &-burger {
                width: map-get($theme1Header, 'headerBurgerBtnWidth');
                margin-right: auto;

                @include mq.min(1024) {
                    text-align: center;
                }
            }

            &-search {
                width: map-get($theme1Header, 'headerSearchBtnWidth');
                margin-left: auto;
                will-change: transform;

                @media (hover: hover) {

                    &:hover {
                        transform: rotate(30deg);
                        @include bm.transition(transform);
                    }
                }
            }

            &-burger,
            &-search {

                svg,
                rect {
                    fill: map-get($theme1Header, 'headerSvgBtn');
                }

                @media (hover) {

                    &:hover {

                        svg,
                        rect {
                            fill: map-get($theme1Header, 'headerSvgBtnHover');
                            @include bm.transition(fill);
                        }
                    }
                }
            }

            &-login,
            &-user {
                display: flex;
                margin-left: auto;

                .wlc-icon {
                    width: ef.get-value($theme1Header, 'headerSvgBtnSize');
                    height: ef.get-value($theme1Header, 'headerSvgBtnSize');

                    svg {
                        width: ef.get-value($theme1Header, 'headerSvgBtnSize');
                        height: ef.get-value($theme1Header, 'headerSvgBtnSize');

                        path,
                        rect {
                            fill: ef.get-value($theme1Header, 'headerDepositBtnFillColor');
                        }
                    }
                }
            }

            &--deposit {
                margin: ef.get-value($theme1Header, 'headerDepositBtnMargin');

                svg {
                    fill: ef.get-value($theme1Header, 'headerDepositBtnFill');
                }
            }

            &--user {

                svg {
                    fill: ef.get-value($theme1Header, 'headerUserBtnFill');
                }
            }
        }

        .wlc-user-info {

            &__content {
                justify-content: flex-end;
            }
        }
    }
}
