.wlc-winners-slider--theme-default:host {

    .wlc-winners-slider {

        &__wrapper {
            @include bm.get-mq-map('padding', $themeDefault, 'wrapperPadding');
            height: ef.get-value($themeDefault, 'sliderWrapperHeight');
        }

        &__container {
            @include bm.get-mq-map('padding', $themeDefault, 'containerPadding');
            min-height: ef.get-value($themeDefault, 'containerMinHeigth');

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                @include manualMod('wlc-winners-slider', 'default' ,'headless') {
                    display: block;
                }

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__loader {
            @include bm.get-mq-map('height', $themeDefault, 'loaderHeight');

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        &__title {
            @include text.get-text-style('QoteTextBold', ef.get-value($themeDefault, 'titleColor'));
            @include bm.get-mq-map('margin-bottom', $themeDefault, 'titleMarginBottom');
            @include bm.get-mq-map('padding-right', $themeDefault, 'titlePaddingRight');
            @include bm.get-mq-map('flex', $themeDefault, 'titleFlex');
            @include bm.get-mq-map('text-align', $themeDefault, 'titleAlignment');

            display: none;

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                display: block;
            }
        }

        &__slider {

            ::ng-deep {

                .swiper {
                    margin: ef.get-value($themeDefault, 'swiperMarginShadowFix');
                    padding: ef.get-value($themeDefault, 'swiperPaddingShadowFix');
                }
            }

            @include mq.min(ef.get-value($themeDefault, 'breakpoint')) {
                flex: 1 1 auto;
                min-width: 0;
            }
        }
    }
}
