.wlc-winners-slider--theme-transparent:host {
    position: relative;

    .wlc-winners-slider {

        &__wrapper {
            max-width: ef.get-value($themeTransparent, 'wrapperMaxWidth');
            height: ef.get-value($themeTransparent, 'wrapperHeight');
            border-radius: ef.get-value($themeTransparent, 'wrapperRadius');
            overflow: hidden;
        }

        &__container {
            display: flex;
            flex-direction: column;
            height: 100%;

            &.no-winners {

                .wlc-winners-slider__title {
                    flex: ef.get-value($themeTransparent, 'titleNoWinnersFlex');
                    align-items: flex-start;
                    margin-bottom: ef.get-value($themeTransparent, 'titleNoWinnersMargin');
                }
            }
        }

        &__loader {
            @include bm.get-mq-map('height', $themeTransparent, 'loaderHeight');
        }

        &__title {
            @include text.get-text-style(ef.get-value($themeTransparent, 'titleFont'), ef.get-value($themeTransparent, 'titleColor'));
            display: flex;
            flex: 0 1 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__slider {
            @include bm.get-mq-map('max-height', $themeTransparent, 'sliderHeight');
            @include bm.get-mq-map('margin', $themeTransparent, 'wrapperMargin');

            ::ng-deep {

                .swiper {
                    @include cm.sliderShadowPadding($themeTransparent);
                    height: 100%;
                    overflow-x: visible;
                }

                swiper-container::part(container) {
                    overflow: visible;
                    @if ef.get-value($themeTransparent, 'sliderShadowPadding') {
                        margin-bottom: -1 * ef.get-value($themeTransparent, 'sliderShadowPadding');
                        margin-left: -1 * ef.get-value($themeTransparent, 'sliderShadowPadding');
                        padding-bottom: ef.get-value($themeTransparent, 'sliderShadowPadding');
                        padding-left: ef.get-value($themeTransparent, 'sliderShadowPadding');
                    }
                }
            }
        }
    }
}
