@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/functions' as ef;
@import './../utils/vars';

.wlc-winners-slider--theme-vertical:host {

    .wlc-winners-slider {

        &__wrapper {
            max-width: ef.get-value($themeVertical, 'wrapperMaxWidth');
            background: ef.get-value($themeVertical, 'wrapperBackground');
            border-radius: ef.get-value($themeVertical, 'wrapperBorderRadius');
            @include em.get-mq-map('padding', $themeVertical, 'wrapperPadding');

            @include em.manualMod('wlc-winners-slider', 'vertical' ,'headless') {
                padding-top: ef.get-value($themeVertical, 'wrapperPaddingTopHeadless', ef.get-value($themeVertical, 'breakpoint'));
            }
        }

        &__loader {
            @include em.get-mq-map('height', $themeVertical, 'loaderHeight');
        }

        &__title {
            display: inline-block;
            @include text.get-text-style('ThridTitleBold', ef.get-value($themeVertical, 'titleColor'));
            background: ef.get-value($themeVertical, 'titleBackground');
            border-radius: ef.get-value($themeVertical, 'titleBorderRadius');
            @include em.get-mq-map('margin', $themeVertical, 'titleMargin');
            @include em.get-mq-map('padding', $themeVertical, 'titlePadding');

            @include em.manualMod('wlc-winners-slider', 'vertical' ,'headless') {
                display: none;
            }
        }

        &__slider {
            height: ef.get-value($themeVertical, 'sliderHeight');

            ::ng-deep {

                .swiper-container {
                    height: 100%;
                    overflow-x: visible;

                    @if ef.get-value($themeVertical, 'sliderShadowPadding') {
                        height: calc(100% + #{ef.get-value($themeVertical, 'sliderShadowPadding')});
                        margin-bottom: -1 * ef.get-value($themeVertical, 'sliderShadowPadding');
                        padding-bottom: ef.get-value($themeVertical, 'sliderShadowPadding');
                        margin-left: -1 * ef.get-value($themeVertical, 'sliderShadowPadding');
                        padding-left: ef.get-value($themeVertical, 'sliderShadowPadding');
                    }

                    // margin-bottom: -10px;
                    // padding-bottom: 10px;
                }
            }
        }
    }
}
