.wlc-btn--theme-circled {

    &:host {
        @include buttonBase;
        grid-column-gap: unset;
        width: ef.get-value($themeDefault, 'minWidth');
        height: ef.get-value($themeDefault, 'minWidth');
        border-radius: 50%;
        border: ef.get-value($themeDefault, 'borderSecondary');

        &.wlc-btn--theme-mod-secondary {
            @include buttonTransparency;

            @include bm.hover {
                background: ef.get-value($themeCircled, 'backgroundHover');
            }
        }

        @include bm.hover {
            background: ef.get-value($themeDefault, 'backgroundHover');
        }
    }
}
