@use 'engine-scss/functions' as ef;
@import '../utils/vars';
@import '../utils/mixins';

.wlc-btn--theme-circled {

    &:host {
        @include buttonBase;
        width: ef.get-value($themeDefault, 'minWidth');
        height: ef.get-value($themeDefault, 'minWidth');
        grid-column-gap: unset;
        border-radius: 50%;
        border: ef.get-value($themeDefault, 'borderSecondary');

        @media (hover: hover) {

            &:hover {
                background: ef.get-value($themeDefault, 'backgroundHover');
            }
        }

        &.wlc-btn--theme-mod-secondary {
            @include buttonTransparency;

            @media (hover: hover) {

                &:hover {
                    background: ef.get-value($themeCircled, 'backgroundHover');
                }
            }
        }
    }
}
