@use 'engine-scss/functions' as ef;

.wlc-btn--theme-cleared {

    &:host {
        box-sizing: border-box;
        padding: 0;
        background: none;
        outline: none;
        cursor: pointer;
        transition: all ef.get-value($themeDefault, 'time');
        appearance: none;
        border: none;
        overflow: hidden;
    }
}
