.wlc-btn--theme-default {

    &:host {
        @include buttonBase;

        &.wlc-btn--theme-mod-secondary {
            @include buttonTransparency;

            &.active {
                @include secondaryActiveState;
            }
        }

        &.wlc-btn--theme-mod-readmore {
            @include buttonReadMore;
        }

        &.wlc-btn--theme-mod-textonly {
            @include textOnly;
        }

        &.wlc-btn--size-md {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'textStyleMd'),
                null
            );
            min-width: auto;
            height: ef.get-value($themeDefault, 'heightMd');
            padding: ef.get-value($themeDefault, 'paddingMd');
        }
    }
}
