.wlc-btn--theme-resolve {

    &:host {
        @include buttonBase;
        background: ef.get-value($themeResolve, 'backgroundResolve');

        @include bm.hover {
            background: ef.get-value($themeResolve, 'backgroundResolveHover');
            border-color: ef.get-value($themeResolve, 'backgroundResolveHover');
        }
    }
}
