@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as text;

.wlc-loyalty-block {

    &:host {
        padding: ef.get-value($themeDefault, 'padding');
        background: ef.get-value($themeDefault, 'bg');
        border-radius: ef.get-value($themeDefault, 'borderRadius');
    }

    &__loyalty {
        margin: ef.get-value($themeDefault, 'loyaltyMargin');
    }

    &__all {
        margin: ef.get-value($themeDefault, 'loyaltyMargin');
        @include text.get-text-style('PlaceholderTextBold');
        text-align: center;

        @include mq.min(900) {
            text-align: left;
        }

        a {
            color: ef.get-value($themeDefault, 'allLinkColor');
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            .wlc-icon::ng-deep {

                svg {
                    transform: rotate(-90deg);
                    fill: ef.get-value($themeDefault, 'allLinkColor');
                }
            }
        }
    }

    &__user-name {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .wlc-logout {
            display: none;
            align-self: flex-start;

            @include mq.min(900) {
                display: block;
            }

            ::ng-deep {

                svg {
                    margin-left: 5px;
                }
            }
        }
    }
}
