.wlc-jackpots-slider--theme-1:host {
    --wlc-jackpot-slider-slide-height: #{ef.get-value($theme1, 'slideHeight')};
    --wlc-jackpot-slider-slide-inner-gap: #{ef.get-value($theme1, 'slideInnerGap')};

    width: 100%;
    overflow: hidden;

    .wlc-jackpots-slider {

        &__wrapper {
            display: ef.get-value($theme1, 'sliderWrapperDisplay');
            flex-direction: ef.get-value($theme1, 'sliderWrapperDirection');
            height: ef.get-value($theme1, 'sliderWrapperHeight');
        }

        &__title {
            @include text.get-text-style(
                ef.get-value($theme1, 'titleText'),
                ef.get-value($theme1, 'titleColor')
            );
            margin: ef.get-value($theme1, 'titleMargin');
            padding: ef.get-value($theme1, 'titlePadding');
            text-align: ef.get-value($theme1, 'titleTextAlign');
            background: ef.get-value($theme1, 'titleBg');
            box-shadow: ef.get-value($theme1, 'titleBoxShadow');
        }

        &__slider {
            position: relative;
            height: ef.get-value($theme1, 'sliderHeight');
            padding: ef.get-value($theme1, 'sliderPadding');
            background: ef.get-value($theme1, 'background');
            border-radius: ef.get-value($theme1, 'borderRadius');

            ::ng-deep {

                .swiper {
                    height: 100%;
                    overflow-x: visible;
                }
            }
        }
    }
}
