@use 'engine-scss/mixins/base.mixins' as em;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/mixins/text' as lib;
@use 'engine-scss/functions' as ef;

.wlc-jackpots-slider--theme-1:host {
    --wlc-jackpot-slider-slide-height: #{ef.get-value($theme1, 'slideHeight')};
    --wlc-jackpot-slider-slide-inner-gap: #{ef.get-value($theme1, 'slideInnerGap')};

    width: 100%;
    max-width: ef.get-value($theme1, 'maxWidth');
    background: ef.get-value($theme1, 'background');
    border-radius: ef.get-value($theme1, 'borderRadius');
    overflow: hidden;

    .wlc-jackpots-slider {

        &__wrapper {
            display: ef.get-value($theme1, 'sliderWrapperDisplay');
            flex-direction: ef.get-value($theme1, 'sliderWrapperDirection');
            height: ef.get-value($theme1, 'sliderWrapperHeight');
        }

        &__title {
            @include lib.get-text-style('ThirdTitleBold', ef.get-value($theme1, 'titleColor'));
            padding: ef.get-value($theme1, 'titlePadding');
            text-align: ef.get-value($theme1, 'titleTextAlign');
            background: ef.get-value($theme1, 'titleBg');
            box-shadow: ef.get-value($theme1, 'titleBoxShadow');
        }

        &__slider {
            position: relative;
            height: ef.get-value($theme1, 'sliderHeight');
            margin: ef.get-value($theme1, 'sliderMargin');

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: ef.get-value($theme1, 'bottomLineHeight');
                background: ef.get-value($theme1, 'background');
            }
        }
    }
}
