.wlc-text-block {

    &__head {
        @include bm.get-mq-map('padding', $themeDefault, 'headPadding');
        margin: ef.get-value($themeDefault, 'headMargin');
    }

    &__title {
        @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize', 320), ef.get-value($themeDefault, 'titleColor'));
        margin: ef.get-value($themeDefault, 'titleMargin');

        @include mq.min(768) {
            @include text.get-text-style(ef.get-value($themeDefault, 'titleFontSize', 768));
        }
    }

    &__subtitle {
        @include text.get-text-style(ef.get-value($themeDefault, 'subtitleFontSize'), ef.get-value($themeDefault, 'subtitleColor'));
        margin: ef.get-value($themeDefault, 'subtitleMargin');
    }

    &__dynamic {
        @include text.get-text-style(ef.get-value($themeDefault, 'dynamicFontSize'), ef.get-value($themeDefault, 'dynamicColor'));
        margin: ef.get-value($themeDefault, 'dynamicMargin');
    }

    &__title,
    &__subtitle,
    &__dynamic {
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
