@import '../utils/vars';
@import '../utils/mixins';

.wlc-text-block {

    &__head {
        margin: $headMargin;
    }

    &__title,
    &__subtitle {
        text-align: center;
        color: $titleColor;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        @include common($titleFontSize, $titleFontWeight, $titleMargin);
    }

    &__subtitle {
        @include common($subtitleFontSize, $subtitleFontWeight, $subtitleMargin);

        line-height: $subtitleLineHeight;
    }
}
