<ng-template #sref let-item="item">
    <div class="{{$class}}__item {{$class}}__item--sref">
        <a class="{{$class}}__link"
           uiSref="{{item.state}}"
           [uiParams]="item.stateParams"
           [uiOptions]="item.stateOptions">{{item.name | translate}}</a>
    </div>
</ng-template>

<ng-template #anchor let-item="item">
    <div class="{{$class}}__item {{$class}}__item--anchor">
        <a class="{{$class}}__link"
           href="#{{item?.params?.anchor?.name}}">{{item?.name | translate}}</a>
    </div>
</ng-template>

<ng-template #modal let-item="item">
    <div class="{{$class}}__item {{$class}}__item--modal">
        <a class="{{$class}}__link"
           href="">{{item.name | translate}}</a>
    </div>
</ng-template>

<ng-container *ngFor="let item of items" [ngSwitch]="item.type">

    <ng-container *ngSwitchCase="'anchor'" [ngTemplateOutlet]="anchor" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

    <ng-container *ngSwitchCase="'sref'" [ngTemplateOutlet]="sref" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

    <ng-container *ngSwitchCase="'modal'" [ngTemplateOutlet]="modal" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

</ng-container>

<ng-container *ngIf="useLanguageSelector">
    <div wlc-language-selector [inlineParams]="LanguageSelectorParams"></div>
</ng-container>
