<ng-template #sref let-item="item">

    <ng-container *ngIf="!item.params?.state?.parent">
        <div class="{{$class}}__item {{$class}}__item--sref {{$class}}__item--{{item.class}}">

            <a *ngIf="item.params?.state?.activeEq"
               class="{{$class}}__link"
               [attr.data-wlc-element]="item.wlcElement"
               [uiSref]="item.params?.state?.name"
               [uiParams]="item.params?.state?.params"
               [uiOptions]="item.params?.state?.options"
               uiSrefActiveEq="active">

                <span *ngIf="$params.theme === 'first'"
                      wlc-icon
                      class="{{$class}}__icon-active"
                      [iconUrl]="'/wlc/icons/menu-active.svg'"></span>
                <span *ngIf="item.icon"
                      wlc-icon
                      class="{{$class}}__icon"
                      [iconPath]="getIcon(item)"
                      [fallback]="getIconFallback(item)"></span>
                <span class="{{$class}}__link-text">
                    <span>{{menuItemName(item)}}</span>
                    <span *ngIf="item.counterParams"
                          wlc-counter
                          [inlineParams]="item.counterParams"
                    ></span>
                </span>
            </a>

            <a *ngIf="!item.params?.state?.activeEq"
               class="{{$class}}__link"
               [uiSref]="item.params?.state?.name"
               [uiParams]="item.params?.state?.params"
               [uiOptions]="item.params?.state?.options"
               [attr.data-wlc-element]="item.wlcElement"
               title="{{menuItemName(item)}}"
               uiSrefActive="active">

                <span *ngIf="$params.theme === 'first'"
                      wlc-icon
                      class="{{$class}}__icon-active"
                      [iconUrl]="'/wlc/icons/menu-active.svg'"></span>
                <span wlc-icon
                      class="{{$class}}__icon"
                      [iconPath]="getIcon(item)"
                      [fallback]="getIconFallback(item)"></span>
                <span class="{{$class}}__link-text">
                    <span>{{menuItemName(item)}}</span>
                    <span *ngIf="item.counterParams"
                          wlc-counter
                          [inlineParams]="item.counterParams"
                    ></span>
                </span>
            </a>
        </div>
    </ng-container>

    <ng-container *ngIf="item.params?.state?.parent" #srefWithParent>
        <div class="{{$class}}__item {{$class}}__item--sref {{$class}}__item--{{item.class}}">
            <span *ngIf="item.icon"
                  wlc-icon
                  class="{{$class}}__icon"
                  [iconPath]="getIcon(item)"
                  [fallback]="getIconFallback(item)">
            </span>
            <a class="{{$class}}__link"
               [uiSref]="item.params?.state?.name"
               [uiParams]="item.params?.state?.params"
               [uiOptions]="item.params?.state?.options"
               [attr.data-wlc-element]="item.wlcElement"
               [class.active]="isActive(item.params?.state?.parent)">
                {{menuItemName(item)}}
                <span *ngIf="$params.theme === 'first'"
                      wlc-icon
                      class="{{$class}}__icon-active"
                      [iconUrl]="'/wlc/icons/menu-active.svg'"></span>
                <span *ngIf="item.counterParams"
                      wlc-counter
                      [inlineParams]="item.counterParams"
                ></span>
            </a>
        </div>
    </ng-container>

</ng-template>

<ng-template #href let-item="item">
    <div class="{{$class}}__item {{$class}}__item--href {{$class}}__item--{{item.class}}">
        <a class="{{$class}}__link"
           [attr.data-wlc-element]="item.wlcElement"
           [target]="item?.params?.target || '_self'"
           [href]="getHref(item?.params?.href)"
        >
            <span *ngIf="$params.theme === 'first'"
                  wlc-icon
                  class="{{$class}}__icon-active"
                  [iconUrl]="'/wlc/icons/menu-active.svg'"></span>
            <span wlc-icon
                  class="{{$class}}__icon"
                  [iconPath]="getIcon(item)"
                  [fallback]="getIconFallback(item)"></span>
            <span>{{menuItemName(item)}}</span>
        </a>
    </div>
</ng-template>

<ng-template #anchor let-item="item">
    <div class="{{$class}}__item {{$class}}__item--anchor {{$class}}__item--{{item.class}}">
        <span *ngIf="item.icon"
              wlc-icon
              class="{{$class}}__icon"
              [iconPath]="getIcon(item)"
              [fallback]="getIconFallback(item)">
        </span>
        <a class="{{$class}}__link"
           href="#{{item.params.anchor?.name}}"
        >{{item?.name | translate}}</a>
    </div>
</ng-template>

<ng-template #scroll let-item="item">
    <div class="{{$class}}__item {{$class}}__item--anchor {{$class}}__item--{{item.class}}">
        <a class="{{$class}}__link"
           (click)="scrollTo(item.params.scroll)"
        > {{menuItemName(item)}}</a>
    </div>
</ng-template>

<ng-template #modal let-item="item">
    <div class="{{$class}}__item {{$class}}__item--modal {{$class}}__item--{{item.class}}">
        <span *ngIf="item.icon"
              wlc-icon
              class="{{$class}}__icon"
              [iconPath]="getIcon(item)"
              [fallback]="getIconFallback(item)">
        </span>
        <a class="{{$class}}__link"
           (click)="openModal(item)"
        >{{menuItemName(item)}}</a>
    </div>
</ng-template>

<ng-template #event let-item="item">
    <div class="{{$class}}__item {{$class}}__item--event {{$class}}__item--{{item.class}}">
        <a class="{{$class}}__link"
        (click)="eventEmit(item.params?.event)">

            <span *ngIf="item.icon"
                  wlc-icon
                  class="{{$class}}__icon"
                  [iconPath]="getIcon(item)"
                  [fallback]="getIconFallback(item)"></span>
            <span class="{{$class}}__link-text">
                <span>{{menuItemName(item)}}</span>
            </span>
        </a>
    </div>
</ng-template>

<ng-template #categories let-item="item">
    <div wlc-category-menu [inlineParams]="item.params?.categories?.componentParams"></div>
</ng-template>

<ng-template #dropdown let-item="item">
    <div class="{{$class}}__item {{$class}}__item--dropdown {{$class}}__item--{{item.parent.class}}"
         [ngClass]="{'active': item.expand}">
        <span *ngIf="item.icon"
              wlc-icon
              class="{{$class}}__icon"
              [iconPath]="getIcon(item)"
              [fallback]="getIconFallback(item)">
        </span>
        <a class="{{$class}}__link"
           [attr.data-wlc-element]="item.wlcElement || item.parent.wlcElement"
           (click)="toggleDropdown(item)">
            {{menuItemName(item.parent)}}
            <span wlc-icon
                  class="{{$class}}__icon-arrow"
                  iconPath="/wlc/icons/arrow.svg">
            </span>
        </a>
        <div class="{{$class}}__submenu"
             [@toggle]="item.expand ? 'opened' : 'closed'">
            <ng-container *ngFor="let item of item.items">
                <ng-container [ngTemplateOutlet]="menuItem"
                              [ngTemplateOutletContext]="{item: item}">
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #full let-item="item">
    <div class="{{$class}}__item {{$class}}__item--dropdown active {{$class}}__item--{{item.class}}">
        <span class="{{$class}}__icon" *ngIf="item.icon" wlc-icon [iconPath]="getIcon(item)" [fallback]="getIconFallback(item)">
        </span>
        <a class="{{$class}}__link"
           [attr.data-wlc-element]="item.wlcElement || item.parent.wlcElement">{{menuItemName(item.parent)}}
            <span wlc-icon
                  class="{{$class}}__icon-arrow"
                  iconPath="/wlc/icons/arrow.svg">
            </span>
        </a>
        <div class="{{$class}}__submenu">
            <ng-container *ngFor="let item of item.items">
                <ng-container [ngTemplateOutlet]="menuItem"
                              [ngTemplateOutletContext]="{item: item}">
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #group let-item="item">
    <ng-container [ngSwitch]="$params.theme">
        <ng-container *ngSwitchCase="'first'"
                      [ngTemplateOutlet]="full"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchDefault
                      [ngTemplateOutlet]="dropdown"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #menuItem let-item="item">
    <ng-container [ngSwitch]="item.type">
        <ng-container *ngSwitchCase="'anchor'"
                      [ngTemplateOutlet]="anchor"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'sref'"
                      [ngTemplateOutlet]="sref"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'title'"
                      [ngTemplateOutlet]="sref"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'modal'"
                      [ngTemplateOutlet]="modal"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'event'"
                      [ngTemplateOutlet]="event"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'href'"
                      [ngTemplateOutlet]="href"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'scroll'"
                      [ngTemplateOutlet]="scroll"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'categories'"
                      [ngTemplateOutlet]="categories"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
        <ng-container *ngSwitchCase="'group'">
            <ng-container [ngTemplateOutlet]="group"
                          [ngTemplateOutletContext]="{item: item}">
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-container *ngIf="$params.common?.useSwiper && slides.length">
    <div wlc-slider #slider
         [slides]="slides"
         [inlineParams]="$params.sliderParams">
    </div>
</ng-container>

<ng-container *ngIf="!$params.common?.useSwiper">
    <ng-container *ngFor="let item of items">
        <ng-container [ngTemplateOutlet]="menuItem"
                      [ngTemplateOutletContext]="{item: item}">
        </ng-container>
    </ng-container>
</ng-container>
