<ng-template #sref let-item="item">
    <div class="{{$class}}__item {{$class}}__item--sref">
        <a uiSref="{{item.state}}" [uiParams]="item.stateParams" [uiOptions]="item.stateOptions">{{item.name}}</a>
    </div>
</ng-template>

<ng-template #anchor let-item="item">
    <div class="{{$class}}__item {{$class}}__item--anchor">
        <a href="#{{item?.params?.anchor?.name}}">{{item?.name}}</a>
    </div>
</ng-template>

<ng-template #modal let-item="item">
    <div class="{{$class}}__item {{$class}}__item--modal">
        <a href="">{{item.name}}</a>
    </div>
</ng-template>

<ng-container *ngFor="let item of items" [ngSwitch]="item.type">

    <ng-container *ngSwitchCase="'anchor'" [ngTemplateOutlet]="anchor" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

    <ng-container *ngSwitchCase="'sref'" [ngTemplateOutlet]="sref" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

    <ng-container *ngSwitchCase="'modal'" [ngTemplateOutlet]="modal" [ngTemplateOutletContext]="{item: item}">
    </ng-container>

</ng-container>
