$wlcDefaultBtnTheme: (map-merge((
    'textColor': #fff,
    'hoveredTextColor': #fff,
    'disabledTextColor': #fff,
    'background': getBaseColor('highlightMain'),
    'hoveredBackground': darken(getBaseColor('highlightMain'), 5%),
    'disabledBackground': getBaseColor('lightGrey'),
    'textShadow': false,
    'borderRadius': 4px,
    'useShadow': true,
    'useBorder': false,
    'textOutline': false
), if(variable-exists('defaultBtnTheme'), $defaultBtnTheme, ())));

$wlcSubmitBtnTheme: (map-merge((
    'fontWeight': bold,
    'textTransform': uppercase,
    'textShadow': -2px 2px 2px transparentize(getBaseColor('primary'), 0.5),
    'useShadow': true
), if(variable-exists('submitBtnTheme'), $submitBtnTheme, ())));

$wlcLinkBtnTheme: (map-merge((
    'textShadow': false,
    'useShadow': false,
    'borderRadius': 0,
    'useBorder': false,
    'useTextOutline': false,
    'background': none,
    'hoveredBackground': none,
    'disabledBackground': none,
    'textColor': getElementColor('link'),
    'hoveredTextColor': darken(getElementColor('link'), 5%),
    'disabledTextColor': lighten(getBaseColor('highlightMain'), 50%),
    'padding': 0
), if(variable-exists('linkBtnTheme'), $linkBtnTheme, ())));

$wlcOutlineBtnTheme: (map-merge((
    'textOutline': lighten(getBaseColor('highlightMain'), 35%),
    'textTransform': uppercase,
    'textColor': getBaseColor('highlightMain'),
    'hoveredTextColor': getBaseColor('highlightMain')
), if(variable-exists('outlineBtnTheme'), $outlineBtnTheme, ())));

$wlcPrimaryBtnTheme: (map-merge((
    'background': getBaseColor('primary'),
    'hoveredBackground': darken(getBaseColor('primary'), 5%)
), if(variable-exists('primaryBtnTheme'), $primaryBtnTheme, ())));

$wlcSecondBtnTheme: (map-merge((
    'background': getBaseColor('highlightSecond'),
    'hoveredBackground': darken(getBaseColor('highlightSecond'), 5%)
), if(variable-exists('secondBtnTheme'), $secondBtnTheme, ())));

$wlcThirdBtnTheme: (map-merge((
    'background': getBaseColor('highlightThird'),
    'hoveredBackground': darken(getBaseColor('highlightThird'), 5%)
), if(variable-exists('thirdBtnTheme'), $thirdBtnTheme, ())));

$wlcDangerBtnTheme: (map-merge((
    'background': getBaseColor('danger'),
    'hoveredBackground': darken(getBaseColor('danger'), 5%)
), if(variable-exists('dangerBtnTheme'), $dangerBtnTheme, ())));

$wlcGameBtnTheme: (map-merge((
    'textShadow': false,
    'useBorder': false,
    'useTextOutline': false,
    'background': getBaseColor('background'),
    'hoveredBackground': transparentize(getBaseColor('background'), 0.5),
    'textColor': getBaseColor('highlightMain'),
    'hoveredTextColor': getBaseColor('highlightMain'),
    'disabledTextColor': getBaseColor('highlightMain'),
    'borderRadius': 4px,
    'useShadow': true,
), if(variable-exists('gameBtnTheme'), $gameBtnTheme, ())));

$wlcGameSecondBtnTheme: (map-merge((
    'textShadow': -2px 2px 2px transparentize(getBaseColor('primary'), 0.5),
    'textTransform': uppercase
), if(variable-exists('gameSecondBtnTheme'), $gameSecondBtnTheme, ())));

$wlcReverseBtnTheme: (map-merge((
    'background': getBaseColor('white'),
    'hoveredBackground': getBaseColor('highlightMain'),
    'textColor': getBaseColor('highlightMain'),
    'hoveredTextColor': getBaseColor('white'),
    'useBorder': getElementColor('border'),
    'useShadow': false,
), if(variable-exists('reverseBtnTheme'), $reverseBtnTheme, ())));


$wlcPlayBtnTheme: (map-merge((
    'background': getBaseColor('highlightMain'),
    'hoveredBackground': getBaseColor('white'),
    'textColor': getBaseColor('white'),
    'hoveredTextColor': getBaseColor('highlightMain'),
    'useBorder': getBaseColor('highlightMain'),
    'useShadow': false,
    'textTransform': uppercase,
), if(variable-exists('playBtnTheme'), $playBtnTheme, ())));

$wlcDemoBtnTheme: (map-merge((
    'background': getBaseColor('white'),
    'hoveredBackground': getBaseColor('highlightMain'),
    'textColor': getBaseColor('highlightMain'),
    'hoveredTextColor': getBaseColor('white'),
    'useBorder': getBaseColor('highlightMain'),
    'useShadow': false,
    'textTransform': uppercase
), if(variable-exists('demoBtnTheme'), $demoBtnTheme, ())));

$wlcFullWidthBtnTheme: (map-merge((
    'width': 100%,
    'textOutline': false,
    'padding': 1rem 2rem
), if(variable-exists('fullWidthBtnTheme'), $fullWidthBtnTheme, ())));

$wlcBtnThemes: (
    'default': $wlcDefaultBtnTheme,
    'second': map-merge($wlcDefaultBtnTheme, $wlcSecondBtnTheme),
    'third': map-merge($wlcDefaultBtnTheme, $wlcThirdBtnTheme),
    'danger': map-merge($wlcDefaultBtnTheme, $wlcDangerBtnTheme),
    'primary': map-merge($wlcDefaultBtnTheme, $wlcPrimaryBtnTheme),
    'submit': map-merge($wlcDefaultBtnTheme, $wlcSubmitBtnTheme),
    'outline': map-merge($wlcDefaultBtnTheme, $wlcOutlineBtnTheme),
    'link': map-merge($wlcDefaultBtnTheme, $wlcLinkBtnTheme),
    'game': map-merge($wlcDefaultBtnTheme, $wlcGameBtnTheme),
    'game-second': map-merge($wlcDefaultBtnTheme, $wlcGameSecondBtnTheme),
    'reverse': map-merge($wlcDefaultBtnTheme, $wlcReverseBtnTheme),
    'play': map-merge($wlcDefaultBtnTheme, $wlcPlayBtnTheme),
    'demo': map-merge($wlcDefaultBtnTheme, $wlcDemoBtnTheme),
    'full-width': $wlcFullWidthBtnTheme
);

$wlcBtnSizesDefault: (
    'fontSize': 100%,
    'padding': 5px 10px
);

$wlcBtnSizes: (
    'xsmall': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('xsmall') * (2 / 1.6),
        'padding': 0 1rem,
        'lineHeight': getFontSize('xsmall') * 1.8
    )),
    'small': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('small') * (2.2 / 2),
        'padding': 0 1rem,
        'lineHeight': getFontSize('small') * 1.8
    )),
    'default': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('default') * (2.8 / 2.2),
        'padding': 0 1rem,
        'lineHeight': getFontSize('default') * 1.8
    )),
    'large': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('large') * (3.6 / 3.4),
        'padding': 0 2rem,
        'lineHeight': getFontSize('large') * 1.35
    )),
    'xlarge': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('xlarge'),
        'padding': 0 2rem,
        'lineHeight': getFontSize('xlarge') * 1.8
    )),
    'xxlarge': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('xxlarge'),
        'padding': 0 3rem,
        'lineHeight': getFontSize('xxlarge') * 1.8
    )),
    'xxxlarge': map-merge($wlcBtnSizesDefault, (
        'fontSize': getFontSize('xxxlarge') * (7 / 6),
        'padding': 0.5rem 4rem,
        'lineHeight': getFontSize('xxxlarge') * 1.8
    ))
);

@mixin wlcBtnTheme($params) {
    display: inline-flex;

    @if map-has-key($params, 'width') {
        width: getMapValue($params, 'width');
    }
    @if map-has-key($params, 'textColor') {
        color: getMapValue($params, 'textColor');

        svg {
            stroke: getMapValue($params, 'textColor');
        }
    }
    @if map-has-key($params, 'fontWeight') {
        font-weight: getMapValue($params, 'fontWeight');
    }
    @if map-has-key($params, 'textTransform') {
        text-transform: getMapValue($params, 'textTransform');
    }
    @if map-has-key($params, 'background') {
        background: getMapValue($params, 'background');
    }
    @if map-has-key($params, 'padding') {
        padding: getMapValue($params, 'padding') !important;
    }
    @if map-has-key($params, 'borderRadius') {
        border-radius: getMapValue($params, 'borderRadius');
    }
    @if map-has-key($params, 'textShadow') {
        @if getMapValue($params, 'textShadow') == true {
            text-shadow: -1px -1px 1px transparentize(#000, 0.5);
        } @else if getMapValue($params, 'textShadow') != false {
            text-shadow: getMapValue($params, 'textShadow');
        }
    }
    @if map-has-key($params, 'useShadow') {
        @if getMapValue($params, 'useShadow') == true {
            box-shadow: getElementStyle('buttonShadow');
        } @else if getMapValue($params, 'useShadow') == false {
            box-shadow: none;
        }
    }
    @if map-has-key($params, 'useBorder') {
        @if getMapValue($params, 'useBorder') == true {
            border: 1px solid darken(getMapValue($params, 'background'), 20%);
        } @else if getMapValue($params, 'useBorder') != false {
            border: 1px solid getMapValue($params, 'useBorder');
        }
    }

    @if map-has-key($params, 'fontSize') {
        font-size: getMapValue($params, 'fontSize') !important;
    }
    @if map-has-key($params, 'fontWeight') {
        font-weight: getMapValue($params, 'fontWeight') !important;
    }

    @if getMapValue($params, 'textOutline') != false {
        @for $i from 1 through 20 {
            text-shadow: 0 0 3px getMapValue($params, 'textOutline');
        }
    }

    &:hover {
        @if map-has-key($params, 'hoveredTextColor') {
            color: getMapValue($params, 'hoveredTextColor');

            svg {
                stroke: getMapValue($params, 'hoveredTextColor');
            }
        }
        @if map-has-key($params, 'hoveredBackground') {
            background: getMapValue($params, 'hoveredBackground');
        }

        .wlc-mobile & {
            @if map-has-key($params, 'textColor') {
                color: getMapValue($params, 'textColor');

                svg {
                    stroke: getMapValue($params, 'textColor');
                }
            }
            @if map-has-key($params, 'background') {
                background: getMapValue($params, 'background');
            }
        }
    }

    &:disabled {
        @if map-has-key($params, 'disabledTextColor') {
            color: getMapValue($params, 'disabledTextColor') !important;

            svg {
                stroke: getMapValue($params, 'disabledTextColor');
            }
        }
        @if map-has-key($params, 'disabledBackground') {
            background: getMapValue($params, 'disabledBackground') !important;
        }
    }
}

@mixin wlcBtnSize($params) {
    @if map-has-key($params, 'fontSize') {
        font-size: getMapValue($params, 'fontSize');
        @include max720 {
            font-size: getMapValue($params, 'fontSize') * ratio('720');
        }
        @include max560 {
            font-size: getMapValue($params, 'fontSize') * ratio('560');
        }
    }
    @if map-has-key($params, 'padding') {
        padding: getMapValue($params, 'padding');
    }
    @if map-has-key($params, 'lineHeight') {
        line-height: getMapValue($params, 'lineHeight');
    }
    @if map-has-key($params, 'minWidth') {
        min-width: getMapValue($params, 'minWidth');
    }
}

.wlc-btn {
    @include wlcBtnSize(getMapValue($wlcBtnSizes, 'default'));
    @include wlcBtnTheme(getMapValue($wlcBtnThemes, 'default'));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color, color 500ms ease-out;

    &.ng-animate {
        transition: none;
    }

    &.ng-hide {
        transition: none;
    }

    .wlc-btn__icon {
        margin-right: 0.8rem;
    }

    svg {
        fill: none;
    }
}

@each $name, $value in $wlcBtnThemes {

    .wlc-btn_#{$name} {
        @include wlcBtnTheme($value);
    }
}

@each $name, $value in $wlcBtnSizes {

    .wlc-btn_size-#{$name} {
        @include wlcBtnSize($value);
    }
}
