.swiper-slide_default-1,
.swiper-slide_default-2,
.swiper-slide_default-3,
.swiper-slide_default-4,
.swiper-slide_default-5,
.swiper-slide_default-6 {
    background: {
        size: cover;
    }

    .banner-text {
        max-width: 500px;
        color: #fff;
        font-size: 60px;
        font-weight: 400;
        margin-top: 40px;
        text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;

        @include max1200 {
            margin-top: 20px;
        }

        @include max1024 {
            font-size: 40px;
        }

        @include max560 {
            font-size: 30px;
        }

        @include max360 {
            font-size: 24px;
        }
    }

    .wlc-swiper-slide__action {

        .wlc-btn {
            margin-top: 30px;
            padding: 15px 35px;
            font-size: 30px;

            @include max640 {
                margin-top: 20px;
                padding: 10px 35px;
                font-size: 25px;
            }

            @include max360 {
                margin-top: 10px;
            }
        }
    }
}

.swiper-slide_default-1 {

    .banner-text {
        max-width: 650px;

        @include max1024 {
            max-width: 500px;
        }
    }
}

.swiper-slide_default-2 {

    .banner-text {
        max-width: 600px;

        @include max1024 {
            max-width: 500px;
        }
    }
}

@for $i from 1 through 6 {

    .swiper-slide_default-#{$i} {
        background: {
            image: url('/static/images/banners/banner-#{$i}.jpg');
        }

        @include max768() {
            background: {
                image: url('/static/images/banners/banner-#{$i}_570.jpg');
                position: right center !important;
            }
        }

        @include max480() {
            background: {
                image: url('/static/images/banners/banner-#{$i}_480.jpg');
            }
        }

        @include max360() {
            background: {
                image: url('/static/images/banners/banner-#{$i}_400.jpg');
            }
        }
    }
}
