%clearfix {

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%paddings {
    padding-left: 15px;
    padding-right: 15px;
}

%big_colored_title {
    color: getBaseColor('primary');

    b {
        color: getBaseColor('highlightMain');
        font-weight: 400;
    }
}

%hidden {
    display: none !important;
}

%visible {
    display: block !important;
}

%flex {
    display: flex;
}

%transition {
    transition: all 0.4s;
}

%link {
    color: getElementColor('link');
    display: inline-block;
    position: relative;

    * {
        transition: all 0.4s;
    }

    svg {
        display: inline-block;
        pointer-events: all;
        fill: getElementColor('link');
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        border-bottom: {
            style: solid;
            width: 2px;
            color: transparent;
        }
    }

    &:hover {
        color: darken(getElementColor('link'), 10%);

        &:before {
            border-bottom: {
                color: transparentize(darken(getElementColor('link'), 10%), 0.5);
            }
        }

        svg {
            fill: darken(getElementColor('link'), 10%);
        }
    }
}
