.wlc-tabs__nav {
    display: flex;
    border-bottom: getMapValue($wlcTabs, 'border');
    margin-bottom: getMapValue($wlcTabs, 'marginBottom');
}

.wlc-tabs-tab {
    padding: getMapValue($wlcTabs, 'padding');
    cursor: default;
    color: getMapValue($wlcTabs, 'nonActiveTextColor');
    border-bottom: {
        style: solid;
        width: getMapValue($wlcTabs, 'tabBorderWidth');
        color: transparent;
    };

    &.wlc-active {
        border-bottom-color: getMapValue($wlcTabs, 'activeTabBorderColor');
        background-color: getMapValue($wlcTabs, 'activeTabBkgColor');
        color: getMapValue($wlcTabs, 'activeTextColor');
    }
}

.wlc-tabs-item {
    display: none;

    &.wlc-active {
        display: block;
    }
}
