@mixin createHeader($map) {
    color: getMapValue($map, 'color');
    font-size: getMapValue($map, 'size');
    font-weight: getMapValue($map, 'weight');
    text-transform: getMapValue($map, 'textTransform');
    text-shadow: getMapValue($map, 'textShadow');
}

@each $name, $value in $wlcFontSize {

    .wlc-size_#{$name} {
        font-size: getMapValue($wlcFontSize, $name);
    }
}

h1 {
    @include createHeader($wlcHeader_1);
    @include max1024 {
        font-size: getMapValue($wlcHeader_1, 'size') * ratio('1024');
    }
}

h2 {
    @include createHeader($wlcHeader_2);
}

h3 {
    @include createHeader($wlcHeader_3);
}

h4 {
    @include createHeader($wlcHeader_4);
}

h5 {
    @include createHeader($wlcHeader_5);
}

h6 {
    @include createHeader($wlcHeader_6);
}

.like-h1 {
    @include createHeader($wlcHeader_1);
    @include max1024 {
        font-size: getMapValue($wlcHeader_1, 'size') * ratio('1024');
    }
}

.like-h2 {
    @include createHeader($wlcHeader_2);
}

.like-h3 {
    @include createHeader($wlcHeader_3);
}

.like-h4 {
    @include createHeader($wlcHeader_4);
}

.like-h5 {
    @include createHeader($wlcHeader_5);
}

.like-h6 {
    @include createHeader($wlcHeader_6);
}
