@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/base.mixins' as em;

.wlc-logout--theme-default:host {

    .wlc-btn {
        display: flex;

        ::ng-deep {

            .wlc-btn__text {
                display: flex;
                align-items: center;
                @include text.get-text-style('PlaceholderTextBold', ef.get-value($themeDefault, 'textColor'));
            }

            .wlc-icon {

                path {
                    stroke: ef.get-value($themeDefault, 'iconColor');
                    fill: ef.get-value($themeDefault, 'iconColor');
                }
            }
        }

        @media (hover: hover) {

            &:hover {

                ::ng-deep {

                    .wlc-btn__text {
                        color: ef.get-value($themeDefault, 'textColorHover');
                        @include em.transition(color);
                    }

                    ::ng-deep {

                        path {
                            stroke: ef.get-value($themeDefault, 'textColorHover');
                            @include em.transition(stroke);
                        }
                    }
                }
            }
        }
    }
}
