@import '../utils/vars';

.wlc-logout--theme-default:host {

    .wlc-btn {
        display: flex;

        ::ng-deep {

            .wlc-btn__text {
                display: flex;
                align-items: center;
                @include text.get-text-style('PlaceholderTextBold');
                color: map-get($themeDefault, 'textColor');
            }
        }

        .wlc-icon {

            svg {
                fill: map-get($themeDefault, 'iconColor');
            }
        }
    }
}
