@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;
@use 'engine-scss/mixins/mediaqueries' as mq;
@use 'engine-scss/functions' as ef;

.wlc-mobile-menu--type-dropdown:host {

    &.wlc-mobile-menu--theme-mod-vertical {

        ::ng-deep {

            .wlc-category-menu--type-dropdown.wlc-category-menu--theme-mod-vertical .wlc-menu,
            .wlc-menu {
                display: grid;
                grid: {
                    template-columns: 1fr;
                    gap: ef.get-value($themeDropdownDefault, 'menuGag');
                }

                .wlc-menu__item {

                    .wlc-menu__link span {
                        white-space: normal;
                    }


                    &.active {

                        > .wlc-menu__link {
                            color: ef.get-value($themeDropdownDefault, 'activeTabLinkColor');
                            background: ef.get-value($themeDropdownDefault, 'activeTabLinkBg');
                            @include bm.transition();

                            .wlc-menu__icon-arrow {
                                transform: rotate(180deg);
                                @include bm.transition();

                                svg {
                                    fill: ef.get-value($themeDropdownDefault, 'arrowFillColorActive');
                                }
                            }
                        }
                    }

                    &--dropdown {

                        > .wlc-menu__link {

                            .wlc-icon {
                                transform: rotate(0);
                            }
                        }
                    }
                }

                .wlc-menu__link {
                    z-index: 2;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: ef.get-value($themeDropdownDefault, 'linkPadding');
                    width: 100%;
                    @include text.get-text-style('PrimaryText', ef.get-value($themeDropdownDefault, 'linkColor'));
                    cursor: pointer;
                    text-decoration: none;
                    background: ef.get-value($themeDropdownDefault, 'linkBg');
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                    @include bm.transition(background);

                    &:hover {
                        background: ef.get-value($themeDropdownDefault, 'linkBg');

                        @include mq.min(1024) {
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                        }
                    }

                    &.active {
                        background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                        color: ef.get-value($themeDropdownDefault, 'activeLinkColor');
                    }

                    @media (hover) {

                        &:hover {
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                            color: ef.get-value($themeDropdownDefault, 'activeLinkColor');
                            @include bm.transition(background);

                            .wlc-menu__icon-arrow {

                                svg {
                                    fill: ef.get-value($themeDropdownDefault, 'arrowFillColorActive');
                                }
                            }
                        }
                    }

                    .wlc-menu__icon-arrow {
                        transform: rotate(-90deg);
                        margin-left: auto;
                        @include bm.transition();

                        svg {
                            fill: ef.get-value($themeDropdownDefault, 'arrowFillColor');
                        }
                    }
                }

                .wlc-menu__submenu {
                    margin-top: ef.get-value($themeDropdownDefault, 'menuGag');
                    border-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                    background: ef.get-value($themeDropdownDefault, 'submenuBg');

                    .wlc-menu__item {

                        &:hover {

                            .wlc-menu__link {
                                border-radius: 0;

                                @include mq.min(1024) {
                                    background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                                }
                            }
                        }

                        &:last-child {

                            .wlc-menu__link {
                                border-bottom-left-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                                border-bottom-right-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                            }
                        }

                        &:first-child {

                            .wlc-menu__link {
                                border-top-left-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                                border-top-right-radius: ef.get-value($themeDropdownDefault, 'linkBorderRadius');
                            }
                        }
                    }

                    .wlc-menu__link {
                        border-radius: 0;

                        &.active {
                            background: ef.get-value($themeDropdownDefault, 'activeLinkBg');
                            @include bm.transition(background);
                        }
                    }
                }
            }
        }
    }
}

