.wlc-loyalty-program-wolf--theme-wolf:host {

    .wlc-loyalty-program-wolf {

        &__wrapper {
            @include bm.get-mq-map('padding', $themeDefault, 'wrapperPadding');

            display: ef.get-value($themeDefault, 'wrapperDisplay');
            flex-direction: ef.get-value($themeDefault, 'wrapperDirection');
            align-items: ef.get-value($themeDefault, 'wrapperAlignItems');

            margin: ef.get-value($themeDefault, 'wrapperMargin');

            background: ef.get-value($themeDefault, 'wrapperBackground');
            border-radius: ef.get-value($themeDefault, 'wrapperBorderRadius');

            overflow: ef.get-value($themeDefault, 'wrapperOverflow');
        }

        &__header {
            @include bm.get-mq-map('margin', $themeDefault, 'headerMargin');

            display: ef.get-value($themeDefault, 'headerDisplay');
            flex-direction: ef.get-value($themeDefault, 'headerDirection');
            align-items: ef.get-value($themeDefault, 'headerAlign');
            justify-content: ef.get-value($themeDefault, 'headerJustify');
        }

        &__title {
            @include text.get-text-style(
                ef.get-value($themeDefault, 'titleFont', 320),
                ef.get-value($themeDefault, 'titleFontColor')
            );

            @include mq.min(900) {
                @include text.get-text-style(
                    ef.get-value($themeDefault, 'titleFont', 900),
                    ef.get-value($themeDefault, 'titleFontColor')
                );
            }
        }

        &__btn-wrapper {
            display: ef.get-value($themeDefault, 'btnWrappDisplay');
            flex-direction: ef.get-value($themeDefault, 'btnWrappDirection');
            justify-content: ef.get-value($themeDefault, 'btnWrappJustify');
        }

        &__container {
            min-width: 0;

            .container {
                max-width: 100%;
            }
        }

        &__slider {

            ::ng-deep {

                .swiper {
                    @include bm.get-mq-map('overflow', $themeDefault, 'swiperOverflow');
                }

                .swiper-slide {
                    @include bm.get-mq-map('width', $themeDefault, 'slideWidth');
                }
            }
        }

        &__navigation-btns {
            @include bm.get-mq-map('display', $themeDefault, 'navBtnsDisplay');
            flex-direction: ef.get-value($themeDefault, 'navBtnsDiraction');

            ::ng-deep {

                .wlc-swiper-button-prev {
                    margin-left: ef.get-value($themeDefault, 'navBtnsMarginLeft');
                }
            }
        }

        &-nodata {
            text-align: ef.get-value($themeDefault, 'nodataTextAlign');
        }
    }
}
