@use 'engine-scss/functions' as ef;

$headMargin: 0 0 25px 0 !default;

$titleFontSize: 24px !default;
$titleFontWeight: 700 !default;
$titleMargin: 0 0 15px 0 !default;
$titleColor: ef.get('color', 'text') !default;

$subtitleFontSize: 12px !default;
$subtitleFontWeight: 400 !default;
$subtitleLineHeight: 1.3 !default;
$subtitleMargin: 0 0 25px 0 !default;
