@use 'engine-scss/functions' as ef;
@use 'engine-scss/mixins/base.mixins' as bm;
@use 'engine-scss/mixins/text' as text;

.wlc-search-field {
    position: relative;
    display: block;
    color: ef.get-value($themeDefault, 'color');
    line-height: 1;

    &__input {
        @include bm.get-mq-map('background', $themeDefault, 'bgColor');
        @include text.get-text-style(ef.get-value($themeDefault, 'fontName'), ef.get-value($themeDefault, 'color'));
        width: 100%;
        height: ef.get-value($themeDefault, 'heightInput');
        padding: ef.get-value($themeDefault, 'inputPadding');
        transition: ef.get-value($themeDefault, 'transition');
        border-radius: ef.get-value($themeDefault, 'borderRadius');
        border: ef.get-value($themeDefault, 'border');

        .wlc-body--browser-safari & {
            -webkit-appearance: none; /* stylelint-disable-line */
        }

        &::placeholder {
            color: ef.get-value($themeDefault, 'placeholderColor');
        }

        &:focus {
            outline: none;
            border-color: ef.get-value($themeDefault, 'borderColorActive');
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__clear {
        position: absolute;
        top: 50%;
        right: ef.get-value($themeDefault, 'searchIconRight') + ef.get-value($themeDefault, 'searchIconSize')  + 5px;
        height: auto;
        padding: 4px;
        color: ef.get-value($themeDefault, 'color');
        font-size: 0;
        background: transparent;
        transform: translateY(-50%);
        opacity: 0.5;
        transition: opacity ef.get-value($themeDefault, 'transition');
        appearance: none;
        border: none;

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }

        ::ng-deep {

            svg {
                width: ef.get-value($themeDefault, 'clearButtonSize');
                height: ef.get-value($themeDefault, 'clearButtonSize');

                line {
                    stroke: ef.get-value($themeDefault, 'searchIconColor');
                }
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: ef.get-value($themeDefault, 'searchIconRight');
        transform: translateY(-50%);
        pointer-events: none;

        ::ng-deep {

            svg {
                width: ef.get-value($themeDefault, 'searchIconSize');
                height: ef.get-value($themeDefault, 'searchIconSize');
                fill: ef.get-value($themeDefault, 'searchIconColor');
            }
        }
    }
}
