.wlc-search-field {
    position: relative;
    display: ef.get-value($themeDefault, 'fieldDisplay');
    color: ef.get-value($themeDefault, 'color');
    line-height: ef.get-value($themeDefault, 'lineHeight');

    &__input {
        @include bm.get-mq-map('background', $themeDefault, 'bgColor');
        @include text.get-text-style(ef.get-value($themeDefault, 'fontName'), ef.get-value($themeDefault, 'color'));
        @include bm.lineClamp();

        width: ef.get-value($themeDefault, 'inputWidth');
        height: ef.get-value($themeDefault, 'inputHeight');
        padding: ef.get-value($themeDefault, 'inputPadding');
        border-radius: ef.get-value($themeDefault, 'borderRadius');
        border: ef.get-value($themeDefault, 'border');

        &::placeholder {
            color: ef.get-value($themeDefault, 'placeholderColor');
        }

        &:focus {
            outline: none;
            border-color: ef.get-value($themeDefault, 'borderColorActive');
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }
    }

    .wlc-body--browser-safari & {

        &:host {

            ::ng-deep {

                .wlc-search-field__input {
                    -webkit-appearance: none; /* stylelint-disable-line */
                }
            }
        }
    }

    &__clear {
        @include bm.transition(opacity);
        position: absolute;
        top: ef.get-value($themeDefault, 'searchIconTop');
        right: ef.get-value($themeDefault, 'clearButtonRightIndent');
        height: auto;
        padding: ef.get-value($themeDefault, 'paddingClear');
        color: ef.get-value($themeDefault, 'color');
        font-size: 0;
        background: ef.get-value($themeDefault, 'backgroundClear');
        transform: ef.get-value($themeDefault, 'translateY');
        opacity: ef.get-value($themeDefault, 'opacity');
        appearance: none;
        border: none;

        &:focus {
            outline: none;
        }

        ::ng-deep {

            svg {
                width: ef.get-value($themeDefault, 'clearButtonSize');
                height: ef.get-value($themeDefault, 'clearButtonSize');

                line {
                    stroke: ef.get-value($themeDefault, 'searchIconColor');
                }
            }
        }

        @include bm.hover {
            opacity: ef.get-value($themeDefault, 'hoverOpacity');
        }
    }

    &__icon {
        position: absolute;
        top: ef.get-value($themeDefault, 'searchIconTop');
        right: ef.get-value($themeDefault, 'searchIconRight');
        transform: ef.get-value($themeDefault, 'searchIconTranslateY');
        cursor: pointer;

        ::ng-deep {

            svg {
                width: ef.get-value($themeDefault, 'searchIconSize');
                height: ef.get-value($themeDefault, 'searchIconSize');
                fill: ef.get-value($themeDefault, 'searchIconColor');
            }
        }
    }

    &.wlc-search-field--theme-mod-mobile-app:host {

        .wlc-search-field {

            &__icon {
                right: unset;
                left: ef.get-value($themeDefault, 'searchIconRightMobileApp');
            }

            &__clear {
                right: unset;
                left: ef.get-value($themeDefault, 'clearButtonRightIndentMobileApp');
            }

            &__input {
                padding: ef.get-value($themeDefault, 'inputPaddingMobileApp');
                border-radius: ef.get-value($themeDefault, 'borderRadiusMobileApp');
            }
        }
    }
}

.wlc-search-field--close-icon-showed:host {

    &:not(.wlc-dropdown-search__search-field) {

        .wlc-search-field {

            &__input {
                padding: ef.get-value($themeDefault, 'inputPaddingCloseShowed');
            }
        }
    }

    &.wlc-search-field--theme-mod-mobile-app {

        .wlc-search-field {

            &__input {
                padding: ef.get-value($themeDefault, 'inputPaddingCloseShowedMobileApp');
            }
        }
    }
}
