@use 'engine-styles/functions' as ef;

$merchantMinWidth: 70px;
$merchantMaxWidth: 140px;
$merchantMaxHeight: 50px;
$merchantsGapDesktop: ef.get('size', 'main');
$merchantsGapMobile: ef.get('size', 'less');
