<div class="{{$class}}__container">
    <div class="{{$class}}__info">
        <img [wlc-fallback]="$params.common.tournament.fallbackImagePromo"
             [src]="$params.common.tournament.imagePromo"
             class="{{$class}}__image {{$class}}__image--mobile"
             loading="lazy">
        <div class="{{$class}}__inner">
            <div class="{{$class}}__tag">
                <span class="{{$class}}__tag-text"
                      [class.active]="$params.common.tournament?.isSelected"
                >{{$params.common.tournament.tag | translate}}</span>
            </div>
            <h3 class="{{$class}}__title">{{$params.common.tournament?.name}}</h3>
            <div class="{{$class}}__description">
                <div [innerHtml]="$params.common.tournament?.descriptionSafeHTML | safeHtml"></div>
            </div>
        </div>
    </div>
    <div class="{{$class}}__board">
        <img [wlc-fallback]="$params.common.tournament.fallbackImagePromo"
             [src]="$params.common.tournament.imagePromo"
             class="{{$class}}__image {{$class}}__image--desk"
             loading="lazy">
        <div class="{{$class}}__inner">
            <h4 class="{{$class}}__board-title">
                {{'Prize pool' | translate}}
                <span wlc-currency
                      class="{{$class}}__board-price"
                      digitsInfo="1-0-0"
                      [value]="$params.common.tournament.totalFounds"
                      [currency]="$params.common.tournament.targetDefaultCurrency"
                ></span>
            </h4>
            <div wlc-timer
                 class="{{$class}}-timer"
                 [value]="$params.common.tournament?.stateDateTournament"
                 [text]="getTimerText()"
                 (timerEnds)="updateTournaments()">
            </div>
            <div wlc-tournament-prizes
                 class="{{$class}}-prizes"
                 [tournament]="$params.common.tournament">
            </div>

            <span *ngIf="$params.common.tournament.winningSpreadByPercent.length > rowLimit"
                  wlc-link-block
                  link="See all prizes"
                  (click)="readMore(true)"
            ></span>
        </div>
    </div>

    <div class="buttons-wrap">
        <button
            *ngIf="!isProcessed && !isTournamentSelected && $params.common.tournament?.isTournamentStarts"
            wlc-button
            text="Join now"
            (click)="joinToTournament()">
        </button>
        <button
            wlc-button
            themeMod="secondary"
            [text]="'Read more'"
            (click)="readMore()">
        </button>
    </div>

    <div *ngIf="pending" class="{{$class}}__loader"></div>
</div>

<ng-template #noData>
    <div wlc-loader></div>
</ng-template>
