<div class="{{$class}}__container">
    <div class="{{$class}}__info">
        <img [src]="setDecorImage()"
             class="{{$class}}__image {{$class}}__image--mobile"
             alt="tournament image">
        <div class="{{$class}}__inner">
            <div class="{{$class}}__tag">
                <span class="{{$class}}__tag-text"
                      [class.active]="$params.common.tournament?.isSelected"
                >{{$params.common.tournament.tag | translate}}</span>
            </div>
            <h3 class="{{$class}}__title"
                [title]="$params.common.tournament.name">{{$params.common.tournament.name}}</h3>
            <div class="{{$class}}__description"
                 [title]="$params.common.tournament.description">{{$params.common.tournament.description}}</div>
        </div>
    </div>
    <div class="{{$class}}__board">
        <img [src]="setDecorImage()"
             class="{{$class}}__image {{$class}}__image--desk"
             alt="tournament image">
        <div class="{{$class}}__inner">
            <h4 class="{{$class}}__board-title">
                {{'Prize pool' | translate}}
                <span wlc-currency
                      class="{{$class}}__board-price"
                      digitsInfo="1-0-0"
                      [value]="$params.common.tournament.totalFounds"
                      [currency]="'EUR'"
                ></span>
            </h4>
            <div wlc-timer
                 class="{{$class}}-timer"
                 [value]="$params.common.tournament.isTournamentStarts
                            ? $params.common.tournament.endsLuxon
                            : $params.common.tournament.startsLuxon"
                 [text]="$params.common.tournament.isTournamentStarts
                             ? 'Time remaining'
                             : 'Coming soon'">
            </div>
            <div wlc-tournament-prizes
                 class="{{$class}}-prizes"
                 [tournament]="$params.common.tournament">
            </div>

            <span *ngIf="$params.common.tournament.winningSpreadByPercent.length > rowLimit"
                  wlc-link-block
                  link="See all prizes"
                  (click)="readMore(true)"
            ></span>
        </div>
    </div>

    <div class="buttons-wrap">
        <button
            *ngIf="!isProcessed && !isTournamentSelected && $params.common.tournament.isTournamentStarts"
            wlc-button
            [text]="isAuth ? 'Join now' : 'Sign up'"
            (click)="joinToTournament()">
        </button>
        <button
            wlc-button
            themeMod="secondary"
            [text]="'Read more'"
            (click)="readMore()">
        </button>
    </div>

    <div *ngIf="pending" class="{{$class}}__loader"></div>
</div>

<ng-template #noData>
    <div wlc-loader></div>
</ng-template>
