<ng-container [ngSwitch]="$params.theme">
    <ng-container *ngSwitchCase="'wolf'" [ngTemplateOutlet]="themeWolf"></ng-container>
    <ng-container *ngSwitchCase="'alternative'" [ngTemplateOutlet]="alternative"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

<ng-template #default>
    <div *ngIf="tournament" class="{{$class}}__container">
        <div class="{{$class}}__info">
            <img class="{{$class}}__image {{$class}}__image--mobile"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.imagePromo">
            <div class="{{$class}}__inner">
                <div class="{{$class}}__tag">
                    <span class="{{$class}}__tag-text"
                        [ngClass]="tagClass">
                        {{tournament.tag | translate}}
                    </span>
                </div>
                <h3 class="{{$class}}__title">{{tournament.name}}</h3>
                <div class="{{$class}}__description">
                    <div [innerHtml]="tournament.descriptionSafeHTML | safeValue:'html'"></div>
                </div>
            </div>
        </div>
        <div class="{{$class}}__board">
            <img class="{{$class}}__image {{$class}}__image--desk"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.imagePromo">
            <div class="{{$class}}__inner">
                <h4 class="{{$class}}__board-title">
                    {{'Prize pool' | translate}}
                </h4>
                <div wlc-tournament-prizes-row
                    class="{{$class}}__prizepool"
                    [inlineParams]="{theme: 'default'}"
                    [prizes]="tournament.prizePool">
                </div>
                <div wlc-timer
                    class="{{$class}}-timer"
                    [value]="tournament.stateDateTournament"
                    [text]="tournament.timerText"
                    [serverDateUTC]="tournament.serverTime"
                    (timerEnds)="updateTournaments()">
                </div>
                <div wlc-tournament-prizes
                    class="{{$class}}-prizes"
                    [tournament]="tournament">
                </div>

                <span *ngIf="tournament.prizeTable.length > rowLimit"
                    wlc-link-block
                    link="Show all"
                    (click)="readMore(true)">
                </span>
            </div>
        </div>

        <div class="buttons-wrap">
            <ng-container *ngIf="showJoin">
                <button *ngIf="!tournament.onlyForLevels; else lockBtn"
                    wlc-button
                    text="Join"
                    (click)="joinToTournament()">
                </button>
            </ng-container>
            <button wlc-button
                themeMod="secondary"
                text="Read more"
                (click)="readMore()">
            </button>
        </div>

        <div *ngIf="pending" class="{{$class}}__loader"></div>
    </div>
</ng-template>

<ng-template #themeWolf>
    <div *ngIf="tournament" class="{{$class}}__container">
        <div class="{{$class}}__info">
            <img class="{{$class}}__image {{$class}}__image--mobile"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.imagePromo">
            <div class="{{$class}}__inner">
                <span wlc-tag
                    class="{{$class}}__tag"
                    [inline]="tagConfig">
                </span>
                <h3 class="{{$class}}__title">{{tournament.name}}</h3>
                <div class="{{$class}}__description">
                    <div [innerHtml]="tournament.descriptionSafeHTML | safeValue:'html'"></div>
                </div>
            </div>
        </div>
        <div class="{{$class}}__board">
            <img class="{{$class}}__image {{$class}}__image--desk"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.imagePromo">
            <div class="{{$class}}__inner">
                <h4 class="{{$class}}__board-title">
                    {{'Prize pool' | translate}}
                </h4>
                <div class="{{$class}}__prizepool"
                    wlc-tournament-prizes-row
                    [inlineParams]="{theme: 'wolf', themeMod: 'short-line'}"
                    [prizes]="tournament.prizePool">
                </div>

                <div wlc-timer
                    class="{{$class}}-timer"
                    theme="wolf"
                    [value]="tournament.stateDateTournament"
                    [text]="tournament.timerText"
                    (timerEnds)="updateTournaments()">
                </div>
                <div wlc-tournament-prizes
                    class="{{$class}}-prizes"
                    [inlineParams]="{theme: 'wolf'}"
                    [tournamentType]="'promo'"
                    [tournament]="tournament">
                </div>

                <button *ngIf="tournament.prizeTable.length > rowLimit"
                    wlc-button
                    theme="theme-wolf-link"
                    text="See all prizes"
                    (click)="readMore(true)">
                </button>
            </div>
        </div>

        <div class="buttons-wrap">
            <button *ngIf="showJoin"
                wlc-button
                text="Join now"
                (click)="joinToTournament()">
            </button>
            <button wlc-button
                themeMod="secondary"
                text="Read more"
                (click)="readMore()">
            </button>
        </div>

        <div *ngIf="pending" class="{{$class}}__loader"></div>
    </div>
</ng-template>

<ng-template #alternative>
    <div *ngIf="tournament"
        class="{{$class}}__container"
        [ngClass]="tagClass">
        <div class="{{$class}}__image-block">
            <div class="{{$class}}__tag {{$class}}__tag--desk">
                <span class="{{$class}}__tag-text"
                    [ngClass]="tagClass">
                    {{tournament.tag | translate}}
                </span>
            </div>
            <img class="{{$class}}__image {{$class}}__image--desk"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.image">
        </div>
        <div class="{{$class}}__info">
            <img class="{{$class}}__image {{$class}}__image--mobile"
                loading="lazy"
                [wlc-fallback]="tournament.fallbackImagePromo"
                [src]="tournament.image">
            <div class="{{$class}}__inner">
                <div class="{{$class}}__tag {{$class}}__tag--mobile">
                    <span class="{{$class}}__tag-text"
                        [ngClass]="tagClass">
                        {{tournament.tag | translate}}
                    </span>
                </div>
                <h3 class="{{$class}}__title">{{tournament.name}}</h3>
                <div class="{{$class}}__description">
                    {{tournament.descriptionClean}}
                </div>
            </div>
        </div>
        <div class="{{$class}}__board">
            <div class="{{$class}}__inner">
                <h4 class="{{$class}}__board-title">{{'Prize pool' | translate}}</h4>

                <div wlc-timer
                    class="{{$class}}-timer"
                    [value]="tournament.stateDateTournament"
                    [text]="tournament.timerText"
                    [serverDateUTC]="tournament.serverTime">
                    (timerEnds)="updateTournaments()"
                </div>
                <div wlc-tournament-prizes
                    class="{{$class}}-prizes"
                    [themeMod]="'compact'"
                    [tournament]="tournament">
                </div>
                <div wlc-tournament-prizes
                    class="{{$class}}-prizes-mobile"
                    [tournament]="tournament">
                </div>

                <span *ngIf="tournament.winningSpreadByPercent.length > rowLimit"
                    wlc-link-block
                    link="Show all"
                    (click)="readMore(true)"
                ></span>
            </div>
        </div>

        <div class="buttons-wrap">
            <ng-container *ngIf="showJoin">
                <button *ngIf="!tournament.onlyForLevels; else lockBtn"
                    wlc-button
                    text="Join"
                    (click)="joinToTournament()">
                </button>
            </ng-container>
            <button wlc-button
                themeMod="secondary"
                text="Read more"
                (click)="readMore()">
            </button>
        </div>

        <div *ngIf="pending" class="{{$class}}__loader"></div>
    </div>
</ng-template>

<ng-template #noData>
    <div wlc-loader></div>
</ng-template>

<ng-template #lockBtn>
    <div class="{{$class}}__lock-btn">
        <span wlc-icon
            class="lock-btn__icon"
            [iconPath]="'/wlc/icons/lock-icon.svg'"></span>
        <span class="lock-btn__text">{{lockBtnText | translate}}</span>
    </div>
</ng-template>
